[2020-12-30 09:24] hzxuzhonghu opened #97 "Invalid PropagationPolicy could cause infinite reconcile"
If the PropagationPolicy is invalid, like setting invalid resourceselector, it will cause infinite reconcile.

We should both:

1. validating to prevent invalid configs from being created
2. if some fields are hard to verify, should distinguish different cases when error occurs rather than always reconcile

[2020-12-31 06:34] RainbowMango opened #100 "member cluster name should be validated"
**What would you like to be added**:
The name of `MemberCluster` should be validated before created.
The name should follow the DNS label standard as defined in RFC 1123:
- contain at most 63 characters
- contain only lowercase alphanumeric characters or '-'
- start with an alphanumeric character
- end with an alphanumeric character

Tasks for this can be split with:
- [ ] validate in `karmadactl

[2021-01-04 10:22] RainbowMango opened #102 "Replace hardcoded "applied" condition type with constant values"
We have defined `Applied` condition type as a constant for `PropagationWork` at:
https://github.com/karmada-io/karmada/blob/729d86703657992c1ec186053ebe2e0044a50f7e/pkg/apis/propagationstrategy/v1alpha1/work_types.go#L98-L100

We should use this constant instead of hardcode, find two hardcode:
One at:
https://github.com/karmada-io/karmada/blob/729d86703657992c1ec186053ebe2e0044a50f7e/pkg/controlle

[2021-01-07 02:21] RainbowMango opened #111 "Request for makefile endpoint: 'make update' and 'make verify'"
**What would you like to be added**:
We have more than one `hack/update-xxx.sh` scripts and will be more in the future, so we should add an `update` endpoint to Makefile which will make development more convenient.

In the same way, we should add a `verify` endpoint for `hack/verify-xxx.sh` scripts.

[2021-01-07 08:10] kevin-wangzefeng opened #112 "Use github package to host container images"
**What would you like to be added**:
Github package now offers container images hosting, we can upload container images of karmada components to github package

**Why is this needed**:

[2021-01-07 08:15] RainbowMango opened #113 "Karmada API server unexpectedly assigned cluster IP for service"
**What happened**:
When creating `Service` in `Karmada API server`, the cluster IP will be unexpectedly assigned.

**What you expected to happen**:
Usually, the user won't assign `spec.clusterIP` for a service resource, that will be allocated by the member cluster according to its system configuration.

Karmada API server should not assign `spec.clusterIP` for service resource, otherwise, there wi

[2021-01-08 01:46] RainbowMango opened #115 "Request for bootstrap performance optimization"
**What would you like to be added**:
In the passed the v0.2.0 release, each CI loop takes about 15 minutes that we need to optimize.

Given most of the time taken by E2E test, to be more precise, we should focus on `hack/karmada-bootstrap.sh` script optimization.

Some idea addressed here:
- Start kind clusters in parallel.
- Build images could be started before kind cluster ready.

[2021-01-08 03:07] RainbowMango opened #116 "Remove unused function from /pkg/util/util.go"
Remove [specHashAnnotation](https://github.com/karmada-io/karmada/blob/c59afde0e614af69cef1e62ebe6b80719c713221/pkg/util/util.go#L8) and [GetUniqueElements](https://github.com/karmada-io/karmada/blob/c59afde0e614af69cef1e62ebe6b80719c713221/pkg/util/util.go#L30) from [pkg/util/util.go](https://github.com/karmada-io/karmada/blob/master/pkg/util/util.go).

We don't need these two functions anymore.

[2021-01-09 04:29] RainbowMango opened #118 "Cleanup 'karmadaClient' from controllers"
**What would you like to be added**:

Each controller already has a controller-manager `Client` which could be used to operate both Karmada APIs and Kubernetes APIs.

We should remove the redundant `KarmadaClient` from controllers:
- [x] Remove from [PolicyController](https://github.com/karmada-io/karmada/blob/7f4c61831e8364093e045168d88c755d6aa4c01e/pkg/controllers/policy/policy_controller.go#L36

[2021-01-11 04:13] RainbowMango opened #120 "Support skip member cluster TLS verification"
**What would you like to be added**:

- [x] Add an optional field to [MemberClusterSpec](https://github.com/karmada-io/karmada/blob/7f4c61831e8364093e045168d88c755d6aa4c01e/pkg/apis/membercluster/v1alpha1/types.go#L31) to indicate if the Karmada control plan should skip verifying member cluster's TLS certificate. (@RainbowMango #156)
- [x] Update `karmadactl join` process to preserve member cluste

[2021-01-13 01:16] #115 closed, assigned to mrlihanbo

[2021-01-15 02:54] #116 closed, assigned to chenxianpao

[2021-01-21 04:24] lfbear opened #132 "Reschedule when 'PropagationPolicies' changed"
**What would you like to be added**:

Reschedule when 'propagationpolicies' changed, eg: when the 'clusterAffinity' in CRD 'propagationpolicies' changes, expected change should happen in target cluster.

**Why is this needed**:

Sometimes, the cluster affinity of resource need to regulate,  it should to be done for keeping "Declarative" rule.

😄 This issue may bring lots of commit changes

[2021-01-21 09:33] #118 closed, assigned to nobody

[2021-01-21 14:07] RainbowMango opened #134 "Add webhook secure-port and cert-dir flags"
**What would you like to be added**:
Add two flags for `karmada-webhook`:
- --secure-port
- --cert-dir

**Why is this needed**:
Now the webhook server's listening port and cert dir [is hardcoded](https://github.com/karmada-io/karmada/blob/148af0e1d185591ca037ba4cf589fece0593227b/cmd/webhook/app/webhook.go#L53-L54).

[2021-01-22 07:34] #134 closed, assigned to RainbowMango

[2021-01-23 08:09] kevin-wangzefeng opened #140 "API group and kind improvement umbrella issue"
To simplify API and improve API self-explaination, we need to change the API group and kind as the following:

### Policy API Group:
- [x] The group name, rename from `propagationstrategy.karmada.io` to `policy.karmada.io` (@kevin-wangzefeng #142)
- [x] Kinds under this group
    - [x] `PropagationPolicy`
    - [x] `ClusterPropagationPolicy` (@kevin-wangzefeng #185)
    - [x] `OverridePolicy`

[2021-01-26 06:32] #100 closed, assigned to RainbowMango

[2021-02-03 08:41] #111 closed, assigned to RainbowMango

[2021-02-03 12:13] #120 closed, assigned to mrlihanbo

[2021-02-05 03:09] lfbear opened #165 "Support differences in the same resource between multiple cluster"
**What would you like to be added**:

This is a useful ability that may NOT necessary for everyone, it may be a piece of configuration to declare the differences in resource (eg: deployment) between multiple clusters. IMO it can be some annotations attached to YAML of resource in the karamda cluster, then karamada render the differences of resource in multiple clusters.

**Why is this needed**:

T

[2021-02-05 06:36] #165 closed, assigned to nobody

[2021-02-05 09:25] #102 closed, assigned to RainbowMango

[2021-02-24 02:09] RainbowMango opened #171 "Resource identifier enhancement"
**Background**:
Each resource propagated to the member cluster will be set a label with format `karmada.io/created-by:<work namespace>.<work name>` to indicate its owner(Work). E.g.
[code]

When reflecting resource status, we can locate the `Work` by the label. That works fine in normal situations.

**Exceptional Case**
If a member cluster joined to more than one `Karmada` with different names, `K

[2021-02-25 03:23] RainbowMango opened #172 "Scheduling: Automatic migration in case of cluster failure"
**What would you like to be added**:
When one of the member cluster failure, all resources propagated to the member cluster should be migrated to other alternatives.

**Why is this needed**:

**Design Proposal**
TBD

**Q&A**
- Is there a feature gate for this feature?

- What if no other available clusters? How to report status and retry?

[2021-02-26 01:46] RainbowMango opened #175 "Namespace Autoprovision Feature"
**Background**
For a set of related clusters governed by a single authority, all namespaces of a given name are considered to be the same namespace. A single namespace should have a consistent owner across the set of clusters.

**What would you like to be added**:
- [x] New namespace created in Karmada should be synced to all member clusters. (#173)

E2E Test:
- [x] When a new namespace created in

[2021-02-27 02:08] RainbowMango opened #177 "Resource Detector Feature"
**What would you like to be added**:
Request resource detector feature which keeps monitoring resource change and sync to member clusters according to policies.

**Why is this needed**:
Resource propagation should be triggered on two factors:
- Resource change in Karmada apiserver
- Policy change

**Feature Scope**
- As the user, I want to propagate resources immediately once created in Karmada ap

[2021-03-03 01:34] RainbowMango opened #181 "reflecting object status to Binding object"
**What would you like to be added**:
After reflecting object status to `Work`, the status should be shown in `ResourceBinding` as well so that the user can get a full view of object status across all member clusters.

**Proposal**:

- API change
[code]
`AggregatedStatus` used to store status across all member clusters.

- Alternative 1(go with this option):
Watches `Work` objects, collect status,

[2021-03-03 01:38] RainbowMango opened #182 "Resync OverridePolicy changes"
This issue address resync override policies discussions.

**What would you like to be added**:

Propose two annotations for workload:
[code]

Example:
[code]
**Why is this needed**:

[2021-03-05 13:00] RainbowMango opened #192 "ReplicaSchedulingPolicy Feature"
**User case**:
- As a user, I have 2 clusters(cluster1, cluster2), I want to run 100 replicas for my deployment, each cluster has a `static` weight preference.
- As a user, I have 2 clusters(cluster1, cluster2), I want to run 100 replicas for my deployment, each cluster has a `dynamic` weight preference, the system manages the weight according to cluster capacity, load.

**Proposal**:
- API:
[code

[2021-03-06 08:50] #140 closed, assigned to RainbowMango

[2021-03-08 03:10] XiShanYongYe-Chang opened #199 "Override supports the sed syntax replace value."
**What would you like to be added**:

We suggest adding an OverriderOperator type：

[code]

With this type, user can replace part of value in different member cluster.

**Why is this needed**:

User may set different values for the same field in the resource with overridepolicy in different member clusters. For example, the image url of deployment resources varies depending on clusters.

[code]

*

[2021-03-10 09:46] #113 closed, assigned to nobody

[2021-03-10 11:01] #97 closed, assigned to nobody

[2021-03-10 11:38] RainbowMango opened #209 "Name and label validation requirement"
**What would you like to be added**:

**Why is this needed**:

**Proposal**
- [x] Resource binding name should be consistent no matter it propagated by `PropagationPolicy` or `ClusterPropagationPolicy`. (@yangcheng-icbc #248)

The two functions as follows should be combined.
https://github.com/karmada-io/karmada/blob/986bcbcd29fb0ba6ad50446c2b366630775d5e5d/pkg/util/names/names.go#L42-L50

At mean

[2021-03-13 10:19] #132 closed, assigned to nobody

[2021-03-13 10:20] #177 closed, assigned to RainbowMango

[2021-03-13 10:20] #175 closed, assigned to mrlihanbo

[2021-03-17 10:17] #181 closed, assigned to nobody

[2021-03-23 09:31] RainbowMango opened #229 "bootstrap script should able to rebuild clusters in case of cluster exist"
**What would you like to be added**:
The [karmada-bootstrap.sh](https://github.com/karmada-io/karmada/blob/b04fdfb5acc101cc67ab441d5c6f496f50af36a6/hack/karmada-bootstrap.sh) should be able to remove residual clusters before create them:
https://github.com/karmada-io/karmada/blob/b04fdfb5acc101cc67ab441d5c6f496f50af36a6/hack/karmada-bootstrap.sh#L90-L93

Maybe we can check existence by following c

[2021-03-25 11:22] RainbowMango opened #234 "[FailingTest] Propagation testing timeout"
**What would you like to be added**:
Fix unstable propagation testing.

**Why is this needed**:
Observed Failing:
- PR 233: https://github.com/karmada-io/karmada/pull/233/checks?check_run_id=2192197314
- PR 233: https://github.com/karmada-io/karmada/pull/233/checks?check_run_id=2193243661
- PR 260: https://github.com/karmada-io/karmada/pull/260/checks?check_run_id=2292887516

[2021-03-27 09:58] #229 closed, assigned to mrlihanbo

[2021-03-29 13:01] RainbowMango opened #243 "Cleanup labels from resource template after policy removed"
**What would you like to be added**:
Once a resource template propagated by a policy, such as PropagationPolicy, we would add labels on the resource template. e.g.
[code]

We should remove the labels after the policy been removed as tracked here:
https://github.com/karmada-io/karmada/blob/d69f65479d2fa0a425661c86b0298025f1381d63/pkg/util/detector/detector.go#L654

https://github.com/karmada-io/kar

[2021-03-29 13:08] RainbowMango opened #244 "Cleanup status from resource template after policy removed"
**What would you like to be added**:
After the binding object been removed, the status on the resource template should be cleanup.

https://github.com/karmada-io/karmada/blob/d69f65479d2fa0a425661c86b0298025f1381d63/pkg/util/detector/detector.go#L801

https://github.com/karmada-io/karmada/blob/d69f65479d2fa0a425661c86b0298025f1381d63/pkg/util/detector/detector.go#L753

**Why is this needed**:
Clea

[2021-03-31 01:43] yangcheng-dev opened #247 "Cleanup the old configuration file of the cluster when cluster creating is failed"
**What happened**:
When a cluster fails to start, the cluster is recreated,console showing that the configuration file of the cluster already exists.

**What you expected to happen**:
The scripts delete the old configuration file（/root/.kube/<clustername>.config）

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
aliyun ecs 2c4

[2021-04-01 07:49] RainbowMango opened #252 "[FailingTest] Failed to delete execution space"
Found at:
- https://github.com/karmada-io/karmada/runs/2243835239

[2021-04-02 02:14] #252 closed, assigned to mrlihanbo

[2021-04-02 09:30] liufen90 opened #257 "karmada supports proxy to access apiserver"
**What would you like to be added**:
karmada supports proxy to access apiserver. For example. "proxy-url" parameter in kubeconfig.
**Why is this needed**:
In edge-computing scenarios, when karmada is in cloud , apiserver is in edge. Karmada needs proxy to access apiserver

[2021-04-02 09:34] #182 closed, assigned to mrlihanbo

[2021-04-06 02:50] #243 closed, assigned to yangcheng-dev

[2021-04-06 03:18] RainbowMango opened #258 "bootstrap welcome message is wrong"
**What happened**:
After run `hack/karmada-bootstrap.sh`, I get unexpected welcome messages as follows:

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version: v0.4+
- Others:

cc @mrlihanbo

[2021-04-10 07:00] RainbowMango opened #264 "karmadactl should add version command"
**What would you like to be added**:
Currently, we can't check `karmadactl` version that's the necessary information for such as debug.
[code]
**Why is this needed**:

[2021-04-10 10:08] #244 closed, assigned to nobody

[2021-04-12 06:55] #258 closed, assigned to mrlihanbo

[2021-04-13 01:52] #192 closed, assigned to nobody

[2021-04-13 06:57] #199 closed, assigned to nobody

[2021-04-15 02:03] #247 closed, assigned to nobody

[2021-04-16 09:10] RainbowMango opened #271 "etcd imagePullPolicy should be IfNotPresent by default"
**What would you like to be added**:
All component's image pull policy should be `IfNotPresent` by default, now ETCD component is `Always`:
- karmada-etcd: https://github.com/karmada-io/karmada/blob/9584b44f2812c294e1ad67b7caf924a0321f9717/artifacts/deploy/karmada-etcd.yaml#L36

**Why is this needed**:
Some user's environments can't pull images from `k8s.gcr.io` directly, they might need to load i

[2021-04-19 07:04] RainbowMango opened #274 "[Failing] namespace autoprovision case failing"
**What happened**:
CI(namespace autoprovision) failed: https://github.com/karmada-io/karmada/pull/273/checks?check_run_id=2378212107

[code]

The namespace from karmada-apiserver hanging in Terminating status.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- Others:

[2021-04-20 13:50] #172 closed, assigned to tinyma123

[2021-04-22 03:31] RainbowMango opened #279 "Default scheduler should be declared"
**What would you like to be added**:
Set default scheduler name `default-scheduler` to PropagationPolicy and ClusterPropagationPolicy objects:
- PropagationPolicy: https://github.com/karmada-io/karmada/blob/62cacffd597f1190dd780923472a67322de1789a/pkg/apis/policy/v1alpha1/propagation_types.go#L51
- `karmada-scheduler` should filter policies with this

**Why is this needed**:
Mandatory if we want t

[2021-04-22 07:40] #271 closed, assigned to nobody

[2021-04-27 03:25] flystarts opened #287 "install use local-up-karmada.sh fail"
**What happened**:
[root@c2 /opt/gopath/src]$git clone https://github.com/karmada-io/karmada
[root@c2 /opt/gopath/src]$cd karmada
[root@c2 /opt/gopath/src/karmada]$hack/local-up-karmada.sh
Error: unknown flag: --kubeconfig

**What you expected to happen**:
install success

**How to reproduce it (as minimally and precisely as possible)**:
just exec  “hack/local-up-karmada.sh”
**Anything else we nee

[2021-04-27 09:10] RainbowMango commented on #287
Hi @flystarts, I just the script against [master](https://github.com/karmada-io/karmada/commit/419a7076eb434a69ecfc4dcc6e9e002c64ce053b), and this works.

Which version of kind you are using?
I guess your `kind` version is too old that not support `--kubeconfig` flag.

[2021-04-27 09:13] #264 closed

[2021-04-27 09:37] wonderflow opened #288 "Compare to Rancher and Kubesphere"
Hi, I wonder what's the difference between karmada and [Rancher](https://github.com/rancher/rancher) and  [Kubesphere](https://github.com/kubesphere/kubesphere) ? Thanks.

[2021-04-27 09:38] #288 closed

[2021-04-27 13:06] RainbowMango opened #291 "[GoodFirst] Help fix a typo"
There is a typo at [here](https://github.com/karmada-io/karmada#3-check-the-deployment-status-from-karmada).

`karmadda` --> `karmada`
[code]

[2021-04-28 01:10] RainbowMango commented on #291
Thanks @leofang94

[2021-04-28 01:39] #291 closed

[2021-04-28 07:48] flystarts commented on #287
A very nice, easy and working solution. Good work and thanks

[2021-04-28 07:48] #287 closed

[2021-04-28 08:21] RainbowMango commented on #287
You are welcome! I'm glad to help you.

[2021-04-29 14:07] RainbowMango opened #297 "Add E2E cases for Replica Scheduling Policy feature"
**What would you like to be added**:
We implemented ReplicaSchedulingPolicy feature by #269, but there are no E2E cases that cover this feature.

Maybe we need two cases:
- Basic functionality: A deployment's replicas could split by static weight list referencing by ReplicaSchedulingPolicy.
- Once the weight list changes, the replicas should be re-scheduled.

PS: There is some discussion at #192 t

[2021-04-30 08:22] linyinli opened #299 "karmada apiserver not working "Unable to remove old endpoints from kubernetes service: StorageError: key not found, Code: 1, Key: /registry/masterleases/172.31.22.72""
**What happened**:
karmada apiserver not working:
[code]
error log:
[code]
and then:
[code]
full log:
[code]

**What you expected to happen**:

karmada apiserver running and ready

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
[code]

[2021-04-30 08:37] RainbowMango opened #300 "[HelpWanted] ClusterResourceBinding should only reference cluster-scoped resources"
**What would you like to be added**:
When [applying cluster policy](https://github.com/karmada-io/karmada/blob/46de97140ea05de5809f00e337277c209f3b1c2c/pkg/util/detector/detector.go#L338) for a resource template, we should build [ResourceBinding](https://github.com/karmada-io/karmada/blob/46de97140ea05de5809f00e337277c209f3b1c2c/pkg/apis/work/v1alpha1/binding_types.go#L13) for namespace-scoped res

[2021-04-30 08:38] GitHubxsy commented on #299
Looks similar to  https://github.com/kubernetes/kubernetes/issues/76146

[2021-04-30 08:46] RainbowMango commented on #299
@linyinli
Can you help list some reproducible steps? let's see if we can help.

[2021-05-01 04:11] vincent-pli opened #301 "Can not see the unsuccess pod when talk with karamda control plane"
**What would you like to be added**:
I'm new for the `karmada` and take a try with the quick start.
Everything works well but the final `deployment` is not work as expect, I mean the relevant `pod` not start.

I have no idea what I missing until I talk to `member1` control plane directly, and the pod with `ImagePullBackOff` since the docker hub's rate limited.

**Why is this needed**:
I don't know

[2021-05-03 14:54] RainbowMango commented on #301
Yes, it works as expected. The `deployment` deployed to `karmada` control plane will not create pods or replicaset because there is no relevant controllers deployed, such as `deployment` controller.

Actually, the `karmada` control plane only holds the resource template but not really run it unless you also deploy at least one policy, such as PropogationPolicy.

[2021-05-06 02:08] vincent-pli commented on #300
@RainbowMango
So when you `apply policy`, do you need consider to build `ClusterResourceBinding`?

[2021-05-06 02:14] RainbowMango commented on #300
No, the `PropagationPolicy` can only match namespace-scoped resources, such as deployment, so when applying PropagationPolicy, we only need to build `ResourceBinding`.
@vincent-pli thanks for asking, would like to try this?

[2021-05-06 05:59] vincent-pli commented on #300
Sure, I'd like to take a look @RainbowMango

[2021-05-06 07:00] zqzzq opened #303 "do not use Kind to install karmada"
**What would you like to be added**:
Can I install karmada without Kind? I already have a running cluster, can I directly install karmada in this cluster？I found no documentation on this.
**Why is this needed**:
When I installed karmada with Kind, I had a lot of network problems and it was very unfriendly.

[2021-05-06 07:59] cfw11 opened #304 "one questions"
### Hi, I have one questions.
+ 1、In the roadmap 2021 Q4, Multi-cluster monitoring & Logging, Is to support query log or exec pod which in work cluster from karmada cluster ?

[2021-05-06 08:15] RainbowMango commented on #303
The answer is definitely yes. We are using `kind` just for development. You can run the karmada control plane components anywhere, include your running cluster.

Currently, we install karmada by yamls, you can find them at [here](https://github.com/karmada-io/karmada/tree/master/artifacts/deploy), and we have a plan to provide a helm chart to simplify the installation.

By the way, anyone who inte

[2021-05-06 09:03] RainbowMango commented on #304
Yeah, we hope people can query logs from karmada control plane. Not sure if this will stores in ETCD yet.
Can you explain your use case about `exec work cluster pod`?

Yes, we will provide a mechanism for people to specify the fields(or resources) that people want to manage. If I understand correctly, that usually happens in scenarios where controllers running in the member clusters and the contro

[2021-05-07 01:44] vincent-pli commented on #300
Checked the code, so we will decide to create `resourcebinding` or `clusterresourcebinding` based on if the `object` has `namespace` field (correct me)?
That's make sense but one problem:  when user defined in `ClusterPropagationPolicy.ResourceSelectors`,  a namespace scope resource in namespace `default` maybe has no `namespace`.

In `PropagationPolicy` scenario, the `namespace` of resource will

[2021-05-07 02:08] zqzzq commented on #303
Very thanks, closed this.

[2021-05-07 02:08] #303 closed

[2021-05-08 07:28] RainbowMango commented on #300
I can tell that you have gone through quite a lot of relevant codes.
We are going to create `binding` objects via `object`s which are retrieved from karmada-apiserver, they do have a namespace even they are in `default` namespace. (kube-apiserver set the default ns).

The `ResourceSelectors` defines the rule for `objects` to match, the `namespace` in it may be empty.

[2021-05-08 09:00] linyinli commented on #299
I guess that Karmada must be installed on the control plane node?

I changed the ./hack/deploy-karmada.sh script，try deploying Karmada on kubeadm cluster and K3s cluster.

When karmada-apiserver scheduling to the worker node, It doesn't work, always crash.

When karmada-apiserver scheduling to the control plane node, It works well.

Thanks. @RainbowMango @GitHubxsy

[2021-05-08 09:15] #299 closed

[2021-05-08 09:22] RainbowMango commented on #299
Karmada control plane components do not restrict to a cluster's control plane node.

`karmada-apiserver` actually a `kube-apiserver`,  it can be running on both control plane node and work load node.

[2021-05-10 02:14] RainbowMango opened #308 "[GoodFirst] fix hack/tools/tools.go gofmt issue"
**What would you like to be added**:
`hack/tools/tools.go` not gofmted, (don't know why golangci-lint can't catch it).

We usually group import paths in the order of `std packages --> `third-party packages` --> `karmada packages`.
So the fix would be:
[code]

Please reply to this issue directly if you want to take this task. :)

[2021-05-10 03:35] cfw11 commented on #304
#### Thinks for answer!

I think it is easy to support `exec` if  query workcluster pod log by  calling apiserver of work cluster in the future, the case is can debug in karmada cluster, but is not important.

In edge compute if cloud-cluster and edge-cluster with broken line, updated the federation resources(like updte pod CPU limit) in work cluster. hoping to sync to karmada-cluster when network

[2021-05-10 06:49] lfbear opened #310 "Optimize installation flow"
**What would you like to be added**:

1. Split installation script for different purposes, in a stand-alone cluster(for production) or a [kind](https://kind.sigs.k8s.io/) cluster(for development)
2. No logger using export diff KUBECONFIG to switch multi-clusters in the install script

**Why is this needed**:
1. Likes #303, the newcomers may not have a sense for [kind](https://kind.sigs.k8s.io/) wh

[2021-05-10 06:52] lfbear commented on #310
If it's ok, assign to me

[2021-05-10 07:59] henrywangx opened #312 "scale and quota guide"
**What would you like to be added**:
As a user, I wan't to know the how many cluster, node, pod can we support. And what's the recommended quota for karmada with different scale.
**Why is this needed**:
User guide for performance.

[2021-05-10 13:16] RainbowMango opened #313 "ImageOverrider Implementation"
_Originally posted by @RainbowMango in https://github.com/karmada-io/karmada/issues/199#issuecomment-815435935_

Given our original requirement is to override the image registry. So, I propose another overrider, named `ImageOverrider`, which dedicated to handling images. Hope this will be easier and more user-friendly.

Note: The `ImageOverrider` didn't mean to reject the solutions we discussed ab

[2021-05-11 02:17] XiShanYongYe-Chang opened #314 "Add E2E cases for PropagationPolicy/ClusterPropagationPolicy matching with nil resourceSelectors"
**What would you like to be added**:

We implemented PropagationPolicy/ClusterPropagationPolicy matching when more than one ploicy mathed, in #306 we add:
[code]
but we haven't an E2E case for this.

Maybe we need two cases:
- PropagationPolicy with nil resourceSelectors, how it works on resources.
- ClusterPropagationPolicy with nil resourceSelectors, how it works on resources.

**Why is this nee

[2021-05-11 06:30] vincent-pli commented on #300
@RainbowMango

That's exactly what I talk about, do you think we need to handle it?

[2021-05-12 02:51] RainbowMango opened #317 "E2E test for cluster proxy"
**What would you like to be added**:
We need E2E tests to support access member clusters by proxy.

Please refer to #307

**Why is this needed**:

[2021-05-12 02:51] #257 closed

[2021-05-12 07:55] pigletfly opened #319 "Support more object kind to use ReplicaSchedulingPolicy"
**What would you like to be added**:
Now, `ReplicaSchedulingPolicy` only supports deployment kind.Can we support any object kind that has `spec.replicas`?

**Why is this needed**:

[2021-05-12 14:25] anirudhramnath commented on #308
Hello @RainbowMango I am looking for my first contribution and would love to help on this.

[2021-05-13 01:14] RainbowMango commented on #308
It's yours now, @anirudhramnath .

[2021-05-13 01:33] MesaCrush commented on #317
I will do this job

[2021-05-13 02:20] #300 closed

[2021-05-13 02:23] mnkg561 opened #323 "Installation instructions in detail"
**What would you like to be added**:
Please provide detail installation instructions so that users can install what they need instead of just running a script to do the all the installation. I wanted to try to install it in AWS EKS cluster but installation instructions are not clear and assuming i don't have any existing clusters and starting with kind cluster creation to setup host-cluster. I wou

[2021-05-13 02:40] RainbowMango commented on #317
@MesaCrush It's yours now. Feel free to ask or discuss here.

[2021-05-13 03:03] RainbowMango commented on #323
Hi @mnkg561 Thanks for your feedback.

Totally agree with you, and it's already on the plan, see #310.

[2021-05-13 03:43] RainbowMango commented on #308
@daixiang0 do you know why golangci-lint can't catch this issue?

[2021-05-13 05:59] daixiang0 commented on #308
Since the header `// +build tools`, I would look into it to find a solution.

[2021-05-13 06:07] softputer opened #325 "cannot join clusters"
**What happened**:
When i run:
[code]
i got errors as follows:
[code]
what's wrong with the webhook?

**What you expected to happen**: join the cluster succesfully

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version: latest
- Others:

[2021-05-13 06:25] RainbowMango commented on #304
That's a good idea. I've never thought about that. I'm not sure if this is the real use case.

[2021-05-13 06:28] RainbowMango commented on #304
Sure but no clear design yet. And we are seeking more user's feedback and expectation.

[2021-05-13 07:30] RainbowMango commented on #325
When joining a cluster, the `karmadactl` will create a [Cluster](https://github.com/karmada-io/karmada/blob/39d1a3a63666fe0d40748afec93a657c3da813cf/pkg/apis/cluster/v1alpha1/types.go#L19) object, in this process, the `karmada-apiserver` will request `karmada-webhook` for validation.

From the output logs, I can tell that the `karmada-webhook` failed to give a response.

Can you share your operati

[2021-05-13 09:02] RainbowMango commented on #319
Sure, will do.  We'll support both Kubernetes `Scale` resources(like ReplicaSet) and all customized resources(CRD) in the future.

We are seeking feedback from users, any comments about `ReplicaSchedulingPolicy`?

[2021-05-13 09:04] RainbowMango commented on #319
I'll be appreciate if you can share your use case.

[2021-05-13 09:52] pigletfly commented on #319
In my case, I defined a `AppDeployment` in control-plane cluster，which is different with k8s deployment,then I want to propagate the `AppDeployment` using `ReplicaSchedulingPolicy ` to member clusters.And AppDeployment does have a `replicas` in spec.

[2021-05-13 10:17] RainbowMango commented on #319
Thanks.

`ReplicaSchedulingPolicy` used to `split` a total number of replicas across clusters. Does that meet your requirement? (presume `ReplicaSchedulingPolicy` can support your `AppDeployment`)

[2021-05-13 11:18] softputer commented on #325
i deployed karmada into an exsiting k8s cluster, each component of karamada just runs well .
but it would fail when i want to join a cluster.

how would the karamada apiserver know the address of the webhook? etcd? bacause i did not find any configuration in the deployment file of karmada apiserver

[2021-05-13 12:45] RainbowMango commented on #325
Here is the [WebhookConfiguration](https://github.com/karmada-io/karmada/blob/master/artifacts/deploy/webhook-configuration.yaml), have you deployed this?  Deploy this configuration means `register` webhook to karmada-apiserver.

[2021-05-13 14:29] softputer commented on #325
the k8s server  version is v1.16.8,
when i deploy WebhookConfiguration, there are errors,
i need to change :      admissionReviewVersions: ["v1","v1alpha1","v1beta1"]
i think that is why apiserver cannot access webhook,
so the k8s server version must be ?

[2021-05-13 14:40] softputer commented on #325
有空可以远程桌面看一下不，这个问题，卡死我了……

[2021-05-13 14:42] softputer commented on #325
apiserver errors:
[code]

[2021-05-13 15:34] softputer commented on #325
[code]

[2021-05-13 16:21] softputer commented on #325
i found the reason ald,
it is because  the crd in file: cluster.karmada.io_clusters.yaml does not successfully get installed,
because of
[code]
and according to this page : https://github.com/kinvolk/lokomotive/issues/1197
k8s v1.20.0 is a must

so the only way is to upgrade k8s to v1.20.0?
or is there any tricky way to change the crd to let me deploy it on k8s v1.16 to have a test first?

[2021-05-14 01:13] RainbowMango commented on #325
Are you deploying the CRD on the member clusters(v1.16)'s kube-apiserver? If yes, let me reproduce this on my side and see how to do.

But I suggest deploy a separated `kube-apiserver`(named karmada-apiserver) on your clusters, then you can select a higher version, such as v1.19. (You don't have to upgrade the cluster what you have now).

[2021-05-14 01:15] RainbowMango commented on #325
You can find me by [slack](https://join.slack.com/t/karmada-io/shared_invite/zt-omhy1wfa-LmAkCLfpDMnBjVXp3_U~0w) if you want to have a talk.

[2021-05-14 01:29] #308 closed

[2021-05-14 02:11] pigletfly commented on #310
Can we support install via Helm?

[2021-05-14 02:45] softputer commented on #325
i send message to the slack and below is the detail :
the k8s server version is v1.16.8, i deploy karmada components to karmada-system step by step according to the the shell scrips.
i did not deploy the karmada agent to the member cluster for now
all pods seems work well. the karmada apiserver is v1.19.1. but when i tried to run the following command
[code]
By the way, kind-member1 cluster is the

[2021-05-14 04:13] softputer commented on #325
i have just deployed a new k8s cluster , version v1.21 ,but the same situation
[code]

[2021-05-14 06:13] #325 closed

[2021-05-14 06:53] lfbear commented on #310
That's a good idea, but I have no plan for this version. I need to make the installation stage clear fisrtly.

[2021-05-14 07:40] wanghonglei5181 opened #333 "modify local-up-karmada.sh when can not pull k8s.gcr.io or check karmada apiserver time out"
**clear**
kind delete clusters —name karmada-host

**pull images and tag it**
docker pull registry.aliyuncs.com/google_containers/kube-apiserver:v1.19.1
docker pull registry.aliyuncs.com/google_containers/kube-scheduler:v1.19.1
docker pull registry.aliyuncs.com/google_containers/kube-controller-manager:v1.19.1
docker pull registry.aliyuncs.com/google_containers/kube-proxy:v1.19.1
docker pull regis

[2021-05-15 12:02] Garrybest opened #338 "scheduler: "invalid memory address or nil pointer dereference""
**What happened**:
First I create one deployment and one propagationpolicy, it seems to be normal.
[code]

Then I delete the deployment and recreate it, the scheduler seems to be crashed.
[code]

When I delete the propagationpolicy, the scheduler runs normally.
[code]

**What you expected to happen**:
I expected the deployment recreation is normal.

**How to reproduce it (as minimally and precisel

[2021-05-16 03:42] Garrybest commented on #338
I found the score plugin also has nil pointer bug, so I try to fix it. Please take a look.

[2021-05-16 10:25] RainbowMango commented on #338
Thanks @Garrybest.

I tried to reproduce this issue on my side against [master](https://github.com/karmada-io/karmada/tree/c9f3fd8997e4b3c73f74bbefee630497feac039f), but can't reproduce  it, the steps I run is :
[code]

Can this issue be easily reproduced on your side? Does the environment started by `hack/local-up-karmada.sh`?

[2021-05-16 10:39] RainbowMango commented on #338
I guess you are using a modified `propagationpolicy.yaml`, I can reproduce this by following policy:
[code]

[2021-05-17 01:37] RainbowMango commented on #338
@Garrybest @futuretea
I noticed both of you sent a PR(#340, #341) trying to fix this issue. Both PR are matters and we appreciate that. Thanks, both of you.

In general, PRs will be on a first-come, first-served basis. According to this rule, #340 has a higher priority.
But #341 still a very valuable patch even though after #340. So how about this? :
1. Merge #340 first
2. Then Merge #341 (maybe n

[2021-05-17 01:52] Garrybest commented on #338
Well, thanks @RainbowMango, you are right. I have just checked my environment and found that I have delete the placement because I wanted to test the scheduling result when the affinity is not filled.

[2021-05-17 01:53] Garrybest commented on #338
I agree, thanks for reviewing. @RainbowMango

[2021-05-17 02:10] futuretea commented on #338
@RainbowMango @Garrybest Thanks.

[2021-05-17 02:16] RainbowMango commented on #338
Well, I take this comment as `agreed`.

[2021-05-17 02:47] #333 closed

[2021-05-17 02:48] wanghonglei5181 commented on #333
ok

[2021-05-17 03:27] pigletfly commented on #310
Can we use https://github.com/jetstack/cert-manager for caBundle injection ?

[2021-05-17 03:58] pigletfly opened #342 "Make namespace sync configurable"
**What would you like to be added**:

Which namespaces can be synced into member clusters should be configurable, maybe host cluster has more namespaces than karmada-system,default,kube-,karmada-es-,karmada-cluster.

**Why is this needed**:

[2021-05-17 03:59] #338 closed

[2021-05-17 04:02] pigletfly commented on #342
Also for event filter.

[2021-05-17 06:39] #304 closed

[2021-05-17 07:20] lynnsong opened #344 "Support scheduling according to member cluster resources"
**What would you like to be added**:
Support scheduling according to member cluster resources

**Why is this needed**:
### Background
As Kubernetes is used in more and more scenarios, a single cluster sometimes cannot meet a large task (such as the AI training scenario). Therefore, we need multiple clusters to provide resources for a task at the same time.
During the research process, we found tha

[2021-05-17 07:35] pigletfly opened #345 "Add kinds options for detector filter"
**What would you like to be added**:
The detector should only care about kinds that are set via options,otherwise the waiting list would be very large, there are unconcerned objects are adding into the waiting list.

PS: I'm not using a karmada-api-server,so there are many other objects along with karmada-controller-manager.

**Why is this needed**:

[2021-05-17 12:43] pigletfly opened #348 "Add kubebuilder shortName tag"
**What would you like to be added**:

We should add kubebuilder shortName tag to resources, especially for PropagationPolicy, ReplicaSchedulingPolicy,OverridePolicy,ClusterOverridePolicy.Any ideas about this suggested list ?

| Name      | ShortName |
| ----------- | ----------- |
| PropagationPolicy      | pp       |
| ClusterPropagationPolicy      | cpp       |
| ReplicaSchedulingPolicy   | rsp

[2021-05-17 12:54] RainbowMango commented on #348
Could you please give an example about the `kubebuilder` tag?

[2021-05-17 12:59] pigletfly commented on #348
Here is a example in cluster-api https://github.com/kubernetes-sigs/cluster-api/blob/master/api/v1alpha3/cluster_types.go#L200

[2021-05-17 16:49] RainbowMango commented on #348
Yeah, It makes sense to me.
We can discuss this at the next community meeting and make a decision there.

By the way, the `ClusterResourceBinding` is missing from the list.

[2021-05-17 17:15] RainbowMango commented on #344
For now, we just collected the member cluster's resources but haven't provided a schedule strategy about that yet. Your idea is awesome and totally matches our plan.

The next step would be provide a more detailed design and split it into some small iteration items.
Would you like to keep analyzing this and leading this feature?

[2021-05-17 17:23] RainbowMango commented on #345
Yes, good idea. We should provide the ability to decide which resources that karmada should care about.

Furthermore, maybe not just the kinds list, maybe the namespaces list also needs to set.

[2021-05-17 17:41] RainbowMango opened #349 "[GoodFirst] Removes namespaces references of cluster object since it's a cluster-scoped resources"
**What would you like to be added**:
In the previous version, the [Cluster](https://github.com/karmada-io/karmada/blob/4b5ec0c63715ff494072a289eb2b8883bfb71b49/pkg/apis/cluster/v1alpha1/types.go#L19) is a namespace-scoped resource, which means that each Cluster object has a non-empty namespace.

Now the Cluster resource has been changed to the cluster-scoped resource, which means the namespace is

[2021-05-17 17:46] RainbowMango commented on #349
Anyone who wants to try this issue, please just reply on this issue. If you are the first guy who took this, then don't have to wait for an assignment from maintainers, just go for it!!!

If you have any questions please feel free to ask here, the maintainers will guide you, no worries!

[2021-05-18 01:36] pigletfly commented on #345
yeah, https://github.com/karmada-io/karmada/issues/342 describes we should provide a way to make namespaces list configurable.

[2021-05-18 02:44] lynnsong commented on #344
Thanks for the reply, I am willing to continue to analyze this problem, and I will submit a detailed design later

[2021-05-18 07:35] wanghonglei5181 opened #356 "join an online cluster"
**run the follow command**

export KUBECONFIG=/var/run/karmada/karmada-apiserver.config

kubectl config rename-context "kubernetes-admin@kubernetes" "nvm-dbl" --kubeconfig=/root/.kube/nvm-dbl.config

karmadactl join nvm-dbl --cluster-kubeconfig=/root/.kube/nvm-dbl.config

[2021-05-18 07:36] #356 closed

[2021-05-18 07:36] wanghonglei5181 commented on #356
close

[2021-05-18 15:42] #349 closed

[2021-05-18 15:53] RainbowMango commented on #209
@yangcheng-icbc Are you still working on this issue?  There is one task left:
[code]

[2021-05-19 02:57] Garrybest opened #358 "work: name conflicts when different workloads have the same name"
**What happened**:
When different workload have the same name, the *work* that creating by the *ResourceBindingController* will have the same name in one *ExecutionSpaceName*, which would cause execution chaos.

Reason: The work's name is the same with the resource binding, but it's namespace is associated with cluster. I suggest to adding namespace to generate works' name.
https://github.com/karm

[2021-05-19 03:06] Garrybest commented on #358
/assign @Garrybest

[2021-05-19 08:13] pingstar opened #361 "How Member cluster accesses karmada-apiserver of host cluster"
**What would you like to be added**:

If my memebr cluster is deployed in another public cloud, how should member access the karmada-apiserver deployed in the host cluster?

**Why is this needed**:

 Ingress? Service Loadbalance or Nodeport?

[2021-05-19 12:43] pingstar commented on #361
OK. Thanks for your reply. But I found that when I use karmada deploy script also deploys an apiserver in the current cluster using Deployment. so I was wondering if there are two apiserver, deployed way within the cluster for the karmada control-plane-component to access. The apiserver on the host is accessed by the agent of other clusrer.

[2021-05-19 13:02] Garrybest commented on #361
Well, the karmada-apiserver is deployed in host cluster using k8s deployment and it's network mode is host. The next step is running a karmada-agent in your member cluster and specifying a karmada-apiserver-kubeconfig as it's bootstrap config. The agent running in the member cluster will start to connect with karmada-apiserver, using karmada-apiserver-kubeconfig's host IP and port. By the way, you

[2021-05-19 13:13] pingstar commented on #361
I understand, thank you for your reply

[2021-05-19 13:13] pingstar commented on #361
/close

[2021-05-19 13:13] #361 closed

[2021-05-19 13:29] Garrybest opened #364 "cluster-status-controller: using cached lister to calculate node summary"
**What would you like to be added**:
1. use cached lister for getting node summary in cluster-status-controller
2. add pending resource in node summary

**Why is this needed**:

Now the cluster-status-controller will list all nodes and pods via accessing karmarda-apiserver. This may be very expensive when the member cluster has a huge number of nodes and pods because of directly interacting with t

[2021-05-19 13:52] lynnsong commented on #344
# Design
## expected result
1. Schedule according to the replicas in the user workload, not the replicas in ReplicaSchedulingPolicy
2. If the strategy of scheduling according to the available resources of the Member cluster is configured, the workload will be split and scheduled according to the resource aggregation strategy.

Scheduling diagram：
![Image of schedule](https://raw.githubusercontent.

[2021-05-20 01:18] RainbowMango commented on #358
Karmada bot not ready now, (it will be soon), manually assign to you :)

[2021-05-20 01:21] RainbowMango commented on #358
LGTM.
cc @GitHubxsy @mrlihanbo

[2021-05-20 01:50] mrlihanbo commented on #358
LGTM

[2021-05-20 02:34] #358 closed

[2021-05-20 04:10] jrkeen opened #366 "Create Deployment Error"
**What happened**:
when I had created a deploymnt (use example) for member cluster. Agent told me " Failed to create resource in the given member cluster xxxx, err is resourceVersion should not be set on objects to be created". why? and should I do?
![image](https://user-images.githubusercontent.com/39866845/118917793-34e19800-b964-11eb-9744-3b3016832a97.png)

[2021-05-20 04:19] RainbowMango commented on #366
Have you deployed `karmada-webhook`, which is a mandatory component, takes responsibility to remove `resourceVersion` before propagating to member clusters?

[2021-05-20 04:26] jrkeen commented on #366
Thanks for your reply. I realized it was my problem that deploy webhook.

[2021-05-20 04:26] #366 closed

[2021-05-20 11:37] pigletfly commented on #313
consider we have this crd

[code]
how do we override image in each component?

[2021-05-21 01:30] RainbowMango commented on #313
@XiShanYongYe-Chang maybe could give an example.

Another idea brought to my mind that we can support other well-known `Replica resources` like native k8ss'. Or give a chance to user define `Replica resource` list, such as configuration from command line parameters.

[2021-05-21 02:53] mrlihanbo commented on #344
![image](https://user-images.githubusercontent.com/74236054/119074956-8e100100-ba22-11eb-8237-a1422f99d6b2.png)
@lynnsong  Can WeightPreferences  co-exist with ResourcesPreferences?

[2021-05-21 10:20] pigletfly commented on #344
Totally agree with the design of "Schedule according to the replicas in the user workload, not the replicas in ReplicaSchedulingPolicy" and "Merging ReplicaSchedulingPolicy and PropagationPolicy". so we don't need `ResourceSelectors` in ReplicaSchedulingPolicy anymore ? There is still a problem, how to find and replace in a CRD ? let's assume we have a CRD below

[code]
xref: https://github.com/ka

[2021-05-22 05:13] RainbowMango commented on #364
100% agree.

[2021-05-23 13:52] lynnsong commented on #344
Now WeightPreferences and ResourcesPreferences will not co-exist. This is the strategy we currently consider appropriate, but I think we can get  more discussion or continuous optimization

[2021-05-24 08:25] pigletfly opened #371 "Move karmada api into a separate repo"
**What would you like to be added**:

**Why is this needed**:

Like https://github.com/kubernetes/api, we should put karmada api into a separate repo,so that if someone wants to use API definition, he needn't install lots of go dependencies used by controller-manager.

[2021-05-24 08:29] RainbowMango commented on #313
@pigletfly
According to current API, that would be define overrider like this:
[code]

This is ugly, let's see how to improve the API.

[2021-05-24 09:58] RainbowMango opened #372 "Refactor karmada-bootstrap.sh after #367 get merged"
**What would you like to be added**:
Refactor [hack/karmada-bootstrap.sh](https://github.com/karmada-io/karmada/blob/196c394d88962fbbe5d4fc6d8ad682b329e78591/hack/karmada-bootstrap.sh) after #367 get merged.

**Why is this needed**:
`hack/karmada-bootstrap.sh` is used to prepare E2E testing environment, similar with `hack/local-up-karmada.sh` but need some member clusters.

[2021-05-24 12:44] lfbear commented on #372
You may also assign to me

[2021-05-24 13:08] lynnsong commented on #344
we should provide a flexible way to patch replicas in ReplicaSchedulingStategy.
——————
Yes, I very much agree with your proposal. Currently, we need to get replicas information for each type of workload.
My thinking about CRD here is not complete enough, maybe we can use the method of structural analysis to get replicas from CRD. But because CRD is too flexible, the problem is not only to get repl

[2021-05-25 00:29] vincent-pli opened #373 "The Scheduler not prepare for handling resourcebinding generated by clusterpropagationpolicy"
**What happened**:
`Scheduler` do not schedule `resourcebinding` generated by `clusterpropagationpolicy`, since it expected `PropagationPolicyNameLabel` and `PropagationPolicyNamespaceLabel` do not existed(since by `clusterpropagationpolicy` not `propagationpolicy`)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know

[2021-05-25 03:50] pigletfly commented on #344
we should assume the workloads applied with a same ReplicaSchedulingStategy should be the same Kind,otherwise it's too complicated to find Replicas in different CRDS.

[2021-05-25 04:06] RainbowMango commented on #344
Indeed, it's complicated. We should more focus on the user story and API design.

[2021-05-25 09:49] RainbowMango commented on #373
Thanks and it's my bad that haven't catch it before~

[2021-05-26 10:16] #313 closed

[2021-05-27 02:12] lynnsong opened #377 "support Resource Quotas in karmada"
**What would you like to be added**:
support Resource Quotas in karmada

**Why is this needed**:
In our scenario, several users or teams will share the ‘cluster’, many users can use all the resources provided. If there is no restriction, someone will be hungry. In order to make all users use resources fairly, we need to support Resource Quotas

[2021-05-27 03:07] hellocloudnative opened #378 "error: timed out waiting for the condition on pods/etcd-0"
error: timed out waiting for the condition on pods/etcd-0
kubectl wait --for=condition=Ready --timeout=200s pods -l app=etcd -n karmada-system failed, retrying

[2021-05-27 04:21] RainbowMango commented on #344
For the `Cluster` status API change [on above](https://github.com/karmada-io/karmada/issues/344#issuecomment-844127304), I think `clusterResources` is better than `NodeSummary`. @kevin-wangzefeng How do you think?

[2021-05-27 07:11] RainbowMango commented on #378
Hi @hellocloudnative can you provide more info about how to reproduce it?

[2021-05-27 07:31] #373 closed

[2021-05-27 07:43] RainbowMango commented on #377
Given the `users` and `teams` are working in different namespaces, so the user story might be:
- As an administrator, I want to limit aggregate resource consumption per namespace by `ResourceQuota`, so that different users and teams could sharing the cluster according to the quota assigned to them.

Is that your case?

[2021-05-27 08:21] lynnsong commented on #377
yes, exactly

[2021-05-27 08:35] YouHang commented on #378
I got the same error by using the script `ack/local-up-karmada.sh` to setup karmada host cluster:
[code]

It seems that there are some errors in the karmada apiserver:
[code]
[code]

The env that I used：
[code]

[2021-05-27 14:12] pigletfly commented on #377
You may have a ResourceQuota in each user's namespace, and karmada will propagate the resourcequota to member cluster.Do you want to split ResourceQuota into each cluster using a policy?

[2021-05-27 16:34] #310 closed

[2021-05-28 03:36] #348 closed

[2021-05-28 05:57] hellocloudnative commented on #378
I have solved this problem. If you are in China and you need to use domestic Docker source, replace the image in the YAML file under the artifacts/deploy/.

[2021-05-28 07:05] Garrybest opened #383 "cluster-status-controller: exclude nodes that are not ready, unschedule or have taints"
**What would you like to be added**:
Exclude nodes that are not ready, unschedule or have taints and pods that are assigned to these nodes. This enhancement should be added after #365.

**Why is this needed**:
Now the `cluster-status-controller` will aggregate all pods and nodes resource without filtering. However, some nodes may be unschedule or not ready. If counting these resources, karmada sch

[2021-05-28 07:15] Garrybest opened #384 "informer-manager: stop the informer before deleting the cluster"
**What would you like to be added**:
Stop the informer before deleting the cluster.

https://github.com/karmada-io/karmada/blob/763c2a10e7bac9397c2202053506569e015b3840/pkg/util/informermanager/multi-cluster-manager.go#L11-L31

**Why is this needed**:
When the cluster is deleted, we should stop the informer and delete it from the manager map, otherwise it may lead to extra expense. Anyone who is i

[2021-05-28 07:22] Garrybest commented on #383
/assign @Garrybest

[2021-05-28 08:10] YouHang commented on #378
um. so we have different problems. the image was pulled successfully but the container was CrashLoopBackOff  in my case.

[2021-05-28 08:12] YouHang commented on #378
There is no such problem after I use anther VM to run the script.

[2021-05-28 09:24] Garrybest opened #385 "monitor cluster lifecycle"
**What would you like to be added**:
1. Add ClusterLifecycleContoller.
2. Use v1.NodeCondition instead of metav1.Condition for adding `LastHeartbeatTime`.

**Why is this needed**:
Now when we stop the agent, the cluster will always be ready. We should add a `cluster_lifecycle_controller` to manage the lifecyle of clusters. Also, the `cluster_status_controller` should also update its heart beat tim

[2021-05-28 09:30] Garrybest commented on #385
/assign @Garrybest

[2021-05-28 09:32] RainbowMango commented on #344
Another idea brings to my mind:
Maybe we can separate nodes and resources like this:
[code]

[2021-05-28 09:42] RainbowMango commented on #385
You got my mind, I've added this to v0.7 plan.

Yeah, we need a field to record `LastHeartbeatTime`, but I don't think it's worth getting back to `v1.NodeCondition`.

[2021-05-28 09:45] Garrybest commented on #344
Master has taints `node-role.kubernetes.io/master` so their resource may be ignored according to #383. How do you think? @RainbowMango

[2021-05-28 09:47] RainbowMango commented on #344
I mean we should give a chance to the user to decide if the resource on the master node should be count.

[2021-05-28 11:26] youhangwang opened #386 "Resource can be managed by HPA in member clusters."
How to enable hpa in karmada?

**What would you like to be added**:
- Enable HPA in Karmada
- Resource can be managed by HPA in member clusters. Like the `retainReplicas` in kubefed v2.

I try to use the following ways to enale HPA in Karmada, but it doesn't work:

1. Use karmada API to deploy a deployment and use policy to propagate the deployment to member clusters. And enable the HPA in member

[2021-05-28 11:38] Garrybest commented on #385
Good idea. What about newing a struct `ClusterCondition` like this? I found every api in kubernetes would define their own condition in `types.go`.

[code]

[2021-05-29 01:49] RainbowMango commented on #209
@yangcheng-icbc I've moved this task to `v0.7`.

[2021-05-29 01:51] RainbowMango commented on #317
I'm afraid this task will miss `v0.6.0`, let's moving this to `v0.7.0`.

By the way, @MesaCrush are you still working for this?

[2021-05-29 01:53] RainbowMango commented on #314
Hi @XiShanYongYe-Chang Please confirm if we have done this task.

[2021-05-29 02:07] XiShanYongYe-Chang commented on #314
It hasn't been done so far.

[2021-05-29 07:42] GitHubxsy commented on #386
I think we need smarter ways to preserve fields, not just Replicas.

[2021-05-29 11:06] RainbowMango commented on #386
@YouHang We planed to develop this feature in [Q3](https://github.com/karmada-io/karmada/blob/master/ROADMAP.md#2021-q3).

I'll appreciate if you want to share your use case or your expectation with me.
I guess this feature would be in v0.7.0 or v0.8.0
/milestone v0.7.0

[2021-05-29 11:07] RainbowMango commented on #386
/milestone v0.7

[2021-05-29 11:09] RainbowMango commented on #112
/priority backlog

[2021-05-30 12:51] Garrybest commented on #385
Another solution: use `Lease` to get the `RenewTime` as a substitute for `LastHeartbeatTime `. Every `cluster-status-controller` should create a `lease` and try to renew its `RenewTime`. So that there is no need to change `metav1.Condition`.

[2021-05-31 02:40] RainbowMango commented on #385
That is the reason why Kubernetes will introduce a `metav1.Condition`, more and more Kubernetes API will adopt `metav1.Condition` in the future.

[2021-05-31 03:07] Colstuwjx opened #389 "`hack/local-up-karmada.sh` reports error `dial tcp 172.18.0.2:6443: i/o timeout`"
**What happened**:
I wanna install karmada on macOS, and it failed:

[code]

**What you expected to happen**:
Complete karmada installation.

**How to reproduce it (as minimally and precisely as possible)**:
try `hack/local-up-karmada.sh`

**Anything else we need to know?**:

**Environment**:
macOS Big Sur 11.2.3
kind v0.10.0 go1.15.7 darwin/amd64

- Karmada version:
master branch ( bc7cfd8dc5bbfd

[2021-05-31 03:32] YouHang commented on #386
@RainbowMango
What we need is quite simple:
1. fed hpa can propergate HPA resources into member clusters by using some specify policies. For example, part the min and max replicas in fed-hpa by the ratio of scale of each cluster.
2. once the fed hpa doesn't work. HPA in member cluster can still scale replicas in each cluster.
3. fed-develop will not override replicas once the hpa is enabled.

Also

[2021-05-31 06:26] Colstuwjx commented on #389
I think the root cause was [this line](https://github.com/karmada-io/karmada/blob/576c31a9018e9807f4c1d4b9a6d50fbdbd50cc16/hack/create-cluster.sh#L58).

I can't visit my kind cluster on macOS since containers from docker for mac weren't directly connectable to the host...

[2021-05-31 07:23] hellocloudnative opened #390 "Failed calling webhook, failing closed cluster.karmada.io: failed calling webhook "cluster.karmada.io": expected response.uid="6a36df4b-6b85-439d-b616-11bae0ed42c8", got """
`$ karmadactl join member1 --cluster-kubeconfig=$HOME/.kube/karmada.config

W0531 15:27:55.867711 5
Duplicate of #2007 join.go:452] failed to create cluster(). error: Internal error occurred: failed calling webhook "cluster.karmada.io": expected response.uid="c80156d3-23ff-403c-978f-ce3591cc495f", got ""
W0531 15:27:55.867807 502007 join.go:426] failed to create cluster(member1). error: Internal e

[2021-05-31 07:29] hellocloudnative commented on #390
`$  karmadactl join member1 --cluster-kubeconfig=$HOME/.kube/karmada.config
W0531 15:27:55.867711  502007 join.go:452] failed to create cluster(). error: Internal error occurred: failed calling webhook "cluster.karmada.io": expected response.uid="c80156d3-23ff-403c-978f-ce3591cc495f", got ""
W0531 15:27:55.867807  502007 join.go:426] failed to create cluster(member1). error: Internal error occurre

[2021-05-31 07:29] YouHang commented on #386
@RainbowMango  Is there any design proposal about the karmada hpa?  I‘d like to do some contributions.

[2021-05-31 07:30] hellocloudnative commented on #390
`$  karmadactl join member1 --cluster-kubeconfig=$HOME/.kube/karmada.config

W0531 15:27:55.867711  5
Duplicate of #02007 join.go:452] failed to create cluster(). error: Internal error occurred: failed calling webhook "cluster.karmada.io": expected response.uid="c80156d3-23ff-403c-978f-ce3591cc495f", got ""
W0531 15:27:55.867807  502007 join.go:426] failed to create cluster(member1). error: Intern

[2021-05-31 08:39] RainbowMango commented on #389
cc @lfbear @mrlihanbo Please take a look?

[2021-05-31 08:45] RainbowMango commented on #390
Have you deployed `karmada-webhook`?

[2021-05-31 08:48] hellocloudnative commented on #390
I have deployed Karmada-Webhook
$  kubectl get pods  -n karmada-system
NAME                                               READY   STATUS    RESTARTS   AGE
etcd-0                                             1/1     Running   0          9m15s
karmada-apiserver-d445d4f75-w65tr                  1/1     Running   0          9m14s
karmada-controller-manager-bf8cc4f75-rdpgc         1/1     Running   0

[2021-05-31 08:48] hellocloudnative commented on #390
@RainbowMango

[2021-05-31 08:50] hellocloudnative commented on #390
I use   hack/local-up-karmada.sh

[2021-05-31 08:53] RainbowMango commented on #386
No design docs yet. And you are welcome to join the community!

[2021-05-31 08:57] RainbowMango commented on #386
Didn't get your point, sorry.

What do you mean `fed hpa` doesn't work? Do you mean the `karmada` control plane doesn't work(crash or something bad happens)?

Yes, if the replica manages by HPA, then others can't update replicas, otherwise, it's hard to solve the conflicts.

[2021-05-31 09:10] RainbowMango commented on #371
That totally reasonable.
And the repo `https://github.com/karmada-io/api` has been created.

I'm not sure if the `api` repo should keep `clients`?
If not, we need another repo like `client-go`.
@kevin-wangzefeng What's your preference?

[2021-05-31 09:25] mrlihanbo commented on #389
The IP here is generated by this command "docker inspect --format='{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' "karmada-host-control-plane"".
It seems like your can't visit your kind cluster with the  container IP.
Maybe you need to use the IP like 127.0.0.1:37353 to connect to your kind cluster.

[code]

[2021-05-31 09:52] garfcat commented on #389
Docker Desktop for Mac can’t route traffic to containers, there are some network limitations for mac's desktop docker, see  https://docs.docker.com/docker-for-mac/networking/

[2021-05-31 09:57] #390 closed

[2021-05-31 10:00] YouHang commented on #386
Yes, it means the karmada control plane or just the hpa controller in karmada control plane crash.

[2021-05-31 10:00] RainbowMango commented on #390
Feel free to re-open it when you can reproduce it.

[2021-05-31 15:27] theonlydoo opened #392 "Context naming"
**What happened**:
Faulty context is returned by commands

**What you expected to happen**:
Context fetched from config file should be returned

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[code]

**Anything else we need to know?**:
Thank's for developping such an ambitious tool :)

**Environment**:
- Karmada version: master
- Others: kubernetes 1.19.11

[2021-05-31 15:47] theonlydoo opened #393 "readme.md mismatch"
**What happened**:
readme says:

[code]

**What you expected to happen**:
[code]
[code]

I'd like to recommend using the great [kubectx](https://github.com/ahmetb/kubectx) (also [kubens](https://github.com/ahmetb/kubectx/releases/download/v0.9.3/kubens_v0.9.3_linux_x86_64.tar.gz), from the same repo)

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2021-05-31 15:51] theonlydoo opened #394 "wrong folder kickstart"
**What happened**:
[code]
**What you expected to happen**:
either choose to continue on a different context or stop earlier!

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2021-06-01 01:24] Colstuwjx commented on #389
so we don't support run karmada on macOS with kind, right?

[2021-06-01 01:32] #371 closed

[2021-06-01 02:35] lfbear commented on #393
This bug has been fixed, please choose code from [master](https://github.com/karmada-io/karmada/tree/master) or [v0.6.0](https://github.com/karmada-io/karmada/tree/v0.6.0)

[2021-06-01 03:13] garfcat commented on #389
kind works , but you need do additional work to make network right, for example use vpn ,

[2021-06-01 06:26] hansedong opened #397 "The deployment deployed in karmada is always in the Not Ready state."
**What happened**:

I created 2 Clusters, and they are all normal.

[code]
I deployed demo Deployment in the karmada cluster, and it was also normally scheduled to the target K8s cluster.
[code]
[code]
After deploying Nginx Deployment, in the K8s cluster (named boat), you can see that the Pod is created successfully.
[code]
However, the Nginx Deployment status seen in the karmada cluster is abnorm

[2021-06-01 06:50] hansedong commented on #397
Some additional content:
1. All components of the karmada cluster have been deployed in systemd mode, not started via pod.
2. There is no kubelet component service in the karmada cluster.

[2021-06-01 06:53] lynnsong commented on #344
Add `ReplicaSchedulingStategy` into `PropagationPolicy.Spec.Placement`, new struct like this:

[code]

[2021-06-01 07:50] #393 closed

[2021-06-01 08:15] RainbowMango commented on #392
Hi @theonlydoo Thanks for sharing feedback with us.

That because we have changed the context name here:
https://github.com/karmada-io/karmada/blob/bc7cfd8dc5bbfd629c918635fc455460d0f30408/hack/create-cluster.sh#L51-L53

There is no flag can define context when creating a cluster by kind:
[code]

[2021-06-01 08:18] RainbowMango commented on #392
Any idea to solve this issue? @theonlydoo

Maybe we can suppress all outputs by `kind` and define ourselves output.

[2021-06-01 08:21] RainbowMango commented on #394
I guess the `local-up-karmada.sh` expected to be called at repo home, like:
[code]
right @lfbear

[2021-06-01 08:31] RainbowMango commented on #394
I noticed that @lfbear filed a PR for this. @lfbear you can assign the issue to yourself by replying `/assgin` on this issue.

[2021-06-01 08:32] RainbowMango commented on #394
/assign @lfbear
Maybe I can't assign it to you. let's see.

[2021-06-01 08:33] lfbear commented on #394
/assgin

[2021-06-01 08:45] lfbear commented on #392
It seems that kind will create cluster name, user name, and context name with the prefix 'kind-'. ([quick start
 of Kind](https://kind.sigs.k8s.io/docs/user/quick-start/#interacting-with-your-cluster)) Maybe we should not change the context name? with 'kind-'

[2021-06-01 09:12] RainbowMango commented on #393
Good to know, just take a look at the two tools, that's sounds great!

How do you want to use it with karmada?

[2021-06-01 09:18] RainbowMango commented on #392
That's an option.

[2021-06-01 09:44] pigletfly opened #398 "Add kubernetes event for Karmada Object"
**What would you like to be added**:
We should add enough events for karmada object state in controller-manager and scheduler.
**Why is this needed**:

controller

- [x] binding
- [x] cluster
- [x] execution
- [ ] mcs
- [ ] namespace
- [ ] propagationpolicy
- [ ] status

scheduler

- [ ] schedule

[2021-06-01 10:05] RainbowMango commented on #398
Yes, you are right. Could you please add an agenda to the next meeting? Let's see where to start.
We can keep discussing this here.

[2021-06-01 10:06] theonlydoo opened #399 "Documentation needed on propagationpolicies"
**What happened**:
[code]
because of a context error:

[code]

**What you expected to happen**:
It's quite unclear to know when to use which context, is it possible to  have a summary table with what context is needed when/where?
**How to reproduce it (as minimally and precisely as possible)**:
* use wrong context
* try and run a propagation policy creation

**Anything else we need to know?**:
Sti

[2021-06-01 10:10] theonlydoo commented on #393
I'd recommend it for the end user trying to switch context in karmada, since it [seems to appear](https://github.com/karmada-io/karmada/issues/399) that some context switching is needed. It's a bit easier than `kubectl config xx` commands

[2021-06-01 10:12] kevin-wangzefeng commented on #399
Thanks for your feedback. Will improve the document :)

[2021-06-01 10:14] RainbowMango commented on #399
As mentioned at README:
The `karmada-apiserver` is the main kubeconfig to be used when interacting with karamda control plane, while `karmada-host` is only used for debugging karmada installation with host cluster

You don't need to care about `karmada-host`, unless the karmada components not working that you need to dig out.

[2021-06-01 10:15] kevin-wangzefeng commented on #399
To have a quick answer here:
karmada-host is only used when you need to install/modify karmada components.
karmada-apiserver is the one you will use most often.

[2021-06-01 11:01] theonlydoo commented on #399
thanks! I try and fill the documentation holes that I fall in sorry :)

[2021-06-01 11:52] mrlihanbo commented on #397
It seems like the status of the deployment has been collected to ResourceBinding. Could you please provide the status of the deployment using the command "kubectl get deploy -oyaml nginx"? Then, we can check if the status of the deployment is updated by karmada controller.

[2021-06-01 12:00] theonlydoo opened #400 "karmadactl could give a bit more informations"
**What would you like to be added**:
so far, karmadactl provides join/unjoin features. Could it provide some information dump as well ?

**Why is this needed**:
It's counter intuitive to run kubectl get cluster while karmadactl is in the mix

[2021-06-01 12:47] hansedong commented on #397
[code]
As above, it is the content of nginx Deployment. In addition, I found that its resourceVersion is also continuously increasing. Now, the value of the resourceVersion field has increased to 400264.

[2021-06-01 14:10] theonlydoo commented on #400
another tangible example would be to karmadactl get nodes cross clusters

[2021-06-01 14:35] theonlydoo opened #401 "documentation suggestions"
**What would you like to be added**:
* Add a disclaimer that the currently described process in README is creating kind clusters instances where the nginx deployment example will be deployed
* Add a comprehensible example of a kind-karmada managing two existing clusters
* Maybe split documentation in different use cases where you can follow the example with kind and then go further in some other p

[2021-06-02 01:06] mrlihanbo commented on #397
Hello, It seems strange for the status of the nginx deployment. There should be no conditions. Do you deploy the karmada apiserver? It seems like you using the kube-apiserver as the karmada-apiserver?

[2021-06-02 02:05] hellocloudnative opened #402 "replicaschedulingpolicy Don't take effect"
**What happened**:
[code]
propagationpolicy_simple.yaml
[code]
deployment.yaml
[code]

replicaschedulingpolicy_simple.yaml
[code]
[code]

**What you expected to happen**:
member1   10    pod
member2   20   pod

**Anything else we need to know?**:

**Environment**:
- Karmada version: v0.6
- Others:  kubernetes 1.21.1

[2021-06-02 02:10] hansedong commented on #397
@mrlihanbo

Thank you very much for your prompt reply. I feel that this problem will soon be solved.

I did use kube-apiserver as karmada-apiserver. For the entire karmada environment, I deployed it based on centos systemd, not based on K8s Pod deployment.

I actually recompiled the karmada binary (via the make command), and there is no karmada-apiserver (in the karmada/cmd directory in the source

[2021-06-02 02:12] #394 closed

[2021-06-02 02:23] hansedong commented on #397
@mrlihanbo

I watched nginx deploy in the karmada environment and found that in fact, the status status changes all the time, constantly changing to 0 and 1.

[code]

[2021-06-02 02:31] RainbowMango commented on #402
cc @mrlihanbo

[2021-06-02 02:58] hansedong commented on #397
@mrlihanbo

Sorry, it was my mistake.

The problem was solved. I deployed kube-controller-manager additionally in the karmada cluster. I guess it conflicts with karmada-controller-manager. kube-controller-manager will set the nginx deploy status to 0/1, and karmada-controller-manager will set it to 1/1. They constantly want to achieve their expectations, resulting in 0/1->1 /1->0/1 This situation

[2021-06-02 03:03] RainbowMango commented on #397
So, it's not a bug.
/remove-label kind/bug

[2021-06-02 03:04] RainbowMango commented on #397
/remove-kind bug

[2021-06-02 03:07] #397 closed

[2021-06-02 03:21] hansedong opened #403 "What is the correct way to remove deploy from karmada?"
When I deploy a Deployment in the karmada cluster, it will correctly create a Pod in the target cluster. However, when I delete deploy in the karmada cluster, the Pod of the target cluster still exists and will not be deleted.

Only when I delete the other two resources `resourcebindings.work.karmada.io` and `works.work.karmada.io` in karmada again, the Pod of the target cluster will disappear.

I

[2021-06-02 03:44] RainbowMango commented on #403
The `deployment` deployed in `karmada-apiserver` has been removed, then the `deployment` should be removed from all member clusters.  You don't have to remove `resourcebindings` and `works` by yourself, they should be cleanup automatically.

Maybe you can share reproduce steps, let's see why it didn't work as expected.

[2021-06-02 04:11] RainbowMango commented on #345
In my opion, by default `detector` should watch all resources with limited ignore list:
1. part of resource types that introduced by `karmada` should be ignored, such as `Work` should be ignored, but `PropagataionPolicy` should be watched.
2. part of resource types that introduced by `kube-apiserver` that users might don't care about, such as `Node`, `ComponentStatus`

By the way, the `2`th on the

[2021-06-02 04:15] RainbowMango commented on #345
We should provide a ability to users to disable a group of `kinds` and enable a group of `kinds` that has been ignored by default.

The behaviour similar with admission plugins options in `kube-apiserver`, `--disable-admission-plugins` and `--enable-admission-plugins`.

[2021-06-02 06:03] hansedong commented on #403
@RainbowMango

1. Create a Deployment in karmada

nginx.deploy.yaml

[code]

propagationpolicy.yaml

[code]

2. Get the Deployment information from karmada

[code]

[code]

3. Check whether the Pod is normal in the 2 target clusters

cluster named boat

[code]

cluster named hull

[code]

4. Get other resource information in the karmada cluster

get clusters

[code]

get resourcebindings.work.karm

[2021-06-02 06:32] pigletfly commented on #345
agreed.But the runtime-config cares about apiVerion and Group,I think we only care about Kind.

[2021-06-02 09:36] Colstuwjx commented on #389
I gave up on macOS, instead, I've tried to install karmada on Linux, and it succeeds!
Thanks all!

[2021-06-02 09:36] #389 closed

[2021-06-02 09:42] RainbowMango commented on #389
@mrlihanbo Can you help to dig out the gap when running on Mac?

[2021-06-03 00:56] mrlihanbo commented on #389
ok，I will try to install karmada on mac.

[2021-06-03 01:35] RainbowMango commented on #403
I'll try to reproduce it on my side.
What version you are using, by the way?

[2021-06-03 02:36] lfbear commented on #389
It will be a great event for developing on mac os

[2021-06-03 03:54] hansedong commented on #403
v0.6.0

[2021-06-03 04:16] RainbowMango commented on #403
I failed to reproduce on my side.
When building `ResourceBinding` we added an ownerReference to it at :
https://github.com/karmada-io/karmada/blob/1a7b0544662c8648922f7ccfd8beed0a1ec64d34/pkg/util/detector/detector.go#L515-L517

Have you deployed `karmada-kube-controller-manager`?
[code]

[2021-06-03 06:51] #364 closed

[2021-06-03 11:25] RainbowMango commented on #112
Refer to https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry

[2021-06-03 11:38] garfcat commented on #402
The ReplicaSchedulingPolicy  does not set default namespace for resource selector,  so can not match any ReplicaSchedulingPolicy when ensure work.

`unc getMatchedReplicaSchedulingPolicy(policies []v1alpha1.ReplicaSchedulingPolicy, resource *unstructured.Unstructured) []v1alpha1.ReplicaSchedulingPolicy {
    ....
	for _, policy := range policies {

                **_//  namespace is not the same_

[2021-06-03 11:50] RainbowMango commented on #402
@garfcat right, that probably the reason.
Maybe we can update the match rules like :
[code]

@garfcat would you like to fix it?

[2021-06-03 11:54] garfcat commented on #402
sure  , the most direct way is to modify it like this

[2021-06-03 11:59] RainbowMango commented on #378
Feel free to re-open it if still have questions. :)

[2021-06-03 11:59] #378 closed

[2021-06-03 12:13] RainbowMango commented on #402
/assign @garfcat
Thanks~~~

[2021-06-03 12:18] RainbowMango commented on #301
Sorry, I misunderstand you. Do you mean the deployment can't work at `member1` cluster?

[2021-06-03 13:11] hansedong commented on #403
@RainbowMango

**Could it be caused by the mismatch of apiVersion in ownerReferences?**

Normally, deleting the `ResourceBinding` CRD resource will automatically delete the `Work` CRD resource, because the ownerReferences defined in the `Work` points to the `ResourceBinding`, but I found that the `apiVersion` configured in the `ownerReferences` may not be correct.

Details are as follows:

1、This

[2021-06-04 00:05] vincent-pli commented on #301
@RainbowMango
No, you understand correct, please feel free to close the issue.

[2021-06-04 01:19] #402 closed

[2021-06-04 01:21] RainbowMango commented on #301
OK then.

[2021-06-04 01:21] #301 closed

[2021-06-04 01:34] RainbowMango commented on #402
Hi @hellocloudnative
@garfcat sent a PR fixed the case, can you help confirm if it works for you?

[2021-06-04 01:35] vincent-pli opened #411 "Why we drop the singleton kubeconfig file and turn to context"
**What would you like to be added**:
After the version 0.6.0, we change original behavior, to add `context` to kube config file rather than generate a standalone one.

That's make a mass.
I like to open 3 terminal each for `karmade host`, `karmade api-server` and `member`
but with `context`, when I switch `context` in one terminal, all changed, that's really mass me.

**Why is this needed**:

[2021-06-04 01:45] RainbowMango commented on #403
Thanks for pointing it out, the apiVersion should be `work.karmada.io/v1alpha1`.
The reason for that might be at here:
https://github.com/karmada-io/karmada/blob/fe7c61492b36799eadceddda6ba13f5ce7bd1a76/pkg/util/helper/binding.go#L29-L30

The `resourceBindingKind ` and `clusterResourceBindingKind` should refer to `workv1alpha1` not `v1alpha1`(Actually `policyv1alpha1`).

So, would you like to send

[2021-06-04 01:47] XiShanYongYe-Chang commented on #411
I have the same doubts, and I use alias like this to resolve the mass:
[code]

[2021-06-04 02:12] hansedong commented on #403
@RainbowMango

I will try to repair and test on my own cluster first to see if it can be resolved, and I will give feedback later.

[2021-06-04 02:14] RainbowMango commented on #403
/assign @hansedong

[2021-06-04 03:16] gy95 opened #412 "make verify cmd failed"
**What happened**:
run `make verify` cmd failed, the generated codes output packge is not correct.
the reason is that `make verify` cmd will first generate needed codes using scripts `verify-codegen.sh` and `verify-crdgen.sh`, and then static check codes using script `verify-staticcheck.sh`. When generating codes using cmd `deepcopy-gen XXXXXX --output-package=github.com/karmada-io/karmada/pkg/api

[2021-06-04 03:38] RainbowMango commented on #344
Generally, I like the design. It's easy to understand.

Minor comments would be:
The `IsAggregated` in `AggregationPreferences` could be an `enum`, not a `bool`, even though we only have two aggregation modes now, then it will be easy to add more aggregation mode in the future if there is any.

Other nits like fields tags and types, I can post my comments on the PR.

[2021-06-04 06:39] hansedong commented on #403
Hello, I tried to change the `apiVersion` in `ownerReferences` to fix this problem, but it didn't work. I have a few questions:

1. First, in my karmada cluster, both `ResourceBinding` and `Work` are generated by karmada, and they are in different Namespaces.

[code]
My understanding is, should the resources associated with ownerReferences be in the same namespace? For example: `Deployment` and `R

[2021-06-04 07:08] RainbowMango commented on #403
Yes. `Cross-namespace owner references are disallowed by design.`  In most cases, this still works(I mean, the garbage collector could delete the resources when its dependents disappeared), the falling case record at #234.

We've noticed this issue before, and don't have time to fix it yet. It's time to solve this problem now.

Are you willing to take this task? There will be a lot of work to do I

[2021-06-04 07:39] hellocloudnative commented on #402
我可以提交一个上游嘛，给我一个机会。

[2021-06-04 07:41] hellocloudnative commented on #402
I can submit upstream. Give me a chance
thank you

[2021-06-04 07:44] RainbowMango commented on #402
Sure, since this task has been done, I can reserve a `good-first` issue for you. Hold on, I will cc you on a new issue.

[2021-06-04 07:59] RainbowMango opened #414 "[GoodFirst]Fix misleading logs"
**Task description**:
When we successfully cleaned up labels from a resource template, we recorded a log as follows:
https://github.com/karmada-io/karmada/blob/ff11128c69551df5c500d7b2ea9adbd8edb46b48/pkg/util/detector/detector.go#L1088

The log is misleading as the `on cluster: %s` is always empty, since `newWorkload.GetClusterName()` always be empty.

**Solution**:

[code]

**Who can join or tak

[2021-06-04 08:20] mrlihanbo commented on #372
@lfbear
I found that the kubeconfig of karmada-apiserver gernerated by util::append_client_kubeconfig can't be used by karmada-agent.
The reasons are  as follows：
1. karmada-agent is not support to assign the context.
2. The default kubeconfig used in deploy-karmada-agent.sh is "/var/run/karmada/karmada-apiserver.config"

I will add a flag in karmada-agent to support assigning name of the cluster

[2021-06-04 08:55] hansedong commented on #403
@RainbowMango

At present, our company has multiple cluster management scenarios. I hope to introduce karmada to solve this problem in the future. I am also very happy to participate in the development of karmada in the future. Thank you very much for your invitation. I plan to spend some time first to fully understand the overall architecture and implementation details of karmada(If I take this t

[2021-06-04 08:56] RainbowMango commented on #345
[code]
Hi @pigletfly how do you think about this flag?

[2021-06-04 09:17] RainbowMango commented on #403
You are welcome to have a chat at next [week's meeting](https://github.com/karmada-io/karmada#meeting), if you want to share your scenarios, feel free to add an agenda on the [Meeting Notes and Agenda](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit#).

That's ok. I'll file another issue to list several iterations items. Then, we can gather more contributors to

[2021-06-04 09:28] RainbowMango commented on #403
I will try it on this version too.

[2021-06-04 09:44] teijinyer opened #416 "test ReplicaSchedulingPolicy failed"
**What happened**:
I use the replicasschedulingpolicy , but the deployment's replicas is error
[code]
replicas is 3 in the member1 cluster
replicas is 3 in the member2 cluster
**What you expected to happen**:
replicas is 1 in the member1 cluster
replicas is 2 in the member2 cluster
**How to reproduce it (as minimally and precisely as possible)**:
deployment yaml
[code]
propagationpolicy.yaml
[code

[2021-06-04 09:56] hansedong commented on #403
After many tests, using kube-apiserver based on version 1.19.1 as karmada-apiserver, everything works fine.

I guess that in K8s 1.21.1+, K8s has become stricter on the content verification of ownerReferences.

[2021-06-04 10:21] hansedong commented on #403
I am glad to join the next meeting, thank you for your reminder.

[2021-06-04 10:32] XiShanYongYe-Chang commented on #416
Hi, this problem is same to #402 , the code has been merge into the master branch, you can install a newest karmada to test rsp.

[2021-06-04 11:24] pigletfly commented on #345
SGTM.So there is also a `--enable-resource-templates` ?

[2021-06-05 01:11] vincent-pli opened #419 "Let karmada cluster sync CRD from member clusters"
**What would you like to be added**:
Let Karmada cluster sync `CRD` from member cluster

**Why is this needed**:
Karmada cluster will create template and sync to member cluster, that's great.
but for `CRD` scenario, if there is no such CRD in the karmada cluster but has installed in the member cluster, that is a mass that user need apply such `CRD`s both in karmada cluster and member cluster.

[2021-06-05 02:10] RainbowMango commented on #345
Not sure yet.
`--enable-resource-templates` used to enable the resource templates that have disabled by default, I doubt if users really need it, it might depend on what resources in the default disable list.

So, I think we should make clear that which resources should be in the default disable list first.

[2021-06-05 03:27] RainbowMango commented on #419
That might be an interesting feature. Can we have a chat about this in next week's meeting?

[2021-06-05 03:29] lfbear commented on #372
I found it too, I have refactored deploy-karmada-agent.sh before  refactoring karmada-bootstrap.sh [like this](https://github.com/lfbear/karmada/blob/refactor-karmada-bootstrap/hack/deploy-karmada-agent.sh), it supported deploy karmada-agent for standalone cluster too, if the needs are met?

[2021-06-05 03:48] lfbear commented on #372
I moved the kubeconfig of 'karmada-apiserver' to $HOME/.kube/ and merged host-cluster kubeconfig to a whole one named 'karmada.config' placed in $HOME/.kube/ because:
1. the files in '/var/run/' will be removed after reboot, then the kubeconfig will be lost
2. the kubeconfig of multi-clusters merged a whole file will be easy to use, so I'll synchronize this change to `deploy-karmada-agent.sh` and

[2021-06-05 07:30] GitHubxsy commented on #419
Sounds cool.

[2021-06-05 11:39] #314 closed

[2021-06-05 11:40] RainbowMango commented on #314
/assign @XiShanYongYe-Chang

[2021-06-05 11:43] RainbowMango commented on #412
Does this still necessary since we have added the `GOPATH`?
https://github.com/karmada-io/karmada/blob/bd0d3b8a0c80c776f725909623adec4dea09687c/hack/update-codegen.sh#L13

[2021-06-06 23:52] vincent-pli commented on #419
Sure, thanks @RainbowMango

[2021-06-07 01:10] mrlihanbo commented on #372
hello, lfbear. I have submited the pr to introduce --karmada-context flag to karmada-agent to select context in kubeconfig file. The  --karmada-context flag can work with the "MEMBER_CLUSTER_CONTEXT_NAME" param you introduce in deploy-karmada-agent.sh.
The code is here #415 .

[2021-06-07 01:17] gy95 commented on #412
we should export variable `GOPATH`, I try executing cmd without export variable `GOPATH` and it is failed also

[2021-06-07 03:39] mrlihanbo commented on #419
Sounds cool. Need to consider the scenario of pull mode cluster

[2021-06-07 04:20] RainbowMango commented on #416
@teijinyer Do you have any questions? If no, I'm going to close this issue in favor of #402.

[2021-06-08 01:18] RainbowMango commented on #419
@vincent-pli I haven't seen the agenda on [today's meeting](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit#).

[2021-06-08 02:15] RainbowMango commented on #345
Another option: difference is `semicolon-delimited` vs `comma-delimited`
[code]

[2021-06-08 03:34] chestarss opened #424 "karmada apiserver start error in local up karmada"
root@karmada-host-control-plane:/# kubectl get pods -n karmada-system
NAME                                 READY   STATUS             RESTARTS   AGE
etcd-0                               1/1     Running            0          18m
karmada-apiserver-68674c4654-bg6wb   0/1     CrashLoopBackOff   1          15s
root@karmada-host-control-plane:/# kubectl logs karmada-apiserver-68674c4654-bg6wb -n karmada

[2021-06-08 03:51] RainbowMango opened #425 "Cleanup(GC) resources across name-spaces"
**What would you like to be added**:
We are using `OwnerReferences` to do some GC(Garbage Collection) work. But cross-namespace owner references are disallowed by design. So the change will be happened at:
1. `binding-controller`: Remove `Work` objects once the `ResourceBinding` has been removed.
3. `cluster-binding-controller`: Remove `Work` objects once the `ClusterResourceBinding` has been remo

[2021-06-08 06:14] #416 closed

[2021-06-08 06:45] lfbear commented on #424
Did you startup karmada only using `hack/local-up-karmada.sh`?

[2021-06-08 07:26] kevin-wangzefeng commented on #345
nit: `--disable-resource-templates` might be confusing, as the API group/version/kind is not really disabled in the karmada-apiserver.

We'd like to have users able to indicated APIs that they want karmada skip from propagating to member cluster, so things like `--skipped-propagating-apis string` should be easier to understand.

[2021-06-08 07:39] vincent-pli commented on #419
Missing the meeting, block by a full day tough training, sorry for that @RainbowMango

[2021-06-08 08:02] RainbowMango commented on #419
No worries. We can still discuss this here.

[2021-06-08 10:03] chestarss commented on #424
Yes, I only execute `hack/local-up-karmada.sh`

[2021-06-08 10:31] lfbear commented on #424
ok, could you provide more info, such as environment and install process log

[2021-06-08 10:32] chestarss commented on #424
make: 进入目录“/home/admin/karmada”
VERSION=latest hack/docker.sh karmada-controller-manager
Sending build context to Docker daemon  276.2MB
Step 1/4 : FROM alpine:3.7
 ---> 6d1ef012b567
Step 2/4 : RUN apk add --no-cache ca-certificates
 ---> Using cache
 ---> f641953c7d82
Step 3/4 : ADD karmada-controller-manager /bin/
 ---> Using cache
 ---> 864e5827df2c
Step 4/4 : CMD ["/bin/karmada-controller-mana

[2021-06-09 02:06] mrlihanbo commented on #425
/assign

[2021-06-09 03:32] chestarss commented on #424
karmada-system       karmada-apiserver-6975c5fdd-fc94l                    0/1     ImagePullBackOff   0          49s

`crictl pull k8s.gcr.io/kube-apiserver:v1.19.1`  timeout

so i use china cache registry for gcr
crictl pull registry.aliyuncs.com/google_containers/kube-apiserver:v1.19.1

root@karmada-host-control-plane:/# kubectl get deployment karmada-apiserver -o yaml -n karmada-system|grep 'ima

[2021-06-09 03:36] #424 closed

[2021-06-09 03:37] chestarss commented on #424
my mistake

[2021-06-09 03:41] RainbowMango commented on #424
/remove-kind bug

[2021-06-09 03:42] RainbowMango commented on #424
/kind question

[2021-06-09 04:33] chestarss opened #427 "join member error in local up mode"
`karmadactl join member1 --cluster-kubeconfig=$HOME/.kube/karmada.config`

W0609 12:31:43.465975  578613 join.go:452] failed to create cluster(). error: Internal error occurred: failed calling webhook "cluster.karmada.io": Post "https://karmada-webhook.karmada-system.svc:443/validate-cluster?timeout=3s": x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification e

[2021-06-09 04:38] chestarss commented on #427
root@karmada-host-control-plane:/# `kubectl logs -f karmada-webhook-65fc87f89d-cgh95 -n karmada-system`
I0609 03:42:32.533159       1 options.go:49] Set default value: Options.LeaderElection.ResourceLock = endpointsleases
I0609 03:42:32.533228       1 options.go:54] Set default value: Options.LeaderElection.LeaseDuration = 15s
I0609 03:42:32.533233       1 options.go:59] Set default value: Options

[2021-06-10 02:29] #425 closed

[2021-06-10 04:22] RainbowMango commented on #403
Hi @hansedong @mrlihanbo has provided a path, #430, and it has been merged.
Can you help confirm if this also works for you?

[2021-06-10 06:45] lfbear commented on #427
@chestarss It seems that the karmada has NOT installed totally, I suggest you reinstall karmada, before that you need to delete the container named 'karmada-host-control-plane'

[2021-06-10 08:18] hansedong commented on #403
Ok i will test it tomorrow afternoon.

[2021-06-10 08:20] Colstuwjx opened #432 "Question about karmada design"
**What would you like to be added**:
Allows directly deployment apps on member clusters, rather than **deploy on host cluster + propagate to member cluster**

**Why is this needed**:
At sometimes, I couldn't sure about which cluster is the main cluster ( which the load balancer traffic to ), as the result, I can't just follow the default rule: deploy app on host cluster, and then propagate to memb

[2021-06-10 08:55] XiShanYongYe-Chang opened #433 "ReplicaSchedulingPolicy's resourceSelector without namespace should inherit namespace from ObjectMeta.Namespace"
**What would you like to be added**:

When a ReplicaSchedulingPolicy's resourceSelector without specifying a namespace, it should inherit namespace from ObjectMeta.Namespace, just like PropagationPolicy.

[2021-06-10 14:29] kevin-wangzefeng commented on #432
This would be supported by aggregated kube-api endpoint, which is already in our roadmap.

[2021-06-11 02:12] RainbowMango commented on #171
/close
close this and track this at another issue.

[2021-06-11 02:28] RainbowMango commented on #171
/close

[2021-06-11 02:28] #171 closed

[2021-06-11 02:58] #372 closed

[2021-06-11 03:34] lfbear opened #434 "Karmada-agent install script support the standalone cluster"
**What would you like to be added**:
Let script `hack/deploy-karmada-agent.sh` support the standalone cluster and rebuild the agent before local installation

**Why is this needed**:
The standalone cluster will be used in Pull mode

[2021-06-11 03:35] lfbear commented on #434
/assign @lfbear

[2021-06-11 08:13] chestarss opened #435 "openshift apiserver support"
**What would you like to be added**:
karmada-apiserver support base openshift-apiserver, which include some crd like project, deploymentConfig etc.

**Why is this needed**:
base openshift resource manager

[2021-06-11 08:29] RainbowMango commented on #435
I'm sorry I didn't catch your meaning.  What's your use case?

[2021-06-11 08:34] RainbowMango commented on #433
Did I miss something? I think the behavior already works as expected.
Share your reproduce steps?

[2021-06-11 09:17] XiShanYongYe-Chang commented on #433
Sorry, I make a mistake, it's not PropagationPolicy, it's ReplicaSchedulingPolicy.

When I create a ReplicaSchedulingPolicy with yaml:

[code]
It's resourceSelectors have empty namespace:
[code]

I think that's part of the reason for #402 .

[2021-06-11 09:25] RainbowMango commented on #433
Yes, the issue is fixed by https://github.com/karmada-io/karmada/pull/410.

Have you found any other problems after this patch?

[2021-06-11 09:32] XiShanYongYe-Chang commented on #433
No problems found, it's OK. I just think ReplicaSchedulingPolicy should be consistent with the behavior of PropagationPolicy and OverridePolicy.

[2021-06-11 09:41] chestarss commented on #427
okay, it works

reason:
install script every execute alway generate cert key file,  etcd before start use old cert, apiserver use new cert .

[2021-06-11 09:41] #427 closed

[2021-06-11 09:43] chestarss commented on #435
我这边使用的openshift, 应用创建依赖openshift中的Project和DeploymentConfig资源，这两个资源是openshift apiserver内置的资源，标准的k8s没有，所以想能否支持下 karmada-apiserver 可选使用 openshift-apiserver启动。

[2021-06-11 09:45] chestarss commented on #435
当然通过CRD方式把openshift 特有的内置资源注册到karmada控制面上的k8s-apiserver里也可以解决问题。
目前我没有找到这些内置资源的CRD定义yaml.

[2021-06-11 09:58] RainbowMango commented on #435
+1

[2021-06-11 10:10] chestarss commented on #435
请教下原生内置资源怎么导出类似CRD的定义yaml格式

[2021-06-11 10:11] pigletfly opened #437 "Migrate webhook server into controller-manager"
**What would you like to be added**:

**Why is this needed**:

It will simplify the karmada installation.

[2021-06-11 11:54] huiwq1990 opened #438 "Cluster not ready, work delete should retry"
**What would you like to be added**:

Cluster not ready, `work` delete should retry.

What need to do:

1) add an field forceCleanup to struct clusterspce (pkg/apis/cluster/v1alpha1/types.go)

2) add a flag --force to command karmadactl unjoin
If flag --force was added, we will modify clusterspce's forceCleanup to false, and then delete the cluster.

3) extend clustercontroller
If cluster was dele

[2021-06-13 06:10] guanxingfeng opened #439 "“kubectl get cluster” query cluster status still ready when m cluster shutdown"
**What happened**:
1.when m cluster shutdown，“kubectl get cluster” query cluster status still ready
2.the lastTransitionTime in conditions is not update Regularly
![image](https://user-images.githubusercontent.com/25924966/121797268-cc7b9300-cc51-11eb-8af0-b510a6dd8f33.png)
3.what is difference between push and pull？I change  m1 mode to pull，but not see the difference Currently.
![image](https://u

[2021-06-15 01:16] RainbowMango commented on #435
[code]
This might works.

[2021-06-15 01:17] RainbowMango commented on #437
That makes sense. fewer components, fewer problems.

[2021-06-15 01:42] RainbowMango commented on #438
How about discussing this proposal at the [next community meeting](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit#)?

[2021-06-15 01:51] RainbowMango commented on #439
The `lastTransitionTime` records the `last` transition time, the time will be update only when status change, such as `Ready` to `NotReady`.

Please refer to the API document:
https://github.com/karmada-io/karmada/blob/738c148401d54fd8f4532269094297bc26553744/pkg/apis/cluster/v1alpha1/types.go#L85-L93

[2021-06-15 02:09] chestarss commented on #435
试过了，这个只是对后期注册的crd生效，对apiserver内置的资源没用

[2021-06-15 02:13] RainbowMango commented on #437
We can have a talk at the community meeting.

[2021-06-15 02:18] RainbowMango commented on #234
/close
in favour of #430

[2021-06-15 02:18] #234 closed

[2021-06-15 02:22] RainbowMango commented on #274
OK. I'll try it /assign

[2021-06-15 02:22] hansedong commented on #403
@RainbowMango

I ran a few tests and the problem seemed to be fixed. By the way, is Karmada going to change the deleting mechanism from K8S managing ownerReferences auto-deleting to Karmada managing deleting by doing label matching itself?

[2021-06-15 11:26] vincent-pli opened #443 "The status of ResourceBinding/ClusterResourceBinding and Work should present the status of resource applied"
**What would you like to be added**:
I try to propagate a `CR` who's CRD is not installed in the target cluster, and I get nothing(no error, no warning) from the `ResourceBinding/ClusterResourceBinding` or `Work`, the `status` for such resource is empty.

I have no idea it's failed until I check the log of `karmade controller management`.

I think we need mark these failed at least in the `status`

[2021-06-15 14:08] qianjun1993 commented on #443
I also find that there is no info in status when the scheduler failed , but in fact the struct of conditions exists in status which is not used。So, I try to add same logic to add error info into conditions during scheduling。Maybe my plan can also help you.

[2021-06-16 01:34] RainbowMango commented on #403
Yes: Actually, we have removed the incorrect usage of `ownerReference`.
No: Not all `ownerReference` will be removed.

[2021-06-16 01:36] RainbowMango commented on #403
I'm going to close this issue now. Feel free to reopen it if you want to continue the discussion.
Thanks @hansedong give feedback to us, this means a lot.

/close

[2021-06-16 01:36] #403 closed

[2021-06-16 01:57] Garrybest commented on #439
#421 and its further PR are related to this issue. When lease is added, controller-manager will check the ready condition.

[2021-06-16 06:32] RainbowMango opened #445 "[GoodFirst]Fix redundant log"
**Task description**:
There is a log at `karmada-controller-manager`:
[code]

The log intended to record the namespace `name` not the whole `namespace` object.
https://github.com/karmada-io/karmada/blob/402d5884c9a49f9712db146fd663463e365d78d2/pkg/controllers/cluster/cluster_controller.go#L192

**Solution**:
Log the namespace name instead of namespace object, like this:
[code]

**Who can join or t

[2021-06-16 07:29] gy95 commented on #445
just only need to modify the one code?

[2021-06-16 13:26] Garrybest opened #447 "work should be recreated when it has been deleted"
**What happened**:
When the work has been deleted, it will not recreated by binding controller.
[code]
Now something has been wrong, the work no longer exists. However, the workload still seems to be normal.
[code]

**What you expected to happen**:
The `work` should be recreated.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment*

[2021-06-16 14:34] RhnSharma commented on #445
I would like to take this one.

[2021-06-16 14:43] RhnSharma commented on #445
I would like to take this one.

[2021-06-16 14:43] RhnSharma commented on #445
/assign

[2021-06-17 01:16] RainbowMango commented on #447
Why? Does the work object be removed manually?

[2021-06-17 01:26] #445 closed

[2021-06-17 02:35] RainbowMango commented on #312
As far as I know, we don't have a detailed performance report yet.

[2021-06-17 02:36] Garrybest commented on #447
Yes, we found it happens when work is removed manually.

[2021-06-17 04:05] RainbowMango commented on #414
@hellocloudnative, would you like to take it?

[2021-06-17 04:16] RainbowMango commented on #344
Hi @lynnsong Are you still working on this?

[2021-06-17 05:55] lynnsong commented on #344
Yes, we are doing more test, and will commit this week

[2021-06-18 08:40] lfbear opened #450 "Status.apiEnablements.resources invalid when join member cluster"
**What happened**:
When I joined a member cluster in karmada with `karmadactl join`, I got a dead member cluster like this:
[code]
I can't send any workload to this member cluster and the logs in karmada-controller-manager said:
[code]
**What you expected to happen**:

member cluster status will appear, the workload will be sent to the member cluster

**How to reproduce it (as minimally and precis

[2021-06-18 08:51] lfbear commented on #450
https://github.com/karmada-io/karmada/blob/3f99da3024cd63cd5cec3c43cd782b37d30a96fa/pkg/controllers/status/cluster_status_controller.go#L329-L333

I traced code and find `apiResource` may be equal `nil` when APIResources is empty, so I suggest replacing Line 329 with `apiResource := make([]string,0)` that is a 0-length slice and no longer equal `nil`.
If it's workable I will submit a PR

[2021-06-18 09:08] XiShanYongYe-Chang commented on #450
Further, apply for fixed capacity in advance，because the length of `list.APIResources` is known.

Modify like this: `apiResource := make([]string, 0, len(list.APIResources))`

[2021-06-18 09:16] chestarss opened #451 "如何通过karmada控制面apiserver代理访问成员集群"
比如分发文件到成员集群中的pod, 希望能通过控制面的apiserver代理到实际的目标集群。

[2021-06-18 09:21] RainbowMango commented on #450
I see. This should be fixed.
/assign @lfbear

This will work. We've another idea.
The [Resources](https://github.com/karmada-io/karmada/blob/3f99da3024cd63cd5cec3c43cd782b37d30a96fa/pkg/apis/cluster/v1alpha1/types.go#L142) should not be a `mandatory` field.

[2021-06-18 10:02] RainbowMango commented on #385
Reopen as the lifecycle controller still not getting on board.

[2021-06-21 01:33] RainbowMango commented on #451
如果 `join` 集群时使用的KUBECONFIG文件中带了Proxy信息，那么Karmada就会使用代理于成员集群通信。

[2021-06-21 06:57] RainbowMango commented on #450
I reproduced on my side:

1. Create an `APIService` object as follows:
[code]
This might happen if people installed `KEDA` in the member cluster, more details please refer to [Deploying using the deployment YAML files](https://keda.sh/docs/2.3/deploy/#yaml)

2. Wait for a while the log will present at `karmada-controller-manager`(for push mode) or `karmada-agent`(for pull mode).
[code]
As meanwhil

[2021-06-21 07:55] #450 closed

[2021-06-22 00:50] vincent-pli opened #459 "Extend the Cluster.Status.APIEnablements.Resources"
**What would you like to be added**:
I suggest to extend the current definition for
https://github.com/karmada-io/karmada/blob/dba61fa92e8d22fb2292f5e5cd50d188185d7a34/pkg/apis/cluster/v1alpha1/types.go#L143

from plain string to structure like this:
[code]

Since we let user define resource propagated with `Kind` as:
https://github.com/karmada-io/karmada/blob/dba61fa92e8d22fb2292f5e5cd50d188185d7

[2021-06-22 01:23] RainbowMango commented on #459
That makes sense to me.
cc @kevin-wangzefeng @mrlihanbo How do you think?

@vincent-pli
By the way, are you trying to add the filter for `karmada-scheduler`?

[2021-06-22 01:44] RainbowMango commented on #414
Anyone who interested in this task can take it.

[2021-06-22 01:47] mrlihanbo commented on #459
That makes sense to me.

[2021-06-22 02:06] vincent-pli commented on #459
Yes, I'm trying @RainbowMango

[2021-06-22 02:36] RainbowMango commented on #438
I've noticed a similar proposal at kubefed project, https://github.com/kubernetes-sigs/kubefed/pull/1233.

[2021-06-22 05:34] huiwq1990 commented on #438
The propose is more elegant, but I don't found releated impl.

[2021-06-22 06:35] RainbowMango commented on #438
@huiwq1990 Not to see you at the meeting.  Meeting room is : https://zoom.us/j/91804791393

[2021-06-22 08:14] RainbowMango commented on #312
Feel free to re-open this issue if you have further questions.
/close

[2021-06-22 08:14] #312 closed

[2021-06-22 08:20] RainbowMango commented on #435
可以到OpenShift 社区问问看。
/close

[2021-06-22 08:20] #435 closed

[2021-06-22 12:50] RainbowMango opened #460 "Cleanup cyclomatic complexity issue"
**What would you like to be added**:
There are 4 functions in which cyclomatic complexity exceed 15:
- [x] 1. EnsureWork() with complexity 21: (@XiShanYongYe-Chang #473)
https://github.com/karmada-io/karmada/blob/dba61fa92e8d22fb2292f5e5cd50d188185d7a34/pkg/util/helper/binding.go#L154
- [x] 2. retainServiceFields() with complexity 20: (@XiShanYongYe-Chang #476 )
https://github.com/karmada-io/karma

[2021-06-22 13:55] vincent-pli commented on #459
/assign @vincent-pli

[2021-06-23 02:57] RainbowMango commented on #459
Alternative 1(Proposed by this issue):
[code]
My concern about this alternative is the `Name` might never be used by now, it will be a redundant field.

Alternative 2:
[code]
This alternative only collects the `Kind` and if there is a need for other information(such as `Name`, `ShortNames`, etc..), we can add them then and won't violate API compatibility.

@kevin-wangzefeng @vincent-pli What's you

[2021-06-23 03:20] Garrybest opened #463 "Cannot create workload that has a long name"
**What happened**:
When a workload has a long name, it cannot be created in the member cluster because it has a label associated with `work` whose name is more than 63 characters. In kubernetes, label must be 63 characters or less according to [Labels and Selectors](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set). The name of `work` contains name

[2021-06-23 03:26] RainbowMango commented on #463
I wonder if it, a resource takes a long name, is a usual scenario?
There is another approach that wants to restrict the resource name as tracked by #209

[2021-06-23 03:38] Garrybest commented on #463
It happens in my scenario because most of the workload are AI training jobs that have a random uuid and other infos. If the name is more than 40 characters, the name of `work` is likely to be more than 63 characters. Meanwhile, I don't find any usage of label selectors with these labels so maybe it can be moved into annotations. What do you think? @RainbowMango

[2021-06-23 04:04] GitHubxsy commented on #451
我理解@chestarss   的意思是，想通过 karmada-apiserver统一入口 访问成员集群。
扩展Kubernetes API方式
	CustomResourceDefinition 扩展 Kubernetes API
	通过聚合层（Aggregation Layer）扩展 Kubernetes API
	设置 Konnectivity 服务（egressSelector ）
		https://github.com/kubernetes-sigs/apiserver-network-proxy
	代理模式
		kubectl 代理
			kubectl proxy --port=8080
			curl http://localhost:8080/api/
		apiserver proxy
                      http://kubernetes_

[2021-06-23 04:20] RainbowMango commented on #463
Move all label keys?

[2021-06-23 06:24] Garrybest commented on #463
To fix this issue we now may only need to move label `work.karmada.io/name` to annotations. If we want to keep consistency, we can move other labels such as `work.karmada.io/namespace`, "resourcebinding.karmada.io/name" into annotations too. @RainbowMango

[2021-06-23 06:33] vincent-pli commented on #459
I'm ok for both, but there is a little weird only has `Kind` field in a structure named `APIResource` . anyway, both is fine for me.
@RainbowMango

[2021-06-23 09:06] RainbowMango commented on #463
I guess what you mean is moving all labels that added to the [Mainifest](https://github.com/karmada-io/karmada/blob/83b9682fd2149e1086746a0d2bd7158c09b97c8c/pkg/apis/work/v1alpha1/work_types.go#L39) to annotations, right?

The constants have the `label` suffix, we should take care of them together.

[2021-06-23 12:52] vincent-pli commented on #459
So, any update? @RainbowMango

[2021-06-23 12:54] RainbowMango commented on #459
Let's give some time to @kevin-wangzefeng .

[2021-06-24 01:32] kevin-wangzefeng commented on #459
I'd suggest this one:
[code]

[2021-06-24 03:55] RainbowMango commented on #459
OK. @vincent-pli let's do it.

[2021-06-24 05:26] vincent-pli commented on #459
Do I need also change the code here? @RainbowMango
https://github.com/karmada-io/api/blob/a5e12cb59b9603773f743fe679a2a2aaff36b4e7/cluster/v1alpha1/types.go#L138

[2021-06-24 07:15] #459 closed

[2021-06-24 07:45] RainbowMango opened #465 "Remove sub-resources from cluster api enablement list"
**What would you like to be added**:
Remove the redundant API resources from the [API Resoruces](https://github.com/karmada-io/karmada/blob/c053b6c8b324fe48f70bd88c970074de9fd0df7f/pkg/apis/cluster/v1alpha1/types.go#L143).

E.g, the `namespaces/finalize`, `namespaces/status`, etc are not the real API resources that we are caring about.
[code]

**Why is this needed**:
Removing redundant info for cl

[2021-06-24 08:16] RainbowMango commented on #465
After a quick investigation, maybe we can filter the sub-resource according to [here](https://github.com/kubernetes/kubernetes/blob/b0010c2d9ea8f2d20ffca20da7846eb4bba6e456/staging/src/k8s.io/client-go/discovery/discovery_client.go#L316-L320)
[code]

[2021-06-24 08:18] mrlihanbo opened #466 "Upgrade kubernetes version to 1.21"
**What would you like to be added**:
Upgrade kubernetes version to 1.21

**Why is this needed**:
The version of kube-apiserver and kube-controller-manager used in karmada is v1.19.1. I suggest to upgrade them to 1.21.

[2021-06-24 08:40] pigletfly opened #467 "Sync work status even if workload has no status field"
**What happened**:

**What you expected to happen**:

we should sync work status even if workload has no status field, then we can see how many clusters are synced in resourcebinding status.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- Others:

[2021-06-24 09:02] shinytang6 commented on #465
Let me have a try.
/assign @shinytang6

[2021-06-24 09:24] RainbowMango commented on #465
Thanks, go for it!

[2021-06-25 02:30] chestarss commented on #451
正常情况访问 https://karmada-apiserver/api/v1/namespaces 返回控制面的ns列表。
如果要获取成员某个集群的ns列表，api扩展支持下类似
https://karmada-apiserver/api/v1/namespaces?cluster=member1
https://karmada-apiserver/api/v1/namespaces?cluster=member2

[2021-06-25 02:54] RainbowMango commented on #451
Yeah, that's the [planed feature](https://github.com/karmada-io/karmada/blob/master/ROADMAP.md#2021-q3) `Aggregated K8s API endpoint`.

No clear solution yet.

[2021-06-25 03:22] #465 closed

[2021-06-25 03:38] RainbowMango commented on #465
Just post the testing result from my side.

Before the patch we have `123` resources:
<details>
<summary>Before the patch</summary>

[code]

</details>

After the path we have `79` resources:

<details>
<summary>After the path</summary>

[code]

</details>

[2021-06-25 05:14] pigletfly commented on #443
karmada-controller-manager should update work status ,and also record a event.xref: https://github.com/karmada-io/karmada/issues/398

[2021-06-25 06:19] RainbowMango commented on #443
Yes, both event and status(or conditions) are necessary.

@qianjun1993 Thanks, I guess you mean #452.

[2021-06-25 07:47] algebra2k commented on #279
I think there is also a need to filter some bindings inside the scheduler based on the schedulerName.

[2021-06-25 07:50] RainbowMango commented on #279
Yes.  It is the second item in the list above, `karmada-scheduler should filter policies with this`

[2021-06-25 15:35] pigletfly commented on #467
/close

[2021-06-25 15:35] #467 closed

[2021-06-26 09:24] XiShanYongYe-Chang commented on #460
Maybe I can do this job.
/assign @XiShanYongYe-Chang

[2021-06-26 10:01] RainbowMango commented on #460
Which one would you like to take?

[2021-06-27 01:35] chengyh2go opened #474 "安装好karmada之后，如何加入一个已有的k8s集群"

[2021-06-28 01:18] #385 closed

[2021-06-28 01:42] XiShanYongYe-Chang commented on #460
EnsureWork() and retainServiceFields()

[2021-06-28 01:52] Garrybest commented on #463
How about discussing this issue at tomorrow meeting? @RainbowMango

[2021-06-28 02:11] RainbowMango commented on #463
We don't have a meeting tomorrow.

What you are talking about is the labels on `Manifest`, not on `Work`/`ResourceBinding`/`PropagationPolicy`, right?

/priority important-soon

[2021-06-28 02:20] Garrybest commented on #463
Right, this problem will be solved if the labels in `Manifest ` are moved into annotations.

[2021-06-28 02:34] RainbowMango opened #477 "e2e case keep failing after introduced cluster lifecycle controller"
**Which jobs are failing**:
e2e test

**Which test(s) are failing**:
The [namespace autoprovision](https://github.com/karmada-io/karmada/blob/e1db428290b535e1a49e722ebaa26659f996f64d/test/e2e/namespace_test.go#L89)
[code]

Also blocks #475
https://github.com/karmada-io/karmada/pull/475/checks?check_run_id=2927796598

**Since when has it been failing**:
After #454

**Reason for failure**:

**Anythi

[2021-06-28 02:41] RainbowMango commented on #477
cc @Garrybest Can you help to take a look?

You can reproduce it on your side by:
[code]

[2021-06-28 02:59] Garrybest commented on #477
Sure, let me take a look.

[2021-06-28 03:22] Garrybest commented on #477
How about testing #475 again? I found #476 has passed all tests. @RainbowMango

[2021-06-28 03:41] RainbowMango commented on #477
I re-tested #475 twice but all failed.
I can re-test it again.

[2021-06-28 04:10] RainbowMango commented on #477
The master CI failed again, but this time the failing case is `basic propagation testing`.
https://github.com/karmada-io/karmada/runs/2928252931

The #475 failed as well, and the failing case is `basic cluster propagation testing`.
https://github.com/karmada-io/karmada/pull/475/checks?check_run_id=2928266824

[2021-06-28 06:31] Garrybest commented on #477
I guess that the namespace `karmada-cluster`, where the lease is stored, has not been created in advance before. @RainbowMango

https://github.com/karmada-io/karmada/blob/e1db428290b535e1a49e722ebaa26659f996f64d/pkg/util/cluster.go#L15

[2021-06-28 08:13] pigletfly commented on #342
scenario: there is a third-party operator installed in a namespace , in both host cluster and member cluster.If the third-party operator is maintained, the namespace could be deleted.Then karama namespace controller will delete the operator namespace in the member cluster,which is not expected.

So I think we should provide a option.

[2021-06-28 11:56] likakuli commented on #389
There is a solution to use docker on macos: https://github.com/wenjunxiao/mac-docker-connector，it's easy to use.

[2021-06-29 04:27] kevin-wangzefeng commented on #344
According to the breakout discussion today, as for the `ReplicaSchedulingStategy` in `PropagationPolicy.Spec.Placement`, the structure discussed today would like following:

[code]

[2021-06-29 07:14] jrkeen commented on #474
I think you need to read README.

[2021-06-29 07:25] RainbowMango commented on #474
Please refer to [join a member cluster](https://github.com/karmada-io/karmada#2-join-member-cluster-to-karmada-control-plane).

Feel free to re-open if you have further questions.
/close

[2021-06-29 07:25] #474 closed

[2021-06-30 12:58] RainbowMango opened #481 "Test environment can't setup after GitHub Action upgrade"
**Which jobs are failing**:
e2e test

**Which test(s) are failing**:
All E2E tests.

**Since when has it been failing**:
I noticed that the `GitHub Action` just updated its `Virtual Environment` from `20210614.1` to `20210628.1`, the `hack/karmada-bootstrap.sh` will hanging there as mentioned by [this comments](https://github.com/karmada-io/karmada/pull/478#issuecomment-871221842).

**Reason for f

[2021-07-01 02:31] #477 closed

[2021-07-01 11:26] pigletfly opened #483 "Add status for PropagationPolicy and ClusterPropagationPolicy"
**What would you like to be added**:

add status field in PropagationPolicy and ClusterPropagationPolicy

**Why is this needed**:
As  `resourceDetector.Reconcile`  is run by AsyncWorker with a interval of time.Microsecond

https://github.com/karmada-io/karmada/blob/0941887e0599c8b7cabdd1b25c1926bf18d718fe/cmd/controller-manager/app/controllermanager.go#L114-L115

when we create a PropagationPolicy

[2021-07-01 12:24] pigletfly commented on #483
then it's possible to move reconcile login in detector back to PropagationPolicy controller.

[2021-07-01 13:30] RainbowMango commented on #483
[The code](https://github.com/karmada-io/karmada/blob/1a94afc7229de70b2f489f9da99c466ab0c3fd70/pkg/util/detector/detector.go#L137) is supposed to be called to reconcile the resource template change. Why it will be run multiple times? Especially when `PropagationPolicy` creating?

[2021-07-01 13:31] RainbowMango commented on #483
How about adding an agenda to the next meeting? It's not an urgent issue, right?

[2021-07-01 15:19] pigletfly commented on #466
Can we provide a compat matrix table?

[2021-07-02 01:16] RainbowMango commented on #481
There is an issue tracked by: https://github.com/actions/virtual-environments/issues/3673

[2021-07-02 06:51] likakuli commented on #414
/assign

[2021-07-02 07:11] jrkeen commented on #297
I will do this.

[2021-07-02 07:36] RainbowMango commented on #297
Hi @jrkeen
I appreciate you can help, but we are discussing a new API for this feature at #452.
That means the `ReplicaSchedulingPolicy` feature may be deprecated.

I don't want to waste your time, let's just hold for a while.

[2021-07-02 07:39] RainbowMango commented on #297
To reduce the noise, I'm going to close this issue.
/close

[2021-07-02 07:39] #297 closed

[2021-07-02 10:40] likakuli opened #486 "create cluster failed on macos because of the sed cmd"
**What happened**:

Failed to create cluster because there are several sed cmd in the shell script. On macos, the default sed is not the same as it in linux.

**What you expected to happen**:

All the script work successfully across platform.

**How to reproduce it (as minimally and precisely as possible)**:

./hack/local-up-karmada.sh

**Anything else we need to know?**:

**Environment**: MacOS
-

[2021-07-03 01:30] RainbowMango commented on #486
cc @mrlihanbo @lfbear

[2021-07-03 02:40] lfbear commented on #486
Got it, `sed` on macOS is the first block, it seems that we should slave solve all problems on macOS on schedule.

[2021-07-03 02:45] likakuli commented on #486
By the way, use sed -i'' -e s/old/new/g can work both on mac and linux.

[2021-07-03 15:41] #481 closed

[2021-07-05 01:09] #434 closed

[2021-07-05 04:10] RainbowMango opened #492 "[GoodFirst] replace wait.Poll with wait.PollImmediate from testing"
**Task description**:
We currently using `wait.Poll` to detect the expected condition, like:
https://github.com/karmada-io/karmada/blob/25f28f5006c6afc8a94ed2abebcca28353f7abca/test/e2e/namespace_test.go#L46

But [wait.Poll][1] always wait for the interval before the run of 'condition', that may slow down the testing, e.g.
[code]
From the logs above, we can see that [wait.Poll][1] consumed 5s for

[2021-07-05 06:17] RhnSharma commented on #492
I would like to take this one.

[2021-07-05 06:17] RhnSharma commented on #492
/assign

[2021-07-05 10:20] #492 closed

[2021-07-06 08:46] 1029219814 opened #500 "请问如何使用Karmada的控制平面直接在子集群中根据yaml创建pod"
**What would you like to be added**:

**Why is this needed**:
目前业务，想要直接通过karmada在多个集群中来管理创建，删除，查询pod。网上搜索了下文档，以及使用了下demo，都是通过polic来分发deploy。
我通过yaml，直接在控制平面中创建pod。
[code]

pod的状态一直是pending
![image](https://user-images.githubusercontent.com/16161403/124571702-9e692780-de7a-11eb-80f1-620555562942.png)
然后我参考demo，弄了一个propagationpolicy，发现也并没有分发下去。
[code]

[2021-07-06 10:35] #500 closed

[2021-07-07 04:41] qianjun1993 opened #505 "Do not delete the work when PropagationPolicy is deleted"
**What would you like to be added**:
Do  not delete the work in member clusters when the related propagationPolicy is deleted
**Why is this needed**:
The users may delete the propagationPolicy (or even the crd) and then they may find that the all the related works in member are deleted. It may be unexpected 。

So I think, that the work may not be deleted when the  propagationPolicy is missing， and

[2021-07-07 10:40] pigletfly commented on #483
yes,It's not an urgent one.

[2021-07-08 05:13] algebra2k commented on #505
I think we should provide a strategy where the user chooses whether to cascade the deletion when deleting a propagation.

[2021-07-08 05:15] algebra2k commented on #486
I had the same problem and I have fixed it

[2021-07-08 06:11] RainbowMango commented on #486
How?

[2021-07-08 06:17] algebra2k commented on #486
Just like:
[code]
I was thinking that this could be extracted as a util function, such as `util::sed $1 $2`.

[2021-07-08 08:34] jrkeen opened #507 "Resources have not been updated after the overridepolicyis updated."
**What happened**:
1. Current environment.
[code]

2. Updated overridepolicy in Karmada.
[code]

**Anything else we need to know?**:
Is this the design of karmada itself ?
I think the deployment should update when updated overridepolicy.

**Environment**:
- Karmada version: latest

[2021-07-08 14:23] #345 closed

[2021-07-08 15:37] Garrybest opened #510 "How to deploy a high-availability karmada control plane?"
Note that when karmada is used in production environment it is neccessary to deploy a high-availability karmada control plane with at least 3 karmada-apiservers and etcds. How to deploy this control plane? Just modify its deployment's replica to 3?

[2021-07-09 09:02] pigletfly opened #517 "Propose to support pause PropagationPolicy manually"
**What would you like to be added**:
add pause field in PropagationPolicy spec

**Why is this needed**:

[2021-07-10 08:08] Garrybest opened #521 "Scheduler: Cluster Accurate Replica Estimator For Adjusting Replicas"
# Backgroud
Now karmada-scheduler does not know whether the member cluster has enough resource that the workload requests for. The field `ResourceSummary` in CR `Cluster` can only represent the total resource of one cluster, but cannot be a precise judgement for a workload scheduling. Actually, only the karmada-agent in cluster `PULL` mode, or the karmada-controller-manager in cluster `PUSH` mode

[2021-07-12 06:32] lfbear opened #522 "Error in setup e2e test environment"
**What happened**:
Some errors occurred in the CI workflow: 'setup e2e test environment'

https://github.com/karmada-io/karmada/runs/3042846907#step:4:231
[code]

**What you expected to happen**:

No similar errors occurred

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version: v0.6.0
- Others:

[2021-07-12 06:33] lfbear commented on #522
/assign

[2021-07-12 06:39] lfbear commented on #522
After merging member clusters Kube config to one file, it's no longer to use the 'file existing' way to judge whether the member cluster has been created.

[2021-07-12 07:19] RainbowMango commented on #522
I don't understand why the failure is incidental?

[2021-07-12 07:28] lfbear commented on #522
Me too, it seems the first time. Visually the 'member3-cluster' docker startup slowly than before

[2021-07-12 07:49] mrlihanbo commented on #522
The failure is incidental because we check the status of clusters after `make images`. In most scenario， there is enough time to create a kind cluster.

[2021-07-13 01:14] #522 closed

[2021-07-13 05:41] jrkeen commented on #505
I think the strategy might be similar to the k8s DeleteOptions.
Here's an example that orphans dependents:
[code]

[2021-07-14 13:54] pigletfly commented on #517
/close

[2021-07-14 14:39] mrlihanbo opened #527 "failed to create job"
**What happened**:
execution controller failed to dispatch job.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
job template:
[code]
propagation policy:
[code]

[2021-07-14 15:38] pigletfly commented on #517
/reopen

[2021-07-15 01:24] RainbowMango commented on #517
Can you share your use case?

[2021-07-15 02:02] RainbowMango commented on #460
/kind cleanup

[2021-07-15 03:47] RainbowMango commented on #507
Sorry for let this sit so long. @XiShanYongYe-Chang can you help to confirm this?

[2021-07-15 04:01] RainbowMango commented on #342
It makes sense to me. Are you going to propose a flag for this?

[2021-07-15 04:05] RainbowMango commented on #433
I think the issue has been resolved.
/close

[2021-07-15 04:05] #433 closed

[2021-07-15 06:11] XiShanYongYe-Chang commented on #507
Ok, let me have a look.

[2021-07-15 12:37] RainbowMango commented on #521
The `cluster-resource-prescheduler` is a goroutine for a specified cluster, right? Each `cluster-resource-prescheduler` holds/manages the resource details information, right?

[2021-07-15 12:38] RainbowMango commented on #521
cc @kevin-wangzefeng @GitHubxsy

[2021-07-15 12:44] Garrybest commented on #521
Not exactly, it could be an independent module separated from the scheduler, or an goroutine intergrated into `karmada-agent`, as long as the scheduler could request.

Indeed, it is the eyes of a cluster.

[2021-07-15 13:29] XiShanYongYe-Chang commented on #507
Hi, @jrkeen it is a code bug.

When overridepolicy has changed, it will be work on related resource template, and `execution-controller` will update it in:

https://github.com/karmada-io/karmada/blob/764cbbc87641575164b3e2a5cd9a1d192d5c0022/pkg/util/objectwatcher/objectwatcher.go#L100

Here will retain some fields of `cluster object` to `desire object`:

https://github.com/karmada-io/karmada/blob/

[2021-07-16 01:24] XiShanYongYe-Chang commented on #507
We can merge the annotation from `cluster object` and `desire object`.

There is still a flaw after the merger, but I think it's acceptable:

After updated overridepolicy in Karmada, deployment will update in member cluster. There will add a new annotation key-value `bb: cc` in deployment, but the old annotation key-value `aa: bb` still exist. Just like this:

[code]

[2021-07-16 01:25] XiShanYongYe-Chang commented on #507
/assign

[2021-07-16 01:28] RainbowMango commented on #412
Set `GOPATH` is a mandatory prerequisite. I can't reproduce on my side.
Can you help share more details reproduce steps?

[2021-07-16 01:38] gy95 commented on #412
`-o, --output-base string Output base; defaults to $GOPATH/src/ or ./ if $GOPATH is not set. (default "/home/xxx/src/go/`

on my machine, `GOPATH` doesn't exist in env variables(file `/etc/profile`), so `make verify` will fail, And after i run this command `export GOPATH=/root/go`, `make verify` succeed.

So we should export `GOPATH` env variable in our source codes

[2021-07-16 01:43] gy95 commented on #412
And according to the golang official docs, https://golang.org/doc/install, Set `GOPATH` as env variable is not enforced

[2021-07-16 02:26] algebra2k commented on #521
I think this scenario can be made more generic, similar to kubelet admission to double-check scheduling decisions.

[2021-07-16 03:49] jrkeen commented on #507
Thanks.

[2021-07-16 04:07] yanweininenine opened #532 "Deployment cannot be scheulded"
**What happened**:
Nginx deploy cannot be scheulded
# kubectl get deploy
NAME    READY   UP-TO-DATE   AVAILABLE   AGE
nginx   0/4     0            0           16h
# kubectl get pp -o yaml
  spec:
    placement:
      clusterAffinity:
        clusterNames:
        - k8s2
    resourceSelectors:
    - apiVersion: apps/v1
      kind: Deployment
      name: nginx
      namespace: default
# kubectl get

[2021-07-16 04:08] yanweininenine commented on #532
# kubectl logs karmada-scheduler-779fd9c778-7zrcr -n karmada-system
I0714 07:04:22.255182       1 scheduler.go:164] Starting karmada scheduler
I0715 10:04:00.526863       1 scheduler.go:569] Found cluster(k8s2) failure and failover flag is true
I0715 10:04:00.526957       1 scheduler.go:602] Start traveling all ResourceBindings
I0715 10:04:00.526970       1 scheduler.go:622] Start traveling all Cl

[2021-07-16 04:09] yanweininenine commented on #532
# kubectl logs karmada-controller-manager-bf8cc4f75-p95gc -n karmada-system
W0716 04:02:42.132926       1 warnings.go:70] extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress
E0716 04:02:43.618927       1 reflector.go:138] k8s.io/client-go/dynamic/dynamicinformer/informer.go:91: Failed to watch *unstructured.Unstructured: failed to list *unstr

[2021-07-16 04:46] yanweininenine commented on #532
After deleting the  kcm and ks pod
# kubectl delete pod karmada-controller-manager-bf8cc4f75-p95gc -n karmada-system
pod "karmada-controller-manager-bf8cc4f75-p95gc" deleted
# kubectl delete pod karmada-scheduler-779fd9c778-7zrcr -n karmada-system
pod "karmada-scheduler-779fd9c778-7zrcr" deleted

The deploy can be scheduled normaly
# kubectl get deploy -o wide
NAME    READY   UP-TO-DATE   AVAILABL

[2021-07-16 06:22] pigletfly commented on #342
yes, I'd like to add a flag, the flag will used in eventfilter and namespace controller.

[2021-07-16 06:45] RainbowMango commented on #532
I'm thinking why you delete the `karmada-cluster` namespace on member cluster and then `delete cluster in karmada`.
Are you doing the thing `karmadactl unjoin`?

[2021-07-16 07:52] karmada-bot opened #535 "Enable organization-wide two-factor authentication"
We are going to enable [two-factor authentication][1] in the karmada-io organization at the end of Jan 2022.

All members are required to [config two-factor authentication][2]. After the administrator requires the use of two-factor authentication for `karmada-io` organization, **members who do not use two-factor authentication will be removed from the organization`**.

Members who havn't enable TF

[2021-07-16 07:58] #412 closed

[2021-07-16 08:06] pigletfly opened #536 "Start only corresponding InformerManager when SkippedPropagatingAPIs is set"
**What happened**:
now karmada start InformerManager in

https://github.com/karmada-io/karmada/blob/9e822a74ca5349171a740075a790abe4f493166f/pkg/util/detector/detector.go#L115-L127

if SkippedPropagatingAPIs flag, then the related resources InformerManager shouldn't start.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2021-07-16 08:06] pigletfly commented on #536
/assign

[2021-07-16 09:19] RainbowMango commented on #342
I think the flag should be similar to `--skipped-propagating-apis`.

// Comma-separated namespaces that should be skipped from propagating in addition to the default skipped namespaces(namespaces prefixed by `kube-` and `karmada-`).
--skipped-propagating-namespaces string

@kevin-wangzefeng How do you think?

[2021-07-17 11:56] pigletfly opened #537 "bump go version to 1.15"
**What would you like to be added**:

**Why is this needed**:

[2021-07-19 03:17] RainbowMango commented on #486
/assign @lfbear
As @lfbear sent a PR for this.

[2021-07-19 03:45] chestarss opened #539 "install karmada on exist cluster error"
**What happened**:
in my mac pc, i have kubeconfig and context

`./remote-up-karmada.sh ~/.kube/config k8s-test
Generating a 2048 bit RSA private key
.............+++
..............................+++
writing new private key to '/Users/zl/.karmada/server-ca.key'
-----
2021/07/19 11:41:40 [INFO] generate received request
2021/07/19 11:41:40 [INFO] received CSR
2021/07/19 11:41:40 [INFO] generating

[2021-07-19 03:52] lfbear commented on #539
Adapt for macOS in local(kind) environment is processing https://github.com/karmada-io/karmada/pull/538

[2021-07-19 05:29] lfbear opened #540 "Proposal: Improve OverridePolicy and introduce CommandOverrider"
**What would you like to be added**:
- add a `CommandOverrider` to support the differentiation of container's command and args, like `ImageOverrider` not implementation by `Plaintext`
- ~~Integrate `TargetCluster` and `Overriders` into a group in OverridePolicy to avoiding too many 'Overriders' CRs for one workload(application)~~ --> move to #603

**Why is this needed**:

- Declare command differe

[2021-07-19 05:35] lfbear commented on #540
/assign

[2021-07-19 05:54] lfbear commented on #540
CommandOverrider and ArgsOverrider
[code]

[2021-07-19 06:04] lfbear commented on #540
[code]

[2021-07-19 08:16] chestarss opened #541 "join member cluster can not get cluster version"
**What happened**:

`karmadactl join k8s-test --cluster-kubeconfig=/root/.kube/config --cluster-context k8s-test -v 5`
[code]

[2021-07-19 08:25] chestarss commented on #541
karmada-apiserver error log

[code]

[2021-07-19 08:43] chestarss commented on #541
貌似是这里crd定义改了，但是controller-manager 还是用的老版本处理
https://github.com/karmada-io/karmada/commit/d5ee4e64cd80ea41f5205d7df3e0006fe9becc1c#diff-e4d4a28cd7f463da4636545f0930285b033b17e546eb4e11b95aebb80fecae4b

[2021-07-19 08:54] chestarss commented on #541
当我用老版本的cluster crd定义后，cluster版本号取到了

[2021-07-19 08:56] #507 closed

[2021-07-19 09:30] XiShanYongYe-Chang commented on #507
@jrkeen , the fix code #531 has been merged,  you can ues the newest code have a try.

[2021-07-19 10:23] jrkeen commented on #507
OK, I will do it.

[2021-07-19 12:30] RainbowMango commented on #540
We can have a talk at tomorrow's meeting.

[2021-07-19 13:07] pigletfly opened #543 "failed to update resourcebinding status"
https://github.com/karmada-io/karmada/blob/aa5abf29e271ef7c0b76dad4f95d02b41d36a64d/pkg/controllers/binding/binding_controller.go#L95-L102

https://github.com/karmada-io/karmada/blob/aa5abf29e271ef7c0b76dad4f95d02b41d36a64d/pkg/controllers/binding/common.go#L17-L34

**What happened**:

when binding controller create work object ,then aggregates work status into resourcebinding.The work object may

[2021-07-20 11:29] #486 closed

[2021-07-21 01:37] RainbowMango commented on #537
As far as I know, there are no clear rules for people to select the Golang version.

I think we can follow kubernetes.
We are using kubernetes@v1.20.x which [depends on Golang 1.15](https://github.com/kubernetes/kubernetes/blob/8a62859e515889f07e3e3be6a1080413f17cf2c3/build/dependencies.yaml#L100-L102).

[2021-07-21 02:36] RainbowMango commented on #540
cc @kevin-wangzefeng

[2021-07-21 02:57] lfbear commented on #539
@chestarss Could you try it again using the code of origin/master

[2021-07-21 03:16] RainbowMango commented on #537
/help

[2021-07-21 03:19] RainbowMango commented on #541
We have updated the CRD at the last release. Can you use v0.7 and have a try.

[2021-07-21 03:24] RainbowMango commented on #383
There is nothing to do with this issue, right? @Garrybest

[2021-07-21 03:25] RainbowMango commented on #414
/close
in favour of https://github.com/karmada-io/karmada/pull/485.

[2021-07-21 03:25] #414 closed

[2021-07-21 03:26] RainbowMango commented on #411
@vincent-pli any comments or can we close this issue now?

[2021-07-21 03:44] wuzhengxuan commented on #451
如果在karmada创建了deployment，从karmada获取成员集群所有pod的信息，后续是否有考虑支持呢

[2021-07-21 03:47] RainbowMango commented on #451
不仅pod信息，成员集群所有资源信息都会提供查询接口或组件，相关设计正在进行中。如果有任何意见或建议都可以提出来。

针对Pod，可以有更具体的支持，比如查看运行日志，远程登入等。

[2021-07-21 07:27] Garrybest commented on #383
Right, more work may be done in #521, this issue could be closed.

[2021-07-21 07:27] #383 closed

[2021-07-21 07:51] chestarss commented on #539
it works

[2021-07-21 07:52] RainbowMango commented on #539
Thanks.
/close
Feel free to open an issue if you have any further questions. :)

[2021-07-21 07:52] #539 closed

[2021-07-21 08:10] chestarss opened #548 "is there have dashboard for karmada-apiserver"
is there have dashboard for karmada-apiserver
**What would you like to be added**:

**Why is this needed**:

[2021-07-21 09:40] pigletfly commented on #342
They are totally different. watchedNamespaces will only watch specific namespaces, skipped-propagating-namespaces will skip these namespaces.In my case, I want to protect those namespaces used by operators, so I prefer `skipped-propagating-namespaces`.

[2021-07-22 11:06] #342 closed

[2021-07-22 11:55] RainbowMango commented on #209
restrict resource name might not a good idea.
/close
in favor of #463

[2021-07-22 11:55] #209 closed

[2021-07-22 12:01] RainbowMango commented on #548
I don't know if there is any dashboard for `kube-apiserver`. If there is one, it can be used for `karmada-apiserver` too.

Do you know any dashboard? @chestarss

[2021-07-22 12:05] RainbowMango commented on #510
I guess it would be extremely similar to `kube-apiserver`.

[2021-07-22 12:06] RainbowMango commented on #317
@MesaCrush any progress?

[2021-07-23 06:09] garfcat opened #553 "Once resource be deleted, the object in the waiting list should be remove."
**What happened**:
when resource be deleted, the object still in the waiting list

**What you expected to happen**:
Once resource be deleted, the object in the waiting list should be remove.

**How to reproduce it (as minimally and precisely as possible)**:
1. create confgimap , we can see manager log:
[code]
2. delete resource , the log:
[code]
3.  create a propagationpolicy for configmap resourc

[2021-07-23 06:28] RainbowMango commented on #553
How to reproduce it?

[2021-07-23 06:42] chestarss commented on #548
我尝试过用k8s dashboard, 标准的部署都是和apiserver在一个集群里部署的，而karmada-apiserver其实没有node,无法直接在控制面中部署，我也尝试在host集群里部署，然后改dashboard所连的apiserver为karmada-apiserver, 目前还没走通有些报错，可能和rbac权限有关

[2021-07-23 06:49] RainbowMango commented on #548
应该是这样。我还没试过。报什么错，可以发出来看下。

[2021-07-23 06:51] garfcat commented on #553
I added a description above

[2021-07-23 07:48] #510 closed

[2021-07-23 07:50] XiShanYongYe-Chang commented on #553
hi @garfcat , do you have any plan to fix it.

[2021-07-23 08:09] garfcat commented on #553
try to remove object in the waiting list  when object not found , is that ok ?

like this:

[code]

[2021-07-23 08:10] RainbowMango commented on #553
It makes sense to me. Would you like to fix it? @garfcat

[2021-07-23 09:08] garfcat commented on #553
ok

[2021-07-23 09:08] garfcat commented on #553
/assign

[2021-07-24 07:26] weilaaa commented on #540
Hi, there. Sincerely.

`OverridePolicy` shown above seems not enough, think about the question and the situation below:

**Question:** What if I try to override a bunch of resources to some different `TargetCluster `?

**situation:** I just want to use only one `OverridePolicy` to override a bunch of resources, instead of combining a bunch of `OverridePolicy` to achieve the same effect; If so, we

[2021-07-24 07:28] weilaaa commented on #540
A hypothesis：
[code]

[2021-07-26 04:10] #553 closed

[2021-07-26 06:43] RainbowMango commented on #540
@weilaaa such an interesting approach! The difference between your proposal and @lfbear's is:
- @lfbear's: more focus on `resource`
- @weilaaa's more focus on `overriders` which can be shared by different resources.

[2021-07-26 06:53] RainbowMango commented on #540
@lfbear For the `CommandOverrider` and `ArgsOverrider`, can you give some samples? I don't know how to use the `replaceMatches`:
[code]

[2021-07-26 07:26] XiShanYongYe-Chang opened #558 "E2E run failed occasionally."
E2E run failed, It happens occasionally. The error is:

[code]

but we can find from the log of `karmada-controller-manager`：

[code]

The test crd has been correctly propagated to member1, so maybe we can add waiting logic in:

https://github.com/karmada-io/karmada/blob/b9912a6f227f205ef91e7cf6cf6662baeff3d98b/test/e2e/scheduling_test.go#L266-L270

We can do this thing in annother PR.

_Originall

[2021-07-27 09:14] Garrybest opened #559 "Deploy `karmada-agent` in `karmada-host`"
What about deploying `karmada-agent` in `karmada-host`? Now it is deployed in member cluster, which means it is managed by member cluster. It has two problems:

1. The agents are not managed by a cluster so it is hard to ops, e.g., upgrading and monitoring centrally.
2. The agents may be evicted when the member cluster is busy.

So what about deploying it in `karmada-host`, which is a independent

[2021-07-27 09:46] RainbowMango commented on #559
That's an interesting approach, as far as I know, there is no restriction about where the `karmada-agent` should be deployed.
The `karmada-agent` is essentially a controller, it should work as far as it can reach both the member cluster and karmada control plane.

Looking forward to hearing your feedback, I think it totally doable.

[2021-07-27 10:11] Garrybest commented on #559
Cool, I got you. Now it is deployed with `in-cluster` mode.
https://github.com/karmada-io/karmada/blob/a1206fec251edf91799c6ea2fbcd74798321ef32/artifacts/agent/karmada-agent.yaml#L18
We could specify config by using "--kubeconfig". So indeed everything has been done. Thanks for your
answer. @RainbowMango
https://github.com/karmada-io/karmada/blob/a1206fec251edf91799c6ea2fbcd74798321ef32/pkg/util/m

[2021-07-27 10:15] #559 closed

[2021-07-27 10:45] lfbear commented on #540
OK, let's assume that there is a deployment segment like this:
[code]
If I want to replace `--a=1` to `--a=2` and `--b=2` to `--b=3` in command, I can do like this:
[code]

[2021-07-27 13:25] RainbowMango commented on #540
Yeah got it. What if there is no `--a=1` in the `commands`? Does the `value` still will be added to the `commands`?

[2021-07-27 13:30] RainbowMango commented on #540
Maybe this is the answer. But can we give a more detailed comment?

[2021-07-28 03:39] XiShanYongYe-Chang commented on #558
/assign

[2021-07-28 12:59] #558 closed

[2021-07-28 23:46] vincent-pli commented on #411
Sure

[2021-07-28 23:46] #411 closed

[2021-07-29 02:58] lfbear commented on #540
@RainbowMango I updated the comment and added an example

[2021-07-29 07:53] RainbowMango commented on #505
We need a more detailed solution. Sounds good to me.
Looking forward to someone who can lead this feature.

[2021-07-29 09:18] #463 closed

[2021-07-29 09:22] jrkeen commented on #505
Add "PlacementRetained" in PropagationSpec.
[code]
When resources are deleting in karmada, work will judge whether to delete resources in the member cluster according to PlacementRetained.
Add annotations in work similar to resourcebinding.
![image](https://user-images.githubusercontent.com/39866845/127465218-7756e1cd-7d2e-47e0-b816-52bbce001c28.png)
At present, we have implemented and used.

[2021-07-30 02:53] RainbowMango opened #566 "[Failing Test]: timed out waiting for the condition on pods/etcd-0"
**Which jobs are failing**:
https://github.com/RainbowMango/karmada/runs/3190349297

**Which test(s) are failing**:
setup e2e environment

**Since when has it been failing**:
After #509
But I don't think it is caused by this PR.

**Reason for failure**:
[code]

**Anything else we need to know**:
- The timeout is (200s*30(about 1h30m)) too long, maybe we can decrease to 5min.
- When timeout, the po

[2021-07-30 03:59] RainbowMango commented on #566
The GitHub action just updated the virtual environment from [20210718.1](https://github.com/karmada-io/karmada/runs/3188273689?check_suite_focus=true#step:1:8) to [20210726.1](https://github.com/karmada-io/karmada/pull/564/checks?check_run_id=3197744985#step:1:8).

[2021-07-30 08:20] Garrybest opened #571 "scheduler: score plugin does not work"
**What happened**:
Score plugin does not work, the plugin list is nil. Here is the bug code.
https://github.com/karmada-io/karmada/blob/3a8a0afa0de6fccf42aa7cd48c8048b587cb052d/pkg/scheduler/framework/runtime/framework.go#L42-L48

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada vers

[2021-07-30 09:10] #566 closed

[2021-07-30 09:35] RainbowMango commented on #505
@jrkeen
Thanks for the awesome proposal. You want to `retain`  the resources from `part` of the clusters.
Is that your use case?

[2021-07-30 09:39] jrkeen commented on #505
Yes, I hope to choose clusters to retain according to policy.

[2021-08-02 02:02] RainbowMango commented on #571
We don't have a score plugin by now. But if you add a new score plugin at
https://github.com/karmada-io/karmada/blob/df355a2267613127ddc0039bf4b7f4b39b642249/pkg/scheduler/framework/plugins/registry.go#L10-L17

and here
https://github.com/karmada-io/karmada/blob/df355a2267613127ddc0039bf4b7f4b39b642249/pkg/scheduler/scheduler.go#L104

It should work, isn't?

[2021-08-02 02:03] RainbowMango commented on #571
/assign @Garrybest
as he has sent a PR for this.

[2021-08-02 02:28] Garrybest commented on #571
Right, this plugin should work when someone adds a new score plugin, however it does not work for now. Actually, I think `clusteraffinity`, `tainttoleration` and `apiinstalled` can be considered as a score plugin because they implement `Score` interface. Maybe they should not implement it if they have nothing to do with scoring. @RainbowMango

[2021-08-02 03:09] RainbowMango commented on #571
Oh, I get your point, the thing is if a plugin implemented both `ScorePlugin` and `FilterPlugin`, it will be treated as a `FilterPlugin` because here:
https://github.com/karmada-io/karmada/blob/c971b0b6140e97a198c531ef267d19a1d779ef97/pkg/scheduler/framework/runtime/framework.go#L42-L48

Here is a  mutually exclusive logic(`if-else`) not `if-if`.

Let me think about it.

[2021-08-02 03:49] RainbowMango commented on #505
Why? What kind of workload you are propagating? I wonder if there is a particular reason for that.

[2021-08-02 03:53] algebra2k commented on #505
My understanding is that the purpose of ClusterRetain is to provide the user with an option to select some clusters not to delete workloads created by karmada when deleting a propagation, either by label selector or some other method.

[2021-08-02 04:03] jrkeen commented on #505
Yes, your idea fits in with mine.

[2021-08-02 08:34] pigletfly opened #575 "Add more info in resourcebinding status"
**What would you like to be added**:
add `synced` and `message` in resourcebinding status, an example

[code]

`synced` is added so that we can know whether the workload is distributed correctly, if failed `message` tells why it fails.Now work object has workload status from member cluster ,but work object is stored in karmada-es-CLUSTERNAME, if we want get status from work object ,we have to know

[2021-08-02 08:38] RainbowMango commented on #575
I've been thinking about it recently, are you available for tomorrow's meeting?

[2021-08-02 08:39] RainbowMango commented on #575
Add this to v0.8 milestone as I got a lot of feedback from users/contributors that they want it.

[2021-08-02 11:46] RainbowMango commented on #571
That depends on how we organize the plug-ins. I can't see significant benefits, IMO, we can consider it when we have a real score plug-in.

[2021-08-02 11:56] #571 closed

[2021-08-02 12:11] pigletfly commented on #536
/kind cleanup

[2021-08-02 12:39] RainbowMango commented on #536
Sorry, I missed this issue.

What if the user put Karmada's API on the `SkippedPropagatingAPI`?

[2021-08-02 13:00] pigletfly commented on #536
Karmada APIs shouldn't be added in SkippedPropagatingAPI, we can add this to validation.

[2021-08-02 13:29] RainbowMango commented on #536
I don't think it's a good idea. It'll break the meaning of SkippedPropagatingAPI .

Yeah, SGTM. What is the benefit of this? performance?

[2021-08-02 14:39] pigletfly commented on #536
It will start less informerFactory, then consume less memory.

[2021-08-03 01:50] RainbowMango commented on #505
@jrkeen @qianjun1993 @phantooom let's have a chat at today's meeting, ok? I know you all have a solution for this.

[2021-08-03 06:43] RainbowMango commented on #505
/assign @qianjun1993

[2021-08-03 06:48] RainbowMango commented on #384
/assign @Garrybest

[2021-08-03 06:49] RainbowMango commented on #279
/assign @qianjun1993

[2021-08-03 07:21] phantooom commented on #279
/assign @phantooom

[2021-08-05 09:06] weilaaa opened #581 "Feature: skip disabled gvr when new informers"
**What would you like to be added**:

We are supposed to skip new informer for the resource which gvr is disabled by `SkippedResourceConfig`

[code]
**Why is this needed**:

To improve performance, disabled resources do not need to create informers for them,

[2021-08-05 09:11] weilaaa commented on #581
I had tried for it, looking forward to reply.

[2021-08-05 11:32] lonelyCZ opened #583 "Member cluster compatibility matrix diagram"
**What would you like to be added**:
I want to see the member cluster compatibility matrix diagram in document.

**Why is this needed**:
I have two v1.18.5 kubernetes clusters, can they join into the karmada plane? And there should be exact compatibility matrix diagram in document.

[2021-08-06 02:19] yanlingsishao opened #585 "wait service external IP timeout, please check the load balancer IP of service: karmada-apiserver"
use remote-up-karmada.sh

wait the external ip of karmada-apiserver ready
ERROR: wait service external IP timeout, please check the load balancer IP of service: karmada-apiserver

![image](https://user-images.githubusercontent.com/28887713/128445734-3c889845-379c-4ae4-98f5-67fe5f357c10.png)

[2021-08-06 04:23] #585 closed

[2021-08-06 09:28] Garrybest opened #587 "Add a mcs example"
**What would you like to be added**:

There is no related docs to describe how to use mcs. What about adding a mcs example? I wonder know how to use it, maybe somebody else has the same confusion as me.

[2021-08-06 09:53] kevin-wangzefeng commented on #587
/assign @XiShanYongYe-Chang

[2021-08-06 15:48] #537 closed

[2021-08-07 04:05] XiShanYongYe-Chang commented on #587
Ok, let me sort it out.

[2021-08-07 08:07] #466 closed

[2021-08-09 02:08] RainbowMango commented on #344
@lynnsong @qianjun1993
Is there anything else we should do about this issue?

[2021-08-09 11:27] RainbowMango commented on #575
Can you clarify the `synced` status? Is it equivalent to [WorkApplied](https://github.com/karmada-io/karmada/blob/2cefb24ecf930764522d11ca588a9b50b24dc963/pkg/apis/work/v1alpha1/work_types.go#L102)?

Just echo my idea here:
[code]

[2021-08-09 14:51] pigletfly commented on #575
if there is a error such as 'Failed to apply all manifests (0/1): resource(kind=Deployment, demo)already exist in cluster qa-cloud-u02 but not managed by karamda', `synced ` will be false, the message is error why it fails.

[2021-08-09 15:24] pigletfly opened #593 "Adopt existed workload in member cluster"
**What would you like to be added**:

Now if there is already a existed workload in member cluster, and the PropagationPolicy matched the workload, karmada will do nothing, because the existed workload (maybe manually created) doesn't have specific karmada labels.

I think we can provide a field to tell karmada if there is a existed workload in member cluster, should it be adopted or just leave it

[2021-08-10 03:13] RainbowMango commented on #575
Yeah. I think we can do this now.
Would you like, or have time, to take this?

[2021-08-10 04:53] pigletfly commented on #575
will take a shot on this

[2021-08-10 04:53] pigletfly commented on #575
/assign

[2021-08-11 01:29] #536 closed

[2021-08-11 01:29] #581 closed

[2021-08-11 07:33] 1029219814 opened #596 "请问有两个相同的CLUSTER_NAME的集群，该如何加入karmada"
**What would you like to be added**:

**Why is this needed**:

[2021-08-11 08:22] 1029219814 commented on #596
但是我修改了config中的name之后，get cluster连不上刚加入的集群，如果不修改config，会查找不到该name

[2021-08-11 10:09] pigletfly commented on #593
duplicate of https://github.com/karmada-io/karmada/issues/419

[2021-08-11 10:10] pigletfly commented on #419
Brilliant idea.I think we can provide a field to tell karmada if there is a existed workload in member cluster, should it be adopted or just leave it alone.

[2021-08-11 15:13] #596 closed

[2021-08-12 07:28] yanlingsishao opened #599 "请问如何跨集群服务发现？？？"
集群A和集群B，集群A有一套业务，集群B也有一套业务，怎么样在B可以访问到A

[2021-08-12 09:14] #344 closed

[2021-08-12 09:16] lynnsong commented on #344
no more, i will be closed it

[2021-08-12 12:41] RainbowMango commented on #527
/assign @mrlihanbo
As he has filed a PR for this. @592

[2021-08-13 07:46] lfbear opened #602 "Karmada adapters `ServiceAccount`"
**What would you like to be added**:

Karmada working well for Kind `ServiceAccount` without setting `secrets`

**Why is this needed**:

It is now creating `secret` continually at member clusters, the `ServiceAccount` resource will always retain.

[2021-08-13 10:11] lfbear opened #603 "Proposal: Improve TargetCluster and Overriders in OverridePolicy"
**What would you like to be added**:
- If there needs override for a resource, I hope that can be described in only one CR
- I can define `TargetCluster` / `Overriders` separately and custom combination them
- expandable `overriders` across resources  if possible (https://github.com/karmada-io/karmada/issues/540#issuecomment-886013591)

**Why is this needed**:

**background:**
   We have many work

[2021-08-13 10:18] lfbear commented on #603
[code]

[2021-08-13 10:23] lfbear commented on #603
/assign

[2021-08-13 10:25] #527 closed

[2021-08-13 11:49] RainbowMango commented on #279
Hi @phantooom How's it going? Do you need help?
We are going to cut a new release next week, I wonder if this feature would be included.

[2021-08-14 02:27] #575 closed

[2021-08-16 07:26] JackZxj opened #605 "Avoid unnecessary scheduling to host clusters"
**What would you like to be added**:
Do you plan to avoid unnecessary scheduling to host clusters?
For example：
I created a deployment on cluster1 and cluster2, but I found that an additional deployment was created on the host cluster.

**Why is this needed**:
The deployment on host cluster is unexpected and unnecessary.

[2021-08-16 07:47] RainbowMango commented on #605
The Karmada scheduler schedules workload according to a PropagationPolicy or ClusterPropagationPolicy, it never take `host` as a default cluster.

I guess you haven't deployed `karmada-apiserver` in your host cluster and re-used the `kube-apiserver` in the `host`.

[2021-08-16 08:08] magnate3 opened #606 "ERROR: wait service external IP timeout, please check the load balancer IP of service: karmada-apiserver"
**What happened**:

hack/remote-up-karmada.sh ~/.kube/config kubernetes-admin@kubernetes
Apply dynamic rendered apiserver service in /tmp/tmp.IgJEX4iVVL/karmada-apiserver.yaml.
deployment.apps/karmada-apiserver created
service/karmada-apiserver unchanged
wait the karmada-apiserver ready...
pod/karmada-apiserver-6c77c684fb-kt47k condition met
wait the external ip of karmada-apiserver ready...
wait

[2021-08-16 08:08] magnate3 commented on #606
solve the problem by this way:
env CLUSTER_IP_ONLY=true hack/remote-up-karmada.sh ~/.kube/config kubernetes-admin@kubernetes

[2021-08-16 08:25] JackZxj commented on #605
I didn't notice that during the previous test. And I retested it just now. It really won't be deployed as you said. Maybe I  accidentally deployed the wrong one when I didn't know, which led to my misunderstanding.

Thanks for your answer!

[2021-08-16 08:25] #605 closed

[2021-08-16 08:28] RainbowMango commented on #605
/remove-kind feature
/kind question

[2021-08-16 11:48] #384 closed

[2021-08-17 02:33] yanlingsishao opened #612 "请问如何分发CRD资源"
1、是否支持分发crd
2、是否支持分发crd下的资源

这两种我直接用PropagationPolicy测试都不成功

[2021-08-17 02:55] RainbowMango opened #614 "flake: propagation with taint and toleration testing"
#### Which jobs are flaking:
E2E
https://github.com/karmada-io/karmada/runs/3346097576

#### Which test(s) are flaking:
[Fail] propagation with taint and toleration testing Deployment propagation testing [BeforeEach] deployment with cluster tolerations testing
/root/actions-runner/_work/karmada/karmada/test/e2e/tainttoleration_test.go:81

#### Reason for failure:
[code]

#### Anything else we need

[2021-08-17 02:59] RainbowMango commented on #612
支持的。可以把你操作过程和捕获到的日志信息贴出来。

[2021-08-17 03:11] RainbowMango commented on #614
/kind flake

[2021-08-17 03:12] yanlingsishao commented on #612
[code]
1、这里面有一个我自定义的crd dewebs.myapp.ops.com，首先我先针对crd进行分发
[code]
针对crd的分发是失败的
![image](https://user-images.githubusercontent.com/28887713/129657252-a8a8f339-320a-41c2-bfde-f1261743fb89.png)

2、然后我针对crd的资源进行分发
[code]
如果我已经在member4安装过crd了，资源就可以分发成功，如果没有，就分发失败

[2021-08-17 03:46] RainbowMango commented on #612
从报错信息看，你已经创建了PropagationPolicy（crd-propagation），接着apply是失败的，原因是resource selector不允许修改。

把PropagationPolicy删除重建就可以了

[2021-08-17 05:26] yanlingsishao commented on #612
目前：我删除重建，没有发生报错，但是crd并没有分发到其他集群
期待：CustomResourceDefinition部署的controller也可以分发么，就是创建该crd所用的controller-manager等等会分发么，还是只支持通过这个crd创建的资源进行分发

[2021-08-17 07:36] RainbowMango commented on #612
[code]
如果创建这个Policy，并且在karmada-apiserver中创建了CRD的情况下，应该是可以的。

如果不行，可以提供详细的复现步骤，我这边可以看一下。

[2021-08-17 07:37] RainbowMango commented on #612
不确定我理解了你的意思。但我觉得没什么问题，不管处理CR资源的控制器是deployment还是Pod都是可以的。

[2021-08-17 07:44] yanlingsishao commented on #612
集群分为karmada-apiserver、member4、member5
1、在karmada-apiserver创建crd
https://gitee.com/yanlingsishao/kubebuilder/raw/master/deweb/all-in-one.yaml
crd名称 dewebs.myapp.ops.com
![image](https://user-images.githubusercontent.com/28887713/129685081-0dd0da6e-c67d-40c2-8c4d-c52ff1396bc1.png)

2、在karmada-apiserver上创建policy
[code]
3、在member4、member5上未创建crd dewebs.myapp.ops.com
![image](https://user-images.github

[2021-08-17 08:26] fleeto opened #616 "local-up-karmada.sh is not compatible with apple m1/macos"
**What happened**:

[code]

**What you expected to happen**:

Keep running until the job is finished successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Run `hack/local-up=karmada.sh` in MacOS with M1 Macbook Air

Reference: [Kind #2078](https://github.com/kubernetes-sigs/kind/issues/2078)

**Anything else we need to know?**:

K8s v1.9.11 should fix this problem, but

[2021-08-17 08:29] RainbowMango commented on #612
@mrlihanbo
Can you help reproduce this on your side?

[2021-08-17 08:35] RainbowMango commented on #279
I can't reach @phantooom.
@qianjun1993 Can you take this task? You can split it into small PRs if necessary.

[2021-08-17 08:40] mrlihanbo commented on #612
ok, I will reproduce this on my side

[2021-08-17 08:46] mrlihanbo commented on #612
你好，使用ClusterPropagationPolicy来分发，ClusterPropagationPolicy对象是cluster scope的。
[code]

[2021-08-17 08:50] yanlingsishao commented on #612
非常感谢，可以了
针对Cluster的Policy，在使用上跟普通的Policy有一些什么区别么

[2021-08-17 11:02] RainbowMango commented on #612
Refere to [What is the difference between PropagationPolicy and ClusterPropagationPolicy](https://github.com/karmada-io/karmada/blob/master/docs/frequently-asked-questions.md#what-is-the-difference-between-propagationpolicy-and-clusterpropagationpolicy)

[2021-08-17 11:32] Garrybest opened #617 "KEP-521: Scheduler Estimator TODO List"
The PR #580 has given a new proposal about adding Cluster Accurate Replica Estimator for scheduler decision reference. Here is the TODO List about the proposal.

- [x] API: field movement
Move `ReplicaResourceRequirements` and `Replicas` into `ResourceBindingSpec`. #637
- [x] API: field addition
Replace `ReplicaResourceRequirements` by `ReplicaRequirements`. #657
- [x] pb: code generate script. #6

[2021-08-17 11:36] Garrybest commented on #617
/kind feature

[2021-08-17 11:37] Garrybest commented on #617
/assign

[2021-08-17 13:09] #521 closed

[2021-08-18 06:16] magnate3 opened #620 "Unable to connect to the server: dial tcp 10.107.140.104:5443: i/o timeout"
**What happened**:
when i do env CLUSTER_IP_ONLY=true hack/remote-up-karmada.sh 81.k8s.conf kubernetes-admin@kubernetes
Karmada API Server's IP is: 10.107.140.104, host cluster type is: remote
Cluster "karmada-apiserver" set.
User "karmada-apiserver" set.
Context "karmada-apiserver" modified.
deployment.apps/karmada-kube-controller-manager created
Unable to connect to the server: dial tcp 10.107.1

[2021-08-18 09:31] magnate3 opened #621 "Failed to pull image "swr.ap-southeast-1.myhuaweicloud.com/karmada/karmada-controller-manager:v0.7.0-111-g8effddd":"
**What happened**:

Failed to pull image "swr.ap-southeast-1.myhuaweicloud.com/karmada/karmada-controller-manager:v0.7.0-111-g8effddd": rpc error: code = NotFound desc = failed to pull and unpack image "swr.ap-southeast-1.myhuaweicloud.com/karmada/karmada-controller-manager:v0.7.0-111-g8effddd": failed to resolve reference "swr.ap-southeast-1.myhuaweicloud.com/karmada/karmada-controller-manager:v0

[2021-08-18 09:58] RainbowMango commented on #621
We don't have the `v0.x.x-xxx-g8effddd` images on the public registry.  Have you changed the version in `artifacts/deploy/controller-manager.yaml`?

[2021-08-18 10:08] magnate3 commented on #621
no, I deploy  karmada in my arm64 cluster, and many docker images need to be builded by myself.
so,I use myself images tag.
could you tell me what    public registry you use?

[2021-08-18 10:13] RainbowMango commented on #621
It is `swr.ap-southeast-1.myhuaweicloud.com/karmada`.

Good to know. Maybe we can publish arm64 images too.

[2021-08-19 08:36] lonelyCZ opened #627 "The pod status is always ContainerCreating"
**What happened**:
When I applied the Pod resource，the Pod status is always ContainerCreating in sub Cluster.

**What you expected to happen**:
I want to distribute pod resource to sub Clusters by karmada , not deployment.

**How to reproduce it (as minimally and precisely as possible)**:
NAMESPACE        NAME                            READY   STATUS              RESTARTS   AGE
default          n

[2021-08-19 10:37] kevin-wangzefeng commented on #583
+1, this is very useful to users.

[2021-08-19 12:05] #540 closed

[2021-08-20 02:31] yanlingsishao opened #628 "karmada api可以获取其他集群的信息么"
通过karmada api能不能直接获取其他集群下的资源，我当前只能查cluster，但这个信息很少，针对子集群下其他资源可以直接在karmada查看么

[2021-08-20 03:05] #612 closed

[2021-08-20 03:05] #599 closed

[2021-08-20 03:08] yanlingsishao opened #629 "如果资源在成员集群，无法分发资源"
我在成员集群上有一个资源，请问有办法分发到其他成员集群上么

[2021-08-20 03:36] RainbowMango commented on #629
可以为这个资源创建一个Policy(PropagationPolicy或ClusterPropagationPolicy)，先让Karmada把这个资源管起来。再修改Policy扩展到其他成员集群。

PS：
如果这个资源同时依赖其他资源，需要一并管理。

[2021-08-20 05:33] vincent-pli commented on #627
There is a field named `Association` in defination of `PropagationPolicy`, but seems still not implemented
https://github.com/karmada-io/karmada/blob/c37bedc1cfe5a98b47703464fed837380c90902f/pkg/apis/policy/v1alpha1/propagation_types.go#L32

@RainbowMango do we have plan for it?

[2021-08-20 06:31] RainbowMango commented on #627
Hi @vincent-pli , glad to see you again.  Yeah, I have a plan. But why asking? Are you interest in it?

[2021-08-20 06:33] RainbowMango commented on #627
@lonelyCZ How to reproduce it (as minimally and precisely as possible)?

[2021-08-20 06:44] lonelyCZ commented on #627
1. The yaml file is following
[code]
2. The  events:
[code]

[2021-08-20 08:30] aven-ai commented on #377
Hello everyone.
Recently, in the application of Karmada, our scenario requires a quota to manage the resource usage of different businesses, similar to Kubernetes' ResourceQuota.
I noticed that Karmada does not currently have a ResourceQuota object.
Do we currently have plans to support it?
If not, I am willing to start supporting ResourceQuota on Karmada.

[2021-08-20 09:06] XiShanYongYe-Chang commented on #627
This is really a bug, when karmada distributes pod to member cluster, the mounted secret is also distribute:

[code]

But the mounted secret is not exist in member clusters.

[2021-08-20 09:15] vincent-pli commented on #627
Yes,  that's really a bug.
for workaround solution, you can add this to your `sa` which your `pod` adopted
[code]

Then the `pod` propagated could be startup in target cluster,  but can not sync back the status to karmada cluster, seems there is some restriction for syncing status back(maybe I have a old version of `workstatusController` in my env).

[2021-08-20 09:22] vincent-pli commented on #627
I'm interesting in the solution/design for the  `Association`, since it's should be a common issue in multiple-cluster scenario, so I want to know how `karmada` handle it.

Beside the `secret`, `configmap`, `sa`, `priorityclass` ,etc there will more complex case, for example:
a CR reference another one in the `spec`, the two CR could work until they all sync to the target cluster, that's also some

[2021-08-20 09:35] magnate3 opened #634 "the member cluster state is Unknown"
**What happened**:
[root@bogon karmada]# kubectl get clusters
NAME     VERSION   MODE   READY     AGE
251k8s             Push   Unknown   76m
k8s81              Pull   Unknown   2d1h
k8s82              Push   Unknown   30m

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
-

[2021-08-20 09:55] XiShanYongYe-Chang commented on #628
可以参考 #451 的评论。

[2021-08-20 10:35] magnate3 commented on #634
I find out the reason that the network betwwen agent pod and api server is not accessabile  .so should add routes and nat to sovle the problem.
[root@bogon karmada]# kubectl get clusters
NAME     VERSION   MODE   READY     AGE

k8s82    v1.18.0   Push   True      73m

[2021-08-20 11:53] XiShanYongYe-Chang commented on #634
/remove-kind feature
/kind question

[2021-08-20 11:58] XiShanYongYe-Chang commented on #634
/remove-kind bug

[2021-08-21 01:56] RainbowMango commented on #634
/close
@magnate3 Glad to hear that you've solved the problem. Feel free to contact us if you have further questions.

[2021-08-21 01:56] #634 closed

[2021-08-21 01:59] RainbowMango commented on #628
@yanlingsishao
Feel free to reopen if you have further questions.
I'm going to close this issue now since it duplicated with #451.
/close

[2021-08-21 01:59] #628 closed

[2021-08-21 04:06] kerthcet commented on #460
any work remained I can work with ? Newcomer to karmada.

[2021-08-21 07:16] RainbowMango commented on #460
Hi @kerthcet Seems only one task left.
Go for it if you interest in it.

[2021-08-21 09:54] XiShanYongYe-Chang commented on #627
k8s ServiceAccount admission controller will assign `default` serviceaccount to pod and check wether serviceaccount exist:

https://github.com/kubernetes/kubernetes/blob/3a26b864f4e17a6b7e0e673f583a551820a25b36/plugin/pkg/admission/serviceaccount/admission.go#L151-L159

and then mount `serviceaccount token` to pod.

So we can disable `ServiceAccount` admission controller in karmada-apiserver use:

[2021-08-21 10:00] XiShanYongYe-Chang commented on #627
/assign

Let me fix this bug.

[2021-08-21 10:06] #614 closed

[2021-08-21 10:23] XiShanYongYe-Chang commented on #627
Hi @lonelyCZ
If your Karmada is built by `hack/local-up-karmada.sh`, then the fix would be as follows:

[code]

Would you like to verify and fix it?

[2021-08-21 12:22] lonelyCZ commented on #627
I just tried it, but it didn`t seem to take effect. I directly edited karmada-apiserver.yaml and recreated karmada-apiserver.

[2021-08-21 15:51] kerthcet commented on #460
thanks.

[2021-08-22 02:15] algebra2k commented on #629
I feel that this scenario is somewhat like to **Cloud Burst**? For example, my workload is currently in a private-cloud, when the traffic peak or resources are about to be exhausted, or when I want to conduct a promotion, I know in advance that I want to expand the workload. at this time, I will expand my load level to the public cloud cluster, but the public cloud cluster is not joined to karmada

[2021-08-23 01:29] RainbowMango commented on #627
@lonelyCZ Would you like to file a PR for this?
https://github.com/karmada-io/karmada/blob/ec71095d53bb457ae452f5f9a1c3cec77f1b3a7d/artifacts/deploy/karmada-apiserver.yaml#L50

[2021-08-23 01:44] lonelyCZ commented on #627
Yes, thank you!

[2021-08-23 02:04] RainbowMango commented on #627
/assign @lonelyCZ
/unassign @XiShanYongYe-Chang

Glad that we are going to fix this issue, thanks to @lonelyCZ @vincent-pli @XiShanYongYe-Chang  for your effort.

[2021-08-23 03:19] magnate3 commented on #621
@RainbowMango  in a short ,i use my prive registry and the problem solved  in arm64 k8s

[2021-08-23 03:56] RainbowMango opened #642 "[GoodFirst] Remove redundant docs"
**Task description**:
The proposal [runtime-value-retention](https://github.com/karmada-io/karmada/tree/master/docs/proposals/runtime-value-retention) is duplicated with [configurable-local-value-retention](https://github.com/karmada-io/karmada/tree/master/docs/proposals/configurable-local-value-retention).

**Solution**:
Remove [runtime-value-retention](https://github.com/karmada-io/karmada/tree/

[2021-08-23 06:43] MukulKolpe commented on #642
/assign

[2021-08-23 08:04] magnate3 opened #644 "karmada fail to delete completeply pods in some clusters"
**What happened**:
I create pods and delete pods like this :
（1）kubectl create  -f samples/nginx/deployment.yaml
deployment.apps/nginx-karmada created
 there are two clusters : clusterA 和clusterB
 （2）kubectl create  -f samples/nginx/replicaschedulingpolicy_simple.yaml
replicaschedulingpolicy.policy.karmada.io/foo created
 （3）kubectl create  -f samples/nginx/propagationpolicy.yaml
 propagationpolic

[2021-08-23 09:09] #642 closed

[2021-08-23 09:57] RainbowMango commented on #644
Could you please post your `yaml`s that I can try to reproduce it on my side?

[2021-08-23 10:01] magnate3 commented on #644
@RainbowMango  my yamls are like this :

[root@bogon nginx]# cat deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-karmada
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - image: nginx
        name: nginx
[root@bogon nginx]# cat replica

[2021-08-23 11:58] RainbowMango commented on #644
Hi @magnate3
I formated your yaml and changed cluster names(k8sA-->member1, k8sB-->member2), and everything works as expected.

The `deployment.yaml`:
[code]

The `replicaschedulingpolicy_simple.yaml`:
[code]

The `propagationpolicy.yaml`:
[code]

[2021-08-23 12:01] RainbowMango commented on #644
So, have you checked the logs of `karmada-controller-manager`?

By the way, we are going to deprecate the `ReplicaSchedulingPolicy` which now replaced by [ReplicaScheduling](https://github.com/karmada-io/karmada/blob/5630a97a6b64c2c058eac104dca3568194a0907f/pkg/apis/policy/v1alpha1/propagation_types.go#L107) .

[2021-08-23 12:35] #602 closed

[2021-08-23 13:24] GitHubxsy commented on #629
Your description looks like a multi-cluster hpa. However, we still need the central controller to detect when horizontal scaling is triggered and scale-out to a proper cluster.

[2021-08-24 03:48] yanlingsishao opened #648 "跨集群服务发现访问不通"
**cluster:**
 member1
 member2

我在member1上有deploy和svc，想通过member2访问member1
下面是操作步骤

### 1、member1上，我创建deploy和svc
[code]
### 2、karmada上，我又创建了ServiceExport和policy
[code]
[code]
### 3、在karmada上，我创建了ServiceImport和policy
[code]
[code]

### 4、在member2上出现derived-nginx的svc
我通过derived-nginx的clusterip去访问，访问不通，请问我的的测试有问题么

[2021-08-24 03:55] magnate3 commented on #644
@RainbowMango

when kubectl logs  karmada-agent-96fc58c4-xhb7c  -n karmada-system | grep  'nginx-karmada', there are erros in logs
I0824 03:47:38.339396       1 workstatus_controller.go:193] reflecting Deployment(default/nginx-karmada) status to Work(karmada-es-k8s82/nginx-karmada-58d747f6b7)
I0824 03:50:04.416939       1 workstatus_controller.go:236] recreating cluster=k8s82, apps/v1, kind=Deploy

[2021-08-24 04:16] XiShanYongYe-Chang commented on #648
@yanlingsishao  在步骤2、3之前，需要在成员集群上安装`ServiceExport`和`ServiceImport` CRD。

karmada在安装过程中默认安装了这两个CRD，因此可以通过创建`ClusterPropagationPolicy`将这两个CRD分发下去：

[code]
[code]

[2021-08-24 04:52] yanlingsishao commented on #648
我在部署完之后，访问卡了一段时间后，报Connection timed out
![image](https://user-images.githubusercontent.com/28887713/130555757-b0eef911-8929-45d4-a855-2ab8ac3a4e3e.png)

[2021-08-24 06:14] XiShanYongYe-Chang commented on #648
成员集群间的Pod网络打通了么？

[2021-08-24 06:16] yanlingsishao commented on #648
请问需要怎么打通，我是直接创建的成员集群

[2021-08-24 06:27] XiShanYongYe-Chang commented on #648
如果是用`hack/karmada-bootstrap.sh`脚本创建的karmada，member1和member2集群的Pod网络已经打通了；

如果是自己用kind创建的集群，可以参考karmada中脚本文件hack/util.sh；

[2021-08-24 06:49] RainbowMango commented on #648
/assign @XiShanYongYe-Chang

[2021-08-24 06:53] RainbowMango commented on #644
No, I don't think it's the reason. This is the conflict error and will be solved by retrying.

[2021-08-24 07:14] magnate3 commented on #644
@RainbowMango
the reason of the problem has been foudd out. the karmada-controller-manager can not to established tcp connection with
member cluster (tcp 10.10.XX.XX:6443:).
 **i want to know why  karmada-controller-manager  transfer  delete deployment messages to  member cluster through k8s apiserver  instread of  karmada-agent-**
kubectl logs  karmada-controller-manager-5489997d7b-8g854 -n karma

[2021-08-24 08:11] RainbowMango commented on #644
How can the pod be created in both `clusterA and clusterB`?  I'm confused.

[2021-08-24 08:13] RainbowMango commented on #644
Karmada talks to member cluster by `kube-apiserver` directly for `push` mode cluster.

[2021-08-24 08:20] magnate3 commented on #644
@RainbowMango

I am also confused this problem  , i  `am tracing the problem now `

[2021-08-24 08:56] pigletfly opened #650 "Wrong in MergeAnnotations"
in https://github.com/karmada-io/karmada/blob/master/pkg/util/objectwatcher/retain.go#L37, we shouldn't overwrite desiredObj's  annotations with clusterObj's.

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- Others:

[2021-08-24 09:02] magnate3 commented on #644
@RainbowMango

except   push mode, are there other modes ? what are the difference between modes

[2021-08-24 09:14] XiShanYongYe-Chang commented on #650
We now merge clusterObj's annotation to desiredObj's annotations.

Do you mean with old annotation `aa: bb`, desired annotation is `aa: cc`, the updated annotation still is `aa: bb`.

[2021-08-24 09:26] RainbowMango commented on #583
/assign

[2021-08-24 10:44] algebra2k opened #652 "support for karmada TODO list installed by helm"
We discussed the matter of karmada helm installation at the weekly meeting on 2021-08-17, for which we have already worked on this part, and here is the TODO about this work:

- [x] helm pre-hook job
- [x] make templates to compatible currently version crds
- [x] make karmada-apiserver component template
- [x] make karmda-scheduler component template
- [x] make karamda-controller-manager component

[2021-08-24 11:43] pigletfly commented on #650
Exactly

[2021-08-24 12:22] RainbowMango commented on #650
That makes sense. @pigletfly I wonder to know is there anything bad happened? :)

[2021-08-24 13:01] #627 closed

[2021-08-25 01:06] XiShanYongYe-Chang opened #653 "[GoodFirst] Remove serviceaccount controller"
**Task description**:
Remove serviceaccount controller in `kube-controller-manager.yaml`.  Now we disable `ServiceAccount` in `karmada-apiserver` with #641 , so we needn't `default` ServiceAccount when create `Pod`.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contr

[2021-08-25 01:07] XiShanYongYe-Chang commented on #648
@yanlingsishao 嗨，可以访问通了么？

[2021-08-25 01:16] #505 closed

[2021-08-25 01:30] pigletfly commented on #650
The annotation value is not correct,if the value is used by a controller,then it never ends

[2021-08-25 01:52] XiShanYongYe-Chang opened #654 "flake: DeploymentStatus collection testing"
#### Which jobs are flaking:

E2E:
https://github.com/karmada-io/karmada/runs/3411300932?check_suite_focus=true

#### Which test(s) are flaking:

[Fail] [resource-status collection] resource status collection testing DeploymentStatus collection testing [It] deployment status collection testing
/root/actions-runner/_work/karmada/karmada/test/e2e/resource_test.go:80

#### Reason for failure:

[code]

[2021-08-25 02:28] yanlingsishao commented on #648
我看脚本里，会添加路由，如果两边的pod网络地址段是一样的，是不是就没办法

[2021-08-25 03:21] XiShanYongYe-Chang commented on #648
可以为kind集群设置不同的pod网络地址段:

https://github.com/karmada-io/karmada/blob/master/artifacts/kindClusterConfig/member1.yaml
https://github.com/karmada-io/karmada/blob/master/artifacts/kindClusterConfig/member2.yaml

也可以直接使用hack/karmada-bootstrap.sh脚本创建的member1、member2进行测试；

[2021-08-25 05:24] yanlingsishao commented on #648
![image](https://user-images.githubusercontent.com/28887713/130731250-954b6f90-ded9-4343-90bf-c98faabd5877.png)
我创建了一个集群，然后版本号状态都是空的，这是什么原因

[2021-08-25 08:40] yanlingsishao commented on #648
@XiShanYongYe-Chang 我想删除一个成员，怎么删也删不了，我用hack/undeploy-karmada.sh进行删除，重新部署后，这个cluster还是存在，请问有什么办法可以把数据全部删除

[2021-08-25 08:46] XiShanYongYe-Chang commented on #648
@yanlingsishao 可以直接使用hack/karmada-bootstrap.sh重新部署karmada，或者直接使用`kind delete xxx`将karmada-host集群删除掉。

[2021-08-25 08:49] XiShanYongYe-Chang commented on #648
如果创建的集群无法正常加入，可以新开一个issue将操作步骤以及相关的日志信息描述下。

之前也有一些关于集群加入的问题，可以浏览下其他issue。

[2021-08-25 09:49] Onyinye91-ctrl commented on #653
@XiShanYongYe-Chang Can i take this?

[2021-08-25 09:49] #583 closed

[2021-08-25 09:53] XiShanYongYe-Chang commented on #653
@Onyinye91-ctrl  Yeah, it's yours now.

[2021-08-25 09:56] yanlingsishao commented on #648
@XiShanYongYe-Chang 测试通了，感谢

[2021-08-25 10:17] XiShanYongYe-Chang commented on #648
/close

@yanlingsishao 很高兴你测试通过了。

如果有相关的问题可以重新打开该issue。

[2021-08-25 10:17] #648 closed

[2021-08-26 06:59] yanlingsishao opened #662 "请问Policy分发之后的应用，如何通过karmada访问"
分发在两个集群的应用，如何统一入口访问

[2021-08-27 02:54] lfbear opened #666 "Proposal: get member clusters resource aggregation by `karmadactl`"
**What would you like to be added**:

Add command for `karmadactl`, such as `karmadactl get pod`, `karmadactl get deploy` to aggregate the pod or deployment resource in member clusters

**Why is this needed**:

In the management of multi-clusters, switching between multi-clusters continuously is boring and fallible. I hope the control plane tools will minimize switching frequency and let us watch

[2021-08-28 03:04] lonelyCZ opened #670 "Why put the core logic codes int pkg/util?"
**What happened**:
When I read Karmada source code, I spent long time to find the controller core logic codes. Usually the controller source code in pkg/controllers, why move the codes to pkg/util?

[2021-08-28 03:07] RainbowMango commented on #670
Which controller we are talking about?

[2021-08-28 03:16] lonelyCZ opened #671 "Add Issue template about questions"
**What would you like to be added**:
Add Issue template about questions.

**Why is this needed**:
When needing to ask question about karmada, I want to have a issue template to fill.

[2021-08-28 03:19] lonelyCZ commented on #670
like resourceDetector. Why put it into pkg/util specially?

[2021-08-28 03:29] RainbowMango commented on #671
+1
Would like to take this?

[2021-08-28 03:30] chenchangkuan opened #672 "something wrong in README.md"
**What happened**:
Please use 'kubectl config use-context <Context_Name>' to switch cluster to operate

**What you expected to happen**:
Please use 'kubectl config use-context <Context_Name>' to switch cluster to operational status

**How to reproduce it (as minimally and precisely as possible)**:
README.md

**Anything else we need to know?**:

**Environment**:
- Karmada version: NA
- Others: NA

[2021-08-28 03:33] RainbowMango commented on #670
It's technical debt.

I think we can move it under `pkg/` directory.

Because the `resource detecor` is not the normal controller that reconciling objects, and cannot be disabled.

[2021-08-28 03:34] RainbowMango commented on #670
/help

[2021-08-28 04:37] lonelyCZ commented on #671
yes, what should I do? Designing a question template?

[2021-08-28 04:42] lonelyCZ commented on #671
/assign

[2021-08-28 06:24] saiyan86 commented on #672
/assign

[2021-08-28 06:50] NanPaiUncle3 opened #675 "Docs: add description to cluster url"
**Task description**:
在这个页面 docs/working-with-argocd.md 的 172.x.x.x ip地址，希望可以加个简单的说明
**Solution**:
对ip的来源加以简单说明，以便于用户理解
**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,
they should be ready to move on to `help wanted` items, saving

[2021-08-28 06:56] RainbowMango commented on #675
@NanPaiUncle3
Can you propose a clear solution?

[2021-08-28 07:09] #675 closed

[2021-08-28 07:38] pigletfly commented on #670
ref: https://github.com/karmada-io/karmada/pull/649#issuecomment-904461121.

[2021-08-28 07:52] zhuyaguang opened #677 "环境中存在kind工具，安装karmada提示找不到kind,部署失败"
**What happened**:
运行 hack/local-up-karmada.sh 脚本，提示kind未找到
![image](https://user-images.githubusercontent.com/8857976/131210756-14353edd-e591-445b-aa11-9f5c29c8c2ac.png)

hack/karmada-bootstrap.sh 脚本 安装失败
![image](https://user-images.githubusercontent.com/8857976/131210838-fd0709d7-2408-4ff6-b44f-02e8c995a516.png)

**What you expected to happen**:
karmada 安装成功
**How to reproduce it (as minimally

[2021-08-28 08:31] wdy-0205 opened #678 "install problem:failed due to a problem with the certificate"
/kind question
![image](https://user-images.githubusercontent.com/56907156/131211697-5bc35240-a108-490d-818c-bb1a9ccef3f7.png)

[2021-08-28 10:10] #672 closed

[2021-08-28 12:18] pigletfly opened #679 "Move controller related utils back to pkg/controllers"
**What would you like to be added**:

Move controller related utils in pkg/util back to pkg/controllers, if the utility is used by multiple controllers, then should be in pkg/controllers/util, if is used by single controller,then should be in its own utils.

**Why is this needed**:

[2021-08-28 12:18] pigletfly commented on #679
/kind cleanup

[2021-08-28 12:19] pigletfly commented on #679
/remove-kind-feature

[2021-08-28 12:20] pigletfly commented on #679
/remove-kind feature

[2021-08-28 12:20] pigletfly commented on #679
/assign

[2021-08-28 12:22] RainbowMango commented on #670
/assign @pigletfly
Since #679

[2021-08-30 03:28] RainbowMango commented on #274
/retitle [Failing] namespace autoprovision case failing

[2021-08-30 03:31] RainbowMango commented on #274
/retitle [Failing] namespace autoprovision case failing

[2021-08-30 03:46] #587 closed

[2021-08-30 06:26] lfbear commented on #677
1. The message in the red box can be ignored, there is the step that clears the old version for `kind`.
2. Seems something wrong with git, please try to update your git version

[2021-08-30 06:28] RainbowMango commented on #677
+1

/close
Feel free to open it if you have further questions.

/remove-kind bug
/kind question

[2021-08-30 06:28] #677 closed

[2021-08-30 06:34] RainbowMango commented on #678
Hi,

Please run `hack/local-up-karmada.sh` under root directory of karmada repo.

/close
Feel free to reopen it if you have further questions.

[2021-08-30 06:34] #678 closed

[2021-08-30 06:57] lfbear commented on #666
Implementation design:
1. get clusters connection from cluster.karmada.io/v1alpha1 and secret in karmada-cluster
2. get resources through the connection
3. aggregate the resource data and compare with resourcebindings

[2021-08-30 07:07] RainbowMango commented on #666
For `push` mode cluster, yes we can. But what about the `pull` mode cluster?

[2021-08-30 07:26] lfbear commented on #666
I have no idea for `pull` mode, cuz `karmadactl` can not launch the connection, maybe the karmada-agent cloud sync summary data scheduled and cache them in the control plane?

[2021-08-30 07:27] RainbowMango commented on #666
If you just want to `get` the resources propagated by Karmada, maybe we can get the information from `Work`. We don't really need to access member clusters.

[2021-08-30 07:51] lfbear commented on #666
The very beginning, I think so too, and since I migrated some applications to Karmada, I found that:
1. Getting the real-time pod status is so important, that much like that I applied for deployment but still wanted to get pod status.
2. The `ADOPTION` flag in the sample above will tell us which is uncertain, that probably only gain by comparing with resources in member clusters

[2021-08-30 11:00] RainbowMango commented on #566
GitHub runner(`Virtual Environment`) has updated to `20210816.1` and [includes](https://github.com/actions/virtual-environments/blob/ubuntu18/20210816.1/images/linux/Ubuntu1804-README.md) kind v0.11.1.

It's time to switch back to GitHub.

[2021-08-31 03:06] lfbear commented on #666
There are 3 types of resources to be judge:
1. managed by Karmada completely
2. should be managed by Karmada, but actually not. such as the resources that existed before using Karmada
3. the resources not managed by Karmada

[2021-08-31 03:37] RainbowMango opened #681 "[GoodFirst] Switch runner back to GitHub Action"
**Task description**:
We switch runner to `self-hosted` by #567, now it's time to switch it back since GitHub Action [has fixed the problem](https://github.com/karmada-io/karmada/issues/566#issuecomment-908246380).

**Solution**:
Undo #567.

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a con

[2021-08-31 06:34] yuswift commented on #681
Maybe prow is another option.

[2021-08-31 06:43] Hrishikesh156 commented on #681
can you pls assign this issue to me

[2021-08-31 06:43] Hrishikesh156 commented on #681
/assign

[2021-08-31 08:21] RainbowMango commented on #681
Glad to see you have assigned it to you. Thanks for doing this by the way.

[2021-08-31 11:04] pigletfly commented on #398
/assign

[2021-08-31 11:06] RainbowMango commented on #398
/milestone v0.9

[2021-08-31 11:07] RainbowMango commented on #398
I wonder to know what kind of event would like to add.

[2021-09-01 01:17] #681 closed

[2021-09-01 09:18] silenceper opened #688 "What is the biggest difference between this project and kubefed v2"
请问下karmada与kubefed v2 不同点是什么？

看了https://github.com/karmada-io/karmada/blob/master/ROADMAP.md 是在调度增加了一些策略？

另外看到kubefed v2已废弃apiserver组件。

[2021-09-01 11:22] lonelyCZ opened #689 "Deployment desired READY replicas is different of realistic replicas"
**What happened**:
When I put the deployment to two member cluster by one PropagationPolicy, the realistic pod replicas more than deployment template defined replicas.

**What you expected to happen**:
The realistic number of replica is equal to the derived number of replica.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[code]

**Anything else we need to know?**:
This

[2021-09-02 02:52] #460 closed

[2021-09-02 03:14] XiShanYongYe-Chang opened #691 "[GoodFirst] Modify .gitignore to ingore karmada bninary"
**Task description**:

Current `.gitignore`  file ingore karmada binary like this:
https://github.com/karmada-io/karmada/blob/e6efe45d8974028ef30cf5f394126f768def9bd5/.gitignore#L20-L25
but this also ignores files with the same name in the recursive directory, for example: `cmd/karmadactl`. Therefore, only files in the current directory need to be ignored.

**Solution**:

Modify like this:
[code]

[2021-09-02 06:24] #688 closed

[2021-09-02 07:44] RainbowMango opened #692 "Request preferred alias verification"
**What would you like to be added**:
The `Kubernetes` community defined a group of preferred [import aliases](https://github.com/kubernetes/kubernetes/blob/b0836a65f294d879d0000c81faa5d5149f91cf73/hack/.import-aliases), and provide a [verify-import-aliases.sh](https://github.com/kubernetes/kubernetes/blob/b0836a65f294d879d0000c81faa5d5149f91cf73/hack/verify-import-aliases.sh) to verify the codebas

[2021-09-02 12:29] ESonata commented on #692
I can try to take this issue

[2021-09-03 03:35] qianjun1993 commented on #689
It is not a kind of bug。 If no ReplicaSchedulingStrategy in PropagationPolicy or ReplicaSchedulingPolicy is set, Karmada will use the Duplicated strategy which means each candidate member cluster will directly apply the original replicas。

[2021-09-03 03:47] lonelyCZ commented on #689
Thank you! But this display is a little odd. I also think if it should be changed.

[2021-09-03 04:09] XiShanYongYe-Chang opened #694 "Add E2E test of ReplicaSchedulingStrategy"
To supplement the E2E test of `ReplicaSchedulingStrategy`:
https://github.com/karmada-io/karmada/blob/7694ba2f7d6634aedc983748f4c79d7f8d456094/pkg/apis/policy/v1alpha1/propagation_types.go#L104-L107
https://github.com/karmada-io/karmada/blob/7694ba2f7d6634aedc983748f4c79d7f8d456094/pkg/apis/policy/v1alpha1/propagation_types.go#L195-L218
I propose the following test points:

* [x] Field `ReplicaSch

[2021-09-03 04:17] XiShanYongYe-Chang commented on #689
This may require modifying the display behavior of kubectl.

[2021-09-03 06:20] qianjun1993 commented on #694
Good idea.

[2021-09-03 07:53] qianjun1993 opened #695 "Add some metrics for scheduler"
Add some metrics for scheduler。

I propose the following metrics:

- [x] scheduleAttempts.  The number of attempts to schedule resourceBinding. It may be  specified by the schedule type and result
- [x] e2eSchedulingLatency. The e2e scheduling latency in seconds of an attempts to schedule resourceBinding. It also may be specified by the schedule type and result
- [x] SchedulingAlgorithmLatency. Th

[2021-09-03 10:00] ESonata commented on #692
/assign

[2021-09-04 08:41] Garrybest opened #697 "Add a new module: karmada-descheduler"
**What would you like to be added**:

Hi fellows.

It is supposed that rescheduling between different member clusters is an important enhancement. Imagine when some member clusters don't have enough resource to accommodate part of running replicas because of node removement or labels changed, or when a new cluster is added into control-plane we want to separate some replicas into the new cluster t

[2021-09-06 01:27] RainbowMango commented on #689
@lonelyCZ Yeah, agree, but we don't want to hack the behavior of `kubectl`.
And,  there may be a way to eliminate the issue in the future, like:
[code]
We can provide a `get` command by ourselves.

/remove-kind bug

[2021-09-06 01:37] RainbowMango commented on #695
Yes. It's time to add some metrics.
Can you also propose the metrics type and name? A sample metrics would be better.

[2021-09-06 02:09] RainbowMango commented on #692
Hi @ESonata
Thanks for your help.
You can get some info from [this discussion](https://kubernetes.slack.com/archives/CHGFYJVAN/p1623298145099200).

[2021-09-06 09:52] pigletfly opened #701 "Add featuregate support"
**What would you like to be added**:

**Why is this needed**:

[2021-09-06 10:06] pigletfly commented on #398
such as controller-manager fails to reconcile a object(e.g. propagationpolicy), or scheduler fails to schedule

[2021-09-06 10:47] Onyinye91-ctrl commented on #691
@XiShanYongYe-Chang  Please i will take this issue I am taking this issue

[2021-09-07 01:44] RainbowMango commented on #697
That's great! I'm sure it will work. Just post my concerns here:
- Introduce a new module should be very cautious because it'll increase the user's burden to maintain the new component.
- We don't have much re-schedule strategy in `PropagationPolicy`, and lack of schedule status in `ResourceBinding`, they should be defined first.

[2021-09-07 01:59] #691 closed

[2021-09-07 02:36] qianjun1993 commented on #695
`	scheduleAttempts = metrics.NewCounterVec(
		&metrics.CounterOpts{
			Subsystem:      SchedulerSubsystem,
			Name:           "schedule_attempts_total",
			Help:           "Number of attempts to schedule resourceBinding",
			StabilityLevel: metrics.ALPHA,
		}, []string{"result", "scheduleType"})

	e2eSchedulingLatency = metrics.NewHistogramVec(
		&metrics.HistogramOpts{
			Subsystem:      Schedule

[2021-09-07 03:14] mrlihanbo opened #705 "Automatically Propagate Relevant Resources TODO List"
The PR #703 has given a new proposal about automatically propagate relevant resources. Here is the TODO List about the proposal.(Now only support deployment)

- [x] API update:  (#704)
 `ResourceBinding` API changes to add `PropagateDeps` and `RequiredBy`.
`PropagationPolicy` API changes to add `PropagateDeps`.
- [x] add dependenciesInterpreter
- [x] add dependencies distributor to  automatically

[2021-09-07 04:21] Garrybest commented on #697
You're right. We could have a discussion in next meeting.

[2021-09-07 08:45] #694 closed

[2021-09-07 09:30] mrlihanbo opened #706 "Bug of aggregating status to resourcebinding"
**What happened**:
I create a propagation policy to propagate a configmap to 3 member clusters. then, I change the placement in propagation policy. But the status in resource binding are not correct after I modify the placement.
[code]

**What you expected to happen**:
The aggregatedStatus should not include the applied status of member2.

**How to reproduce it (as minimally and precisely as possi

[2021-09-07 09:30] ESonata commented on #692
Hi @RainbowMango
I have Read  [this discussion](https://kubernetes.slack.com/archives/CHGFYJVAN/p1623298145099200).
Do you want to reimplement the function of preferredimports.go instead of copying it directly into the project?

[2021-09-07 09:33] RainbowMango commented on #706
What has changed?

/priority important-soon

[2021-09-07 09:34] RainbowMango commented on #706
Oh, I know `delete member2 cluster the placement field in propagation policy by follow command:`.

[2021-09-07 09:36] RainbowMango commented on #692
No, I want to `import` not re-implement or copy. Don't know if we can do that.

[2021-09-07 09:38] mrlihanbo commented on #706
Just remove member2 from clusterNames. I have found out the root cause of this problem and I will fix it later.

[2021-09-07 10:09] kerthcet commented on #695
/cc

[2021-09-07 12:03] ESonata commented on #692
How about running preferredimports.go in the external library (k8s.io/kubernetes) in the script and specifying our .import-aliases path?
`
go run "$GOPATH"/pkg/mod/k8s.io/kubernetes@v1.21.3/cmd/preferredimports/preferredimports.go ${IMPORT_ALIASES} ${INCLUDE_PATH} ${ROOT_PATH}
`

[2021-09-07 12:14] RainbowMango commented on #692
Yeah, something like this. We can install(go get/install) the `preferredimports` command or just `go run`. And we should have a `.import-aliases` in our repo.

[2021-09-08 04:01] Garrybest opened #708 "work will not be deleted under some circumstances"
**What happened**:
The `works.work.karmada.io` will not be deleted after we delete workload during the controller restarted. That is to say, if the controller has something wrong, e.g. evicted or crashed, if the workload is deleted by users during this period, the work would never be deleted.

**What you expected to happen**:
The orphan `works.work.karmada.io` should be deleted.

**How to reproduc

[2021-09-08 06:31] Garrybest commented on #708
May be associated with #425.

[2021-09-08 08:54] #706 closed

[2021-09-08 10:12] #671 closed

[2021-09-09 02:23] RainbowMango commented on #708
Yes, I think so. Any ideas about the solution?

[2021-09-09 02:48] Garrybest commented on #708
What about scaning all `works.work.karmada.io` and removing the orphan ones when the `karmada-controller-manager` starts?

[2021-09-09 07:24] RainbowMango commented on #398
Hi, what's the progress, and can we start now?

[2021-09-09 08:14] kerthcet commented on #695
/assign

[2021-09-09 08:27] pigletfly commented on #398
yes,I've created a task list.Then will do it one by one.

[2021-09-09 09:07] RainbowMango commented on #398
Great! Looking forward to them.

[2021-09-10 03:00] RainbowMango commented on #695
Hey guys, let's do it！

Seems @kerthcet wants help. @qianjun1993 You might want to share some tasks with @kerthcet.

@qianjun1993 Can you pick one metric to kick-off? We have a lot of works to do, that's more than these metrics.

Let's discuss the metrics in the PR.

[2021-09-10 05:17] kerthcet commented on #695
I have already introduced the first three subtasks, still in progress. @RainbowMango

[2021-09-10 09:44] RainbowMango commented on #692
Hi @ESonata ,
I guess you know what gonna happen after the verification script gets onboard. Yeah, we need to unify the import aliases, so if you'd like to help fix them, you can start now. And after that, we'll put the verification on the the [check list](https://github.com/karmada-io/karmada/blob/0cdba3efa308be3979f304407a7a60d97eb80669/.github/workflows/ci.yml#L18-L21).

[2021-09-10 13:55] ESonata commented on #692
OK.

[2021-09-11 04:11] RainbowMango opened #716 "Introduce `version` command to karmada components"
**What would you like to be added**:
Add `version` command to following components:
- [x] karmada-controller-manager (#717)
- [ ] karmada-scheduler
- [ ] karmada-webhook
- [ ] karmada-agent
- [ ] karmada-scheduler-estimator

@algebra2k has gave a good example for `karmadactl` at #285.

**Why is this needed**:

[2021-09-11 07:56] GitHubxsy commented on #603
This feature is very useful. There are too many overridePolicy objects and it is difficult to manage. I'm very concerned about how this feature is going so far. @lfbear

[2021-09-12 01:31] lonelyCZ commented on #716
Do I try to take this issue?

[2021-09-13 01:25] RainbowMango commented on #716
@lonelyCZ  sure thing, go ahead.

[2021-09-13 01:25] RainbowMango commented on #716
/assign @lonelyCZ

[2021-09-13 03:11] lfbear commented on #603
It will be processing after the end of this week, for there are 2 issue to be done before.

[2021-09-13 06:00] lfbear opened #720 "Quickstart optimization"
**What would you like to be added**:

Add a NEW script to start an environment for Quickstart. It contains all infrastructure, control plane, and some samples for test. And organize the flow of installation and integrate scripts.

**Why is this needed**:

Reduce the difficulty of quickstart