[2021-09-13 06:00] lfbear commented on #720
/assign

[2021-09-13 06:31] lfbear commented on #720
Flows of the installation:
1. Basic preparation and system adaptation
2. Create K8s clusters(host and member clusters) by kind (remote installation skip)
3. Build docker images and load to kind-cluster
4. Install control plane to host-cluster
    - Install RBAC, and generate certificate and key
    - Install Karmada components in host-cluster (etcd, api-server, controller-manager, webhook)
    - I

[2021-09-13 07:08] RainbowMango commented on #720
Are you going to add a `new` script?

[2021-09-13 07:10] lfbear commented on #720
I hope to add a new one or use `hack/karmada-bootstrap.sh`, and this script used for both CI and quickstart

[2021-09-13 07:12] RainbowMango commented on #720
Can we rename `hack/karmada-bootstrap.sh` to `hack/local-up-karmada.sh`?

[2021-09-13 07:18] lfbear commented on #720
Or should we collect usage scenarios for installation?
I think it can be one script for CI and quickstart, another for the production installation.
And I really feel `karmada-bootstrap.sh` is better than `local-up-karmada.sh`, the former is more conspicuous

[2021-09-13 10:43] #692 closed

[2021-09-14 01:13] #716 closed

[2021-09-14 02:19] qianjun1993 commented on #695
@kerthcet  thanks for your help. I have also already implemented a version of the first four tasks. Maybe we can have a discuss about these metrics.

[2021-09-14 02:25] kerthcet commented on #695
Since I'm out of band these days, I'm happy to see that. I'll keep tracking.

[2021-09-14 02:32] RainbowMango commented on #695
Out of band?

We have a meeting today, I'm glad to meet you there and have a quick chat.
I really want this in the coming release.

[2021-09-14 02:35] mrlihanbo commented on #708
What about adding finalizers when binding created and remove finalizers when deleted?

[2021-09-14 02:45] RainbowMango commented on #692
Hi @ESonata

I wonder if you would like to fix the legacy import aliases in the current codebase according to new-added verification?

[2021-09-14 03:14] Garrybest commented on #708
I agree, sounds elegant. @mrlihanbo

[2021-09-14 03:45] RainbowMango commented on #652
Seems all tasks have been done at #668?

[2021-09-14 03:46] algebra2k commented on #652
Yes, The issue all done.

[2021-09-14 03:47] RainbowMango commented on #541
/close
@chestarss Please feel free to re-open it if you have further questions.

[2021-09-14 03:47] #541 closed

[2021-09-14 03:52] RainbowMango commented on #708
Do you mean to add a finalizer to ResourceBinding, and 'resource binding controller' takes the responsibility to remove it after all work be deleted?

[2021-09-14 04:41] ESonata commented on #692
OK.I will fit it. @RainbowMango

[2021-09-14 05:11] kerthcet commented on #695
sorry，spelling mistake,  out of bandwidth instead , I'm happy to participate in the meeting.

[2021-09-14 06:21] shuaizi opened #724 "'make verify' gets many checking-imports error, dose ci works fine?"
**What happened**:

checkout master code (commit: 0c8a0201603b8059435b1d2768340f3306307428)
and just execute `make verify`, it output lots of  errors  like "ERROR wrong alias for import ..."

`$ make verify
hack/verify-all.sh
Generating with deepcopy-gen
Generating with register-gen
Generating with client-gen
Generating with lister-gen
Generating with informer-gen
diffing hack/../hack/../pkg again

[2021-09-14 06:29] shuaizi commented on #708
be interested，could you explain it in detail？ @mrlihanbo

[2021-09-14 06:35] shuaizi commented on #724
`make test` also output lots of  "no test files"，need to Supplement test cases later ？

[2021-09-14 08:42] RainbowMango commented on #652
OK, dude, let's
/close
it.

[2021-09-14 08:42] #652 closed

[2021-09-14 08:47] RainbowMango commented on #724
Thanks for pointing it out. Yes, we've discussed it at [here](https://github.com/karmada-io/karmada/issues/692#issuecomment-916775683) and @ESonata will fix it.

We will add the verification to the CI after we fixed all the invalid aliases.

[2021-09-14 08:50] RainbowMango commented on #724
I'd say we are always welcome to contribute. :)

[2021-09-14 13:31] dddddai opened #727 "Use cluster lister instead of map to implement scheduler cache"
While reading karmada source, I found that the event handler below maintains a map to implement scheduler cache, which contains all member clusters

https://github.com/karmada-io/karmada/blob/08ddb58cfd276c1c30d4a740558cbdeb4a4a5f18/pkg/scheduler/scheduler.go#L142-L148
https://github.com/karmada-io/karmada/blob/08ddb58cfd276c1c30d4a740558cbdeb4a4a5f18/pkg/scheduler/cache/cache.go#L11-L22

Actually

[2021-09-15 01:55] RainbowMango opened #729 "Add protobuf verification script"
**What would you like to be added**:
We've added `hack/generate-proto.sh` at #638, now we need a script to verify if the generated `protobuf` is always up to date.

So, propose following changes:
- rename `hack/generate-proto.sh` to `hack/update-estimator-protobuf.sh`
- add `hack/verify-estimator-protobuf.sh`

**Why is this needed**:
Refer to https://github.com/karmada-io/karmada/pull/725#discussi

[2021-09-15 01:56] RainbowMango commented on #729
cc @Garrybest How do you think?

[2021-09-15 01:57] Garrybest commented on #729
No problem. @RainbowMango

[2021-09-15 02:49] Garrybest opened #730 "Discussion about the behavior of replica scheduling weight preference"
**What would you like to be added**:
Hi fellows.
Now karmada has provided two kinds of [replica division preference](https://github.com/karmada-io/karmada/blob/7351509a4651e85083525ec502cad9ead1e11149/pkg/apis/policy/v1alpha1/propagation_types.go#L186-L193) when the replica scheduling type is `Divided`. If the preference is `Aggregated`, scheduler will divide replicas aggregatedly according to mem

[2021-09-15 03:19] Garrybest commented on #727
Half Agree. The cluster lister may take the replacement. But we still need event handler in #721.

[2021-09-15 03:47] dddddai commented on #727
@Garrybest, thanks for your reply, yes the event handler should be preserved for extension, I'm willing to submit a PR to fix this.

[2021-09-15 07:47] shuaizi commented on #708
i think just add an ownerReferences  when building works  will also take effect，

for example，

[code]

for current version,  the ResourceBinding already has been configured the ownerReferences of the workloads，
so when user try to delete a workload ，k8s will deal with ResourceBinding and Work based on cascading deletion.

and the work also has a  finalizers，
[code]

execution-controller will just

[2021-09-15 07:52] shuaizi commented on #708
have a try   /assign  @shuaizi

[2021-09-15 08:05] Garrybest commented on #708
Well, I don't think so. `OwnerReferences` cannot cross namespace. See #425. @shuaizi

[2021-09-15 08:05] luotian-github opened #734 "Failed to propagate a Pod kind to a member cluster"
Propagate a Pod kind from the karmada host to a member cluster, the Pod is always in Pending.
![图片](https://user-images.githubusercontent.com/28591924/133393492-a48f86a1-113c-4977-ae36-44fa21a06810.png)

In the member cluster, found the pod failed to mount /var/run/secrets/kubernetes.io/serviceaccount from default-token-qv4ws

![图片](https://user-images.githubusercontent.com/28591924/133393918-fd62

[2021-09-15 08:12] XiShanYongYe-Chang commented on #708
@shuaizi I think maybe you should add some logic to find orphan work and delete it, because now can gc resource across namespace, according to the #425 .

[2021-09-15 08:27] XiShanYongYe-Chang commented on #734
Hi @luotian-github, thanks for trying karmada.

This bug has been resolved by #646 , you can have a retry with `master` branch, or `cherry-pick` this commint.

[2021-09-16 02:22] fleeto opened #735 "Binary files should also be included in the releases."
**What would you like to be added**:

The client tool should support Linux and Darwin on x86 and arm64.

**Why is this needed**:
Krew.

[2021-09-16 02:41] RainbowMango commented on #735
Yeah, agree. We may need some scripts to automate it. right?

[2021-09-16 03:36] shuaizi commented on #708
got it

[2021-09-17 09:09] RainbowMango commented on #398
Any update? Do you need help? @pigletfly

[2021-09-17 11:46] Garrybest commented on #708
/help

[2021-09-18 06:53] RainbowMango commented on #695
Hi, how is this going now?

[2021-09-18 06:55] Garrybest commented on #666
Hi, lfbear. Any news? I'm willing to have a try. @lfbear

[2021-09-18 07:54] lfbear commented on #666
Testing, I'm reviewing the code, the PR will create next week.

[2021-09-18 09:20] #727 closed

[2021-09-18 10:00] zghyy opened #744 "Karmada scheduler does not perform failover"
**What happened**:
I am trying out some of the functions supported by karmada. So I created three clusters, one of them (cluster127) has karmada deployed on it, and the other two (cluster128, cluster129) are member clusters.
The distribution of resources, differentiated configuration and other functions can all be done, but during the test failure migration, I found that it does not seem to be abl

[2021-09-18 10:37] snowplayfire opened #745 "Is it necessary to add Dockerfile using Multi-Stage Docker Builds for karmada?"
**What would you like to be added**:

**Why is this needed**:

[2021-09-22 01:42] XiShanYongYe-Chang commented on #744
Hi @zghyy ,
`ReplicaSchedulingPolicy` will be discarded, the corresponding functions have been moved to `PropagationPolicy.PropagationSpec.ReplicaScheduling`, you can try again using the following method:

[code]

[2021-09-22 01:46] RainbowMango commented on #744
Hi @zghyy
The precondition of  `fail-over` functionality is that the `karmada-scheduler` could select `successor` clusters without violating the schedule rules.

In the `nginx-propagation`(PropagationPolicy) above, you have declared the workload should deploy on `cluster128` and `cluster129`, and declared the weight for each cluster, so the scheduler can't do anything.

By the way, the `ReplicaSch

[2021-09-22 02:04] kerthcet commented on #695
since @qianjun1993 is following this issue, I didn't pay close attention to.

[2021-09-22 02:10] RainbowMango commented on #745
Looking forward to hearing your use case.

[multi-stage](https://docs.docker.com/develop/develop-images/multistage-build/).

[2021-09-22 02:23] #720 closed

[2021-09-22 02:30] zghyy commented on #744
I used the same method you mentioned when I wanted to declare the weights of the two clusters, but it didn't work. I declared 10 copies in nginx-deployment.yaml, and finally I saw 10 copies on each cluster. Then I found ReplicaSchedulingPolicy, and it is valid.

Just now I used the yaml file you gave, but still failed to declare the weight to the cluster.
(my kubernetes version is 1.17.2)

[2021-09-22 02:33] zghyy commented on #744
Ok i will check it out

[2021-09-22 02:41] RainbowMango opened #748 "local-up-karmada.sh should be runable without root privilege"
**What would you like to be added**:
The [hack/local-up-karmada.sh](https://github.com/karmada-io/karmada/blob/master/hack/local-up-karmada.sh) now requires root privilege. We should figure out why it requires `root` privilege and try to improve it.

**Why is this needed**:
Not all users using `root` even in developing environment.

[2021-09-22 02:45] RainbowMango commented on #748
cc @kerthcet @lfbear

[2021-09-22 06:16] lfbear commented on #748
I try to list somewhere required root privilege
- install kubectl
- create_signing_certkey and create_certkey (when 'CERT_DIR' can not be written)

[2021-09-22 06:36] lfbear commented on #666
We found some data can not gain when implemented, this version will add:
New field for all: `CLUSTER` is the member cluster
New field for workload: `ADOPTION` is the flag(Y/N), it is a bit inconvenient for `get pod`, maybe soon later
Not Implemented field: `LAST-UPDATE`

[2021-09-22 08:57] qianjun1993 commented on #695
I have propose a pr for the first four metrics. The last two may need more time since it may changes the structure of scheduler queue

[2021-09-23 01:25] #735 closed

[2021-09-23 02:46] kerthcet commented on #748
I thought the [quick-start](https://github.com/karmada-io/karmada#quick-start) missed the join process of `member clusters`, I reviewed the [pr](https://github.com/karmada-io/karmada/pull/733/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5L184-L187), some commands are discarded.   Am I right?

[2021-09-23 03:28] lfbear commented on #748
Yes, It is indeed removed from README, for easy to get started, the code has been implemented [here](https://github.com/karmada-io/karmada/pull/733/files#diff-7d4ed29e538a24039777bfeb879e1113db1ba39d013476732c1f1b14639ab6eaR111-R114)

[2021-09-23 03:54] lfbear commented on #666
@Garrybest @RainbowMango You can have a try eg.`karmadactl get deploy` [QAQ-rookie:feature/karmada-get](https://github.com/QAQ-rookie/karmada/tree/feature/karmada-get), before trying please keep the kubeconfig file of Karmada control plane in `~/.kube/karmada.config` or `export KARMADACONFIG=[PATH of Karmada control plane kubeconfig]`

[2021-09-23 08:52] gf457832386 commented on #730
Maybe more dimensions may need to be considered. Is it necessary to anticipate future tasks and make a more rational distribution?
If anyone has a real usage problem, please publicize it and talk about it together！

[2021-09-23 09:04] Garrybest commented on #730
Hi Fei, glad to see you again. @gf457832386

Anticipate future tasks? Sounds interesting. I don't know how to do that. Could you please give more demonstration?

[2021-09-23 09:37] RainbowMango commented on #398
Hi @pigletfly
Personally, I propose some events for `RB/CRB`. Please take a look.
[code]

[2021-09-23 10:59] gf457832386 commented on #730
Our current allocation is a greedy strategy to achieve the current optimal. However, whether some situations can be predicted based on historical resource usage data to make the overall resource utilization more reasonable.

[2021-09-23 11:07] gf457832386 commented on #730
Another question is that if Karmada works need to wait for the resources because of too many works? If the resources are sufficient at any time, the impact of this problem will be much smaller.

[2021-09-23 11:26] Garrybest commented on #730
Good thinking. But I'm afraid the prediction could not be reliable. Kubernetes also does not rely on any replica prediction when scheduling. [Descheduler](https://github.com/karmada-io/karmada/pull/726) would be better since scheduler only cares about the current optimal scheduling result and descheduler make some adjustment in a interval.

[2021-09-23 11:31] Garrybest commented on #730
Sorry I don't get you. Do you mean that workloads waiting for assigning replicas when a cluster is insufficient with resource? I think so. Now, this behavior is like kube-scheduler. It will do nothing but record a failing condition when lack of resource.

[2021-09-24 01:26] XiShanYongYe-Chang commented on #734
Hi @luotian-github , did you try again, any problems?

[2021-09-24 07:03] snowplayfire commented on #745
For example, karmada-controller-manager Dockerfile uses locally compiled binary, but our development environment may be different.

Multi-Stage Dockerfile which has `compile` and `build image` may be needed.

If needed, I can provide it.

[2021-09-24 09:50] luotian-github commented on #734
Still encountered this problem, I'm using the version 0.8.0 c37bedc1 now
![图片](https://user-images.githubusercontent.com/28591924/134655335-0da5c2c2-a927-463f-aaa9-f7af38901dd0.png)

[2021-09-24 10:04] XiShanYongYe-Chang commented on #734
Is it convenient for you to share your yaml? i will try it on my side.

[2021-09-24 12:11] RainbowMango commented on #617
Thanks for your work!
I wonder if we can finish this work by next week? (We might cut a release next week, and I really want this feature could be completely included in it.)

[2021-09-24 12:46] Garrybest commented on #617
Well, I am not familiar with helm. Still need help. The other work could be done before next week.

[2021-09-24 12:58] RainbowMango commented on #617
Fine. Let's ask @jrkeen @algebra2k for help.

`karmada-scheduler-estimator` is an `optional` components which intends to be installed to `host cluster` along with `karmada-scheduler`. And here is the [karmada-scheduler-estimator.yaml](https://github.com/karmada-io/karmada/blob/master/artifacts/deploy/karmada-scheduler-estimator.yaml).

Any idea?

[2021-09-24 13:49] jrkeen commented on #617
I will do this next week.

[2021-09-25 02:24] Garrybest commented on #617
Glad to hear that🚀, thanks @jrkeen.

[2021-09-25 07:49] kerthcet commented on #748
add a few comments:
1. docker daemon also required root privilege unless configed:
[code]
[Manage Docker as a non-root user](https://docs.docker.com/engine/install/linux-postinstall/), however we should also add a group with root privilege.

[2021-09-25 07:54] kerthcet commented on #748
I have some advices. Whether we can introduce two installation modes:
1. root privilege: fresh install like what it is.
2. non-root privilege: only install karmada cluster without `kubectl`, `kind` and so on. But we'll add some validation whether it's ready or not.

I have worked it out with non-root privilege, no other suites installed at the same time, e.g. `kubectl`, `kind`, `git`, `golang`, th

[2021-09-26 09:50] willzhang commented on #323
there have helm charts , please upload it to https://artifacthub.io/

[2021-09-26 10:05] willzhang opened #766 "helm install with Error: failed pre-install: timed out waiting for the condition"
**What happened**:
helm install karmada failed, it say :Error: failed pre-install: timed out waiting for the condition

[code]

**What you expected to happen**:
install success

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

way helm install need a long time and hangup, maybe it should success and run jobs in background.

[code]

i mu

[2021-09-26 12:52] RainbowMango commented on #766
Are you using a `kind` cluster or something else?

[2021-09-26 12:55] RainbowMango commented on #724
/remove-kind bug
/close
Since the verification has onboard now.

[2021-09-26 12:55] #724 closed

[2021-09-26 14:13] dddddai opened #768 "ResourceBinding aggregated status is not updated after unjoinning a target cluster"
**What happened**:
ResourceBinding aggregated status is not updated after unjoinning a target cluster

**What you expected to happen**:
ResourceBinding aggregated status(along with workload status) should be updated after unjoinning a target cluster

**How to reproduce it (as minimally and precisely as possible)**:
1.Set up environment
[code]

2.Unjoin member1
[code]

3.Check the ResourceBinding a

[2021-09-26 14:15] dddddai commented on #768
I suppose this could be a bug instead of an intention, isn't it? If so, I'm willing to fix this :)

[2021-09-27 01:02] RainbowMango commented on #768
Yeah, I think it's a bug too. But any idea about how to fix it?

[2021-09-27 01:32] RainbowMango commented on #323
@willzhang Nice suggestion. What are the benefits and what shall we do then?

[2021-09-27 01:39] dddddai commented on #768
Please see https://github.com/dddddai/karmada/commit/b13b355ba62692a6e68458ccf3f26a8f0b5b4f39, ResourceBindingController should aggregate status no matter if ensured work or not, WDYT?
I have tested this patch and it works.

[2021-09-27 01:48] XiShanYongYe-Chang commented on #768
Is it possible to put the `aggregate status` to  an independent controller?

[2021-09-27 02:08] dddddai commented on #768
Agree, `aggregate status` should be separated from `ResourceBindingController`, like `ExecutionController` with `WorkStatusController` and `ClusterController` with `ClusterStatusController`

[2021-09-27 02:26] willzhang commented on #323
**benefits：**easy install with helm , because github clone is very hard for chinese
**what shall you do:** registry an account in https://artifacthub.io/, then go to contral panel upload helm chats.

[2021-09-27 02:28] willzhang commented on #766
no, just a normal kubeadm cluster , i don't like kind.

[2021-09-27 02:44] RainbowMango commented on #766
@jrkeen Would you like to take a look?

[2021-09-27 03:07] jrkeen commented on #766
Is there a problem with the network environment? Maybe It took too long to pull the image. Can you provide more information? Thanks. @william-wang

[2021-09-27 03:39] willzhang commented on #766
maybe you are right ,but too long to pull the image should not a problems ,  just let it pull and then continue installation but why the install broken

[2021-09-27 03:51] jrkeen commented on #766
The pre-job must be completed to complete the next steps. If the pre-job has failed, the install is broken. So can't run the job in the background.

[2021-09-27 07:35] #766 closed

[2021-09-27 10:44] luotian-github commented on #734
pod yaml:
apiVersion: v1
kind: Pod
metadata:
  name: nginxpod
  labels:
    app: nginxpod
spec:
  containers:
  - image: nginx:v1.17.5-1
    name: nginx

propagation yaml:
apiVersion: policy.karmada.io/v1alpha1
kind: PropagationPolicy
metadata:
  name: nginx-propagation-pod
spec:
  resourceSelectors:
    - apiVersion: v1
      kind: Pod
      name: nginxpod
  placement:
    clusterAffinity:

[2021-09-28 04:52] RainbowMango opened #772 "[lfx-mentorship-2022-summer]Cluster Resource modeling"
**What would you like to be added**:
We don't want to collect and store each node's resources in detail(That's a burden for Karmada to maintain the information), but we want to build a `resource model` for each cluster, something like:
[code]

**Why is this needed**:
In the scheduling progress, the `karmada-scheduler` makes decisions as per a bunch of factors, one of the factors is the resource de

[2021-09-28 07:43] JarHMJ commented on #629
需要先在karmada的控制平面先创一个资源么？然后再通过Policy分发。

有没有把成员集群的资源同步到控制平面的操作？

[2021-09-28 07:44] yanlingsishao opened #774 "针对cluster，无法删除，怎么办"
我通过pull方式，添加的cluster。
无法delete该cluster

[2021-09-28 08:18] lonelyCZ commented on #774
You can try  command `karmadactl unjoin`, but this command have some  problems that karmada-agent will not be deleted.

[2021-09-28 08:48] kerthcet commented on #748
good idea, if my suggestion is accepted, I'll work on this pr then. thanks.

[2021-09-28 12:17] XiShanYongYe-Chang commented on #734
I'm sorry, I misread it.

The `v0.8.0` has not resolve this issue, you need to cherry-pick a4bc72c03cf831478bd6bd312e38e298882284c1 with #646 .

[2021-09-29 03:14] RainbowMango opened #776 "chart support multi-version conversion"
**What would you like to be added**:
Let chart apply CRD with multi-version conversion.

**Why is this needed**:
As #722 has enabled the API conversion.
We can't apply the generated CRD directly anymore, we have to:
- 1. set CA to the patch file, e.g. https://github.com/karmada-io/karmada/blob/c4e22717dfff7e87301236cf218df7a636bc2164/hack/deploy-karmada.sh#L201-L202
- 2. apply the patch to the gen

[2021-09-29 03:15] RainbowMango commented on #776
Hi @algebra2k @jrkeen
Can you help or share some instructions about how to do it?

[2021-09-29 03:50] #708 closed

[2021-09-29 06:00] jrkeen commented on #776
I have a preliminary idea.
* 1. The `webhook_in_clusterresourcebindings.yaml` and `webhook_in_resourcebindings.yaml` need to convert to `_webhook_in_clusterresourcebindings.tpl` and `_webhook_in_resourcebindings.tpl` in templates.

For example:
_webhook_in_resourcebindings.tpl
[code]
* 2. Modify pre-install-job YAML.
1. crds-configmap.yaml

https://github.com/karmada-io/karmada/blob/c4e22717dfff7e

[2021-09-29 06:36] RainbowMango commented on #776
If no other comments from @algebra2k, then let's do it.
@jrkeen would you like to take it?
I know it's a little bit rush. (We are going to cut a new release by the end of Thursday)

[2021-09-29 06:42] jrkeen commented on #776
Ok, as soon as I can.

[2021-09-29 06:44] algebra2k commented on #776
think this way there is not much problem, we will finish pr as soon as possible

[2021-09-29 11:31] #617 closed

[2021-09-29 12:08] RainbowMango commented on #617
Congrats! Thanks for @Garrybest 's excellent work, that means a lot to the community.

[2021-09-29 12:39] Garrybest commented on #617
You'are welcome. It's my pleasure. @RainbowMango

[2021-09-30 03:25] Garrybest opened #780 "Discussion about adding propagate priority during scheduling"
**What would you like to be added**:

Add a new field `PropagatePriority` into `ClusterAffinity` so that user could have a propagating preference with multiple levels of priority.

**User Story**:

1. Story 1

Image that we have our own private cloud clusters which are managed by karmada. When the load of clusters reaches the peak, we must scale our workload to public cloud clusters because the re

[2021-09-30 03:28] Garrybest commented on #780
/cc @kevin-wangzefeng @RainbowMango @qianjun1993 @mrlihanbo @XiShanYongYe-Chang @gf457832386

[2021-09-30 03:32] Garrybest commented on #730
It seems blocking, any more ideas? @RainbowMango @gf457832386

[2021-09-30 03:46] RainbowMango commented on #730
I'll be back to this discussion soon. :)

[2021-09-30 04:59] gf457832386 commented on #730
I think we have to think about the proportion of surplus resources. and next we can calculate the resource balance score according to the formula of resource balance and select the best way to allocate resources that meet the conditions of resource balance.

[2021-09-30 04:59] RainbowMango commented on #776
/close
In favor of #779

[2021-09-30 04:59] #776 closed

[2021-09-30 10:03] AaronLinOops opened #783 "Failed to startup with local karmada cluster due to : "pkg/controllers/hpa/hpa_controller.go:145:15: undefined: workv1alpha1""
**Please provide an in-depth description of the question you have**:

Follow the readme to startup a local karmada cluster, it failed with message:

[code]

**What do you think about this question?**:

I have no idea.

**Environment**:

kind v0.11.1 / kindest/node:v1.21.1
go1.16.4
darwin/amd64

- Karmada version:

master

[2021-09-30 10:53] XiShanYongYe-Chang commented on #783
@AaronLinOops Just a little problem, has been fixed, can you try again?

[2021-10-01 13:05] AaronLinOops commented on #783
Yes，it works, thanks, bros. Perhaps you guys could improve the CI/CD process to ensure that the master branch can be compiled properly at any time.

[2021-10-01 13:05] #783 closed

[2021-10-07 09:08] lonelyCZ opened #790 "Add deploy and undeploy scheduler-estimator for member cluster when karmadactl join and unjoin"
**What would you like to be added**:
Now executing `karmadactl unjoin` doesn`t  delete the scheduler-estimator of member cluster from karmada-host.

**Why is this needed**:
if using `karmadactl` to join member cluster, this component should be added.

[2021-10-08 01:17] RainbowMango commented on #783
The CI process can cover the compile, but this still happens when the PR is not rebased on the latest master branch.
This is an annoying thing :(

[2021-10-08 08:35] kerthcet commented on #695
I'm glad to work on the last two subtasks if possible. @qianjun1993

[2021-10-09 03:24] #748 closed

[2021-10-11 07:26] Garrybest commented on #790
Good idea. But note that karmadactl join and unjoin does not need to know the kubeconfig of host cluster, while the scheduler estimator must be deployed in host cluster. So this enhancement may lead to some complexity.

[2021-10-11 07:54] qianjun1993 commented on #695
Thanks for your help @kerthcet

[2021-10-12 02:24] dddddai opened #801 "karmadactl unjoin doesn't delete agent when unjoinning a pull mode cluster"
**What happened**:
When unjoining a pull mode cluster, the resources associated with agent still remain in the unjonning cluster.

**What you expected to happen**:
`karmadactl unjoin` should clean up resources associated with agent from the unjoining pull mode cluster

**How to reproduce it (as minimally and precisely as possible)**:
1.Set up environment
[code]
2.Join member1 in pull mode
[code]
3

[2021-10-12 03:05] qianjun1993 opened #802 "Discussion about the Priority and Preemption in scheduler"
**What would you like to be added**:
Now Karmada has provided one kind of replica division preference according to member clusters idle resource. The resourceBinding may be rejected by the scheduler when there is no enough  resource. In single cluster, Kubernetes  provide the Priority and Preemption for users so that pods with high priority can preempt the resource of pods with low priority. I  th

[2021-10-12 04:54] lonelyCZ opened #804 "Add `karmadm` tool init karmada and join/unjoin member cluster"
**What would you like to be added**:
`karmadm` is specifically used to initialize Karmada and join/unjoin member cluster or other preparatory work.

**Why is this needed**:
`karmadactl` is used to operate object in karmada control plane. Because Karmada initialization requires working with multiple clusters, which can be isolated to `karmadm`.

[2021-10-12 05:01] Garrybest commented on #790
You could add an agenda [here](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit).

[2021-10-13 06:53] iawia002 opened #811 "Question: why keep the vendor folder?"
**Please provide an in-depth description of the question you have**:

[Go modules](https://github.com/golang/go/wiki/Modules) already guaranteed that you will be able to build your packages deterministically by locking down the dependencies version into `go.sum`. So why do we still need to submit the vendor folder to the code base?

**What do you think about this question?**:

Maybe we can remove

[2021-10-13 13:44] opcache opened #815 "没有一个可视化WEB界面"
希望能有个可视化的管理界面，可以看多集群状态，多集群自动故障迁移等等

[2021-10-14 02:30] RainbowMango commented on #815
The development is ongoing now. Not sure which release it will get onboard.

For now, we can get the update on the community meeting.
/close

Feel free to re-open if you have further questions.

[2021-10-14 02:30] #815 closed

[2021-10-14 11:52] RainbowMango commented on #768
/assign @dddddai
As https://github.com/karmada-io/karmada/issues/768#issuecomment-927313417, and appreciate!

[2021-10-15 01:37] #768 closed

[2021-10-15 07:53] 2hangchen opened #818 "About networks"
**Please provide an in-depth description of the question you have**:
1.How realizes the loadbance of multiple clusters?
2.How to realize the flow control of multiple clusters in use overridepolicy?For example,how to control flow when overridepolicy is used to achieve grayscale publishing?
**What do you think about this question?**:
 \

**Environment**:
- Karmada version:0.9.0
- Kubernetes version:

[2021-10-15 13:29] lonelyCZ opened #819 "karmada-scheduler-estimator image can't be pulled"
**What happened**:

**What you expected to happen**:
When I deployed karmada by `remote-up-karmada.sh`, then executed `deploy-agent-and-estimator.sh`, the karmada-scheduler-estimator image can't be pulled. But other image all can be pulled.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]

[code]

**Anything else we need to know?**:
I consider that the karmada-sched

[2021-10-15 13:33] RainbowMango commented on #819
Hi @lonelyCZ
Sorry for that, I forgot to set public of this image :(

It's ok now, please try again.

[2021-10-15 13:56] RainbowMango opened #820 "Feature: Propose 'FullyApplied' condition for RB/CRB"
**What would you like to be added**:
Propose a new condition `FullyApplied` for RB/CRB.

[code]
**Why is this needed**:
Currently, we have [Applied](https://github.com/karmada-io/karmada/blob/cceed5c9f81d2643f65ef0452c1b34b17cdcecee/pkg/apis/work/v1alpha2/binding_types.go#L130) field which represents if the resource is applied to a `single` cluster. But the RB/CRB lacks an overall status/condition

[2021-10-15 14:05] RainbowMango opened #821 "Feature: Propose a Scheduled condition for RB/CRB"
**What would you like to be added**:
Proposing a condition `Scheduled` for RB/CRB.

[code]

**Why is this needed**:
After `karmada-scheduler` finishes the schedule, there is no status update, the controller has to `guess` if the scheduling process is done by
https://github.com/karmada-io/karmada/blob/c3cf3a3053baacd2512fd868a65a81d07c2c0c31/pkg/controllers/binding/binding_controller.go#L62-L68.

I

[2021-10-16 02:24] lonelyCZ commented on #820
Hi, @RainbowMango
Could This field  be set true if `Applied` of all aggregatedStatusItems are true?

[2021-10-16 02:37] RainbowMango commented on #821
Good question, my answer is `no`.

This proposal only focuses on the new condition, with no context of how to deal with the scenario ` cluster unjoined`.
Yes, it might be used by next step(deal with the `cluster unjoined`)

[2021-10-16 02:40] RainbowMango commented on #820
This is one of the condition, another one is `len(spec.Clusters) == len(status.aggregatedStatus)`.

[2021-10-16 03:26] RainbowMango commented on #820
/assign @lonelyCZ
Thanks and go for it.

[2021-10-16 04:56] dddddai commented on #821
Thanks for your reply, got it, I will do this job
/assign

[2021-10-18 07:15] #821 closed, assigned to dddddai

[2021-10-18 09:43] lonelyCZ commented on #804
Hi, @RainbowMango
I have some views for this feature:
1. Add `init` command for `karmadm` to init a karmada control plane on a host cluster, the script always is used by developers. For end user, just download binary file `karmadm`,  more suitable for using command to start a application, which looks more formal.
2. In the near future, `karmadactl-get` command will be used, I guess that `karmadact

[2021-10-18 12:13] dddddai opened #829 "Reschedule bindings on cluster change"
**What happened**:
Unjoined clusters still remain in `binding.spec.clusters`

**What you expected to happen**:
Unjoined clusters should be deleted from `binding.spec.clusters`

**How to reproduce it (as minimally and precisely as possible)**:
1.Set up environment(script v0.8)
[code]

2.Unjoin member1
[code]

3.Check `binding.spec.clusters`
[code]

**Anything else we need to know?**:
Is it an expec

[2021-10-19 05:22] vincent-pli opened #832 "hack/local-up-karmada.sh not work on my Kind env"
I have no idea if anyone hit the same issue, but when I try to setup `karmada` env with master branch and `hack/local-up-karmada.sh` it failed with this:
[code]

The root cause is when try to link member clusters it raise exception there:
https://github.com/karmada-io/karmada/blob/b83ce6f81ed31b62ccfd95ef71bbbb9a2b98eae9/hack/util.sh#L493-L506

To fix it, just add `{end}` to the command as:
`route

[2021-10-19 06:18] #666 closed, assigned to nobody

[2021-10-19 09:15] vincent-pli commented on #832
I found the root cause..., I guess there are several issue need address:
See the code:
https://github.com/karmada-io/karmada/blob/74371bf5509c625cc1e213b81b062cb21c2fd2cd/hack/util.sh#L114

1. it will delete the original `kubectl` which does not satisfied karmada(not version: v1.18.0)
but the `which kubectl` only return one path(unfortunately in my env I have two `kubectl` one is  in `/usr/bin`, a

[2021-10-20 01:18] XiShanYongYe-Chang commented on #829
No.

[2021-10-20 01:40] mrlihanbo commented on #832
The util::add_routes function is to make two kind cluster connectable which serve for MCS feature.

[2021-10-20 02:18] XiShanYongYe-Chang commented on #734
Any progress?

[2021-10-20 03:40] #670 closed

[2021-10-20 13:13] yuswift opened #843 "why separate `cluster controller` and `cluster_status_controller`"
**Please provide an in-depth description of the question you have**:
I think the `cluster controller` should read `cluster.spec`, the updates `cluster.staus`, why do we separate it into two parts?
**What do you think about this question?**:

**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2021-10-21 01:46] XiShanYongYe-Chang commented on #829
When there have cluster delete event, a rescheduling should maybe need to triggere.

How do @RainbowMango think?

[2021-10-21 02:49] RainbowMango opened #846 "Adopt conversion-gen to generate conversion function"
**What would you like to be added**:
Adopt [conversion-gen](https://github.com/kubernetes/code-generator/tree/master/cmd/conversion-gen) to generate functions that convert between different API versions.

**Why is this needed**:
Currently, the `ResourceBinding` and `ClusterResourceBinding` API serve `v1alpha1` and `v1alpha2`, and implemented the conversion functions([v1alpha1 conversion](https://g

[2021-10-21 03:35] RainbowMango commented on #398
Hi @wawa0210
Could you design the event here before filing a PR? I'm afraid not all tasks listed on the issue really need report events.

[2021-10-21 03:47] iawia002 commented on #846
In the discussion of #773, I misunderstood something. If you want to generate this kind of thing, conversion-gen doesn’t seem to be able to do it. conversion-gen is a tool for auto-generating functions that convert between internal and external types, not two versions of an API, I'm not so familiar with conversion-gen, how does conversion-gen know how to convert two versions of an API?

[2021-10-21 05:43] vincent-pli opened #847 "Submariner not work follow the current quick start document"
I follow the quick start document for `Submariner`: https://github.com/karmada-io/karmada/blob/master/docs/working-with-submariner.md

I found it not work, root cause is there is no `Gateway Engine` installed: node with label `submariner.io/gateway=true` will be treat as where `Gateway Engine` should be installed, but there is no such label in `karmada` env prepared.

am I missing something?

**Wh

[2021-10-21 06:32] #820 closed

[2021-10-21 07:00] vincent-pli commented on #847
Actually I adopt `hack/local-up-karmada.sh` to build env for `karmada`.
in https://submariner.io/getting-started/quickstart/kind/,  i guess they hide the details(I mean label the node) in the `make clusters`, but I can not make sure... @XiShanYongYe-Chang

[2021-10-21 09:41] yuswift commented on #843
thanks
/close

[2021-10-21 09:42] #843 closed

[2021-10-21 09:56] iawia002 commented on #846
// WARNING: in.Replicas requires manual conversion: does not exist in peer-type

How do we add those manual conversions, if we can configure that, maybe it works.

[2021-10-21 11:13] RainbowMango opened #848 "[GoodFirst] Cleanup outdate comments"
**Task description**:
Clean up comment that forgot to remove in the previous release.

**Solution**:
[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,
they should be ready to move on to `help wanted` items, saving the remain

[2021-10-22 01:47] vincent-pli commented on #847
Yes, I noticed that, but seems `Summariner` exchange cross-cluster request by `Gateway Engine`. @XiShanYongYe-Chang
The process should be:
[code]

[2021-10-22 02:13] XiShanYongYe-Chang commented on #847
Thank you for your analysis.

We use submariner to connect the network between clusters, then use **MCS** feature to discovery Multiple Clusters Service, now clusters created by hack/local-up-karmada.sh can make it. So we can use new clusters created by hack/create-cluster.sh for testing.

Perhaps we can use the script to create karmada without creating a member cluster, and then add the new clust

[2021-10-22 04:53] dddddai commented on #829
How about removing applied placement annotation of binding on cluster add/delete? It will make the scheduler reschedule the binding as `ReconcileSchedule`
https://github.com/karmada-io/karmada/blob/8e1e16e95081d7431852c6a46ea372ff79a50b5e/pkg/scheduler/scheduler.go#L824-L828

[2021-10-22 08:14] XiShanYongYe-Chang opened #853 "[GoodFirst] Remove cluster_test.go file in E2E test"
**Task description**:

Now there are no cases to test cluster, so we can remove `test/e2e/cluster_test.go` in E2E test file.  If we need it in the future, add it back.

**Solution**:

Remove `test/e2e/cluster_test.go` file.

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has succ

[2021-10-22 08:15] #848 closed, assigned to gf457832386

[2021-10-24 02:25] #853 closed

[2021-10-24 02:28] RainbowMango commented on #689
/close
As the `kubecatl karmada get deployment` command available now.

[2021-10-24 02:28] #689 closed

[2021-10-25 01:57] RainbowMango opened #858 "[GoodFirst] Add karmada meeting link"
**Task description**:
Add Karmada meeting link to `README.md` file.

**Solution**:
[code]

1. Update `Meeting notes and agenda` to Meeting `N`otes and `A`genda
2. Add `Meeting Link`

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,

[2021-10-25 03:15] #858 closed, assigned to penghuima

[2021-10-25 07:12] gf457832386 opened #860 "Error：The Service "karmada-apiserver" is invalid: spec.ports[0].nodePort: Forbidden: may not be used when `type` is 'ClusterIP'"
**What happened**:
Error: The Service "karmada-apiserver" is invalid: spec.ports[0].nodePort: Forbidden: may not be used when `type` is 'ClusterIP'

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
env CLUSTER_IP_ONLY=true hack/remote-up-karmada.sh ~/.kube/config kubernetes-admin@kubernetes

**Anything else we need to know?**:
尝试修改srevice里为Cluster

[2021-10-25 08:23] learner0810 opened #861 "karmada will support distribution of helm afterwards？"
**What would you like to be added**:

**Why is this needed**:
karmada is doing application distribution, currently most applications are delivered via helm charts, does karmada have any plans to support distribution charts?

OCM supports installing applications as Helm Chart and loading remote Chart repositories.

[2021-10-26 09:03] #860 closed, assigned to nobody

[2021-10-26 11:32] pigletfly opened #870 "use github action to sync apis"
**What would you like to be added**:

**Why is this needed**:

[2021-10-27 12:08] #832 closed, assigned to nobody

[2021-10-28 02:25] learner0810 opened #878 "supprot NoExecute taint"
**Please provide an in-depth description of the question you have**:

![企业微信截图_72bef10d-737e-4a35-a62d-9f71a4e0faf0](https://user-images.githubusercontent.com/39400425/139175001-554699d5-b2bf-465f-9f8a-4d45f1fe19b3.png)

**What do you think about this question?**:

I think add t.Effect == corev1.TaintEffectNoExecute, this function is ok. why add todo,please give me some hints

**Environment**:
- K

[2021-10-28 03:41] #274 closed, assigned to nobody

[2021-10-28 06:29] 2hangchen opened #879 "The cluster status cannot be obtained by using kubectl get clusters"
**What happened**:
After a cluster is joined,the status and version info can't get by kubect get clusters cmd.

![image](https://user-images.githubusercontent.com/31329928/139199293-81f139e6-f814-422b-9247-f9ce2242c788.png)

**Environment**:k8s:v.1.21.2
- Karmada version:0.9.0
- Others:

[2021-10-28 06:31] 2hangchen opened #880 "member clusters can be join repeatedly"
The same member cluster can be joined to Karmada in two aliases(ClusterName),i don't know if this is a bug or by design?

**Environment**:
- Karmada version:0.9.0
- Others:

[2021-10-28 08:59] #879 closed, assigned to nobody

[2021-10-28 12:13] Garrybest opened #882 "Implement `karmadactl taint` to add taints into a cluster"
**What would you like to be added**:
Now karmadactl only supports cordon and uncordon. I guess `karmadactl taint` is also needed to enhance ops ability. Here is the example.

[code]

Anyone who is interested could have a try.

/help

[2021-10-29 01:54] 2hangchen opened #883 "A few questions"
**Please provide an in-depth description of the question you have**:
After deploying Karmada in an offline environment yestorday,I had a fer questions:
1.  When deployed to an existing K8s cluster, can Karmada share a etcd with K8s,why deploy Karmada's own  etcd?
2.  After join the cluster self as a member,the propragation policy cannot be deployt to the cluster

**Environment**:
- Karmada version

[2021-10-31 05:13] Phil-sun opened #890 "what's the minimum server configuration to deploy karmada by ./local-up-karmada.sh"
**Please provide an in-depth description of the question you have**:
Firstly, my server configuration is 4 core 4G.  When l had finished the deployment of  karmada by local-up-karmada.sh,
insufficient host resources led the server to collapse.
**What do you think about this question?**:
IMHO, maybe just create two member clusters for test, or make an option for users to choose how many cluseters t

[2021-10-31 08:58] Shike-Ada opened #892 "karmadactl cordon -h can't work correctly"
**What happened**:
A function in /pkg/karmadactl/cordon.go called AddFlags(140 ~144lines) can't work correctly, because when I input "karmadactl cordon -h", as shown below, it just print one Flags called "-h". It doesn't make sense since I can't get any help by inputting this command.
![Karmada的bug1截图](https://user-images.githubusercontent.com/80157436/139574633-1c6b74cb-9233-4a60-a6ec-378d0de5717

[2021-11-01 02:41] Garrybest opened #893 "Support Job Scheduling"
**What would you like to be added**:
Now karmada could only divide replicas with `Deployment`. I wanna add `Job` scheduling in scheduler.

**Why is this needed**:
Job is an important kind of native workload. We could divide replicas by `spec.parallelism`. And the `spec.completions` could be divided weighted by scheduling result.

/cc @RainbowMango @qianjun1993 @gf457832386

[2021-11-01 02:51] Garrybest commented on #892
The command `karmadactl cordon -h` does print the related information. See below.

[code]

The action `cordon` does not need any other flags. The example `karmadactl cordon foo` does explain well.

[2021-11-01 02:56] Garrybest commented on #892
/assign @algebra2k

[2021-11-01 10:47] lonelyCZ opened #896 "Provide some example for `karmadactl get`"
**What would you like to be added**:
There is only  a template that is not clear. What resource we can get?
[code]

**Why is this needed**:
There aren't cluster when I execute `karmadactl get cluster`. Is it a bug or not supported?
[code]

[2021-11-02 02:10] lonelyCZ commented on #892
There could be a omit in `cordon` and `uncordon`

The `AddFlags` has been defined, but is not used so that `--karmada-context` and `--dry-run` flags can not be input when executing `karmadactl cordon` or `karmadactl uncordon`.
https://github.com/karmada-io/karmada/blob/421bf6da0a10a0afc808e3107db9dd92d461e67e/pkg/karmadactl/cordon.go#L115-L120

# Solution
We should add following code in `NewCmdCor

[2021-11-02 03:35] qianjun1993 opened #900 "Old schedule result will be retained when new ReconcileSchedule fails"
**What happened**:
When users change the  associated policy workload， Karmada-scheduler will try a ReconcileSchedule  to reschedule the workload. It shares the same logic with first Scheduler。 When the new schedule fails, the old schedule result will be retained in the resourceBinding .

 For example, a deployment  is assigned to cluster A with 5 replicas. user wants to change it to cluster B , so

[2021-11-02 08:42] learner0810 commented on #896
@lonelyCZ not supported
![企业微信截图_da74e77f-3e4f-4fdd-bec1-1f7d68e857b9](https://user-images.githubusercontent.com/39400425/139813475-504a4d70-e74d-4598-870f-cb9c7506cb4e.png)

[2021-11-02 08:50] lonelyCZ commented on #896
@learner0810 ,Thank you!
`karmadactl get` has been added in master head, but there aren't clear usage examples.

[2021-11-02 09:22] #892 closed

[2021-11-02 09:29] RainbowMango commented on #893
Hi @Garrybest
Can you list the user stories? Let's figure out if it is reasonable or do we have alternative solutions.

[2021-11-02 09:54] XiShanYongYe-Chang opened #906 "skipped Event api does not take effect"
**What happened**:

When I set `--skipped-propagating-apis` to `karmada-controller-manager` such as:

[code]

It dose not take effect. In `karmada-controller-manager` logs file, still have Event info with `detector`:

[code]

**What you expected to happen**:

The setting take effect.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environm

[2021-11-02 09:55] XiShanYongYe-Chang commented on #906
/help wanted

[2021-11-02 09:56] XiShanYongYe-Chang commented on #906
/help

[2021-11-02 10:20] learner0810 commented on #896
Yes, master has been added. I saw the 0.9 version @lonelyCZ

[2021-11-02 10:40] Charlie17Li commented on #906
/assign

[2021-11-02 11:01] dddddai commented on #906
The flag works fine in my environment, you specified **`v1/Event` but not `events.k8s.io/v1/Event`**

[2021-11-02 11:21] XiShanYongYe-Chang commented on #906
Hi @dddddai , the log contains both `v1/Event` and `events.k8s.io/v1/Event`:

[code]

[2021-11-02 11:25] XiShanYongYe-Chang commented on #906
[code]

[2021-11-02 11:39] XiShanYongYe-Chang commented on #906
I try with `--skipped-propagating-apis=events.k8s.io/v1/Event`, but it doesn't work on my side.

[2021-11-02 11:41] dddddai commented on #906
That's flaky, there's no such log in my environment

BTW, why is there a event in `karmada-es-member1`?
Only works exist in this namespace, don't they? Please correct me if I'm wrong

[2021-11-02 11:44] XiShanYongYe-Chang commented on #906
Yeah, I create a deployment and propagate it to member clusters:

[code]

[2021-11-02 12:04] dddddai commented on #906
Do you clean up the deploy and propagation policy before adding the flag and recreate them after adding it?

[2021-11-02 12:11] pigletfly commented on #517
sometimes we need update object spec in member cluster,if corresponding PropagationPolicy is still working,the manually update will be overwrite by karmada.So if we can pause the sync,then the manually update will be processed successfully.

[2021-11-02 12:34] Garrybest commented on #893
Hi @RainbowMango. This issue is very similar with deployment replica scheduling.

Guess that we have a job with `spec.completions=100` and `spec.parallelism=10`, which means the job must be computed 100 times while there are up to 10 replicas running at the same time.

Maybe every replica needs large resources, like AI training Job. We may not have so much resource in one cluster. So it is reasona

[2021-11-02 12:36] dddddai commented on #906
Let me fetch upstream and try again...

[2021-11-02 12:39] pigletfly commented on #906
Event belongs to corev1.I use `- --skipped-propagating-apis=v1/Node,Event,Pod,PersistentVolume,ConfigMap,Endpoints,PersistentVolumeClaim;apiextensions.k8s.io/v1;events.k8s.io/v1beta1;discovery.k8s.io/v1beta1;rbac.authorization.k8s.io/v1` works for me

[2021-11-02 12:40] pigletfly commented on #906
@XiShanYongYe-Chang can you try config above ?

[2021-11-02 12:58] dddddai commented on #906
Oh, after I fetched upstream, this happens, I suspect it's because this [commit](https://github.com/karmada-io/karmada/commit/ecce805dc8d259294bb50264064d0f51f2fd7397#diff-a111978a679a9f03e49c67a43ecb913299d153e59ce48d2d30f5029f27ab601aL113) deletes `skippedResourceConfig.Parse` when initializing `karmada-controller-manager`, which makes the flag NOT work

[This change](https://github.com/karmada-

[2021-11-02 14:19] gf457832386 commented on #893
I get more information ~hhhhIs this an example of a real production environment?

[2021-11-02 14:32] gf457832386 commented on #893
get more interests~ A new type task: Batch Job , which differs from long-running tasks.
①This solution is simple and effective. The target is to minimize the job completion time, assuming that all clusters have sufficient resources at the same level of computing.
②I want to know more: Is this an example of a real production environment？ Do you know some specific questions need to solve?

[2021-11-02 15:23] Garrybest commented on #893
Hi @gf457832386, that's true. We have some huge AI training jobs and we would like to run those jobs by using resource as much as possible so that they could be trained more quickly.

[2021-11-03 01:19] RainbowMango commented on #906
Right, #881 omitted the `parse()` action, so all configurations made by `--skipped-propagating-apis` are ignored.
cc @learner0810

[2021-11-03 01:30] RainbowMango commented on #893
Thanks @Garrybest , it is reasonable to me.
I know @mrlihanbo used a lot `Job` in production, I'd like to ask him for comment.

[2021-11-03 01:36] Garrybest commented on #893
Glad to hear that. Looking forward to your reply😄

[2021-11-03 01:36] Garrybest commented on #893
Glad to hear that. Looking forward to your reply😄.

[2021-11-03 02:22] learner0810 commented on #906
@RainbowMango This issue has been fixed. @XiShanYongYe-Chang I'm really sorry for the trouble caused to you by this problem

[2021-11-03 02:42] RainbowMango commented on #906
No worries, I didn't notice it as well.

[2021-11-03 04:04] pigletfly opened #912 "Make post-install-job pre-install-job image configurable in helm chart"
**What would you like to be added**:

**Why is this needed**:

[2021-11-03 04:04] pigletfly commented on #912
/assign

[2021-11-03 04:18] XiShanYongYe-Chang commented on #906
It's okay, I just wanted to try this feature. :)

[2021-11-03 08:01] BDXGD commented on #900
I would like to try it.

[2021-11-03 08:58] BDXGD commented on #900
/assign

[2021-11-04 01:00] #906 closed

[2021-11-04 01:43] 2hangchen opened #915 "Look at the source code encountered doubts"
**Please provide an in-depth description of the question you have**:
These is  a namespace field in the ResourceSelector struct ,What does this field mean? I don't understand the nodes....
![image](https://user-images.githubusercontent.com/31329928/140242921-97e2ddae-9c50-4d75-bf2b-6b49a12f2ee9.png)
What does 'target' mean? Is it 'namespace' of 'Deployment' or 'Namespace' of the candidate cluster?

[2021-11-04 02:25] qianjun1993 commented on #900
A detailed solution may need more discussion. In fact, sometimes clean all the old schedule result is not suitable.

[2021-11-04 02:33] 2hangchen commented on #915
A couple of questions:
1. What if the resources in the candidate cluster cannot satisfy the Request during distribution?

[2021-11-04 05:56] #890 closed

[2021-11-04 06:54] #912 closed

[2021-11-04 07:15] mrlihanbo commented on #878
Hi, @learner0810, the available taints in kubernetes are:
NoSchedule: Pods that do not tolerate this taint are not scheduled on the node.
NoExecute: Pod is evicted from the node if it is already running on the node, and is not scheduled onto the node if it is not yet running on the node.
In other words, the difference between NoSchedule and NoExecute is that with the first one it won't schedule a

[2021-11-04 08:26] XiShanYongYe-Chang commented on #847
/close

Turn this off first, and if you have any questions,  we can reopen it.

[2021-11-04 08:26] #847 closed

[2021-11-05 04:00] iawia002 opened #918 "Replace go get with go install"
**What would you like to be added**:

I will use `go install` instead of `go get` for package installation.

**Why is this needed**:

We should be prepared for this, see following links for more info:

* [Deprecation of 'go get' for installing executables](https://golang.org/doc/go-get-install-deprecation)
* [go install](https://golang.org/ref/mod#go-install)

/kind cleanup

[2021-11-05 04:00] iawia002 commented on #918
/assign

[2021-11-05 04:02] wawa0210 opened #919 "The entrance of each module of karmada needs more rigorous verification and more reasonable output"
**What happened**:
if we run karmada-shcheduler with wrong flag，The following situations will occur

[code]

The following can be improved through the output:

- Strict verification for important flags
- The exception stack here does not need to be output

**What you expected to happen**:

[code]

The following modules all have the problems mentioned in this issue

- [x] agent #930
- [x] controlle

[2021-11-05 06:15] mrlihanbo commented on #880
A cluster could be joined many times as long as with a different name. We can't identify the cluster by apiserver address because some clusters may have internal address and EIP for apiserver.
When a cluster joined repeatedly, once you remove one of them, all of the clusters will turn into unready status. This happens because they share the same RBAC resources. The RBAC resources will be deleted w

[2021-11-05 06:27] mrlihanbo commented on #915
1. It is the 'namespace' of 'Deployment' in karmada-apiserver.
2. `parent` means the the resource which refers to the `ResourceSelector`, which can be `propagationpolicy`, `clusterpropagationpolicy`, `overridepolicy`, `clusteroverridepolicy`.
for example, if you create a `propagationpolicy` in `test` namespace, the detector will match resource in `test` namespace for the `propagationpolicy`.

[2021-11-05 06:36] pigletfly opened #921 "refactor ObjectWatcher interface"
**What would you like to be added**:
refactor ObjectWatcher interface into
[code]
**Why is this needed**:

the ObjectWatcher interface now is

https://github.com/karmada-io/karmada/blob/9f2835d3f29ef56c817963181e3ef1a3bbb1d003/pkg/util/objectwatcher/objectwatcher.go#L29-L34

there is a clusterv1alpha1.Cluster object, if cluster version changed,all reference should be changed as well.It's more conv

[2021-11-05 06:39] pigletfly commented on #921
/kind cleanup

[2021-11-05 06:43] RainbowMango commented on #921
ask @mrlihanbo for comment.

[2021-11-05 07:18] mrlihanbo commented on #921
I pass a clusterv1alpha1.Cluster object because we need to construct a `dynamicClusterClient`. Maybe you need to refactor `ClientSetFunc`.

[2021-11-05 07:49] pigletfly commented on #921
yes ClientSetFunc will be refactored as well.
[code]

[2021-11-05 08:24] mrlihanbo opened #922 "Add events or conditions for cluster object"
**What would you like to be added**:
Add events or conditions in cluster object

**Why is this needed**:
I have met a scenario that cluster status controller failed to get the list of APIs installed in the member cluster which lead to empty status in cluster object.
[code]
I suggest to add events or conditions for cluster object when collectting status failed.

[2021-11-05 09:25] XiShanYongYe-Chang opened #923 "Task Split: support Resource Explore Webhook for CRD"
- * [x] API Design #899 #961 #968 #981
- * [x] Add the validation during creation
  - * [x] add the validation for ResourceExploringWebhookConfiguration creation #941
  - * [x] add demo configurations #996
  - * [x] add UT #986
- * [x] Webhook implementation
  - * [x] explore interface design #934
  - * [x] setup custom resource explorer #951
  - * [x] hooks matching and sending requests to webhoo

[2021-11-05 09:38] XiShanYongYe-Chang opened #924 "[GoodFirst] Skip Event api in detector"
**Task description**:

Generally, `Event` resources do not need to be propagated to member clusters. There are many related logs in `karmada-contoller` logs:

[code]

So we can skip `Event` resources in detector.

**Solution**:

Modify file `artifacts/deploy/controller-manager.yaml` like this:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributor

[2021-11-05 10:24] dddddai commented on #924
I guess `v1/Event` should be skipped as well

`- --skipped-propagating-apis=v1/Event;events.k8s.io/v1/Event`

[2021-11-05 10:31] RainbowMango commented on #924
The `Event` should be ignored by default, not by `--skipped-propagating-apis`.

[2021-11-05 10:33] XiShanYongYe-Chang commented on #924
Turn it off for now, and come up with a definite solution I will reopen.

/close

[2021-11-05 10:33] #924 closed

[2021-11-05 13:31] #701 closed

[2021-11-05 13:38] RainbowMango commented on #924
@XiShanYongYe-Chang @dddddai
How about this:
[code]

[2021-11-05 14:55] pigletfly commented on #924
we should reconsider which resources should be ignored by default.I skipped
```v1/Node,Event,Pod,PersistentVolume,Endpoints,PersistentVolumeClaim;apiextensions.k8s.io/v1;events.k8s.io/v1beta1;discovery.k8s.io/v1beta1;rbac.authorization.k8s.io/v1``` in my cluster.

[2021-11-05 14:57] pigletfly commented on #922
ref https://github.com/karmada-io/karmada/issues/398

[2021-11-05 15:59] RainbowMango commented on #650
I'm lost from this issue. Who can give an example of how to reproduce?

[2021-11-06 05:23] dddddai commented on #924
@RainbowMango Yes, and I think we should decide which resources(besides `Event`) to be skipped by default as @pigletfly said

[2021-11-06 06:44] lonelyCZ commented on #919
Hi, @wawa0210 @RainbowMango
I consider we needn't to validate all flags in Validate(), most flags can be checked in Run(). We could only return error that has been in more detail, and customize error if necessary.

We only validate the flags that can't report error immediately when starting the component, but trigger error after a time.

[2021-11-06 07:00] wawa0210 commented on #919
We can do some basic checks on flags, such as whether the format is correct, whether the port range is reasonable, etc.

Then do not output stack error when the program is wrong,Seems enough . What do you think

[2021-11-06 07:15] lonelyCZ commented on #919
Right, for these basic checks, we can customize the specific error for users.

[2021-11-06 07:54] lonelyCZ commented on #919
@wawa0210 Do you find what flags need to validate? Most flags also are checked in Run(), We don`t need to validate the format of common flags.
https://github.com/karmada-io/karmada/blob/393769e79ec82d87ead4abc3e23107927351445d/cmd/agent/app/agent.go#L58-L72

`--feature-gates` also have been checked
[code]

[2021-11-06 08:12] lonelyCZ commented on #919
We could validate these components like `karmada-controller-manager`, but we should validate significative flags, not all.
https://github.com/karmada-io/karmada/blob/393769e79ec82d87ead4abc3e23107927351445d/cmd/controller-manager/app/options/validation.go#L73-L84

[2021-11-06 08:29] XiShanYongYe-Chang commented on #924
Just as @dddddai said, both `v1/Event` and `events.k8s.io` need to be disabled.

Currently, `Event` needs to be skipped. Other resources can be added to default later if necessary. What do you think? @dddddai @pigletfly @RainbowMango

[2021-11-06 08:32] XiShanYongYe-Chang commented on #924
/remove-good first issue

[2021-11-06 08:36] XiShanYongYe-Chang commented on #924
/remove-good-first-issue

[2021-11-06 09:20] wawa0210 commented on #919
There should be some public parameters, such as binding address, port, timeout, etc. The advance may be related to specific components, I have not exhausted

[2021-11-06 09:23] wawa0210 commented on #919
I mentioned a pr as a simple start #917. For the flag verification here, I refer to the design of kubernetes, which increases the possibility of testing.

[2021-11-06 09:56] RainbowMango commented on #893
Hi @Garrybest
There are 3 main types of Jobs as mentioned in [Parallel execution for Jobs](https://kubernetes.io/docs/concepts/workloads/controllers/job/#parallel-jobs).

Which type of Job is in your use case? `Parallel Jobs with a fixed completion count` or `Parallel Jobs with a work queue`, or both?

We can't presume both `.spec.completions` and `.spec.parallelism` are set properly, one of them

[2021-11-06 10:16] RainbowMango commented on #893
E.g. After apply following Job, the `.spec.completions` is null:
[code]
env: kubernetes v1.20

[2021-11-06 11:28] dddddai commented on #924
Yes it makes sense to me, may I work on this? :)

[2021-11-06 11:30] RainbowMango commented on #924
Sure, go for it. And thanks @dddddai

[2021-11-06 14:10] Garrybest commented on #893
Hi @RainbowMango, I suppose to support both.
I didn't notice the 3rd kind. So I guess if the `.spec.completions` is not set, we should not divide the `.spec.completions`. However, `.spec.parallelism` will never be null since the default number is 1 if we don't set it.
Fortunately, `.spec.parallelism` is the `replicas` field that have a influence on replica division.

[2021-11-06 14:23] Garrybest commented on #893
See [here](https://github.com/kubernetes/kubernetes/blob/dccaa29e1531b59f4b4b48d0e0c4777cb530c555/pkg/apis/batch/v1/defaults.go#L34-L41)

[2021-11-07 02:54] mrlihanbo commented on #922
Events will disappear after --event-ttl time and can't be seen in status field. I think conditions is also needed, shown as below:
[code]

[2021-11-07 05:53] BDXGD commented on #900
Yes, I guess feasible solutions include deleting Pod resources, or migrating a part of Pods to cluster B(in your example), or Karmada's default solution.
But without the user's consent, no matter what kind of strategy is not suitable.
IMO, it needs to interact with the users, let the user choose which strategy(add some parameters to the when using command line).

[2021-11-07 05:56] BDXGD commented on #900
Yes, I guess feasible solutions include deleting Pod resources, or migrating a part of Pods to cluster B(in your example), or Karmada's default solution.
But without the user's consent, no matter what kind of strategy is not suitable.
IMO, it needs to interact with the users, let the users choose which strategy, or add some parameters to the command line when using it.

[2021-11-08 02:26] 2hangchen commented on #915
I've verified it here,  it's true. Thx.

[2021-11-08 02:26] #915 closed

[2021-11-08 03:10] RainbowMango commented on #801
I suppose talking about the solutions at the community meeting. So could you add an agenda to the meeting docs?

[2021-11-08 03:16] Garrybest commented on #922
Cool, I have met this issue before.

[2021-11-08 03:39] #921 closed

[2021-11-08 03:56] dddddai commented on #801
Sure, thanks for the attention!

[2021-11-08 10:35] kerthcet opened #935 "Add priority and preemption mechanism"
**What would you like to be added**:
I'd like to add a `Priority Queue`, maybe we will replace the  current `RateLimitingQueue` oneday.

**Why is this needed**:
1. Currently, we use a `RateLimitingQueue` to dispatch `resourcebinding`, however, we only store `name` or `namespace/name` as key, and empty struct as value, struct as below:
[code]
This is easy but simple, e.g. https://github.com/karmada

[2021-11-08 10:36] kerthcet commented on #935
/assign

[2021-11-08 10:37] kerthcet commented on #935
@RainbowMango PTAL and give me some advices.

[2021-11-08 11:41] RainbowMango commented on #935
I guess the benefits of the `priority queue` would be more than the metrics.  Can you list them out?
By the way, I think it'd be better to talk about this at a community meeting.

[2021-11-09 05:52] kerthcet commented on #935
I think I can think about this deeply and let's talk about it in the next meeting.

[2021-11-09 10:58] lonelyCZ opened #938 "karmadactl get report error: x509: certificate signed by unknown authority"
**What happened**:
I created karmada by `hack/remote-up-karmada.sh`, and join a member cluster by `karmadactl join`. I want to use `karmadactl get`, but there is a certificate error.
[code]

**What you expected to happen**:
Return correct pod information.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I find that the err is returned by below

[2021-11-09 14:14] RainbowMango commented on #922
It's fair enough to add a condition to reflect the state of `if we can collect status from a cluster`.
But I don't think we need to add one condition for each step. Only one condition would be enough, the detailed message could be noted in `message`.

[2021-11-09 14:14] RainbowMango commented on #922
/assign @mrlihanbo

[2021-11-10 00:58] mrlihanbo commented on #922
If over one step failed,  the `message` will be very strange. kubernetes also show status of node by different conditions, like `MemoryPressure`, `DiskPressure`, `PIDPressure`.

[2021-11-11 01:28] 2hangchen opened #944 "Are there apis that provide in addition to custom resources, such as karmadactl's join, unjoin, and other restAPI implementations"
**Please provide an in-depth description of the question you have**:
Are there apis that provide in addition to custom resources, such as karmadactl's join, unjoin, and other restAPI implementations

[2021-11-11 02:05] RainbowMango commented on #944
Sorry, didn't get what you mean.

[2021-11-11 02:38] 2hangchen commented on #944
在那天的社区会议中看到了前端的展示demo，集群列表等信息是可以通过apiserver提供的cluster.karmada.io下的restapi获取到，那么karmadactl命令行相关的命令，比如join，unjoin等命令有没有提供相关的restapi接口给前端调用

[2021-11-11 02:42] RainbowMango commented on #944
Good question! I guess it is pretty reasonable to add some to support join/unjoin by API.
No clear ideas about how to do it.

[2021-11-11 02:54] 2hangchen commented on #944
I tried an implementation yesterday that implemented karamdactl's commands as an http server component installed on the karmada control panel ,and verified.Like this:
1. Implement an HTTP server
![image](https://user-images.githubusercontent.com/31329928/141228801-d15e2ba2-e08c-45a9-adb7-d45f75f8e141.png)
2. Make a container
![image](https://user-images.githubusercontent.com/31329928/141228934-e4f

[2021-11-11 03:09] RainbowMango commented on #616
Hi @lfbear
What's the update for this issue? Does this issue still exist?

[2021-11-11 03:10] RainbowMango commented on #944
Impressive! I see you introduced another component (`backendapi`), I guess it serves not only the KarmadaUI, but also other systems.

We are also thinking about providing more APIs by the `karmada-apiserver` (the benefit is we can share the same entry), but don't have an ideal solution yet. We have discussed similar things at https://github.com/karmada-io/karmada/issues/451.

[2021-11-11 03:11] RainbowMango commented on #944
Looking forward to meeting you at the community meeting to talk about it.

[2021-11-11 03:17] RainbowMango commented on #398
I guess we can reopen it once we get clear requirements.
/close

[2021-11-11 03:17] #398 closed

[2021-11-11 03:22] 2hangchen commented on #944
#451 This describe looks not easy to impimplement,I think it's possible to spin off a service(server) that either provides a restapi implementation of karmadactl's commands or acts as a pass-through proxy for karmada-apiserver.where all http requests are processed.

[2021-11-11 03:23] 2hangchen commented on #944
It acts like a kubect proxy ,but can do more than a proxy.

[2021-11-11 06:28] lfbear commented on #616
It does, it needs to upgrade the version for the `kind` image. I'll test later on my m1 macbook.

[2021-11-12 01:17] #893 closed

[2021-11-12 11:25] RainbowMango commented on #893
@Garrybest

I just tested this feature with the following yamls against the master, seems the job replica (`parallelism`) didn't divide into member clusters. Is there something wrong?

[code]

[code]

[2021-11-12 11:34] Garrybest commented on #893
Hi @RainbowMango, I have tested your case and didn't find anything wrong. Here is my ResourceBinding object.

[code]

[2021-11-12 11:37] RainbowMango commented on #893
Let me test again.

[2021-11-12 12:13] RainbowMango commented on #893
oh it's my bad. I just broke the function...

The fix is available now. #954 . What a stupid mistake!

[2021-11-12 12:18] Garrybest commented on #893
Oh I see, I tested the function before `explorer` commit.

[2021-11-12 12:24] RainbowMango opened #955 "[E2E]: Add test case cover job scheduling"
**What would you like to be added**:
#898 introduced a feature that `Job` could be scheduled just like `Deployment`, but the test case of E2E still missing.

**Why is this needed**:

[2021-11-12 12:25] RainbowMango commented on #955
/help
@XiShanYongYe-Chang

[2021-11-12 12:33] RainbowMango commented on #893
By the way, the `resourceRequest` always exist in RB, even though no resource requirement in the resource template, like
[code]

I guess it'd be better to remove them. In addition, the resource `pod: 0` makes no sense. How do you think?

[2021-11-12 15:53] lonelyCZ commented on #955
I happen to want to understand the mechanics of E2E test, I would like to try it.
/assign

[2021-11-13 00:35] Garrybest commented on #893
Good idea.

[2021-11-13 04:08] XiShanYongYe-Chang commented on #955
@lonelyCZ Thank you, looking forward to your contribution.

[2021-11-15 09:27] RainbowMango commented on #919
@wawa0210
Can you update the status of this umbrella issue?

[2021-11-15 09:38] wawa0210 commented on #919
Updated, all current modules except kubectl-karmada are contributed by contributors

[2021-11-15 10:00] lonelyCZ commented on #919
` kubectl-karmada` directly call `karmadactl` functions, the flag can be verified is different from other components. So I only remove `fmt.Fprintf(os.Stderr, "%v\n", err)` in #940

[2021-11-15 11:12] #955 closed

[2021-11-15 16:00] Garrybest opened #969 "Pod resource leak when delete jobs"
**What happened**:
1. Create a Job in karmada and propagate it into member clusters.
2. Then delete the job from karmada control plane: `kubectl delete job pi`.

You will see the pod in member clusters would not be deleted. Their ownerRef will be removed, while it has pointed to the job in member cluster before.
It is noticed that if you delete the job from member cluster, the pod garbage collecti

[2021-11-16 01:18] mrlihanbo commented on #969
when you delete job via client-go, set a propagation policy in the delete options if you want the child pods to be deleted as well.

[2021-11-16 01:21] RainbowMango commented on #969
What kind of delete option we are talking about?
I guess the case @Garrybest mentioned is deleting Job from Karmada control plane by command `kubectl delete Job xxx`.

[2021-11-16 01:28] Garrybest commented on #969
Right,I use kubectl delete job pi

[2021-11-16 01:44] mrlihanbo commented on #969
If the delete option is empty, the default option will be orphan. I found the code here: https://github.com/kubernetes/kubernetes/blob/16227cf09dcb6d1a71733d9fa20335007b0ca3d2/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L742
[code]

[2021-11-16 02:33] RainbowMango commented on #969
I have just done testing on my side with the patch [here](https://github.com/RainbowMango/karmada/commit/9a3decdced7dd7b702f90ca2ca28186d285c8011). Hard to say if this is the final solution, but it can explain something.

When you delete `Jobs` by kubectl, the default cascading deletion option is [background](https://kubernetes.io/docs/concepts/architecture/garbage-collection/#background-deletion)

[2021-11-16 02:37] mrlihanbo commented on #969
hi, @Garrybest  There are three  DeletionPropagation policies in kubernetes: Orphan, Background, Foreground. When you delete jobs in member cluster by `kubectl delete` command，kubectl will set delete option as Background automatically.

[2021-11-16 02:48] Garrybest commented on #969
Thanks you guys a lot, I think I got it. @RainbowMango @mrlihanbo
The cmd `kubectl delete` sets `CascadingStrategy` to `Background` [here](https://github.com/kubernetes/kubernetes/blob/714321c6b1b5f8b7964b9eb17d48f2746545f615/staging/src/k8s.io/kubectl/pkg/cmd/delete/delete_flags.go#L161-L162).
Meanwhile, karmada will delete object in member clusters by using an empty delete options [here](https:/

[2021-11-16 03:06] Garrybest commented on #969
It works and does not seem to be very incompatible. I think this patch could be a hot fix. @RainbowMango

[2021-11-16 03:14] RainbowMango commented on #969
/assign

[2021-11-16 06:21] #969 closed

[2021-11-16 09:45] lfbear commented on #616
@RainbowMango test on my m1 MacBook has passed, this issue has been solved.

[2021-11-16 14:57] BDXGD opened #972 "Whether multiple loops needs to be optimized through data structure or other processing?"
**What would you like to be added**:
I found that there are a lot of Brute Force like multiple loops are used.
I wonder if some data structures or other methods should be used to optimize?

[2021-11-17 00:59] RainbowMango commented on #616
OK. then we can close it.
/close

[2021-11-17 00:59] #616 closed

[2021-11-17 01:02] RainbowMango commented on #972
Can you give an example?
And what data structure you'd like to introduce?

It'd be great if the code gets more readable and easy to maintain.

[2021-11-17 07:20] #938 closed

[2021-11-17 09:33] BDXGD commented on #972
This PR is only a part of program optimization. Others, such as brute force matching, we use hash tables (or some other data structures) optimize time.

When the amount of data becomes larger, the effect of optimization will gradually be reflected.

[2021-11-18 02:23] #896 closed

[2021-11-19 03:32] RainbowMango opened #985 "Namespace filter rules"
**What would you like to be added**:
For now, karmada takes namespaces that start with `karmada-` prefix as reserved namespace, resources under these namespaces will not be propagated by default.
https://github.com/karmada-io/karmada/blob/b0742b2c9c6f1a9cd7840ee9ddf9a6aa501d7281/pkg/detector/detector.go#L287-L290

Given several users met this issue(they use `karmada-test`, `karmada-dev`, etc.) and

[2021-11-19 05:53] Phil-sun commented on #985
Hi!@RainbowMango, I would like to do it.

[2021-11-19 06:20] RainbowMango commented on #985
Thanks @Phil-sun, but no rush. The solution is not yet finalized.

Hold on for a while, let's see if other comments.

/assign @Phil-sun
assign it to you first.

[2021-11-19 06:43] Phil-sun commented on #985
Ok, I also will  think it deeply whether there is an another solution! :)

[2021-11-19 07:19] jameszhangyukun commented on #985
Hi!@RainbowMango, I would like to do it.

[2021-11-19 07:23] RainbowMango commented on #985
Thank you @jameszhangyukun, (appreciated), but this has been assigned to @Phil-sun .

[2021-11-19 07:52] JarHMJ commented on #985
hi@RainbowMango I have already commit this PR [989](https://github.com/karmada-io/karmada/pull/989) to resolve the issue。Please review

[2021-11-19 11:18] lonelyCZ opened #993 "There are only unit tests for pkg/... in ci"
**What happened**:
https://github.com/karmada-io/karmada/blob/5b068c31da1ae96e1d302b36404f44821f2415a7/Makefile#L98-L99

There are only unit tests for pkg/... in ci, but we have unit tests in cmd/...

So, if necessary, I would like to add it.

**What you expected to happen**:
Run unit test for cmd/... in ci

**Environment**:
- Karmada version: master
- Others:

[2021-11-19 11:18] lonelyCZ commented on #993
/assign

[2021-11-19 11:50] RainbowMango commented on #993
Yeah, all unit tests should be covered by CI. Thanks.

[2021-11-20 02:20] #993 closed

[2021-11-21 01:49] XiShanYongYe-Chang commented on #923
close first, add E2E test later.

/close

[2021-11-21 01:49] #923 closed

[2021-11-22 09:20] XiShanYongYe-Chang opened #1005 "[GoodFirst] Ignore karmada-interpreter-webhook-example binary"
**Task description**:

Ignore karmada-interpreter-webhook-example binary in `.gitignore` file.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,
they should be ready to move on to `help wanted` items, saving

[2021-11-22 09:33] Haleygo commented on #1005
I will work on this :)
/assign

[2021-11-22 09:43] kerthcet commented on #935
**Scenarios**:
1. `Preserve more information`: Current scheduling queue is quite simple, but we'd like to store some important informations, e.g. enqueue time.
2. `Priority`: High priority workloads should be scheduled first than lower ones.
3. `Preemption`: When clusters are out of resources, we should consider replacing the low priority pods with higher ones.

**Implements**:
1. `PriorityClass`

[2021-11-22 09:43] kerthcet commented on #935
/retitle Add priority and preemption mechanism

[2021-11-22 10:26] XiShanYongYe-Chang commented on #1005
Welcome!

[2021-11-22 10:35] Charlie17Li commented on #317
My idea is that we need to simulate a cluster in edge that kubeconfig needs to be set up with 'proxy-url'.

But how do we simulate a cluster in edge?

And I notice that I use Kind to create a cluster, this is what it will look like:

[code]

 Can I just change the ‘server’ to the ‘proxy-url’, I wonder what is the difference between ‘server’ and 'proxy-url' in handling

@RainbowMango

[2021-11-22 13:00] XiShanYongYe-Chang opened #1008 "[GoodFirst] Add import alias for config/v1alpha1"
**Task description**:

We add a new API group `config.karmada.io` with the proposal https://github.com/karmada-io/karmada/tree/master/docs/proposals/resource-interpreter-webhook, we need to regulate the importing with it.

**Solution**:

modify hack/.import-aliases file:
[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his

[2021-11-22 13:16] Charlie17Li commented on #1008
/assign

[2021-11-22 13:58] feeltimeQ commented on #1008
I will work on this :)
/assign

[2021-11-23 01:13] XiShanYongYe-Chang commented on #1008
@feeltimeQ  Welcome!

[2021-11-23 02:59] XiShanYongYe-Chang commented on #1005
/close

[2021-11-23 02:59] #1005 closed

[2021-11-23 06:21] qianjun1993 opened #1010 "Add MaxCluster in ReplicaSchedulingStrategy"
**What would you like to be added**:
Add MaxCluster in ReplicaSchedulingStrategy
**Why is this needed**:
Sometimes user wants to schedule replicas in one or limit Clusters.  Now we have MaxGroups  in SpreadConstraint and Aggregated preference in  ReplicaSchedulingStrategy. But both of them can not meet requirements.

 Imagine a user has a workload with 10 replicas to be scheduled.
In condition One

[2021-11-23 08:15] #1008 closed

[2021-11-23 11:44] RainbowMango commented on #650
/close
in favor of #1012

[2021-11-23 11:44] #650 closed

[2021-11-24 00:56] kerthcet commented on #935
I wonder any progress on this idea, I got enough time to work on this(sorry for the delayed response before) and I have already finished some work. @RainbowMango cc @qianjun1993

[2021-11-24 02:45] mrlihanbo opened #1016 "Add kubernetes event for resource template"
**What would you like to be added**:
Add kubernetes event for resource template

**Why is this needed**:
Karmada has added some events in Karmada Object, like resource binding, work. I suggest to add these events for correspond resource template, then users can view the events by describing the resource template and no need to found out the reference resource binding and works.

example:
[code]

[2021-11-24 03:33] XiShanYongYe-Chang opened #1017 "[Good First] add karmada-interpreter-webhook-example to make all/clean"
**Task description**:

Add `karmada-interpreter-webhook-example` to make all and make clean command.

**Solution**:

Update `Makefile` file:
[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,
they should be ready to move on t

[2021-11-24 03:49] XiShanYongYe-Chang opened #1018 "[Good First] ignore configv1alpha1 group in detector"
**Task description**:

We add a new group `config.karmada.io` in karmada, and we need to ignore it with the resource detector.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,
they should be ready to move on

[2021-11-24 07:34] jameszhangyukun commented on #1017
/assign

[2021-11-24 07:45] XiShanYongYe-Chang opened #1021 "Add unit test for names.go"
**What would you like to be added**:

The `names.go` file contains various methods for generating naming, but there is no unit test covering the case, so we need to add unit test to cover it, to avoid errors in subsequent iterative development.

Anyone who is interested could have a try.

/help

[2021-11-24 07:49] gy95 commented on #1021
/assign

[2021-11-24 08:56] qianjun1993 commented on #935
I have finished some work for preemption and some PriorityClass propagation feature (for preemption)

[2021-11-24 10:19] 2hangchen opened #1023 "Is it possible to add the provider field when managing the cluster?"
**What would you like to be added**:
Is it possible to add the provider field when managing the cluster?can be field by self.

[2021-11-24 10:46] eightzero commented on #1018
/assign

[2021-11-25 02:56] gf457832386 commented on #1023
I know Karmada has the plan，but now the code may need some time.

[2021-11-25 06:26] #1017 closed

[2021-11-25 07:29] #1018 closed

[2021-11-25 08:00] #729 closed

[2021-11-25 08:55] #918 closed

[2021-11-25 12:36] #1023 closed

[2021-11-25 13:20] RainbowMango opened #1033 "karmada admin on boarding"
Many thanks to @prodanlabs for his excellent work on [karmada admin](https://github.com/prodanlabs/kaadm).
As discussed at the [last community meeting ](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit?pli=1#heading=h.8wspjl3a6x8w), @prodanlabs will contribute the tools to the Karmada community.

We'd like to ask for some advice about where to resettle it.

Alte

[2021-11-26 01:24] #1021 closed

[2021-11-26 02:14] yanlingsishao opened #1035 "karmada member cluster status Unknown"
有没有什么正确姿势删除成员cluster
我通过命令删除的时候，会长时间卡在delete哪里
如果我用接口的方式，有可能一段时间它就自动删除了，我昨天刚删的一个操作，现在都没有删掉

[2021-11-26 02:16] RainbowMango commented on #1035
请问你用的哪个版本？

删除命令执行时显示什么？

[2021-11-26 02:38] yanlingsishao commented on #1035
@RainbowMango
v0.8.0

如下图，会一直卡在这里
![image](https://user-images.githubusercontent.com/28887713/143518013-28f2ddf8-9805-4e55-81d8-40e61669651c.png)

karmada-controller-manager log
[code]

[2021-11-26 02:41] yanlingsishao commented on #1035
[code]

[2021-11-26 02:45] RainbowMango commented on #1035
不应该使用`kubectl`来直接删除集群，应该使用`kubectl karmada unjoin`命令：
[code]

[2021-11-26 02:48] yanlingsishao commented on #1035
哦，那我需要通过unjoin那块代码去实现，而不能直接delete

[2021-11-26 02:53] yanlingsishao commented on #1035
我的agent方式是Pull,并不会依赖到karmadactl，也必须用这种方式剔除么

[2021-11-26 02:54] RainbowMango commented on #1035
@lfbear @lonelyCZ 两位可以给点意见

[2021-11-26 03:00] lonelyCZ commented on #1035
删除karmada控制面上的cluster，用karmadactl unjoin是比较安全的，pull模式的也需要通过这个命令来删除控制面上的cluster对象。可以直接通过`karmadactl unjoin <cluster_name>`来删除，不用带后面的`--cluster-kubeconfig`

[2021-11-26 03:16] lonelyCZ commented on #1033
If there is only a subcommand `install`, I think it is better to integrate it to `kubectl-karmada`, users only download one tool  conveniently.

If considering there will be other subcommands to expand ways of installation in `karadm` in future, it should be introduced another command.

I prefer `karadm`.

[2021-11-26 04:30] 2hangchen commented on #1023
@RainbowMango @lonelyCZ
I'm sorry, can I reopen this issure？
Based on this, I think of an extended scenario: If the user needs to add some special info to the managed cluster for some identification, can I write the information in Annotations or other fields?

[2021-11-26 04:39] 2hangchen opened #1036 "Another join cluster scenario."
**What would you like to be added**:
Through #1023，which was closed yesterday, I thought of another scene today:
If the user needs to add some special info to the managed cluster for some identification, can I write the information in Annotations or other fields?
I think add the 'Annotations' field during join can solve a lot of user-defined nees.
Do you have any comments or suggestions？/cc @Rainb

[2021-11-26 05:03] lonelyCZ commented on #1036
It is indeed a requirement. How to customize member clusters when they are joining?

Now we can edit member clusters when they have been joined by kubectl, but it is unfriendly for users.

We can add flag to assign these fields(like `Region`, `Zone`, `ProxyURL`) when execute `karmadactl join`.

But I don't think `Annotations` field is too much demand, like we use `kubeadm join` that doesn`t need t

[2021-11-26 05:18] 2hangchen commented on #1036
Region, Zone, and other fields can be declared resource related, but for example, I want to mark the cluster and declare the remarks of the cluster, such as how long the cluster on the public cloud has to expire...

[2021-11-26 05:37] lonelyCZ commented on #1036
We can directly use `kubectl annotate` to add `Annotations` to a member cluster if necessary.

Of course, adding this flag is not difficult that can be a flexible field.

What do you think? @RainbowMango

[2021-11-26 05:40] 2hangchen commented on #1036
Yes, add this flag is not difficult, and I am wondering if we can add this flag during join a member cluster by `karmadactl jon`.

[2021-11-26 05:41] 2hangchen commented on #1036
Yes, add this flag is not difficult, and I am wondering if we can add this flag during join a member cluster by karmadactl join.

[2021-11-26 06:21] RainbowMango commented on #1036
For any requirements, I'd ask two questions:
- What's the (real) user case?
- What's the benefit to the users?

[2021-11-26 06:37] #922 closed

[2021-11-26 06:50] 2hangchen commented on #1036
1.This is a scenario and assumption that I have come across in my use, and kubesphere and Rancher both provide additional information and comments when join cluster,I think it's a great experience for users, so I ask this question.
2.If Karmada is positioned as a command line management plug-in, I think this feature is dispensable, and if there are plans to launch dashboards, I think it will great

[2021-11-26 06:55] RainbowMango commented on #1036
Does the `additional information and comments ` added by UI or command line?

[2021-11-26 06:56] RainbowMango commented on #1036
Karmada's UI dashboard will be ready soon.  @gf457832386 is working on it.

[2021-11-26 06:58] mrlihanbo commented on #829
Looking forward to seeing the progress of this issue

[2021-11-26 07:01] RainbowMango commented on #829
@mrlihanbo The #967 is waiting for your review.

[2021-11-26 07:02] 2hangchen commented on #1036
Both by UI,como Kubesphere, can add describe ,and rancher can add annotations.

[2021-11-26 07:16] mrlihanbo commented on #829
I will review the pr now

[2021-11-26 07:32] dddddai commented on #829
Hi @mrlihanbo, before implementing this we have to answer the 4 questions above

[2021-11-26 08:40] gf457832386 commented on #1036
Yes, our team is working hard to implement Dashboard V1 and we will document every suggestion from the community and iterate as soon as possible after the first release.

[2021-11-26 08:47] 2hangchen commented on #1036
Thank you so much!

[2021-11-26 08:47] #1036 closed

[2021-11-27 01:23] #882 closed

[2021-11-28 08:00] lonelyCZ opened #1042 "The Karmada cache was not cleared when executed `hack/undeploy-karmada.sh`"
**What happened**:
When I redeploy karmada in my cluster, I firstly undeployed karmada by `hack/undeploy-karmada.sh`, then deployed karmada by `hack/remote-up-karmada.sh`, but the previous resources have been redeployed.

**What you expected to happen**:
I want an initialized environment when I redeploy karmada in my host cluster.

**How to reproduce it (as minimally and precisely as possible)**:

[2021-11-28 08:32] yanlingsishao commented on #1035
@lonelyCZ 我使用 unjoin 过了一段时间后，显示超时
![image](https://user-images.githubusercontent.com/28887713/143735351-e002f012-5101-4013-a3e7-532f5bf702fc.png)

[2021-11-28 08:47] lonelyCZ commented on #1035
谢谢反馈，@yanlingsishao

如果k8s中某个资源用`kubectl delete`都删不掉的话，可以查看一个这个资源的`finalizers`字段是否为空，如果不为空的话可以用`kubectl edit`手动清空掉试试。

Cluster的状态为Unknown的话，可以重启一下`karmada-controller-manager`和`karmada-agent`试试。

推荐用karmada最新版本，功能更丰富。

[2021-11-29 06:39] #1033 closed

[2021-11-29 08:05] ghl116 opened #1045 "请问，关于Propagation Policy中的spreadConstraints的maxGroups和minGroups，如何使用？"
你好，我在这篇文章看到：https://mp.weixin.qq.com/s?__biz=MzIzNzU5NTYzMA==&mid=2247492770&idx=1&sn=e8f1582748c5b6d807b3121f557e3a7e&chksm=e8c49a23dfb313350a7fa047a73f479cddfa8e8af954c154d8fd51b3ec3cb7c2ab7a39b5db72&scene=21#wechat_redirect，提到
spreadConstraints:
1. 定义应用分发的HA策略
2. 支持对集群动态分组：按Region、AZ、特性label分组，实现不同层级的HA
请问，关于Propagation Policy中的spreadConstraints的maxGroups和minGroups，如何使用？

example中./artifacts/ex

[2021-11-29 08:45] RainbowMango commented on #1045
应该是个typo，@mrlihanbo

[2021-11-29 08:56] mrlihanbo commented on #1045
是的。

[2021-11-29 09:19] RainbowMango commented on #1045
@ghl116 感谢反馈，你是否愿意提交个PR修改一下？
[code]
这个example的本意是通过`spreadConstraints`约束必须选择2个集群，且两个集群分布在两个故障域(`failuredomain.kubernetes.io/zone`)中.

[2021-11-29 09:42] RainbowMango opened #1046 "Introduce bash auto-completion on Linux"
After we update `github.com/spf13/cobra` to `v1.2.1`(#1029, @iawia002), our `kubectl-karmada` and `karmadactl` introduced a `completion` command which will generate the autocompletion script for the specified shell.
[code]

The `completion` command is added in favor of [the completion feature of cobra](https://github.com/spf13/cobra/releases/tag/v1.2.0). That's a wonderful feature I think, but I f

[2021-11-29 10:02] lonelyCZ commented on #1046
It look like an interesting feature, I would like to research it.

/assign

[2021-11-29 10:05] ghl116 commented on #1045
好的，非常荣幸

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "karmada-io/karmada"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年11月29日(星期一) 下午5:19
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re:

[2021-11-29 10:20] ghl116 commented on #1045
你好，我想确认一下，是不是这个意思：
1、./artifacts/example/policy_with_labelSelector.yaml  的placement中通过clusterAffinity指定了两个集群，当这两个集群中有集群不可用的情况下，spreadConstraints约束会生效，调度到新的集群？

2、demo中clusterAffinity指定了cluster1，cluster3，exclude又指定了cluster1，这个是不是自相矛盾啊？是否也需要修改？
placement:
      clusterAffinity:
        clusterNames:
          - cluster1
         - cluster3
       exclude:
         - cluster1

[2021-11-29 11:04] mrlihanbo commented on #1045
1. 本意是想比如指定了cluster1,cluster2,cluster3三个集群，maxGroups和minGroups为2，那么就会从三个集群中选出2个进行部署，然后当其中一个集群不可用时，会调度到剩下的那个集群上。
2. 是的，相互矛盾了。

[2021-11-29 11:29] RainbowMango commented on #1045
应该这么改才对：
[code]

[2021-11-29 12:00] pigletfly opened #1047 "support run e2e tests locally"
**What would you like to be added**:

We should provide a way to run e2e locally,so that e2e test can be add or debug locally before trigger a GitHub e2e action.

**Why is this needed**:

[2021-11-29 12:18] RainbowMango commented on #985
Hi @JarHMJ Thanks for your contribution, but I just realized that this issue has been claimed by @Phil-sun.

So we can't move #989 forward @Phil-sun ok with it.

[2021-11-29 12:25] RainbowMango commented on #1047
I think the process would be :
[code]

not right? I haven't run it locally in a while.

[2021-11-29 13:10] lonelyCZ commented on #1047
It consumes virtual machine resources and may affect development. I only two 2c/4G virtual machines. :(

There are a [project](https://github.com/nektos/act) that can run github action locally. It looks good.

[2021-11-29 13:19] pigletfly commented on #1047
local-up-karmada.sh doesn't produce a karmada cluster,will dig into why it fails.

[2021-11-29 13:25] pigletfly commented on #1047
I don't think port github action locally is a right direction.The GitHub action is just a way to run e2e,or provide a environment.If e2e tests could be run locally,they could be run anywhere which provides a same environment(kind clusters etc.).

[2021-11-29 13:37] lonelyCZ commented on #1047
Right, I agree it.

It means failure of  deployment by `local-up-karmada.sh`? But indeed, this script is prone to errors locally, it rarely succeeds at once.

[2021-11-30 01:21] RainbowMango commented on #1047
I just run the E2E on my side, it works for me.
https://github.com/karmada-io/karmada/issues/1047#issuecomment-981587977

[2021-11-30 01:39] dddddai commented on #829
Hello @RainbowMango, any ideas about [these quetions](https://github.com/karmada-io/karmada/issues/829#issuecomment-951926061)?

[2021-11-30 02:28] pigletfly commented on #1047
it's better to show what's going on during the setup? https://github.com/karmada-io/karmada/blob/master/hack/util.sh#L342

[2021-11-30 02:30] pigletfly commented on #1047
It stuck at `Waiting for kubeconfig file /Users/adam/.kube/karmada.config and clusters karmada-host to be ready...`,then clusters created by kind disappeared.

[2021-11-30 02:40] RainbowMango commented on #829
I think we should take this scenario very carefully, it might bring drastic changes. Take Kubernetes as an example, after a pod has been scheduled to a node it will not get re-scheduled even in case of the node label change.

[2021-11-30 02:42] RainbowMango commented on #829
I think we should re-schedule the workload after one of the bonded clusters is unjoined. It doesn't have to be `FailoverSchedule`(not sure).

[2021-11-30 02:48] RainbowMango commented on #829
Yes, you are right. The `SpreadConstraint.MinGroups` restrict minimum cluster groups, if the scheduler can not find enough cluster groups, the schedule should trigger failure.

group count < MinGroups?

I don't think so, just like [the answer above](https://github.com/karmada-io/karmada/issues/829#issuecomment-982226082), it's too dangerous, at least for now.

[2021-11-30 02:54] dddddai commented on #829
I see, so I guess we should reschedule workloads only when cluster joined/unjoined, right?

[2021-11-30 02:57] RainbowMango commented on #829
Let's focus on the scenario of cluster-unjoin for now. The workload should be re-scheduled after one of the bound clusters is unjoined. If no more clusters fit the propagation policy, just remove the `unjoined` cluster from the binding object.

[2021-11-30 03:19] mrlihanbo commented on #829
There exist a scenario if workload should be re-scheduled after one of the bound clusters is unjoined:
- User specify cluster A, B, C in policy.
- Only cluster A and B are joined when first  schedule, so the schedule result will be [A, B].
- Then, the cluster C is joined.
- if cluster A is not ready and trigger reschedule, the new schedule result will be [B, C]

we should make sure that the behavi

[2021-11-30 04:54] Phil-sun commented on #985
Hi ！@RainbowMango  Since this work has been done, I'm ok with it.

[2021-11-30 05:26] lonelyCZ commented on #1046
Hi, @RainbowMango
The command of autocompletion script seem created according `cmdUse`
https://github.com/karmada-io/karmada/blob/bc8c4008e624a81285744458b0b0c5f11ee16f05/cmd/kubectl-karmada/kubectl-karmada.go#L15-L17

https://github.com/karmada-io/karmada/blob/bc8c4008e624a81285744458b0b0c5f11ee16f05/pkg/karmadactl/karmadactl.go#L22-L30

When executing `kubectl-karmada completion bash >/etc/bash_

[2021-11-30 08:12] RainbowMango commented on #1046
So, what's next? What we expect is the completion could support `kubect karmada` plugin.
How can we do that?

[2021-11-30 08:37] RainbowMango commented on #985
Thanks @Phil-sun. You can help review the PR that's also a form of contribution.

[2021-11-30 09:02] Phil-sun commented on #985
With Pleasure! :)

[2021-11-30 09:18] lonelyCZ commented on #1046
This feature seems to be a work in progress.  [Command line completion for kubectl plugins](https://github.com/kubernetes/kubernetes/issues/74178)

There is a draft, but hasn't been merged. [Framework for shell completion for plugins (phase 1)](https://github.com/kubernetes/kubernetes/pull/105867)

[2021-11-30 09:36] RainbowMango commented on #1046
Nice finding. But it seems to take a long time.

[2021-11-30 10:15] lonelyCZ commented on #1046
Yes, too slow. But if there is official support, it is easier for users  to use the feature. Should we await for it?

[2021-11-30 11:08] mrlihanbo commented on #829
@dddddai I took a glance at the `FailoverSchedule` func. Maybe we can do it in this func. Just a suggestion.

[2021-11-30 11:34] dddddai commented on #829
Thanks for digging into it, that's exactly what I did in #1049, the behavior of `Reschedule` is the same as `FailoverSchedule`

[2021-11-30 11:43] pigletfly commented on #1047
finally, kind clusters are up and running.But,failed to load karmada images to kind.
[code]

[2021-11-30 11:48] mrlihanbo commented on #829
Good job, I will review the pr ASAP.

[2021-11-30 12:27] RainbowMango commented on #1046
I guess so. Let's wait for a while.

[2021-11-30 12:31] RainbowMango commented on #1047
Seems the OpenSSL is not well installed?
running it on Linux or Mac? I'm using Linux.

[2021-12-01 02:08] RainbowMango commented on #985
/assign @Phil-sun @JarHMJ
as you are working together on this issue.

[2021-12-01 09:01] pigletfly commented on #1047
yes,seems my OpenSSL is broken after MacOS upgrade,Reinstallation fixed this.

[2021-12-01 10:33] eightzero commented on #1016
/assign

[2021-12-02 01:39] mrlihanbo opened #1055 "[E2E]: Add test case of unjoining not ready cluster"
**What would you like to be added**:
To surport unjoining the not ready member cluster, #1053 introduced a feature that abort deleting workload when the member cluster is unready. But the test case of E2E still missing.

**Why is this needed**:

[2021-12-02 02:28] jameszhangyukun commented on #1055
/assign

[2021-12-02 03:12] #985 closed

[2021-12-02 07:00] #377 closed

[2021-12-02 10:14] fanzhihai0215 opened #1059 "Join cluster repeatedly failed"
**What happened**:
One member cluster named bj-47 is joined to karmada successfully. Then unjoin it. When joining again, it failed. The cluster status is `False`. But if I only change the cluster name, such as 'bj-48', (command: `karmadactl join bj-48 ...`), it looks like successful again. The cluster status is `True`. The karmada kubeconfig and the member cluster kubeconfig is unchanged. The erro

[2021-12-02 10:56] RainbowMango commented on #1059
I guess so.
@lonelyCZ Can you help investigate this issue?

[2021-12-02 11:01] lonelyCZ commented on #1059
ok

[2021-12-02 12:51] lonelyCZ commented on #1059
I just tested it in `v0.10.1` and `master`,  but the error seemed not encountered in my environment.

I executed the following command
[code]

What is your deployment type, `kind cluster` or `real cluster`?

It is unauthorized to check member cluster `/health` from your logs, I guess that is a problem of certificate. Could you give me more information? For example, more complete logs or other info

[2021-12-03 01:21] fanzhihai0215 commented on #1059
So, after the above two commands, if you execute the command(`karmadactl join member68 --cluster-kubeconfig=/root/.kube/config`) again, can you succeed? My complete steps are like this:
[code]
The first join, the cluster is True. And the second join, the cluster status will be False.
Then I unjoin the bj-47 and execute `karmadactl join bj-48 --cluster-kubeconfig=/opt/deploy/cluster.config --cluste

[2021-12-03 01:35] lonelyCZ commented on #1059
Thanks for your feedback. Perhaps the problem is that `clusterName` is conflict with `--cluster-context`. I will investigate it, please wait a moment.

[2021-12-03 02:07] lonelyCZ commented on #1059
It seem no problem in my environment(v0.10.1). Is it the problem of k8s version? Could you test it of `master` version in your environment? Thank you! @fanzhihai0215
[code]

[2021-12-03 02:15] fanzhihai0215 commented on #1059
Ok, please wait a moment. I deploy a `master` version karmada and test it.

[2021-12-03 07:05] fanzhihai0215 commented on #1059
**The reason for the error may be that I didn't use a matching version of `karmadactl`**.
I build all binaries and images from `master` version, and it works well. But if i use the old version of karmadactl, i don't know the version, maybe before `v0.8.0` or earlier, the error will reappear.
Finally, i build a `v0.10.1` version of `karmadactl`. It works well.
At present, it doesn't seem to be a is

[2021-12-03 07:31] lonelyCZ commented on #1059
Thank you for pointing  this problem. In newer versions, we add `version` subcommand to check the version of tools, like `karmadactl version`. @fanzhihai0215

Perhaps, we need to add some prompts in quick start document to let users to use newer version. @RainbowMango

[2021-12-03 09:28] RainbowMango commented on #1059
I think we can add an item in https://github.com/karmada-io/karmada/blob/master/.github/ISSUE_TEMPLATE/bug-report.md for users provide `kubectl-karmada` or `karmadactl` version.

@fanzhihai0215 Are you willing to send a PR for this?

[2021-12-03 09:29] RainbowMango commented on #1059
/remove-kind bug
/kind cleanup

[2021-12-03 09:39] fanzhihai0215 commented on #1059
Sure. I can improve this.

[2021-12-03 09:46] haiker2011 opened #1064 "Support ARM and x86 arch"
**Please provide an in-depth description of the question you have**:
Does kamada both support arm and x86 cluster ? we have some k8s clusters, some are arm64, some are x84, need something like kamada manage both cluster .

**What do you think about this question?**:

**Environment**:
- Karmada version: latest
- Kubernetes version: v1.19

[2021-12-03 11:12] RainbowMango commented on #1064
Theoretically, Karmada is insensitive to cluster hardware architecture(Karmada manages Kubernetes by standard API, I guess it'll work.), but there is no test coverage for arm64.

Please feel free to let us know if it is not.

[2021-12-03 12:16] haiker2011 commented on #1064
@RainbowMango in arm64 node,  Is kamada agent and kamada schedule need arm docker image? I not find arm arch docker images for kamada.

[2021-12-03 12:26] RainbowMango commented on #1064
Yes, you might have to build the arm image by yourself. :(
We'd like to host arm docker images, looking forward to your feedback.

[2021-12-04 12:04] Garrybest opened #1068 "Work status reflection is too slow because of async worker enqueue rate limit"
**What happened**:
I found it is very slow to reflect status from member cluster object to `work` because the slow enqueue of async worker. Now I have a cluster with thousands of objects. Their status need to be reflected by `karmada-agent`. The queue is almost empty most of time, and the reflection may be more than 30min later when the `work-status-controller` has gotten a object from the queue.

[2021-12-06 01:36] RainbowMango commented on #1016
I see this issue claimed by @eightzero first, but @mrlihanbo sent a PR.
So, @eightzero have you started this work?

[2021-12-06 01:38] #1059 closed

[2021-12-06 01:55] RainbowMango commented on #1068
We are using the [DefaultControllerRateLimiter](https://github.com/karmada-io/karmada/blob/9fc9c5a0e899102d3e7fc4f5570c4b5cb9cffa1c/pkg/util/worker.go#L56) which takes a limiter(`10 qps, 100 bucket size`) suitable for controller retry, but not for our cases.
right?

[2021-12-06 02:05] Garrybest commented on #1068
No, `DefaultControllerRateLimiter` does not have any problems. The way we enqueque object is not reasonable.

[2021-12-06 02:26] #1068 closed

[2021-12-06 03:20] iawia002 opened #1071 "Do we provide a way to migrate from KubeFed"
**Please provide an in-depth description of the question you have**:

Will we provide a way to migrate from KubeFed to Karmada, such as automatically converting the `KubeFedCluster` object to Karmada's `Cluster` object, or is there any solution in the community for reference?

**What do you think about this question?**:

**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2021-12-06 03:27] RainbowMango commented on #1071
We are discussing how to migrate from a standalone cluster at https://github.com/karmada-io/karmada/discussions/1039, but not for KubeFed yet.

What you are asking is very interesting and I guess it'll be greatly helpful.

[2021-12-06 05:23] eightzero commented on #1016
no yet

[2021-12-06 06:48] JackZxj opened #1072 "Enhance helm chart to support more scenes"
**What would you like to be added**:
1. support to install karmada host into any namespace of cluster
I only have one host cluster for testing Karmada, but I want to test different configurations. So I would like to install it into different namespaces.

2. support other service type of Karmada-apiserver, such as NodePort, LoadBalancer

3. ETCD might need multiple replicaCount, and PVC to storage

[2021-12-06 07:45] RainbowMango commented on #1072
/assign @JackZxj
Since I see you filed a PR(#1074) for it.
Thanks by the way.

[2021-12-06 08:32] pigletfly commented on #593
/reopen

[2021-12-06 12:32] feeltimeQ commented on #1042
/assign

[2021-12-06 12:41] RainbowMango commented on #1042
I don't even know what's the `karmada-etcd` thing.

[2021-12-06 12:55] lonelyCZ commented on #1042
It is hostPath of karmada-etcd.
https://github.com/karmada-io/karmada/blob/ca1b1de475bff8bbf4f2a8b221d8f22db9929e91/artifacts/deploy/karmada-etcd.yaml#L80-L82

[2021-12-06 16:01] GitHubxsy commented on #1071
This feature looks great.
[code]

[2021-12-07 03:05] RainbowMango opened #1078 "Enable multi replicas in CI"
**What would you like to be added**:
Enable multi replicas for Karmada components in CI environments.
| Component | current replica | desired replica | Note |
| --- | --- | --- | --- |
| karmada-controller-manager| [1](https://github.com/karmada-io/karmada/blob/09c04490bc3837ac5caa95ec9d664c18afe4ed45/artifacts/deploy/controller-manager.yaml#L9) | 2 | |
| karmada-scheduler | [1](https://github.com

[2021-12-07 03:07] RainbowMango commented on #1078
@Garrybest @mrlihanbo How do you think?
Should we enable more replicas for `karmada-apiserver` and `karmada-etcd`?

[2021-12-07 03:18] Garrybest commented on #1078
The only difference is the leader election step. I suppose just 2 replicas are enough. One is one, two is multiple.

And I don't think we need to add more replicas for apiserver and etcd. They are components of `k/k` and proved to be stable no matter how many replicas there are.

[2021-12-07 03:37] RainbowMango commented on #1078
OK. description updated.

[2021-12-07 03:42] RainbowMango commented on #1078
/help

This task might be more involved than it looks like because some updates might be needed for our testing process.

[2021-12-07 04:45] sacrex opened #1079 "Support Multi-Cluster Ingress"
**Please provide an in-depth description of the question you have**:
   K8s has signal-cluster ingress controller that forward traffic to services.
   Does Karmada have mulit-cluster counterparts or not?
**What do you think about this question?**:
   1.If necessary, how to integrate with karmada.
**Environment**:
- Karmada version: v0.10.1
- Kubernetes version: v1.22.3
- Others:

[2021-12-07 11:56] cvvz opened #1080 "It would be better wait for informer cache synced asynchronously"
**What would you like to be added**:
It would be better execute  [WaitForCacheSync](https://github.com/karmada-io/karmada/blob/master/pkg/util/informermanager/single-cluster-manager.go#L46-L47)  and  [WaitForCacheSyncWithTimeout](https://github.com/karmada-io/karmada/blob/master/pkg/util/informermanager/single-cluster-manager.go#L49-L50) asynchronously in reconcile since they will block the proces

[2021-12-07 12:00] feeltimeQ commented on #1042
Hi, I'm not quite sure if the previous resources are karmada's own resources, or resources that were schedue to other clusters by karmada? @lonelyCZ

[2021-12-07 12:17] lonelyCZ commented on #1042
There are resources created by karmada, if we are undeploying karmada that should be deleted if the resource need not to be saved.

[2021-12-07 13:20] GitHubxsy commented on #1079
On  roadmap. kubernetes-sigs defined Multi-cluster Service APIs（[MCS](https://github.com/kubernetes-sigs/mcs-api)）. However, the Mutil-cluster ingress(MCI) API is not provided. Do you have a good idea ?
Do you have a scenario share?
My idea:
![image](https://user-images.githubusercontent.com/11901080/145036500-a0148387-20d9-4994-96ec-467a7a18ed97.png)

[2021-12-07 13:22] #1072 closed

[2021-12-08 10:00] 2hangchen opened #1082 "The status of the member cluster changes suddenly."
**Please provide an in-depth description of the question you have**:

When I run the command `kubectl get cluster` to obtain the cluster status for many times, the cluster status changes frequently and repeatedly. What is the reason?
![image](https://user-images.githubusercontent.com/31329928/145188327-00b39b18-9bf2-4158-8680-4a901f75ad8d.png)

**What do you think about this question?**:

**Enviro

[2021-12-08 10:08] RainbowMango commented on #1082
The `kubectl get cluster` won't change cluster status I guess.

And why is the cluster in `Not Ready` state, you might check if any event/conditions on the `Cluster` object?
You can check the log of `karmada-controller-manager` too.

[2021-12-08 10:17] 2hangchen commented on #1082
Well, LET me keep watching. This problem only recurs once or twice a day, and I haven't found the cause yet.

[2021-12-08 10:19] 2hangchen commented on #1082
One more piece of information:
![image](https://user-images.githubusercontent.com/31329928/145191294-fd2cca70-c83a-4d4c-8dec-3c4c4c239d63.png)

[2021-12-08 11:26] RainbowMango commented on #1082
That would be a serious issue. From the conditions, I guess it is due to karmada can't access the member cluster.

[2021-12-09 07:45] sacrex commented on #1079
1. Do you have a good idea ?
Your idea is very good, and i think so almost. However, I have a little question that how the MultiClusterService in Karmada interact with the Server in member cluster which is deployed on the private cloud?
2. Do you have a scenario share?
scenario: Now, the Karmada has taken over a cluster which deployed nginx webserver. If Karmada dynamically taken over another new

[2021-12-09 10:15] RainbowMango opened #1085 "Enhancement `--controllers` flag of `karmada-controller-manager`"
**Background**
#1083(by @snowplayfire) introduced `--controllers` flag to `karmada-controller-manager` for customize controllers:
[code]

**What would you like to be added**:
The default enabled controller list now is `hard-coded`:
https://github.com/karmada-io/karmada/blob/43d75741e84ef31e1ce7b06f90f0ef8a31220a4c/cmd/controller-manager/app/options/options.go#L81

It'd be great if we can generate

[2021-12-09 13:03] jameszhangyukun commented on #1085
/assign

[2021-12-10 03:59] jameszhangyukun commented on #1085
I think If we can generate the controller list automatically. But the func `IsControllerEnabled` for different controller has different code logic. For example  `endpointSliceController` and `serviceImportController` we can not generate the code automatically
[code]

[2021-12-10 06:02] iawia002 commented on #1085
@RainbowMango You can take a look at #1084 first, I made a little optimization to the `--controllers` flag

[2021-12-10 06:42] RainbowMango commented on #1085
@jameszhangyukun I think we can define a `controllerContext` just like Kubernetes does:
https://github.com/kubernetes/kubernetes/blob/cc6f12583f2b611e9469a6b2e0247f028aae246b/cmd/kube-controller-manager/app/controllermanager.go#L311

Then we can add a `setup` function for each controller, like https://github.com/kubernetes/kubernetes/blob/cc6f12583f2b611e9469a6b2e0247f028aae246b/cmd/kube-controlle

[2021-12-10 09:19] GitHubxsy commented on #1079
MultiClusterService requires that the cluster container network is Intercommunication. For example, using [submariner](https://github.com/submariner-io/submariner)to open up the cluster network.

[2021-12-10 09:47] paulzhn opened #1088 "Why should we separate the sync mode into pull mode and push mode?"
**Please provide an in-depth description of the question you have**:

Running the `kubectl get cluster`, and it can be known that the clusters have two modes: pull and push. And in `pkg/apis/cluster/v1alpha1/types.go`, it can be known that the main difference between two modes. However, I am wondering that what's the criterion I should consider when I choose the sync mode, and what's the main diff

[2021-12-10 09:56] RainbowMango commented on #1088
Good question. We do need a document to explain it by the way.

For quick answer, for the `push` mode cluster, Karmada directly operates it's `kube-apiserver` to manage workloads, but for `pull` mode cluster, the workloads are deployed by `karmada-agent`.

[2021-12-10 10:43] jameszhangyukun commented on #1085
I got it! I will implement this function as soon as possible

[2021-12-10 15:52] lonelyCZ commented on #1088
I think the `pull` mode have following functions:
1. Reducing the karmada control plane pressure.
2. It can be used to the environment that single side network communication from member cluster to karmada control plane.

[2021-12-11 03:42] RainbowMango opened #1089 "Bump CI base Kubernetes from v1.20 to v1.21"
**Task description**:
For now, we are using Kubernetes@v1.20 in our CI process.
We are going to update the base Kubernetes from v1.20.7 to v1.21.1.

**Solution**:
This involves very few changes, like:
[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully complet

[2021-12-11 08:09] lonelyCZ opened #1091 "Enable `karmadactl get` to support pull mode."
**What would you like to be added**:
If we don't consider that there is only single side network communication from member cluster to karmada control plane. We can enable  `karmadactl get` to support `pull mode`. There are two way to do this.

1. Using `--cluster-kubeconfig` and `--cluster-context`.
2. Add access secret of member cluster of `pull mode` to karmada control plane.

**Why is this need

[2021-12-11 08:12] lonelyCZ commented on #1091
/assign

[2021-12-11 08:16] RainbowMango commented on #1091
I think after https://github.com/karmada-io/karmada/discussions/1077, we can get a better solution to achieve this.

[2021-12-11 08:20] lonelyCZ commented on #1091
Ok, expecting for it.

[2021-12-11 12:29] Shike-Ada commented on #1089
/assign

[2021-12-13 13:05] lonelyCZ opened #1100 "How to realize `Association` when propagating resources"
**Please provide an in-depth description of the question you have**:
There have been discussed in https://github.com/karmada-io/karmada/issues/627#issuecomment-902560272, but haven't realized.

It is benefited for propagating resources to multi clusters.

**What do you think about this question?**:
Perhaps, Built-in resources and CRD can be implemented separately.

[2021-12-13 15:32] lonelyCZ opened #1101 "Add more information for `rb` and `work` when executing `kubectl get`"
**What would you like to be added**:
Add more message for `resourcebinding` and `work` when executing `kubectl get`
Like
[code]
[code]
Specific presentation information needs to be discussed.

**Why is this needed**:
Although `resourcebinding` and `work` are intermediate resources, they are also benefited for multi-clusters manager. We can check if resources are deployed successfully and status of

[2021-12-14 02:04] XiShanYongYe-Chang commented on #1089
The associated solution PR #1095 has been merged, so close this issue.

/close

[2021-12-14 02:04] #1089 closed

[2021-12-14 02:29] RainbowMango commented on #1101
For `RB`/`CRB`:
We've introduced `Scheduled` and `FullyApplied` conditions, so it's reasonable to show the conditions just like the what we did on `Clusters`: https://github.com/karmada-io/karmada/blob/0f49852ad5fc16a04bf1c32e2bb81023cfdfd368/pkg/apis/cluster/v1alpha1/types.go#L15

[2021-12-14 02:33] RainbowMango commented on #1101
For `Work`, we can show the `Applied` condition too.
But for `TYPE`, It'll be a little bit involved since there may be more than one `Workload`s in a `Work` object. How to deal with that?

[2021-12-14 02:38] RainbowMango commented on #1101
/assign @lonelyCZ

[2021-12-14 04:52] lonelyCZ commented on #1101
It is a question. But now, how do we set more than one `Workload`s in a `Work`? I found there is a one-to-one correspondence between work and workload from below codes.
https://github.com/karmada-io/karmada/blob/0f49852ad5fc16a04bf1c32e2bb81023cfdfd368/pkg/controllers/binding/common.go#L141-L147

[2021-12-14 06:21] RainbowMango commented on #1101
Yes, for now, we only set one workload to each `Work`, I'm not sure if this would change in the future.

By the way, how to show the types out? Is there a solution?

[2021-12-14 06:33] lonelyCZ commented on #1101
It is required to be researched.

I consider another solution that is adding workload type in `work` name that is more convenient for debuging  `work`, but I worry the name is too long referring to #509

[2021-12-14 06:54] RainbowMango commented on #1101
Yeah, that does not work.

[2021-12-14 08:50] lonelyCZ commented on #1101
It seems to get Workload type by `.status.manifestStatuses`, but it is a list, so we need to decide to if show the Workload type firstly.

[code]

[2021-12-14 09:03] RainbowMango commented on #1101
I wonder if they is an example from `kubectl get` that the output is a list?

[2021-12-14 12:29] kevin-wangzefeng commented on #603
I'd suggest `RuleWithCluster` instead of `RuleOnCluster`, and `OverrideRules` instead of `Rules`

[code]

[2021-12-15 05:05] lonelyCZ commented on #1101
Hi, @RainbowMango ,I need your help, thanks.
How to use `controller-gen` to auto generate crd in karmada? I don't know what parameter to use.

Is it the following command？Or needing other parameters?
[code]

[2021-12-15 06:17] RainbowMango commented on #1101
Just run `make update` will be all set after you add kubebuilder instructions like https://github.com/karmada-io/karmada/issues/1101#issuecomment-993097397.

[2021-12-15 06:20] lonelyCZ commented on #1101
Ok, I found it. Thanks!!! :)

[2021-12-15 06:42] #603 closed

[2021-12-15 10:23] GodLoveMinch opened #1111 "Add interpreter.ReviseReplica hook when create work"
**What would you like to be added**:
Recently, I tried to work with ResourceInterpreterWebhook framework which is the new feature in karmada v0.10.0 .
I tried `InterpretReplica` hook, and it work fine for me , But I  found a problem with `ReviseReplica`.
I cannt find any hook point to call `ReviseReplica`, both in karmada v0.10.0. & v0.10.1 , which like `InterpretReplica ` hook point
 `ResourceInt

[2021-12-15 10:54] RainbowMango commented on #1111
@GodLoveMinch Thanks for reaching us and giving us feedback.

Yes, the `ResourceInterpreterWebhook` framework only implemented `InterpretReplica` and `Retain` hooks.  We are looking forward to feedback and then deciding which one is the next.

It's reasonable to me. Are you willing to help to implement it?
Maybe we can discuss the details before starting.

[2021-12-15 12:30] #1101 closed

[2021-12-16 02:34] RainbowMango opened #1113 "[umbrella] OverrideRules of OverridePolicy"
**What would you like to be added**:
We've introduced [OverrideRules ][1] to `OverridePolicy` and `ClusterOverridePolicy` by #1109, but haven't implement it yet.

This issue splits the task into several iterated items:
- [x] karmada-controller-manager: Implementes the new  `OverrideRules` (Make sure backward compatibility: the old OverridePolicy still works) (#1114 by @iawia002 )
- [x] karmada-web

[2021-12-16 05:40] lonelyCZ commented on #1113
I'm interested in `karmada-webhook: Valitating webhook(It's not allowed if OverrideRules and (Overriders or TargetCluster) co-exist )`, I would like to take it.

[2021-12-16 06:05] jameszhangyukun commented on #1113
I'm interested in ` E2E: Add a test for it` I want to  take it

[2021-12-16 06:12] RainbowMango commented on #1113
/assign @lonelyCZ @jameszhangyukun
Thank you guys.

[2021-12-16 06:18] iawia002 commented on #1113
` docs: update example artifacts accordingly` I can do this together with the first topic.

[2021-12-16 06:39] RainbowMango commented on #1113
Thanks.

[2021-12-16 09:39] lonelyCZ commented on #1113
Hi, @RainbowMango
Whether to set this field to a point? It doesn't compare with `nil`.
https://github.com/karmada-io/karmada/blob/5e6d213012bcf2076a7277979920b0a4a7172055/pkg/apis/policy/v1alpha1/override_types.go#L40

 And if not to set, it still exist.
[code]

[2021-12-16 10:11] RainbowMango opened #1117 "Panic risk found in karmada-controller-manager"
**What happened**:
Found a panic from E2E testing:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
- Others:

[2021-12-16 10:14] RainbowMango commented on #1117
cc @Garrybest

[2021-12-16 11:46] lokichoggio opened #1118 "ERROR: failed to get Karmada API server IP after creating service 'karmada-apiserver' (host cluster type: remote)"
hack/remote-up-karmada.sh ~/.kube/config xxxxxxxx

[code]

my karmada-apiserver.yaml as follow
[code]

[2021-12-16 11:49] RainbowMango commented on #1113
No, It will introduce incompatible change.

If all of the fields are empty(e.g. `len(Overrides.Plaintext) == 0`), we can think it's emtpy.

[2021-12-16 12:25] Garrybest commented on #1117
I see. I will fix it soon.

[2021-12-16 13:08] RainbowMango commented on #1113
@jameszhangyukun For the E2E test, I think @iawia002 gives an example at #1114 :)

[2021-12-16 13:24] GitHubxsy commented on #1100
@mrlihanbo  Working on `Association `features

[2021-12-16 13:47] lonelyCZ commented on #1100
Ok, thanks! :)

[2021-12-16 13:47] #1100 closed

[2021-12-17 01:47] Garrybest commented on #1085
I think the `karmada-agent` also needs this enhancement.

[2021-12-17 02:22] RainbowMango commented on #1085
Agree, we might introduce more controllers to `karmada-agent`.
I'll file another issue to track it.

[2021-12-17 02:35] #804 closed

[2021-12-17 02:58] lonelyCZ commented on #1113
Hi, @RainbowMango
Do I need to edit this file manually？
https://github.com/karmada-io/karmada/blob/7dcb197f9e62be4a361bf5f29e56802f6321663f/charts/templates/_karmada_webhook_configuration.tpl#L61-L63

[2021-12-17 03:40] RainbowMango commented on #1118
I guess @lfbear is looking at this issue.

[2021-12-17 03:44] RainbowMango commented on #1113
I think so. But I'm afraid we might forget to update the template sometimes. Any ideas @jrkeen ?

[2021-12-17 03:47] lonelyCZ commented on #1113
Yes, I found the `ClusterOverridePolicy` is missed. Could I add it?

[2021-12-17 04:35] lfbear commented on #1118
Now we know that the Load balance in EKS of AWS will use `hostname` not IP address.

[2021-12-17 05:48] jrkeen commented on #1113
@lonelyCZ Yes, it is necessary.
For some reason, helm use `charts/templates/_karmada_webhook_configuration.tpl` instead of `artifacts/deploy/webhook-configuration.yaml`.

[2021-12-17 07:03] lfbear commented on #1118
/assign

[2021-12-17 08:23] RainbowMango commented on #1118
Hi @lfbear, @lokichoggio wants to try Karmada on his cluster, can we do that using the ClusterIP?

[2021-12-17 09:12] lfbear commented on #1118
I am afraid that it can NOT. When we install CRD to api-server, we generally need to access with the api-server by LB or Ingress, etc.  Of course, if we use ClusterIP, we must run the install script with the network environment connected with ClusterIP, such as the K8s Node, however, in most cases, we can not log in to the K8s Node.

[2021-12-18 02:46] lokichoggio commented on #1118
the diffrence for svc.status.loadBalancer.ingress on diffrent provider
[code]

[2021-12-18 03:25] #1085 closed

[2021-12-18 03:50] RainbowMango opened #1127 "Add `--controllers` flag to `karmada-agent`"
**What would you like to be added**:
Add a `--controllers` flag to specify enabled controllers for `karmada-agent`. Just like we did for `karmada-controller-manager` at #1083/#1084/#1123/#1093.

**Why is this needed**:

[2021-12-18 03:50] RainbowMango commented on #1085
Filed #1127 for tracking the tasks.

[2021-12-18 03:52] iawia002 commented on #1127
/assign

[2021-12-18 04:29] XiShanYongYe-Chang commented on #1113
Does `OverridePolicy` example in directory `/pkg/artifacts/example` need to be updated?

[2021-12-18 04:35] XiShanYongYe-Chang commented on #1113
Sorry for all, I see the changes on `example`.

[2021-12-18 05:34] lonelyCZ commented on #1118
Hi, @lfbear , why do we need to connect with ClusterIP when running install script? I only found the ClusterIP was useful to deploy `karmada-agent` at #956

[2021-12-19 02:01] lfbear commented on #1118
When we install CRDs, we need to connect api-server and install them, whatever ClusterIP or LB IP, anyway just we can connect to api-server is ok.

[2021-12-19 06:54] lonelyCZ commented on #1118
Thanks, @lfbear

Why can't we use clusterIP in this scenario? Perhaps, it is ok to use `hostNetwork` directly.

[2021-12-19 09:22] feeltimeQ commented on #1042
/unassign

[2021-12-20 09:07] #438 closed

[2021-12-20 09:59] RainbowMango commented on #662
/close
Please refer to https://github.com/karmada-io/karmada/discussions/1077

[2021-12-20 09:59] #662 closed

[2021-12-20 10:00] RainbowMango commented on #548
/close
The dashboard is onboarded. https://github.com/karmada-io/dashboard

[2021-12-20 10:00] #548 closed

[2021-12-20 11:55] XiShanYongYe-Chang commented on #734
Versions later than v0.9.0 have fixed this issue.

/close

[2021-12-20 11:55] #734 closed

[2021-12-20 12:11] RainbowMango commented on #1113
I just remember that the [webhook configuration] in karmadactl also needs to be updated.

[2021-12-20 12:12] lonelyCZ commented on #1113
Ok, I will do it.

[2021-12-20 12:14] RainbowMango commented on #1113
Thanks, I'm thinking if we can use [embed feature](https://pkg.go.dev/embed) to improve it.

[2021-12-20 12:24] lonelyCZ commented on #1113
Yes, I am also thinking it, including `crd`. When we compile `karmadactl` that should get `crd` or others file dynamically. But it need some time to research it.

We can directly modify it firstly and replace it with `embed feature` uniformly. I would like do it.

[2021-12-20 12:34] RainbowMango commented on #1113
nice.

[2021-12-21 01:26] #1016 closed

[2021-12-21 03:44] RainbowMango opened #1136 "Run karmada-interpreter-webhook-example in CI"
**What would you like to be added**:
The [karmada-interpreter-webhook-example](https://github.com/karmada-io/karmada/tree/master/examples) was used to give an example about how to implement webhooks, and on the other hand, we also want it running in CI testing.

But no ideas about how to deploy it in our E2E testing yet.

**Why is this needed**:
We have implemented `InterpretReplica` and `Retain`

[2021-12-21 06:42] lfbear commented on #1118
Of course, `hostNetwork` is a good solution for installing Karmada on the remote cluster if you do not have the LoadBalancer provider.

I remembered that the [RP](https://github.com/karmada-io/karmada/pull/956) will introduce the `hostNetwork` mode for them without the LoadBalancer provider. But I still insist on reserving the `LoadBalancer` mode.

[2021-12-21 06:59] lonelyCZ commented on #1136
I am just interested in `interpreter` workflow, I would like to do it.

/assign

[2021-12-21 07:08] RainbowMango commented on #1118
Given the `hack/remote-up-karmada.sh` used to install Karmada from the source, that means this is usually not used on production cases.  We can provide more than one network solution, but we should take the simplest solution by default.

[2021-12-21 07:34] learner0810 commented on #861
tools：flux
Download the flux CLI:

[code]

Install the toolkit controllers in the flux-system namespace:

[code]

tips:

 1. The Flux tool is installed on each cluster,Using Flux Install requires scientific surfing

 2. If Flux is successfully installed, you can see the following POD

[code]

helm

1. Define a HelmRepository source

[code]

2. Define a HelmRelease source

[code]

3. Apply those YA

[2021-12-21 07:54] RainbowMango commented on #861
Pretty good after a quick look!!!
This is more like an integration solution with `fluxcd.io`. I like it.

[2021-12-21 07:59] RainbowMango commented on #861
I'll look into it and try it on my side and get back to you. Many thanks.

[2021-12-21 08:18] kerthcet opened #1139 "introduce configuration profile to manage plugins"
**What would you like to be added**:
Introduce a new struct named `KubeSchedulerProfile` to manage plugins
something like kubernetes:
[code]
**Why is this needed**:
Now, plugins in karmada are locked by source code which is unextensible, and the power of plugins haven't been exploitted.
Besides, if we don't set any configuration, default profile will take over, it's backwards compatible.

[2021-12-21 08:18] kerthcet commented on #1139
/assign
/cc @RainbowMango

[2021-12-21 08:57] RainbowMango commented on #1139
Is it the same profile thing we discussed before @Garrybest ?
Also cc @dddddai .

[2021-12-21 09:51] dddddai commented on #1139
I think it's irrelevant to the previous discussion, and I'm ok with it, which makes the scheduler more extensible

[2021-12-21 12:38] leonharetd commented on #401
/assign

[2021-12-21 14:45] BDXGD opened #1140 "Two questions about binding process"
**Please provide an in-depth description of the question you have**:

1. When resource looks for an appropriate `propagationPolicy`, the existing priority comparison plan is lexicographical order. Is this reasonable?

2. According to the existing logic, for the same resource, except for the `propagationPolicy` with the smallest lexicographic order, no other propagationPolicy will have any effect.

[2021-12-21 15:29] leonharetd opened #1141 "install with local-up-karmada.sh, cannot be deleted with delete-cluster.sh"
**What happened**:
I use local-up-karma.sh to test, then I want to recycle resources, I found delete-cluste.sh.
When I use it to delete a cluster. such as member1, I use it to delete a cluster, an error is returned.
[code]
when i used "kubectl config use-context member1" first
hack/delete-cluster.sh member1 /root/.kube/karmada.config is work.
also
https://github.com/karmada-io/karmada/blob/b57b723

[2021-12-21 15:31] leonharetd commented on #1141
/assign

[2021-12-21 15:32] leonharetd commented on #1141
I can try to fix it

[2021-12-22 01:09] RainbowMango commented on #401
Thanks, @theonlydoo and @leonharetd .

[2021-12-22 01:15] RainbowMango commented on #1140
The alphabetical order guarantees the dedicated Propogation would be selected no matter how many times doing the match.
This is the protection of people misconfigured PropagationPolicy.

[2021-12-22 01:15] RainbowMango commented on #1140
For the question `2`, can you give an example to show the problem?

[2021-12-22 01:17] RainbowMango commented on #1141
Thanks, please cc me and @lfbear after you file the PR.

[2021-12-22 06:25] RainbowMango opened #1147 "Enable `karmada-aggregated-apiserver` installation by helm"
**What would you like to be added**:
The #1122 introduced the `karmada-aggregated-apiserver` component which is the mandatory component to the Karmada control plane, so it should be included in charts.

**Why is this needed**:

/assign @algebra2k @jrkeen
Can you guys help with it? We are going to cut the new release by the end of this month, sorry for the short notice.
Please let me know if you ha

[2021-12-22 06:48] kerthcet commented on #1139
Yep, I'll work on it then.

[2021-12-22 07:13] RainbowMango commented on #1139
Thanks @kerthcet, but I didn't get it yet, how to use this `KubeSchedulerProfile` to extend plugins?

[2021-12-22 07:30] BDXGD commented on #1140
Is there such a possibility? The user created a `propagation` named `aaa` a long time ago, and now creates a `propagation` named `bbb`, and fills in a newly created `override` in its `dependentOverrides` field, and then keeps pending.

This means that, for the same resource, only the propagation with the **smallest lexicographic order** can be matched, and other propagations will never have any ef

[2021-12-22 07:54] lfbear commented on #1118
@lokichoggio Would you like to try by https://github.com/karmada-io/karmada/pull/1137

[2021-12-22 07:56] kerthcet commented on #1139
sorry, I didn't explain it clearly. Let's see some implementations in kubernetes.
Now we can configure our scheduler like this:
[code]
My concern is about the field profiles, it's named `KubeSchedulerProfile`. In this file, we enabled Plugin A,B,C and disabled plugin D in filter extension point, and we enabled Plugin A in score extension point. (just ignore other fields since not necessary now e.g

[2021-12-22 08:31] jrkeen commented on #1147
I will do it.

[2021-12-22 08:40] iawia002 commented on #1111
/assign

I will implement the `ReviseReplica` hook

[2021-12-22 08:50] RainbowMango commented on #1139
@Garrybest Can you confirm if this is the thing you are mentioned at https://github.com/karmada-io/karmada/pull/760#issuecomment-927479637?

[2021-12-22 08:52] RainbowMango commented on #1147
Appreciate!!!

[2021-12-22 08:54] kerthcet commented on #1139
I checked the dialogue, If I understood correctly, I think it's the same thing.

[2021-12-22 12:31] GitHubxsy commented on #1140
The minimum lexicographic order is not the best solution. The priority configuration solution can't solve the problem you're talking about.  Do you have a good idea?

[2021-12-22 12:33] GitHubxsy commented on #1140
The priority configuration solution indicates that a priority is configured for an override policy. The override policy with a higher priority is preferentially used.

[2021-12-22 14:16] BDXGD commented on #1140
The current solution by Karmada is to remind users to create corresponding `overrides` through `klog`.

When the `Propogation` with the lowest lexicographic order is selected but there is no corresponding override, the log will be used to remind the user that the user needs to pay attention.

If Karmada wants to configure a dedicated `Propogation` for each resource, I haven't thought of a better s

[2021-12-22 14:28] BDXGD commented on #1140
I think `alphabetical order` does not mean `dedicated Propogation`, what if the user mistakenly creates a `Propogation` smaller than the one with smallest alphabetical order?

[2021-12-22 14:46] BDXGD opened #1151 "Can't directly tell whether the deployment has been dropped from the workqueue."
**Please provide an in-depth description of the question you have**:

A deploy will requeue if no `propagation` is found, and will be dropped after trying `maxRetries` times. But it will behave the same before and after the drop by using `kubectl get deploy`:

![bf641b8811d1e050e15c783dfa5091e](https://user-images.githubusercontent.com/47907508/147108431-a2aeb124-2d18-43bb-bc4f-5f7a3d1d70dc.png)

[2021-12-23 01:13] RainbowMango commented on #1140
How about giving an example to reproduce the issue we are talking about?

[2021-12-23 03:37] RainbowMango opened #1153 "Deprecate ReplicaSchedulingPolicy"
**What would you like to be added**:

The `ReplicaSchedulingPolicy` has been deprecated at v0.9.0 which functionality has been integrated to `ReplicaScheduling` of `PropagationPolicy`. Now it's time to remove it from the codebase.

**Why is this needed**:

/assign @iawia002

[2021-12-23 08:38] BDXGD commented on #1140
I can’t understand this sentence. If the user currently matches the `PropagationPolicy` named `bbb` with a certain resource template, if a `PropagationPolicy` named `aaa` is now initialized (misconfigured), then the resource will be bound to `aaa`.

IMO, if we want to achieve **the protection of people misconfigured PropagationPolicy**, we can limit a resource to only match one `PropagationPolicy`

[2021-12-23 12:09] Garrybest commented on #1139
Yes, that's it. 👍

[2021-12-23 12:33] RainbowMango commented on #1139
Ok. then @kerthcet Can we talk about this feature at the next community meeting.

I'm afraid this can't be included in the new release which is planned for the end of the month.

[2021-12-24 02:10] #1127 closed

[2021-12-24 02:13] isloveh opened #1159 "如何在api-server 中运行crd呢？"
**Please provide an in-depth description of the question you have**:

**What do you think about this question?**:

**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2021-12-24 02:37] RainbowMango commented on #1159
Please provide an in-depth description of the question you have.

[2021-12-24 02:50] RainbowMango commented on #323
The installation guide is available now, please refer to [Installing Karmada](https://github.com/karmada-io/karmada/blob/master/docs/installation/installation.md).

I'm going to close this issue now, but feel free to re-open it if you want further discussion.

Will do it, probably next release. Thanks.
/close

[2021-12-24 02:50] #323 closed

[2021-12-24 02:52] RainbowMango commented on #319
I guess this is included by [customresourceinterpreter](https://github.com/karmada-io/karmada/tree/master/examples/customresourceinterpreter).
/close

[2021-12-24 02:52] #319 closed

[2021-12-24 02:53] RainbowMango commented on #1047
/close
As I think we can run e2e test locally already.

[2021-12-24 02:53] #1047 closed

[2021-12-24 02:54] isloveh commented on #1159
我的应用场景是通过crd的交互方式创建PropagationPolicy, 通过kubebuilder 创建的crd 本地make run 测试通过，但是通过deployment 形式部署在api-server上，查看是没有创建对应的pod, 具体了解你们的架构，是在api-server中屏蔽了pod的创建，请问这个如何解决呢？

[2021-12-24 03:00] RainbowMango commented on #1159
通过dep部署CRD？没理解你的场景。

[2021-12-24 03:02] RainbowMango commented on #629
可以使用`kubectl karmada promote`先把资源交给karmada管理，再进行分发。

[2021-12-24 03:03] RainbowMango commented on #629
/close

[2021-12-24 03:03] #629 closed

[2021-12-24 03:07] isloveh commented on #1159
简单来说就是我定义了一个crd ，功能就是通过用户描述能够创建不同的PropagationPolicy 资源分发策略， 我想把这个crd以容器的行书部署在karmada-api-server中，目前的现象是不会拉起对应的pod，导致自定义资源逻辑不生效， 我不知道我的处理方式是不是正确的

[2021-12-24 03:08] RainbowMango commented on #400
Hi @theonlydoo
We introduced the kubectl plugin `kubectl-karmada`, you can use  it to get resources across clusters, e.g.
[code]

And the [karmada-aggregate-apiserver](https://github.com/karmada-io/karmada/discussions/1077) provide the REST API to access member clusters from Karmada control plane.

[2021-12-24 03:08] RainbowMango commented on #400
/close
Feel free to re-open it if you want further discussion.

[2021-12-24 03:08] #400 closed

[2021-12-24 03:10] RainbowMango commented on #593
`kubectl karmada promote` is available now.
/close

[2021-12-24 03:10] #593 closed

[2021-12-24 03:11] RainbowMango commented on #606
Thanks for your feedback.
/close
as issue has been solved.

[2021-12-24 03:11] #606 closed

[2021-12-24 03:12] RainbowMango commented on #451
/close
Continue the discussion on https://github.com/karmada-io/karmada/discussions/1077.

[2021-12-24 03:12] #451 closed

[2021-12-24 03:15] RainbowMango commented on #532
Hi @yanweininenine
Didn't get your response for a long time. I'm going to close it now.
As far as I know, the `Deployment` propagating functionality is covered by our E2E testing.
Feel free to re-open it if you want further discussion.

[2021-12-24 03:15] RainbowMango commented on #532
/close

[2021-12-24 03:15] #532 closed

[2021-12-24 03:16] RainbowMango commented on #620
So, what's your quesion?

[2021-12-24 03:19] RainbowMango commented on #811
Yes, I think we should support the build without a network.

[2021-12-24 03:19] RainbowMango commented on #811
/close

[2021-12-24 03:19] #811 closed

[2021-12-24 03:25] RainbowMango commented on #1159
我理解你的CRD用于控制PropagationPolicy的创建，同时你有一个controller来reconcile CR源，你的controller用Deployment来运行。现在的问题是你把Deployment提交到karmada-apiserver，但这个deployment因不会创建pod而无法运行。对吧？

我个人认为，你的controller不应该部署在karmada-apiserver中，只是你的controller行为会操作`karmada-apiserver`。

[2021-12-24 03:31] isloveh commented on #1159
好的，明白了，谢谢您

[2021-12-24 03:35] RainbowMango commented on #1159
如果你们已经或准备在生产环境中使用Karmada，请联系我，karmada社区希望更更好的倾听用户声音。
/close

[2021-12-24 03:35] #1159 closed

[2021-12-24 05:31] isloveh commented on #1159
好的，目前在技术演进阶段，准备上生产会联系您这边，获取的宝贵意见或者建议

[2021-12-24 07:54] #1055 closed

[2021-12-24 08:38] #1111 closed

[2021-12-24 08:38] RainbowMango commented on #861
I think we can add a document at `docs/work-with-flux.md`. The structure would be:
- Overview: description about flux
- Prerequisites: installing flux.
- Propagating Helm by Karmada
- Propagating Kustomize by Karmada

How do you think @learner0810 ? And would like to do it?

[2021-12-24 09:54] learner0810 commented on #861
I agree with the idea. I would be more than happy to complete this document

[2021-12-24 10:11] RainbowMango commented on #861
Thanks, hard to say this is the only way we support helm chart propagation, but it's a very very good start!

[2021-12-24 13:42] GitHubxsy commented on #1151
The label of deployment is not labeled with policy, indicating that the deployment does not match. If the rb is not generated , there is an event generated. There is an application creation state and running state of each cluster on rb.

[2021-12-24 14:00] BDXGD commented on #1151
There is no `rb` may not be because of the label, it may be because the `override` of `Propagation` dependency has not been created, my idea is to let the `detector` watch `override`. #1162

[2021-12-24 14:06] GitHubxsy commented on #1140
In the initial design, policy was shared, not exclusive designated deployment. For example, policy resourceselector is set to a label, and any resource object such as the Deployment will be matched and distributed to the same cluster if there has same label.

If users can provision policy in advance, using karmada the same as single cluster k8s.

[2021-12-25 01:15] #1153 closed

[2021-12-25 08:28] lonelyCZ commented on #1136
I consider the test processes is below:

1. In `hack/run-e2e.sh`, creating `work` crd in `karmada-apiserver` and all member clusters, deploying `karmada-interpreter-webhook-example` in host cluster.
2. In `test/e2e/resourceinterpreter_test.go`, testing `InterpretReplica`, `Retain` and `ReviseReplica` by distributing `workload` CR. And adding tests case if there will be new interpret functions.

Ho

[2021-12-25 08:36] RainbowMango opened #1166 "[GoodFirst] fix `--cluster-namespace` misleading description"
**Task description**:
The description of `--cluster-namespace` for `join` command is misleading as the namespace not used to store `Cluster` objects but the secrets.

[code]

**Solution**:
An alternative is:
[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully

[2021-12-25 08:53] RainbowMango commented on #1136
I haven't really thought about it.

Things what we have to do for the environment might include:
- Deploy the [Workload CRD](https://github.com/karmada-io/karmada/blob/master/examples/customresourceinterpreter/apis/workload.example.io_workloads.yaml) to karmada-apiserver and propagate it to all member clusters(by a ClusterPropagationPolicy).
- Deploy the [karmada-interpreter-webhook-example](https

[2021-12-25 08:56] RainbowMango commented on #1136
Yes, for the environment preparation, we can do that in `hack/run-e2e.sh`, but can we introduce another script for not coupling so much?

Yes, we might have to add some documentation for how to [the example](https://github.com/karmada-io/karmada/tree/master/examples), for people to deploy it and try it on their clusters.

[2021-12-25 09:07] lonelyCZ commented on #1136
Ok, I will firstly implement a version according to these processes.

Got it.

Ok, I will add it.

[2021-12-26 03:19] liangyongzhenya commented on #1166
/assign

[2021-12-27 02:06] RainbowMango commented on #1166
Thanks @liangyongzhenya .

[2021-12-27 02:58] 2hangchen opened #1171 "Using Karmadactl to get cluster information fails, but using Kubectl to get cluster information succeeds"
**What happened**:
Using `karmadactl` to get cluster information fails, but using `kubectl `to get cluster information succeeds
![image](https://user-images.githubusercontent.com/31329928/147429722-69b13f9e-89bc-4b27-bc25-a5eea4e7d56a.png)
I don't know what the reason is.

**Environment**:
- Karmada version: v0.10.0
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` o

[2021-12-27 03:13] RainbowMango commented on #1171
`karmadactl get` designed for `get` workloads from member clusters, and the `Cluster` is not supported.

I think this command might be ambiguous.

[2021-12-27 03:25] 2hangchen commented on #1171
I see, so the only way to get `cluster` resource information is through `kubectl `or kube-apiserver?

[2021-12-27 03:35] RainbowMango commented on #1171
For now, yes. Get `Cluster` by `kubectl get` which gets it from `karmada-apiserver`.

[2021-12-27 04:19] 2hangchen commented on #1171
ok,thx

[2021-12-27 04:19] #1171 closed

[2021-12-27 10:02] RainbowMango commented on #1088
I'm adding a document about this by #1173, this issue will be closed after that.
Thanks for reaching us @paulzhn though.

[2021-12-27 12:20] RainbowMango commented on #1147
@jrkeen What's the progress now? Can we finish it by this Wednesday?

[2021-12-27 12:37] jrkeen commented on #1147
Yes, I will finish it tonight.

[2021-12-28 02:45] #1147 closed

[2021-12-28 03:54] #1088 closed

[2021-12-28 06:00] #1118 closed

[2021-12-29 02:38] iawia002 opened #1185 "Default PropagationPolicy"
**What would you like to be added**:

Introduce a default `PropagationPolicy` that matches all resources, and use it directly if the resource does not have a `PropagationPolicy` configured.

Or maybe we can also introduce `PropagationPolicy` priority.

**Why is this needed**:

The scenario is as follows: in many cases I need to distribute my resources to all clusters, but to configure `Propagation

[2021-12-29 02:56] RainbowMango commented on #1185
What's the exact use case we are talking about? Why users need that?

[2021-12-29 02:59] RainbowMango commented on #1185
We have considered this issue before, we named it `fully propagation` mode.
Haven't do it because:
- Not so clear the user cases are.
- Need a way to identify the resources between users and karmada-apiserver auto-generated?

[2021-12-29 03:15] iawia002 commented on #1185
Not necessarily all clusters, but just need a default `PropagationPolicy` to describe which clusters to distribute to, many of our users will use the same policy to distribute resources to several clusters (just as today I create an application and distribute it to cluster A B with the same number of replicas, tomorrow I create a new application and need to use the same strategy), this time the de

[2021-12-29 11:13] hansedong opened #1189 "The karmada scheduler cannot perform accurate rescheduling work after the cluster recovers from a failure."
**What you expected to happen**:

I am testing the failover capability of karmada. I have 2 clusters (member1 and member2), and the scheduling strategy is devided with equal weights. The expected situation is:
1. If a cluster (called member1) fails, the pods on this member1 will be distributed to other clusters (member2) to meet the total expected number of the Deployment in Karmada.
2. After the

[2021-12-29 13:30] GitHubxsy commented on #1189
You're right. Currently，it will not recover when the cluster is healthy.
In some scenarios, it is hoped that the application will run stably and should not be rescheduled. In other scenarios, it is hoped that the original situation can be restored.

[2021-12-29 13:32] RainbowMango commented on #861
Hi @learner0810
Since we are going to cut the new release by the end of this week, so I'm asking when this document will be ready?

[2021-12-29 13:34] RainbowMango commented on #1189
cc @mrlihanbo

[2021-12-29 13:40] GitHubxsy commented on #1185
You want a propagation policy that can match any resource?

[2021-12-30 03:10] learner0810 commented on #861
I am very sorry. I've been very busy lately, so the document is not ready yet, can you put it in the next version?

[2021-12-30 03:15] Chenhb123 opened #1193 "statefulset is not ready"
**Please provide an in-depth description of the question you have**:
I tried to deploy a statefulset to the specified cluster named **kubernetes-admin144**, After completing the deployment, I found that
statefulset is not ready, However, the statefulset was actually successful deployed in **kubernetes-admin144**, Here's how I did it:
[code]
**What do you think about this question?**:
I don't know

[2021-12-30 07:44] lonelyCZ commented on #1193
It seem not to support `statefulset` AggregateStatus now.

https://github.com/karmada-io/karmada/blob/075bfc97ba9d66de568e6642d652ec5e75398b53/pkg/detector/detector.go#L1029-L1042

[2021-12-30 07:57] Chenhb123 commented on #1193
emmmm, 👌Ok, thank you very much for your answer

[2021-12-30 08:03] Chenhb123 commented on #1193
Are there plans to add statefulset AggregateStatus to project development in the future, If so, when will this feature be added. Looking forward to your reply. @lonelyCZ

[2021-12-30 08:10] iawia002 commented on #1185
It's not just global matching, it's about the priority, If I configure a single policy for a resource, which policy will be used? Can I know and control this clearly?

[2021-12-30 08:13] RainbowMango commented on #1193
@Chenhb123 It's part of the [resource-interpreter-webhook](https://github.com/karmada-io/karmada/tree/master/docs/proposals/resource-interpreter-webhook), and what you are asking is `InterpretStatus` and `AggregateStatus` operations.

We have implemented `Retain`/`InterpretReplica`/`ReviseReplica`, I think the  `InterpretStatus` and `AggregateStatus` will be the next.

We can't guarantee but I gue

[2021-12-30 08:57] Chenhb123 commented on #1193
I see😬,Thanks again for your reply.

[2021-12-30 08:57] #1193 closed

[2021-12-30 09:07] RainbowMango commented on #1141
Let's back to this original issue. You want use `hack/delete-cluster.sh` to remove the cluster created by `hack/local-up-karmada.sh`? right?

[2021-12-30 09:15] RainbowMango commented on #1141
Sorry I can't get it. what do you mean `next time I come in`? and kind can't find `what`?

[2021-12-30 09:24] leonharetd commented on #1141
Maybe I complicated the problem, I use hack/delete-cluster.sh one by one to delete clusters by name. Then I want to add a batch deletion. to remove the cluster created by hack/local-up-karmada.sh. Later, I want to delete all the created by kind and added to Karada

[2021-12-30 09:27] leonharetd commented on #1141
Re entering the terminal，Kind command not found. ps: I didn't install `kind` before

[2021-12-30 09:28] RainbowMango commented on #1141
The `hack/delete-cluster.sh` is paired with `hack/create-cluster.sh`, it definitely can remove the cluster created by `hack/local-up-karmada.sh`, but each time it only removes one cluster.

And the `hack/delete-cluster.sh` not designed for deleting multi-clusters.

[2021-12-30 09:29] RainbowMango commented on #1141
Confused. The `hack/local-up-karmada.sh` will help you install kind by default.

[2021-12-30 09:34] leonharetd commented on #1141
Installation is OK, but `$Path` without `kind` bin

[2021-12-30 09:37] leonharetd commented on #1141
I see. I'll restore this

[2021-12-30 11:19] #1141 closed

[2021-12-30 12:08] XiShanYongYe-Chang opened #1195 "Resourcebinding NotFound."
#### Which jobs are flaking:

https://github.com/karmada-io/karmada/runs/4663848781?check_suite_focus=true

[code]

#### Which test(s) are flaking:

https://github.com/karmada-io/karmada/blob/6f4b65a99f2617f467de47509ee8d6a44b11c3be/test/e2e/scheduling_test.go#L70

#### Reason for failure:

#### Anything else we need to know:

Key logs:

[code]

[2021-12-30 12:11] XiShanYongYe-Chang commented on #1195
**Analysis: **

When PropagationPolicy and Resource are being processed at the same time, they cannot find each other. As a result, the binding creation process is not entered. This is a coincidence. Currently, I have only encountered this problem.

[2021-12-30 13:06] GitHubxsy commented on #1185
If there are multiple policies that can match, we use lexicographic sorting. Priority is a good idea.

[2021-12-30 13:21] #1136 closed

[2021-12-31 02:42] hansedong commented on #1189
@RainbowMango @mrlihanbo Any suggestions？

[2021-12-31 02:52] RainbowMango commented on #1189
Thanks for reaching us and giving us feedback.

As a basic principle, the scheduler should not migrate workloads which works fine unless there is a clear declaration.
Add @GitHubxsy has explained the reason above.

The re-balance scenario could be done by [de-scheduler](https://github.com/karmada-io/karmada/tree/master/docs/proposals/scheduling/697-descheduler).

[2021-12-31 02:55] RainbowMango commented on #1189
Let's invite the `de-scheduler` author @Garrybest to confirm if this is the case that `de-scheduler` cares about.

[2021-12-31 02:59] RainbowMango commented on #1189
Yeah, after failover, the observed status violates the declaration of PropagationPolicy, we definitely missed something like `events`/`conditions` to let people know what happened.

[2021-12-31 03:10] Garrybest commented on #1189
Thanks for reporting this issue. It is a good question👍

The reason why scheduler does not balance scheduling result after the cluster recovers is the binding replicas and placement are not changed. See [here](https://github.com/karmada-io/karmada/blob/14487548dd9c4970dad003da7d253c25811f2515/pkg/scheduler/scheduler.go#L440-L447).

I think this scenario could be covered by our new module `deschedu

[2021-12-31 03:27] tiezhuoyu opened #1196 "Is karmada able to propagate crd, like kubefed?"
Hi, I wander if karmada is able to propagate crd, like kubefed?

For example, i create such a crd on karmada control plane:
[code]

I want to propagate this crd object to member cluster.
I create and apply a policy, but it doesn't work.
[code]

Logs of karmada controller:
[code]

Is it a configuration incorrectness of policy, or karmada's currently unsupport?

**Environment**:
- Karmada version: l

[2021-12-31 03:42] XiShanYongYe-Chang commented on #1196
Hi @tiezhuoyu , You can use `ClusterPropagationPolicy` to propagate CRD resources.

[2021-12-31 03:44] XiShanYongYe-Chang commented on #1196
For the differences between `PropagationPolicy` and `ClusterPropagationPolicy`, you can refer to here:

https://github.com/karmada-io/karmada/blob/master/docs/frequently-asked-questions.md#what-is-the-difference-between-propagationpolicy-and-clusterpropagationpolicy

[2021-12-31 04:03] tiezhuoyu commented on #1196
Thanks! I will try it.

[2021-12-31 06:49] hansedong commented on #1189
@RainbowMango @Garrybest @GitHubxsy
Thank you for your answers. I will pay attention to the design of the descheduler module and continue to follow up on the development of Karmada. Thanks again.

[2021-12-31 08:01] GitHubxsy commented on #1189
@hansedong Can you help with reviewing this PR #1197

[2022-01-01 20:46] prodanlabs opened #1204 "Use 'karmadactl init', "v1alpha1.cluster.karmada.io" not found"
**What happened**:

[code]

Due to the change of CRD resources, the method of creating `v1alpha.clusterKarmada.io` should be `create` instead of `update`

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada

[2022-01-01 20:54] prodanlabs commented on #1204
hi @RainbowMango
Can you update CRDs tarball and add an empty `v1alpha1.cluster.karmada.io`. I'll fix this later.

[2022-01-04 03:21] RainbowMango commented on #1204
Do you mean to add the following `APIService` yaml to crds.tar.gz of v1.0.0 release?
https://github.com/karmada-io/karmada/blob/1d166b6f354ac73fb6995f9518f7e7f065b43c12/artifacts/deploy/apiservice.yaml#L1-L16

[2022-01-04 03:26] XiShanYongYe-Chang opened #1208 "[GoodFirst] Add a space before the first letter of the comment."
**Task description**:

In order to maintain a uniform format specification, we need to add a space before the first letter of the comment in `pkg/karmadactl/cmdinit/utils/kubeclient.go` file.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully

[2022-01-04 03:34] #1204 closed

[2022-01-04 09:09] RainbowMango opened #1209 "[docs] Adding github-workflow document"
**What would you like to be added**:
Adding a document at `docs/contributors/guide/github-workflow.md`, just like the [Kubernetes documents](https://github.com/kubernetes/community/blob/master/contributors/guide/github-workflow.md).

**Why is this needed**:

/help

[2022-01-04 09:13] iawia002 commented on #1185
@RainbowMango What do you think about `Priority`, is this a reasonable feature?

[2022-01-04 09:24] RainbowMango opened #1210 "Introduce cherry-pick tools"
**What would you like to be added**:
- [x] : cherry-pick tooks, like [Kubernetes hack/cherry_pick_pull.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/cherry_pick_pull.sh)
- [x] : cherry-pick document at `docs/contributors/devel/cherry-picks.md`, like [this one](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md)

**Why is this needed**

[2022-01-04 09:26] RainbowMango commented on #1185
What a pity we didn't talk about it at the meeting.

Does the `priority` thing only act on `PP`/`CPP`?

[2022-01-04 09:31] iawia002 commented on #1185
Yeah, totally forgot this issue.

Yes, and it won't introduce breaking changes, if you don't set the `priority` value, everything will behave as it is now.

[2022-01-04 14:25] jameszhangyukun commented on #1210
I want to try two tasks /assign

[2022-01-04 14:27] jameszhangyukun commented on #1210
/assign

[2022-01-05 01:05] Fish-pro commented on #1208
/assign

[2022-01-05 06:46] #1208 closed

[2022-01-05 08:15] 1285yvonne opened #1214 "Deploy `karmada-aggregated-apiserver` fllowing the upgrading doc but failed."
**Please provide an in-depth description of the question you have**:

When I deployed the `karmada-aggregated-apiserver` following this documents  https://github.com/karmada-io/karmada/blob/master/docs/upgrading/v0.10-v1.0.md, I found the `APIService` couldn't work because of a wrong serivce type.

[code]

I should modify the Yaml like this to make it work:

[code]

**What do you think about this

[2022-01-05 08:38] XiShanYongYe-Chang commented on #1214
I think that's what caused it: `message: unsupported service type "ExternalName"`.

[2022-01-05 08:43] weilaaa opened #1215 "OverridePolicy should not allowed override namespace"
What happened?
- **operate**: I create a cr in default namespace, and use PropagationPolicy spread it, then I use OverridePolicy to Override namespace of cr.
- **result**：there are two Works with different namespace prefix, when delete OverridePolice I got an error:
[code]

Version
v0.8.0

Why this?
GetManifestIndex() cloud not find manifest index when namespace changed, same as kind/name/apiversi

[2022-01-05 08:58] XiShanYongYe-Chang commented on #1214
Hi @1285yvonne, are there any settings that make the service of the `ExternalName` type unavailable?

[2022-01-05 09:17] RainbowMango commented on #1214
Never met this issue before.

Can you help test if the following yaml could be applied to your system(karmada-apiserver)?

[code]

[2022-01-05 09:19] RainbowMango commented on #1215
Long time no see @weilaaa :)

[2022-01-05 09:25] weilaaa commented on #1215
Nice to see ya, I will reopen it after make it more details

[2022-01-05 10:03] 1285yvonne commented on #1214
I know the reason why the `ExternalName` service dosen't  work.

I changed the `karmada-apiserver` args because of  some internal  testing cases for our private k8s cluster. I added this flag:

[code]

After I deleted this flag, it's worked

[code]

[2022-01-05 11:18] carlory commented on #1209
/assign

[2022-01-05 11:22] carlory commented on #1210
@jameszhangyukun

Sorry, I did not notice this issue, I have already submitted a related PR #1216

/assign

[2022-01-06 01:23] Chenhb123 opened #1219 "karmadactl output format with more information such as -owide"
**Please provide an in-depth description of the question you have**:
After I added multiple external clusters in Karmada, I can view cluster resource information using the karmadactl command without having to switch contexts or specify configuration files,This becomes more and more useful👍 when there are more and more clusters:
[code]
However, when I tried to use Karmadactl to get resource details

[2022-01-06 02:09] RainbowMango commented on #1210
@jameszhangyukun Have you started this task?

[2022-01-06 02:11] jameszhangyukun commented on #1210
I just read https://github.com/kubernetes/kubernetes/blob/master/hack/cherry_pick_pull.sh do not begin this task

[2022-01-06 02:11] #1214 closed

[2022-01-06 02:20] RainbowMango commented on #1219
Good question! I think it's a very useful feature.

cc @lonelyCZ @lfbear  Any comments?

[2022-01-06 03:19] lonelyCZ commented on #1219
Greate! I consider we could enhance `karmadactl get` that `aggregate apiserver` has been merged and provide more subcommands.

[2022-01-06 03:33] lfbear commented on #1219
@QAQ-rookie How about this feature :)

[2022-01-06 06:21] Chenhb123 commented on #1219
@RainbowMango Thank you very much for your reply and look forward to the update of this function☀️

[2022-01-06 06:27] RainbowMango commented on #1219
You are welcome! Thanks for reaching us though.

[2022-01-06 06:47] lonelyCZ commented on #1113
Hi, @RainbowMango , I researched this feature these days, but it seem not to support access parent directory. So if using it, we also need to copy `crds` and `webhook config` to `pkg/karmadactl/cmdinit/`.

[https://go.googlesource.com/proposal/+/master/design/draft-embed.md](https://go.googlesource.com/proposal/+/master/design/draft-embed.md)

In order to build files embedded in a dependency, the

[2022-01-06 11:11] RainbowMango commented on #1113
I'll look at it later.

[2022-01-06 11:33] RainbowMango commented on #1215
Hi @weilaaa ,

Why are you trying to override the namespace? What is the use case?

Does this issue still exist on the latest v1.0? Can you post the related yaml here by the way?

[2022-01-06 11:45] RainbowMango commented on #1210
So, how do you want to move this issue forward? You can help review #1216 or submit a new PR, it's up to you.

@carlory Thanks for your contribution, but since this issue has been claimed by @jameszhangyukun , I need confirmation before moving your PR. Hope you can understand.

[2022-01-06 11:57] jameszhangyukun commented on #1210
If he finish this issue.I think you can receive his PR.

[2022-01-06 12:00] carlory commented on #1210
@RainbowMango  @jameszhangyukun

sorry, it's my mistake. I will be more careful next time.

[2022-01-06 12:12] jameszhangyukun commented on #1210
It doesn't matter.

[2022-01-06 12:25] RainbowMango commented on #1210
@carlory Don't get me wrong, It's not your fault.

We are following the first-come-first-serve rule, all contributor's efforts are fully respected.

[2022-01-06 12:26] RainbowMango commented on #1210
Thanks @jameszhangyukun for your cooperation.

[2022-01-06 15:08] GitHubxsy commented on #1219
- step1: Granting karmada-user authorization  access member cluster，refer to #1187
- step2: Generating the kubeconfig File，The format is as follows:
[code]
- step3：use
Get nodes in member1 cluster : `kubectl get node -owide --cluster=member1`
Get pods in member2 cluster: `kubectl get pod -owide --cluster=member2`

The above we currently have capabilities.We can further optimize:
1. **User does not

[2022-01-07 01:34] RainbowMango opened #1220 "Deepcopy didn't generate"
**What happened**:
The #704 introduced API change but without `deepcopy` update. This kind of mistake should be intercepted by [hack/verify-codegen.sh](https://github.com/karmada-io/karmada/blob/7323eadb18bf928e5bb5a44a190837bad44349dc/.github/workflows/ci.yml#L39), but seems it does not work as expected.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possi

[2022-01-07 01:49] RainbowMango commented on #1220
@iawia002 Any idea?

[2022-01-07 02:23] iawia002 commented on #1220
Strange, my local test results are normal, it fails as expected:

[code]

Let me do some research.

[2022-01-07 03:23] iawia002 commented on #1220
I know what the problem is. In the GitHub Action environment, our code is not in the `GOPATH/src/github.com` directory, but the `deepcopy-gen` generates the code into the GOPATH directory, so the deep copy files in the current directory don't actually been updated.

I have fixed this, see https://github.com/karmada-io/karmada/runs/4734865346?check_suite_focus=true for the results.

/assign

[2022-01-07 05:38] pigletfly opened #1222 "failed to sync resource to member cluster"
**What happened**:

E0107 05:21:56.594451       1 execution_controller.go:213] Failed to get resource xxx from member cluster, err is the informer of cluster(xxx) h
as not been initialized

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version: v0.10.1
- kubectl-karmada or karmada

[2022-01-07 07:14] #1220 closed

[2022-01-07 07:28] RainbowMango commented on #1222
Does this error persist?

See the comment.
https://github.com/karmada-io/karmada/blob/b1a2914ed420a347f4bc33889a8ee1054d94eaf2/pkg/util/helper/cache.go#L34-L40

[2022-01-07 07:45] weilaaa commented on #1215
Yes, still in head.

Related yamls bellows:
[code]

[code]

[code]

After you Applied, you will get ResourceBinding bellow:
[code]

Meanwhile, you will get two works for member1(I expected there is one work)

[code]

The one with ns-1 namepsace of identifier

[code]

The another with default namespace of identifier

[code]

What's more, you can find error log in karmada-controller-manager as bello

[2022-01-07 07:58] weilaaa commented on #1215
Hi @RainbowMango,

Generally, this is an edge scene. We cloud do something to avoid of it.

In my situation, I fork karmada and do some changes to make it not dependent on extra apiserver and ectd. So sometimes, I don't want create a lot of namespace in my pivot cluster. I try to create resources in one specific namespace, and use OverridePolicy to modify the namespace in real. Those things I did

[2022-01-10 01:47] #1166 closed

[2022-01-10 06:58] #1210 closed

[2022-01-11 01:35] SZT0728 opened #1232 "如何在k8s内部部署karmada"
**看了karmada的启动脚本 都是对给定的一个k8s集群从外部进行部署karmada，有没什么方式可以在k8s集群内部部署karmada的？？**:

**What do you think about this question?**: 有官方开发者支持解答一下疑问吗

**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2022-01-11 01:36] RainbowMango opened #1233 "[GoodFirst] Use `DefaultRetry` instead of `DefaultBackoff` to deal with conflict"
**Task description**:
If multiple clients are making changes to the same resource, it's pretty common to raise a conflict. And the `retry.RetryOnConflict` was used to retry the request. Refer to [execution controller](https://github.com/karmada-io/karmada/blob/596f2146599d1bb348cbc6daf9c10a4190462bce/pkg/controllers/execution/execution_controller.go#L273) for an example.

There are two backoff opt

[2022-01-11 01:39] RainbowMango commented on #1232
Have you checked [Installing Karmada](https://github.com/karmada-io/karmada/blob/master/docs/installation/installation.md) document?

[2022-01-11 01:57] helen-frank commented on #1233
/assign

[2022-01-11 03:14] #1233 closed

[2022-01-11 06:04] SZT0728 commented on #1232
when  i use kubectl-karmada install karmada，the output failed message is follow:

I0111 13:59:09.146318  477525 deploy.go:217] Update APIService 'v1alpha1.cluster.karmada.io'
F0111 13:59:09.149806  477525 deploy.go:95] **apiservices.apiregistration.k8s.io "v1alpha1.cluster.karmada.io" not found**

how can fix this？？

[2022-01-11 06:06] SZT0728 commented on #1232
Environment：kubectl-karmada is build from source code which tag is v1.0.0
k8s server version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.5", GitCommit:"6b1d87acf3c8253c123756b9e61dac642678305f", GitTreeState:"clean", BuildDate:"2021-03-18T01:02:01Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}

[2022-01-11 06:11] RainbowMango commented on #1232
Oh, this is a bug that has been fixed by #1228.

I think you can re-build the `kubectl-karmada` with the latest code. Or, create the `APIService` below manually before run `kubectl-karmada init`:
https://github.com/karmada-io/karmada/blob/eb4b3e27bc9d080377b899ce251f49ce3f67fbd5/artifacts/deploy/apiservice.yaml#L1-L16

[2022-01-11 06:11] RainbowMango commented on #1232
cc @prodanlabs

[2022-01-11 06:28] prodanlabs commented on #1232
Yes, unfortunately, a karmadactl needs to be compiled manually.

[2022-01-11 07:40] RainbowMango opened #1235 "[GoodFirst] Readability enhancement"
**Task description**:
When I went through the code again, found some pieces of code that could be improved for better readability.

This task only focus on `syncWorkStatus` and `reflectStatus` function:
- modify some outdated comments
- rename variable names(`obj` --> `observedObj`, `desireObj`-->`desiredObj`)

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is inte

[2022-01-11 07:43] prodanlabs commented on #1232
hi @RainbowMango
Is it possible to add a karmadactl to the release page, what do you think?

[2022-01-11 07:51] orangedeng commented on #1232
I went into the same issue and I can't continue to install karmada after init failed.

[2022-01-11 07:53] RainbowMango commented on #1232
We can't do that even it will work. But we can cut a new release `v1.0.1` for this.

[2022-01-11 07:59] prodanlabs commented on #1232
you can compile the latest  karmadactl from source，you need a golang environment.
[code]

[2022-01-11 08:14] SZT0728 commented on #1232
Yet i build kubectl-karmada from master:latest(eb4b3e27bc9d0) and use **kubectl karmada init**, it already install successful.
but  when i join a cluster into karmada，the output shows join successful,but when i get clusters the member READY status is false
the member cluster i use kind to create by this:**kind create cluster --name=k8s-cluster1 --image=kindest/node:v1.19.1 --kubeconfig=/root/.kube

[2022-01-11 08:32] SZT0728 opened #1236 "Did karmada have a docker image and i can use docker run to start it?"
**Did karmada has a docker image and i can use docker run to start it in a container? If not，any advices to build this image**:

**I think about Could I  use the base image dind(docker int docker)，and the ENTRYPOINT first install k8s，after that ，use **kubectl-karmada** to install karmada**:

**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2022-01-11 08:36] RainbowMango opened #1237 "[Feature] ResourceInterpreter framework supports `AggregateStatus`"
**What would you like to be added**:
Enable [AggregateStatus](https://github.com/karmada-io/karmada/blob/eb4b3e27bc9d080377b899ce251f49ce3f67fbd5/pkg/apis/config/v1alpha1/resourceinterpreterwebhook_types.go#L96-L98) operation for ResourceInterpreter framework.

Tasks:
- [x] Implements default interpreter (#1253)
- [x] Implements customized interpreter (#1253)
- [ ] E2E testing (#1286)

**Why is th

[2022-01-11 08:43] prodanlabs commented on #1232
What is the current-context of kubeconfig?
`cat /root/.kube/k8s-cluster1.config | grep current-context | sed 's/: /\n/g' | sed '1d'`

[2022-01-11 08:46] RainbowMango commented on #1232
That is probably because `karmada-controller-manager` can't access member cluster, I don't know where you installed Karmada, but please check the endpoint of the member cluster, by following command:
[code]
Or, you can describe the clusters to see the conditions/events:
[code]

We usually use `hack/create-cluster.sh` to create a kind cluster for testing, we'll [update the endpoint](https://github.

[2022-01-11 08:48] RainbowMango commented on #1236
Sorry, I can't get what you mean. Is it the same thing that #1228 trying to do?

[2022-01-11 08:51] SZT0728 commented on #1232
the karmada-scheduler's log show that
**[core] grpc: addrConn.createTransport failed to connect to {karmada-scheduler-estimator-kind-k8s-cluster1:10352 karmada-scheduler-estimator-kind-k8s-cluster1:10352 <nil> 0 <nil>}. Err: connection error: desc = "transport: Error while dialing dial tcp: lookup karmada-scheduler-estimator-kind-k8s-cluster1 on 10.1.0.10:53: no such host". Reconnecting...**
and i

[2022-01-11 08:57] prodanlabs commented on #1232
`karmada-scheduler-estimator` is a non-essential component.You can look at the `karmada-controller-manager`  log
[code]

[2022-01-11 09:23] SZT0728 commented on #1236
it looks like the same thing. i want to karmada run in docker . even thouth i want to kubectl apply -f karmada-rs.yaml  to run multi pod, inside each pod run the karmada. May I have some information about it？

[2022-01-11 11:31] Fish-pro commented on #1235
/assign

[2022-01-11 11:35] Fish-pro commented on #1235
/assign

[2022-01-11 11:36] RainbowMango commented on #1235
@Fish-pro It's yours now, appreciate it!

[2022-01-11 13:38] GitHubxsy commented on #1236
Can you describe in detail the scenario you're facing? Your request seems a little strange.

[2022-01-12 02:10] orangedeng opened #1243 "[docs]specify the cluster name restriction in join command"
When I was joining new cluster with the karmada [docs](https://github.com/karmada-io/karmada/blob/master/docs/userguide/cluster-registration.md);

I got following error in response

[code]

After I change the cluster name with `default`, which is the same as the cluster in my cluster kubeconfig, the cluster can be joined. I think this restriction should be in the docs.

[2022-01-12 02:13] SZT0728 commented on #1236
like the kind (k8s in docker), i want the image karmada in docker.
for example, the docker image names karmada:v1.0. and i type: docker run -itd --name karmada-instance  -p 5443:5443   karmada:v1.0。   so i  can use  karmada-instance  to manager multi k8s.

[2022-01-12 02:16] RainbowMango commented on #1243
--cluster-kubeconfig=<member1 kubeconfig> --cluster-context=member1

Have you noticed the words at [register cluster by CLI](https://github.com/karmada-io/karmada/blob/master/docs/userguide/cluster-registration.md#register-cluster-by-cli)?

[2022-01-12 02:16] SZT0728 commented on #1236
like the kind (k8s in docker), i want the image karmada in docker. for example, the docker image names karmada:v1.0. and i type: docker run -itd --name karmada-instance -p 5443:5443 karmada:v1.0。 so i can use karmada-instance to manager multi k8s.

[2022-01-12 02:16] RainbowMango commented on #1243
It's not clear enough, I'll make an update on that.

/remove-kind good-first
/assign

[2022-01-12 02:21] orangedeng commented on #1243
If the `--karmada-context=karmada` parameters is required when I have multiple context in my cluster kubeconfig, I should not be able to join the cluster with cluster name `default` and the error logs should tell me that my cluster kubeconfig has multiple context.

In the other hand, I have my `current-context` settings in my cluster config. This should imply that I am adding the cluster from the

[2022-01-12 02:28] #1113 closed

[2022-01-12 02:39] orangedeng commented on #1232
I noticed that a new `host cluster` is **created** inside my current k8s cluster. I think we are looking to let the specific cluster to **become** the `host cluster`. Is there any way to do so?

[2022-01-12 02:58] XiShanYongYe-Chang opened #1244 "[Good First] Update first in RetryOnConflict"
**Task description**:

Our current logic in file `pkg/controllers/mcs/service_import_controller.go` is to get the resource first and then update the resource. This may result in a waste of getting time. We can change it to update first, and then get if the update fails.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get

[2022-01-12 03:03] huntsman-li opened #1245 "[Proposal] caching member cluster resources"
**What would you like to be added**:

Caching member cluster resources

Scenarios:
- Global resource access/search (multi-cluster/cross-regional cluster)
- Global application view (multi-cluster application)
- Unified multi-cluster resource entry (for dashboard/cli)

**Why is this needed**:

- Accelerate (cross-regional) resource access
- High-frequency kubernetes resource access
- Aggregate multi

[2022-01-12 06:24] 2hangchen commented on #1082
I repeated a similar situation to this problem
steps：
1. After cluster 'cluster' is joined to the control plane, the status is

![32b4190d7519d5c450337ae21a4e225](https://user-images.githubusercontent.com/31329928/149074255-e1be01cd-983f-4c4b-afe9-0b3f7128af9f.png)

2.  I then restarted karmada-controller-manager and all cluster states became unknown

![image](https://user-images.githubusercontent

[2022-01-12 06:31] #1235 closed

[2022-01-12 06:36] RainbowMango commented on #1082
That's weird, did you restart(not stopp) the `karmada-controller-manager`? From the log I can see, the controller stop working for 12 minutes.

[2022-01-12 06:37] GitHubxsy commented on #1236
Karmada contains many components such as Karmada-apiserver, karmada-controller, and karmada-schduler. You are not advised to package them in one image.

Kind schematic diagram：
![kind](https://user-images.githubusercontent.com/11901080/149074924-811e816d-218f-46bf-a817-3c0158f83924.png)

[2022-01-12 06:41] 2hangchen commented on #1082
I executed `kubectl delete pod Karmada-controller-manager`.
And I have a question. What is the reason for stopping working? Or at what point does it stop working?

[2022-01-12 06:44] RainbowMango commented on #1082
No idea yet. Can you reproduce this issue?

[2022-01-12 06:46] 2hangchen commented on #1082
I mean what would cause karmada-controller-manager to stop working？

[2022-01-12 06:51] RainbowMango commented on #1082
Not clear yet.
From the log you posted above, `clusterController` says `cluster status controller stopped posting cluster status`, don't know why.

I think we should try to reproduce it.

[2022-01-12 07:00] 2hangchen commented on #1082
ok, I'll try to reproduce it again

[2022-01-12 07:06] RainbowMango commented on #1243
Yes, exactly.

[2022-01-12 07:16] orangedeng commented on #1243
So the cluster name `member1` **should not** be restricted to the context name in my cluster config without `cluster-context` parameter, do you agree?

[2022-01-12 07:43] RainbowMango commented on #1243
Do you mean the `--cluster-context` should not default to `cluster-name`(registering), and should take the `current-context`?

https://github.com/karmada-io/karmada/blob/2060616c4a9084e55feeee154738cbbc69a32e2f/pkg/karmadactl/join.go#L114-L117

[2022-01-12 08:01] SZT0728 commented on #1236
thank you for your reply.
karmada support multi-user mode which users are isolated from each other?
(是否支持多用户，然后用户之间彼此是互相隔离)

[2022-01-12 08:49] XiShanYongYe-Chang opened #1247 "[Good First] Modify log type to Error when err ocurs"
**Task description**:

In file `pkg/scheduler/scheduler.go`:

https://github.com/karmada-io/karmada/blob/2060616c4a9084e55feeee154738cbbc69a32e2f/pkg/scheduler/scheduler.go#L533

Modify log type to Error when err occurs.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a

[2022-01-12 09:42] orangedeng commented on #1243
Yes. I think both `cluster-name as context name` and `current-context` way are acceptable but the rule must be written in docs.

[2022-01-12 09:58] RainbowMango commented on #1243
That makes sense.

[2022-01-12 10:32] pigletfly commented on #1244
Get object first aims to avoid conflict when updating its status,if put get after update,then it doesn't work anymore

[2022-01-12 11:31] RainbowMango commented on #1244
The patch `get` the refresh resource after the `conflict` `really happened`. That would save the `get` operation for most cases.

[2022-01-12 12:17] RainbowMango commented on #1245
What an awesome proposal I would say! It fits perfectly with Karmada's roadmap.

Thanks, @huntsman-li, and would like to share your idea in more detail at the community meeting?  Feel free to add an agenda to  [meeting agenda](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit).

[2022-01-12 12:30] RainbowMango opened #1249 "[docs] Configuring controllers"
**What would you like to be added**:
Add a document about Karmada controllers at `pkg/docs/userguide/configure-controllers.md`.

**Why is this needed**:

/assign

[2022-01-12 12:35] RainbowMango opened #1250 "[docs] Customizing resource interpreter"
**What would you like to be added**:
Add documents about [ResourceInterpreter](https://github.com/karmada-io/karmada/tree/master/docs/proposals/resource-interpreter-webhook) at `pkg/docs/userguide/customizing-resource-interpreter.md`.

**Why is this needed**:

[2022-01-12 12:46] RainbowMango opened #1251 "[docs] OverridePolicy documents"
Add OverridePolicy user guide based on https://github.com/karmada-io/karmada/blob/master/docs/override-policy.md.

**What would you like to be added**:

**Why is this needed**:

/assign

[2022-01-12 13:50] Fish-pro commented on #1249
/assign

[2022-01-12 14:19] pigletfly commented on #1232
You can try installing with helm

[2022-01-12 14:20] pigletfly commented on #1222
/close

[2022-01-12 14:20] #1222 closed

[2022-01-13 01:30] RainbowMango commented on #1249
/unasign
Thanks @Fish-pro

[2022-01-13 01:31] RainbowMango commented on #1249
/unassign

[2022-01-13 01:40] Fish-pro commented on #1249
/unassign

[2022-01-13 02:04] RainbowMango opened #1252 "[testing] Bump base cluster from v1.21.1 to v1.22.0"
**Task description**:
Now our testing is [based on Kubernetes v1.21.1](https://github.com/karmada-io/karmada/blob/ec4fd7795193e9351c837f302879863556904f2c/hack/local-up-karmada.sh#L26), we are going to update Kubernetes version to v1.22, the candidate version might be `v1.22.0`.

**Solution**:
Update [CLUSTER_VERSION](https://github.com/karmada-io/karmada/blob/ec4fd7795193e9351c837f302879863556904

[2022-01-13 02:13] RainbowMango commented on #1247
`ErrorS` or `Errorf`? We haven't supported structured logs.

[2022-01-13 02:33] huntsman-li commented on #1245
Yes, I‘d like to. I added an agenda.

[2022-01-13 02:45] XiShanYongYe-Chang commented on #1247
Use `Errorf` first, and then change it to `ErrorS` globally.

[2022-01-13 03:15] ashley-rongfang commented on #1244
/assign

[2022-01-13 07:02] #1243 closed

[2022-01-13 11:18] Dearxiaonan opened #1255 "啥时候加上configmap分发"
三个一样的环境,configmap内容不同，能否同时分发？

[2022-01-13 11:21] XiShanYongYe-Chang commented on #1255
configmap分发是支持的，可以使用PropagationPolicy+OverridePolicy。

[2022-01-13 13:51] lonelyCZ commented on #1219
I would like to optimize it.

/assign

[2022-01-14 01:35] RainbowMango commented on #1219
Thanks @lonelyCZ
I'm going to promote this `question` to `feature`
/remove-kind question
/kind feature

And I'll put this to release 1.1.

[2022-01-14 02:37] Chenhb123 opened #1258 "FailoverSchedule support spread constraints"
**Please provide an in-depth description of the question you have**:
I have recently been testing karmada's ability to distribute randomly in a multi-cluster environment, which I had achieved by setting spread Constraints, like this:
[code]
It works very well for me,Out of curiosity, I went to see the implementation of the source code:
[code]
There's nothing wrong with that, but when I look at the

[2022-01-14 02:41] XiShanYongYe-Chang commented on #1255
@Dearxiaonan any help?

[2022-01-14 03:04] huone1 commented on #1258
the failover scheduler Miss some shceduling process, such as Spread Constraints, ReplicaScheduling for now;
the **rescheduleResourceBinding** should be integrated into the normal scheduling process **scheduleResourceBinding** .
the **Failover** just is a  condition for triggering the scheduling process, and shouldn't create another process shceduling process.

[2022-01-14 03:14] merryzhou opened #1259 "docker pull dashboard image failed"
**What happened**:
docker pull karmada-scheduler image works well, but "docker pull swr.ap-southeast-1.myhuaweicloud.com/karmada/karmada-dashboard:latest" failed with response:

Error response from daemon: Get https://swr.ap-southeast-1.myhuaweicloud.com/v2/karmada/karmada-dashboard/manifests/latest: denied: You may not login yet

[2022-01-14 03:30] Chenhb123 commented on #1258
Thank you very much for your reply.I would also like to know if support for scheduling based on cluster resource margin has been included in the  recent plan,like this:
![image](https://user-images.githubusercontent.com/31341363/149446754-6a35d580-436a-4a5f-85cd-f71f3eae91a3.png)

[2022-01-14 04:36] RainbowMango commented on #1259
Thanks for giving us feedback.  I forgot to public the image, and it's ok now. Please try again.

[2022-01-14 05:12] #1252 closed

[2022-01-14 05:21] dddddai commented on #1258
Yes this would be fixed by [the commit](https://github.com/karmada-io/karmada/pull/1049/commits/a08dd3d7675b008e5e4137f44843d76880d454b3) in #1049

BTW the spread constraints would only work with `replicaSchedulingType: Duplicated` currently

[2022-01-14 05:32] lonelyCZ commented on #1236
I think so, you can use native RBAC of k8s to implement `multi-user` mode.

[2022-01-14 06:16] merryzhou commented on #1259
it's ok now, Thanks

[2022-01-14 06:16] #1259 closed

[2022-01-14 07:45] lonelyCZ commented on #1219
I consider a strategy that the `member cluster proxy kubeconfig` have been auto generated when install Karmada like `karmada-apiserver`.

Do we need to replace `secret` with `proxy` to access resource in member cluster directly?

Hi, @RainbowMango @GitHubxsy How do you think?

[2022-01-14 08:43] Dearxiaonan commented on #1255
ok , thinks your answer,It's helpful ,my English is poor, sorry.

[2022-01-14 09:02] RainbowMango commented on #1255
OK. Let's close this.
/close

[2022-01-14 09:02] GitHubxsy commented on #1219
I think we need to obtain user authorization before we can access the member cluster. How to handle authorization is the most critical step.

[2022-01-14 09:12] Garrybest opened #1260 "resource status aggregating slow down due to informer resync"
**What happened**:
When the clusters are large-scale, there are many workloads in karmada-control-plane. The controller may have a perf issue.

Here is what I found:

The status aggregation is too slow every 10 hours, because the controller-runtime will resync all bindings by default. See [here](https://github.com/kubernetes-sigs/controller-runtime/blob/45b13b951f7761f4cb5035e86e706545eb71c60a/pkg

[2022-01-14 09:17] lonelyCZ commented on #1219
Right, it is important to handle authorization. But it is inconveniently to let users to create authorization config every time. So for admin users, joining a member cluster that can create a proxy kubeconfig like `kubectl join nodes` that have all permissions.

How do you think put this process in `karmadactl join`?

[2022-01-14 09:32] GitHubxsy commented on #1219
When the command output displays "Forbidden", prompt the user for authorization.
For example:
[code]

[2022-01-14 10:07] RainbowMango commented on #1260
/retitle resource status aggregating slow down due to informer resync

[2022-01-14 10:09] RainbowMango commented on #1260
+1

+1

We can fix this bug first(not introduce the options) then port to release-1.0.

[2022-01-14 10:56] GitHubxsy commented on #1219
@lonelyCZ  This feature can be developed based on the situation that users have been authorized to access all member clusters.
Regarding authorization, we provide documentation or better ways to inform users.

[2022-01-14 11:00] lonelyCZ commented on #1219
@GitHubxsy Ok, thanks.

[2022-01-14 11:14] pigletfly commented on #543
/close

[2022-01-14 11:14] #543 closed

[2022-01-15 15:57] Garrybest opened #1262 "KEP-697: Descheduler TODO List"
The PR #726  has given a new proposal about adding Descheduler for evict replicas in member clusters. Here is the TODO List about the proposal.

- [x] pb: proto struct definition. #1263
- [x] pb: add mock client for test. #1299
- [x] descheduler: core. #1392
- [x] estimator: add new interface. #1380
- [x] makefile and image workflow. #1435
- [x] deploy script. #1435
- [x] test: more test cases #13

[2022-01-17 08:42] RainbowMango commented on #1249
/assign

[2022-01-17 13:51] GitHubxsy commented on #1079
@sacrex  We will discuss MultiClusterIngress at the community meeting on January 18. You are welcome to join the [meeting](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit#).

[2022-01-18 03:16] RainbowMango opened #1272 "Introduce `--tls-min-version` flag to `karmada-webhook`"
**What would you like to be added**:
Add a `--tls-min-version` flag to `karmada-webhook`:
[code]

The `--tls-min-version` will be used when initializing:
[code]

**Why is this needed**:
Some users want to config the [TLS MinVersion](https://github.com/golang/go/blob/897b3da2e079b9b940b309747305a5379fffa6ec/src/crypto/tls/common.go#L685-L695) for `karmada-webhook`.

[2022-01-18 03:16] RainbowMango commented on #1272
/help

[2022-01-18 03:22] RainbowMango commented on #1260
/assign @Garrybest
As you sent the @1265

[2022-01-18 03:22] RainbowMango commented on #829
/assign @RainbowMango @huone1

[2022-01-18 03:31] kerthcet commented on #1139
I'd like to add this topic to today's agenda guys. Thanks.

[2022-01-18 03:42] RainbowMango commented on #1139
Thanks @kerthcet, just do it.

[2022-01-18 03:47] RainbowMango commented on #1079
/remove-kind question
/kind feature
/assign @GitHubxsy

[2022-01-18 04:03] #1244 closed

[2022-01-18 05:09] merryzhou opened #1273 "hpa not work"
hpa scale up replicas deployment， but karmada will change it back immediately

### how to reproduce:

**PropagationPolicy 如下**：
[code]

**deployment 如下**：
[code]

**hpa如下**：
[code]

after create resources as above, both member1 and member2 cluster have same hpa:
[code]

then run cpu benchmark in member1 pod, and the events will like:
[code]
and when run:
kubectl get pod --watch :
[code]

[2022-01-18 07:18] Garrybest commented on #1185
Agree, I hope this could be integrated into karmada.

[2022-01-18 07:56] carlory commented on #1272
/assign

[2022-01-18 08:01] iawia002 commented on #1185
Community Meeting Summary: We now have two issues to be decided:

* Explicit or implicit priority
  * Explicit: The value of the priority field represents the final priority result
  * Implicit: The value of the priority field does not represent the final priority result, and needs to be combined with the degree of matching to determine, for example, the name matches exactly mean the highest prior

[2022-01-18 08:03] RainbowMango commented on #1272
Thanks @carlory It's yours now. Let's remove the help label.
/remove-kind help

[2022-01-18 08:13] kerthcet commented on #1079
/cc

[2022-01-18 08:22] huone1 commented on #829
let me work it with you @dddddai

[2022-01-18 08:34] GitHubxsy commented on #1079
![image](https://user-images.githubusercontent.com/11901080/149899933-9c47f7d0-72e2-49d4-947a-eca1e2197614.png)

MCI API
[code]

[2022-01-18 11:22] RainbowMango commented on #1272
@carlory We can take `VersionTLS13` as the default value.  All Ciphers supported by TLS1.3 are safe.
https://en.wikipedia.org/wiki/Transport_Layer_Security#Cipher

[2022-01-18 11:34] wlp1153468871 commented on #1247
/assign

[2022-01-18 14:40] riverzhang opened #1276 "Karmada installer"
**Task description**:
I want to create a project with karmada installer. I am using Ansible to deploy Karmada(https://github.com/riverzhang/karmada-installer). Through this project, we integrate all current deployment approaches. Including Ansible + [Karmada Charts](https://github.com/karmada-io/karmada/tree/master/charts) and [Kubectl Karmada](https://github.com/karmada-io/karmada/tree/master/cmd

[2022-01-19 01:10] RainbowMango commented on #1276
Sounds like an interesting approach.
Would you like to present a demo at the next
[Community Meeting](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit)?.

[2022-01-19 01:59] riverzhang commented on #1276
@RainbowMango Thanks, I can do it at the next meeting.

[2022-01-19 03:38] huone1 commented on #1139
I think it is great and it is very user-friendly.because it is the k8s api,

[2022-01-19 06:33] RainbowMango commented on #1139
k8s api? I doubt it.

[2022-01-19 06:54] RainbowMango opened #1279 "[GoodFirst] Fix documentation mistake of cluster registration"
**Task description**:
Update [Cluster Registration](https://github.com/karmada-io/karmada/blob/master/docs/userguide/cluster-registration.md#register-cluster-by-cli) that is when joining cluster, the `--cluster-kubeconfig` is mandatory, not the `--cluster-context`.

**Solution**:
[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get start

[2022-01-19 07:05] RainbowMango commented on #697
/close
in favor of #1262

[2022-01-19 07:05] #697 closed

[2022-01-19 07:08] RainbowMango commented on #944
Sorry @2hangchen, I missed this from my radar. Maybe we can talk about it at
[Community Meeting](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit).

[2022-01-19 07:08] RainbowMango commented on #944
Feel free to add an agenda.

[2022-01-19 11:23] #1247 closed

[2022-01-19 12:45] carlory commented on #1078
/assign

[2022-01-20 01:50] viniciuspietscher commented on #1279
/assign

[2022-01-20 01:50] XiShanYongYe-Chang opened #1285 "[Good First] Update first in RetryOnConflict"
**Task description**:

Our current logic in file `pkg/util/helper/workstatus.go` is to get the resource first and then update the resource. This may result in a waste of getting time. We can change it to update first, and then get if the update fails.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her

[2022-01-20 01:59] RainbowMango commented on #1279
@viniciuspietscher Thanks for taking this, appreciated!

[2022-01-20 02:23] viniciuspietscher commented on #1279
Hi @RainbowMango !

Thank you for the opportunity! Very excited to do my first pull request!
Please let me know on what I could improve!

[2022-01-20 03:08] #1258 closed

[2022-01-20 03:11] RainbowMango commented on #1279
I don't know if you're familiar with the project yet, if not, maybe you can try the [QuickStart](https://github.com/karmada-io/karmada#quick-start) and after that, there are some documentations at [docs directory](https://github.com/karmada-io/karmada/tree/master/docs).

When you go through the documents, you might find some mistakes(most of the authors do not speak English), feel free to file a P

[2022-01-20 03:19] viniciuspietscher commented on #1279
I'm not very familiar with K8s but I am very interested to help and learn more!

[2022-01-20 03:33] #1279 closed

[2022-01-20 03:35] RainbowMango commented on #1279
That's great! Please feel free to cc me if you have any questions.
Or, you can find me on [the slack channel #karmada](https://slack.cncf.io/) .

[2022-01-20 03:36] wlp1153468871 commented on #1285
/assign

[2022-01-20 03:56] kerthcet commented on #1139
Just waiting for the refactoring work finished then I'll went on my work.

[2022-01-20 06:33] #1272 closed

[2022-01-20 08:18] chenrc0529-ai opened #1291 "Join cluster error"
[root@k8s-master ~]# kubectl karmada join kubernetes-admin --kubeconfig=/etc/karmada/karmada-apiserver.config --cluster-kubeconfig=$HOME/.kube/config
W0120 16:17:30.264037   12485 cluster.go:106] failed to create cluster(kubernetes-admin). error: Cluster.cluster.karmada.io "kubernetes-admin" is invalid: [spec.secretRef.namespace: Required value, spec.secretRef.name: Required value, spec.impersonat

[2022-01-20 09:07] RainbowMango commented on #1291
Can you tell us the versions of both Karmada and kubectl-karmada?
[code]

[2022-01-20 09:09] chenrc0529-ai commented on #1291
make kubectl-karmada  by the latest codes

[2022-01-20 09:12] RainbowMango commented on #1291
What's the output of `kubeclt karmada version`?

Which version Karmada do you use?