[2022-01-20 09:17] chenrc0529-ai commented on #1291
[root@k8s-master ~]# kubectl karmada version
kubectl karmada version: version.Info{GitVersion:"", GitCommit:"", GitTreeState:"clean", BuildDate:"2022-01-20T02:30:56Z", GoVersion:"go1.17.6", Compiler:"gc", Platform:"linux/amd64"}

[2022-01-20 09:22] XiShanYongYe-Chang commented on #1291
Hi @chenrc0529-ai , have you ever found the reason why you failed?

[2022-01-20 09:36] chenrc0529-ai commented on #1291
Not yet

[2022-01-20 11:24] #1250 closed

[2022-01-20 13:42] dddddai commented on #829
@huone1 Thank you!

[2022-01-21 01:00] #1260 closed

[2022-01-21 02:09] chenrc0529-ai commented on #1291
How can i solve this issue?

[2022-01-21 02:35] zgfh opened #1296 "feature: add `karmada reset` commond to uninstall"
**What would you like to be added**:
add `karmada reset` commond to uninstall

my idea to uninstall :

1. check pod exist ,then backup and delete:
 `kubectl -n karmada-system get all -o yaml  > xxx-backup.yaml && kubectl delete ns karmada-system
2. backup and delete dir `/etc/karmada`:
  `mv /etc/karmada /etc/karmada.back-xxx `

**Why is this needed**:
He will help the newcomer to clean up the ins

[2022-01-21 02:37] RainbowMango commented on #1291
Still don't know which version you are using.

[2022-01-21 02:38] RainbowMango commented on #1291
No version info.

[2022-01-21 02:47] RainbowMango commented on #1296
That makes sense. I discussed this issue with @prodanlabs before, but we gonna take `deinit` as the command name.

@prodanlabs Could you please share your ideas about how to achieve this feature?

[2022-01-21 02:59] chenrc0529-ai commented on #1291
I pull the latest codes from github in Jan 13.    Because  i cannot download the image， so i  modify the image source, then make kubectl-karmada in local.

[2022-01-21 03:09] #1219 closed

[2022-01-21 03:20] chenrc0529-ai commented on #1291
I pull the latest codes from github in Jan 13. Because i cannot download the image， so i modify the image source, then make kubectl-karmada in local.

[2022-01-21 08:46] #1078 closed

[2022-01-21 08:58] SZT0728 commented on #1291
i met the same question. i remember that it's can join cluster a few days ago. but now it show the errmsg:
W0121 16:58:03.484629   20954 cluster.go:106] failed to create cluster(kubernetes-admin). error: Internal error occurred: failed calling webhook "cluster.karmada.io": the server could not find the requested resource
W0121 16:58:03.484873   20954 cluster.go:50] failed to create cluster(kuberne

[2022-01-21 09:08] SZT0728 commented on #1291
so,i  build the kubectl-karmada from the master latest source??

[2022-01-21 09:09] XiShanYongYe-Chang commented on #1291
@SZT0728 , you can check `validatingwebhookconfigurations` on your environment:
[code]
Check whether it is the latest,

[2022-01-21 09:10] SZT0728 commented on #1291
Error from server (NotFound): validatingwebhookconfigurations.admissionregistration.k8s.io "validating-config" not found
how can i solve this?

[2022-01-21 09:12] prodanlabs commented on #1296
@RainbowMango Nice idea. No problem, I'll make a demo later.

[2022-01-21 09:14] XiShanYongYe-Chang commented on #1291
Get it when you connect to `karmada-apiserver`, for example: `kubectl --context karmada-apiserver get validatingwebhookconfigurations.admissionregistration.k8s.io validating-config -oyaml`

[2022-01-21 09:16] SZT0728 commented on #1291
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: "2022-01-21T08:43:13Z"
  generation: 1
  labels:
    app: validating-config
  managedFields:
  - apiVersion: admissionregistration.k8s.io/v1
    fieldsType: FieldsV1
    fieldsV1:
....
is it the latest???

[2022-01-21 09:21] SZT0728 commented on #1291
now i join the cluster, it show the error like this issue' describe
 failed to create cluster(kubernetes). error: Cluster.cluster.karmada.io "kubernetes" is invalid: [spec.secretRef.namespace: Required value, spec.secretRef.name: Required value, spec.impersonatorSecretRef.namespace: Required value, spec.impersonatorSecretRef.name: Required value]
...

[2022-01-21 09:21] prodanlabs commented on #1291
hi @chenrc0529-ai  is your problem solved?

[2022-01-21 09:32] prodanlabs commented on #1291
hi @SZT0728 Is ectd not persistent and restarted?

[2022-01-21 09:38] SZT0728 commented on #1291
no, it's normal

[2022-01-21 09:44] chenrc0529-ai commented on #1291
Not yet

[2022-01-21 09:58] prodanlabs commented on #1291
Can you take a look at your `apiservice`?

[code]

[2022-01-22 07:17] #1237 closed

[2022-01-22 08:41] RainbowMango opened #1300 "Enable organization-wide two-factor authentication"
We are going to enable [two-factor authentication][1] in the karmada-io organization at the end of Jan 2022.

All members are required to [config two-factor authentication][2]. After the administrator requires the use of two-factor authentication for `karmada-io` organization, **members who do not use two-factor authentication will be removed from the organization`**.

Members who havn't enable TF

[2022-01-22 08:46] kevin-wangzefeng commented on #535
Seems you used the wrong account @RainbowMango
Please note that the bot account is only used for CI/CD etc. automation

[2022-01-22 08:48] kevin-wangzefeng commented on #535
/close

[2022-01-22 08:48] #535 closed

[2022-01-22 09:24] chenxianpao commented on #1300
I have finished configuring two-factor authentication. @RainbowMango

[2022-01-22 09:33] RainbowMango commented on #1300
Thanks @chenxianpao, @kevin-wangzefeng will confirm that and check off the items above.

[2022-01-22 10:10] RainbowMango commented on #705
/assign @mrlihanbo

[2022-01-22 10:12] RainbowMango commented on #705
@mrlihanbo
Please confirm the split tasks are still valid.

[2022-01-22 10:18] prodanlabs commented on #1300
I have finished configuring two-factor authentication.

[2022-01-22 11:15] devadapter commented on #1300
I have finished configuring two-factor authentication.

[2022-01-22 14:02] zgfh opened #1303 "kubectl karmada promote error: failed to get gvr from "extensions/v1beta1, Kind=Deployment""
**What happened**:
member cluster: k8s = 1.15.4:
create test resouce: `kubectl create deployment test --image=daocloud.io/nginx --replicas=3`

Promote resouce to Karmada:
`kubectl karmada  promote deployment test -n default -c kind-kind-k8s-1-15`

error:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2022-01-22 14:38] lonelyCZ commented on #1303
Thank you pointed out. Could you please try below command?
[code]

I guess that is a compatibility problem of `apiVersion` of the `Deployment` in 1.15.4 k8s cluster.

[2022-01-22 14:39] lonelyCZ commented on #1300
I also have finished configuring two-factor authentication.

[2022-01-22 14:47] zgfh commented on #1303
it work. thanks

Is there any way to handle this automatically?

[2022-01-22 15:05] lonelyCZ commented on #1303
Thanks for testing it.

I guess the reason is that the `api.Preference` of `Deployment` in `v1.15.4` k8s cluster is `extensions/v1beta1`, but in Karmada whose apiversion is `v1.21.7` and  `api.Preference` of `Deployment` is `apps/v1`, so cause this problem.

That is a compatibility problem of k8s apiversion, we need to find a way to fix it or a easy way that prompt users when the problem occurred.

[2022-01-23 14:05] #1209 closed

[2022-01-24 00:53] adamzhoul commented on #1300
I also have finished configuring two-factor authentication.

[2022-01-24 02:44] oif commented on #1300
2FA enabled @RainbowMango

[2022-01-24 03:29] chenrc0529-ai commented on #1291
[root@k8s-master ~]# kubectl --kubeconfig /etc/karmada/karmada-apiserver.config get apiservices | grep karmada
v1alpha1.cluster.karmada.io            karmada-system/karmada-aggregated-apiserver   True        4d
v1alpha1.config.karmada.io             Local                                         True        4d
v1alpha1.policy.karmada.io             Local                                         True

[2022-01-24 03:49] snowplayfire commented on #1300
I have finished configuring two-factor authentication. @RainbowMango

[2022-01-24 06:58] jhnine commented on #1300
I have finished configuring two-factor authentication.

[2022-01-24 07:11] sacrex commented on #1079
I'm sorry that I didn't attend the meeting last week.
Thank you very much for your solution.
By the way, when can use it? Thanks again~

[2022-01-24 07:15] GitHubxsy commented on #1079
The next release.

[2022-01-24 07:37] RainbowMango commented on #1079
It will be included in `v1.1` release(by the end of Feb 2022).

[2022-01-24 07:47] #1195 closed

[2022-01-25 01:26] #1285 closed

[2022-01-25 03:22] RainbowMango commented on #1291
Hi @chenrc0529-ai
The error log is similar to #1306. Can you help test it on your side?

[2022-01-25 03:37] #1249 closed

[2022-01-25 04:02] pigletfly opened #1309 "ResourceBinding get reconciled multiple times"
**What happened**:

When a ResourceBinding comes, detector  does reconcile https://github.com/karmada-io/karmada/blob/master/pkg/detector/detector.go#L942 to collect resource status, such as Deployment,Job, and binding_controller will also do the reconcile to sync work object and collect bindingStatus from work.So ResourceBinding objects get reconciled twice.I propose to reconcile ResourceBinding

[2022-01-25 04:03] pigletfly commented on #1309
/assign

[2022-01-25 06:46] lynnsong commented on #1300
I have finished configuring two-factor authentication.

[2022-01-25 07:25] RainbowMango commented on #1195
/assign @dddddai
(Just for issue triage.)

[2022-01-25 07:49] XiShanYongYe-Chang opened #1310 "[Good First] Update first in RetryOnConflict"
**Task description**:

Our current logic in file `pkg/controllers/execution/execution_controller.go` is to get the resource first and then update the resource. This may result in a waste of getting time. We can change it to update first, and then get if the update fails.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to ge

[2022-01-25 07:59] RishiKumarRay commented on #1310
@XiShanYongYe-Chang i would like to do please assign

[2022-01-25 08:01] RishiKumarRay commented on #1310
/assign

[2022-01-25 08:09] XiShanYongYe-Chang commented on #1310
@RishiKumarRay welcome :)

[2022-01-25 08:10] RishiKumarRay commented on #1310
@XiShanYongYe-Chang
--- a/pkg/controllers/execution/execution_controller.go
+++ b/pkg/controllers/execution/execution_controller.go
do we have to change file name here?

[2022-01-25 08:19] XiShanYongYe-Chang commented on #1310
This means we need to update the code in file `pkg/controllers/execution/execution_controller.go`.

[2022-01-25 08:20] RishiKumarRay commented on #1310
@XiShanYongYe-Chang i have raised PR , can you please check if i missed something, thanks

[2022-01-25 09:06] chenrc0529-ai commented on #1291
I modify the file  pkg/util/secret.go, and rebuild the kubectl-karmada， the error still exist.

I modify the file  pkg/util/secret.go, and rebuild the kubectl-karmada， the error still exist.

[2022-01-25 09:14] RainbowMango commented on #1291
Well, @chenrc0529-ai Do you know how reproduce it ? I can help reproduce it on my side.

By the way, does the cluster `kubernetes-admin` ever joined before?( Is it the first time joining this cluster to Karmada?)

[2022-01-25 17:29] kerthcet opened #1313 "os.Exit() will broke the effect of defer function"
**What happened**:
[code]
`FlushLogs()`will not call if `os.Exit(1)`

**What you expected to happen**:
`FlushLogs()` should take effect even `Execute()` returns error.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Similar to https://github.com/karmada-io/karmada/pull/1289#event-5943184872. Following up all related prs regarding to other com

[2022-01-25 17:29] kerthcet commented on #1313
/assign

[2022-01-26 00:45] RainbowMango commented on #1313
@lonelyCZ Could you please help review the relevant PRs of this issue?

[2022-01-26 01:57] lonelyCZ commented on #1313
Ok, thanks.

[2022-01-26 02:59] riverzhang commented on #1276
@RainbowMango  Can I Request physical resources from [cncf/cluster](https://github.com/cncf/cluster)? I want to build CI for karmada installer.

For example：unit-test -> create vms by kubevirt -> deploy 1 host k8s cluster + 2 member k8s cluster by kubespray-> deploy karmada -> check karmada api -> delete vms
1. deploy k8s cluster on packet.
2. [self-hosted runners on kubernetes,](https://medium.co

[2022-01-26 03:16] RainbowMango commented on #1276
We can't do that by GitHub Action, right? Why?

Sure thing. But let's clarify why we need it before filing the request.
My concern is it may require more maintenance effort. So, we should clarify the benefits.

By the way, do you mean E2E test?  I don't think the unit test needs a real Karmada system.

[2022-01-26 09:40] #1310 closed

[2022-01-27 01:45] XiShanYongYe-Chang opened #1322 "[Good First] Update first in RetryOnConflict"
**Task description**:

Our current logic in file `pkg/controllers/status/workstatus_controller.go` is to get the resource first and then update the resource. This may result in a waste of getting time. We can change it to update first, and then get if the update fails.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get

[2022-01-27 06:53] huone1 opened #1323 "spreadconstraints[i].MaxGroups invalidate when scaleup replicas"
**What happened**:
spreadconstraints[i].MaxGroups invalidate when scaleup replicas and the target cluster number  is 3 > MaxGroups(2)
**What you expected to happen**:
the cluster number is in [minGroups, maxGroups]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
step1: kubectl apply -f deploy.yaml
[code]
step 2: kubectl apply -f pp.yaml and c

[2022-01-27 06:53] huone1 commented on #1323
/assign @huone1

[2022-01-27 07:47] Chenhb123 opened #1325 "Cannot delete cr in karmada"
I used operator to deploy mongodb before, and recently I was testing whether karmada is compatible with mongodb operator.I first deployed crd, rbac and secret, and then deployed cr, everything went well, I successfully deployed mongodb to the corresponding cluster,After the test is done, I start to execute the delete command in karmada to clear the scene, unfortunately, the delete command was not

[2022-01-27 09:22] RainbowMango commented on #1300
Kindly ping @574179870 @AllenXL @cg-gaochao @ChanceLi @cheyuexian @davkeor @jiangshantao-dbg @liuhewei @wangrenjie-jack @weibaohui @xuming68 @zcc35357949 @zoroyouxi

[2022-01-27 09:35] ChanceLi commented on #1300
2FA enabled. Sorry for late response. @RainbowMango

[2022-01-27 09:39] RainbowMango commented on #1300
Thanks @ChanceLi .

[2022-01-28 01:55] Chenhb123 commented on #1325
Sorry,This is my mistake,It's because I set finalizers in the cr file and the cr can't be deleted:
[code]
After executing the following command, the issue was resolved:
[code]

[2022-01-28 01:55] #1325 closed

[2022-01-28 02:11] RainbowMango commented on #1325
Thanks @Chenhb123.
I saw you are talking about the operator thing at the WeChat group, you are welcome to have a talk at the community meeting.

[2022-01-28 02:41] Rupan-Priest commented on #1322
/assign

[2022-01-28 02:53] XiShanYongYe-Chang opened #1326 "[Good First] Update first in RetryOnConflict"
**Task description**:

Our current logic in file `pkg/controllers/status/cluster_status_controller.go` is to get the resource first and then update the resource. This may result in a waste of getting time. We can change it to update first, and then get if the update fails.

**Solution**:

[code]

[2022-01-28 02:54] EvaDD commented on #1326
/assign

[2022-01-28 03:24] Rupan-Priest commented on #1322
/unassign

[2022-01-28 07:24] CuiDengdeng commented on #1322
/assign

[2022-01-28 07:49] RainbowMango opened #1329 "[lfx-mentorship]Refactor `get` command to leverage aggregated API"
**What would you like to be added**:
Now `karmadactl get` command retrieves resources by Cluster token stores at `Cluster` object.
We should refactor it to leverage the [Aggregated API](https://github.com/karmada-io/karmada/blob/master/docs/userguide/aggregated-api-endpoint.md), the benefits would be:
1. Both `Push` and `Pull` clusters are supported
2. Stop using the administrator's credential to

[2022-01-28 08:02] RainbowMango opened #1330 "[lfx-mentorship] refactor the scheduler framework"
**What would you like to be added**:
Refactor the framework of `karmada-scheduler` to make it easier to extend and adopt more scheduling policies.

**Why is this needed**:

Refer to:
- https://github.com/karmada-io/karmada/issues/1195

[2022-01-28 08:17] RainbowMango opened #1331 "[lfx-mentorship] Enhancement for controllers scalebility"
**What would you like to be added**:
Ensures the controllers are suitable for large-scale deployment in production cases.

**Why is this needed**:
There are some actions on-going already, but not for all controllers.
Refer to:
- https://github.com/karmada-io/karmada/pull/1321
- https://github.com/karmada-io/karmada/pull/1199
- https://github.com/karmada-io/karmada/issues/1260

[2022-01-28 08:23] #1322 closed

[2022-01-28 08:58] #1326 closed

[2022-01-28 10:06] XiShanYongYe-Chang commented on #1079
/reopen

[2022-01-28 10:15] XiShanYongYe-Chang commented on #1079
Reopen it to record the feature development process.

[2022-01-29 03:06] kevin-wangzefeng commented on #1300
Enabled 2FA organization wide, and sent invitation to add back following people removed by github.

@liuhewei
@AllenXL
@jiangshantao-dbg
@cheyuexian
@wangrenjie-jack
@xuming68
@zcc35357949
@weibaohui
@zoroyouxi
@574179870
@davkeor
@cg-gaochao
@duguhaotian
@jingxiaolu
@liufen90
@ylf881011
@jshachm
@yangcheng-icbc
@tinyma123
@zhaohaidan
@jing-rui
@RyanZhao10

Please feel free to reachout the maintai

[2022-01-29 03:31] RainbowMango commented on #1300
/close

[2022-01-29 03:31] #1300 closed

[2022-01-29 03:31] liuhewei commented on #1300
2FA enabled, and rejoin the organization... [Twilio Authy desktop ](https://authy.com/guides/github/) is recommended if mobile app is not easy for you (just like me...)

[2022-02-03 08:23] #1313 closed

[2022-02-07 07:31] RainbowMango opened #1339 "chart requires kubeVersion: >=1.16.0 which is incompatible with Kubernetes v1.21.5-eks-bc4871b"
**What happened**:
When installing Karmada with Kubernetes `v1.21.5-eks-bc4871b`:
[code]

Getting below error:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
No.
This issue is echoed from [Karmada Community's webpage](https://community.cncf.io/karmada-community/) and user report this by email.

**Anything else we need to know?**:

**Envi

[2022-02-07 07:34] likakuli commented on #521
1. PodAntiAffinity and user custom predicate strategy also need to be considered.
2. Resources that already allocated by previous schedule cycle but pod not scheduled (include pending pods and pod not create yet) need also be calculated, otherwise the result will be incorrect the next schedule cycle.

[2022-02-07 07:43] RainbowMango opened #1340 "[karmada init] prepare karmada failed.failed download file"
**What happened**:
When installing Karmada by the following command:
[code]

Getting the following error:
[code]

**What you expected to happen**:
From the error message we can tell that the version of `kubectl-karmada` is `v1.0.0-43-g2060616c`, not the released version but from built from the master branch.

The version of `kubectl-karmada` should be shifted when building the URL, such as `v1.0.0

[2022-02-07 08:49] Garrybest commented on #521
Thanks @likakuli, it's an interesting suggestion for me.

1. `PodAntiAffinity` should be considered, but what does `user custom predicate strategy` mean? Do you mean custom scheduling filter plugins in member clusters?

2. I think you mean when we schedule the workload from karmada, but the respective pods have not been created yet or not been scheduled by `kube-scheduler`? So the estimation may h

[2022-02-07 09:20] likakuli commented on #521
Yeah, I mean the custom scheduling filter plugins in member cluster. Filter and score plugin in member cluster also need to be considered in `karmada-scheduler` filter stage except APIInstalled.

Yes

I agree with you that it's hard to know the exact value. There are a lot of things need to do to improve the scheduler feature. 😄

[2022-02-08 03:26] #1323 closed

[2022-02-09 02:03] pigletfly commented on #1309
we should move reconcile rb into resourcebinding_controller from detector

[2022-02-09 03:37] ccchenjiahuan commented on #1329
@RainbowMango hi, l am interested in this project and want to take this as my lfx project. Are there any pre-requirements before applying, e.g detailed design?

[2022-02-09 03:38] likakuli opened #1344 "Support autoscaling/v2 api-resource"
**What would you like to be added**:
Support autoscaling/v2 api-resource

**Why is this needed**:
The HorizontalPodAutscaler autoscaling/v2 stable API moved to GA in 1.23. The HorizontalPodAutoscaler autoscaling/v2beta2 API has been deprecated. Karmada use autoscaling/v1 version now.

[2022-02-09 06:55] likakuli opened #1347 "Replica set by overridepolicy will be reset by ReviseReplica interpreterhook"
**What happened**:
Replica set by overridepolicy in its `Plaintext` will be reset by ReviseReplica interperterhook

**What you expected to happen**:
Use the replica value after applied override policy as the replica passed to ReviseReplica interpreterhook request, not the original value from targetclusters.

**How to reproduce it (as minimally and precisely as possible)**:
Set an overridepolicy fo

[2022-02-09 07:17] prodanlabs commented on #1340
I have solved this problem, the PR I submitted before has not been merged, because of the conflict, it has not been submitted yet.

[2022-02-09 08:42] lonelyCZ commented on #1329
Hi @ccchenjiahuan, sorry, I am working on this function, please look at #1091 #1219 #1343.

[2022-02-09 09:01] ccchenjiahuan commented on #1329
@lonelyCZ Thanks for your reminding!
@RainbowMango So are there any available karmada lfx projects to apply for now? Please let me know ahead, thanks!

[2022-02-09 10:22] RainbowMango commented on #1329
I've posted [4 projects](https://github.com/cncf/mentoring/tree/main/lfx-mentorship/2022/01-Spring#karmada) to LFX. And I will post some ideas to the [Google Summer of Code](https://github.com/cncf/mentoring/discussions/469).

If you have any ideas/proposals, please feel free to let me know.

[2022-02-09 10:40] RainbowMango commented on #1344
Why do you think that? I guess we can use `kube-apiserver@v1.23` as `karmada-apiserver`. isn't it?

[2022-02-09 10:46] RainbowMango commented on #1347
Can you provide the steps to reproduce it? E.g. the yamls.

cc @XiShanYongYe-Chang @iawia002

/assign @likakuli
Feel free to take it once get confirmed by the owners. Thanks!

[2022-02-09 10:50] RainbowMango commented on #1340
Which PR is blocking? #1302 or #1337 ?

This bug fix should be picked to `release-1.0`, so can you help file a PR to fix this issue?

[2022-02-09 11:03] RainbowMango commented on #1344
Oh, right. But we might have to hold for a while. The reasons are:

- For the federated HPA feature, we are going to refactor it, I guess the draft proposal will be discussed at next week's community meeting.
- We can't just upgrade to autoscaling/v2 as it does not work for clusters less than v1.23.

[2022-02-09 11:57] likakuli commented on #1347
deployment.yaml

[code]

override.yaml
[code]
propagetion.yaml
[code]

First apply the above yaml to cluster
[code]

then edit the rb object, set replicas for each targetcluster like below.
[code]

Because the revisereplica operation only be called when replicascheduling if true. After set replicas for targetclusters, the deployment in member cluster will be the same as the deploy's replicas in th

[2022-02-10 01:52] kerthcet commented on #1330
I'm glad to follow this feature, should I have to apply for the mentorship? @RainbowMango

[2022-02-10 02:34] iawia002 commented on #1347
This is because we apply the overriding rule before we call the `ReviseReplica` hook, I don't know if this is designed this way or should we change this? @RainbowMango

[2022-02-10 02:42] likakuli commented on #1347
I think we should update `desireReplicaInfos` when apply the overriding rule

[2022-02-10 02:46] iawia002 commented on #1347
I'll submit a PR to fix this soon.

[2022-02-10 02:52] likakuli commented on #1347
Can i try it first if it's confirmed

[2022-02-10 02:59] iawia002 commented on #1347
Sure, just go ahead, we should call the override function after we call the `Revised Replica` hook, override rules should have the highest priority.

[2022-02-10 03:07] zuston commented on #1331
Hi. I want to take over this, and so do i just only apply it on LFX [website](https://mentorship.lfx.linuxfoundation.org/participate/mentee?projectId=74840708-0989-4983-88f6-9f43034ae351) ? @RainbowMango

[2022-02-10 03:11] RainbowMango commented on #1347
Solution 1.

Solution 2.

Both will work I think. But I like the `solution 2` more. Because in solution 1, we have to get the replicas after the overriding that means requesting webhook one more time, and solution 2 could save this effort.

[2022-02-10 03:23] RainbowMango commented on #1331
Yes, you can apply it and there will be a [Mentee selection process](https://github.com/cncf/mentoring/blob/main/lfx-mentorship/README.md#mentee-selection-process) later.

[2022-02-10 03:26] RainbowMango commented on #1331
I can see several guys are applying for this project.

[2022-02-10 04:46] zuston commented on #1331
Got it. Can i apply for several tickets to ensure selected ？ @RainbowMango

[2022-02-10 06:42] RainbowMango commented on #1331
You can refer to [Eligibility Rules](https://docs.linuxfoundation.org/lfx/mentorship/mentees), no guarantees from me.

[2022-02-10 06:44] XiShanYongYe-Chang commented on #1347
+1

[2022-02-10 07:10] mrlihanbo opened #1350 "karmada control plane will be destroyed when unjoined if its host cluster is joined to itself"
**What happened**:
If the host cluster is joined to karmada and using the same namespace. When we try to unjoin the host cluster, the karmada control plane will be destroyed due to the unjoin process will delete the namespace.

**What you expected to happen**:
The karmada control plane can't be destroyed.

**How to reproduce it (as minimally and precisely as possible)**:
step1: deploy karmada
hack

[2022-02-10 07:32] mrlihanbo opened #1351 "a cluster can be joined to mulit karmada instance or be joined to the same karmada with different names"
**What happened**:
A cluster can be joined to mulit karmada instances or be joined to the same karmada with different names.

**What you expected to happen**:
A cluster should be allowd to be joined to only one karmada instance.

**How to reproduce it (as minimally and precisely as possible)**:
Just join a cluster to different karmada instance.

**Anything else we need to know?**:
Maybe we can imp

[2022-02-10 09:02] XiShanYongYe-Chang commented on #1347
IMOP, the case is not a best practice to use OverridePolicy. Since replica scheduling has been used but all replicas are overwritten through OverridePolicy finally, the effect of replica scheduling will be eliminated.

[2022-02-10 09:11] RainbowMango commented on #1347
I agree it's a corner case but we can easily fix it.

[2022-02-10 09:14] #1347 closed

[2022-02-10 11:12] CharlesQQ opened #1353 "When the status field of the resource changes, it will trigger the karmada controller reconcile to start working, it should be better to trigger when the spec changes"
#### What happened:
When the kube-controller-manager of the host cluster cluster is all enabled, a deployment is created, but there is no suitable node node will always be updated with the status field. At this time, you can see that the controller of karmada is also constantly reconcile
####  What you expected to happen:
Only when the  spec field changed, karmada controller should be triggered

[2022-02-10 12:31] GitHubxsy commented on #1351
Related sig-multicluster [clusterid enhancements](https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/2149-clusterid).

[2022-02-10 13:25] riverzhang commented on #1276
CI demo:
https://github.com/riverzhang/karmada-installer/pull/2

[2022-02-11 02:13] halfcrazy commented on #1047
I'm stuck at this line too, where is `KUBECONFIG_PATH}/karmada.config` coming from?

[2022-02-11 02:55] RainbowMango commented on #1353
Is this the same issue we have talked about at the WeChat group?

If no node, why enable all these controllers?

[2022-02-11 03:00] RainbowMango commented on #1276
Are you going to show it at [next week's meeting](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit?pli=1#heading=h.zce53zltaf4n)? I haven't seen any agent yet.

[2022-02-11 03:03] RainbowMango commented on #1047
Please make sure if your `kind` works well on your machine.
You can test that by :
[code]

[2022-02-11 03:07] halfcrazy commented on #1047
I can confirm the cluster has been created, but the kubeconfig does not exist. After some time, the cluster disappeared.
[code]

[2022-02-11 03:40] riverzhang commented on #1276
Yes. I can't edit this document.

[2022-02-11 04:56] pigletfly commented on #870
/close

[2022-02-11 04:56] #870 closed

[2022-02-11 06:51] merryzhou commented on #1273
@RainbowMango @kevin-wangzefeng please take a look

[2022-02-11 07:08] RainbowMango commented on #1273
cc @GitHubxsy

by the way, we are going to refactor this feature, a draft proposal will be discussed at next week's weekly meeting.

[2022-02-11 08:14] riverzhang commented on #1276
karmada  installer CI[](https://github.com/riverzhang/karmada-installer/pull/2/files#diff-097166ba52959e1c35488a1a891c6d60c6d875baae860b15c05e21151a92e9ea)

[2022-02-11 08:21] GitHubxsy commented on #1273
Hi @merryzhou , can you describe the use of hpa scenarios?
I hope to hear your advice.

[2022-02-11 08:31] riverzhang commented on #1276
add [karmada  installer CI Architecture](https://github.com/riverzhang/karmada-installer/pull/2/files#diff-097166ba52959e1c35488a1a891c6d60c6d875baae860b15c05e21151a92e9ea)

[2022-02-11 09:51] lonelyCZ commented on #1351
Also mentioned at #880

[2022-02-11 13:48] MingZhang-YBPS commented on #1291
I met similar issue, and the log in karmada-aggregated-apiserver says
_W0211 12:58:51.501491       1 dispatcher.go:150] Failed calling webhook, failing closed cluster.karmada.io: failed calling webhook "cluster.karmada.io": the server could not find the requested resource_

[2022-02-11 17:16] halfrost commented on #1330
I applied for the mentorship program of this project in LFX, clicked the apply button and it was successful. I thought I needed to fill in some information. So I suspected that the application was not successful, I withdrew the application, but when I reapplied, the LFX system told me "You already applied to this program.". I'm just curious whether my application is successful or not? @kevin-wangz

[2022-02-15 02:33] MingZhang-YBPS opened #1361 "Is there any doc to describe how to install ANP for non-kind case?"
**Please provide an in-depth description of the question you have**:
From Doc, https://github.com/karmada-io/karmada/blob/master/docs/working-with-anp.md, it describes how to install ANP for test environment which is built on top of **Kind**. However, what can be done for **standard K8S clusters**?
In my case, I have 2 standard clusters. And I have already made the Karmada control plane installati

[2022-02-15 02:41] RainbowMango commented on #1361
Good question.
cc @mrlihanbo @XiShanYongYe-Chang

[2022-02-15 03:19] RainbowMango commented on #1353
Hi @CharlesQQ

It is a reasonable request I think. I'm asking because I want to know your cases.

[2022-02-15 03:26] CharlesQQ commented on #1353
@RainbowMango
it' s  first time I install karmada in standard k8s cluster, all controllers is enabled and found this case

[2022-02-15 06:23] likakuli opened #1362 "Why use both executioncontroller and workstatuscontroller to create or update k8s object in member cluster"
**Please provide an in-depth description of the question you have**:
I'm confused that the `executioncontroller` and the `wotkstatuscontroller` both can create or update k8s object in member cluster for each work.

**What do you think about this question?**:
I think all the operation about work can be implemented in one controller. k8s object in member cluster is just subresource of the work as po

[2022-02-15 06:26] lonelyCZ opened #1363 "Enhance security of `karmadactl join` to register member cluster"
**What would you like to be added**:
Enhance `karmadactl join` command, making it support to register member cluster with `--token`, Such as
[code]

like `kubeadm` and `keadm` to register node to master.
[code]

and like OCM
[code]

**Why is this needed**:

Now, registering a member cluster, we need to copy the kubeconfig file of member cluster to karmada control plane host, which is some risk inv

[2022-02-15 09:05] RainbowMango commented on #1362
The main responsibility of `workstatus controller` is syncing resource status from member cluster to Karmada control plane, it usually does not create resources, but it'll update resources if the desired state changed unexpectedly, e.g. manually updated.

[2022-02-15 09:20] GitHubxsy commented on #1361
![image](https://user-images.githubusercontent.com/11901080/154030576-9c96ce1f-6380-41b1-8809-6cabc26bf80f.png)
Why do we use apiserver-network-proxy?
Clusters are classified into two types:
type-1 clusters：The Kube-apiserver can be directly connected.
type-2 clusters：The Kube-apiserver cannot be directly connected. For example, the cluster is deployed behind the firewall.

For type-2 clusters, we

[2022-02-15 09:25] likakuli commented on #1362
Just like `deployment controller` not only create pod, but also update deployment status. All the operations implemented in one controller.
For now, the `execution controller` just create or update k8s resource in member cluster. The `workstatus controller` sync resource status from member cluster to karmada control plane, but it also has the logic to create or update k8s object in member cluster.

[2022-02-15 09:32] RainbowMango commented on #1362
Yeah, I get your question now.
The reason why we separate the controllers is we want each controller to be simple and focused.

[2022-02-15 09:36] XiShanYongYe-Chang commented on #1361
The statement in the doc `docker inspect --format='{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' karmada-host-control-plane` is used to obtain the IP address of the host cluster.

We only need to deploy one proxy-server instance on the host cluster. And we need to deploy proxy-agent for every pull mode cluster.

[2022-02-15 09:42] haiker2011 opened #1364 "It is possible upload meeting recordings?"
**Please provide an in-depth description of the question you have**:
Want to know more detail about the meeting, but can not find meeting recordings to learn karmada.

**What do you think about this question?**:

**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2022-02-15 09:43] likakuli commented on #1362
The `execution controller` is simple enough, but the `workstatus controller` do all the operations related to resource deployed in member cluster.  This bring about a lot of code like `RetryOnConflict`

[2022-02-15 12:09] MingZhang-YBPS commented on #1361
@GitHubxsy @XiShanYongYe-Chang
Thanks! It is more clear for me now. One remaining question from my side:
For ANP proxy server, maybe one single instance is unreliable. Is there any HA solutions?

[2022-02-15 12:18] GitHubxsy commented on #1361
Both the ANP-server and ANP-agent support multiple instances. For details, see [ANP PR](https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/46) .

[2022-02-16 01:46] RainbowMango commented on #1364
Yeah, it's reasonable. I'll try to upload it ASAP.

[2022-02-16 01:49] RainbowMango commented on #1364
I saw you at yesterday's meeting but didn't hear from you. Is there anything you want to know/talk about?

[2022-02-16 02:44] haiker2011 commented on #1364
I am really interested in karmada and learning about karmada, If possible I want to get involved in developing the Karmada code.

[2022-02-16 02:45] haiker2011 commented on #1364
I want to get some resources to learn， e.g meeting recordings.

[2022-02-16 04:02] YuxiJin-tobeyjin commented on #1291
Same issue with the latest release, while using v0.10.1 there is no such problem

[code]

[code]

[code]

Maybe need to wait for a new release? Do we have a plan?

[2022-02-16 06:43] RainbowMango commented on #1362
Do you mean that brings a lot of `conflicts`?

[2022-02-16 07:16] XiShanYongYe-Chang commented on #1291
Hi @chenrc0529-ai @SZT0728 @chenrc0529-ai @MingZhang-YBPS @YuxiJin-tobeyjin everybody. Can someone provide a full process for reproducing the problem?

I use the v1.0.1 version and make kubectl-karmada on my local site, but didn't reproduce the error.

There are a few questions that need to be confirmed:
- Is the cluster added for the first time?
- kubectl karmada version
- whether the karmada ver

[2022-02-16 07:28] RainbowMango opened #1367 "Generates API documents"
**What would you like to be added**:
Generates API documents (like [swagger.json](https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json)).

- [ ] Auto-generates the API documents when API changes.
- [ ] Check If API documents are up to date by CI.

**Why is this needed**:
Simplify API development for users.

[2022-02-16 07:32] 2hangchen commented on #1367
I've exported swagger.json,where can I upload it?

[2022-02-16 07:36] RainbowMango commented on #1367
Updated descriptions just now, not just upload it, we need to generate it (like, by scripts).

By the way, how do you generate the docs?

[2022-02-16 07:39] 2hangchen commented on #1367
I'm sorry,I didn't see the description, I'm not through script generated,I was through curl `/openapi/v2` generated `swagger.json`.

[2022-02-16 07:42] YuxiJin-tobeyjin commented on #1291
Is the cluster added for the first time?
// `yes`

kubectl karmada version
// `as follows`
[code]
whether the karmada version is upgraded from an earlier version
// `no, deploy from scratch,  just deploy and undeploy sometimes (undeploy with "bash -x undeploy-karmada.sh ~/.kube/config kubernetes-admin@cluster.local" )`

Reproduce:

1、deploy a local k8s cluster

2、bash remote-up-karmada.sh ~/.kube/

[2022-02-16 07:45] RainbowMango commented on #1367
Oh, I guess the Karmada related APIs are included in the file. I didn't know that before.

Can you upload the swagger.json file to this issue or send it to me by slack or by email?

[2022-02-16 08:11] 2hangchen commented on #1367
I have  sent it to this email address :qdurenhongcai@gmail.com.

[2022-02-16 08:46] XiShanYongYe-Chang commented on #1291
Hi @YuxiJin-tobeyjin, I follow your step, it works ok on my side.

Can you get clusters correctly with the command:
[code]

[2022-02-16 09:50] RainbowMango commented on #1367
Thanks. I've generated it locally.

I see both Kubernetes and Karmada API are in it, do you know how to just keep Karmada's API?

[2022-02-16 10:03] merryzhou opened #1369 "karmada controller: add params to set MaxConcurrentReconciles"
default MaxConcurrentReconciles is 1，add params  to set this value?

[2022-02-16 10:07] merryzhou commented on #1369
duplicated

https://github.com/karmada-io/karmada/pull/1321

[2022-02-16 10:07] #1369 closed

[2022-02-16 10:07] RainbowMango commented on #1369
That's the plan. And tracked by #1331

[2022-02-16 10:29] 2hangchen commented on #1367
I don't know. I export it in full every time.

[2022-02-16 10:43] YuxiJin-tobeyjin commented on #1291
[code]

[2022-02-16 11:18] XiShanYongYe-Chang commented on #1291
Is this context not used when you add a cluster?

[2022-02-16 13:45] YuxiJin-tobeyjin commented on #1291
Yes, of course i did, the logs are as follows:
[code]
Maybe the reason is `validating-config`,  as mentioned above i've deployed and undeployed karmada many times, but it seems  validating-config keeps unchanged, i will try it again tomorrow

[code]

[2022-02-17 01:44] XiShanYongYe-Chang commented on #1291
The error info is different from before.

Maybe check the logs for the 'Karmada-webhook' pod to see what's going on.

[2022-02-17 03:04] kerthcet opened #1371 "Extension for out-of-tree plugins"
**What would you like to be added**:
We have some filter plugins customized, and we want to add them to scheduler easily, e.g.
1. initialization
[code]
2. Locate our plugins' source code to the plugins folder.

**Why is this needed**:
Extension for out-of-tree plugins.

TODOs:

- [x] introduce registry to store plugins in framework initialization: https://github.com/karmada-io/karmada/pull/1382
-

[2022-02-17 03:04] kerthcet commented on #1371
/assign

[2022-02-18 03:41] chestarss opened #1374 "install karmada by helm error"
**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version: v1.0.1
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
- Others:

[code]

[2022-02-18 03:49] pigletfly commented on #1374
duplicate of https://github.com/karmada-io/karmada/issues/1339

[2022-02-18 06:24] RainbowMango commented on #1374
Thanks @chestarss . Let's track this issue by #1339.

/close

[2022-02-18 06:24] #1374 closed

[2022-02-18 08:30] luoMonkeyKing opened #1376 "Timeout waiting for file exist /root/.kube/karmada.config"
**Environment**:
- Karmada version: master
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
- Others:

According to the installation steps in the readme, it has been stuck in the step of "Waiting for kubeconfig file /root/.kube/karmada.config and clusters karmada-host to be ready", I increased the timeout time, but it still doesn't work. Is

[2022-02-18 08:40] RainbowMango commented on #1376
We are using kind to create clusters and it's log at `/tmp/karmada/<clustername>.log`, can you post the log here?

[2022-02-18 08:48] luoMonkeyKing commented on #1376
The following is the log of host-cluster：

I0218 08:17:14.420829     191 round_trippers.go:454] GET https://karmada-host-control-plane:6443/healthz?timeout=10s  in 0 milliseconds
I0218 08:17:14.920960     191 round_trippers.go:454] GET https://karmada-host-control-plane:6443/healthz?timeout=10s  in 0 milliseconds
I0218 08:17:15.420684     191 round_trippers.go:454] GET https://karmada-host-control

[2022-02-18 09:11] luoMonkeyKing commented on #1376
Linux CentOS Linux release 7.9.2009 (Core)

[2022-02-18 09:17] RainbowMango commented on #1376
Thanks. Can you help to check the kind version, by the following command, and post the output here:
[code]
From the previous log, I guess you are using the kind version lower than `v0.11.1`.

Can you upgrade the kind the `v0.11.1` and try again?  You can do that by
[code]
Or just remove the kind from your system, they `hack/local-up-karmada.sh` will install it automatically.

[2022-02-18 09:27] lonelyCZ commented on #1367
The [project](https://github.com/argoproj/argo-workflows/blob/master/api/openapi-spec/swagger.json) seem to achieve these functions, I have tested it that is working correctly and there are only it own APIs. And I'm working on how to do it.

[2022-02-18 09:30] RainbowMango commented on #1367
Great! Looking forward to your progress.

[2022-02-18 09:54] luoMonkeyKing commented on #1376
### kind version
kind v0.10.0 go1.15.7 linux/amd64

After upgrading to 0.11, you can continue to go down, and some package downloads time out and cause the installation to fail
[code]

[2022-02-19 08:06] RainbowMango commented on #1376
That's the network problem, you might have to set up a proxy on your machine to download go modules.

Thanks for reporting this. I'll add a case to [Troubleshooting](https://github.com/karmada-io/karmada/blob/master/docs/troubleshooting.md) later.

[2022-02-19 08:07] RainbowMango commented on #1376
/assign
/remove-kind bug
/kind document

[2022-02-19 10:14] luoMonkeyKing opened #1379 "no matching resources found"
### When executing the local-up-karmada.sh script, the following error is reported

![294c9c2be01ca5081be0c573199bdfa](https://user-images.githubusercontent.com/31637804/154796689-cecfdf93-5a69-4042-b687-6509cd77baa2.png)

**Environment**:
- Karmada version: master
- kubectl version: v1.23.3
- Others: go 1.17.2

[2022-02-19 12:26] RainbowMango commented on #1379
Are you running the `hack/local-up-karmada.sh` under the root directory of karmada repo?

[2022-02-19 12:28] RainbowMango commented on #1379
Could you please post the whole output here?

[2022-02-21 01:20] luoMonkeyKing commented on #1379
Yes, the directory I am running is /home/karmada and the running command is hack/local-up-karmada.sh

[2022-02-21 02:45] luoMonkeyKing commented on #1379
### My previous virtual machine was deleted, I rebuilt a HUAWEI CLOUD virtual machine today, and this error was reported after installation
[code]

[2022-02-21 04:34] lonelyCZ commented on #1367
/assign

[2022-02-21 08:00] merryzhou opened #1385 "The karmada scheduler cannot work properly when concurrency"
**What happened**:
 I have 2 clusters (member1 and member2), both allocatable resources are 2C2G.
And i try to create 20 deployments and 20 propagationpolicies concurrently. All deployments require 1C1G resource, and propagationpolicy spec are all like:
[code]
According to the allocatable resources, both member1 and member2 clusters can running 2 deployments, other deployments should not scheduled

[2022-02-21 08:39] lonelyCZ commented on #1385
Seemingly need this feature #1056

[2022-02-21 08:47] merryzhou commented on #1385
i don't think so。。

[2022-02-22 03:25] RainbowMango commented on #1371
I'd like to have a chat with you at the next community meeting.
If it is accepted, it can be included in the next release(release 1.2).

[2022-02-22 03:26] huone1 commented on #1385
the cluster resources might be not updated in real time even if the estimator is enabled.

[2022-02-22 03:37] merryzhou commented on #1385
i think the reason might be：in schedule phase，the resourceBinding resource was updated when scheduled successed。 but the estimator cares about pods on nodes，not resourceBinding.

And before Pod scheduled to a node（by member cluster schedule），there is a few more steps， like create a work， create a deployment to member cluster，create rs， create pod， schedule pod。。。

so estimator cannot count resourc

[2022-02-22 05:48] wenhuwang commented on #1291
I encountered the same problem，it can be solved by doing the following:
1. delete the following configuration in  `validating-config`  validatingwebhookconfigurations resource：
[code]
2.  Clean up the secret resource corresponding to the cluster
[code]
3.  join cluster to karmada.

[2022-02-22 08:36] luoMonkeyKing commented on #1379
It should be that the virtual machine configuration is not enough. The original virtual machine is 2u4G, and it can be upgraded to 4u8G.

[2022-02-22 08:47] RainbowMango commented on #1379
Thanks @luoMonkeyKing for your feedback. It means a lot.

I think we should document this case somewhere.

/reopen
/assign

[2022-02-22 09:19] RainbowMango commented on #1379
We are running `hack/local-up-karmada.sh` in GitHub-Hosted runners which with the following hardware specification:
- 2-core CPU
- 7 GB of RAM memory
- 14 GB of SSD disk space

If it is the case, I guess this problem is due to a lack of memory.

[2022-02-23 02:06] luoMonkeyKing commented on #1379
I think it should be like this

[2022-02-23 02:29] SZT0728 opened #1390 "How many k8s clusters can be joined in karmada?"
what is the maximum number of clusters that can be joined in karmada

[2022-02-23 06:23] chestarss opened #1391 "karmada-aggregated-apiserver error"
base git tag v1.0.1

**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version: v1.0.1
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
- Others:

[2022-02-23 06:53] RainbowMango commented on #1391
I don't what happened to your case, but the flag hasn't been deprecated in v1.0.1.
https://github.com/karmada-io/karmada/blob/v1.0.1/cmd/aggregated-apiserver/app/options/options.go#L57

[2022-02-23 06:55] RainbowMango commented on #1391
@chestarss could you please check the version and tell us what you did (operation steps)?

[2022-02-23 08:07] chestarss commented on #1391
base git v1.0.1 karmada code
execute
[code]

then error in this step
[code]

[2022-02-23 08:42] RainbowMango commented on #1391
Can you check why the pods(`pods/karmada-aggregated-apiserver-7b88b8df99-spl7n`) failed to start?

[2022-02-23 09:20] chestarss commented on #1391
找到原因了，安装脚本里的镜像用的是latest, 改成v1.0.1后正常了

[2022-02-23 09:20] chestarss commented on #1391
/close

[2022-02-23 09:20] #1391 closed

[2022-02-23 09:38] chestarss opened #1393 "big crd create failed in karmada-apiserver"
is there have some karmada webhook to save  crd content to annotation column ?

**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
apply big crd.yaml more than 262144 bytes

**Anything else we need to know?**:

**Environment**:
- Karmada version: v1.0.1
- kubectl-karmada or karmadactl version (the result of `kubectl-karmad

[2022-02-23 09:44] chestarss commented on #1393
kubectl create crd.yaml works , sorry

[2022-02-23 09:44] #1393 closed

[2022-02-24 03:15] YuxiJin-tobeyjin commented on #1291
Thanks a lot @wenhuwang , problem solves.
@XiShanYongYe-Chang , so the cluster.karmada.io webhook-configuration needs to be deleted from the deploy files?

[2022-02-24 03:32] XiShanYongYe-Chang commented on #1291
We remove `cluster.karmada.io` webhook-configuration with PR #1152, If you use the `master` branch, it is needed. But with release v1.0.1, we haven't merged it.

Is there something wrong?

[2022-02-24 07:09] 1285yvonne opened #1396 "Cannot reconcile clusterRole/clusterRoleBinding karmada-impersonator"
**What happened**:

When I install karmada-agent by helm chart, I found some error messages in the pod's logs and events like:

[code]

I think the reason is the permission escalation prevention in RBAC. See https://kubernetes.io/docs/reference/access-authn-authz/rbac/#privilege-escalation-prevention-and-bootstrapping for details.

**What you expected to happen**:

**How to reproduce it (as minima

[2022-02-24 07:57] chestarss opened #1397 "自定义CRD中的repicas使用customresourceinterpreter托管replicas后没有resourcebinding生成"
**Please provide an in-depth description of the question you have**:
我是参考这个链接部署了karmada-interpreter-webhook-example
https://github.com/karmada-io/karmada/tree/master/examples

然后修改webhook-configuration.sh脚本生成的yaml中资源为我自己的crd定义

之后重新提交crd 实例到集群看到webhook里有日志，但是没有resourcebinding生成。
karmada-interpreter-webhook-example中的日志

[code]

**What do you think about this question?**:

**Environment**:
- Karmada

[2022-02-24 08:08] chestarss commented on #1397
kubectl get resourceinterpreterwebhookconfigurations -o yaml
[code]

[2022-02-24 08:10] chestarss commented on #1397
kubectl get pp -n alter-645202407390711808 dev-alter-645202407390711808-spring-mvc-demo-pp -o yaml
[code]

CRD资源实例 dev-alter-645202407390711808-spring-mvc-demo 中replicas设置是2

[2022-02-24 08:14] XiShanYongYe-Chang commented on #1397
When you use you own CRD, you need to implement the appropriate logic in `examples/customresourceinterpreter/webhook/app/webhook.go`.

In addition, you can check the logs of the `karmada-controller-manager`.

[2022-02-24 08:20] chestarss commented on #1397
好的多谢，以后是否可以考虑和hpa一样去读crd中的replicas定义，只要遵循k8s replicas接口规范就能自动被托管呢。
我们在单集群下，crd资源是可以直接被hpa管理副本数的

[2022-02-24 08:42] chestarss commented on #1397
我的crd定义里指定了这个，官方的hpa就能根据这个找到replicas路径自动改值。希望你们也可以参考这个做成自动的，这样无需再自己实现webhook

[code]

[code]

[2022-02-24 08:51] chestarss commented on #1397
![image](https://user-images.githubusercontent.com/11288347/155490791-9d711ba9-671c-4351-9cbf-3b79ee990286.png)

[2022-02-24 08:59] chestarss commented on #1397
可以参考hpa的实现https://github.com/kubernetes/design-proposals-archive/blob/main/autoscaling/horizontal-pod-autoscaler.md#scale-subresource

[2022-02-24 09:07] XiShanYongYe-Chang commented on #1397
Good advice 👍

Welcome to join karmada and participate in the evolution development of this feature.

[2022-02-24 09:14] RainbowMango commented on #1397
@chestarss
非常好的建议，对于已实现了`scale` subresource的CRD，可以减少一次webhook的访问。有没有兴趣试者改一下？

cc another owner here.
cc @iawia002

[2022-02-25 07:37] RainbowMango commented on #1309
Is it a bug?

[2022-02-26 04:01] RainbowMango commented on #386
/close
Please see #1360 and discuss there.

[2022-02-26 04:01] #386 closed

[2022-02-26 04:11] RainbowMango commented on #432
/close
As the [Aggregated Kubernetes API](https://github.com/karmada-io/karmada/blob/master/docs/userguide/aggregated-api-endpoint.md) is ready now.

[2022-02-26 04:11] #432 closed

[2022-02-26 04:15] RainbowMango commented on #447
Does this issue still exist in master?

[2022-02-26 04:17] RainbowMango commented on #443
/close
We have added `Scheduled` and `FullyApplied` conditions to RB/CRB.

[2022-02-26 04:17] #443 closed

[2022-02-26 04:21] RainbowMango commented on #437
/close
Please reopen and talk about this if you think still necessary.

I can't see more benefits except simplifying installation, but if we really do so, can't imagine what would happen for `karmada-webhook` running in election mode.

[2022-02-26 04:21] #437 closed

[2022-02-26 04:22] RainbowMango commented on #439
/close
In favor of #421

[2022-02-26 04:22] #439 closed

[2022-02-28 07:09] lonelyCZ commented on #1363
In this mode, we also deploy `agent` for `pull mode` register by CLI without `karmada.config` that is more reasonable.

[2022-02-28 08:31] qianjun1993 opened #1410 "A better way to choose the matched policy when more than one policies fits"
**What would you like to be added**:

when more than one policies fit workload, we must check whether the resource has applied any policy. If the old policy  exists and still fits, we choose it so the workload will not be scheduled again. Otherwise, we sort policy by creating time and choose the newest one.

**Why is this needed**:
When we look for matched policy for workload and find more than on

[2022-02-28 10:49] merryzhou opened #1411 "cannot reschedule when propagationpolicy changed"
**What happened**:
1. two clusters: member1 and member2, both in ready status
2. a deployment with 2 replicas, and the propagationpolicy spec is:
[code]
3. wait pods of deployment deployed to member1. then update propagationpolicy to:
[code]

i hope the deployment can be moved to member2 cluster, but nothing happend.
i think the problem may be here: https://github.com/karmada-io/karmada/blob/maste

[2022-02-28 12:06] #1079 closed

[2022-02-28 12:06] XiShanYongYe-Chang commented on #1079
/close

[2022-02-28 15:06] dddddai commented on #1411
I've just tested it

/assign

[2022-03-01 01:08] RainbowMango commented on #1411
@Garrybest @huone1

[2022-03-01 01:18] huone1 commented on #1411
it is resolved in PR #1383

[2022-03-01 01:25] dddddai commented on #1411
Yeah I just took a look at #1383 and it should work

[2022-03-01 02:02] RainbowMango commented on #1411
/assign @huone1

[2022-03-01 02:30] RainbowMango commented on #1397
Why closed? @chestarss

[2022-03-01 02:54] Garrybest commented on #447
Yes, but it's not a big problem. We hardly remove it manually.

[2022-03-01 02:54] #447 closed

[2022-03-01 03:34] XiShanYongYe-Chang commented on #447
Hi @Garrybest , I test this on my side with the latest version(v1.1.0), it works ok:
[code]

[2022-03-01 06:45] chestarss commented on #1397
/reopen

[2022-03-01 06:46] chestarss commented on #1397
不好意思，我以为这个issue的提问已经完成，新的需求会在另一个issue记录。

[2022-03-01 06:50] iawia002 commented on #1410
we have the same needs, see #1185 for our previous discussion.

[2022-03-01 07:43] Garrybest commented on #1385
Hi @merryzhou, you are right. We cannot ensure 100% accuracy for estiamator. Refer to https://github.com/karmada-io/karmada/issues/521#issuecomment-1031212543.

The new module `descheduler` could help fix this issue. https://github.com/karmada-io/karmada/issues/1262

[2022-03-01 07:43] Garrybest commented on #1385
Hi @merryzhou, you are right. We cannot ensure 100% accuracy for estiamator. Refer to https://github.com/karmada-io/karmada/issues/521#issuecomment-1031212543.

The new module `descheduler` could help fix this issue. https://github.com/karmada-io/karmada/issues/1262

[2022-03-01 08:16] Garrybest commented on #447
Thanks @XiShanYongYe-Chang. I made a mistake cause I am using the older version of karmada. 😅

[2022-03-01 08:36] iawia002 commented on #1397
The direction of this method is quite good, for the GetReplicas hook point, we can query the scale subresource API to get the number of replicas directly, for the ReviseReplica hook point, we need to query the CRD of the corresponding resource

[2022-03-02 02:51] stingshen opened #1420 "How to use overall property in FederatedResourceQuota"
**Please provide an in-depth description of the question you have**:

Karmada v1.1.0 release note introduces Federated ResourceQuota, which provides constraints that limit total resource consumption per namespace `across all clusters`.

But under my observation on the actual behavior and karmada code, the overall property doesn't constraint the total resource limit, it only set the overall propert

[2022-03-02 03:23] XiShanYongYe-Chang commented on #1420
We will add the validation in `karmada-webhook`, so as to limit the total amount not to be exceeded.

[2022-03-02 03:35] stingshen commented on #1420
Thanks for the explanation.

[2022-03-02 03:35] #1420 closed

[2022-03-02 06:50] XiShanYongYe-Chang opened #1422 "Add check for cluster apiservice when install karmada with kubectl-karmada"
**What would you like to be added**:

Add ready check for `v1alpha1.cluster.karmada.io` apiservice when install karmada with `kubectl-karmada`, as discussed in https://github.com/karmada-io/karmada/pull/1306#issuecomment-1055167142

**Why is this needed**:

Without ready check, if the AVAILABLE of `v1alpha1.cluster.karmada.io` apiservice is False, cluster join will failed.

[2022-03-02 06:51] XiShanYongYe-Chang commented on #1422
Hi @zgfh, Can I assign this issue to you? This is the issue we talk about in #1306

[2022-03-02 06:55] zgfh commented on #1422
/assign

[2022-03-02 06:59] XiShanYongYe-Chang commented on #1291
In conclusion, two causes are found to cause the failure to join the cluster:
- Exist cluster validation in validating-config validatingwebhookconfigurations: https://github.com/karmada-io/karmada/issues/1291#issuecomment-1047448203
- The available of `v1alpha1.cluster.karmada.io` apiservice is False: https://github.com/karmada-io/karmada/pull/1306#issuecomment-1055167142

[2022-03-02 07:00] XiShanYongYe-Chang commented on #1422
Thanks :)

[2022-03-02 07:46] RainbowMango commented on #1410
Hi @qianjun1993 Long time no see.

The use case is similar to #1185 (@iawia002 ). I guess it is worth filing a proposal for this. Things I want to know:
- What's the real use case?
- How common the use case is?
- How painful without a solution for this?( Is there a workaround?)
- What's the idea/design?

[2022-03-02 08:04] snowplayfire opened #1423 "Is it acceptable for one object to have more than one propagationpolicy?"
**What would you like to be added**:

One object can have more than one propagationpolicy.

**Why is this needed**:

Suppose we have many clusters named cluster1, cluster2...cluster10.  Every workload object may need one of the combinations of the ten clusters to propogate and  we hope  combinations can be reused rather than one workload has one propagationpolicy. If we create all combinations as

[2022-03-02 08:48] RainbowMango commented on #1423
Maybe I didn't get it yet, why don't you specify the clusters in a `PropagationPolicy`?

[2022-03-03 01:43] huone1 commented on #1330
it is the schedule refactor proposal : https://docs.google.com/document/d/1yZfw50F7uu9WG_dZ0M7-jbsmlidPIlMmDSI3AA4eWRg/edit?usp=sharing
it is just a draft version, so  you can give any suggestions and ideas.

[2022-03-03 06:41] stingshen opened #1428 "Why creating two service account during cluster join?"
**Please provide an in-depth description of the question you have**:

**What do you think about this question?**:

In the following code, two service accounts are created: service account and service account for impersonation. But it seems that the impersonation SA is not used to manipulate resources on member clusters.

https://github.com/karmada-io/karmada/blob/e02b5d3211f490ddc8171fc1d61ac5fa10

[2022-03-03 06:57] XiShanYongYe-Chang commented on #1428
The impersonate secret are use to access member cluster when user use cluster proxy:

https://github.com/karmada-io/karmada/blob/e02b5d3211f490ddc8171fc1d61ac5fa10ac76ed/pkg/registry/cluster/storage/proxy.go#L65

You can try the new feature [Aggregated Kubernetes API Endpoint](https://github.com/karmada-io/karmada/blob/master/docs/userguide/aggregated-api-endpoint.md) which is released in v1.0.0 v

[2022-03-03 07:22] stingshen commented on #1428
Thank you!

[2022-03-03 07:22] #1428 closed

[2022-03-03 12:15] Garrybest commented on #1309
I don't think so, it is just an optimization. @RainbowMango

[2022-03-04 06:13] #1422 closed

[2022-03-04 06:34] XiShanYongYe-Chang commented on #1291
Close first, we can reopen it if anyone occurs this problem again.

/close

[2022-03-04 06:34] #1291 closed

[2022-03-04 06:56] #1309 closed

[2022-03-04 07:13] #829 closed

[2022-03-04 07:13] #1411 closed

[2022-03-04 07:21] XiShanYongYe-Chang opened #1430 "[karmadactl init] can not read KUBECONFIG environment variable"
**What happened**:

When I set KUBECONFIG, `karmadctl init` can not read KUBECONFIG environment variable, error msg:
[code]

**What you expected to happen**:

Use KUBECONFIG environment variable.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Karmada version: v1.1.0
- kubectl-karmada or karmadactl version (the res

[2022-03-04 08:40] RainbowMango opened #1432 "[GoodFirst] prevent networking api from propagating"
**Task description**:
We have introduced a new API group at the last release(v1.1) and it should be ignored from propagating.

**Solution**:
Just add the API group to `skipped resource config`, i.e.:

[code]
**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully complete

[2022-03-04 11:22] lonelyCZ commented on #1430
[code]

Why is the `/root/.kube/config` a directory?

[2022-03-04 11:25] lonelyCZ commented on #1430
I just tested it, but it isn't this error.

[code]

[2022-03-04 11:31] lonelyCZ commented on #1430
I test it in another host, that seem no problem.

[code]

[2022-03-04 19:45] Amartya-Mahato commented on #1432
@RainbowMango Hi, i would like to give it a try. Can i work on it?

[2022-03-07 01:20] XiShanYongYe-Chang commented on #1430
`/root/.kube/config` is the kubeconfig file path. There are two methods:

https://github.com/karmada-io/karmada/blob/master/docs/installation/installation.md#install-karmada-in-kubernetes

`Assume you have put your cluster's kubeconfig file to $HOME/.kube/config or specify the path with KUBECONFIG environment variable.`

I set KUBECONFIG to `/root/.kube/host.config`(use another kubeconfig file) no

[2022-03-07 01:22] RainbowMango commented on #1432
Hi @Amartya-Mahato  You can get who can join and how to join the task from the PR description.

[2022-03-07 03:18] pigletfly commented on #679
related https://github.com/karmada-io/karmada/pull/1359

[2022-03-07 03:18] pigletfly commented on #679
/close

[2022-03-07 03:18] #679 closed

[2022-03-07 06:38] XiShanYongYe-Chang commented on #1430
Thanks @lonelyCZ 👍

[2022-03-07 07:50] pigletfly opened #1441 "Failed to install karmada via helm"
**What happened**:

when installing karmada 1.1.0 via helm, it failed.
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
- Others:

[2022-03-07 07:50] pigletfly commented on #1441
/cc @jrkeen

[2022-03-07 08:05] jrkeen commented on #1441
Thank your feedback, the kubectl trying to record the previous state of affairs in an {"metadata":{"annotation":{"kubectl.kubernetes.io/last-applied-configuration": "GINORMOUS string"}}}. The configMap is too huge so exceeding the limit, I will try to fix it.

[2022-03-07 08:44] pigletfly opened #1443 "Failed to upgrade karmada using helm"
**What happened**:

when upgrading karmada 1.0.0 to 1.1.0, the karmada-apiserver keeps getting be created and deleted again and again.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` o

[2022-03-07 08:56] pigletfly commented on #1339
are you using helm v2 or v3 ?

[2022-03-07 08:59] RainbowMango commented on #1339
I don't know, this issue is synced from email.
I don't think it has anything to do with the Helm version.

[2022-03-07 10:09] kerthcet commented on #1330
It's a great start. I read the document overall and left several  comments there. Maybe not mature but make sense to me. Thanks @huone1

[2022-03-07 12:35] XiShanYongYe-Chang opened #1445 "Ensure that the user can modify the service nodeport."
When users create a service with an assigned nodeport:
[code]
And then users want to update service nodeport, this action will be failed, because karmada retain service nodeport:
https://github.com/karmada-io/karmada/blob/4f9c3ca90cb9ebbfbf21c0a7c7548ddb472609cf/pkg/resourceinterpreter/defaultinterpreter/retain.go#L118-L154

And when users create a service without an assigned nodeport, `karmada-ap

[2022-03-07 12:35] XiShanYongYe-Chang commented on #1445
@RainbowMango @mrlihanbo

[2022-03-08 05:39] #1441 closed

[2022-03-08 09:09] XiShanYongYe-Chang commented on #1445
/kind feature

[2022-03-08 09:34] XiShanYongYe-Chang commented on #1396
Hi @1285yvonne, sorry for letting this issue hold so long.

You are right, we update the `artifacts/agent/clusterrole.yaml` but do not modify the chart synchronously:

https://github.com/karmada-io/karmada/blob/master/artifacts/agent/clusterrole.yaml

Are you willing to fix this mistake?

Thanks your issue!

[2022-03-08 09:35] XiShanYongYe-Chang commented on #1445
/assign

[2022-03-08 09:36] XiShanYongYe-Chang commented on #1430
/assign @lonelyCZ

[2022-03-08 09:46] XiShanYongYe-Chang opened #1454 "Clean `/etc/karmada` directory with `karmadactl init` cmd at the beginning"
**What would you like to be added**:

Clean `/etc/karmada` directory with `karmadactl init` cmd at the beginning.

**Why is this needed**:

When I run `karmadactl init`  multiple times to install karmada, an error reported:
[code]
When I delete `/etc/karmada/crds/` directory, and install conitue, an error is reported like this:
[code]

[2022-03-08 10:16] prodanlabs commented on #1454
I did have this problem with multiple installs, I'll fix it later :)

[2022-03-08 11:28] XiShanYongYe-Chang commented on #1454
@prodanlabs thanks~

/assign @prodanlabs

[2022-03-08 12:27] #1367 closed

[2022-03-08 20:50] chinmaym07 commented on #1432
/assign

[2022-03-09 02:24] XiShanYongYe-Chang commented on #1396
Hi @1285yvonne , #1457 fixed this bug.

[2022-03-09 03:18] qianjun1993 commented on #1410
@RainbowMango .
The priority of policy is also useful for our case . But we have a special use case :
We have one default policy in each namespace so that  user no need to create  extra policy . After use this policy a long time , the users  may have new needs that the old default policy is not suitable any more. In that time we need create a new default policy for  new workloads but all the workl

[2022-03-09 03:25] qianjun1993 commented on #1410
My idea
we  need a new way  to sort the matched policy (even if we set priority for policy). The most important order is the priority. And then when we have two matched policy with the same priority, if our workload have applied one of them and create a rb , we just choose this policy so the rb will  not change. After that we can sort the policy with name (Current scheme )or create time

[2022-03-09 06:00] #1445 closed

[2022-03-09 06:08] #1396 closed

[2022-03-09 06:53] #1432 closed

[2022-03-09 09:05] stingshen opened #1461 "Sync namespace to specific clusters"
**What would you like to be added**:

Sync namespace to specific clusters. For example, sync namespace A to cluster a, b, c. Maybe we could use namespace label or configmap in namespace to specify which clusters should be synced to?

**Why is this needed**:

Currently, namespace would be synced to all clusters except for those specified statically in `--skipped-propagating-namespaces`. But  there

[2022-03-09 09:13] RainbowMango commented on #1461
In that case, you can [disable the `namespace` controller](https://github.com/karmada-io/karmada/blob/master/docs/userguide/configure-controllers.md#configure-controllers-1) and use `ClusterPropagationPolicy` to specify which clusters you want to sync to.

[2022-03-09 09:40] stingshen commented on #1461
Thank you!

[2022-03-09 09:40] #1461 closed

[2022-03-09 10:00] merryzhou commented on #419
hi，I am also interested in this feature, any news？

[2022-03-10 01:27] RainbowMango commented on #419
Hi @merryzhou
No, if I remember right, we haven't discussed it yet. I don't know if @vincent-pli is still interested in this topic.

@merryzhou maybe you can lead the effort to move this forward. I get your back.

My idea is to provide a controller (just like the [namespace controller](https://github.com/karmada-io/karmada/blob/master/docs/userguide/configure-controllers.md)) to propagate the CRD

[2022-03-10 08:23] merryzhou commented on #419
ok, I'd like to have a try.

I think this issue is about sync CRD from member clusters, not propagate the CRD to member clusters?

[2022-03-10 08:35] #1339 closed

[2022-03-10 09:35] hanweisen opened #1467 "使用 kubectl karmada init 安装karmada报x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "ca")"
**Please provide an in-depth description of the question you have:
参考https://github.com/karmada-io/karmada/blob/release-1.0/docs/installation/installation.md
使用kubectl karmada init 安装karmada，由于国内被墙了，使用如下命令安装
`kubectl karmada init --crds crds.tar.gz --karmada-apiserver-image registry.aliyuncs.com/google_containers/kube-apiserver:v1.21.7 --etcd-image registry.aliyuncs.com/google_containers/etcd:3.4.

[2022-03-10 10:00] hanweisen commented on #1467
出现上面错误的时候 在前面的步骤也失败了好几次，/etc/karmada/下面的一些正式文件没有清理干净
`rm -rf /etc/karmada/*`
`kubectl delete ns karmada-system`
重新安装就可以了

[2022-03-10 10:00] #1467 closed

[2022-03-10 10:45] RainbowMango commented on #1467
Thanks for reporting, this will be fixed by #1455.

[2022-03-11 01:20] #1303 closed

[2022-03-11 02:31] merryzhou commented on #419
we can open a new issue  about this。

[2022-03-11 06:08] huone1 commented on #1423
you can fill more than one resource object in propagationpolicy spec.resourceSelectors

[2022-03-11 06:53] guyingyan opened #1471 "failed to install via helm"
used the command line
helm install karmada -n karmada-system --create-namespace ./charts
to install helm, it's failed when install pod karmada-pre-install , log as below
==============
root@92b06d68-7364-4c24-9cc6-091e90dade4d-master-1:~# kubectl logs karmada-pre-install-c2pbh -n karmada-system
+ kubectl apply --server-side -f /opt/configs/
Server-side apply not available on the server: (415: Unsu

[2022-03-11 06:55] RainbowMango commented on #1471
@pigletfly @jrkeen Could you please take a look?

[2022-03-11 07:49] #1454 closed

[2022-03-14 02:32] pigletfly commented on #1471
@guyingyan can you provide your kubernetes version?

[2022-03-14 08:11] RainbowMango commented on #1232
/close
Hi @SZT0728 Thanks for reporting, If this issue still exist, please feel free to let us know.

[2022-03-14 08:11] #1232 closed

[2022-03-14 08:14] #1430 closed

[2022-03-14 08:14] RainbowMango commented on #883
/close
Seems the original question has been answered.
About the difference between Rancher and Kubersphere, you can refer to #289 and discuss it there. Thanks.

[2022-03-14 08:14] #883 closed

[2022-03-14 09:20] RainbowMango commented on #644
/close
Since the RSP has been deprecated and removed from code base...

[2022-03-14 09:20] #644 closed

[2022-03-14 09:22] RainbowMango commented on #818
/close
in favor of [MultiClusterIngress feature](https://github.com/karmada-io/karmada/blob/master/docs/multi-cluster-ingress.md).

[2022-03-14 09:22] #818 closed

[2022-03-15 02:39] guyingyan commented on #1471
v1.20.13-20

[2022-03-15 09:09] lonelyCZ opened #1485 "[umbrella] Grouping flags for components"
**What would you like to be added**:
We have implemented to group flags for `karmada-controller-manager` at #1468  and `karmada-agent` at #1389 , and the other components also need to be implemented.

- [x] karmada-aggregated-apiserver (#1494 by @AllenZMC )
- [x] karmada-scheduler (#1491 by @jameszhangyukun )
- [x] karmada-descheduler (#1490 by @AllenZMC )
- [x] karmada-scheduler-estimator (#1493

[2022-03-15 09:09] lonelyCZ commented on #1485
/help

[2022-03-15 11:59] AllenZMC commented on #1485
/assign

[2022-03-15 12:03] jameszhangyukun commented on #1485
/assign   karmada-scheduler

[2022-03-15 12:04] lonelyCZ commented on #1485
/assign @jameszhangyukun

[2022-03-16 01:01] guyingyan commented on #1471
the configuration --feature-gates ServerSideApply=false should be unset in /etc/kubernetes/manifests/kube-apiserver.yaml

[2022-03-16 01:30] RainbowMango commented on #1471
@guyingyan Do you mean this issue is solved? Any improvement needed to be done at the Karmada side?

[2022-03-16 06:46] guyingyan commented on #1471
@RainbowMango maybe this is not an issue, it's a conflict. when use the parameter --server-side in the command line "kubectl apply --server-side -f " , ks8 configuration should be not set  "--feature-gates ServerSideApply=false" in file manifests/kube-apiserver.yaml

[2022-03-16 08:16] #1340 closed

[2022-03-16 09:21] pigletfly commented on #1471
do you add the `--feature-gates ServerSideApply=false` in charts template? there is no `--feature-gates` flags in https://github.com/karmada-io/karmada/blob/master/charts/templates/karmada_apiserver.yaml#L37.

[2022-03-17 07:20] guyingyan commented on #1471
this parameter in k8s directory is :/etc/kubernetes/manifests/kube-apiserver.yaml not in karmada apiserver configuration

[2022-03-17 08:18] pigletfly commented on #1471
server-side apply is supported since kubernetes 1.14, and we should turn this on.

[2022-03-18 02:37] Garrybest commented on #1262
Hey guys, would you please do me a favour? I need some help for the chart part. @jrkeen @pidb

`karmada-descheduler` is a component which works in the controller-plane and helps to evict replicas from ResourceBinding.
Here is the [karmada-descheduler.yaml](https://github.com/karmada-io/karmada/blob/master/artifacts/deploy/karmada-descheduler.yaml).

[2022-03-18 08:43] luoMonkeyKing opened #1503 "No Desceduler function"
**What happened**:
I installed karmada offline and wanted to test the Descheduler function, but the pod of karmada-descheduler was not started
![image](https://user-images.githubusercontent.com/31637804/158965998-f1d8ed79-afb4-4adf-b587-0f6115c3a854.png)

- Karmada version:
   v1.1.0
- Others:
I installed karmada this way:
[code]

[2022-03-18 09:27] #1485 closed

[2022-03-19 03:21] RainbowMango commented on #1329
/assign @lonelyCZ

[2022-03-19 03:36] RainbowMango commented on #1331
/assign @dddddai
Congrats!!!

[2022-03-19 03:40] RainbowMango commented on #1503
Hi @luoMonkeyKing The v1.1.0 release didn't include `karmada-descheduler`, it will be included in v1.2.

For now, you can try it on the master branch.

[2022-03-19 03:40] RainbowMango commented on #1503
/remove-kind bug
/kind question
/close
Feel free to re-open if you want further discussion.

[2022-03-19 03:40] #1503 closed

[2022-03-19 10:27] zgfh commented on #1296
I find there is a pr will remove data when instanll https://github.com/karmada-io/karmada/pull/1455

I think it is dangerous, we should let user choice what should do

Guide customers to uninstall with `karmadactl reset -f `？

[2022-03-20 12:25] lonelyCZ opened #1509 "The `Latest` label is best set to `v1.1.1 release`"
**What happened**:
Now the `Latest` label is set to `v1.0.2 release` that is a bug fixed last version. Its display on the home page may mislead the users.

**What you expected to happen**:
The `v1.1.1 release` should be a latest version.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or

[2022-03-20 12:26] lonelyCZ commented on #1509
cc @RainbowMango

[2022-03-21 01:25] RainbowMango commented on #1509
Do you mean [latest release](https://github.com/karmada-io/karmada/releases/latest) is wrong?

It is how GitHub identifies the `latest` release, not set by maintainers. GitHub will find the latest tag from `master` branch and take that tag as the `latest`.

[2022-03-21 01:45] lonelyCZ commented on #1509
Got it, I thought maintainers could set it.

[2022-03-21 01:45] #1509 closed

[2022-03-21 01:55] RainbowMango commented on #1509
We cut the `v1.0.0` from the master branch, but for the `v1.1.0` we cut the release from the `release-1.1` branch. The GitHub always takes the tag from the master branch, so that's the reason.

Anyway, I guess the next `v1.2.0` will be cut from the master, just like the way we did for `v1.0.0`.

[2022-03-21 01:58] lonelyCZ commented on #1509
Right, I see, thanks. :)

[2022-03-21 03:44] pigletfly commented on #846
/assign

[2022-03-21 12:33] huone1 opened #1511 "the status FULLYAPPLIED in the resource binding is true while the resource obj is not scheduled successfully"
**What happened**:
the rb status FULLYAPPLIED is true while the resource obj is not scheduled successfully
**What you expected to happen**:
the status FULLYAPPLIED in the resource binding  is  false
**How to reproduce it (as minimally and precisely as possible)**:
it can apply the following yaml to reproduce it

the workload yaml
[code]

the  pp yaml select a cluster which is no existed
[code]

th

[2022-03-21 12:33] huone1 commented on #1511
/assgin @huone1

[2022-03-22 03:12] ikaven1024 commented on #392
@RainbowMango
you can set cluster name in config file, using --config.
FYI: https://pkg.go.dev/sigs.k8s.io/kind/pkg/apis/config/v1alpha4#Cluster

[2022-03-22 06:35] RainbowMango commented on #392
Hi @ikaven1024 Thanks. Here we are talking about is not the cluster name, but the `context` name, when creating the cluster we specified the cluster name by `--name` but kind will add the `kind-` prefix to the context name.

[2022-03-22 08:54] #1511 closed

[2022-03-22 13:21] GitHubxsy commented on #1390
We verify that a karmada instance joins 100 clusters.

[2022-03-22 14:08] edsheera commented on #1376
I met the same problem, have you solved it?

[2022-03-23 01:21] RainbowMango commented on #1376
Hi @edsheera, we are using kind@v0.12 in the CI system, so that might not be the reason.

Have you ever gone through the discussions above? if it is another problem, please create an issue with  `bug template`. Thanks.

[2022-03-24 01:43] RainbowMango opened #1528 "`hack/update-estimator-protobuf.sh` failed with Golang v1.18"
**What happened**:
I want to make sure everything ok with Go1.18, and I found that the `hack/update-estimator-protobuf.sh` can not work as usual.

[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Just run `hack/update-estimator-protobuf.sh` with Go 1.18.

**Anything else we need to know?**:

**Environment**:
- Karmada version: master (https

[2022-03-24 01:49] RainbowMango commented on #1196
/close
As lack of activity. But please feel free to re-open it if it doesn't work.

[2022-03-24 01:49] #1196 closed

[2022-03-24 02:47] wangfeng1983 opened #1529 "本地调试运行控制面scheduler报错"
**Please provide an in-depth description of the question you have**:

**What do you think about this question?**:
![image](https://user-images.githubusercontent.com/98692607/159831729-b60c026e-e6c0-4639-b243-91886de74cbc.png)
在本地的mac上通过kind创建了k8s集群，然后将自定义的crd apply上去，在golang工具种调试scheduler模块指定本地k8s的kubeconfig链接，出现这个错误，自定义扩展的crd也出现这种服务端找不到资源定义的情况，不知道有哪里需要注意的
**Environment**:
- Karmada version:
1.1
-

[2022-03-24 02:51] RainbowMango commented on #1529
How to reproduce it (as minimally and precisely as possible)?

[2022-03-24 03:29] wangfeng1983 commented on #1529
我就是直接在goland 里面，启动配置了指定的kubeconfig
![企业微信截图_31fb120c-dea6-489b-8a4f-0baad868d63d](https://user-images.githubusercontent.com/98692607/159836286-9c560ebd-db8a-40c4-9281-05e2170be17f.png)

然后直接运行的
![企业微信截图_66302feb-fb94-46c7-bd91-987af10374ad](https://user-images.githubusercontent.com/98692607/159836393-7a7445cd-8d3e-46da-ae94-f7a3d9d3e8f3.png)

[2022-03-24 03:34] #1529 closed

[2022-03-24 03:37] wangfeng1983 commented on #1529
也临时注释了选主的代码，所以应该可以直接运行scheduler进程，连到本地的k8s集群上去，本地k8s集群已经创建了相应的crd
![image](https://user-images.githubusercontent.com/98692607/159837263-555e2e30-31e5-490a-a42c-a094d26089b0.png)

[2022-03-24 03:42] wangfeng1983 opened #1531 "> How to reproduce it (as minimally and precisely as possible)?"
也临时注释了选主的代码，所以应该可以直接运行scheduler进程，连到本地的k8s集群上去，本地k8s集群已经创建了相应的crd
![image](https://user-images.githubusercontent.com/98692607/159837263-555e2e30-31e5-490a-a42c-a094d26089b0.png)

_Originally posted by @wangfeng1983 in https://github.com/karmada-io/karmada/issues/1529#issuecomment-1077034925_

[2022-03-24 03:43] wangfeng1983 commented on #1531
[](https://user-images.githubusercontent.com/98692607/159836286-9c560ebd-db8a-40c4-9281-05e2170be17f.png)[](https://user-images.githubusercontent.com/98692607/159836393-7a7445cd-8d3e-46da-ae94-f7a3d9d3e8f3.png)我就是直接在goland 里面，启动配置了指定的kubeconfig
企业微信截图_31fb120c-dea6-489b-8a4f-0baad868d63d

然后直接运行的
企业微信截图_66302feb-fb94-46c7-bd91-987af10374ad

[2022-03-24 03:45] wangfeng1983 commented on #1529
不小心被我关了，我重新关联一个新的issue打开了，谢谢！

[2022-03-24 05:08] pigletfly commented on #1531
是否在对应的集群中安装了 karmada 的 crd ?

[2022-03-24 05:24] wangfeng1983 commented on #1531
安装了
![image](https://user-images.githubusercontent.com/98692607/159848163-524f9bfc-bd13-4ca0-9ee1-aac897198274.png)

[2022-03-24 05:27] wangfeng1983 commented on #1531
抱歉，我已经找到原因，我可以关闭这个issue了，非常感谢支持！

[2022-03-24 05:28] #1531 closed

[2022-03-24 05:44] XiShanYongYe-Chang commented on #1531
可以把找到的原因贴到当前issue中。

[2022-03-24 08:04] #1528 closed

[2022-03-24 09:35] wangfeng1983 opened #1534 "咨询下*v1alpha1.Cluster这个CR资源是在哪个yaml创建的"
**Please provide an in-depth description of the question you have**:

**What do you think about this question?**:

**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2022-03-24 09:38] RainbowMango commented on #1534
`Cluster`是目前唯一一种不用CRD扩展的资源，而是用的aggregate-apiserver扩展的。

[2022-03-24 09:39] RainbowMango commented on #1534
For more details, please refer to #1122.

[2022-03-24 10:07] wangfeng1983 commented on #1534
了解了，就是我要是本地调试，必须要连aggregate-apiserver

[2022-03-24 10:09] #1534 closed

[2022-03-24 10:29] ikaven1024 opened #1535 "Where & When (Cluster)ResourceBinding is created?"
**Please provide an in-depth description of the question you have**:
Where & When (Cluster)ResourceBinding is created?

**What do you think about this question?**:

**Environment**:
- Karmada version: master
- Kubernetes version:
- Others:

[2022-03-24 10:34] ikaven1024 commented on #1535
Another question: Cluster is supported with aggregated apiServer, why not CRD ?

[2022-03-24 11:15] XiShanYongYe-Chang commented on #1535
https://github.com/karmada-io/karmada/blob/3446e744ae4b236ff4c320d1e3892e0bc51ab73f/pkg/detector/detector.go#L444

We want to use `cluster/proxy` with aggregatee-apiserver, for detail: https://github.com/karmada-io/karmada/pull/1122

[2022-03-24 11:36] #1329 closed

[2022-03-24 12:35] XiShanYongYe-Chang commented on #1329
Maybe the refactor not be over?

[2022-03-24 12:54] lonelyCZ commented on #1329
Yes, there are other tasks, for example, performance optimization.

/reopen

[2022-03-24 13:33] lonelyCZ commented on #1329
I seemingly don't have right. Could you please reopen this issue? @RainbowMango

[2022-03-25 03:54] wangfeng1983 opened #1540 "PropagationPolicy apply产生事件的问题"
**Please provide an in-depth description of the question you have**:

**What do you think about this question?**:
调试的时候，发现为什么在提交PropagationPolicy事件的时候，会到这里的更新方法里面比较差异后，直接就生成资源绑定事件重入队列了，正常的流程不是应该比较出差异，先放到queue 里面，外层调度处理完成后，再去生成资源绑定的事件吗
<img width="1296" alt="企业微信截图_58874044-90dd-4a4d-aea4-ad7cae8bcfb6" src="https://user-images.githubusercontent.com/98692607/160050890-596bf0fa-29c9-4fe5-b976-accde11

[2022-03-25 05:13] stingshen opened #1541 "API Go Pkg that can be referenced by other go tools"
**What would you like to be added**:

API Go package. Similar to:

https://pkg.go.dev/volcano.sh/apis@v1.5.0-beta.0

The package can be installed by `go get`

**Why is this needed**:

Third party go tools may need the api defined in Karmada.

[2022-03-25 05:31] #1540 closed

[2022-03-25 05:56] RainbowMango commented on #1541
Do you mean https://pkg.go.dev/github.com/karmada-io/api and https://pkg.go.dev/github.com/karmada-io/karmada ?

[2022-03-25 06:33] stingshen commented on #1541
Yes. That is exactly what I need. Thank you!

[2022-03-25 06:33] #1541 closed

[2022-03-25 11:38] maidol opened #1544 "why statefulset and daemonset were not ready？"
### **why statefulset and daemonset were not ready status？The deployment was all right.**

deployment
![微信图片_20220325193423](https://user-images.githubusercontent.com/4978561/160113690-8500e701-22ea-48df-a339-43363f01a130.png)

statefulset
![微信图片_20220325193552](https://user-images.githubusercontent.com/4978561/160113876-5a951963-1010-4909-a9e8-57f4d627e7b6.png)

daemonset
![微信图片_20220325193604](h

[2022-03-25 12:31] lonelyCZ commented on #1544
It seem not to implement default `aggregateStatefulsetStatus` and `aggregateDaemonsetStatus` in resourceinterpreter.

https://github.com/karmada-io/karmada/blob/a084c8d7b09e7c3b361eea7137b86d4ed1fe3d20/pkg/resourceinterpreter/defaultinterpreter/aggregatestatus.go#L22-L29

[2022-03-25 12:40] Charlie17Li opened #1545 "The kubeconfig maybe overwritten aboout the create_cluster function in hack/scripts"
**Please provide an in-depth description of the question you have**:

When I follow the hack/local-up-karmada.sh to create cluster

https://github.com/karmada-io/karmada/blob/a084c8d7b09e7c3b361eea7137b86d4ed1fe3d20/hack/local-up-karmada.sh#L102-L104

and the create cluster func with 「kind」:
https://github.com/karmada-io/karmada/blob/a084c8d7b09e7c3b361eea7137b86d4ed1fe3d20/hack/util.sh#L349-L361

[2022-03-25 12:56] lonelyCZ opened #1546 "Add cluster-proxy-rbac for admin in multiple installation modes"
**What would you like to be added**:
We have introduced `cluster-proxy-admin-rbac.yaml` when use script to deploy Karmada at #1527 , we need to introduce it in other installation modes.

- [x] karmadactl init (#1550 by @AllenZMC )
- [x] helm (#1547  by @AllenZMC )

[2022-03-25 14:39] AllenZMC commented on #1546
/assign

[2022-03-25 20:28] chinmaym07 commented on #1546
Hey Can I try work on the first one ? Please do guide me a little on this . I want to try it out.

[2022-03-26 00:50] RainbowMango commented on #1544
Yes, exactly as @lonelyCZ mentioned above.

It will be pretty easy to support `Statefulset` and `Daemonset` I guess.

@maidol Would you like to share your use case with us?

[2022-03-26 00:53] RainbowMango commented on #1545
My question is `menber1` and `member3` using different kubeconfig, sorry I didn't get you.

[2022-03-26 00:57] RainbowMango commented on #1546
Hi @chinmaym07 , this issue has been picked by @AllenZMC, thank you all the same.

This issue might be a little bit involved for you.  I can cc you when there are some appropriate tasks.

[2022-03-26 00:57] RainbowMango commented on #1546
Good job @lonelyCZ , I totally forgot this.

[2022-03-26 01:00] RainbowMango commented on #1546
/assign @AllenZMC
(correct the wrong command/typo)

[2022-03-26 01:21] RainbowMango commented on #1361
/close

[2022-03-26 01:21] #1361 closed

[2022-03-26 02:35] Charlie17Li commented on #1545
but there is the same ENV enviroment shared in the `local_up_karmada.sh` when create the `member1` `member2` `member3`: `${MEMBER_CLUSTER_KUBECONFIG}`

[2022-03-26 02:54] RainbowMango commented on #1545
Yeah, I get what you mean.

Given the `MEMBER_CLUSTER_KUBECONFIG` defaults to `${HOME}/.kube/members.config`, we creating the cluster by order:
1. Creating `member1` --> create the `${HOME}/.kube/members.config`
2. Creating `member2` --> remove and recreate `${HOME}/.kube/members.config`
3. Creating `member3` --> remove and recreate `${HOME}/.kube/members.config`

It's weird that I can see the `3`

[2022-03-26 05:02] Charlie17Li commented on #1545
In the normal situation:

<img width="357" alt="image" src="https://user-images.githubusercontent.com/32014420/160225431-a25567b9-90b5-43ec-a0a3-bc576774b12d.png">

but I don't konw if the follow situation exist
<img width="536" alt="image" src="https://user-images.githubusercontent.com/32014420/160225477-2632df76-e5f0-4303-aed7-7be048767662.png">

[2022-03-26 06:23] RainbowMango commented on #1545
Yeah, you are right!!!

Any idea about how to fix it?

[2022-03-26 06:32] RainbowMango commented on #1545
Do you think this works?
[code]

Or

[code]

[2022-03-26 08:47] Charlie17Li commented on #1545
I think both work, perhaps the second is more elegant, since the OS can lock fd (file descriptor) and 「kind」remove the specified cluster

[2022-03-26 08:58] RainbowMango commented on #1545
Yes, I prefer the second one too. Would you like to send a PR for this? @Charlie17Li

[2022-03-26 09:18] huone1 opened #1551 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit PRs 15+
The main ones are as follows：
- https://github.com/karmada-io/karmada/pull/1506
- https://github.com/karmada-io/karmada/pull/1512
- https://github.com/karmada-io/karmada/pull/1500
- https://github.com/karmada-io/karmada/pull/1448
- https://github.com/karma

[2022-03-26 09:20] huone1 commented on #1551
@kevin-wangzefeng

[2022-03-26 09:53] RainbowMango commented on #1551
/lgtm

[2022-03-26 10:21] GitHubxsy commented on #1545
@RainbowMango  Does this slow down local-up-karmada.sh?

[2022-03-26 12:57] ikaven1024 commented on #1535
thanks. and where is resource bings deleted?

[2022-03-28 01:10] XiShanYongYe-Chang commented on #1535
We add OwnerReference to resourceBinding when create, so it will be removed by gc-controller.

https://github.com/karmada-io/karmada/blob/e85d376bcc3f545619cedd3549d5a7ee274ba74d/pkg/detector/detector.go#L658-L660

[2022-03-28 01:39] RainbowMango commented on #1551
/close

[2022-03-28 01:40] #1551 closed

[2022-03-28 09:06] Arhell opened #1554 "Request to be a member of Karmada"
Hello
My contributions
https://github.com/karmada-io/website/issues/created_by/Arhell
https://github.com/karmada-io/website/issues?q=is%3Aissue+author%3AArhell+is%3Aclosed

PRs
https://github.com/karmada-io/website/pulls/Arhell
https://github.com/karmada-io/website/pulls?q=is%3Apr+author%3AArhell+is%3Aclosed

I want to improve the site, fix bugs, ui , accessibility and more.

Thanks for attention!

[2022-03-28 09:52] RainbowMango commented on #1554
+1
Thanks @Arhell for your contributions.
/assign @kevin-wangzefeng

[2022-03-28 09:54] ikaven1024 opened #1555 "API版本代沟问题"
按照我的理解，用户在控制面APIServer创建Workload，然后由karmada按照API Version支持能力分发到下层集群。所以Workload的版本必须需要控制面和成员集群同时支持才可以。

但是随着事件推移，成员集群的版本可能会差别越来越多，甚至出现版本代沟。例如：

|  API版本 | Cluster1  | Cluster2 |
|--|--|--|
|  alphav1 |  O  | X  |
|  betav1 |  X  |  O |
|  v1 |  X  |  O |

而控制面面的APIServer无法同时覆盖alphav1、alphav1、v1三个版本。
如果集群版本又升级不了，那么控制面就无法管理所有集群。

关于这个问题，不知道有什么想法？

[2022-03-28 10:09] RainbowMango commented on #1555
很好的问题。控制面`APIServer`所支持的API应该是所管理集群的超集。

另外补充一点：karmada管理集群的方式通常不会变，单个API变化影响的仅仅是某个特性，不至于无法管理。

另外，可以说下你们的场景吗？比如具体哪个API变化，你们集群版本范围？

[2022-03-28 10:16] ikaven1024 commented on #1555
比如有些老的集群，Deployment还在用extensions/v1beta。但是k8s 1.16之后对extensions不再支持。那么这两个集群就无法做联邦。

[2022-03-28 11:15] RainbowMango commented on #1555
k8s默认不再开启`extensions/v1beta`, 根据[这个说明](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals) 仍然可以使用：
[code]

[2022-03-28 12:02] GitHubxsy commented on #1555
哈哈，“**代沟**”这词很形象。不同K8s版本API版本的代沟。

[2022-03-28 14:42] GitHubxsy commented on #1555
以下是我的观点：
1、K8s核心的API基本已达到GA。（除非很低版本的K8s）
2、karmada用kube-apiserver作为入口组件的原因：天然支持原生API，用户不需要手动安装K8s API（API版本由kube-apiserver版本决定）。当然也随着带来与子集群版本可能不一致的问题。
3、使用general-apiserver（即去掉Core api的kube-apiserver，或者采用社区[kcp](https://github.com/kcp-dev/kcp)），用户可以自己安装对应版本CRD（把deployment、statefulset等也看做CRD）。
如何解决上述不一致的问题：
1、升级K8s版本 （**推荐**）
2、为了不同版本的API保持一致性，在集群中增加webhook，将v1的deployment请求转化为v1beta1的deployment以支持老

[2022-03-29 01:49] XiShanYongYe-Chang commented on #317
/cc @huone1

[2022-03-29 07:02] guyingyan opened #1557 "it's failed that installed with helm for used other namespaces"
installed release 1.1.0 with helm , did not use  karmada-system, but used other namespace

helm install karmada -n test --create-namespace ./charts

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or karmadactl version (the result of `k

[2022-03-30 03:48] RainbowMango opened #1560 "Proposal for English meeting time"
For now, the community running [a regular bi-weekly](https://github.com/karmada-io/karmada#meeting) meeting with Chinese.

We are glad to set up another meeting with folks who speak English.
If you are interested in joining the meeting, please feel free to propose a meeting time by reply to this issue.

[2022-03-30 06:57] RainbowMango commented on #1554
Kindly ping @Arhell, have you received the invitation?

[2022-03-30 08:41] RainbowMango commented on #1554
/close
Welcome, @Arhell !

[2022-03-30 08:41] #1554 closed

[2022-03-30 09:47] CharlesQQ opened #1564 "The current karmada scheduler only supports inter-cluster scheduling, how to support IDC dimension scheduling"
Our k8s cluster is deployed in multiple IDCs, and each IDC may have multiple clusters. The current requirement is to schedule scheduling in the IDC dimension. Users can specify the following three scheduling strategies:
1. Specify the total number of replicas and the list of deployable IDCs
2. Specify the list of deployable IDCs and the number of pod replicas that each IDC needs to deploy
3. Speci

[2022-03-30 11:45] lonelyCZ commented on #1363
/assign

[2022-03-31 01:38] CharlesQQ opened #1567 "How to Support dynamically adding overriders"
**What would you like to be added**:
We have a custom controller for Annotation-based gray code release; The different code release batch for cluster has the different metedata.annotation value, the value  needs to be dynamically added in the overridepolicy and it's changed for each code release batch;

**Why is this needed**:
Support to dynamically add and complete this part of overriders before

[2022-03-31 07:50] prodanlabs opened #1568 "In pull mode, can karmada be able to get pod logs and exec pod like kubeedge"
I personally think there are many similarities between pull mode and `kubeedge` edge, can karmada learn from kubeedge to enhance pull mode, e.g.  `get pod logs`, `exec  pod`. What do you think :)

[2022-03-31 09:10] lonelyCZ commented on #1568
Cool, directly access to pod from control plane, it can collaborate with `karmadactl get`.

Like,
[code]

[2022-03-31 09:14] lonelyCZ commented on #1568
I am still interested in this feature, but I don't know actual needs of customers. Look forward to more discussions in this issue.

[2022-03-31 09:23] prodanlabs commented on #1568
I also think it's a nice feature, as it was discussed on kubeedge and a lot of people love it.

[2022-03-31 09:30] prodanlabs commented on #1568
Now the karmada control plane is unable to get the pod logs of the member cluster (pull mode)
like
[code]
 or pods that cannot be entered into a member cluster (pull mode) via on the karmada control plane
[code]

[2022-03-31 09:32] lonelyCZ commented on #1568
My understand that for pull mode cluster, it is like `Node` that is One-sided communicate with control plane. For kubeedge, it seemingly erect a tunnel to access nodes.

[2022-03-31 09:34] prodanlabs commented on #1568
Like in the cloud kubedge can use `kubectl exec -it <pod_name>` to enter the pod of the edge node

[2022-03-31 09:42] lonelyCZ commented on #1568
But now, we also need to access apiserver of member cluster by third-party networking tools like [ANP](https://github.com/karmada-io/karmada/blob/master/docs/working-with-anp.md). Similarly, we also need to erect a extra tunnel to access pod.

[2022-03-31 09:43] RainbowMango commented on #1568
Yes, I like the feature.

[2022-03-31 09:50] prodanlabs commented on #1568
kubeedge does a lot of work on the cloud-edge network link, so this functionality is relatively easy for kubeedge. How does karmada implement this function elegantly, I currently have no good solution.

[2022-03-31 09:51] RainbowMango commented on #1564
cc @huone1 for comments. @CharlesQQ we can talk about it at next meeting and see if it can be included in this release.

[2022-03-31 09:55] lonelyCZ commented on #1568
I think we need a network plugin that can support to access directly to nodes from control plane. This plugin can be installed according to the user's choice.

[2022-03-31 11:00] RainbowMango opened #1569 "Deprecate `hpa` controller"
**What would you like to be added**:
As we discussed at last community meeting, we are going to deprecate the [hpa controller](https://github.com/karmada-io/karmada/tree/master/pkg/controllers/hpa).

The `hpa` controller will be disabled by default in v1.2.

**Why is this needed**:
It will be replaced by a new controller, `federatedhpa` described at [this proposal](https://github.com/karmada-io/ka

[2022-03-31 14:22] GitHubxsy commented on #1568
![image](https://user-images.githubusercontent.com/11901080/161077196-e600093f-871b-4a8f-ab82-0c492201e750.png)

If the network problem is caused by the internal cluster, the problem should be solved in cluster instead of karmada.

[2022-03-31 14:23] lonelyCZ commented on #1568
There seems other port to access containers of pod for `logs` and `exec` commands rather than through `apiserver`.

refer https://kubernetes.io/docs/concepts/cluster-administration/logging/

[2022-03-31 14:38] lonelyCZ opened #1571 "Error reported when executing `kubectl edit cluster`"
**What happened**:
When I executing `kubectl edit cluster member1`, there is a error whatever I do and even do nothing.

[code]

I found that it is to delete `subresource: status` that will not to report error.

[code]

**What you expected to happen**:
There is no this error when edit cluster.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to kn

[2022-04-01 01:17] XiShanYongYe-Chang commented on #1568
We can `logs` and `exec` throuth `clusters/proxy`, why `other port to access containers of pod`?

[2022-04-01 01:34] GitHubxsy commented on #1564
`IDC ` == `Region` ？

[2022-04-01 01:55] huone1 commented on #1564
1. Because to support IDC dimension scheduling, should the cluster object add an IDC field?
    you can use the cluster API spec.zone field  and  the IDC is  as a special zone
2. the scheduling strategy plugin-in is in progress.

[2022-04-01 02:48] lonelyCZ commented on #1568
I don't know the exact mechanism yet. I am going to research it in this time, perhaps we can discuss it in next community meeting.

[2022-04-01 03:14] CharlesQQ opened #1573 "How to add or remove targetCluster in propagationpolicy dynamically?"
**Please provide an in-depth description of the question you have**:
Some deployment's replicas be managed by cronhpa, but podtemplates should be managed by karmada; When  cronhpa object is created,  the cronhpa cluster should be added to targetCluster in propagationpolicy dynamically, vice versa; Only in this way, When deployment is updated By karmada, deployment in cronhpa cluster will also be u

[2022-04-01 06:39] ikaven1024 opened #1574 "PVC 跨集群迁移"
用户在控制面创建了一个pod以及对应的pvc，并且在一个子集群上运行起来了。此时因集群故障或者其他原因，需要将pod迁移到另外的集群。在新的集群里，pod由重新绑定了一个新的PV，这样，之前PV中的数据丢失。

希望能实现PV在多集群中共享，这样无论pod如何迁移，都不会丢失数据。

[2022-04-01 07:21] RainbowMango commented on #1571
Yeah, I reproduced this issue on my side.
I tried to add `.spec.provider` filed to a cluster, then I found
[code]
cc @XiShanYongYe-Chang
/priority important-soon

[2022-04-01 07:34] #1546 closed

[2022-04-01 07:51] RainbowMango commented on #1574
这里的迁移是管理员手动迁移，还是karmada自动执行的迁移？
（不同的迁移的方式，处理思路会有不同）

[2022-04-01 08:07] XiShanYongYe-Chang commented on #1571
Hi @lonelyCZ @RainbowMango , I edit cluster object successfully:
[code]
Is it related to the kubectl version in use?

[2022-04-01 08:11] RainbowMango commented on #1571
My kubectl :
[code]
I'll try one a newer version.

[2022-04-01 08:11] GitHubxsy commented on #1574
需要的是跨集群的PV？ 这个与集群内csi存储插件强相关。

[2022-04-01 08:12] XiShanYongYe-Chang commented on #1571
I use kubectl version `v1.22.3` and `v1.23.1` test ok.

[2022-04-01 08:13] lonelyCZ commented on #1571
I also this version.

[code]

[2022-04-01 08:14] ikaven1024 commented on #1574
我们在对karmada做调研。设想的场景都有的。
1. 自动迁移：1）集群故障时，调度器发起重调度  2）资源不均衡时重调度
3. 手动迁移：集群下线维护前，管理员手动漂移。

[2022-04-01 08:20] ikaven1024 commented on #1574
我们可以保证，所有集群都安装相同的插件。比如都使用nfs-client-provisioner。
pod在集群A中创建的存储 nfs://pv/xxxx。 等pod漂移到集群b时候，能够重新挂载这个存储。

[2022-04-01 08:24] RainbowMango commented on #1571
After I update `kubectl` from `1.18.0` to `v1.23.5`, It works fine.

I guess we need to find the root cause and add an item to [Troubleshooting](https://github.com/karmada-io/karmada/blob/master/docs/troubleshooting.md).

[2022-04-01 08:37] lonelyCZ commented on #1571
I test `kubectl` of `v1.19.16` that is ok.

[2022-04-01 08:56] XiShanYongYe-Chang commented on #1571
I will try to find it.

[2022-04-01 08:57] XiShanYongYe-Chang commented on #1571
Looks like we can start with kubectl version 1.18.

[2022-04-01 09:41] chinmaym07 commented on #1560
India Standard Time
1:00 pm to 2:00 pm IST
(13:00 to 14:00 IST)

GMT+8
3:30 pm to 4:30 pm GMT+8
(15:30 to 16:30 GMT+8)

[2022-04-01 09:58] RainbowMango commented on #1571
https://github.com/kubernetes/kubernetes/pull/91946

That's might be the reason why it works for 1.19+.

[2022-04-01 13:06] GitHubxsy commented on #1574
提供几个思路：
1、手动创建PV，绑定PVC。分发deployment、PV、PVC到成员集群中。
2、增强csi插件，同名的deployment挂在的PVC（标注annotation等） 自动创建PV时，底下存储路径保持一致。
3、csi-controller部署在karmada控制面，PV，PVC，Deployment分发到统一个集群中（**当前不支持**）。

[2022-04-01 13:16] GitHubxsy commented on #1573
When the number of deployment replicas is managed by hpa or cronhpa, Karmada should not update the replicas.When updating other fields such as image, Karmada needs to update it.
Is my understanding correct?

[2022-04-02 06:16] CharlesQQ commented on #1573
@GitHubxsy correct

[2022-04-02 06:31] Poor12 commented on #1569
/assign

[2022-04-02 07:29] CharlesQQ opened #1578 "When karmada call interperter webhook server failed, karmada controller will panic"
**What happened**:
karmada controller panic when call interpreter webhook failed, the following is the stack information:
[code]

**What you expected to happen**:
Should print out the call failure message, not panic

**How to reproduce it (as minimally and precisely as possible)**:
I create interpreter webhook for deployment, like follow message
[code]
**Anything else we need to know?**:

**Enviro

[2022-04-02 08:43] RainbowMango commented on #1578
Agree. The panic happened after invoking the webhook, right? From the stack backtrace, I can't see the line where panics. Can you remind me?

[2022-04-02 09:31] CharlesQQ commented on #1578
The interpreter webhook is similar example in karamda, when no patch data, response's Patch and PatchType field is nil
<img width="673" alt="image" src="https://user-images.githubusercontent.com/18431718/161376938-3ecc2182-69bb-4ae8-90cf-9e7d6750aba2.png">

the panic happend in here
<img width="866" alt="image" src="https://user-images.githubusercontent.com/18431718/161377018-6fadfaf7-22e6-424c-8c

[2022-04-02 09:57] XiShanYongYe-Chang commented on #1578
Hi, @CharlesQQ , we have check response with func `verifyResourceInterpreterContextWithPatch`:

https://github.com/karmada-io/karmada/blob/7a1e96ea45817918c8df88b0b6e2a2b089a34901/pkg/resourceinterpreter/customizedinterpreter/webhook/resourceinterpretercontext.go#L127-L129

There should be no panic.

[2022-04-02 10:46] CharlesQQ commented on #1578
The interpreter webhook server is similar example in karamda, when no patch data, response's Patch and PatchType field is nil, here is webhook server response code
<img width="673" alt="image" src="https://user-images.githubusercontent.com/18431718/161376938-3ecc2182-69bb-4ae8-90cf-9e7d6750aba2.png">

the controller panic happend in here, it's a bug
<img width="866" alt="image" src="https://user-i

[2022-04-06 01:00] XiShanYongYe-Chang commented on #1578
@CharlesQQ , of course you can fix bugs, but I think here will occur no panic. It's somewhere else that's wrong.

[2022-04-06 02:13] XiShanYongYe-Chang commented on #1578
Thanks @RainbowMango, It is indeed the mistake you pointed out. Can you help to fix it?

[2022-04-06 02:52] RainbowMango commented on #1568
Thanks @lonelyCZ .
/assign @lonelyCZ

[2022-04-06 03:25] CharlesQQ commented on #1578
@XiShanYongYe-Chang Ok

[2022-04-06 04:02] RainbowMango commented on #1578
/assign @CharlesQQ
Thanks~~.

[2022-04-06 07:15] #1569 closed

[2022-04-06 09:01] #1091 closed

[2022-04-06 09:59] 13567436138 opened #1585 "error: You must be logged in to the server (the server has asked for the client to provide credentials)"
**Please provide an in-depth description of the question you have**:
[code]
**What do you think about this question?**:

**Environment**:
- Karmada version:
karmadactl version: version.Info{GitVersion:"v0.0.0-master", GitCommit:"unknown", GitTreeState:"unknown", BuildDate:"unknown", GoVersion:"go1.17.1", Compiler:"gc", Platform:"linux/amd64"}
- Kubernetes version:
[root@node01 karmada]# kubectl ve

[2022-04-07 02:07] #1578 closed

[2022-04-07 02:21] hzxuzhonghu opened #1587 "Uninstall karmada using helm is not clean"
**What happened**:

I tried install karmada controlplane by helm, and a little while later I tried to uninstall it following https://github.com/karmada-io/karmada/tree/master/charts#uninstalling-the-chart

But I found after uninstall finished, there are still many resources left. Like secret, configmap.

**What you expected to happen**:

All resources created by install including karmada-system sh

[2022-04-07 03:13] RainbowMango commented on #1544
/assign @Poor12
As I see a PR for this issue.

[2022-04-07 05:28] mikeshng commented on #1560
I want to propose 16:00 UTC which is noon time for NA EST but that will be kind of late for participants from China.

Is there a particular time range to choose from? Is it 9AM to 5PM Shanghai time?

It will be nice if the English meeting is recorded and uploaded to somewhere as well. Thanks.

[2022-04-07 06:30] lonelyCZ commented on #1585
Could you give us more information? What command do you use to deploy Karmada? And you can check the pod status in other terminal when you is executing this command.

[2022-04-08 03:27] #1544 closed

[2022-04-08 03:52] RainbowMango commented on #620
I get it, it's a useful use case. Thanks for the feedback.

/close

[2022-04-08 03:52] #620 closed

[2022-04-08 07:28] 13567436138 commented on #1585
./hack/remote-up-karmada.sh /root/.kube/config context-cluster1  false

[2022-04-08 07:51] lonelyCZ commented on #1585
I guess the error happened in phase of installing CRD in `karmada-apiserver`.

https://github.com/karmada-io/karmada/blob/b4be8be08d2b8bb5291b2d7707b5a7bd4a8e8ce6/hack/deploy-karmada.sh#L203-L220

Can you access normally the `karmada-apiserver` by using kubectl, `kubeconfig` and `karmada-apiserver context`?

[2022-04-08 09:52] XiShanYongYe-Chang opened #1593 "[E2E] Add case to cover resource status collection"
Just like E2E case to test [`DeploymentStatus collection testing`](https://github.com/karmada-io/karmada/blob/b4be8be08d2b8bb5291b2d7707b5a7bd4a8e8ce6/test/e2e/resource_test.go#L20), we also need to add case to test other resource status collection, include:
- [x] Service: #1665
- [x] Ingress: #1679
- [x] Job #1737
- [x] DaemonSet #1737
- [x] StatefulSet #1737

The relevant collection logic is loc

[2022-04-08 09:53] XiShanYongYe-Chang commented on #1593
Anyone who is interested in this task can join in.

/help

[2022-04-08 10:06] fanzhihai0215 opened #1594 "helm: cluster proxy rbac should be installed in karmada-apiserver"
**What happened**:
`proxy-rbac` is in host cluster rather than karmada-apiserver.

**How to reproduce it (as minimally and precisely as possible)**:
Install karmada with helm.
[code]
`kubectl --kubeconfig karmada-apiserver.config get clusterrole | grep proxy` return nothing.

**Environment**:
- Karmada version: master

[2022-04-09 01:56] 13567436138 commented on #1585
[code]

yes I can

[2022-04-09 01:58] 13567436138 commented on #1585
[root@node01 karmada]# kubectl get pod --all-namespaces
error: You must be logged in to the server (Unauthorized)

[2022-04-09 03:00] lonelyCZ commented on #1585
It is probably certificate problem, why there is different from above? Did you perform any operations？

[2022-04-09 06:11] lonelyCZ commented on #1585
You could check `/root/.kube/config` and the status of `karmada-apiserver` pod.

[2022-04-09 09:25] AllenZMC commented on #1594
Is your k8s cluster deployed with kubeadm or kind? @fanzhihai0215

[2022-04-09 10:16] fanzhihai0215 commented on #1594
kind.

BTW. I suggest load all images in advance using `kind load docker-image`. I feel your network is not good. Too much time to pull images...

@AllenZMC

[2022-04-09 11:00] AllenZMC commented on #1594
OK. What command did you use: helm or `hack/remote-up-karmada.sh`? Is your kind a single node?

[2022-04-09 14:00] lonelyCZ commented on #1568
I agree with it!

I found that get logs of container in kubernetes only accessing api (like `api/v1/namespaces/default/pods/nginx-6799fc88d8-9mpxn/log?container=nginx`) that internally implements a set of methods to get logs.

In Kubeedge, because it cuts some of the functionality of K8S, it needs to implement log collection by itself. It redirects the interface for getting logs to its own impleme

[2022-04-10 10:17] AllenZMC opened #1598 "helm: Unable to connect to the api server"
**Please provide an in-depth description of the question you have**:

What network problem is this? How to use this karmada-apiserver config?
[code]

**What do you think about this question?**:

**Environment**:
- Karmada version: master
- Kubernetes version:
- Others:
- kind: kind v0.12.0 go1.17 linux/amd64

[2022-04-11 00:57] fanzhihai0215 commented on #1594
helm.

Yes.
[code]

@AllenZMC

[2022-04-11 01:00] AllenZMC commented on #1594
How do you get and use the karmada apiserver kubeconfig? @fanzhihai0215

[2022-04-11 01:33] fanzhihai0215 commented on #1594
get: `$ kubectl get secret -n karmada-system karmada-kubeconfig -o jsonpath={.data.kubeconfig} | base64 -d`

Set karmada apiserver kubeconfig `insecure-skip-tls-verify: true` and remove `certificate-authority-data`. You should use kubeconfig in the kind container. Because you are out of the karmada apiserver cluster.

@AllenZMC

[2022-04-11 01:58] AllenZMC commented on #1594
Thanks, what container image are you using? @fanzhihai0215

[2022-04-11 01:59] carlory commented on #1593
/assign

[2022-04-11 02:15] #1598 closed

[2022-04-11 03:36] fanzhihai0215 commented on #1594
kindest/node:v1.22.0

[2022-04-11 06:54] XiShanYongYe-Chang commented on #1593
@carlory Thanks~

[2022-04-11 09:48] qianjun1993 opened #1601 "How to ReScheduler workloads like ConfigMap when add new clusters"
**What would you like to be added**:
A new scheduler condition for workloads like ConfigMap when new clusters add

**Why is this needed**:
For example we have a  ConfigMap and at least one deployment for one work, so they have the same PP. In first schedule, they are scheduled to cluster A and B with label X . And then we add Cluster C with label X to Karmada.  After that , we scale up these deplo

[2022-04-11 10:51] AllenZMC commented on #1594
How are you running this container? @fanzhihai0215

[2022-04-12 01:52] RainbowMango commented on #1587
/assign @Poor12
as #1602

[2022-04-12 02:00] RainbowMango commented on #1262
@Poor12 Could you please take a look helm thing? I guess @jrkeen and @pidb are pretty busy these days.

[2022-04-12 03:10] prodanlabs opened #1605 "Is there a plan to support the karmada scheduler extension"
**Please provide an in-depth description of the question you have**:

Recently we have a requirement that workloads are scheduled according to real-time custom metrics, such as: GPU metrics according to Prometheus.

**What do you think about this question?**:

I don't know much about the karmada scheduler, it seems that it is more difficult to scale, it would be great if it can be scaled as easily

[2022-04-12 03:22] RainbowMango commented on #1605
For a quick answer: Yes, there is a plan to support the scheduler extension.

We want to know more details about your use case and what's your detailed expectation. Should we meet at the community meeting and have a chat there.

cc @huone1 who is working on scheduler these days.

[2022-04-12 03:29] huone1 commented on #1605
is **the karmada scheduler extension** is dynamically extend scheduling capabilities via an http request or modify the source code of karmada-scheduler

[2022-04-12 04:00] prodanlabs commented on #1605
For example, the workload is distributed to `member1` and `member2`.At this time, karmada does not know the GPU usage of `member1` and `member2`, and can only be allocated according to the expected weight.

If karmada can call a user-defined plugin, then it knows that `member1` has a higher GPU usage than `member2`, and can automatically adjust the weights to distribute more workloads to `member2`

[2022-04-12 05:38] lonelyCZ commented on #1605
There are two ways to extend scheduling capabilities in `k8s`:

1. [scheduler-extender](https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/1819-scheduler-extender): it extend scheduling capabilities via an http request, the advantage is needing not to recompile `kube-scheduler`.
2. [scheduler framework](https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-fram

[2022-04-12 08:12] prodanlabs commented on #1605
`scheduler-extender` seems to be deprecated, and now most custom plugins are created based on the `scheduler framework`.
https://github.com/kubernetes-sigs/scheduler-plugins

[2022-04-12 12:03] Poor12 commented on #1557
I tried to install karmada without karmada-system. And It works.
![image](https://user-images.githubusercontent.com/26862112/162958437-54d12530-87d6-43e4-b180-f5b1a77e99ae.png)

[2022-04-13 01:45] RainbowMango commented on #1557
Hi @guyingyan sorry for letting this sit so long. I missed this issue.

Please tell us more details about what happened, any logs?

[2022-04-13 02:14] #1594 closed

[2022-04-14 01:13] #1587 closed

[2022-04-14 03:47] huone1 commented on #1605
@prodanlabs  let's discuss it  by slack and clarify your needs. my ID is wanxing hu

[2022-04-14 06:56] xkkker commented on #1082
same problem. did u fix it ? I test with the Karmada in my local environment and join a member cluster to karmada.

I can see that my cluster is joined but the status of cluster is Unknown, and sometimes went to False..
Describe the cluster and I get this Message:` Cluster status controller stopped posting cluster status.`

Then I check the controller-manager's log but it seems not errror in it .

[2022-04-14 07:18] RainbowMango commented on #1082
@xkkker Which [cluster modes](https://github.com/karmada-io/karmada/blob/master/docs/userguide/cluster-registration.md#overview-of-cluster-mode) do you select for your member cluster? `Pull` or `Push`?

If you are using `Pull` mode, you should get the log from `karmada-agent`.

[2022-04-14 07:33] xkkker commented on #1082
Hi~
I use Push mode to join the cluster.
[code]

[2022-04-14 07:38] xkkker commented on #1082
And I tried to deploy a deployment to the member cluster. And it report that `no clusters fit`, so, I guess the cluster is really not ready...
[code]

[2022-04-14 07:52] RainbowMango commented on #1082
Yes, we should check logs of `karmada-controller-manager` for a cluster in `Push` mode.
How many replicas do you set for your deployment which holds the `karmada-controller-manager`? Have you checked all the pods?
Can you post the logs you get?

[2022-04-14 08:02] xkkker commented on #1082
Oh.. I found the error in the log now. Thanks for your help.
It seems that my cluster network has some problem and the karmada controller manager can not connect to the apiserver of the member cluster.
I will try to fix the network issue.

[2022-04-14 08:29] kerthcet commented on #1605
Refer to kube-scheduler, two ways are quite clearly:
1. support KarmadaSchedulerConfiguration as KubeSchedulerConfiguration in kubernetes, I think this is what we want finally.
2. support out-of-tree plugins but need to compile yourself, I used to implement this feature in https://github.com/karmada-io/karmada/issues/1371

[2022-04-14 08:34] RainbowMango commented on #1371
I think we are ready to start the discussion now, right? @huone1

[2022-04-14 12:29] RainbowMango opened #1614 "[Docs] tutorial of working with Open Policy Agent"
**What would you like to be added**:
We need a demo to run OPA on the Karmada control plane to see if there is any change needed. And after that, we can provide a tutorial to describe how to run OPA on Karmada. So the tasks would be:
- [ ] Run a demo with OPA( by precisely [Gatekeeper](https://open-policy-agent.github.io/gatekeeper/website/docs/howto) )
- [ ] Make changes to Karmada if there are a

[2022-04-14 13:12] AllenZMC opened #1615 "Request to be a Member of Karmada"
I'm requesting to be a Member of Karmada.
Recently，I started to to participate in the development of the community and submit PRs 14+
PRs：
https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3AAllenZMC+is%3Aclosed+

<img width="491" alt="企业微信截图_a88e6575-421b-4aab-9a2a-ddfab5fbeddd" src="https://user-images.githubusercontent.com/49428979/163397902-1b5e213e-8030-4537-9b71-ae9c0760a44d.png">

[2022-04-14 13:12] AllenZMC commented on #1615
@RainbowMango

[2022-04-15 01:11] RainbowMango commented on #1615
+1
/assign @kevin-wangzefeng

[2022-04-15 01:16] XiShanYongYe-Chang commented on #1615
+1

[2022-04-15 01:19] Poor12 commented on #1614
/assign

[2022-04-15 07:44] duanmengkk commented on #1042
I have the same problem，should we prompt the user in the shell script, let them manually clear ` /var/lib/karmada-etcd` ?
Or use some other method to help them clear the dir, this might be a little difficult because IP address of the machine where the script resides may be cannot access to  the IP address of etcd pod located in.

[2022-04-15 07:44] duanmengkk commented on #1042
/assign

[2022-04-15 07:50] duanmengkk commented on #1042
Or use sc instead of HostPath？

[2022-04-15 07:55] RainbowMango commented on #1042
@lonelyCZ How do you say? My general opinion is we should clean the garbage resource thoroughly, and prompt the user on the ones that we can't clear as @duanmengkk mentioned above.

[2022-04-15 08:19] prodanlabs commented on #1614
Oh, I've been researching this direction recently too.I look forward to it.

[2022-04-15 08:23] lonelyCZ commented on #1042
Yes, if the `etcd-pod` isn't in the host that `karmada control plane` is deployed, we can't directly delete the directory.

Yes, we can do this.

Is it complicated to introduce StorageClass? After all, script deployment is for quick experience and development, and other highly available deployment ways should be implemented later.

[2022-04-15 08:26] prodanlabs commented on #1605
cool, i'm looking forward to it !

[2022-04-15 08:27] prodanlabs commented on #1605
Next week, I'm resting recently.

[2022-04-15 08:46] duanmengkk commented on #1042
ok, i will add some prompting in shell

[2022-04-15 09:21] RainbowMango commented on #1614
That's great @prodanlabs , I got one for source to hear user cases.

I'm thinking about what kind of policies users want to enforce security and compliance when using Karmada.

[2022-04-15 09:56] prodanlabs commented on #1614
Enforce security, such as removing namespaces and CRDs.

Compliance policies, such as when there are multiple versions of CRDs, create operation users can only use the latest version.

I think these questions are relatively common. Currently we implement it through webhook, OPA should be more elegant.

[2022-04-15 10:36] ikaven1024 opened #1618 "cluster/proxy 下长链接问题"
**What happened**:
使用cluster/proxy来测试watch、logs -f、exec操作，均有失败结果。

0. 准备
[code]

2. Watch
[code]

3. logs
[code]

4. exec
[code]

**Environment**:
- Karmada version: v1.1.0
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`): karmadactl version: version.Info{GitVersion:"v1.1.0-138-gddd4cc29", GitCommit:"ddd4cc29929d8f4ce79fbe40a71f1765e2484649"

[2022-04-16 01:53] RainbowMango commented on #1618
cc @XiShanYongYe-Chang @lonelyCZ @prodanlabs

[2022-04-16 02:26] prodanlabs commented on #1618
`logs` : seems to be caused by http timeout

`exec` : I also encountered, the connection forwarded by the proxy cannot be upgraded to `SPDY` or `websocket`, I am also looking for a solution

[2022-04-16 02:40] prodanlabs commented on #1618
I went back and tried setting the value of the Connection header to `Upgrade` to indicate that this was an upgrade request. I don't know if it would work :(

[2022-04-16 05:38] lonelyCZ commented on #1042
[code]
Suggest a blank line

[code]

[2022-04-16 05:45] lonelyCZ commented on #1618
This problem will occur in about 30 seconds, I guess the proxy does not support long links now, we need to find out if it can be set.

[2022-04-16 06:22] XiShanYongYe-Chang commented on #1618
On my local site test, the process lasted about a minute:

[code]

[2022-04-16 06:30] lonelyCZ commented on #1618
Right，one minute on my side.

[code]

[2022-04-16 07:14] XiShanYongYe-Chang commented on #1618
the error info with watch `-w` and `logs` cmd:
[code]

[2022-04-18 01:22] AllenZMC commented on #1615
/cc @kevin-wangzefeng

[2022-04-18 02:00] kevin-wangzefeng commented on #1615
Invited, please visit https://github.com/karmada-io to accept invitation.

[2022-04-18 02:32] AllenZMC commented on #1615
/close

[2022-04-18 02:32] #1615 closed

[2022-04-18 09:30] XiShanYongYe-Chang commented on #1618
Hi @ikaven1024 , as @prodanlabs said, the error of `exec` command is not the problem of `http keep-alive` or `request timeout`.  I have no idea how to fix it just now.

[2022-04-18 09:46] XiShanYongYe-Chang commented on #1618
/assign

[2022-04-18 12:17] stingshen opened #1621 "controller manager crashes when cluster secretRef is empty"
**What happened**:

When cluster secretRef is nil, controller manager crashes.

**What you expected to happen**:

Controller manager should not crash at any time.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a cluster object with secretRef is nil
2. Controller manager crashes

**Anything else we need to know?**:

**Environment**:
- Karmada version:
1.1.1
- kubectl-

[2022-04-19 01:48] RainbowMango commented on #1621
Do you mean you create the `Cluster` by yourself (not by `karmadactl join` or `karmada-agent`)?

[2022-04-19 02:05] #1262 closed

[2022-04-19 02:05] RainbowMango commented on #1262
Thanks @Garrybest @Poor12 for your hard work. The `karmada-descheduler` is officially on board now!!!

[2022-04-19 02:58] stingshen commented on #1621
Yes. We are integrating Karmada into our system. The system has an api server and a controller manager. Users call the api server to register cluster. The api server creates a cluster object `without secretRef`, sa, impersonate sa, and doesn't wait for the sa secret to be generated. The controller manager watches for the cluster object and fill in the sa secret if available.

Anyway, I think the c

[2022-04-19 03:11] RainbowMango commented on #1621
Agree. (I'm asking because I want to know more details about your use case.)

[2022-04-19 03:58] prodanlabs commented on #1618
I used `websocket` to implement `exec` and also encountered the problem of `keepalive`. When requesting the gRPC endpoint, the keepalive time of the gRPC client is not within the allowable range of the server and an error is reported. The call chain of exec is very long, and I am still looking for the problem.
[code]

[2022-04-19 05:58] lonelyCZ commented on #1618
I found we seemingly always disable `upgradeRequired`.

https://github.com/karmada-io/karmada/blob/5b3ef7d93f63daac0b396ef50fdacb4ab0f5ca48/pkg/registry/cluster/storage/proxy.go#L112

https://github.com/karmada-io/karmada/blob/5b3ef7d93f63daac0b396ef50fdacb4ab0f5ca48/pkg/registry/cluster/storage/proxy.go#L126-L129

[2022-04-19 11:27] mrningyang opened #1624 "karmada有推荐的把原有k8s迁移到karmada的迁移方案吗？"
如果想使用karmada，迁移这块官方有推荐的解决方案吗？只能通过逐步把资源迁移上来，然后下线老k8s的方式吗？谢谢

[2022-04-19 14:28] prodanlabs commented on #1624
可以使用 `kubectl-karmada promote`  把k8s的资源提升到karmada
https://github.com/karmada-io/karmada/blob/master/docs/userguide/promote-legacy-workload.md

[2022-04-20 01:11] #1621 closed

[2022-04-20 02:14] mrningyang commented on #1624
ok，这种方式对子k8s的版本有要求吗

[2022-04-20 02:50] RainbowMango commented on #1624
基本上没有要求。只要你要同步的资源在k8s和karmada控制面同时可用就可以。

[2022-04-20 06:33] carlory opened #1626 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit PRs 12+

See:

https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Acarlory+is%3Aclosed

Hope bring more improvements for Karmada in the future.

[2022-04-20 06:35] carlory commented on #1626
@RainbowMango

[2022-04-20 08:10] RainbowMango commented on #1626
+1
Thanks @carlory for all your contributions!

/assign @kevin-wangzefeng

[2022-04-20 10:01] mrningyang commented on #1624
ok，karmada要求的k8s版本有限制吗，比较老的1.12版本也可以吗

[2022-04-20 10:22] RainbowMango commented on #1624
部署karmada-apiserver时选择`kube-apiserver`版本(v1.16及以上)就可以，老版本集群也可以管理，不过需要注意资源API是否匹配，比如1.12版本上的部分资源可能在1.16版本上已经弃用了。

[2022-04-20 10:49] pangsq commented on #1618
[tryUpgrade](https://github.com/kubernetes/apimachinery/blob/v0.23.4/pkg/util/proxy/upgradeaware.go#L321) lost the RawQuery because `h.Location` only have `Path`  set.

https://github.com/karmada-io/karmada/blob/8ea4c4d8819dc4c4b5fa885e3b24bb2fef910dbb/pkg/registry/cluster/storage/proxy.go#L63

I think that is the reason why `exec` fails.

Add `location.RawQuery = req.URL.RawQuery` before `newThro

[2022-04-20 11:07] lonelyCZ commented on #1624
你可以参考这个[文档](https://github.com/karmada-io/karmada/blob/master/docs/userguide/promote-legacy-workload.md)来使用promote命令

[2022-04-21 02:36] XiShanYongYe-Chang commented on #1618
Hi @pangsq , thanks for your solution, I test it works successfully. Can you help pull a request to fix it?

By the way, do you think other fields in the URL need to be handled? just as: `req.URL.Fragment`.

[2022-04-21 02:37] ikaven1024 commented on #1618
is it bug of k8s apimachinery?

[2022-04-21 03:09] XiShanYongYe-Chang commented on #1618
It should be a matter of our karmada use.

[2022-04-21 06:36] pangsq commented on #1618
I am glad to create a PR to fix it. As far as I know, `Fragment` is not used in apiserver.

[2022-04-21 06:37] XiShanYongYe-Chang commented on #1618
Thanks!

[2022-04-21 06:58] mrningyang commented on #1624
好的，感谢

[2022-04-21 07:24] huone1 commented on #1371
the first part  has been merged， I am looking forward that you can start the development of the second port

[2022-04-21 08:38] kerthcet commented on #1371
I have completed the second part but will follow after https://github.com/karmada-io/karmada/pull/1627 merged for some extra works.

[2022-04-21 09:10] merryzhou opened #1634 "support configuring allocatable resource of member clusters"
**What would you like to be added**:

Suppose a member cluster with total resource: 1000 CPU, and 200 CPU can be used by applications that deployed through karmada

**Why is this needed**:

my member cluster can be used directly, and I want to guarantee the total amount of available resources of the member cluster

[2022-04-21 09:23] RainbowMango commented on #1634
Do you mean you want to restrict the resource quota for applications that are deployed by Karmada?  These applications can't exceed a hard limit(200CPU in your case)?

[2022-04-22 02:00] #1618 closed

[2022-04-22 02:31] merryzhou commented on #1634
yes

[2022-04-22 02:42] RainbowMango commented on #1634
Then, I guess the [FederatedResourceQuota](https://github.com/karmada-io/karmada/blob/bb46766f63b52a0fea41c84b9fc2f42aeb1409a1/pkg/apis/policy/v1alpha1/federatedresourcequota_types.go#L25) might help. You can set the quota for each namespaces that Karmada might sync workload to properly.
The scheduler will prevent workload from scheduling to that cluster if the quota exceeds the limit(The implemen

[2022-04-22 03:12] Garrybest opened #1640 "Replicas may be rescheduled even if `Failover` is disabled"
**What happened**:

In some circumstance even if `Failover` is disabled, replicas in some member cluster still have a change to be removed especially when scaling up.

E.g.,

1. We have a deployment with a 5 desired replicas which are propagated to member cluster A.
2. The cluster is a little bit busy so the connection between karmada-agent and kube-apiserber of member A is lost for about 1 minute

[2022-04-22 06:02] yanlingsishao commented on #648
请问真实的集群机器打通pod网络，是直接在集群上执行ip route么，还是在集群的某个pod中执行

[2022-04-22 06:04] yanlingsishao commented on #648
/open

[2022-04-22 06:06] yanlingsishao commented on #648
@RainbowMango
请问真实的集群机器打通pod网络，是直接在集群上执行ip route么，还是在集群的某个pod中执行

[2022-04-22 06:29] yanlingsishao opened #1643 "请问如何打通两个集群的网络，submariner？"
请问如何打通两个集群的容器网络，使用submariner？

**Environment**:
- Karmada version: 0.9.0
- Kubernetes version: 1.21

[2022-04-22 06:53] RainbowMango commented on #1643
submariner是个选项，这里有篇文档可以参考：https://github.com/karmada-io/karmada/blob/master/docs/working-with-submariner.md

[2022-04-23 07:56] dddddai commented on #1640
I think the root cause is that we don't **retain clusters** when scheduling, which means whenever a schedule is triggered, it would remove "unfit" clusters from rb.

This can be dangerous not only when clusters become not ready, but also when there's any change making clusters "unfit" (e.g. label changes...), because they will be evicted in the next schedule

Not sure if https://github.com/karmada

[2022-04-23 08:01] #1245 closed

[2022-04-24 02:02] RainbowMango commented on #1626
Hi @carlory  The invitation has been sent, please check your GitHub notifications.

[2022-04-24 02:10] duanmengkk opened #1644 "Karmada should rescheduled when a new cluster is joined"
**What would you like to be added**:
when I apply a `propagationPolicy ` and has a cluster haven't joined,karmada will generate  a `resourcebinding `not include the cluster. When this cluster has joined,the  `resourcebinding ` will not regenerated, and will not rescheduled. This makes users must delete  `propagationPolicy `and `resourcebinding ` manually and recreate them so the new joined cluster

[2022-04-24 02:48] ikaven1024 opened #1645 "docker image is not support for arm platform"
**What happened**:
I ran `hack/remote-up-karmada.sh` on my mac(M1 chip) with podman + KIND running.

After few minutes，script failed and reports:
[code]

[code]

finally, i found than karmada-aggregated-apiserver image is only for `linux/amd64`, not supported for `linux/arm64`

[code]

[code]

Could you provide karmada-aggregated-apiserver with arm supported on huawei cloud registry?

**What you e

[2022-04-24 02:55] carlory commented on #1626
@RainbowMango thanks!

[2022-04-24 02:55] #1626 closed

[2022-04-24 02:57] duanmengkk commented on #1640
Excuse me, what do you means by **retain clusters** ?

[2022-04-24 03:08] RainbowMango commented on #1645
Hi @ikaven1024 , Thanks for giving us feedback. We are in the progress of changing the default image registry from the Huawei cloud to DockerHub.  Now the images for arm is ready on DockerHub.

Can you help to update the image and verify it it works for you?
[code]

[2022-04-24 03:48] dddddai commented on #1640
Let's say there's a RB scheduled to [A, B], then B becomes unhealthy, it won't perform schedule as `Failover` is disabled
However, in the next schedule(due to replicas change), B will be evicted from the RB while we should **retain B** although it becomes "unfit"

[2022-04-24 03:53] dddddai commented on #1644
Related to [#829](https://github.com/karmada-io/karmada/issues/829#issuecomment-982234201)

[2022-04-24 06:07] duanmengkk commented on #829
Just a the issue mentioned #1644 ,On the scenario of a new cluster join,should the RB be reschedule? @dddddai

[2022-04-24 06:39] dddddai commented on #829
I was thinking so. Would ask @RainbowMango for comments.

[2022-04-24 06:44] huone1 commented on #1644
in some scenarios，user don't hope to reschedule when adding a new cluster， So is it necessary to add a field in propagation policy to specify whether to trigger the rescheduling

[2022-04-24 06:52] duanmengkk commented on #829
I think it's similar to kubernetes, just as deschedule(https://github.com/kubernetes-sigs/descheduler) said , the descheduler should   responsible for handle rescheduling of cluster status changing,cluster join and cluster unjoin.

[2022-04-24 07:04] ikaven1024 commented on #1645
I repull from `karmada/karmada-aggregated-apiserver:latest`, and it is `arm64` well! But pod is still error with `standard_init_linux.go:228: exec user process caused: exec format error`

[code]

When i tried to `file` the binary, found it is `x86-64`, not `arm`.
[code]

[2022-04-24 07:07] ikaven1024 commented on #1645
I repull from `karmada/karmada-aggregated-apiserver:latest`, and it is `arm64` well! But pod is still error with `standard_init_linux.go:228: exec user process caused: exec format error`

[code]

When i tried to `file` the executable, show :
[code]

[2022-04-24 07:22] ikaven1024 commented on #1645
I rebuild  on my mac, and it works!

And `file` the executable, shows:
[code]

So did you forget add `GOARCH=arm64` when build for arm?

[2022-04-24 07:31] RainbowMango commented on #1645
Yes. The `GOARCH` environment is not used when building the binaries.

I guess we can do that by following change:
[code]
All components should add the `GOARCH` thing.

Right? And, would you like to send a PR to fix this?

[2022-04-24 07:52] ikaven1024 commented on #1645
ok, i will commit later

[2022-04-24 08:12] merryzhou commented on #1634
FederatedResourceQuota is to restrict resources in namespace level， I want to restrict resources in cluster level.

suppose a member cluster has 1000 CPU, and the restrict is 200 CPU. What I want is the total resources of all applications that deployed by karmada to the member cluster is not exceed 200 CPU.

In this case, I don't care about the ns count nor the ns resourceQuota.

[2022-04-24 08:13] RainbowMango commented on #1645
Thanks. I'm going to assign this issue to you now.

/assign @ikaven1024

[2022-04-24 08:26] RainbowMango commented on #1634
Yes, you have to manage the total namespace quota across all clusters.

It's essentially the quota thing. Maybe we can introduce another quota, like ClusterQuota?

[2022-04-24 09:10] Poor12 opened #1648 "Support using karmadactl join to join cluster with pull mode"
**What would you like to be added**:

- [ ] Offer an option for user to choose whether use pull mode or push mode
- [ ] Support using karmadactl join to join cluster with pull mode

**Why is this needed**:
command line enhancements

[2022-04-24 09:19] Poor12 commented on #1648
/assign

[2022-04-24 09:22] merryzhou commented on #1634
clusterQuota might be a solution

[2022-04-24 09:31] Poor12 commented on #1350
I think the solution 2 is better. There are some user case that users will not install karmada in `karmada-system`.

[2022-04-24 13:57] lonelyCZ commented on #1648
For `Pull` mode cluster, I consider a safer way to register. At #1363 , what do you think?

[2022-04-25 01:20] RainbowMango commented on #1634
I'm not sure if this is a common use case, but I'm glad if you can lead the effort to do it.

[2022-04-25 01:24] Poor12 commented on #1648
That's cool. Actually, the difference between pull mode and push mode is the deploy of the agent and the creation of what agent need, such as sa and clusterrole.

[2022-04-25 01:37] huone1 commented on #1644
it is considerrd with the issue #1644

[2022-04-25 02:29] dddddai commented on #1640
I was thinking [using a parameter("evict")](https://github.com/karmada-io/karmada/pull/1049/files#diff-9c992787b9fc37779a22fd2f3700c60e272ab1b1ea3d89e91841a755f6727280R50) to indicate the scheduler whether to evict unfit clusters, do you have better ideas?

IIRC we should evict unfit clusters only when propagation policy changes, and then remove unhealthy clusters if `Failover` enabled

[2022-04-25 02:29] merryzhou commented on #1634
ok，I'll submit a pr for it ASAP.

[2022-04-25 02:39] SZT0728 opened #1651 "what is the problem karmada-controller-manager crashOff"
the karmada-controller-manager usually crashoff by the follow reason:
controller manager exits unexpectedly: failed to wait for federatedresourcequota caches to sync: timed out waiting for cache to be synced
Error: failed to wait for federatedresourcequota caches to sync: timed out waiting for cache to be synced

[2022-04-25 03:12] XiShanYongYe-Chang commented on #1651
Hi @SZT0728 , can you explain the detailed steps to reproduce the problem, and which version do you use in your site. So I can to reproduce the problem on my site.

[2022-04-25 03:18] RainbowMango commented on #1634
A PR for what? proposal or feature implementation? I'm ok with the proposal, the implementation thing should be the next thing after discussion.

[2022-04-25 03:20] duanmengkk commented on #1640
I am not quite sure.
if policy placement is
![图片](https://user-images.githubusercontent.com/17697155/165014983-d759f647-0721-4044-b6e7-77fea0c44bea.png)
when i changes the policy placement to
![图片](https://user-images.githubusercontent.com/17697155/165015134-8c7f6639-6f95-4dfe-8d00-0b74cf603dc0.png)
When member1 is unfit,should the replicas in member1 will be evicted?

[2022-04-25 03:30] SZT0728 commented on #1651
well, i use the kubectl-karmada 1.1.1 with the crds which version is 1.1.0, now the problem is dealed

[2022-04-25 03:34] ikaven1024 opened #1652 "Automatic update lifted/doc.go"
**What would you like to be added**:
`lifted/doc.go` seems to be updated manually. It is better to do it automatically.

We can add lifted info in comments, like:
[code]

Then we can parse it with `AST` and generate `doc.go`.
`update-lifted.sh` and `verify-lifted.sh` can be added in hack.

**Why is this needed**:
Avoid `lifted/doc.go` out of date.

[2022-04-25 03:36] XiShanYongYe-Chang commented on #1651
How did you solve it?

[2022-04-25 03:38] XiShanYongYe-Chang commented on #1652
@ikaven1024 Sounds great! Would you like to do this task?

[2022-04-25 04:01] ikaven1024 commented on #1652
I will do it when i am available.

[2022-04-25 04:03] ikaven1024 commented on #1652
glad to do it.

[2022-04-25 05:05] dddddai commented on #1640
Yeah it's tricky, I think we can focus on `Failover` first: don't evict unhealthy clusters from RB if `Failover` disabled

[2022-04-25 05:32] SZT0728 commented on #1651
i download the kubectl-karmada and crds package at the tag v1.1.0 .  but when the karmada installed , the karmada-controller-manager crash off often ,and i use the kubectl-karmada:v1.1.1 to install

[2022-04-25 05:39] dddddai commented on #1640
Yeah it's tricky, I think we can focus on `Failover` first:

![image](https://user-images.githubusercontent.com/41563853/165026751-ff227d42-8d10-4d0f-b53b-8d3c2fc73d7d.png)

[2022-04-25 05:40] lonelyCZ commented on #1652
Great, you remind me that I added a lifted file but forgot to update `lifted/doc.go`.

Looking forward to this feature,Thanks @ikaven1024

[2022-04-25 06:10] lonelyCZ commented on #1648
Yes, but now the agent directly use `karmada-kubeconfig` to access `karmada-apiserver`, so I plane to optimize it and improve the security. Perhaps implement a certificate verification system for the registration mechanism, like `kubeedge` register nodes.

[2022-04-25 06:13] ikaven1024 commented on #1652
/assign @ikaven1024

[2022-04-25 06:27] XiShanYongYe-Chang commented on #1651
@SZT0728 thanks!

Can this issue be closed?

[2022-04-25 06:31] Garrybest commented on #1640
Agreed. These two scenarios are different.

[2022-04-25 06:34] huone1 commented on #1640
let me list the rescheduling scenario， the following is what I think now：
1. propagation policy changes
2. cluster is unhealthy when Failover is enabled
3. cluster is unhealthy when Failover is disabled
4. cluster is deleted
5. a new cluster which is fit to PP is added

[2022-04-25 06:45] duanmengkk commented on #1640
It seems lost a scenario this issue mentions：7. replicas of workload changes

[2022-04-25 06:51] duanmengkk commented on #1640
By the way, do you think **descheduler** should be responsible for these scenario? @Garrybest

[2022-04-25 06:55] RainbowMango commented on #1651
How do you mean `dealed`? Do you mean no crash now?

[2022-04-25 07:26] Garrybest commented on #1640
Sounds good. Descheduler is meant to evict pods for workload. Now it only focus on `unschedulable` pods. The failover replicas could be counted on.

However, descheduler works frequently (default interval: 2 minutes). Any scenario associated with PP change should be handled by scheduler, not by scheduler. We could have a further discussion tomorrow.

[2022-04-25 07:29] huone1 commented on #1640
I think we can extend the scheduling strategy in PP to define the rescheduling info; different workload can config the different policy

[2022-04-25 07:29] hanweisen commented on #1601
I found a proposal `docs/proposals/dependencies-automatically-propagation/README.md` may resolve your problem. But I don't know whether it has been done in current release.

[2022-04-25 08:07] RainbowMango commented on #1601
Sorry @qianjun1993 , I missed this :(

Yes, we can do that as @hanweisen mentioned feature. This feature has been released at v1.1.0. (but the document is missing...).

[2022-04-25 10:53] merryzhou commented on #1634
I mean a proposal pr

[2022-04-25 12:58] RainbowMango commented on #1634
Thanks.
/assign @merryzhou

[2022-04-26 03:55] RainbowMango commented on #1564
Hi @CharlesQQ
I guess what you are requesting is the https://github.com/karmada-io/karmada/pull/1646.

[2022-04-26 05:16] lonelyCZ commented on #1568
I think we only introduce `get`、`logs`、`exec`、`describe` command to `karmadactl`, which can easily view the status of member clusters. We don't need to change the status of member clusters from `karmada control plane`, so there is no need to introduce other commands.

And the commands are optional for user, if you don't use `karmadactl`, you only need to configurate `kubectl` to support `cluster-p

[2022-04-26 06:49] lonelyCZ commented on #1363
Perhaps, implement `bootstrap token` to register member clusters.

Refer
1. [bootstrap tokens](https://kubernetes.io/docs/reference/access-authn-authz/bootstrap-tokens/)
2. [certificate-signing-requests](https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/)

[2022-04-26 08:22] felix0080 opened #1664 "一个关于karmada使用helm部署的问题"
**Please provide an in-depth description of the question you have**:

1.使用helm部署karmada时，按照例子，直接使用helm install karmada -n karmada-system --create-namespace ./charts
有个疑问：证书是谁生成的？

**What do you think about this question?**:

1.证书是自己手动生成之后，写入到values文件？如果是，有没有相关的脚手架提供？
2.证书是helm自动化生成的？

[2022-04-26 08:55] ikaven1024 commented on #1645
This problem seems not be resolved.

[code]

and file the binary, still `amd`
[code]

/reopen

[2022-04-26 08:55] ikaven1024 commented on #1645
@RainbowMango

[2022-04-26 09:10] RainbowMango commented on #1645
I don't think so. I remember I've tried this approach. But I'll try again on my side.

[2022-04-26 09:13] felix0080 commented on #1664
已经在微信群解决

[2022-04-26 09:13] #1664 closed

[2022-04-26 09:45] RainbowMango commented on #1645
I published `karmada-aggregated-apiserver:latest` manually, could you please test it on your side?

S1: Build `adm64` images
[code]

S2: clean and build `arm64` images.
[code]

[2022-04-26 09:54] RainbowMango commented on #1645
Hi @fleeto , could you please help with [this issue](https://github.com/karmada-io/karmada/issues/1645#issuecomment-1109532828) on the above?

[2022-04-26 10:01] huntsman-li opened #1666 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit a proposal.

The proposal is about caching member cluster, see:

- https://github.com/karmada-io/karmada/pull/1386

- https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Ahuntsman-li+is%3Aclosed

Hope bring more improvements for Karmada in the future.

[2022-04-26 10:02] huntsman-li commented on #1666
@RainbowMango

[2022-04-26 10:15] RainbowMango commented on #1645
Just talked to @fleeto , if we set just one platform, then the second push will override the previous one.
[code]

[2022-04-26 10:21] ikaven1024 commented on #1645
It works!

[2022-04-26 11:20] RainbowMango commented on #1666
+1 from me

We benefit a lot from the meetings with @huntsman-li and @liys87x. And I'm appreciated that you are willing to bring your practice to Karmada.

/assign @kevin-wangzefeng

[2022-04-26 11:52] RainbowMango commented on #1645
@ikaven1024 No. As I mentioned above the `linux/amd64` image not works now.

Following is the test result on my environment(linux/amd64):
[code]

[2022-04-26 12:14] GitHubxsy commented on #1568
@lonelyCZ  Can we directly reuse kubectl?
1、kubectl binary（Tell kubectl binary path）
2、Reference the kubectl code.（Can we?）
![image](https://user-images.githubusercontent.com/11901080/165296172-11194f60-b869-46a5-a6cf-8caa1720d198.png)

In multi-cluster scenarios, you can run the kubectl command multiple times.
![image](https://user-images.githubusercontent.com/11901080/165297364-92e52d23-ff90-404

[2022-04-26 12:23] stingshen opened #1669 "Add FederatedResourceQuota to karmada api"
**What happened**:

FederatedResourceQuota doesn't exist in [policyv1alpha1](https://pkg.go.dev/github.com/karmada-io/api@v1.0.0/policy/v1alpha1)

**What you expected to happen**:

FederatedResourceQuota should be in Karmada API package.

**How to reproduce it (as minimally and precisely as possible)**:

No FederatedResourceQuota in [policyv1alpha1](https://pkg.go.dev/github.com/karmada-io/api@v1.

[2022-04-26 12:27] stingshen commented on #1669
I found the pr in Karmada API repo...

https://github.com/karmada-io/api/pull/9

@RainbowMango What is the plan to sync APIs from Karmada to API repo?

[2022-04-26 12:43] RainbowMango commented on #1669
Are you using `karmada-io/api`?

The API of v1.1.0 hasn't been synced to `karmada-io/api`.
We are going to build the ability that automatically syncs APIs from `karmada-io/karmada` to `karmada-io/api`, but hasn't started yet.

[2022-04-26 12:46] gy95 commented on #1645
yes, that' it. @ikaven1024
we can use [multistage](https://docs.docker.com/develop/develop-images/multistage-build/) to build docker images
could you please help continue this pr https://github.com/karmada-io/karmada/pull/927 ? :)
need to refactor dockerfile :)

[2022-04-26 12:56] lonelyCZ commented on #1568
Hi, @GitHubxsy , the scheme is cool, but I think we don't need to support all commands from `kubectl` in `karmadactl`.

We only introduce most frequently-used command to `karmadactl` to view the status of member clusters, we don't need to change the status of member clusters.

It is not recommended to use the `karmadactl` command to modify resources in member clusters, that is more used for contro

[2022-04-26 13:21] stingshen commented on #1669
Yes, I'm using `karmada-io/api`. Do you have any suggestion if my project needs to create FederatedResourceQuota object now? What package should be imported?

[2022-04-26 13:44] gy95 commented on #1645
due to no authority, i will continue #927  :)

[2022-04-26 14:29] GitHubxsy commented on #1568
The kubeconfig file is generated by karmadactl and is stored in the temporary directory.

[2022-04-27 02:27] hanweisen commented on #1601
Do you have any plan add this document? or Let me add this document. @RainbowMango

[2022-04-27 02:38] RainbowMango commented on #1601
Many thanks in advance. @mrlihanbo Could you please find the PR that enables the dependencies future?

[2022-04-27 02:43] hanweisen commented on #1601
OK，I find a switch a feturegate. I'll try this
[code]

[2022-04-27 03:17] qianjun1993 commented on #1601
Thanks

[2022-04-27 05:47] duanmengkk opened #1673 "Join cluster failed（The logic to determine cluster health may not quite right ）"
**What happened**:
The ready status of cluster is false，and the output of `describe` is below
![图片](https://user-images.githubusercontent.com/17697155/165450346-9c98fb62-0dcd-4b3c-992a-f43b738b1ee6.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

1. step1: apply a apiservice in member

[code]
2.step2: join the member cluster
[code]

**Anyth

[2022-04-27 07:10] RainbowMango commented on #1669
/assign

I'll send another PR to `karmada-io/api`.

[2022-04-27 07:10] RainbowMango commented on #1669
/remove-kind bug
/kind cleanup

[2022-04-27 07:12] stingshen commented on #1669
Thank you!

[2022-04-27 10:57] kevin-wangzefeng commented on #1666
+1
Looking forward to more of your contributions :-)

[2022-04-27 10:58] kevin-wangzefeng commented on #1666
Invitation sent, pleaes visit https://github.com/karmada-io to confirm and join.

[2022-04-28 01:49] #745 closed

[2022-04-28 01:57] RainbowMango commented on #1645
@ikaven1024 #927 done. You can start working on the workflow now. I think there is some cleanup work should to do. Such as :(We don't need the `arch` matrix any more).

[2022-04-28 03:01] ikaven1024 opened #1680 "arch matrix shall be remove in docker hub image building"
**What happened**:
In pr #927, we have realized build multi platform in `docker buildx`.
https://github.com/karmada-io/karmada/runs/6203840283?check_suite_focus=true#step:7:18

So the the arch matrix in `dockerhub-latest-image.yml` and `dockerhub-release-image.yml` is unnecessary.
https://github.com/karmada-io/karmada/blob/f411443e0bc9eacf3288fa9b66c49b3d51199cb8/.github/workflows/dockerhub-latest

[2022-04-28 03:31] ikaven1024 commented on #1645
continue in #1645. This will be closed.
/close

[2022-04-28 03:31] #1645 closed

[2022-04-28 12:40] #1680 closed

[2022-04-28 12:54] RainbowMango commented on #1680
@ikaven1024 Can you help confirm if it is all good after [the publish job](https://github.com/karmada-io/karmada/runs/6211059713?check_suite_focus=true) is finished?

And we should cherry-pick both #1681 #927 to release branches.

[2022-04-28 18:36] ahmetb opened #1685 "How does Karmada handle unschedulable Work"
Hi, I am trying to understand what happens if Work is assigned to a worker cluster, but the cluster is not able to run it.

For example, you have a Deployment with `replicas:10` and an anti-affinity set. So the worker cluster gets assigned a chunk of `replicas: 3` but that cluster only has `2` nodes matching the anti-affinity.

As far as I understand, that deployment chunk will always stay at 2/3.

[2022-04-29 02:54] ikaven1024 commented on #1680
All images work well on my side.

[2022-04-29 03:41] #1614 closed

[2022-04-29 07:32] #1669 closed

[2022-04-29 07:43] RainbowMango commented on #1680
Thanks @ikaven1024. I wonder to know if you are working on the cherry-pick thing for #927. (I'm asking because don't want to repeat efforts. :) ) If not, both I and @gy95 can help with it.
We are going to cut a new release after that.

[2022-04-29 09:07] wongearl opened #1694 "karmadactl promote 有考虑支持批量接管成员集群内资源吗？"
**Please provide an in-depth description of the question you have**:
有一个业务集群中已经存在了大量工作负载，添加该集群到karmada为成员集群，karmadactl promote 有考虑支持批量接管成员集群内资源吗？或者在join集群的时候，自动接管成员集群内所有已存在的工作负载。
**What do you think about this question?**:
应该需要支持一个更方便的方法接管成员集群内工作负载，特别在成员集群内遗留工作负载量比较大的时候。
**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2022-04-29 09:12] wongearl opened #1695 "对于pull模式的成员集群，部署了ANP后，有没有可能支持karmadactl中的get，promeote等命令？"
**Please provide an in-depth description of the question you have**:
对于pull模式的成员集群，部署ANP后已经可以通过AA获取该成员集群内的资源，但是依然无法使用kamadactl get获取资源信息，也无法使用karmadactl promete命令接管该集群内资源。
**What do you think about this question?**:
是否有支持的可能，这样感觉无论是pull模式还是push模式karmadactl使用起来更丝滑。
**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2022-04-29 09:22] RainbowMango commented on #1695
理论上是可以的，可否提供详细的信息（版本、操作步骤、错误日志）？
@lonelyCZ 是这个特性的owner。可以根据你的信息进行初步诊断。

同上。

[2022-04-29 09:40] lonelyCZ commented on #1695
Hi, @wongearl , 你可以分享一下你部署了ANP使用`karmadactl get`命令的日志信息吗？可以通过`karmadactl get pod -v=6`来获取。

[2022-04-29 09:43] wongearl commented on #1695
使用的4月1日时候的release1.1分支，使用/hack/local-up-karmada部署的karmada及成员集群。
部署ANP后尝试 kubectl get --raw /apis/cluster.karmada.io/v1alpha1/clusters/member3/proxy/api/v1/nodes能正常获取到信息。
`kubectl karmada get all` 提示：`The karmadactl get command now only supports Push mode, [ member3 ] are not push mode`

`kubectl karmada promote deployment nginx-deployment -n default -c member3` 提示： `Error: failed to get Secret inf

[2022-04-29 09:45] lonelyCZ commented on #1695
是的，在master分支上已经支持了

[2022-04-29 09:45] wongearl commented on #1695
@lonelyCZ 好的，谢谢

[2022-04-29 09:46] #1695 closed

[2022-04-29 09:50] lonelyCZ commented on #1695
不过`kubectl promote`暂时还未支持，正在逐步迁移，下一个release版本，就都会支持的。

[2022-04-29 10:06] RainbowMango commented on #1673
I don't think the API service should be deployed in the member cluster. It is intended to `karmada-apiserver`.

[2022-04-29 10:13] lonelyCZ commented on #1673
There seems a question that whether it is possible for member cluster to extend APIserver with AA.

[2022-04-30 14:48] CharlesQQ commented on #1651
is crd federatedresourcequota created successfully?

[2022-05-01 02:05] zgfh opened #1700 "should we change default UserName of kubeconfig to karmada-admin?"
**What happened**:
when i import karmada kubeconfig to .kube/config with
[code]
it will error because of username conflict
[code]
should we change default UserName of kubeconfig to 'karmada-admin'?
or let UserName = ClusterName+"-"+UserName?

**What you expected to happen**:
make karmada easy to export kubeconfig

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything

[2022-05-01 03:41] duanmengkk commented on #1673
Just use this apiservice as a example,It caused by a misuse of karmada. Is it too strict to determines whether the cluster is healthy？In fact, member clusters are still available and can be scheduled。The comment line of this method in client-go is
![image](https://user-images.githubusercontent.com/17697155/166131025-6e1f2c04-53ad-4df3-ab49-40944967fa80.png)
while other checks of cluster status suc

[2022-05-01 03:44] duanmengkk commented on #1673
However, if we ignore this error, it can lead to unexpected results probably.

[2022-05-01 03:44] duanmengkk commented on #1673
/close

[2022-05-01 03:52] duanmengkk commented on #1673
/reopen

[2022-05-01 07:41] lonelyCZ commented on #1700
Yes, I also think it is better to add `karmada` prefix. Or, use `karmada-apiserver` consistently.

https://github.com/karmada-io/karmada/blob/46dacea8972e061c1b5de108c776b214c7504848/pkg/karmadactl/cmdinit/options/global.go#L16-L21

cc @prodanlabs

[2022-05-01 08:15] CharlesQQ opened #1703 "interpreter webhook response's patch is nil, workload sync to member cluster unsuccessfully"
**What happened**:
deployment not synced to member cluster, log print following message:
[code]

**What you expected to happen**:
response'patch is nil, that is expected, workload should be synced successfully

**How to reproduce it (as minimally and precisely as possible)**:
interpreter webhook  type `ReviseReplica`  response object's patch is nil

**Anything else we need to know?**:
response wit

[2022-05-01 13:51] prodanlabs commented on #1700
I think it can.

[2022-05-01 14:33] lonelyCZ commented on #1673
Yes, it is caused by misconfiguration in member cluster, we should report this error to cluster administrator who decide to solve this error.

[2022-05-01 15:00] zgfh commented on #1700
/assign

[2022-05-02 03:28] CharlesQQ opened #1710 "whether `InterpretDependency` can only propagate resource in member cluster that created in host cluster?"
**Please provide an in-depth description of the question you have**:
I might create or update a configmap in member cluster if find a mesh sidecar container, configmap's data is not same all the time and sidecar doesn't have  the configmap volume; It seems `InterpretDependency`  does not meet user needs
**What do you think about this question?**:
`DependentObjectReference` should not only Include

[2022-05-02 08:19] CharlesQQ commented on #1573
@GitHubxsy @RainbowMango
it seems that workload can only be propagated to  member cluster in replicaScheduling field; like following propagationpolicy spec,workload only can be  propagated to a and b; however, workload should be updated in cluster c when it is updated, Karmada should not update the replicas in cluster c, replicas can be retain by interpreter webhook
[code]

[2022-05-02 14:25] snowplayfire commented on #1640
when cluster becomes healthy from unhealthy, is it a rescheduling case? @huone1

[2022-05-03 01:05] duanmengkk commented on #1673
/assign

[2022-05-03 01:14] duanmengkk commented on #1673
What's your opinion? Whether a new state should be introduced like `WARN` when get clusters by `kubectl get cluster`? @lonelyCZ

[2022-05-03 01:36] CharlesQQ commented on #1652
@lonelyCZ  i guess use `lifted/doc.go`  can download function from github instead of cp that, right? if i have a lifted/doc.go file, how can i download the function to my project?

[2022-05-03 02:57] lonelyCZ commented on #1652
I think you could download codes that don't change. But sometimes, we need to change the codes for our project. Generally, we develop the right features first, and then explain which parts of the code we use from other projects.

If you need this functionality, I think you could develop a tool to implement it, which shouldn't be too complicated. If more people need this feature, welcome to contrib

[2022-05-03 03:16] lonelyCZ commented on #1673
I am not quite clear, if temporarily ignore this error and directly join the member cluster, what consequences will result.

If it does not affect normal use, take this as a `WARN` and may be feasible.

[2022-05-03 08:46] wuyingjun-lucky opened #1716 "Should we set registry and version variable in deploy-karmada.sh"
**What would you like to be added**:
**Firstly**: As a green hand, I want to deploy karmada-control-plane in my k8s cluster;
**Secondly**: I make  the  karmada containers and download k8s core containers and push to my private registry because my k8s cluster can not connect the internet
**Thirdly**: I must modify the image written in the deploy yml
**Why is this needed**:
**Firstly**:  It is not c

[2022-05-03 14:12] #1700 closed

[2022-05-03 14:13] CharlesQQ opened #1717 "If some member cluster not ready, the topology of the workload may change, which is very dangerous"
**What would you like to be added**:
The scheduler adds command line parameters to decide whether to tolerate the situation that some member clusters are not ready

**Why is this needed**:
When a part of the cluster is not ready, it happens that the part of the cluster deploys the workload. When the related resources change, the workload may be removed from the cluster, which cannot be tolerated i

[2022-05-03 16:11] lonelyCZ commented on #1716
Great, it's really easy to use using environment variables. We have implemented to replace image in `karmadactl init` command. It's a good idea to abstract out these values that can change, because I also encountered the situation that replaced multi images manually, like

https://github.com/karmada-io/karmada/blob/7b7ae06392e0952df51f0364671d27c12cd7faff/artifacts/deploy/kube-controller-manager.y

[2022-05-04 00:40] wuyingjun-lucky commented on #1716
/assign

[2022-05-04 05:18] ameena007 opened #1719 "Unable to evaluate karmada on mac"
**Unable to evaluate karmada on mac*:

**hack/local-up-karmada.sh should install the test clusters on MAC**:

**Clone the repo on mac and follow the steps mentioned https://github.com/karmada-io/karmada**:

**Dont have docker installed**:

**Environment**:
- Karmada version: latest: NA
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`): NA
- M

[2022-05-04 07:04] CharlesQQ commented on #1703
/assign @XiShanYongYe-Chang

[2022-05-04 10:50] wlp1153468871 opened #1723 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit some PRs

See:

https://github.com/karmada-io/karmada/pulls?q=is%3Apr+is%3Aclosed+author%3Awlp1153468871

issues:
https://github.com/karmada-io/karmada/issues?q=is%3Aissue+assignee%3Awlp1153468871+is%3Aclosed

Hope bring more improvements for Karmada in the future

[2022-05-04 10:50] wlp1153468871 commented on #1723
@RainbowMango

[2022-05-04 12:59] duanmengkk opened #1724 "E2E test failed"
**What happened**:
e2e test failed, this is an inevitable problem in my machine. The namespace created in karmada control plane is not synchronized to the member cluster in time.
![图片](https://user-images.githubusercontent.com/17697155/166685635-65dc13be-58a4-4d2e-8cf7-e75ba83893b6.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2022-05-05 01:02] duanmengkk commented on #1717
Related to https://github.com/karmada-io/karmada/issues/829#issuecomment-982234201

[2022-05-05 02:10] RainbowMango commented on #1710
I guess this is a special use case that `InterpretDependency` hasn't covered.

Do you mean you will create `ConfigMap` for `Workload` in the member cluster? The `ConfigMap` doesn't present in `Karmada control plane`, right?

[2022-05-05 02:29] XiShanYongYe-Chang commented on #1703
Hi @CharlesQQ , when response object's patch is nil, the response object's patchType also needs to be nil.

In your case, is patchType also nil?

[2022-05-05 02:33] RainbowMango commented on #1640
I don't think so. If all workloads are running, they shouldn't be re-scheduled to other clusters by default.

[2022-05-05 02:36] RainbowMango commented on #1717
Please @CharlesQQ confirm if tit is the same issue that was addressed by #1640?

[2022-05-05 02:46] RainbowMango commented on #1573
Both #1715 and #1720 are trying to solve this issue?

[2022-05-05 02:47] RainbowMango commented on #1573
What's the `cronhpa` thing?

[2022-05-05 02:51] RainbowMango commented on #1723
+1
/assign @kevin-wangzefeng

[2022-05-05 07:09] RainbowMango commented on #1703
Why do you think the `nil patch` is expected? Any more detailed infos?

[2022-05-05 07:40] #1251 closed

[2022-05-05 08:23] RainbowMango commented on #1719
From the logs above I can see the build took `21927.8` seconds, (about 6 hours), that's terrible!!!

I don't have a Mac on hand. @lfbear Can you help verify it on your Mac, I changed the method used to build images at #927.

[2022-05-05 09:39] CharlesQQ commented on #1710
`Do you mean you will create ConfigMap for Workload in the member cluster? The ConfigMap doesn't present in Karmada control plane, right?`
yes

[2022-05-05 09:49] #1724 closed

[2022-05-05 12:49] RainbowMango opened #1729 "Improve `hack/local-up-karmada.sh` execution time"
**What would you like to be added**:
The `hack/local-up-karmada.sh` is used for users and developers to set up the Karmada environment quickly.
But the execution time suddenly gets very long, especially after we change the way building images in #927.

[code]
Now it takes about `14` minutes on my side and it just needs `3~5` minutes before.

We can get the execution time change from CI logs as wel

[2022-05-05 15:54] CharlesQQ commented on #1703
`In your case, is patchType also nil?`
patchType is JSONPatch, it's similar example, logic enter following code
https://github.com/karmada-io/karmada/blob/772e6fa6f33dc6aa5e803b23e2b1e684dc35c2ca/pkg/webhook/interpreter/response.go#L26-L45

[2022-05-05 16:00] CharlesQQ commented on #1703
`Why do you think the nil patch is expected?`
original and  current is same, so response'patch is nil is expected
https://github.com/karmada-io/karmada/blob/772e6fa6f33dc6aa5e803b23e2b1e684dc35c2ca/pkg/webhook/interpreter/response.go#L48-L56

[2022-05-06 00:55] hanweisen commented on #1685
#697 and #521  may solve your problem.

[2022-05-06 01:06] CharlesQQ commented on #1717
@RainbowMango yes, it's the same issue, Thinks~

[2022-05-06 01:41] RainbowMango commented on #1703
If the `patch` is empty, then the `PatchType` makes no sense, right? Can you set the `PatchType` to nil? Is there any trouble to do that?

[2022-05-06 01:44] RainbowMango commented on #1717
/close

Let's track this issue by #1640.

[2022-05-06 01:44] #1717 closed

[2022-05-06 01:57] XiShanYongYe-Chang commented on #1571
Can this issue be closed?

[2022-05-06 02:08] wuyingjun-lucky commented on #1729
I found there is make images stage in local-up.sh But there are no make images stage in remote-up
can we set the make containers optional ?
I guess it will work in private environment but ci pipeline will always costs time

[2022-05-06 02:33] RainbowMango commented on #1729
The original intention of `hack/local-up-karmada.sh` is to build Karmada from the source.

How to do that?

Maybe we should try to find the root cause first before making any decisions.

[2022-05-06 02:45] wuyingjun-lucky commented on #1729
You mean Why we do make build binary and put it into docker container faster then we make binary in docker compile context and then put it into docker execution context?

[2022-05-06 06:24] gy95 commented on #1729
/kind help
how to fasten `make images`
now the multi-stage docker image build cost too much time, In CI, it takes about 32 minutes,
but before https://github.com/karmada-io/karmada/pull/927 (NOT using multi-stage: just compile karmada components with local environment, and copy it into docker image) it only takes 8 minutes.

[2022-05-06 07:31] hanweisen commented on #1729
I agree with @wuyingjun-lucky. I compare two logs. The longer one has build binary package as follows:
[code]

[2022-05-06 08:26] Garrybest commented on #1640
Hey guys, I have some preliminary ideas about this issue.

First let's focus why this bug occurs.

1. When dividing replicas, we remove the previous target clusters which are not selected by scheduler in this round. See [here](https://github.com/karmada-io/karmada/blob/f55e898b75a8fff42a3b627822613cb7a566b203/pkg/scheduler/core/division_algorithm.go#L37-L42).
2. All replicas not in selected cluste

[2022-05-06 08:26] huone1 commented on #1729
it will download the image : **golang:1.17-alpine3.15** repeatedly in each build

[2022-05-06 08:28] RainbowMango commented on #1685
Hi @ahmetb Sorry for the late reply, just get back from a public holiday.

Before a workload is assigned to a worker cluster, the `karmada-scheduler` would evaluate how many replicas could be put in based on the available resources and scheduling constraints (such as affinity and anti-affinity) and so on.
We can say this part is `first layer` schedule.

After the workload is assigned to a worker c

[2022-05-06 08:37] huone1 commented on #1640
I agreed with the point 1, 2. For the 3rd, add a new field in  propagation policy to define whether reschedule all workloads without considering all previous PP and result?

[2022-05-06 08:52] Garrybest commented on #1640
It's a good way to fix this problem. But I'm a little concernd about whether this field lead to more complication and confusion.

Another way is that we make this behavior as a global argument and give this job to descheduler. The karmada-descheduler decide how to evict replicas when a pp is not proper. It's just very similar as the descheduler decide how to evict pods when based on many policy.

[2022-05-06 09:38] CharlesQQ commented on #1703
@RainbowMango yes, i can set `PatchType ` to nil when `patch ` is empty

[2022-05-06 10:07] ikaven1024 opened #1730 "update-codegen.sh will generate file out of repository"
**What happened**:
When we run `hack/update-codegen.sh`, updated files will generated on `GOPATH`, not in repository.

**What you expected to happen**:
files in repository are updated

**How to reproduce it (as minimally and precisely as possible)**:
change types and run`hack/update-codegen.sh`

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or karmadact

[2022-05-06 14:23] ikaven1024 commented on #1729
I test build binaries host (out of docker) as Before. Firstly `aggregated-apiserver` spend 27s, while `controller-manager` 9s (faster much than aggregated-apiserver).

[code]

Then build in docker.  both`aggregated-apiserver` and `controller-manager` spend about 40s(calculate by `date`).

[code]

Probably guess: when build on host, `GOCACHE` will reduce the building time.

[2022-05-07 01:41] wongearl commented on #1695
好的，对于接管集群中遗留工作负载，目前方案只有通过kubectl promote是吧？而对于pull模式promote的支持下个版本会支持是吧？

[2022-05-07 01:43] #1694 closed

[2022-05-07 02:31] RainbowMango commented on #1330
/assign @gf457832386

[2022-05-07 02:49] ikaven1024 commented on #1729
Proving `GOCACHE` helps reducing the building time.

Step 1: go build karmada-aggregated-apiserver
[code]
Step 2:  go build karmada-controller-manager. It spends 15s
[code]

Step 3: clean `GOCACHE` and rebuild karmada-controller-manager again. It takes 51s
[code]

But i have no ideal how to share GOCAHE betweens `docker build`

[2022-05-07 03:37] XiShanYongYe-Chang commented on #1703
I think there is no need to remove this judgment. There is a similar judgment in kubernetes:

https://github.com/kubernetes/kubernetes/blob/af4dceeac2d9f5cd22afcb68fcf7af0ee4af7c67/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/request/admissionreview.go#L67-L79

[2022-05-07 03:40] hzxuzhonghu opened #1734 "kubectl-karmada init failed"
**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

I downloaded the v1.1.2 release package.

**Environment**:
- Karmada version:
[code]

- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
- Others:

[2022-05-07 03:50] lonelyCZ commented on #1695
是的，为了避免发生冲突，目前只能通过`karmadactl promote`逐个接管

现在已经支持PULL模式的了，不过需要提供子集群的`kubeconfig`，我们正在讨论`promote`命令的演进方向，如果你也有兴趣，欢迎参与讨论。

https://github.com/karmada-io/karmada/pull/1721#discussion_r866475220

[2022-05-07 03:55] RainbowMango commented on #1734
The root cause is `kubectl-karmada` missing version info. That's the bug that has been fixed by #1701.
cc @gy95

[2022-05-07 03:56] RainbowMango commented on #1734
/assign I'll re-build the binaries for both `v1.0.3` and `v1.1.2` releases.

[2022-05-07 06:21] duanmengkk commented on #1685
Just a remind,It seems the estimator module only support evaluate pod distribution base on the available resources,but not support evaluate pod distribution base on  scheduling constraints (nodeAffinity,podAffinity and so on ).Do you have a plan for it? @RainbowMango

[2022-05-07 06:40] duanmengkk commented on #1685
Karmada have two `ClusterPreferences`:`StaticWeightList `and `DynamicWeight`.In `StaticWeightList ` mode, the number of pods scheduled to the Member cluster is determined based on the user's config in propagationPolicy，while in `DynamicWeight` mode，the karmada-scheduler would evaluate how many replicas could be put in based on the available resources in member cluster(depend on karmada-scheduler-e

[2022-05-07 06:45] gf457832386 commented on #1330
/assign

[2022-05-07 06:54] lonelyCZ opened #1736 "Deploy the `karmada-agent` into the `karmada-cluster` namespace"
**What would you like to be added**:
Deploy the `karmada-agent` into the `karmada-cluster` namespace to operate PUSH and PULL cluster uniformly.

**Why is this needed**:
Now, we deploy `karmada-agent` in `karmada-system` namespace by default, and because we uniformly deploy the `karmda-impersonator` in `karmada-cluster` namespace so that we have two namespaces in PULL mode cluster.

Although we su

[2022-05-07 07:04] CharlesQQ commented on #1703
ok, it means if patchType should be set to nil when patch is nil; and if patchType should be set to JSONPatch when patch is not  nil  in interperter webhook server, is that right? @XiShanYongYe-Chang

[2022-05-07 07:24] XiShanYongYe-Chang commented on #1703
Yes~

[2022-05-07 08:08] ikaven1024 commented on #1730
/assign

[2022-05-07 08:19] RainbowMango commented on #1685
@Garrybest has a plan.

[2022-05-07 08:28] Garrybest commented on #1685
Yes, I have some ideas to refactor the estimator. The `anti-affinity` is more complicated than I have thought before. The design is still going on.

[2022-05-07 09:00] hanweisen commented on #1685
`anti-affinity` is complicated. I think we can add `nodeAffinity` and `nodeSelector` first.

[2022-05-07 10:06] #1730 closed

[2022-05-07 10:13] RainbowMango commented on #1734
The assets for both `v1.0.3` and `v1.1.2` have been updated.

v1.0.3:
[code]

v1.1.2:
[code]

/close

[2022-05-07 10:14] #1734 closed

[2022-05-07 11:36] CharlesQQ commented on #1703
thanks~

[2022-05-07 12:07] ikaven1024 commented on #1729
I didn't find an effective way. `kubernetes` did not build image in multi stage either.
Maybe we shall rollback. @gy95 @RainbowMango

[2022-05-07 12:26] RainbowMango commented on #1729
No, we need multi-stage for multi-platform images.
But, can we revert [the single platform image(prefix with image-)](https://github.com/karmada-io/karmada/blob/5c30d446772ce5a376e814b1ee3fff8de52066c3/Makefile#L107-L129)?

[2022-05-07 12:34] ikaven1024 commented on #1729
multi-stage is not requirement for multi-platform.
In kubernetes, build multi-platform image without multi-stage build.

https://github.com/kubernetes/kubernetes/blob/3c1a3dea59c31ab9f5e1ff2350eca719af3c2b2c/test/images/image-util.sh#L188

[2022-05-07 12:50] RainbowMango commented on #1729
Well, good to know. What're the images look like between different platforms? I mean if the image has the same name?

[2022-05-07 12:54] RainbowMango commented on #1729
I guess no, there is an os suffix.
https://github.com/kubernetes/kubernetes/blob/c8b3b293c047ff9971cb5542a446c9c525877f50/test/images/image-util.sh#L77

And this image is built for testing.

[2022-05-07 13:45] wuyingjun-lucky commented on #1729
Multi-stage is not necessary. But go build in docker image seems necessary.
When I clone the repo and  make containers ,I found the containers can not work on my k8s because my working os is mac and my k8s is linux. But now it resolves.
When I clone `Kubesphere` it will not happen.
https://github.com/kubesphere/kubesphere/blob/master/build/ks-controller-manager/Dockerfile

[2022-05-07 16:41] ikaven1024 commented on #1729
In build.sh:
[code]

In Dockerfile:
[code]

Then we can build multi platform:
[code]

[2022-05-07 19:27] ikaven1024 commented on #1729
Another schema。

Step1  build and push image with suffix `-<arch>`
[code]

Step2 merge manifest
[code]

------

But `docker manifest` is experimental.
FYI:
https://docs.docker.com/engine/reference/commandline/manifest/
https://github.com/kubernetes/kubernetes/blob/3c1a3dea59c31ab9f5e1ff2350eca719af3c2b2c/test/images/image-util.sh#L234-L249

[2022-05-08 00:38] ikaven1024 commented on #1729
/assign

[2022-05-08 01:46] wuyingjun-lucky commented on #1729
I do not aggress with the schema.
I think we should focus on how to reduce the costs when building on docker building stage but not trying to move the building stage outside of docker context
It is a reversion.
The dockerfile should define how to make the docker container precisely and anyone can use one command just as docker build to make the container.
But in the schema. Firstly we should set o

[2022-05-08 01:47] wuyingjun-lucky commented on #1729
I do not aggress with the schema.
I think we should focus on how to reduce the costs when building on docker building stage but not trying to move the building stage outside of docker context
It is a reversion.
The dockerfile should define how to make the docker container precisely and anyone can use one command just as docker build to make the container.
But in the schema. Firstly we should set o

[2022-05-08 01:59] duanmengkk commented on #1363
I have also noticed that the current pull mode cluster registration mode is a bit complex (must copy config from host to member, create secrets and so on) and insecure (member cluster has the highest rights on the  karmada control plane ).
My opinion is to use karmadactl to join pull mode cluster in karmada control plane,like `kubectl karmada join cluster member3 --mode pull`.This command will gen

[2022-05-08 03:21] lonelyCZ commented on #1363
Right, it is convenient for member clusters to register. But it seems to leave too much manual work to the karmada control plane.

If the way can bring users a more secure registration step, in fact, there is a certain value.

Agent is currently using `karmada-kubeconfig` directly, which is not acceptable, so we need to consider implementing a mechanism based on the CA. We need to modify the `karm

[2022-05-08 07:21] duanmengkk commented on #1363
I fully agree with you,but i think it is little different from kubeadm used in k8s,pull mode cluster should not have the privileges to operate other member cluster.`kubeadm init ` will generate a token and others node use this token to join k8s,but this token is unique,it cannot determine the permissions of each different cluster.Anyway, I don't think the member cluster should have control plane p

[2022-05-08 07:47] lonelyCZ commented on #1363
`token` is only a authentication flags, specific permissions need to be refined in the cloud. For example, only allow the member cluster to access their own `Exection namespace`.

Yes, this is our goals.

We can talk about how to do that in detail, possibly needing to add some controllers.

I plan to carry out this work in detail during the summer, welcome to talk about it.

[2022-05-08 13:44] duanmengkk commented on #1363
OK,Can i work with you for it together? If you are going to discuss this at the meeting, please just @ me

[2022-05-08 15:20] mathlsj opened #1741 "The label value of the dependent resoucebinding over 63 characters"
The dependent resourcebinding label value consists of three components namspace+"_"+name+"-"+kind. it is easy to over 63 characters. we need to split it into three labels:
resourcebinding.karmada.io/depended-by-hash.namespace: namespace
resourcebinding.karmada.io/depended-by-hash.name: name
resourcebinding.karmada.io/depended-by-hash.kind: kind

[2022-05-09 01:38] RainbowMango commented on #1736
Do you mean two namespaces in PULL mode cluster is a bad idea?  What are the specific bad effects?

[2022-05-09 02:27] lonelyCZ commented on #1736
1. Like #1350, if users deploy `agent` in `karmada-host` for testing, they can't use this script #1735 to remove `agent`, which will destroy the whole karmada control plane.
2. Unify the namespace of PUSH and PULL mode, which is better.
3. `karmada-system` is used by karmada control plane, `karmada-cluster` is used by member cluster, which makes it easier to understand.

[2022-05-09 03:49] hzxuzhonghu opened #1744 "Support specifying context when `init`"
**What would you like to be added**:

When I install karmada into a cluster I can specify the kubeconfig.

However, if there are multi contexts in the kubeconfig, I have no way to specify which host cluster to install karmada control plane.
This is not friendly to local env, especially when using kind.

[2022-05-09 05:24] lonelyCZ commented on #1744
It did leave out, I will fix it.

[2022-05-09 06:29] wuyingjun-lucky opened #1747 "Add destroy karmada-controller-plane in kubectl-karmada"
**What would you like to be added**:
Kubectl karmada destroy|uninstall|undeploy ****
**Why is this needed**:
When I try to use karmadactl to init a karmada system , I can not found any destroy command to uninstall karmada system.
It is not friendly.
How about add a command in karmadactl for destroy the karmada system.
<img width="1119" alt="image" src="https://user-images.githubusercontent.com/161

[2022-05-09 06:32] wuyingjun-lucky commented on #1747
@RainbowMango @lonelyCZ  what's your opinion

[2022-05-09 06:44] RainbowMango commented on #1744
I guess @hzxuzhonghu is using the `karmadactl int`, @lonelyCZ Hope we are on the same page.

[2022-05-09 06:44] lonelyCZ commented on #1747
Thank you, #1337 is implementing it. Welcome to talk about it there.

[2022-05-09 06:49] wuyingjun-lucky commented on #1747
OK

[2022-05-09 06:49] lonelyCZ commented on #1744
Yes, I have fixed it, prepare to submit.

[2022-05-09 06:49] #1747 closed

[2022-05-09 06:55] RainbowMango commented on #1744
Great!
/assign @lonelyCZ

[2022-05-09 10:25] ikaven1024 commented on #1685
Scheduler in `sub-layer` maybe so complex(rather than node podAffinity, podAffinity, and some customer policy) that `karmada-scheduler` cannot cover it.

I have an idea. After `descheduler` unassigns the unavailable replicas, it will create a crd to record the saturation capacity of clusters.
[code]
And `karmada-scheduler` will execute scheduling work referring to it.

@RainbowMango @Garrybest

[2022-05-09 10:29] chaunceyjiang opened #1753 "Support --image-mirror-country or --image-repositor like minikube"
Hi,i can't download these images `k8s.gcr.io/etcd:3.5.1-0`,`k8s.gcr.io/kube-controller-manager:v1.21.7`,`k8s.gcr.io/kube-apiserver:v1.21.7`

For many mainland users, specifying the `--image-mirror-country` parameter may be more convenient than specifying [their image repository](https://github.com/karmada-io/karmada/blob/master/pkg/karmadactl/cmdinit/cmdinit.go#L59) separately.

Such as minikube ,

[2022-05-09 10:42] huntsman-li commented on #1666
@kevin-wangzefeng @RainbowMango thanks

[2022-05-09 10:42] #1666 closed

[2022-05-09 11:13] RainbowMango commented on #1753
I guess what you are talking about is the `karmadactl init` flags, right?

I'll look at how minikube use this flag. Does this just affect the images in `k8s.gcr.io`?

[2022-05-09 11:41] Garrybest commented on #1685
Interesting idea, I think it helps.

[2022-05-09 12:20] wuyingjun-lucky commented on #1753
@RainbowMango @chaunceyjiang  Can I take some work on the issue ？

[2022-05-09 12:25] RainbowMango commented on #1753
For this issue, we haven't made final decisions yet.

Anyone can take any issue so long as the `Assignees` list is still empty.

[2022-05-09 12:34] wuyingjun-lucky opened #1754 "kubectl-karmada init failed but return success"
**What happened**:
Use kubectl  init  to deploy karmada-system. The control-plane deployed failed, But the console output successful messages
<img width="1106" alt="image" src="https://user-images.githubusercontent.com/16109961/167410214-e660c201-00ba-4b5f-b320-f787f4208b1f.png">
<img width="629" alt="image" src="https://user-images.githubusercontent.com/16109961/167410230-d1989351-98ca-4577-85c6-

[2022-05-09 12:40] RainbowMango opened #1755 "Revert changes made by #1656"
**What would you like to be added**:
As per https://github.com/karmada-io/karmada/pull/1740#issuecomment-1120726071, we are going to revert #1656.

**Why is this needed**:

/help

[2022-05-09 12:58] ikaven1024 commented on #1685
Tomorrow？OK, i will attend if available.

[2022-05-09 13:38] AllenZMC commented on #1755
/assign

[2022-05-09 13:40] #1443 closed

[2022-05-09 13:57] chaunceyjiang commented on #1754
Maybe we can refer to [kubeadm --reset](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/reset.go#L171)

[2022-05-09 13:59] RainbowMango commented on #1753
I checked some minikube code, and found that [it maintains the available image repositories for different countries](https://github.com/kubernetes/minikube/blob/f51fc4ccaccb333c57795dbdb9b138fa09bb3a91/pkg/minikube/constants/constants.go#L178-L182):
[code]
And It also checked if the repository is accessible.
https://github.com/kubernetes/minikube/blob/f51fc4ccaccb333c57795dbdb9b138fa09bb3a91/cmd/m

[2022-05-09 14:06] wuyingjun-lucky commented on #1753
Do you think we should set karmada registry besides the kube image？
I use the commands below
kubectl-karmada init \
--karmada-scheduler-image=nexus.cmss.com/karmada/karmada-scheduler:1.1.1 \
--karmada-apiserver-image=nexus.cmss.com/karmada/kube-apiserver:v1.21.7 \
--karmada-kube-controller-manager-image=nexus.cmss.com/karmada/kube-controller-manager:v1.21.7 \
--karmada-controller-manager-image=nex

[2022-05-09 14:49] mathlsj commented on #1741
generate resourcebinding depended label in  dependencies_distributor (https://github.com/karmada-io/karmada/blob/master/pkg/dependenciesdistributor/dependencies_distributor.go)

[code]

[2022-05-10 01:17] #1755 closed

[2022-05-10 01:51] RainbowMango commented on #1741
Right, here probably exceed 64 characters. May I know what the `name` and `namespace` look like in your system?

[2022-05-10 02:46] XiShanYongYe-Chang commented on #1593
Hi @carlory , we have finished this issue task. If you're interested in E2E, you can make new changes.

/close

[2022-05-10 02:46] #1593 closed

[2022-05-10 02:48] duanmengkk opened #1758 "Kubectl Karmada Promete can not take over some GVRs"
**What happened**:
Some panics or problems will happens if we promete any GVRs in k8s.Such as promete a service will generate a panic,promete a ns will generate a error too.
![图片](https://user-images.githubusercontent.com/17697155/167532754-95074d5a-6621-424c-8c5c-d20f18b35cf3.png)

**What you expected to happen**:
limit GVR (deployments,job,crd and  so on ) when excute kubectl karmada promete. Pr

[2022-05-10 02:51] duanmengkk commented on #1758
/cc @RainbowMango @lonelyCZ

[2022-05-10 02:51] duanmengkk commented on #1758
/assign

[2022-05-10 02:55] RainbowMango commented on #1758
I want to know the root cause before make changes for it.
Can you help provide steps for reproducing it?

[2022-05-10 03:14] duanmengkk commented on #1758
1. promete will add  a annotation to resource. if a resource‘ annotation is nil ,will generate a nil-pointed exception.
2. promete excute a command `kubectl get {resource} -n {namespace}` in code,but if a resource is not namespaced,such as `namespace`,`clusterRole`,the command` kubectl karmada promete namespace test -c cluster1` will act as` kubectl get namespace test  -n default `,this will gener

[2022-05-10 03:43] lonelyCZ commented on #1758
Yes, it could be happened.

Could you recreate this specific problem？CRD resource seemingly can be promoted.

Sure, there might be a case where we didn't think about managing services before, and is there a need for managing services？

[2022-05-10 03:58] #1744 closed

[2022-05-10 04:20] duanmengkk commented on #1758
not crd,I mean if a gvr is a global resources(not namespaced resource),there some logic problem in code, promete will excete a `kubectl get clusterRole -n default ` in code if i excete `kubectl karmada promete clusterRole test -c cluster1` in command line.

When user need to deploy diffrent backend-service to diffrent cluster,I doubt this is one of karmada's scene?
May be we should have a limit to

[2022-05-10 04:47] lonelyCZ commented on #1758
There should be no impacts, it firstly scan namescaped resources, if not to find, then scan not-namespaced resources.

Perhaps, we should not limit it too much, if there are crd and cr defined by users, we also support to promote them.

[2022-05-10 05:16] duanmengkk commented on #1758
when i fix the null-pointer exception,and excute 'kubectl karmada promote clusterroles openebs -c cluster37'
![图片](https://user-images.githubusercontent.com/17697155/167546575-e8146ab7-f253-4b9f-806e-88bba4656f4c.png)

Agree ,But how to limit, what  resources to be limited? I think some  system resource in member cluster (such as serviceaccount,clusterRole in kube-system)

[2022-05-10 05:37] lonelyCZ commented on #1758
Right, it also happen in my env, I think it should be checked whether is namespaced or not namespaced resources when creating it.

[2022-05-10 06:18] CharlesQQ commented on #1573
`Both https://github.com/karmada-io/karmada/pull/1715 and https://github.com/karmada-io/karmada/pull/1720 are trying to solve this issue?`
yes

[2022-05-10 06:19] hanweisen opened #1760 "Add a doc guide user propagate namespace by ClusterPropagationPolicy"
**What would you like to be added**:
Add a doc guide user propagate namespace to member cluster manually
**Why is this needed**:
Karmada propagate namespace to all member cluster automatically. Some times user may want to propagate namespace to subset of member cluster. This requirement also mentioned in the last part of this artical [云原生多云应用利器--Karmada 总览篇](https://zhuanlan.zhihu.com/p/455389554)

[2022-05-10 06:24] hanweisen commented on #1760
/assign

[2022-05-10 06:25] CharlesQQ commented on #1573
when cronhpa object cteated, cronhpa targetCluster will be added to PP targetCluster list
![image](https://user-images.githubusercontent.com/18431718/167561981-2bc26052-a048-4012-8fdb-d8a972ff4096.png)

[2022-05-10 07:41] hanweisen commented on #1760
/label documentation

[2022-05-10 07:47] hanweisen commented on #1760
documentation

[2022-05-10 07:48] duanmengkk opened #1761 "Add some default resource out of managed by the control plane"
**What would you like to be added**:

Add some default resources in ResourceDetector's  SkippedResourceConfig to prevent control plane from taking over.

**Why is this needed**:

Karmada already supports configurable namespaces or grks which control plane can not take over.Although we can  add some resource in  `SkippedPropagatingAPIs` ,`SkippedPropagatingNamespaces`,but it is comlex to  add to  l

[2022-05-10 09:44] Poor12 commented on #861
Really interested with `flux`. Since @learner0810 is busy, I will help with this workguide.

[2022-05-10 12:07] Garrybest opened #1762 "TODO List: Enhance Cluster Lifecycle Management"
**What would you like to be added**:
According to https://github.com/karmada-io/karmada/issues/1640#issuecomment-1119377312, I'd like to enhance cluster lifecycle management. Here is the todo-list.

- [x] Add a taint for the clusters which are unhealthy for a period of time.#1781
- [x] Add taint manager. #1945
- [x] Remove cluster scheduling result in `spec.clusters` when the cluster is terminatin

[2022-05-10 12:12] learner0810 commented on #861
I am very sorry that I am writing this work guide. You can look at other issues and say sorry again

[2022-05-11 01:11] Poor12 commented on #861
It doesn't matter. Looking Forward to your contribution.

[2022-05-11 02:34] wuyingjun-lucky commented on #1754
you means we can resovle the question by https://github.com/karmada-io/karmada/pull/1337 done

[2022-05-11 02:35] RainbowMango commented on #1643
/close

Please feel free to re-open it if you want to further discussion.

[2022-05-11 02:35] #1643 closed

[2022-05-11 02:50] luoMonkeyKing opened #1765 "Open karmada-scheduler-estimator error"
**What happened**:
When I deploy karmada on k8s, I want to enable karmada-scheduler-estimator, but the following error is reported：
[code]
**What you expected to happen**:
How to solve this problem and make it work properly ?

**Anything else we need to know?**
I deployed karmada offline on the existing k8s and used the kubeovn network plugin

**Environment**:
- Karmada version: v1.1.2
- kubectl-k

[2022-05-11 03:49] ikaven1024 opened #1767 "TestAggregateJobStatus failed occasionally"
**What happened**:
at most time, unit test go well. While a failure occur once. [see log](https://github.com/karmada-io/karmada/runs/6369010066?check_suite_focus=true#step:4:290)
[code]

**What you expected to happen**:
unit test run always successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Actually it's to reproduce. But we can add sleep after newObj, simulate time l

[2022-05-11 03:49] ikaven1024 commented on #1767
/assign

[2022-05-11 06:16] hanweisen commented on #1765
I think karmada could add a subcmd to enable feature like schedule-estimator
For example
[code]
Then add some code in cluster_controller. when new cluster join deploy corresponding schedule-estimator.

[2022-05-11 06:19] luoMonkeyKing commented on #1765
The problem is solved because hack/deploy-scheduler-estimator.sh is not executed, but I think your proposal is very good

[2022-05-11 06:20] luoMonkeyKing commented on #1765
The problem is solved because hack/deploy-scheduler-estimator.sh is not executed, but I think your proposal is very good

[2022-05-11 06:23] hanweisen commented on #1765
When new cluster add/delete we should execute hack/deploy-scheduler-estimator.sh/delete schedule-es manually. this is inconvenient

[2022-05-11 06:57] chaunceyjiang commented on #1765
I have the same problem.

Agree with you.

[2022-05-11 07:12] ikaven1024 commented on #1767
## Reason of this bug

`expectObj` is create here, set `LastProbeTime` and `LastTransitionTime` with `metav1.Now()`.
https://github.com/karmada-io/karmada/blob/b2ebfb60361a8ac54fb9e2da9728f08ae5c3a02f/pkg/resourceinterpreter/defaultinterpreter/aggregatestatus_test.go#L205-L211

And actual object also set `LastProbeTime` and `LastTransitionTime` with  `metav1.Now()`.
https://github.com/karmada-io/k

[2022-05-11 07:18] #1729 closed

[2022-05-11 08:02] RainbowMango opened #1769 "Improve `hack/local-up-karmada.sh` execution time -2"
**What would you like to be added**:
This is subsequent to #1729. Continue to optimize the performance of `hack/local-up-karmada.sh`.

**Why is this needed**:
The image of `karmada-agent` will be built twice when we load Karmada by `hack/local-up-karmada.sh`.
That's redundant and will slow down the progress.

1st: https://github.com/karmada-io/karmada/runs/6383586223?check_suite_focus=true#step:4:

[2022-05-11 08:42] chaunceyjiang opened #1772 "Incorrect used the member cluster context"
https://github.com/karmada-io/karmada/blob/b2ebfb60361a8ac54fb9e2da9728f08ae5c3a02f/hack/deploy-scheduler-estimator.sh#L52

When I manually deploy `scheduler estimator`, kubectl incorrect used the member cluster context.

It will cause me to connect to the member cluster, but I don't want to.
Maybe I can delete it directly,

[2022-05-11 08:43] chaunceyjiang commented on #1772
/assign

[2022-05-11 09:03] RainbowMango commented on #1765
I'm not sure if `karmadactl init` can install a specific component, such as `karmada-estimator`?
cc @prodanlabs @lonelyCZ for comments.

[2022-05-11 09:18] lonelyCZ commented on #1765
`karmada-estimator` can not installed by `karmadactl init` currently.

Cool, `karmada-estimator` is same as `plugin`, we can enable it by cmd.

[2022-05-11 09:22] lonelyCZ commented on #1765
I mentioned this earlier at #790, `karmada-estimator` does not necessarily need to be deployed when the member cluster is added, deploy it as needed.

[2022-05-11 09:23] hanweisen commented on #1765
When new cluster add, we should deploy a new schedule-estimator. This function can add in cluster_controller, or introduce a new controller.

[2022-05-11 09:34] wuyingjun-lucky opened #1773 "kubectl karmada unjoin CLUSTER_NAME can not remove clusters"
**What happened**:
kubectl karmada unjoin CLUSTER_NAME can not remote clusters
**What you expected to happen**:
kubectl karmada unjoin CLUSTER_NAME can remove clusters
**How to reproduce it (as minimally and precisely as possible)**:
1、
<img width="861" alt="image" src="https://user-images.githubusercontent.com/16109961/167818454-5a8060d4-b5ff-4ca4-b710-95d56ea20d53.png">
2、
<img width="716" alt="

[2022-05-11 09:40] wuyingjun-lucky commented on #1773
@lonelyCZ help me to check the bug and can you tell me when we command `kubectl karmada unjoin CLUSTER_NAME`
What we want happen? Just remove the cluster only and keep resource in the member cluster?

[2022-05-11 09:41] hanweisen commented on #1765
I don't understand why karmada-estimator deploy as needed in #790. when enable karmada-scheduler-estimator we have to deploy all corresponding schedule-estimator, otherwise we will find a connection error in scheduler as mentioned in this issue

[2022-05-11 09:50] chaunceyjiang commented on #1773
It should be like this
[code]

[unregister-cluster-by-cli](https://karmada.io/docs/userguide/cluster-registration#unregister-cluster-by-cli)

[2022-05-11 09:54] wuyingjun-lucky commented on #1773
Yes , The help message is not correct

[2022-05-11 10:05] hanweisen commented on #1765
This is the reason why deploy `karmada-estimator` as needed ?

[2022-05-11 10:17] RainbowMango commented on #1772
cc @Garrybest

[2022-05-11 10:42] hanweisen commented on #1769
There is a little problem with docker.sh. In my env I execute `local-up-karmada.sh` gets a error `hack/docker.sh:行34: target: 只读变量`.  I change `local -ra target=$1` to `local -a target=$1` in docker.sh line 34. problem solved

[2022-05-11 12:29] #1773 closed

[2022-05-11 12:33] duanmengkk commented on #1769
Can you take a look about this @ikaven1024? I have the same problem

[2022-05-11 12:59] RainbowMango commented on #1769
I guess you mean #1774. Please rebase your code and try again.

[2022-05-11 14:18] hanweisen commented on #1769
/assign

[2022-05-12 01:31] wuyingjun-lucky opened #1776 "When I want to promote a deploy from member to cluster control plane It failed because I have not created a namespace."
**Please provide an in-depth description of the question you have**:
When I want to promote a deploy from member to cluster control plane
It failed when I have not created a namespace.
Why karmadactl design like this.
<img width="959" alt="image" src="https://user-images.githubusercontent.com/16109961/167973697-d204b8d3-8865-4c72-82c2-f17858d5de34.png">

**What do you think about this question?**: