[2022-05-12 01:36] chaunceyjiang commented on #1772
<img width="1076" alt="image" src="https://user-images.githubusercontent.com/17962021/167974441-57a3b829-81ed-416e-8965-cf7d3bc5b9f7.png">

[2022-05-12 01:45] RainbowMango commented on #1769
Yes, exactly. We should consider if `hack/deploy-karmada-agent.sh` should take the responsibility to build the images. I guess no.

[2022-05-12 02:16] hanweisen commented on #1769
When developing karmada-agent, deployer may way execute `hack/deploy-karmada-agent.sh` directly and want to the build images. I think we can add a variable in `local-up-karmada.sh`, then `hack/deploy-karmada-agent.sh` check this variable, If exists skip build images.

`hack/deploy-karmada-agent.sh` line 64
[code]

[2022-05-12 02:21] lonelyCZ commented on #1776
Right, the command only support to promote one resource once, if there is not namespace, we need to promote namespace firstly, which is tedious. Namespace is alway used, `--createNS=true` is useful.

[2022-05-12 02:24] wuyingjun-lucky commented on #1776
/assign

[2022-05-12 02:28] ikaven1024 commented on #1769
Giving an ideal. Exact the build function into `build-image.sh`, e.g.
[code]

Then we can call `build_image_karama_agent` repeatedly.

[2022-05-12 02:35] #1767 closed

[2022-05-12 02:38] RainbowMango commented on #1769
Looks like a little bit hack...

[2022-05-12 02:46] hanweisen commented on #1769
Nice idea!

[2022-05-12 03:02] wuyingjun-lucky commented on #1772
good scheme

[2022-05-12 03:51] #1652 closed

[2022-05-12 03:53] #1772 closed

[2022-05-12 03:56] hanweisen commented on #1769
I plan to modify `docker.sh` add `image_ready_tag`
[code]
Then in `deploy-karmada-agent.sh` we can call ensure_image_karama_agent() function
[code]

[2022-05-12 04:06] ikaven1024 commented on #1769
I didn't get it, why must add image_ready_tag in docker.sh, KAMADA_IMAGE_AGENT_READY in build-image.sh is not enough?

Another question, `make image-xxx` will run both `go build` and `docker build`. You only prevent `docker build` twice, but not `go build`

[2022-05-12 04:16] hanweisen commented on #1769
`hack/local-up-karmada.sh` line 108 make images GOOS="linux" --directory="${REPO_ROOT}" will build all images include karmada-agent.

Yes you are right

[2022-05-12 04:41] ikaven1024 commented on #1769
You can build several images with it:
https://github.com/karmada-io/karmada/blob/3e057819f5605a1437a9b2b95f2cda78e182a8be/Makefile#L63

[code]

[2022-05-12 05:48] hanweisen commented on #1769
If make change like this. I think `ensure_image_karama_agent` is not need any more. Just let `hack/deploy-karmada-agent.sh` response to build images for karmada-agent.

[2022-05-12 06:14] ikaven1024 commented on #1769
Yes, you can do it solving this issue.
While, i am thinking when we add more cluster with agent, `hack/deploy-karmada-agent.sh` will run some times.

[2022-05-12 06:18] hanweisen commented on #1769
Yes we really should consider this situation. May be some e2e test need more than one member cluster join with pull mode

[2022-05-12 06:55] #1758 closed

[2022-05-12 07:55] chaunceyjiang opened #1779 "Can't compile on Mac"
**What happened**:

<img width="974" alt="image" src="https://user-images.githubusercontent.com/17962021/168019354-8f072f3e-52b3-4dd4-92d9-41672febd45f.png">

**What you expected to happen**:

Can compile on Mac

**How to reproduce it (as minimally and precisely as possible)**:

The bash version of Mac OS is too low.
The `-A` parameter is not supported.

https://github.com/karmada-io/karmada/blob/

[2022-05-12 07:57] chaunceyjiang commented on #1779
/assign

[2022-05-12 07:59] RainbowMango commented on #1779
Seems this has been solved by #1774.

[2022-05-12 08:06] chaunceyjiang commented on #1779
They are not the same problem ,

only bash 4.0+ supports the  `-A`,
but mac os bash version is 3.2

[2022-05-12 08:12] duanmengkk commented on #1776
Shoule the dependencies(configmap secrets) be promoted? @lonelyCZ

[2022-05-12 08:20] RainbowMango commented on #1779
I get it.
cc @ikaven1024 for comments.

[2022-05-12 08:28] ikaven1024 commented on #1779
ok. i will fix.

[2022-05-12 08:50] XiShanYongYe-Chang opened #1780 "Disenable namespace controller affect other controllers"
**What happened**:

When I disenable `namespace` controller with `karmada-controller-manager` `--controllers` flag:

[code]

And then propagate namespace with `ClusterPropagationPolicy`, here will only generate `ClusterResourceBinding` but not `Work` object generate.

At the same time, all other controllers stop working.

The function does not correctly determine whether to enable the controller.

[2022-05-12 08:50] RainbowMango commented on #1779
Sorry hold on @ikaven1024 , I see @chaunceyjiang has assigned this issue to himself.
I guess you can help review the PR...

[2022-05-12 08:55] XiShanYongYe-Chang commented on #1780
/help

[2022-05-12 09:00] AllenZMC commented on #1780
/assign

[2022-05-12 09:07] hanweisen commented on #1780
--controllers=-namespace,*

[2022-05-12 09:22] XiShanYongYe-Chang commented on #1780
If so, the argument like `--controllers=-namespace` is an incorrect configuration?

[2022-05-12 09:47] AllenZMC commented on #1780
OK, I will do it later.

[2022-05-12 11:45] lonelyCZ commented on #1776
It's a little bit complicated. If you are interested in it, we can talk about it on next meeting.

[2022-05-12 12:14] XiShanYongYe-Chang commented on #1780
They control their own controllers, which were independent of each other.

[2022-05-12 12:23] XiShanYongYe-Chang commented on #1780
Can refer here: https://github.com/karmada-io/karmada/blob/master/docs/frequently-asked-questions.md#why-karmada-requires-kube-controller-manager

[2022-05-12 14:00] BartvdBerkHU opened #1783 "Helm repo for chart retrieval"
**What would you like to be added**:
A Helm repo to be able to retreive a Helm chart remotely without cloning the GitHub repo.

**Why is this needed**:
I only need the Helm chart and not the other contents from the Git repo.

Is there a reason why the Karmada project has chosen to distribute its Helm chart via cloning the repo and call the chart locally?

[2022-05-12 14:05] BartvdBerkHU opened #1784 "Can't install Karmada as krew plugin"
**What happened**:
The Karmada krew plugin installation failed due to an inconsistent checksum.

**What you expected to happen**:
Succesful install of Karmada krew plugin

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl krew install karmada`

**Anything else we need to know?**:
Error:
`Updated the local copy of plugin index.
Installing plugin: karmada
W0512 14:01:19.7123

[2022-05-13 01:19] wuyingjun-lucky opened #1786 "【E2E】Add karmadactl promote test in e2e"
**What would you like to be added**:
【E2E】Add karmadactl promote test in e2e
**Why is this needed**:
lack of promote test

[2022-05-13 01:19] wuyingjun-lucky commented on #1786
/assgin

[2022-05-13 01:21] wuyingjun-lucky commented on #1786
/assign

[2022-05-13 01:22] wuyingjun-lucky commented on #1786
@XiShanYongYe-Chang @lonelyCZ  Is it necessary to add promote e2e test?

[2022-05-13 01:28] XiShanYongYe-Chang commented on #1786
@wuyingjun-lucky Thanks for your attention to e2e. Currently, we just have one promotion test case for the workload(deployment): https://github.com/karmada-io/karmada/blob/0f2bd7c02b6231b644266fb30aa2d62faa261784/test/e2e/porting_workloads_test.go#L22

Which scenario do you want to add?

[2022-05-13 01:32] wuyingjun-lucky commented on #1786
I want to use karmadactl to promote originally.
And add cluster resource.

[2022-05-13 01:51] XiShanYongYe-Chang commented on #1786
I see.  Good 👍 .

We have not developed E2E test cases for `karmadactl` CLI yet. We look forward to your contributions in this regard.

[2022-05-13 01:53] lonelyCZ commented on #1786
Great. Expect for it.

[2022-05-13 01:59] wuyingjun-lucky commented on #1786
Should I add karmadactl_test or promote_test @lonelyCZ @XiShanYongYe-Chang
I found the unjoined_test use karmadactl join and unjoin to do integrated testing
<img width="627" alt="image" src="https://user-images.githubusercontent.com/16109961/168196278-37202013-cd2e-4092-8d94-d30fc3f6851a.png">

[2022-05-13 02:23] #1779 closed

[2022-05-13 02:27] RainbowMango commented on #1783
Thanks for reaching us @BartvdBerkHU.
Yeah, we are planning to do it.  @Poor12 is working on it.

[2022-05-13 02:31] anutosh491 commented on #772
Hello @RainbowMango  , hope you're doing well , this is Anutosh here from India . I'm an open source enthusiast and I'm currently involved with communities based on numerical and symbolic computations/algorithms in math and physics like numpy, sympy, networkx.

I am keen to take part in the LFX Mentorship program for the summer term and this project interests me. But being new to the project , I w

[2022-05-13 02:34] RainbowMango commented on #1784
Very sorry for that. I just realized that it's my fault as I updated the assets manually to fix #1734.

Let me see how to fix it. I guess there are two options:
- Update the checksum recorded in `krew`
- Cut a new release, then `krew` will adopt the newest plugin.

How do you think?

[2022-05-13 02:36] XiShanYongYe-Chang commented on #1786
I this `karmadactl_test` is better, as we continue to add test case for the karmadactl subcommand, we can add new `karmadactl` folders.

`unjoined_test` file directly test `karmadactl.RunJoin` and `karmadactl.RunUnjoin` to build test case. Do you plan to add test case like this? If so, you can put the `unjoin_test` file content into the new karmadactl test file.

[2022-05-13 03:57] ikaven1024 opened #1789 "make test failed ` permission denied` on macos 11.6.5"
**What happened**:
`make test` failed:
[code]

**What you expected to happen**:
test successfully.

**How to reproduce it (as minimally and precisely as possible)**:
make test on macos 11.6.5

**Anything else we need to know?**:
Of course, it's bug of gomonkey, https://github.com/agiledragon/gomonkey/issues/77. But it is a bad experience for karmadaer. So shall we remove `gomonkey`?

**Environment

[2022-05-13 03:58] ikaven1024 commented on #1789
/assign

[2022-05-13 06:04] ikaven1024 commented on #1789
https://github.com/agiledragon/gomonkey/issues/57#issuecomment-919782941

[2022-05-13 06:27] RainbowMango commented on #1789
We haven't been much used this tool.  My answer is yes if we find an alternative way.

[2022-05-13 06:33] Poor12 commented on #1783
/assign

[2022-05-13 06:41] RainbowMango commented on #1719
Hi @ameena007 , We have improved the performance recently, and can you help to test again?

[2022-05-13 07:24] #1780 closed

[2022-05-13 09:13] RainbowMango commented on #1769
I think `hack/local-up-karmada.sh` would fit most cases for development. Please reminds me if it doesn't.

[2022-05-13 09:26] ikaven1024 commented on #1769
`hack/local-up-karmada.sh` will desctroy old clusters and create new cluster. Developer may have created some resource in cluster, and donnot want it lost.

[2022-05-13 09:40] RainbowMango opened #1794 "[umbrella] Karmada search implementation"
**What would you like to be added**:

**Why is this needed**:

[2022-05-14 14:48] #1769 closed

[2022-05-15 06:58] wlp1153468871 commented on #1723
/cc @kevin-wangzefeng

[2022-05-15 09:45] AALEKH commented on #772
Hey @RainbowMango Any Update on this comment, I would like to volunteer to work on this issue under LFX Mentorship Program? Happy to send you a proposal about the same, Thanks!!

[2022-05-16 01:27] kevin-wangzefeng commented on #1723
+1

[2022-05-16 01:28] kevin-wangzefeng commented on #1723
Invitation sent, please visit https://github.com/karmada-io to accept the invitation.

[2022-05-16 02:41] chaunceyjiang opened #1797 "Resourcebindings FULLYAPPLIED field is False"
**What happened**:

<img width="699" alt="image" src="https://user-images.githubusercontent.com/17962021/168510569-2204ff9d-09d8-46db-a909-eeb1d7606b04.png">

**What you expected to happen**:

`FULLYAPPLIED` field is True

**How to reproduce it (as minimally and precisely as possible)**:
1. create pp
[code]
2. apply nginx service
[code]

3. check resourcebindings
[code]
**Anything else we need to

[2022-05-16 02:42] chaunceyjiang commented on #1797
/assign

[2022-05-16 02:47] hyq-make opened #1798 "How to scale the cluster horizontally to ensure maximum utilization of resources？"
**What would you like to be added**:
I want to add the function that ensure maximum utilization of resources.
**Why is this needed**:
For example, I have two clusters such as A and B. According to the resource utilization, I want to dispatch  microservices to these cluster. If A's cpu has been used by 95% and B's cpu has been used by 45%，we can believe that the B should be used with more. After re

[2022-05-16 03:23] Poor12 commented on #861
kindly ping @learner0810

[2022-05-16 09:01] ikaven1024 opened #1800 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit some PRs

See:

https://github.com/karmada-io/karmada/pulls?q=is%3Aclose+is%3Apr+author%3Aikaven1024

Hope bring more improvements for Karmada in the future.

[2022-05-16 09:02] ikaven1024 commented on #1800
@RainbowMango

[2022-05-16 09:45] RainbowMango commented on #1800
Welcome !!!
+1 from me

/assign @kevin-wangzefeng

[2022-05-16 11:03] CharlesQQ commented on #1789
I meet the same problem
<img width="232" alt="image" src="https://user-images.githubusercontent.com/18431718/168579226-fec8da2a-e7a8-4eab-967c-b079f192a485.png">

[2022-05-16 12:49] XiShanYongYe-Chang commented on #1797
Thanks for your pointing out!

[2022-05-16 13:08] XiShanYongYe-Chang commented on #1797
For services other than the lb type, it is unnecessary to collect their status, because for `.status.loadBalancer`, only services for the lb type exist.

Maybe we can fix this bug by modifying `assembleWorkStatus` function.

[2022-05-16 15:53] CharlesQQ commented on #1703
/close

[2022-05-17 01:44] RainbowMango commented on #1571
/close

[2022-05-17 01:44] #1571 closed

[2022-05-17 01:59] #1723 closed

[2022-05-17 01:59] duanmengkk commented on #1673
I used to think about it this way,but i research the code in k8s, they just log the error and do not return it,because the result and error can return at the same time. see https://github.com/kubernetes/kubernetes/blob/c84d0864ddebbd0d36ce295cf74a447f24d7b3ec/staging/src/k8s.io/client-go/restmapper/shortcut.go#L88 and https://github.com/kubernetes/kubernetes/blob/c84d0864ddebbd0d36ce295cf74a447f24

[2022-05-17 01:59] chaunceyjiang commented on #1797
Why not delete the follow code?
https://github.com/karmada-io/karmada/blob/b54760bb00c05141bc968b12532d19ebeba61904/pkg/controllers/status/workstatus_controller.go#L286-L288

[2022-05-17 02:15] #1789 closed

[2022-05-17 02:16] XiShanYongYe-Chang commented on #1673
I was worried that a propagated error might not be easy to locate.

The APIs collected by the cluster are set in `.status.apiEnablements`, users can also locate the error based on logs. It is feasible.

[2022-05-17 02:20] XiShanYongYe-Chang commented on #1797
This patch is added to reduce unnecessary work status updates. For resources with no status or meaningless status, we can only record whether the propagation is successful in work.

[2022-05-17 02:28] duanmengkk commented on #1673
sorry,i do not understand you very clearly ,you mean whe add a new status in status.conditions.status and add store the log in status.conditions.message? @XiShanYongYe-Chang
![image](https://user-images.githubusercontent.com/17697155/168716028-795cb4d3-193c-4657-b773-aa74d48feefe.png)

[2022-05-17 02:42] XiShanYongYe-Chang commented on #1673
@duanmengkk Sorry, I didn't explain clearly. That's what I thought.

[2022-05-17 02:53] duanmengkk commented on #1673
ok,i will modify the PR according to your suggestion

[2022-05-17 03:10] XiShanYongYe-Chang commented on #1673
It's my suggestion, we can ask @lonelyCZ @RainbowMango for suggestions.

[2022-05-17 03:44] XiShanYongYe-Chang opened #1807 "Remove karmada-config flag in karmada-aggregated-apiserver"
**Task description**:

As `karmada-config` flag has been marked deprecated in `karmada-aggregated-apiserver` component, we need to remove this flag in `karmada-aggregated-apiserver` deployment.

**Solution**:

Remove `karmada-config` flag in `karmada-aggregated-apiserver` deployment, such as `artifacts/deploy/karmada-aggregated-apiserver.yaml:39`.

**Who can join or take the task**:

The good firs

[2022-05-17 03:48] huangyiqi111 commented on #1807
I want to try it.

[2022-05-17 03:49] XiShanYongYe-Chang commented on #1797
This solution is feasible. Thanks~

[2022-05-17 03:51] huangyiqi111 commented on #1807
I want to try it.
/assign

[2022-05-17 05:44] my-git9 opened #1809 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to  trying to put some PRs for karmada

See:
https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Amy-git9+is%3Aclosed+

Hope bring more improvements for Karmada in the future.

[2022-05-17 06:24] XiShanYongYe-Chang commented on #1807
@huangyiqi111 thanks.

[2022-05-17 06:28] my-git9 commented on #1809
@RainbowMango

[2022-05-17 06:31] RainbowMango commented on #1809
+1
Thanks @my-git9 for the contributions.
/assign @kevin-wangzefeng

[2022-05-17 08:32] wuyingjun-lucky opened #1812 "Scheduler always connect karmada-scheduler-estimator-cluster service while karmada system is deployed by `karmada-init`"
**What happened**:
Scheduler always connect karmada-scheduler-estimator-cluster service while karmada system is deployed by `karmada-init`
<img width="1415" alt="image" src="https://user-images.githubusercontent.com/16109961/168766383-9e6c4673-4005-4e2f-b3b1-1d4ec6c8da95.png">
Scheduler log error continuously
**What you expected to happen**:
Scheduler log normally
<img width="546" alt="image" src=

[2022-05-17 08:51] lonelyCZ commented on #1812
This should be in order to enable the `scheduler-estimator` at any time, otherwise we need to restart the `karmada-scheduler` when we deploy the `estimator` for the member cluster.

Perhaps, this polling is more frequent, is there a way to automatically detect, automatic sleep.

[2022-05-17 09:41] likakuli opened #1813 "lease of karmada component create failed when use custom namespace"
**What happened**:
Lease of karmada component will create failed when use custom namespace, this problem is introduced by https://github.com/karmada-io/karmada/pull/1683

**What you expected to happen**:
karmada component create successfully whether use custom namespace or not.

**How to reproduce it (as minimally and precisely as possible)**:

1. kubectl create ns customns
2. karmada init --names

[2022-05-17 11:21] XiShanYongYe-Chang commented on #1786
/close

As #1801 has added the karmadactl promote e2e test.

[2022-05-17 11:21] #1786 closed

[2022-05-17 12:34] wuyingjun-lucky commented on #1753
/close
As https://github.com/karmada-io/karmada/pull/1764 closed

[2022-05-17 12:41] GitHubxsy commented on #1798
This feature appears to be a central HPA and can be elastically scaled across clusters.

[2022-05-17 13:08] huangyiqi111 commented on #1798
Yes, this is my idea, and I think the function is significance for resource utilization. But I don't known without this function is implemented in other tools. If not, I want to try to add this function to Karmada.

[2022-05-17 13:44] RainbowMango commented on #1753
/close

@wuyingjun-lucky Maybe you can use this command after you become a member of Karmada. You can file an issue for the membership.

[2022-05-17 13:44] #1753 closed

[2022-05-17 14:07] wuyingjun-lucky opened #1815 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit PRs 10+
PRs：
https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Awuyingjun-lucky+is%3Aclosed

Hope bring more improvements for Karmada in the future.

[2022-05-17 14:07] wuyingjun-lucky commented on #1815
@RainbowMango

[2022-05-17 14:47] calvin0327 opened #1816 "Use remote-up-karmada.sh install karmada in kind"
**What happened**:
After installing karmada in the kind cluster.  the karmada-apiserver failed to conenct.

I cat the `~/.kube/config` and find the new cluster server be added. but the url can't be access on the host.

<img width="939" alt="image" src="https://user-images.githubusercontent.com/45745657/168840322-67e88528-caec-4d1c-9c19-c7619ef526e6.png">

<img width="658" alt="image" src="https://

[2022-05-18 00:33] CharlesQQ commented on #1710
/close

[2022-05-18 00:33] #1710 closed

[2022-05-18 00:51] CharlesQQ opened #1817 "How to ensure dependencies are created or updated before workloads"
**Please provide an in-depth description of the question you have**:
If both the dependency and the workload image are created or updated, should the workload be synchronized to the member cluster before the dependency is successful?

**What do you think about this question?**:
If workload synced successfully but dependency failed, this might be a problem?
**Environment**:
- Karmada version:
- Kub

[2022-05-18 01:47] RainbowMango commented on #1816
Seems the service of `karmada-apiserver` hasn't been exposed.
It is not recommended to install Karmada on a kind cluster by `hack/remote-up-karmada.sh`, it's not convenient since you might have to consider how to expose the service. [See the comments](https://github.com/karmada-io/karmada/blob/be5755daaf287b5618b8c86844e0a6f034f5b733/hack/remote-up-karmada.sh#L13).

Why not use `hack/local-up-karm

[2022-05-18 01:50] RainbowMango commented on #1784
Hi @BartvdBerkHU I just updated the checksum and tested it on my side.

[code]

Thanks for reporting this.

[2022-05-18 01:51] #1784 closed

[2022-05-18 01:51] RainbowMango commented on #1784
/assign

[2022-05-18 01:55] RainbowMango commented on #1817
Do you mean does the `workload` will be waiting for all the `dependencies` ready before going to member clusters?

[2022-05-18 01:57] likakuli commented on #1813
It seems that this bug have been fixed in master branch, so i closed it

[2022-05-18 02:33] RainbowMango commented on #1813
By which PR?

[2022-05-18 02:53] CharlesQQ commented on #1817
Yes, if u don't do this, there may be problems with the new pod running; from what I've looked at the `dependencies distributor` controller's code, it doesn't seem to guarantee this

[2022-05-18 03:17] wuyingjun-lucky opened #1821 "Promote failed if you promote a resource (other kind) with same name before"
**What happened**:
Promote failed if you promote a resource (other kind) with same name before
**What you expected to happen**:
promote sucess
**How to reproduce it (as minimally and precisely as possible)**:
`Step 1 in member`:
kubectl create clusterrole  test-0517 --verb=get,list,watch --resource=pods
kubectl create namespace test-0517
`Step 2 in karmada`
kubectl-karmada --kubeconfig /etc/karmad

[2022-05-18 03:30] lonelyCZ commented on #1821
Thanks for finding it, yes, this is a bug, for cluster scope resource, we could add kind to the name of `cpp`.

[2022-05-18 03:32] wuyingjun-lucky commented on #1821
kind + "-" + "name" + "-propagation" ?

[2022-05-18 03:33] wuyingjun-lucky commented on #1821
/assigne

[2022-05-18 03:33] wuyingjun-lucky commented on #1821
/assign

[2022-05-18 03:39] lonelyCZ commented on #1821
Good.

[2022-05-18 05:56] wuyingjun-lucky opened #1823 "karmadactl taint failed"
**What happened**:
karmadactl taint  failed
**What you expected to happen**:
karmadactl taint  sucess

**How to reproduce it (as minimally and precisely as possible)**:
`Step one`
Use karmadactl command to taint a cluster like
<img width="1062" alt="image" src="https://user-images.githubusercontent.com/16109961/168967075-d69e506c-93d1-4ae4-b31b-75c6609da45f.png">

**Anything else we need to know?*

[2022-05-18 06:04] wuyingjun-lucky commented on #1823
/assign

[2022-05-18 06:08] lonelyCZ commented on #1823
Right, it is a problem, it always use default path. Thanks.

[2022-05-18 06:33] #1797 closed

[2022-05-18 07:01] #1296 closed

[2022-05-18 07:37] likakuli commented on #1813
there are two pr to support custom namespace

1. https://github.com/karmada-io/karmada/pull/1449
2. https://github.com/karmada-io/karmada/pull/1683

Both need to be cherrypick to v1.1.2 tag. For now, only the second pr was picked to v1.1.2 tag. This bug could be triggered when use v1.1.2 and use kubectl init --namespace.

[2022-05-18 07:44] likakuli commented on #1813
release-1.0 and release-1.1 have this bug also.

[2022-05-18 07:55] RainbowMango commented on #1736
Sorry @lonelyCZ , I didn't get the necessity of this.

For 1: I think it's a case that we can fix it.
For 2: I think for Push mode cluster, we stores the secrets to `karmada-cluster` namespaces and install components in `karmada-system`, seems no difference with Pull mode. What am I missing here?

For 3:
I would say that the `karmada-system` is intended for system components and `karmada-cluster`

[2022-05-18 07:57] #1568 closed

[2022-05-18 08:01] RainbowMango commented on #1813
OK. Thanks for pointing this out.
Can you help cherry-pick the missed one ?
You can use `hack/cherry_pick_pull.sh` to do it.
https://github.com/karmada-io/karmada/blob/master/docs/contributors/devel/cherry-picks.md

[2022-05-18 08:34] lonelyCZ commented on #1736
Ok, that makes sense. Thanks. :)

[2022-05-18 08:34] #1736 closed

[2022-05-18 10:03] chaunceyjiang commented on #1794
Why use `OpenSearch`?, which is implemented in Java and not is a member of CNCF, we can try to use [clusterpedia](https://github.com/clusterpedia-io/clusterpedia)

[2022-05-18 10:23] RainbowMango commented on #1673
// case of non-nil error.
	ServerGroupsAndResources() ([]*metav1.APIGroup, []*metav1.APIResourceList, error)

I agree to add a new condition for it. And at the meantime, I'm thinking if we can get the API list as much as we can?

Without the API enablement, the resource will be prevented from the cluster by `karmda-scheduler`, because [there is a plugin to check the API enablements](https://github

[2022-05-18 10:52] likakuli commented on #1813
opened two pr to check pick https://github.com/karmada-io/karmada/pull/1449 to release-1.0 and release-1.1

https://github.com/karmada-io/karmada/pull/1827
https://github.com/karmada-io/karmada/pull/1826

[2022-05-18 11:33] duanmengkk commented on #1673
I don't think that's a conflict,if a error occurs,it means k8s server can not hanlder the gvr,so the APIinstalled plugin should ignore the gvr too.
Let me reproduce the scenario,if a APIService is
[code]
and I apply it.Then `kubectl api-resources` will return
![image](https://user-images.githubusercontent.com/17697155/169028639-3ec122c4-7987-48d1-a1a6-92ca90b65418.png)
This does no matter affect t

[2022-05-18 12:17] duanmengkk opened #1828 "Huge CPU usage when apply workload.example.io_workloads.yaml"
cpu usage is too large when apply `workload.example.io_workloads.yaml` and my cluster is deployed by kind .It locked when i apply the work.
![image](https://user-images.githubusercontent.com/17697155/169036780-625a5d59-3108-40f4-b7b4-73c96e4a4356.png)

![image](https://user-images.githubusercontent.com/17697155/169036118-07d8f9f2-a5b1-4fad-965b-10a8a0cdc7ba.png)
Take other resource as a comparison

[2022-05-18 12:23] duanmengkk commented on #1828
I have no idea about it, need your help @XiShanYongYe-Chang
Is the problem location in it?
![image](https://user-images.githubusercontent.com/17697155/169037690-ada44bbf-6dcd-47e0-bac5-87c38da1dfa0.png)

[2022-05-18 12:58] #1716 closed

[2022-05-19 01:09] hanweisen opened #1831 "Add karmadactl cordon/uncordon test in e2e"
**What would you like to be added**:
Add karmadactl cordon/uncordon test in e2e
**Why is this needed**:
Missing karmadactl cordon/uncordon test in e2e

[2022-05-19 01:10] hanweisen commented on #1831
/assign

[2022-05-19 02:15] RainbowMango commented on #1794
The `OpenSearch` won't be the only `database` for `karmada-search`. We hope to add other `database` support after that.
Even though we can't say `clusterpedia` is a database, but I'd say the door is always open for it.

The reason why we select `OpenSearch` is based on the demo made by @liys87x, the practice he made for his company is mature enough.

[2022-05-19 06:28] #1823 closed

[2022-05-19 07:05] likakuli commented on #1813
Do we need to cherrypick the lost pr into v1.1.tag also? release-1.0 and release-1.1 branch is ok now.

[2022-05-19 07:30] RainbowMango commented on #1813
No, we can't modify tags. After we cherry-pick patches to the release branch, we'll cut a new release(a new tag).

[2022-05-19 09:13] kevin-wangzefeng commented on #1815
+1

[2022-05-19 09:14] kevin-wangzefeng commented on #1815
Invitation sent, please visit https://github.com/karmada-io to confirm and join.

[2022-05-19 09:17] zirain opened #1836 "run karmada join failed"
**What happened**:

run `karmada-ctl join` after `karmada init` faild.

**What you expected to happen**:

cluster join karmada as a member.

**How to reproduce it (as minimally and precisely as possible)**:

run `karmada-ctl join` once `karmada init` completed.
[code]

there is residual secrets in karmada-cluster namespace, and will reject re-join cluster.
[code]

the failure message is not friend

[2022-05-19 09:47] XiShanYongYe-Chang commented on #1807
Hi @huangyiqi111, Have you encountered any difficulties?

[2022-05-19 09:48] wuyingjun-lucky commented on #1815
Thank you @kevin-wangzefeng @RainbowMango

[2022-05-19 09:49] wuyingjun-lucky commented on #1815
/close

[2022-05-19 09:49] #1815 closed

[2022-05-19 10:00] huangyiqi111 commented on #1807
Yes, I have been installed Karmada on Virtual Machine and don't known how to use it to do something. At the same time, I need a few days to deal with something for my department, so I will fix it later.  Is this mission urgent?

[2022-05-19 10:01] huangyiqi111 commented on #1807
Yes, I have been installed Karmada on Virtual Machine and don't known how to use it to do something. At the same time, I need a few days to deal with something for my department, so I will fix it later. Is this issue urgent?

[2022-05-19 10:58] RainbowMango commented on #1807
No worries. Take your time. Feel free to let us know if you need help. @huangyiqi111

[2022-05-19 13:26] hanweisen commented on #1836
`cluster` is handle by `karmada-aggregated-apiserver.` May be this is cause by your `karmada-aggregated-apiserver` is not ready. I reproduce your problem by set 'karmada-aggregated-apiserver' replice zero
[code]

[2022-05-19 15:19] RainbowMango commented on #772
@AALEKH @anutosh491 Thanks for reaching us. This task requires some basic knowledge about [Kubernetes](https://k8s.io), and after that, you can get started with [Karmada quick start](https://github.com/karmada-io/karmada#quick-start).
Here is [some documents](https://github.com/karmada-io/karmada/tree/master/docs/userguide) too that might be helpful to understand the project.

[2022-05-20 01:31] zirain commented on #1836
maybe `karmada init` should exit unless `aa` is ready?

[2022-05-20 01:46] RainbowMango opened #1841 "[flake]FederatedResourceQuota auto-provision testing"
#### Which jobs are flaking:
FederatedResourceQuota auto-provision testing
https://github.com/karmada-io/karmada/runs/6517485253?check_suite_focus=true

#### Which test(s) are flaking:
[code]

#### Reason for failure:

#### Anything else we need to know:
Download the full log from : https://github.com/karmada-io/karmada/suites/6584849366/logs?attempt=1
View the full log online: https://github.com/

[2022-05-20 01:48] XiShanYongYe-Chang commented on #1836
It is not enough to judge that the aa is ready. We should also judge that the cluster api is ready:
[code]

[2022-05-20 02:47] XiShanYongYe-Chang commented on #1841
Currently, the logs of the `member3` cluster are not collected. Therefore, We can't determine if the resources on the `member3` cluster are being handled correctly. So we need to collect logs on the pull mode cluster.

[2022-05-20 02:53] XiShanYongYe-Chang commented on #1841
During the test, we should output more detailed error info to help us determine whether the abnormal running of the `clusterClient` causes the fault:

https://github.com/karmada-io/karmada/blob/7e6c38a6e79e9e0c2b18eaaf5f55a230e385757a/test/e2e/framework/resourcequota.go#L52-L53

[2022-05-20 02:54] XiShanYongYe-Chang commented on #1841
/assign

[2022-05-20 02:56] anutosh491 commented on #1807
Hello @huangyiqi111 , if you're okay could I possibly try fixing this . Being a new contributor I would like to start with a good first issue and this issue looks approachable to me . I am getting some help setting up Karmada locally on Slack ([thread link](https://cloud-native.slack.com/archives/C02MUF8QXUN/p1652970743304369)) after which I would like to work on this !

[2022-05-20 03:17] likakuli opened #1844 "resource not rescheduled when uncordon cluster"
**What happened**:
resource not rescheduled when uncordon cluster

**What you expected to happen**:
reschedule triggered

**How to reproduce it (as minimally and precisely as possible)**:

1. cordon member cluster A.
2. create a deploy and a pp, set cluster affinity of pp to cluster A and B with `Duplicated` type.
3. deploy will scheduled to cluster B because of cluster A has taint which deploy no

[2022-05-20 03:20] likakuli commented on #1844
the reason is that karmada-scheduler only care cluster conditions, the other property's change will not trigger reschedule logic

[2022-05-20 04:06] hanweisen commented on #1844
I meet the same problem.

[2022-05-20 04:11] lonelyCZ opened #1847 "The PULL mode cluster cannot be deleted immediately"
**What happened**:
When the status of PULL mode cluster is `Unknow`

[code]

The deleting process is stuck.
[code]

Then needing to remove manually `finalizers` filed of `cluster` and all `work` objects, the cluster can be deleted.
[code]

[code]

[code]

**What you expected to happen**:
The PULL mode cluster can be deleted immediately, not need to remove `finalizers` manually.

**How to reproduce

[2022-05-20 05:34] duanmengkk commented on #1828
It is not a bug, This is because `Template corev1.PodTemplateSpec json:"template" protobuf:"bytes,3,opt,name=template" `definited in `WorkloadSpec` is a little complex,so the apiserver take a long time to computing it. I delete `Template corev1.PodTemplateSpec json:"template"` and regenerate the crd, `kubectl apply -f workload.example.io_workloads.yaml `
will immediate response.

It takes a long t

[2022-05-20 06:00] duanmengkk commented on #1828
/close fixed,the kubectl version is old

[2022-05-20 06:00] #1828 closed

[2022-05-20 06:51] RainbowMango commented on #1847
I doubt it. Let me guess, when you are deleting the cluster by `kubectl delete clusters member1` what you really want to do is `unregister` the cluster from Karmada, then I'd say it's not the recommended way to do that. You should turn to `karmadactl unjoin` command.

[2022-05-20 06:53] wanghonglei5181 opened #1849 "how to use karmada to propagate keda.sh cr and istio cr and customer cr to member cluster?"
**how to use karmada to propagate keda.sh cr and istio cr and customer cr to member cluster?**:
* for example ,i have 4 kubernetes cluster,they are run in diffrent data center.
* i need deploy kubernetes deployment\service\ingress\configmap\... etc.
* i need deploy keda.sh ,keda cr.
* i need deploy istio ,gateway\virtual service\destination rule\... etc.
* i need deploy some customer cr.
* all abo

[2022-05-20 06:56] XiShanYongYe-Chang commented on #1828
Thanks for your analysis.

We use it primarily to simulate a workload, similar to `Deployment`, as we use in e2e:

https://github.com/karmada-io/karmada/blob/4d5428e79824946cc7aeeceeca1b0e8c446233ed/test/helper/resource.go#L499

[2022-05-20 06:58] RainbowMango commented on #1849
From the title seem you are asking about the way to propagate `CRs`.
CRs are no different from Kubernetes native resources except that you should install the `CRDs` to the member cluster first, sure Karmada can help to propagate CRDs too, in that case, `CRD` itself is no different from other resources.

Let me know if it's not the case you are asking.

[2022-05-20 07:19] wanghonglei5181 commented on #1849
## i have installed istio crds on karmada-apiserver\karmada-host\member1\member2\member3
## i create gateway and PropagationPolicy use the follow yamls
## switch to member1\member2\member3,i can not found gateway cr in the three clusters
## am i do some wrong operation?
## thanks!!
[code]

[2022-05-20 07:19] lonelyCZ commented on #1847
I think so, but this way is shown  in the usage document.

https://github.com/karmada-io/karmada/blob/92a134b00fb77936921a595d14dd9a68be91e18a/docs/userguide/cluster-registration.md?plain=1#L87-L106

I guess this seem not root cause, I am going to check it.

[2022-05-20 07:21] wanghonglei5181 commented on #1849
## here is some logs from kamada-controller-manager
[code]

[2022-05-20 08:06] RainbowMango commented on #1849
`name: "wap-test-online-gateway"` vs `name: sinawap-test-online-gateway`
The name `wap-test-xxx` is different with `sinawap-test-xxx`.

[2022-05-20 08:12] RainbowMango commented on #1847
Sorry, I misunderstand. the `unjoin` command is intended for `Push` clusters, not `Pull`.

You might be more clear than me on how to unjoin `Pull` clusters. In my opinion, if someone wants to unjoin the `Pull` cluster, he must stop or remove `karmada-agent` first, then cleanup the legacy resources in `karmada-apiserver`.

[2022-05-20 08:25] duanmengkk commented on #1761
/kind bug

[2022-05-20 08:29] wanghonglei5181 commented on #1849
## the new yamls.
I delete the old .
use the new yamls to create,
i can not found gateway in member1/member2/member3

** thanks **
## the new yamls
0> cat gateway.yaml
kind: "Gateway"
apiVersion: "networking.istio.io/v1alpha3"
metadata:
  name: "wap-test-online-gateway"
spec:
  servers:
    -
      port:
        number: 80
        protocol: "HTTP"
        name: "wap-test-online-gateway"
      host

[2022-05-20 08:30] duanmengkk commented on #1761
/remove kind feature

[2022-05-20 08:34] lonelyCZ commented on #1847
Right, that is the process. When `karmada-agent` is removed firstly, the `Cluster Status` will be changed to `Unknown` in karmada control plane. Because the control plane no longer has access to the Cluster-Controller and execution-Controller in the member cluster, finalizers cannot be removed, causing the cluster deletion process to get stuck.

I'll explore if there's a way to solve the problem.

[2022-05-20 08:54] duanmengkk opened #1852 "Support --context in karmadactl"
**What would you like to be added**:
add `--kubeconfig` and `--context` in karmadactl
**Why is this needed**:
I have a problem when excuting promote command
![image](https://user-images.githubusercontent.com/17697155/169492382-edf4f1ec-9f3e-4618-9f81-4393b48c1aca.png)

[2022-05-20 08:55] duanmengkk commented on #1852
Do you think we need it ? @lonelyCZ

[2022-05-20 08:55] duanmengkk commented on #1852
/kind bug

[2022-05-20 08:58] lonelyCZ commented on #1852
Please have a try `--karmada-context`

[2022-05-20 09:05] zirain commented on #1836
as we talk offline, we can change `aa` ready after cluster api is registered, and `karmdactl init` should wait for `aa` ready?

[2022-05-20 09:09] duanmengkk commented on #1852
thanks,why not `--context` @lonelyCZ

[2022-05-20 09:10] likakuli opened #1853 "Use taint instead of condition in karmada scheduler"
**What would you like to be added**:

use taint to filter cluster instead of using cluster ready condition.

**Why is this needed**:

User story:

Support set not ready clusters to rb.  For now, not ready cluster will be filtered.

for example:

pp's cluster affinity has tow cluster: A and B, and B is not ready for some reason now.

if i add another ready cluster C to pp's cluster affinity, the rb

[2022-05-20 09:15] lonelyCZ commented on #1852
Perhaps, it can distinguish your operations between karmada-host-cluster and karmada-control-plane.

For example, the `karmadactl init` use `--context` to operate karmada-host-cluster.

[2022-05-20 09:28] duanmengkk commented on #1852
sorry,i can not understand, `kubectl karmada --context {context-name}`,Didn't we distinguish operations by `context-name`?

[2022-05-20 09:39] lonelyCZ commented on #1852
Yes, there are two `context` in `karmadactl` that can prompt the user not to use it incorrectly.

Of course, I don't think it will do much. That's probably the only reason to use `--karmada-context` now.

This is Karmada's early definition, maybe ask @RainbowMango  what he thinks.

[2022-05-20 09:51] RainbowMango commented on #1849
Please check the `ResourceBinding` object to see if the scheduler works as expected.

[2022-05-20 10:01] duanmengkk commented on #1853
refer to https://github.com/karmada-io/karmada/issues/1762,  They are working for it now.

[2022-05-20 10:10] duanmengkk commented on #1844
We can use k8s as a comparison, `cordon `means `SchedulingDisabled`,pod in node will not be evicted,`drain ` will evicted pod instead.Maybe that's not a problem?

[2022-05-20 10:10] likakuli commented on #1853
thx，I found the taint has already been added. so i just make a pr to update karmada scheduler to make it not filter cluster by condition.

[2022-05-20 10:23] likakuli commented on #1844
If i set a nodeselector to pod that i want to schedule pod to node A. If node A is unschedulable, the pod will schedule failed. but when the node becomes schedulable, the pod will move to active queue to be scheduled again.

karmada-scheduler not reschedule when cluster bacomes ready.

[2022-05-20 10:36] duanmengkk commented on #1844
we have discussed about it ,k8s's nodeAffinity support two mode ,`requiredDuringSchedulingIgnoredDuringExecution` and `preferredDuringSchedulingIgnoredDuringExecution`, karmada's clusterAffinity seems is `preferredDuringSchedulingIgnoredDuringExecution`,that means if a cluster is not ready,replicas will scheduled to other ready cluster.
Maybe we should add a similar field in `PropagationPolicy.spe

[2022-05-20 10:53] likakuli commented on #1844
I don't know if this comment is related to this?  https://github.com/karmada-io/karmada/blob/92a134b00fb77936921a595d14dd9a68be91e18a/pkg/scheduler/scheduler.go#L338

[2022-05-20 10:58] wanghonglei5181 commented on #1849
## it looks like this,this is no gateway  resourceBinding
0> kubectl get resourcebindings.work.karmada.io -A
NAMESPACE   NAME               SCHEDULED   FULLYAPPLIED   AGE
default     nginx-deployment   True        True           2d1h

[2022-05-20 12:41] likakuli commented on #1853
https://github.com/karmada-io/karmada/issues/1762 is for evict, use `TaintEffectNoExecute`, taint is added when failover eviction timeout, but what i need is to add `TaintEffectNoSchedule` immediately when cluster not ready.

[2022-05-21 02:09] duanmengkk commented on #1844
Not really,it means if cluster'status from ready to unready, and if `failover ` is open,karmada will trigger a reschedule

[2022-05-21 02:31] RainbowMango commented on #1849
It's weird. Then, please share the reproduction steps, then I can help reproduce on my side.

[2022-05-21 10:03] hanweisen opened #1857 "resourcebinding should be reschedule after scheduling failure"
**What would you like to be added**:
`resourcebinding` should be reschedule after scheduling failure.
**Why is this needed**:
After scheduling `resourcebinding` failed, karmada will not reschedule `resourcebinding` except user update `propagationpolicy` or the replica of the resource . The status of the resource will never meet user's expectation.  For example I have cluster A and cluster B have b

[2022-05-21 10:20] RainbowMango commented on #399
/close
We already have some documents at https://github.com/karmada-io/karmada/tree/master/docs/userguide.
Feel free to touch us if you need more.

[2022-05-21 10:20] #399 closed

[2022-05-21 10:21] RainbowMango commented on #695
/close

Please reopen it if we still need it.

[2022-05-21 10:21] #695 closed

[2022-05-21 11:37] Garrybest commented on #1853
Hi @likakuli, we'are going to stop evicting already-scheduled result in scheduler. So I think this problem may be fixed after https://github.com/karmada-io/karmada/issues/1762.

[2022-05-22 02:56] #1857 closed

[2022-05-22 04:46] likakuli commented on #1853
I don't have any requirement for eviction. In my case, i wish the resource  can be scheduled to clusters specified in pp's placement whether the cluster is ready or not and whether the api  is installed in the cluster or not.

Maybe i can directly operate the resoucebinding to skip the karmada scheduler?

[2022-05-22 04:49] liys87x opened #1860 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit some PRs

See:

https://github.com/karmada-io/karmada/pulls?q=is%3Aclose+is%3Apr+author%3Aliys87x

Hope bring more improvements for Karmada in the future.

[2022-05-22 10:26] duanmengkk opened #1862 "support to promote dependency resources automatically"
**What would you like to be added**:
Currently,`kubectl kamada promote` only support promote resources one by one ,wish to support promote dependency resources automatically

**Why is this needed**:

[2022-05-22 10:41] liys87x commented on #1860
@RainbowMango

[2022-05-22 10:42] duanmengkk opened #1864 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit PRs 10+
PRs：
https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Aduanmengkk
Issues:
https://github.com/karmada-io/karmada/issues?q=is%3Aissue+author%3Aduanmengkk
Hope bring more improvements for Karmada in the future.

[2022-05-22 10:43] duanmengkk commented on #1864
@RainbowMango

[2022-05-22 13:58] huangyiqi111 commented on #1807
Ok，you can do it! If you will fix it, Could you help me to understand it about this issue?

[2022-05-22 13:59] huangyiqi111 commented on #1807
Ok，you can do it! If you will fixed it, Could you help me to understand it about this issue?

[2022-05-23 00:15] wanghonglei5181 commented on #1849
i will redo all the comands,
later, i will show you

[2022-05-23 01:54] RainbowMango commented on #1860
+1
/assign @kevin-wangzefeng

[2022-05-23 01:55] kevin-wangzefeng commented on #1800
+1

[2022-05-23 02:03] Garrybest commented on #1853
It seems like you want to disable some plugins, right?

Now all plugins are enabled by default and cannot be configurable via config file. There is a plan to optimize config files. https://github.com/karmada-io/karmada/issues/1605#issuecomment-1098848260 may be useful.

[2022-05-23 03:05] huone1 commented on #1139
it is time to discuss it , guys @RainbowMango @kerthcet

[2022-05-23 03:35] RainbowMango commented on #1800
Welcome @ikaven1024
/close

[2022-05-23 03:35] #1800 closed

[2022-05-23 03:48] RainbowMango opened #1866 "Transform objects in informer"
**What would you like to be added**:
Adopt `SetTransform` feature of `client-go`.

**Why is this needed**:
Save memory usage for the informers.

### References
background: https://github.com/karmada-io/karmada/pull/1858#issuecomment-1134114741
SetTransform feature: https://github.com/kubernetes/kubernetes/pull/107507

### Dependencies
- [ ] Bump Kubernetes dependencies to v1.24 (do it after releas

[2022-05-23 03:53] likakuli commented on #1853
https://github.com/karmada-io/karmada/blob/9a72c70085db4b15eef05c881c7f1cead1896941/pkg/scheduler/core/generic_scheduler.go#L96

for now, the unready cluster will be filtered before the first plugin execute. I wish that unready cluster be filtered by taint which means that in cluster controller we can add taint to cluster when cluster not ready and update the code above like this
[code]

When all

[2022-05-23 04:03] dddddai commented on #1866
Transforming pods would prevent users from propagating pods directly, personally I don't think users would do it though... but anyway it's a breaking change, do you think it's ok to ignore it?

[2022-05-23 06:30] RainbowMango commented on #1866
Why do you think that?  I haven't looked at this feature carefully but seems we can `null out` unused fields to save ram cost.

[2022-05-23 06:30] anutosh491 commented on #1807
/assign

[2022-05-23 06:37] duanmengkk commented on #1761
The operation of 'promote' is actually dangerous.It is the only way to update the resource in member cluster if the reosurce is not managed by karmada now.Any resource with the annotation work.karmada.io/conflict-resolution:overwrite can be updated without any restrict.

[2022-05-23 06:40] anutosh491 commented on #1807
Simple grep command for "--karmada-config" shows me these files and references.

If I am correct we just need to get rid of **2nd** and **5th** reference . Do we need to do anything else to address this issue ? I would be glad to hear from @XiShanYongYe-Chang and @RainbowMango Sir, if there is something else I would need to take into account !

[2022-05-23 06:45] huangyiqi111 commented on #1807
Thank you!

[2022-05-23 06:49] suwliang3 opened #1868 "Use Istio on Karmada"
**What would you like to be added**:
All clusters reside on the different network,when using Istio on Karmada.

**Why is this needed**:

In most cases,the clusters reside on different network,meaning there is not direct connectivity between the pods in every clusters.I want to know your next plan.

[2022-05-23 06:55] XiShanYongYe-Chang commented on #1807
Thanks! 1st, 2nd and 5th is needed to be removed.

[2022-05-23 06:59] anutosh491 commented on #1807
Thanks for the quick response , I'll do the needful !!

[2022-05-23 08:11] duanmengkk commented on #1868
How about submariner?https://github.com/karmada-io/karmada/blob/master/docs/working-with-submariner.md

[2022-05-23 10:36] anutosh491 commented on #1807
Hello @XiShanYongYe-Chang , I made the change through another account which had already karmada setup on it ! Let me know what you feel about the change , thanks for the guidance !

[2022-05-23 11:42] anu491 commented on #1836
I agree this change should be made . The initial message doesn't indicate any solution or statement which the user should be provided with , so that the user can take any necessary steps. The suggested change looks pretty good here and I'll make the change soon ! Thanks @hanweisen @zirain for pointing this out !

[2022-05-23 12:07] anu491 commented on #1836
A small doubt here I had here is that whether the same change should be made on line number 50 (just because the function calls are related I thought that we could also maybe consider the following change)

[code]

[2022-05-23 12:08] XiShanYongYe-Chang commented on #1807
Hi @anutosh491, thanks! I have reviewed it.

[2022-05-23 12:17] Garrybest commented on #1853
Oh, I get you. We are supposed to abstract unhealthy as taints instead of handle conditions itself.

So would you like to make a contribution for this issue? @likakuli
[Here](https://github.com/kubernetes/kubernetes/blob/1868a3a2eb9945f26239f700fc491fb37232db5a/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L611-L665) are some references for you. And I think we should add this logic [in

[2022-05-23 12:48] anu491 commented on #1765
I guess we could forward with a subcmd to enable the feature ?! Is there any other better/appropriate method which you'll know off ..... to address the issue ?

[2022-05-23 12:56] lonelyCZ commented on #1868
The other day, there was a topic in Kubecon, https://static.sched.com/hosted_files/kccnceu2022/1d/Sailing_Multi_Cloud_Traffic_Management_With_Karmada_ZhonghuXu.pdf

[2022-05-23 12:59] anu491 commented on #1560
I have been to community meetings of some orgs before and I am looking forward to having one with the community here at Karmada :smiley:

[code]

[2022-05-23 13:04] lonelyCZ commented on #1765
I just checked it, there are some `yaml` created after executing `karmadactl init`

[code]

https://github.com/karmada-io/karmada/blob/d9b043bedd4507b9f81196f55ff1bd3fd5df6ab0/pkg/karmadactl/cmdinit/utils/examples.go#L141-L151

[2022-05-23 13:30] #1807 closed

[2022-05-24 03:20] suwliang3 commented on #1868
@duanmengkk @lonelyCZ Thank you for your answer and sharing.Flattening the network through a submariner is one solution.I would like to know how to build a multi-network model with karmada without using a submariner.Is there such a solution now like
https://github.com/karmada-io/karmada/blob/master/docs/istio-on-karmada.md?

[2022-05-24 05:40] duanmengkk commented on #1794
Support install karmada-search with karmadactl init. is this needed？

[2022-05-24 08:08] XiShanYongYe-Chang commented on #1836
This error is caused by the failure to join the cluster for the first time, but residual resources are still on the control plane, not because AA is not ready.

[2022-05-24 08:08] XiShanYongYe-Chang commented on #1836
/reopen

[2022-05-24 09:31] anu491 commented on #1836
Okay , I went through the issue again and tried to understand what you're trying to convey. I realize the addition might not be appropriate . What would you suggest for an accurate and more user friendly addition here ?

[2022-05-24 09:38] luoMonkeyKing opened #1876 "Deploy multi-cluster-ingress offline on k8s cluster"
**What would you like to be added**:
I would like to add a multi-cluster-ingress offline deployment documentation
**Why is this needed**:
I would like to share an offline deployment document and a multi-cluster-ingress image, because during the testing process, the image construction was inconvenient due to network reasons, and I hope it can be helpful to the community. However, my document is cur

[2022-05-24 11:27] XiShanYongYe-Chang commented on #1876
@luoMonkeyKing, thanks for your contribution! 👍

Can you create a PR for our doc?

[2022-05-24 12:42] RainbowMango commented on #1794
We do need to do something for the `karmada-search` installation. But I'm not sure if `karmadactl init` is the best place. Maybe you can talk to @prodanlabs or @lonelyCZ

[2022-05-24 12:47] lonelyCZ commented on #1794
is `karmada-search` a necessary conponent? If it is necessary, we need to add it to `karmadactl init`, if it like `karmada-estimator`, we can generate a yaml file for it after execting `karmadactl init` in `/etc/karmada`.

[2022-05-24 12:58] RainbowMango commented on #1794
No, it's an optional component.

[2022-05-24 13:04] lonelyCZ commented on #1794
Ok, we can generate a yaml file like `karmada-extimator` and `karmada-agent` in v1.2.

like

https://github.com/karmada-io/karmada/blob/56d5aec0dff9693604996e129eb27ae84809e4ab/pkg/karmadactl/cmdinit/utils/examples.go#L141-L151

As for installing components using subcmds, we need to design them in detail in v1.3.

[2022-05-24 15:45] luoMonkeyKing commented on #1876
ok i will submit a pr tomorrow

[2022-05-25 01:22] duanmengkk commented on #1673
/close

[2022-05-25 01:22] #1673 closed

[2022-05-25 01:35] RainbowMango commented on #1794
+1

[2022-05-25 01:54] RainbowMango commented on #1864
Seems I missed this. Sorry for that :(
+1

[2022-05-25 01:57] XiShanYongYe-Chang commented on #1841
Timeout for waiting unjoin cluster.

[2022-05-25 02:08] prodanlabs commented on #1794
I personally think that optional components can be installed through `Flags`, like this
[code]

[2022-05-25 02:18] ikaven1024 commented on #1794
How about it:
[code]

Then we can also provide `addons` subcommand, to enable/disable addons, just like `minikube`
[code]

[2022-05-25 02:26] duanmengkk commented on #1794
Agree!

[2022-05-25 02:27] lonelyCZ commented on #1794
I think it is great. Users probabily don't intall all components in execting `init` and need install or deinstall anytime.

[2022-05-25 02:27] duanmengkk commented on #1864
3q~

[2022-05-25 02:31] duanmengkk commented on #1794
Can I working for it ? Or you will do it yourself ? @ikaven1024 @lonelyCZ

[2022-05-25 02:35] ikaven1024 commented on #1794
I help to review your pr.

[2022-05-25 02:38] lonelyCZ commented on #1794
Sure, you can submit an issue to trace this future in `v1.3`. Thank you!

[2022-05-25 02:40] RainbowMango commented on #1864
/assign @kevin-wangzefeng

[2022-05-25 02:51] duanmengkk opened #1879 "Support to install addons by karmada init and add a subcmd to manage addons"
**What would you like to be added**:
As talked in #1794 ,We need these features.

1. Support to install addons by `karmada init `,so users can choose to enable addons such as `karmada-estimator` ,`karmada-search`  when using `karmadactl init` to deploy karmada .
2. Add a subcmd `karmada addons ` to manage the addons deployed by `karmadactl init `,so users can choose to enable it or disable it when

[2022-05-25 02:53] duanmengkk commented on #1879
/assign

[2022-05-25 02:53] duanmengkk commented on #1879
/assign @duanmengkk

[2022-05-25 03:04] lts0609 opened #1880 "helm ：Certificate generation of karmada-config"
**Please provide an in-depth description of the question you have**:
从master上获取chart包，修改values中clusterip改为nodeport
用helm部署karmada后，
kubectl get secret -n karmada-system karmada-kubeconfig -o jsonpath={.data.kubeconfig} | base64 -d > admin.conf 导出config
生成的config文件的内容为
server: https://karmada-apiserver.karmada-system.svc.cluster.local:5443
服务暴露方式已经改变后，config生成时端口仍然是5443
又查看了二进制部署后生成的config内容
server

[2022-05-25 04:38] prodanlabs commented on #1880
karmada apiserver 默认端口是5443，karmada 组件是通过  `karmada-kubeconfig` secret 连接 karmada apiserver , karmada 是部署在k8s中的，server 地址应该是 dns (karmada-apiserver.karmada-system.svc.cluster.local) 而不是 IP，这与 karmada apiserver 的 Service 类型没有关系，不管是 `NodePort` 还是 `ClusterIP`  ，`karmada-kubeconfig`  都是不变的。

问题2：
我不清楚你说的二进制部署说的是不是 `karmadactl init`。如果是通过 `karmadactl init` 是安装的karmada， 那karmada apiserver 的 Service 类型是`

[2022-05-25 06:35] lts0609 commented on #1880
karmada init 部署后的 secret `kubeconfig` 和helm部署后的secret `karmada-kubeconfig` 内容是一致的，都在控制面集群中的

但是init额外生成的 `/etc/karmada-apiserver.config`  中的 server 是 IP 而不是 `secret` 中的 DNS

如果helm部署karmada后我要进行操作，在没有创建context `karmada-apiservcer`的情况下需要手动指定 `kubeconfig` 文件，这个 config 我是要由 `karmada-kubeconfig` 导出后，修改 server 来来实现，还是有其他的办法可以得到如 init 后生成的 `karmada-apiserver.config` 呢，不然是如何操作控制面资源的

helm部署时要如何添加 Interne

[2022-05-25 07:14] XiShanYongYe-Chang commented on #1841
Another same failure for unjoin cluster failed: https://github.com/karmada-io/karmada/runs/6586927906?check_suite_focus=true

The failure reason is different from the original issue.

[code]

[2022-05-25 07:25] RainbowMango commented on #861
Hi @learner0810 Are you still working on this?

[2022-05-25 07:30] XiShanYongYe-Chang opened #1882 "[flake] FederatedResourceQuota auto-provision testing --- unjoin cluster failed"
#### Which jobs are flaking:

FederatedResourceQuota auto-provision testing

Timeout for waiting unjoin cluster:

https://github.com/karmada-io/karmada/runs/6573754591?check_suite_focus=true
https://github.com/karmada-io/karmada/runs/6586927906?check_suite_focus=true

#### Which test(s) are flaking:

[code]

#### Reason for failure:

#### Anything else we need to know:

[2022-05-25 07:32] XiShanYongYe-Chang commented on #1841
Open a new issue #1882 to record the timeout failure for waiting to unjoin the cluster.

[2022-05-25 07:40] learner0810 commented on #861
https://github.com/karmada-io/karmada/pull/1881

I see that someone has mentioned the distribution of helm PR, this document is not needed, I closed this issue, what do you think?

[2022-05-25 08:06] RainbowMango commented on #861
#1881 is trying an experimental approach that saves the efforts to deploy flux components onto member clusters.

This issue demonstrates how to integrate flux with Karmada, that's a useful option too.
So, we still need a tutorial guide based on your demo above. Feel free to let me know if you don't have enough time to do it.

[2022-05-25 13:28] kevin-wangzefeng commented on #1864
+1

[2022-05-25 13:30] kevin-wangzefeng commented on #1809
+1
Invitation sent, please visit https://github.com/karmada-io to accept and join.

[2022-05-25 13:47] #1860 closed

[2022-05-26 00:24] hanweisen opened #1887 "Propagate dependencies add support propagate pvc and service"
**What would you like to be added**:
Propagate dependencies add support propagate `pvc` and `service,` and give a option to user configure which resources need to dependend propagate
**Why is this needed**:
Propagate dependencies support propagate `configmap` and `secret` #1684

[2022-05-26 00:24] hanweisen commented on #1887
/assign hanweisen

[2022-05-26 01:25] RainbowMango commented on #1864
Welcome @duanmengkk
/close

[2022-05-26 01:25] #1864 closed

[2022-05-26 01:26] RainbowMango commented on #1809
Welcome @my-git9
/close

[2022-05-26 01:26] #1809 closed

[2022-05-26 01:31] #1813 closed

[2022-05-26 01:35] RainbowMango commented on #1887
I added this issue to release-1.3 backlog.

[2022-05-26 01:47] likakuli opened #1888 "feature or bug"
**Please provide an in-depth description of the question you have**:

1. Why resource detector not set up rb's informer? for now if we delete the rb, it will not auto generated by resource detector.
2. if we delete pp first and then delete the rb, after we recreate the pp, the rb will be recreated as expected. If we delete the rb first and then delete the pp, after we recreate the pp, rb will not

[2022-05-26 02:44] xyz2277 commented on #1887
I can work it with you @hanweisen

[2022-05-26 02:55] riverzhang opened #1889 "karmada installation survey for 2022"
https://mp.weixin.qq.com/s/D86SwN2AAsVDlzK5kWsgNQ

[2022-05-26 03:51] my-git9 commented on #1809
Thanks

[2022-05-26 04:22] learner0810 commented on #861
I understand, thanks. I will finish the document by the weekend.

[2022-05-26 08:15] RainbowMango commented on #861
Thanks
/assign @learner0810

We are going to cut a new release by the end of this week(probably this Saturday), hope this document could be included in this release.

[2022-05-26 09:07] jrkeen commented on #1880
`kubectl get secret -n karmada-system karmada-kubeconfig -o jsonpath={.data.kubeconfig} | base64 -d > admin.conf` 这个命令是拿到集群内部的 kubeconfig ，要使用这个 kubeconfig ，前提你在集群内网中，比如你在这个集群的 pod 中。如果你要在生成的证书中添加 IP，需要在 values 文件中，添加你的 IP，pre-job 会自动处理。如果你需要在集群外部访问该集群，需要重新编辑拿到的内部 kubeconfig, 修改 server 地址为你的 karmada apiserver 外部 IP，同时这个 IP 需要添加到证书中。目前不支持一键生成所需的 kubeconfig，欢迎贡献👏。

[2022-05-26 11:29] zirain commented on #1836
I think there's nothing to do here, the root cause is here:
https://github.com/karmada-io/karmada/blob/8ea4c4d8819dc4c4b5fa885e3b24bb2fef910dbb/pkg/util/secret.go#L46

seems this's fixed in
https://github.com/karmada-io/karmada/blob/c8e1b78ea1865241fafeacb7727681d53eb46741/pkg/util/secret.go#L46

@XiShanYongYe-Chang

[2022-05-26 13:04] XiShanYongYe-Chang commented on #1836
@zirain thanks~ It has been fixed by #1306

/close

[2022-05-26 13:04] #1836 closed

[2022-05-26 14:04] RainbowMango opened #1893 "Note: Code Freeze by the end of this week"
We are going to cut a new release(v1.2.0) by the end of this week(5.28).

Only limited PRs are accepted into the release codebase(`master` branch) during this time:
- PR which fixes critical bugs.
- PR which `very` `very` important for the release.
- PR which updates/adds documents

*Please let me know your PRs which you really want it to be included in this release.*

Feature development and revi

[2022-05-27 02:51] anutosh491 commented on #772
[code]
Hello @RainbowMango , I've been framing my cover letter for the LFX mentorship program and had couple doubts regarding this proposed model.
1) What information does `grade` and `count` convey ? I realize that grade would be type `corev1.ResourceList` and would be carrying pairs of resources and quantity !
2) `resourceModel` would also be introduced in the `Cluster API` only right ?
3) I got

[2022-05-27 03:07] riverzhang commented on #1276
@RainbowMango  @kevin-wangzefeng  According to the discussion at the meeting,  Can I Request physical resources from [cncf/cluster](https://github.com/cncf/cluster)? Or the community can provide other resources？ I want to build CI for karmada installer.

[2022-05-27 03:28] RainbowMango commented on #1276
I wonder if we can use `GitHubAction`?
(seems i asked the same question before, but i forgot the answer :( )

[2022-05-27 03:48] Poor12 opened #1898 "SyncEvent from execution_controller is not be bind with workload"
**What would you like to be added**:
Now SyncEvent from execution_controller is not be bind with workload. For example, when you apply a nginx deployment to member clusters. You can see the sync event like below:
![image](https://user-images.githubusercontent.com/26862112/170808585-01486741-00f5-47d7-be2f-c09620a496cc.png)
But it is not bind with actual workload:
![image](https://user-images.githu

[2022-05-27 04:18] riverzhang commented on #1276
`I wonder if we can use GitHubAction?`
GitHubAction provides only one vm such as Ubuntu-18.04 by default. We can deploy many K8S clusters using KIND.

But now I expect to deploy many k8s clusters in vms, and karmada-installer CI deploys karmada through ssh login. Such as deploying karmada via binary, etc.   In this case, it would not be suitable. This approach may be more reasonable as the number

[2022-05-27 04:45] hanweisen commented on #1898
This feature is useful. I think I need this feature.

[2022-05-27 12:40] anutosh491 commented on #772
Also does this call for removing or rather deprecating the `Resource Summary` class and used objects throughout the codebase ?
According to the 1st point of scheduling process summary , `Resource Summary` does play a part in scheduling , so not sure what needs to be done with it !
![image](https://user-images.githubusercontent.com/87052487/170700709-e42f4ada-6a04-4e1b-b377-bda85b2ddd98.png)

[2022-05-28 01:19] #861 closed

[2022-05-28 08:28] anutosh491 commented on #772
Hello @RainbowMango sir , could you please help me with the doubts I've asked above as today is the last day to apply ! I am actually ready with my application material but just want to confirm these basic doubts before turning in my application . Thanks in advance !

[2022-05-28 08:44] RainbowMango commented on #772
The `grade` and `count` on the issue are examples of what kind of things we are trying to build.

Probably. Given the `Cluster` object is a large object, another option may be to build a separated API to store the module.
Where and how to store the module is not the key concern here, more important is how to describe a cluster's resource situation by the model.

Please see the example:

Probably.

[2022-05-28 15:57] RainbowMango commented on #1893
Thanks all for your contribution to release 1.2.

/close

[2022-05-28 15:57] #1893 closed

[2022-05-30 00:49] maoyangLiu opened #1910 "Install error :unable to prepare context:"
when I install karamda whit the command : hack/local-up-karmada.sh
when  Building image for linux/amd64: swr.ap-southeast-1.myhuaweicloud.com/karmada/karmada-aggregated-apiserver:latest
+ docker build --build-arg BINARY=karmada-aggregated-apiserver --tag swr.ap-southeast-1.myhuaweicloud.com/karmada/karmada-aggregated-apiserver:latest --file hack/../cluster/images/Dockerfile hack/../_output/bin/lin

[2022-05-30 01:25] RainbowMango commented on #1910
Is it the first time you use the `hack/local-up-karmada.sh`?

Are you running the script under the root of the repo?

[2022-05-30 03:08] #1880 closed

[2022-05-30 07:47] XiShanYongYe-Chang commented on #1841
This problem is a random occurrence. I added the related log info and collected the `karmada-agent` logs. Close this issue first.

/close

[2022-05-30 07:47] #1841 closed

[2022-05-30 09:15] RainbowMango opened #1915 "[flake] push images to DockerHub"
#### Which jobs are flaking:
https://github.com/karmada-io/karmada/blob/10beb437c5be2611403102df0b15d2340733263c/.github/workflows/dockerhub-latest-image.yml#L7

#### Which test(s) are flaking:
https://github.com/karmada-io/karmada/runs/6651574907?check_suite_focus=true

#### Reason for failure:

#### Anything else we need to know:

[code]

[2022-05-30 12:37] #1573 closed

[2022-05-30 12:45] RainbowMango commented on #1605
Hi guys, let's do it at release-1.3. I added it to the backlog.

@prodanlabs please let us know how you want the karmada-scheduler to be extended.

[2022-05-30 13:02] XiShanYongYe-Chang opened #1918 "[UT] add unite test for pkg/registry/search/storage/requestinfo.go"
**Task description**:

Add unite test for pkg/registry/search/storage/requestinfo.go

**Solution**:

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,
they should be ready to move on to `help wanted` items, saving the remaining `goo

[2022-05-30 13:06] RainbowMango commented on #1853
I agree with what @Garrybest said above.

I have some questions about the user story you mentioned in the issue description.

Does the `PP` looks like:
[code]
And you want the workload to be propagated to the three clusters even when some of them are in a `not-ready` state?

I can't get it, why do you insist on propagating workloads to the `not-ready` cluster?
If the `PP` tries [Divide](https://gi

[2022-05-31 02:03] likakuli commented on #1853
yes

We need to provision cluster before it can serve. The cluster joined to karmada in our scene is default cordoned and we will propagate some resources to it and check whether all resources specified has been propagated successfully before uncordon.

The karmada scheduler will not schedule resource to cluster even it changes from `not-ready` to `ready` if rb has been scheduled once.

[2022-05-31 02:14] Poor12 opened #1922 "Request to be a member of Karmada"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit PRs 10+
PRs：
https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3APoor12
Issues:
https://github.com/karmada-io/karmada/issues?q=is%3Aissue+author%3APoor12+
Hope bring more improvements for Karmada in the future.

[2022-05-31 02:23] RainbowMango commented on #1922
+1

/assign @kevin-wangzefeng

[2022-05-31 02:39] RainbowMango opened #1923 "Update default kube-apiserver from v1.21 to v1.22"
**What would you like to be added**:
- update [karmada-apiserver](https://github.com/karmada-io/karmada/blob/b8e144b99d178b83227cc317aec5139733a1923d/artifacts/deploy/karmada-apiserver.yaml#L67) from `v1.21.7` to `v1.22.10`.
- update [kube-controller-manager](https://github.com/karmada-io/karmada/blob/b8e144b99d178b83227cc317aec5139733a1923d/artifacts/deploy/kube-controller-manager.yaml#L55) from

[2022-05-31 03:09] AllenZMC commented on #1923
/assign

[2022-05-31 03:13] RainbowMango commented on #1923
Thanks @AllenZMC .

/remove-help

[2022-05-31 04:26] likakuli opened #1927 "Quota requirement"
**What would you like to be added**:
KarmadaQuota support resource limit.

**Why is this needed**:

Resource budget is related to resource limit in our case. We only care about the resource limit in admit stage. User is not aware of oversold behavior. The resource input in deploy stage is limit.

[2022-05-31 07:40] CharlesQQ commented on #1918
I can try it
/assign

[2022-05-31 08:08] XiShanYongYe-Chang commented on #1918
@CharlesQQ Thanks！

[2022-05-31 15:01] duanmengkk opened #1934 "How to propagate a long-size yaml resource"
**Please provide an in-depth description of the question you have**:
Some opensource products is deployed by a long-size yaml,such as calico https://docs.projectcalico.org/manifests/calico.yaml
Is there a way to provide an easy way to deploy it to member cluster.This way I don't have to write resources one by one into a propagationpolicy.

**What do you think about this question?**:

This work is

[2022-05-31 15:03] duanmengkk commented on #1934
@lonelyCZ @XiShanYongYe-Chang

[2022-06-01 06:38] AllenZMC opened #1938 "[helm] Update default kube-apiserver from v1.21 to v1.22"
**What would you like to be added**:
part of #1923, update default kube-apiserver from v1.21 to v1.22 for helm chart ([#comment](https://github.com/karmada-io/karmada/pull/1936#issuecomment-1143153808))

- update karmada-apiserver from v1.21.7 to v1.22.10.
- update kube-controller-manager from v1.21.7 to v1.22.10.
- update etcd from v3.4.13-0 to v3.5.3+.

**Why is this needed**:

[2022-06-01 06:39] AllenZMC commented on #1938
/assign

[2022-06-01 08:44] #1923 closed

[2022-06-01 09:32] chaunceyjiang opened #1942 "NodePort provided port is already allocated"
**What happened**:

 Failed to create resource(kind=Service, default/serve) in cluster member1, err is Service "serve" is invalid: spec.ports[0].nodePort: Invalid value: 30685: provided port is already allocated

![image](https://user-images.githubusercontent.com/17962021/171372350-2abdb765-2054-4566-9451-f49e76515ba6.png)

**What you expected to happen**:

**How to reproduce it (as minimally and

[2022-06-01 09:45] chaunceyjiang commented on #1942
![image](https://user-images.githubusercontent.com/17962021/171376105-ede14f6f-d667-45e6-92c1-6f70cdc2c2c2.png)

[2022-06-01 10:25] chaunceyjiang opened #1943 "watch of *v1alpha1.ResourceRegistry ended with: an error on the server"
**What happened**:
![image](https://user-images.githubusercontent.com/17962021/171382358-a9d9f17a-6ed6-4d88-999f-08658225ef16.png)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

check karmada-search log

**Anything else we need to know?**:

**Environment**:
- Karmada version: master
- kubectl-karmada or karmadactl version (the result of `kubec

[2022-06-01 12:08] maoyangLiu commented on #1910
@RainbowMango   It is my first time to use it ,I do run the script in the root directory, but I have the same problem in the home directory，I can't find the cause of the problem

[2022-06-01 13:35] prodanlabs commented on #1605
I'm thinking, maybe I can explain it better with a demo.

[2022-06-02 01:45] RainbowMango commented on #1943
@liys87x Could you please take a look?

Seems it's not the same issue I mentioned at https://github.com/karmada-io/karmada/pull/1865#issuecomment-1136670343.

[2022-06-02 02:18] liys87x commented on #1943
@RainbowMango #1865 Caused by no availabled karmada-search instance when informer starts. This problem doesn't look the same.

[2022-06-02 02:20] liys87x commented on #1943
@chaunceyjiang You can confirm that subsequent work is OK by adjusting the log level to -v=4

[2022-06-02 02:34] chaunceyjiang commented on #1943
![image](https://user-images.githubusercontent.com/17962021/171539329-3772e754-a852-436f-b552-8e0dec185c9c.png)

[2022-06-02 02:35] CharlesQQ opened #1946 "karmada search return empty list sometimes"
**What happened**:
use the command `kubectl get --raw /apis/search.karmada.io/v1alpha1/search/cache/apis/apps/v1/deployments | python -m json.tool` to fetch all deployments from cache, but return empty list sometimes
<img width="274" alt="image" src="https://user-images.githubusercontent.com/18431718/171539050-41f5e82b-ca32-43f9-8795-1521d0e79a2c.png">

log print following message:
`W0602 10:32:24

[2022-06-02 02:42] chaunceyjiang commented on #1946
![image](https://user-images.githubusercontent.com/17962021/171541788-71336b0b-6a48-4e99-acef-697c102277ce.png)

[2022-06-02 03:02] XiShanYongYe-Chang commented on #1946
Will it happen or will it happen occasionally?

Is there are some logs like this:

[code]

We need to start an informer for member clusters.

[2022-06-02 03:28] GitHubxsy commented on #1946
![image](https://user-images.githubusercontent.com/11901080/171546916-cf15a694-d1dc-43eb-a798-124227ddfdca.png)

The karmada-search component is a multi-instance component and works in load balancing mode. Some instances work abnormally？

[2022-06-02 08:11] wuyingjun-lucky opened #1949 "We want to get resource（pod）details from karmada-control-plane by using apiserver"
**Please provide an in-depth description of the question you have**:

Requirement:
`1` We have one k8s cluster for running  our deployments|sts|.... and the number of deployments|sts|.... is increasing. The k8s cluster is under pressure.
`2` We plan to use karmada to  dispatch the deployments to member clusters.
But our application （web client） need to get pods or other resource details from apise

[2022-06-02 08:46] wuyingjun-lucky commented on #1949
Some confused , our application want to ignore resource location.  It seems we can not ignore member clusters by using aa

[2022-06-02 08:52] XiShanYongYe-Chang commented on #1949
Aye, we need to assign a cluster when using aa. `Karmada-search` will get resources from all config clusters through cache, it migths fit your need.

[2022-06-02 09:17] XiShanYongYe-Chang commented on #1949
Yes. Refer to #1891

[2022-06-02 09:21] wuyingjun-lucky commented on #1949
Thanks a lot. We may be the first real users of karmada-search

[2022-06-02 09:22] liys87x commented on #1943
@chaunceyjiang Sorry I couldn't reproduce the problem. Here is an example of `ResourceRegistry`. Can you post your `ResourceRegistry`?
[code]

[2022-06-02 09:26] XiShanYongYe-Chang commented on #1949
We also store the resource into OpenSearch, refer to #1897

[2022-06-02 09:43] wuyingjun-lucky commented on #1949
OK，GOT it

[2022-06-02 09:56] chaunceyjiang commented on #1943
I can't reproduce it now,maybe my local VM disk is too slow.

my `ResourceRegistry`
[code]

[2022-06-02 10:23] RainbowMango commented on #1898
What exactly needs to bind an even to an object? `resourceVersion` or `UID`, or both of them are mandatory?

[2022-06-03 02:47] liys87x commented on #1943
I still haven't reproduced the problem, and will keep an eye on it in the future. Adjusting the log level to "-v=4" helps to see more details
[code]

[2022-06-03 02:56] CharlesQQ commented on #1946
`Some instances work abnormally？`
3 instances, I find that cluster in pull mode, log print following message:
[code]

[2022-06-03 03:08] CharlesQQ commented on #1946
https://github.com/karmada-io/karmada/blob/36368ce50e29678d683f2f3c5562503fc9a96483/pkg/search/controller.go#L203-L205

create clusterDynamicClient need secret, but in pull mode, karmada control plane can not find secret objects

[2022-06-03 03:17] CharlesQQ opened #1952 "karmada search panic when create a new ResourceRegistry object"
**What happened**:
create a new ResourceRegistry object, karmada search panic:
[code]

**What you expected to happen**:
karmada search should not panic

**How to reproduce it (as minimally and precisely as possible)**:
create  a new ResourceRegistry object
**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or karmadactl version (the result of `kubectl-karmad

[2022-06-03 05:48] liys87x commented on #1952
#1951

[2022-06-03 10:36] lgy1027 commented on #648
哥们，真实集群的打通吗

[2022-06-03 16:07] #1938 closed

[2022-06-05 01:59] wuyingjun-lucky commented on #1949
some questions， optional components  can not be installed by karmadactl init

[2022-06-05 02:46] zgfh opened #1954 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit some PRs

See:

https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Azgfh

Hope bring more improvements for Karmada in the future.

[2022-06-05 03:55] zgfh opened #1955 "karmadactl init support "--karmada-version"
**What would you like to be added**:

**Why is this needed**:

[2022-06-05 04:09] zgfh opened #1956 "feature: `karmadactl init` support param of "--karmada-version""
**What would you like to be added**:
for now, if I want install  karmada of specific versions ,I need set many params,like :
[code]

I have a idea(like kubeadm):
[code]

**Why is this needed**:
simplified installation of specific versions

[2022-06-05 04:09] #1955 closed

[2022-06-05 08:42] wuyingjun-lucky commented on #1956
We have introduced --kube-image-mirror-country and --kube-image-registry
It looks pretty and good
What do you think about it @RainbowMango @lonelyCZ

[2022-06-05 08:51] wuyingjun-lucky opened #1957 "What is the plan of optional component to be installed by karmadactl"
**Please provide an in-depth description of the question you have**:
1. We have installed karmada control plane by using `karmadactl init` at first
2. We want to study search component for https://github.com/karmada-io/karmada/issues/1949  but it seems can not be installed by `karmadactl` like other optional components.
**What do you think about this question?**:
What is the plan of optional compo

[2022-06-05 08:52] wuyingjun-lucky commented on #1957
@RainbowMango @XiShanYongYe-Chang @lonelyCZ

[2022-06-05 13:27] zgfh opened #1961 "join 1.24版本的k8s的集群会失败"
**What happened**:
测试了下join 1.24版本的k8s的集群，发现会失败

日志
[code]

**What you expected to happen**:
join 成功

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

排查发现是因为新版本的k8s 不会自动为sa创建secret 导致的
<img width="696" alt="image" src="https://user-images.githubusercontent.com/11729624/172042058-4a2b1f58-b409-426c-94eb-1dcfaa08c899.png">

参考这里 :
https:/

[2022-06-05 13:36] calvin0327 commented on #1961
如果 1.24 的版本，secret 为空，需要手动创建吗？

[2022-06-05 13:50] zgfh commented on #1961
参考这里，有几种方式，这里的场景个人感觉创建 secret 比较合适（需要永久有效的token）

所以想的方法是：如果k8s 没有自动为sa创建secret（sa.secrets为空），则手动创建一个secret

[2022-06-06 02:19] prodanlabs commented on #1956
I feel great.

[2022-06-06 02:22] prodanlabs commented on #1956
But there is a problem, if a lower version of `karmadactl` is installed with a higher version of karmada, some parameters of the higher version of karmada may have changed, then how to deal with the lower version of `karmadactl`

[2022-06-06 04:00] RainbowMango commented on #1943
/close
since both @chaunceyjiang and @liys87x can not reproduce it. But feel free to re-open it once it appears.

[2022-06-06 04:00] #1943 closed

[2022-06-06 06:31] RainbowMango commented on #1946
Right. For now, karmada-agent won't report `secret` for `Pull` mode cluster.
I think it's time to do it now.

[2022-06-06 06:43] RainbowMango commented on #648
生产上不同集群间网络打通，直接使用 IP route应该是不妥的，可以借助一些其他工具，比如[Submariner ](https://github.com/karmada-io/karmada/blob/master/docs/working-with-submariner.md).

[2022-06-06 06:46] wanghonglei5181 commented on #1849
#### i have recreated my all the kubernetes clusters,include karmada-host\member1\member2\member3.

##### the below yamls is a cr of keda.sh,it works ok.
0> cat propagationpolicy.yaml so.yaml
apiVersion: policy.karmada.io/v1alpha1
kind: PropagationPolicy
metadata:
  name: mysql-scaledobject-propagation
spec:
  resourceSelectors:
    - apiVersion: keda.sh/v1alpha1
      kind: ScaledObject
      nam

[2022-06-06 07:39] RainbowMango commented on #1954
+1
Thanks @zgfh for your contributions.
/assign @kevin-wangzefeng

[2022-06-06 07:43] RainbowMango commented on #1956
I don't know how `kubeadm` handle this kind of thing, I think it's not guaranteed for a lower version `karmadactl` to install a higher Karmada.

[2022-06-06 07:45] RainbowMango commented on #1957
@lonelyCZ and @prodanlabs are the authors, I think we can make a plan for it.

[2022-06-06 07:56] lonelyCZ commented on #1957
Associate #1879

Yes, we can make a plan for it. Could you share your ideas about it? @duanmengkk @wuyingjun-lucky

After talking, we can make a `umbrella` issue to trace it.

[2022-06-06 08:04] RainbowMango commented on #1741
Hi @mathlsj I see you send a PR for this.
I'd like to invite the author to talk about the solution. @mrlihanbo

[2022-06-06 08:09] wuyingjun-lucky commented on #1957
OK， We will work for it  and make a plan in spare time as soon as possible

[2022-06-06 08:52] RainbowMango commented on #1849
Any error message do you get when applying the following yamls?

[2022-06-06 09:20] wanghonglei5181 commented on #1849
no errors found

[2022-06-06 09:31] prodanlabs commented on #1956
AFAIK, `kubeadm` does not have the problem of installing a higher version of `kubernetes` with a lower version of `kubeadm` or installing a lower version of `kubernetes` with a higher version of `kubeadm`.

If you install a specific version, usually update the `kubeadm` and `kubelet` versions first, and then execute `kubeadm upgrade`.

[2022-06-06 09:49] #1918 closed

[2022-06-06 11:01] CharlesQQ commented on #1946
May be I can try it~
/assign

[2022-06-06 12:05] RainbowMango commented on #1946
Just share some ideas here:

1. We need to introduce a flag to `karmada-agent` to specify whether report secret when registering cluster.
2. Then implements the logic at [registerWithControlPlaneAPIServer](https://github.com/karmada-io/karmada/blob/1bc32ea8fc003a0755254ac35a4f1af1a3830f1b/cmd/agent/app/agent.go#L294)

[2022-06-06 12:23] GitHubxsy commented on #1946
The **karmada search** and **aggregation API** feature requires that the kube-apiserver of the member cluster be accessed from the karmada control plane. If you cannot directly access the network due to network restrictions, you are advised to use the reverse proxy mode and set the cluster.proxyURL field.

The aggregation API uses the **ImpersonatorSecret** (empty permission). The karmada search u

[2022-06-06 13:30] mathlsj commented on #1741
OK。

[2022-06-07 01:30] wanghonglei5181 commented on #1849
i have another test，
run 2 kuberbetes cluster in diffrent machine。
that have the same issue

[2022-06-07 01:35] wanghonglei5181 commented on #1849
if debug level is 8,the follow is the output

0> kubectl create -f gateway.yaml -v 8
I0607 09:32:30.327019 3753616 loader.go:372] Config loaded from file:  /root/.kube/config
I0607 09:32:30.329642 3753616 round_trippers.go:432] GET https://10.41.42.83:5443/openapi/v2?timeout=32s
I0607 09:32:30.329671 3753616 round_trippers.go:438] Request Headers:
I0607 09:32:30.329689 3753616 round_trippers.go:44

[2022-06-07 01:43] wanghonglei5181 commented on #1849
for compare ,the follow is scaledObject of keda.sh

0> kubectl create -f so.yaml  -v 8
I0607 09:41:04.024477 3763932 loader.go:372] Config loaded from file:  /root/.kube/config
I0607 09:41:04.026893 3763932 round_trippers.go:432] GET https://10.41.42.83:5443/openapi/v2?timeout=32s
I0607 09:41:04.026915 3763932 round_trippers.go:438] Request Headers:
I0607 09:41:04.026930 3763932 round_trippers.go:

[2022-06-07 02:24] #1889 closed

[2022-06-07 03:07] #1952 closed

[2022-06-07 03:09] XiShanYongYe-Chang commented on #1961
我个人赞同这一点。使用`kubectl create token SERVICE_ACCOUNT_NAME`获取token不是很方便：
[code]

手动创建secret的过程可以说明下么？另外通过手动创建出的secret，如何通过sa找到该secret呢？

[2022-06-07 04:47] wanghonglei5181 commented on #1849
thanks @RainbowMango

<img width="1417" alt="图片" src="https://user-images.githubusercontent.com/8133524/172297028-5449e545-4ed3-4cc8-926e-dca14bd2b5a6.png">

##  get more logs
kubectl edit deployment karmada-controller-manager -n karmada-system
modify the arg  --v to 6
##  use this yaml it works fine
[code]

##

[2022-06-07 06:24] XiShanYongYe-Chang commented on #1849
Use `ClusterPropagationPolicy` to propagate the CRD resource.

[2022-06-07 08:31] RainbowMango commented on #1849
@wanghonglei5181 talked to me on WeChat, and this issue has been solved as mentioned at https://github.com/karmada-io/karmada/issues/1849#issuecomment-1148191300.

/close

[2022-06-07 08:31] #1849 closed

[2022-06-07 09:15] wanghonglei5181 opened #1969 "why unjoin cluster timeout"
**unjoin cluster timeout, i want to know what happend, how to debug this issue**
[code]
** version info**
[code]
**the info of  descirbe cluster **
[code]

[2022-06-07 09:29] XiShanYongYe-Chang commented on #1969
可以查看下对应集群命名空间（以`karmada-es-`开头）下是否有资源遗留。

如果有遗留可以将设置删除时间，将时间调长。

[2022-06-07 09:50] wanghonglei5181 commented on #1969
130> kubectl config use-context karmada-apiserver
Switched to context "karmada-apiserver".

0> kubectl get namespace
NAME                    STATUS        AGE
default                 Active        26h
istio-system            Active        25h
karmada-cluster         Active        25h
karmada-es-member1-75   Terminating   25h   //  这个是什么情况
karmada-system          Active        26h
keda

[2022-06-07 11:06] wanghonglei5181 commented on #1969
ok  thanks

[2022-06-07 11:49] riverzhang opened #1970 "REQUEST: New karmada project karmada-installer"
**What would you like to be added**:
Add new project `karmada-installer` in karmada-io.

**Why is this needed**:
1. related issues：#1276
2. [karmada installation survey for 2022](https://docs.google.com/document/d/1lOXHfpLiA0sg5dJr7ye9E0Qemd_YvOS-TACfsA3xQig/edit) #1889
3. Our plan:
    -  integrate all current deployment approaches. Including Ansible + [Karmada Charts](https://github.com/karmada-

[2022-06-07 11:50] riverzhang commented on #1970
@@RainbowMango

[2022-06-07 11:50] riverzhang commented on #1970
@RainbowMango

[2022-06-08 00:44] zgfh commented on #1961
提交pr了：https://github.com/karmada-io/karmada/pull/1972

[2022-06-08 03:54] #1821 closed

[2022-06-08 04:50] chaunceyjiang opened #1973 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit PRs and Issues
See:

https://github.com/karmada-io/karmada/issues?q=+author%3Achaunceyjiang

Hope bring more improvements for Karmada in the future.

[2022-06-08 06:22] wuyingjun-lucky commented on #1949
It seems we can only get the rest by rest api. But our app code is written by client-go , do you have some ideas for the capable of adapting

[2022-06-08 06:30] RainbowMango commented on #1949
@wuyingjun-lucky At the community meeting yesterday, @ikaven1024 proposed an idea that might properly fit your needs.
Hold on for a while, @ikaven1024 will send a feature proposal.

[2022-06-08 06:36] wuyingjun-lucky commented on #1949
Yeah , I have participated in the meeting

[2022-06-08 08:00] RainbowMango commented on #1898
[code]

kubectl gets the object's relevant events by API:
[code]
So, the `name`/`namespace`/`kind`/`uid` are necessary items when firing an event.

[2022-06-08 08:16] RainbowMango commented on #1898
The root cause is that when [firing the event for the workload in `Work` object](https://github.com/karmada-io/karmada/blob/3791cd581573651a1caf3e0220d52a17367d32b2/pkg/controllers/execution/execution_controller.go#L212), the `uid` information is missing.

The reason for `uid` missing is due to `karmada-webhook` removed the irrelevant fields:
https://github.com/karmada-io/karmada/blob/3791cd581573

[2022-06-08 08:30] RainbowMango commented on #1970
For the repo name, I suppose you can give some options, such as :
- installer
- operator
- installation-operator
- karmadadm
- etc...

I'm not sure the repo name should start with `karmada-` prefix, since it's in `karmada-io` orgs.

[2022-06-08 08:49] riverzhang commented on #1970
ka-installer(k-->k8s, a-->armada)

[2022-06-08 09:21] SAMZONG opened #1976 "push docs site with mkdocs on github pages"
Hi Karmada:

I found Karmada do not have Document Website, all in repo.

- Good: write & manage document
- Bad: To reader no good
- Bad: Not conducive to the publicity of karmada

I do a lot thing for this, Now i put all docs to Karmada.io website

can you support this pr. If ok , I will make a pr for it.

https://samzong.me/karmada/

[2022-06-08 09:24] SAMZONG commented on #1976
- config file https://github.com/SAMZONG/karmada/blob/docsite/mkdocs.yml
- add github ci for auto build docs

[2022-06-08 09:33] riverzhang commented on #1970
List names for similar open source projects：
1.kubesphere -[ ks-installer](https://github.com/kubesphere/ks-installer):   k-->k8s,s-->sphere,and based on ansible +controller,
2.openshfit - [hive](https://github.com/openshift/hive): special meaning, and based on k8s operator

[2022-06-08 10:09] RainbowMango commented on #1976
Actually we have a website(karmada.io), and we are in progress of moving these documents to there.

[2022-06-08 11:03] SAMZONG commented on #1976
okay, I just recommend an idea. If this is something moving forward, that's great!!!
looking forward to the day when online.

maybe I can help it. make it faster?

[2022-06-08 13:33] lewismacdonald commented on #1560
Any time 9am-8pm US EST would be great.

[2022-06-09 01:09] RainbowMango commented on #1976
Sure! Thanks in advance.

There are a lot of things to do. Maybe we need to sync docs to [next](https://karmada.io/docs/next/) as a start. (Not sure about it)

[2022-06-09 03:08] RainbowMango commented on #1973
+1
Thanks @chaunceyjiang for all your contributions.

/assign @kevin-wangzefeng

[2022-06-09 06:44] riverzhang commented on #1889
https://docs.google.com/document/d/1lOXHfpLiA0sg5dJr7ye9E0Qemd_YvOS-TACfsA3xQig/edit

[2022-06-09 06:52] RainbowMango commented on #1961
Echo from [Kubernetes v1.24 Release Note](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#urgent-upgrade-notes)

[2022-06-09 06:57] chaunceyjiang opened #1981 "The namespace controller is turned off, but the namespace is still propagated to the member cluster"
**What happened**:

The namespace controller is turned off, but the namespace is still propagated to the member cluster.

**What you expected to happen**:

Do not propagate to member clusters

**How to reproduce it (as minimally and precisely as possible)**:

![image](https://user-images.githubusercontent.com/17962021/172783264-e1460020-9130-4235-9a9d-936af73ecc6c.png)

![image](https://user-image

[2022-06-09 06:57] chaunceyjiang commented on #1981
/assign

[2022-06-09 07:21] RainbowMango commented on #1981
The `namespace` controllers will propagate `namespace` to all joined clusters without a `PropagationPolicy`/`ClusterPropagationPolicy`.

But in your case, you are using a `ClusterPropagationPolicy`, so, I think the behavior is expected.
correct me if I misunderstand your case.

[2022-06-09 07:34] chaunceyjiang commented on #1981
I see...  ,thank you for your answer.

[2022-06-09 07:34] #1981 closed

[2022-06-10 02:03] #1898 closed

[2022-06-10 02:18] calvin0327 commented on #1816
@RainbowMango thanks.  It's really convenient to exec `local-up-karmada.sh` to install karmada.

[2022-06-10 02:52] RainbowMango commented on #1816
Thanks for the feedback.

/close
I guess we can close it now.

[2022-06-10 02:52] #1816 closed

[2022-06-10 03:05] RainbowMango commented on #1970
Thanks @riverzhang for listing examples from other project.

I prefer to take `karmada-operator` as the repo name.

@kevin-wangzefeng @riverzhang how do you think?

[2022-06-10 03:10] duanmengkk commented on #1970
Is it simalar as ks-installler which use shell-operator(https://github.com/flant/shell-operator)  to deploy kubesphere? Or use operator-sdk(ansible operator sdk https://github.com/operator-framework/operator-sdk ) to deploy?  @riverzhang

[2022-06-10 03:33] riverzhang commented on #1970
Yes, similar usage.

[2022-06-10 03:34] riverzhang commented on #1970
+1

[2022-06-10 03:41] kevin-wangzefeng commented on #1922
+1
Invited, please visit https://github.com/karmada-io to accept the invitation.

[2022-06-10 03:42] kevin-wangzefeng commented on #1954
+1
Invitation sent as well, please visit [@karmada-io](https://github.com/karmada-io) to accept the invitation.

[2022-06-10 03:45] kevin-wangzefeng commented on #1973
+1
But please not add irrelevant lables.

[2022-06-10 06:19] chaunceyjiang commented on #1973
thx,joined

[2022-06-10 06:19] #1973 closed

[2022-06-10 06:45] #1371 closed

[2022-06-10 08:22] XiShanYongYe-Chang commented on #1961
让我们先来整理下整个事件的背景。

Kubernetes社区为了提高token使用的安全性和可扩展性，提出了一个[KEP-1205](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/1205-bound-service-account-tokens)，旨在引入一种新的机制来使用ServiceAccount token，而不是直接将ServiceAccount生成的Secret挂载到pod中，具体方式见[ServiceAccount automation](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#service-account-automation)。这个特性名为`BoundServi

[2022-06-10 09:10] RainbowMango commented on #1762
Hi @Garrybest
I guess the task(`Remove cluster scheduling result in spec.clusters when the cluster is terminating.`) is included in #1945.

Should we update the task list?

[2022-06-10 09:22] RainbowMango commented on #1961
cc @lonelyCZ @prodanlabs who might be interested in it.

[2022-06-10 09:36] chaunceyjiang opened #1988 "Why does Built-in Interpreter AggregateStatus not contain Pod"
**Please provide an in-depth description of the question you have**:

Why does Built-in Interpreter [AggregateStatus](https://github.com/karmada-io/karmada/blob/master/docs/userguide/customizing-resource-interpreter.md#aggregatestatus) not contain Pod(v1)

**What do you think about this question?**:

**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2022-06-10 09:45] RainbowMango commented on #1988
Working on it. See #1913.

[2022-06-10 12:40] prodanlabs commented on #1970
I personally think that organizations can be set up for karmada SIG related work, including but not limited to `karmada-installer`.

Maybe my idea may be unrealistic.

[2022-06-10 14:55] #1922 closed

[2022-06-11 00:48] zgfh commented on #1954
thanks @kevin-wangzefeng @RainbowMango

[2022-06-11 00:48] #1954 closed

[2022-06-11 01:18] zgfh commented on #1956
there is waht i find:

minVersion: [there is waht i find:  ](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/config/common.go#L124)

maxVersion: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go#L592

should I refer to this implementation？

[2022-06-11 02:42] RainbowMango commented on #1970
Agree with @prodanlabs. We need SIGs.

[2022-06-11 06:42] Garrybest commented on #1762
Well, I'm afraid not. This task is to drain a cluster by using NoExecute taint when we decide to unjoin it, while #1945 focuses on how taint manager works.

[2022-06-11 06:50] Garrybest commented on #1762
I have an idea. Maybe we could implement this in cmd `karmadactl unjoin`. Just like what `kubectl drain` does, when we want to unjoin a cluster, we cordon this cluster first and then remove RB's cluster scheduling result in spec.clusters.

[2022-06-11 14:27] calvin0327 commented on #1961
https://kubernetes.io/docs/concepts/configuration/secret/#service-account-token-secrets

如果要解决 token 过期的问题，使用第二种方式调用 token API 好像是行不通的。官方提供了一个这样的方式来创建不过期的 token：
1. 先创建 serviceaccount
2. 再创建 secret
3. controller 会自动帮我们填充 token 到 data 里面

既然官方也提供出了这样的一个方式，我感觉没啥安全风险？个人看法😄

[2022-06-12 02:48] calvin0327 commented on #1934
In the case:
There are 3 resource in the yaml file, I want create resource 1, 2 to `member1` and `member2`, create resource3 to `member3`.
How do we design the command？

[2022-06-12 04:56] duanmengkk commented on #1934
I guess in this scenario, you must write resources  in the yaml into propagationPolicy one by one.

[2022-06-12 12:20] wuyingjun-lucky commented on #1970
karmada-installer or karmada-operator

[2022-06-12 13:58] mathlsj opened #1991 "Resources cannot delete annotations"
**What happened**:

Deploy a deployment that has two annotations: key1, key2. then propagation to member cluster

In the host cluster:

[code]

Going into the member cluster:

[code]

Now, we add annotation key3 and delete annotation key2

In the host cluster:

[code]

Going into the member cluster, we can see that it dose not delete the annotation key2:

[code]

**What you expected to happen**:

[2022-06-12 14:00] mathlsj commented on #1991
**Why this happen**:

In workstatus_controller, when we update a resource and it needs to merge annotations, it will add back the deleted annotations.

[code]

[2022-06-12 14:37] mathlsj commented on #1991
/assign

[2022-06-13 01:26] RainbowMango commented on #1961
这种方式后面会不会被弃用？ 如果不会，我赞成这个方案。

[2022-06-13 01:30] chaunceyjiang commented on #1991
Maybe you can try use [OverridePolicy](https://github.com/karmada-io/karmada/blob/master/docs/userguide/override-policy.md).

[samples](https://github.com/karmada-io/karmada/blob/master/samples/guestbook/guestbooks-overridepolicy.yaml)

[2022-06-13 02:23] likakuli commented on #1888
@RainbowMango

[2022-06-13 02:53] RainbowMango commented on #1991
@mathlsj Thanks for the explanation.
The reason why `workstatus controller` merge the annotation is it can't identify which annotation should be kept. e.g. the controllers running on member clusters might add annotations to the object.

[2022-06-13 02:56] RainbowMango commented on #1991
@mathlsj I wonder to know your use case. Let's see how we can help.

[2022-06-13 03:12] RainbowMango commented on #1888
`feature or bug` depends on if this is a real use case.

Technically speaking, the user can access the RB objects, e.g  get status from it. But the users should know the RB object is managed by the Karmada system, they shouldn't delete/create/update it unless they really know what they are doing.

[2022-06-13 05:19] calvin0327 commented on #1961
https://github.com/kubernetes/website/pull/33675

这个 PR 可以作为参考，在 1.24 更新的了对 secret 生成的描述，可以推测不会被弃用。

[2022-06-13 07:40] Alphonse-iwnl opened #1993 "Derived service doesn't change with origin service"
**Please provide an in-depth description of the question you have**:
once service had propagated into member cluster, service in member cluster would change when origin service in control-plane has changed, but derived service doesn't;

recording to source code of serviceImport controller, derived service  is only reconcile in serviceImport event, which means i have to update serviceImport when i

[2022-06-13 08:19] #1988 closed

[2022-06-13 08:31] XiShanYongYe-Chang commented on #1961
+1

@zgfh 对问题的修改 #1972 正是使用了这种方式，让我们来检视这个PR吧。

[2022-06-13 09:03] Alphonse-iwnl commented on #1993
condition we were facing:

- endpointSlice collected from member cluster is only related to derived service instead of origin service(logic in serviceExportContorller), so we build multi-cluster service dependent on derived service because we can easily find endpoint with it
-  some of our custom service function is opening to user by labels/annotations, but any changes made to origin service is n

[2022-06-13 09:35] Garrybest opened #1995 "feature: unjoin a cluster gracefully"
**What would you like to be added**:
Now when using `karmadactl unjoin`, we delete the cluster directly. The scheduling result in resource binding still remains. I would like to make unjoin more gracefully. The procedure could refer to what `kubectl drain` does.

1. Cordon the target cluster.
2. Delete the scheduling result in `RB/CRB` which has been scheduled to the target cluster.
3. Delete the

[2022-06-13 09:37] Garrybest commented on #1995
/cc @lonelyCZ

[2022-06-13 09:54] lonelyCZ commented on #1995
Should we execute all these actions in `cli` tool? Or is there a `controller` to clear the scheduling result in RB/CRB?

[2022-06-13 10:03] Garrybest commented on #1995
I think so, or we may add a NoExecute taint in this cluster and waint for the eviction. Which one do you prefer?

FYI, in `k/k`, `kubectl drain` delete pods in CLI tool.

[2022-06-13 16:28] carlory commented on #1995
@lonelyCZ @Garrybest Can I pick up it ?

[2022-06-14 01:39] lonelyCZ commented on #1995
@carlory Sure, thanks for your interest to it., you can `/assign` to youself. Look forward to your contribution!

[2022-06-14 02:08] Garrybest commented on #1995
/help
/assign @carlory

Thanks, glad to hear that. FYI, https://github.com/kubernetes/kubernetes/blob/050f930f8968874855eb215f0c0f0877bcdaa0e8/staging/src/k8s.io/kubectl/pkg/cmd/drain/drain.go#L293-L334

[2022-06-14 14:54] calvin0327 opened #1999 "how to use argoCD and karmada to deploy `chart` project on multis-cloud env"
**Please provide an in-depth description of the question you have**:

If we use `argoCD` and `karmada` to deploy chart project on multis-cloud env, how do we create the policy resources?  e.g: `OP` and `PP`.

* Do we define the resources （OP & PP） in the Chart package？
* Or create them separately in the cluster?

Is there a best practice in our community？thanks for helping me to solve the issue 🙏

[2022-06-14 15:08] mathlsj commented on #1991
@RainbowMango have a look, do you have any other ideas.

[2022-06-14 16:22] RainbowMango commented on #1991
Thanks for the analysis.

My concern is about the scalability, you know we may store a huge amount of `Work` that requires huge storage, I'm afraid we can't store a copy of the manifest in `Work` object.

By the way, before we start talking about the solution, I guess we can clarify the use case, all features should base on concrete use cases, right?

[2022-06-14 16:27] RainbowMango commented on #1999
I don't know if argoCD has a similar feature like [flux](https://github.com/karmada-io/karmada/blob/master/docs/working-with-flux.md).

If not,

Might help, but I'm not sure. In this approach, you have to unzip the chart and deploy the yamls to karmda-apiserver.

[2022-06-14 19:27] ryanzhang-oss commented on #1560
Any time 10am-6pm US PST would be great.

[2022-06-15 01:09] Momeaking opened #2001 "The default storage path for ETCD is inconsistent between the init installation and helm installation"
**What happened**:

Default storage  path of etcd in helm installation mode
[code]

Default storage  path of etcd in kubectl-karmada init installation mode

[code]
**What you expected to happen**:

The default storage path is the same

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
**Environment**:
- Karmada version: v1.2.0
- kubectl-karmada

[2022-06-15 01:23] XiShanYongYe-Chang commented on #2001
/cc @Poor12

[2022-06-15 01:34] Poor12 opened #2002 "Docs Improvement"
**Task description**:
Our Docs still have some grammatical errors.

Such as [here](https://github.com/karmada-io/karmada/blob/master/docs/working-with-flux.md).

1. Line 161: For example, If you just want to change replicas in member1, you can refer to the overridePolicy below.
Should change `If` to `if`

2. Line 200: 3. After applying the above policy in Karmada control plane, you will find that

[2022-06-15 01:43] Poor12 commented on #2001
Do you mean etcdContainerDataVolumeMountPath?

[2022-06-15 02:08] lonelyCZ commented on #1934
This is a interesting feature! But should we need to select the `schedule policy` in this command?

[2022-06-15 02:21] XiShanYongYe-Chang commented on #1993
Hi @Alphonse-iwnl, I think I may have understood what you mean: when the service changed, the derived service generated by the `ServiceImport controller` need to be synced at the meanwhile.

In fact, the derived service is defined by ServiceImport, and the original service simply determines the EndpointSlices of the derived service. The change of the original service will reflect in the EndpointSl

[2022-06-15 02:47] calvin0327 commented on #1999
There are some diffrent on them:
* Flux need deploy server on every cluster and deploy itself crd on karmada controller cluster. karmada only propogate flux cr `HelmRepository` and `HelmRelease `
* Argocd use karmada cluster as the only entrance, all of resource in the chart be propogated by karmada. (I'm not sure it's right to do in the approach)

If in this way, I need define all of resource of

[2022-06-15 02:48] duanmengkk commented on #1934
I thought about it before.In my opinion ,long size yaml is not need to schedule, it just need to propagated to member cluster,right ?

[2022-06-15 02:50] cutezhangq commented on #2002
/assign

[2022-06-15 07:19] RainbowMango commented on #2002
This address issues are
- https://github.com/karmada-io/karmada/pull/1986#discussion_r896729343
- https://github.com/karmada-io/karmada/pull/1986#discussion_r896730023

[2022-06-15 07:35] RainbowMango commented on #1999
yes, but usually not so many resources in a chart I guess.  I don't know much about charts, is there possible to generate the PP and OP automatically, not by manual? such as a job?

[2022-06-15 07:49] RainbowMango commented on #2001
/assign @Momeaking
as I see #2003

[2022-06-15 08:18] RainbowMango commented on #2001
/remove-kind
/kind cleanup

[2022-06-15 09:23] calvin0327 commented on #1999
Today, I try to use ArgoCD in combination with Flux to deploy helm, It's seem to work. deploy helm-operator on every member cluster and use karmada to propagate `HelmRelease` cr to every member cluster trigger by ArgoCD.

[2022-06-15 09:38] calvin0327 commented on #1999
The approach like a good idea, we have already have the tool to generate the PP and OP or need implemente myself? 😄

[2022-06-15 09:50] RainbowMango commented on #1970
repo created.
/close

[2022-06-15 09:50] #1970 closed

[2022-06-16 01:03] prodanlabs commented on #2001
Is it possible to unify the certificate name, path, etc.

[2022-06-16 02:12] #2001 closed

[2022-06-16 02:41] Momeaking commented on #2001
ok，I try

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "karmada-io/karmada"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年6月16日(星期四) 上午9:03
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re:

[2022-06-16 07:10] RainbowMango opened #2009 "Enlarge timeout setting of golangci-lint"
**Task description**:
The golangci-lint timeout several times, the latest one at:
https://github.com/karmada-io/karmada/runs/6860875119?check_suite_focus=true#step:5:125

**Solution**:

Just enlarge the timeout option, as the capacity of GitHub Action runner is pretty small, that's the reason it runs longer than normal machines. Such as:
[code]

**Who can join or take the task**:

The good first i

[2022-06-16 08:51] wuyingjun-lucky commented on #2009
some questions :
karmada linters do not contains gci
I try to use `golangci-lint run` with gci and found some imports can be improved like https://github.com/karmada-io/karmada/blob/master/pkg/karmadactl/karmadactl.go#:~:text=%22flag%22,pkg/version/sharedcommand%22

[2022-06-16 09:17] cutezhangq commented on #2009
/assign

[2022-06-16 10:29] RainbowMango commented on #2009
@wuyingjun-lucky Does gci is a linter?

[2022-06-16 10:32] wuyingjun-lucky commented on #2009
Yes

https://golangci-lint.run/usage/linters/#:~:text=v1.18.0-,gci%C2%A0%E2%9A%99%EF%B8%8F,-Gci%20controls%20golang

https://github.com/daixiang0/gci#examples

[2022-06-16 10:37] RainbowMango commented on #1794
/close

All tasks addressed by this issue are done. Thank you, folks!!!

[2022-06-16 11:00] XiShanYongYe-Chang commented on #2009
We have `golangci-lint` in `hack/verify-staticcheck.sh`.

[2022-06-16 11:23] RainbowMango commented on #2009
I get it. I'll look at it.

[2022-06-16 15:07] hanweisen commented on #2009
Is it possible to make a base image that already contains the packages that `golangci-lint` depends on.
In our environment lint often times out. I solved it by this method. we can reduce lint time from 4 minutes to 1 minutes

[2022-06-17 01:34] RainbowMango commented on #2009
Maybe we can consider this approach if the image maintains by golangci-lint community, but I don't want to maintain that.

By the way, for now, we install the golangci-lint by `go install` that will load the packages, another idea is just to download the binary(If not exist), which will help I guess.

[2022-06-17 02:11] hanweisen commented on #2009
They already maintains image golangci/golangci-lint:v1.46.2
They don't suggest using go install.
![image](https://user-images.githubusercontent.com/14215449/174209588-0c4569d0-e231-4d6e-a538-8ccae32b2da3.png)

[2022-06-17 02:25] RainbowMango commented on #2009
The image size is about `500M`, larger than the binary (about ~40M), I tend to the binary.
[code]

[2022-06-17 04:18] rgrupesh opened #2020 "Error while setting up karmada locally"
**What happened**:
error: timed out waiting for the condition on pods/karmada-apiserver-85c99f5c57-4xqdz

**What you expected to happen**:
Karmada should run locally.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Installed all the required prerequisites(Go,kubectl,kind)

**Environment**:
- Karmada version:
- kubectl-karmada or karmadactl ve

[2022-06-17 08:47] prodanlabs commented on #2020
From the startup log of `kube-apiserver`, it seems that the server has insufficient memory.

[2022-06-17 09:57] RainbowMango commented on #2020
Thanks @prodanlabs, but which logs?

@rgrupesh How much memory do you get on your machine? I guess at least 8G

[2022-06-17 10:02] rgrupesh commented on #2020
Yes, 8 gigs.

[2022-06-17 17:37] prodanlabs commented on #2020
@RainbowMango  When `kube-apiserver` starts, it will print the information of connecting to etcd and exit before connecting to etcd, so I suspect that it is due to insufficient resources.

hi @rgrupesh , Is it possible to change the log level to `--v=9`, see more detailed logs.

[2022-06-18 08:16] rgrupesh commented on #2020
@prodanlabs I increased my swap area from 4 to 8 GBs but in vain. How do I change the log level?

[2022-06-18 09:30] wuyingjun-lucky commented on #1957
/assign

[2022-06-18 09:46] wuyingjun-lucky opened #2025 "The package imports can be improved in pkg/karmadactl/karmadactl.go"
**Task description**:
The package imports can be improved in [pkg/karmadactl/karmadactl.go ](https://github.com/karmada-io/karmada/blob/master/pkg/karmadactl/karmadactl.go#:~:text=import%20(,))

We organize the import package in three parts:
`go package

third-party package

current project package`

**Solution**:

**Who can join or take the task**:

The good first issue is intended for `first-tim

[2022-06-18 09:56] wuyingjun-lucky commented on #2025
@RainbowMango @lonelyCZ can this issue set up by good first issue label

[2022-06-18 14:56] lonelyCZ commented on #1957
Thanks!

/assign @duanmengkk

[2022-06-18 16:53] lonelyCZ opened #2026 "Report more detail shceduler event information"
**What would you like to be added**:
When I deploy the Resource Interpreter Example

[code]

[code]

The RB's `SCHEDULED` is false.

[code]

And the information of `RB` only reports `no clusters fit`, don't find why result in it.

[code]

Then, I check the logs of  `karmada-scheduler`, I found the reasons.

[code]

**Why is this needed**:

So, I hope to add more detail event information to `karmad

[2022-06-19 00:07] AllenZMC commented on #2026
Can I pick up it？

[2022-06-19 06:58] lonelyCZ commented on #2026
Sure, thanks @AllenZMC , but we need to wait for some suggestions.

cc @RainbowMango

[2022-06-19 09:47] cutezhangq commented on #2025
/assign

[2022-06-20 01:20] RainbowMango commented on #2020
You can edit the `karmada-apiserver` by command:
`kubectl edit deployments.apps -n karmada-system karmada-apiserver`

set the `--v=9` to the `.spec.template.spec.containers.command`, like:
[code]

[2022-06-20 01:37] RainbowMango commented on #2025
@wuyingjun-lucky Sure! Many thanks.

[2022-06-20 02:36] lonelyCZ commented on #2026
Yes, we can refer the scheduler of kubernetes, I remember it can report the event when the node is not fited.

[2022-06-20 02:39] RainbowMango commented on #2009
@cutezhangq
Are you ready to send the PR now?
We met another failure at #2029
https://github.com/karmada-io/karmada/runs/6959540342?check_suite_focus=true

Just a reminder, this issue just tracks the `timeout` setting, I hope to fix it as soon as possible.

[2022-06-20 03:01] AllenZMC commented on #2009
Can I help do it quickly, @cutezhangq  doesn't seem to have time for it right now.

[2022-06-20 03:12] RainbowMango commented on #2009
sounds good to me if @cutezhangq ok with it.

[2022-06-20 03:18] cutezhangq commented on #2009
OK, I'm still familiar with the project and can't fix it soon. @AllenZMC @RainbowMango

[2022-06-20 03:22] cutezhangq commented on #2009
I will learn from @AllenZMC , get familiar with the project as soon as possible and complete the repair of other problems.

[2022-06-20 04:07] #2009 closed

[2022-06-20 05:02] AnteBox commented on #1910
I have the same problem, I upgraded my docker version(form 1.13.1 to 20.10.17). There is no such problem now.

[2022-06-20 06:31] chaunceyjiang commented on #1887
Any progress? If you are not free now, can I take the issue? @hanweisen

[2022-06-20 06:39] RainbowMango commented on #1910
Thanks @AnteBox.  @maoyangLiu what's the docker version you are using? Can you upgrade it and try again?

[2022-06-21 12:45] rgrupesh commented on #2020
![Screenshot from 2022-06-21 17-50-06](https://user-images.githubusercontent.com/54068868/174802293-7d9f9ec2-d973-4be0-9d59-816312b633d5.png)

[2022-06-21 14:46] prodanlabs commented on #2020
The current IP of the server is `172.23.0.2`, but it is not in the trusted list of mTLS certificates.

I guess the previous IP address was `172.23.0.3`

[2022-06-21 14:46] wuyingjun-lucky commented on #2025
/close
As [https://github.com/karmada-io/karmada/pull/2038](2038) is merged

[2022-06-21 14:46] #2025 closed

[2022-06-21 16:07] lonelyCZ commented on #2026
Perhaps, if you have time, you could design this feature referring the scheduler of k8s. We can discuss it further in this issue.

[2022-06-22 01:33] CharlesQQ commented on #517
Does this proposal meet the requirements?  https://github.com/karmada-io/karmada/pull/1859

[2022-06-22 03:25] 1285yvonne commented on #1993
But if users change ports of the original service and the derived service couldn't be synced at the sametime, then the derived service will lose its meaning(I think).  Or in your design, the derived service is only used as a tool to sync EndpointSlices? But does this conform to the original semantics of MCS?

[2022-06-22 03:55] lonelyCZ commented on #1993
Yes, I encountered this problem.

As [web example](https://github.com/karmada-io/karmada/blob/master/docs/multi-cluster-ingress.md#deploy-web-on-member1-cluster), if I change `web` service port to 82, the port of `derived-web` service is not changed,  and modify the `MCI` alone is not enough, I need to manually change the `derived-web` service.

[2022-06-22 04:00] XiShanYongYe-Chang commented on #1993
Why not change the `ServiceImport.ports`?

[2022-06-22 04:11] lonelyCZ commented on #1993
It makes sense. We need to keep `serviceimport` apply to `service` manually.

[2022-06-22 06:13] XiShanYongYe-Chang commented on #1993
Yes, it's like this.

[2022-06-22 06:22] XiShanYongYe-Chang commented on #1993
Just as I mentioned above, we can update related `serviceimport` to sync derived service.

We can get the EndpointSlices through the derived service. EndpointSlices will be synced by `service-export-controller` and `endpointslice-controller` if we updated the original service.

Can you help specify which point it is? We can have a discussion together.

[2022-06-23 02:28] #1276 closed

[2022-06-23 03:48] 1285yvonne commented on #1993
refer: https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api#importing-services

It seems that the mcs-controller is responsible for the lifecycle of a ServiceImport.  So I think maybe the mcs-controller should sync ServiceImport resources rather than normal users?

[2022-06-23 06:20] XiShanYongYe-Chang commented on #1993
The application of ServiceExport and ServiceImport has added meaning. ServiceExports are used to specify the clusters from which services are to be exported and ServiceImports are used to specify the clusters to which services are to be imported.

In addition, the service's port information exported from different clusters may be different. As a result, we cannot determine which service is the bas

[2022-06-23 06:42] 1285yvonne commented on #1993
refer: https://github.com/kubernetes/enhancements/tree/master/keps/sig-multicluster/1645-multi-cluster-services-api#constraints-and-conflict-resolution

![image](https://user-images.githubusercontent.com/15215212/175231322-a1d1075f-3da3-41d2-9242-67f201d5a8f9.png)

It looks like there is a consensus in the community on conflicts and constraints, but I understand the complexity you think about impl

[2022-06-23 08:18] XiShanYongYe-Chang commented on #1993
Implementation complexity is a secondary factor, mainly because the benefits brought by doing so are not high.

The connection point of the derived service and the original service is the same as their backend. When the port information of the original service is changed, the existing derived service can still work normally.

[2022-06-23 09:11] RainbowMango opened #2051 "Update pkg/printers with Kubernetes v1.24.2"
**What would you like to be added**:
The `pkg/printers` is lifted from Kubernetes, we need to update to adopt new changes made at Kubernetes v1.24.2.

**Why is this needed**:
See https://github.com/karmada-io/karmada/pull/2050#issuecomment-1164134985

/help

[2022-06-23 09:15] RainbowMango commented on #2051
cc @carlory @lonelyCZ
I feel it is pretty hard to maintain the lifted code since we lifted are a bunch of pieces.

[2022-06-23 09:30] AllenZMC commented on #2051
/assign

[2022-06-23 13:53] yuanbo675 commented on #2020
@rgrupesh  Maybe we're facing the same problem,I use "kubectl karmada init  --crds /usr/local/src/crds.tar.gz --karmada-apiserver-image=k8s.gcr.io/kube-apiserver:v1.23.0" command to install karmada,but karmada-apiserver can't be ready,and the logs is almost the same like yours,
![image](https://user-images.githubusercontent.com/108075549/175315419-5cb4c326-48a4-42ce-8aa0-fc6ce477f406.png)
and i fi

[2022-06-24 02:13] #2051 closed

[2022-06-24 02:20] RainbowMango commented on #2020
@prodanlabs
Do you know how to fix it? @rgrupesh just run `hack/local-up-karmada.sh` and didn't set the certificate by himself.

[2022-06-24 03:47] XiShanYongYe-Chang opened #2057 "E2E run faild for member cluster not ready"
#### Which jobs are flaking:

E2E test

#### Which test(s) are flaking:

https://github.com/karmada-io/karmada/runs/7035097848?check_suite_focus=true

Error log info:

[code]

#### Reason for failure:

As comment in https://github.com/karmada-io/karmada/pull/2056#issuecomment-1165159263

#### Anything else we need to know:

[2022-06-24 03:48] XiShanYongYe-Chang commented on #2057
We can consider to check the Cluster status in `hack/local-up-karmada.sh` or `hack/run-e2e.sh`.

/kind help

[2022-06-24 03:49] XiShanYongYe-Chang commented on #2057
/help

[2022-06-24 04:41] prodanlabs commented on #2020
I recommend reinstalling

Execute `hack/undeploy-karmada.sh` to remove

[2022-06-24 05:31] calvin0327 commented on #2057
/assign

@XiShanYongYe-Chang I'm going to call `wait_pod_ready` in `post-run-e2e.sh` to check the status of k`ube-apiserver `pod. what do you think?

[2022-06-24 06:43] RainbowMango commented on #2057
I guess the `post-run-e2e.sh` doing the cleanup stuff `after` E2E, I think what @XiShanYongYe-Chang wants to do is ensure the testing cluster is ready for run E2E.

[2022-06-24 07:07] calvin0327 commented on #2057
I'm wrong, I mean `pre-run-e2e`, there are three position on files `pre-run-e2e`，`run-e2e` and `local-up-karmada.sh`, which is better position to do it?

[2022-06-24 07:27] wangyanzhao opened #2059 "shoudn't switch context when deploy or update karmada"
**What would you like to be added**:
should replace `kubectl config use-context "${CONTEXT}"` with `kubectl --context="${CONTEXT}"` .

**Why is this needed**:
1. if deploy failed, it can't ensure context switch to "HOST_CLUSTER".
2. when deploy karmada, if other operations engineer switch context, karmada will failed too.

[2022-06-24 07:37] RainbowMango commented on #2059
Which piece of code we are talking about here? Can you give a link?

[2022-06-24 07:54] wangyanzhao commented on #2059
such as:

https://github.com/karmada-io/karmada/blob/master/hack/deploy-karmada.sh#L216

https://github.com/karmada-io/karmada/blob/master/hack/remote-up-karmada.sh#L34

[2022-06-24 08:21] RainbowMango commented on #2059
Yeah, thanks. Basically, I agree with your opinion.
Would you like to send a PR?

[2022-06-25 01:11] XiShanYongYe-Chang commented on #2057
@calvin0327 thanks! I agree to add checkout in the `pre-run-e2e.sh` to ensure the testing cluster is ready.

[2022-06-25 01:35] RainbowMango commented on #2057
wait, seems cluster still can't get available when the `hack/local-up-karmada.sh` exits, do you know why? How long it will take?

Since the `hack/local-up-karmada.sh` has been heavily used probably  by new users, they might meet this issue as well, how can we avoid it?

[2022-06-25 01:46] XiShanYongYe-Chang commented on #2057
We did not wait for the cluster to be ready after we joined the cluster, so theoretically this could happen.

There is no specific data at this time, depending on how quickly the `cluster-controller` collects the cluster status, which is low in terms of the current CI operation.

Maybe we could consider adding this wait to the `hack/local-up-karmada.sh` script.

[2022-06-25 02:39] calvin0327 commented on #1999
@RainbowMango I have tested using flux, karmada and argocd to distribute chart. Close this issue for the time being.

[2022-06-25 02:39] #1999 closed

[2022-06-25 03:48] RainbowMango commented on #2057
+1

[2022-06-25 03:58] calvin0327 commented on #2057
In this respect. I agree with you.

+1

[2022-06-25 09:23] calvin0327 commented on #2057
@RainbowMango I seem to have not found the issue of adding cluster ID mentioned last time? 😅

[2022-06-25 09:30] XiShanYongYe-Chang commented on #2057
@calvin0327, This proposal @2017 related work.

[2022-06-26 15:15] RainbowMango commented on #2057
Yes, cluster ID is now in progress of proposal.
Please help review it.

[2022-06-27 01:19] XiShanYongYe-Chang commented on #2059
Hi @wangyanzhao, would you like to fix it? Or mark it as a help label so that someone else can help do it?

[2022-06-27 02:25] wangyanzhao commented on #2059
OK, I will fix it.

[2022-06-27 02:44] XiShanYongYe-Chang commented on #2059
Thanks~

/assign @wangyanzhao

[2022-06-27 03:52] XiShanYongYe-Chang commented on #1969
Close this issue first. Any time we encounter a similar problem, please feel free to reopen it.

/close

[2022-06-27 03:52] #1969 closed

[2022-06-27 03:53] XiShanYongYe-Chang commented on #1942
/assign @duanmengkk

[2022-06-27 04:01] XiShanYongYe-Chang commented on #1557
Close this first, please feel free to reopen it if you occur the same errors.

/close

[2022-06-27 04:01] #1557 closed

[2022-06-27 04:32] ikaven1024 commented on #1949
@wuyingjun-lucky  #2058

[2022-06-27 04:35] wuyingjun-lucky commented on #1949
OK, Thanks

[2022-06-27 04:43] duanmengkk commented on #1862
It is a bit more complicated for promoting CRDs,Anyone with ideas will be welcome!

[2022-06-27 04:43] duanmengkk commented on #1862
/help

[2022-06-27 04:55] ikaven1024 commented on #1910
Dockerfile is allowed from outside build-context after docker 18.03. https://github.com/docker/cli/pull/886
@AnteBox @maoyangLiu, plz update your docker above this version.

By the way, @RainbowMango  shall we support the docker under v18? we can link the Dockerfile to the build dir.

[2022-06-27 05:58] chaunceyjiang commented on #1957
Have you made any progress recently for this issue   @wuyingjun-lucky

karmada-search addon ?
karmada-scheduler-estimator addon ?

[2022-06-27 06:13] wuyingjun-lucky commented on #1957
Sorry, we got a little busy earlier and will start these days

I think the addons can be supported one by one

[2022-06-27 07:23] XiShanYongYe-Chang commented on #1140
Close this issue first, feel free to reopen it if you have more related question.

/close

[2022-06-27 07:23] #1140 closed

[2022-06-27 11:28] chaunceyjiang opened #2065 "Why does Built-in Interpreter AggregateStatus not contain PVC"
**Please provide an in-depth description of the question you have**:

Why does Built-in Interpreter AggregateStatus not contain PVC

**What do you think about this question?**:
When I config  a pod to use a PersistentVolumeClaim for storage , I found that the PersistentVolumeClaim status in karmada was always "Pending".

![image](https://user-images.githubusercontent.com/17962021/175930442-69a4cf9

[2022-06-27 12:01] #1961 closed

[2022-06-27 12:53] XiShanYongYe-Chang commented on #2065
Hi @chaunceyjiang, we haven't added PVC yet, if you have a plan, you can bring it up and we can discuss it together.

[2022-06-27 23:22] eedorenko opened #2067 "Roadmap"
The [Roadmap](https://karmada.io/docs/roadmap) is a little outdated. Are there any plans available for 2022?

[2022-06-27 23:36] eedorenko opened #2068 "Plans for GitOps support"
Plans for [2021 Q4](https://karmada.io/docs/roadmap#2021-q4) include GitOps support. What exactly is planned for this support?

There are samples of [propagation of Flux resources with Karmada](https://github.com/karmada-io/karmada/blob/master/docs/working-with-flux.md) and [delivering resources to Karmada API server with ArgoCD](https://github.com/karmada-io/karmada/blob/master/docs/working-with-

[2022-06-28 00:25] carlory commented on #2067
@eedorenko

https://github.com/karmada-io/karmada/blob/master/ROADMAP.md

[2022-06-28 01:46] chaunceyjiang commented on #2065
I want to install [clusterpedia](https://github.com/clusterpedia-io/clusterpedia) in Karmada. It can be seen from the [clusterpedia](https://github.com/clusterpedia-io/clusterpedia) to [the documentation](https://clusterpedia.io/docs/installation/kubectl-apply/#install) that installing [clusterpedia](https://github.com/clusterpedia-io/clusterpedia) requires installing `PV` and `PVC`. When I deploy

[2022-06-28 02:22] qiuhui commented on #1555
我们也遇到了这个问题。中心的karmada集群版本是1.21，成员集群是1.20。cronjob的在1.21的版本号是batch/v1，1.20的版本号是batch/v1beta1，在karmada创建cronjob时，无法下发到member集群，排查后发现是由于版本号问题。社区对于这种场景有没有什么比较好的解决方案

[2022-06-28 02:43] wanghonglei5181 opened #2069 "how to override custom env ? use PlaintextOverrider?"
for example:
i want to propagate a deployment to two cluser, cluser A  and clusterB.
the deployment to cluster A need env idc: xxxA.
to cluster B need env idc: xxxB

is there a more easy way to do this?

[2022-06-28 03:08] wanghonglei5181 commented on #2069
#### what is the diffrent about the two overriders?
[code]

[2022-06-28 03:12] chaunceyjiang commented on #2069
two overriders？
The content of yaml you posted seems to have only one override

[2022-06-28 03:14] wanghonglei5181 commented on #2069
@chaunceyjiang
 at the last is overriders: {}
 in the overrideRules is
      overriders:
          plaintext:

[2022-06-28 03:17] chaunceyjiang commented on #2069
This filed is deprecated in v1.0 and please use the OverrideRules instead.

https://github.com/karmada-io/karmada/blob/master/pkg/apis/policy/v1alpha1/override_types.go#L62-L64

[2022-06-28 03:22] wanghonglei5181 commented on #2069
@chaunceyjiang  i got it,  thanks

[2022-06-28 03:46] RainbowMango commented on #2067
/assign @Poor12

[2022-06-28 03:49] #1783 closed

[2022-06-28 07:05] RainbowMango commented on #1555
有个问题，成员集群是1.20，为什么Karmada集群（我理解是karmada-apiserver）版本选用1.21？是否其他成员集群也有1.21？

[2022-06-28 07:10] #2057 closed

[2022-06-28 08:12] likakuli opened #2071 "binding reference key hash collision"
**What happened**:

work in different namespace with same binding reference key will affect each other which will result to the related work to be deleted and created continuously.

**What you expected to happen**:

work with same binding reference key NOT affect each other.

**How to reproduce it (as minimally and precisely as possible)**:
create two rb:
rb1:
resourcebinding.karmada.io/name: test

[2022-06-28 08:19] XiShanYongYe-Chang opened #2072 "CI E2E run failed: FederatedResourceQuota auto-provision testing"
#### Which jobs are flaking:

https://github.com/karmada-io/karmada/runs/7087677594?check_suite_focus=true
https://github.com/karmada-io/karmada/runs/7087677594?check_suite_focus=true

Many of the same mistakes, I'm not going to list them all.

#### Which test(s) are flaking:

• [FAILED] [359.535 seconds]
FederatedResourceQuota auto-provision testing
/home/runner/work/karmada/karmada/test/e2e/fede

[2022-06-28 08:22] XiShanYongYe-Chang commented on #2072
Found a critical error info:

[code]

However, the log indicates that the resource sync is successful:

[code]

[2022-06-28 08:23] XiShanYongYe-Chang commented on #2072
/kind bug

[2022-06-28 08:41] RainbowMango opened #2073 "[Good-First] Do not start new tests after the first test failure"
**Task description**:
It's a little bit inconvenient to locate the failed cases from a large number of cases. E.g.
https://github.com/karmada-io/karmada/runs/7088769752?check_suite_focus=true

**Solution**:
We can add the `-failfast` flag for `go test` to stop starting new tests after the first test failure. Like:

[code]
This example also changed `--` to `-` to keep aligned with `go help testflag

[2022-06-28 08:44] #2067 closed

[2022-06-28 09:11] likakuli commented on #2071
We resolve it temporarily by adding rb's namespace and name info to work's label and update all places that use hash to get work.

[2022-06-28 09:24] XiShanYongYe-Chang commented on #2072
/assign

[2022-06-28 09:27] RainbowMango commented on #2071
:)  Actually, in the previous version we also use RB's namespace and name to label `Work`, but the length of `label` is restricted to `<=64` that the binding's name might exceed. That's exactly the reason why we tend to hash.

[2022-06-28 09:52] likakuli commented on #2071
can use RB's UID as unique key add to Work's label?

[2022-06-28 10:01] #2072 closed

[2022-06-28 10:12] RainbowMango commented on #2071
That's an option I guess.  Before making the decision, I wonder to know :
- What's the probability of conflict in the current situation?
- Does `hash.Hash64` will be a relief than `hash.Hash32`?

[2022-06-28 10:22] likakuli commented on #2071
Or we can get work by hash label first and then filter it by its binding info in annotation

[2022-06-28 11:00] luoMonkeyKing opened #2075 "aggregated API cannot impersonate resource "groups" in API group "" at the cluster scope"
**What happened**:
When testing an aggregated API, an error is reported using the user in the specified namespace

**What you expected to happen**:
![image](https://user-images.githubusercontent.com/31637804/176161855-f071ae6a-edf1-4282-964f-6480d4bc2c94.png)

**How to reproduce it (as minimally and precisely as possible)**:
[code]
member：
[code]

**Anything else we need to know?**:

**Environment

[2022-06-28 11:25] Garrybest commented on #2071
Emmm, I didn't expect we have met a coincidence here. Kubernetes also uses `hash32` to generate podTemplate Hash or pod name Hash.

[2022-06-28 11:27] Garrybest commented on #2071
The origin namespace and name could be added into annotations, this field does not have a length restriction.

[2022-06-28 12:06] RainbowMango commented on #2071
The namespace and name are already in Work annotations, but we didn't use them.
https://github.com/karmada-io/karmada/blob/4a243f447aa253ab7ec9e27d8830469c3ae0bdb1/pkg/controllers/binding/common.go#L203-L204

[2022-06-28 13:05] XiShanYongYe-Chang commented on #2075
/assign

[2022-06-28 15:17] calvin0327 opened #2079 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit some PRs

See:
pr: https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Acalvin0327+is%3Aclosed
issue: https://github.com/karmada-io/karmada/issues?q=is%3Aissue+author%3A%40me+is%3Aclosed

Hope bring more improvements for Karmada in the future.

[2022-06-28 16:25] RainbowMango commented on #2079
+1
/assign @kevin-wangzefeng

[2022-06-28 16:26] RainbowMango commented on #2020
@rgrupesh What's going on now?

[2022-06-29 01:06] XiShanYongYe-Chang commented on #2079
+1

[2022-06-29 01:40] chaunceyjiang commented on #2073
@my-git9 The good first issue is intended for first-time contributors to get started on his/her contributor journey.

[2022-06-29 01:57] chaunceyjiang commented on #2071
If use annotation, is it easy for existing users to upgrade?

[2022-06-29 02:00] XiShanYongYe-Chang commented on #2075
Hi @luoMonkeyKing
[code]
replace to:

[code]

[2022-06-29 02:03] RainbowMango commented on #2071
Good thinking! No compatibility issue here, as we won't change the hash value and just adds the filter to avoid the collision.

[2022-06-29 02:04] luoMonkeyKing commented on #2075
ok，thanks

[2022-06-29 02:06] Garrybest commented on #2071
+1, double check could fix this issue.

[2022-06-29 02:07] XiShanYongYe-Chang commented on #2075
Feel free to reopen this issue if you have more same problems.

/close

[2022-06-29 02:07] #2075 closed

[2022-06-29 02:19] chaunceyjiang commented on #2071
Got!

Can I try to fix this issue?

[2022-06-29 02:29] my-git9 commented on #2073
Sorry, I'll pay attention later

[2022-06-29 02:44] #1831 closed

[2022-06-29 03:07] chaunceyjiang commented on #2071
[code]
@RainbowMango
Wait a minute.
I think what you mean is to use `  .spec.workload.manifests[*].metadata.annotations `
why not use `.metadata.annotations`？

[2022-06-29 06:16] RainbowMango commented on #2071
@chaunceyjiang Sure you can take it.
/assign @chaunceyjiang

And you are right, we should use the annotations from `.metadata.annotations`.
[code]

[2022-06-29 06:38] lonelyCZ opened #2085 "Cluster affinity weight"
**What would you like to be added**:

I want to propagate a workload to `member1` cluster firstly, and when `member1` cluster is unhealthy, it can trigger `Failover` to reschedule the workload to `member2`.

I try to below policy, but it can't prioritize scheduling the workload to `member1` cluster.

[code]

I research the kubernetes scheduler, there is a [Node affinity weight](https://kubernetes.

[2022-06-29 06:39] lonelyCZ commented on #2085
cc @RainbowMango @XiShanYongYe-Chang @Garrybest

[2022-06-29 07:28] likakuli commented on #2071
There my be another problem when to create work.

For example:

ns1:
deployment: deploy1
pp1: cluster affinity clusterA
rb1: deploy1-deployment

ns2:
deployment: deploy1
pp2: cluster Affinity clusterA
rb2: deploy1-deployment

rb1 and rb2 will both create work in karmada-es-cluseterA namespace with same name deploy1-{hash} because of the two rb's name is same. This will result to override each othe

[2022-06-29 08:37] XiShanYongYe-Chang opened #2088 "CI test failed to access karmada-apiserver"
#### Which jobs are flaking:

https://github.com/karmada-io/karmada/runs/7106897619?check_suite_focus=true
https://github.com/karmada-io/karmada/runs/7106577614?check_suite_focus=true

#### Which test(s) are flaking:

[code]
[code]

#### Reason for failure:

#### Anything else we need to know:

Occasionally, with a high probability.

`karmada-apiserver` restart many times.

[2022-06-29 08:39] XiShanYongYe-Chang commented on #2088
/help

[2022-06-29 08:48] likakuli commented on #2071
Name collision happens both for rb and work.

For rb, its name is generated by original resource object name and kind, so if there are two resources with same name and kind but different group version info in same namespace, the rb's name will be same too.

For work, its name is generated by original resource object name and rb's hash. Name and hash can be same for different original resource obje

[2022-06-29 09:30] chaunceyjiang commented on #2071
https://github.com/karmada-io/karmada/blob/41ab9a58e786a72e3165ad52d43983287d8ef6fe/pkg/detector/detector.go#L154-L164

https://github.com/karmada-io/karmada/blob/41ab9a58e786a72e3165ad52d43983287d8ef6fe/pkg/util/lifted/discovery.go#L38-L39

 Seems to get the most preferred veriosn, so the resource has only one version

[2022-06-29 10:07] RainbowMango commented on #2071
yeah, exactly like what @chaunceyjiang said.  We only take the preferred version. That means even user created a `v1beta1` we take it as the `v1`(like Deoployment).

[2022-06-29 10:11] likakuli commented on #2071
kind can also be same. e.g. advancedstatefulset's kind is statefulset and k8s original also have a statefulset kind.

[2022-06-29 12:11] Garrybest opened #2090 "RB may not be created when delete and create the same object immediately"
**What happened**:
1. Create a deployment and wait it until running.
[code]

[code]

2. Delete this deployment and create it again immediately, we could use `kubectl replace`

[code]

3. RB will not be created

[code]

**What you expected to happen**:
Recreate RB.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

Procedure:
1. We delete deploy

[2022-06-29 12:15] RainbowMango commented on #2090
Interesting.

[2022-06-30 01:46] dddddai commented on #2090
How about adding UID to binding name, so that we are able to distinguish bindings for each "object", but it could break users who are relying on the naming rule `name-kind`
https://github.com/karmada-io/karmada/blob/cee1a2f4a16b5292b61007ce3f87e887c1e8acc2/pkg/detector/detector.go#L665-L666

Just an option

BTW I'm thinking `name-kind` is technically not enough to identify an object, especially fo

[2022-06-30 02:30] Garrybest commented on #2085
Cool, I have some ideas long time ago, but this API change is obsolete. https://github.com/karmada-io/karmada/pull/842

My plan is to add a new field `propagatePriority []corev1.PreferredSchedulingTerm`, the weight could determine the sequence that we propagate objects.

[code]

The weight is used for **sort** instead of **calculating the ratio**. So we could propagate objects towards clusters wit

[2022-06-30 02:40] Garrybest commented on #2090
It makes sense. But I'm afraid it's not friendly for uses when the binding name is too long or the name has implicit connection with original object.

Maybe we could hash the `uid` to make it shorter?

[2022-06-30 03:16] Poor12 commented on #2090
I try serveral times. Sometimes RB can update normally, sometimes it do happen the phenomennon.
Let's talk about the normal situation. When we delete deployment, RB tend to be GC but not yet deleted basiclly because RB is ownerReferenced by the deployment. We create deployment, controller could just update the former RB. Actually If the updated was GC before，the ownerReference in RB has changed to

[2022-06-30 03:25] Garrybest commented on #2090
I think we should recreate RB instead of updating the ownerReference. If so, the recreation would have no effect. Users want to delete their former deployment and create a new one, imagine we delete the deployment and create a new one, all pods will be recreated. So in terms of this intention, I prefer to delete the obsolete RB and create a new one.

[2022-06-30 08:26] gf457832386 commented on #2085
A meaningful work, we are also thinking about this in multi clusters under different users' preferences with label-match.

[2022-06-30 09:16] XiShanYongYe-Chang commented on #2071
If so, there may indeed be a problem.

[2022-06-30 11:12] XiShanYongYe-Chang commented on #2088
/assign

[2022-06-30 11:13] XiShanYongYe-Chang commented on #2088
https://github.com/kubernetes-sigs/kind/releases/tag/v0.14.0

![image](https://user-images.githubusercontent.com/78244870/176663711-22710022-fd0f-4c96-afb4-a162928c23a5.png)

[2022-06-30 11:53] #2088 closed

[2022-06-30 13:10] lonelyCZ opened #2096 "How to support failover when member clusters status is unknow?"
**Please provide an in-depth description of the question you have**:

Currently, we support failover when member cluster is unjoined. But sometime, we can't predict cluster failure. If the cluster has been UnKnown for a period of time, how to trigger failover.

Like below logs, the cluster was unknown over 1 hour, but not to trigger rescheduler.
[code]

**What do you think about this question?**:

[2022-06-30 14:15] Garrybest commented on #2090
1. Delete the deployment.
2. RB is waiting for GC.
3. New this deployment again immediately.
4. Controller watches the creation event and try to create or update RB, since RB has not been deleted by garbage collector yet, the controller only tries to update the RB.
5. RB is deleted by garbage collector.
6. Now the controller will not receive any other events for the deployment, so RB would not be

[2022-06-30 14:16] Garrybest commented on #2090
You could have a try by using `kubectl replace --force -f samples/nginx/deployment.yaml` after the deployment is running. And if we restart karmada-controller-manager, the RB could be created.

[2022-07-01 00:47] prodanlabs commented on #2096
It seems to me that the member clusters status is `NotReady` or `Unknown`, it is possible that the network or member clusters master node sent a failure, which does not mean that the workload is unavailable.

Secondly, if it is `NotReady` or `Unknown` due to network instability at a certain point in time, it is unreasonable to trigger rescheduling.

Agree, but we should provide some strategies or

[2022-07-01 01:19] XiShanYongYe-Chang commented on #2090
@Garrybest Thanks, I figure it out. I was wondering if we could change the logic for updating resourceBinding to stop updating the old resourceBinding when it has been marked for deletion and return an error.

[2022-07-01 02:14] lonelyCZ commented on #2096
@prodanlabs Thanks for your share!

Yes, it will be very useful.

[2022-07-01 03:19] Garrybest commented on #2090
I think it could works. The controller will retry, but we should be aware that the error would call an ItemExponentialFailure requeue.

But I also think https://github.com/karmada-io/karmada/issues/2090#issuecomment-1170660576 is another solution to solve all the relevant issues. The main cause is we garble two different objects with the same ObjectReference.

[2022-07-01 03:31] likakuli commented on #2071
agree, i will open a new issue

[2022-07-01 03:37] likakuli opened #2099 "rb、work name collision"
**What happened**:

Name collision happens both for rb and work.

For rb, its name is generated by original resource object name and kind, so if there are two resources with same name and kind but different group version info in same namespace, the rb's name will be same too.

For work, its name is generated by original resource object namespace, name and rb's hash. Namespace, Name and hash can be

[2022-07-01 03:37] likakuli commented on #2071
https://github.com/karmada-io/karmada/issues/2099

[2022-07-01 03:46] XiShanYongYe-Chang opened #2102 "Upgrade kind version to v0.14.0 in go.mod"
**Task description**:

As we have upgraded `kind` version to v0.14.0 in #2095. we also to upgrade it in `go.mod`.

**Solution**:

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,
they should be ready to move on to `help wan

[2022-07-01 03:52] chaunceyjiang commented on #2102
Emmm ， I have submitted [pr](https://github.com/karmada-io/karmada/pull/2101) ,  Do I need to close my PR?

[2022-07-01 03:58] XiShanYongYe-Chang commented on #2102
Thanks. It is no need to close your pr. Just mark it in your pr will be ok.

[2022-07-01 03:58] XiShanYongYe-Chang commented on #2102
/assign @chaunceyjiang

[2022-07-01 04:10] rgrupesh commented on #2020
Any solution to this? @RainbowMango @prodanlabs

[2022-07-01 06:09] #2065 closed

[2022-07-01 07:23] Garrybest commented on #2085
https://github.com/karmada-io/karmada/pull/842, I have updated the API.

[2022-07-01 08:04] chaunceyjiang opened #2104 "How to propagate a resource with webhook?"
**Please provide an in-depth description of the question you have**:

I want to propagate [cert-manager](https://github.com/cert-manager/cert-manager) to the member cluster through karmada.

I have successfully installed `cert-manager`

 When I create a `Certificate` CR, I get the following error.

[code]

**What do you think about this question?**:

Karmada apiserver will not deploy a real  pod,

[2022-07-01 08:20] RainbowMango commented on #2020
Sorry, I've no idea. :(

[2022-07-01 09:41] #2102 closed

[2022-07-01 09:45] dddddai commented on #2090
Yeah I believe we should change the naming rule, I will do this if you all agree :)

[2022-07-01 10:47] likakuli opened #2105 "performance improvement for karmada-controller-manager to use `DeferredDiscoveryRESTMapper`"
**What would you like to be added**:

use `DeferredDiscoveryRESTMapper` instead of `DynamicRESTMapper` to improve karmada-controller-manager performance

**Why is this needed**:
https://github.com/karmada-io/karmada/blob/c1b5aef905f39e56fd48120c9ff4fcc8e0cda637/pkg/detector/detector.go#L772-L773
https://github.com/karmada-io/karmada/blob/c1b5aef905f39e56fd48120c9ff4fcc8e0cda637/pkg/detector/detect

[2022-07-01 10:47] likakuli commented on #2105
/assign

[2022-07-01 11:36] likakuli opened #2107 "Request to be a Member of Karmada"
I'm requesting to be a Member of Karmada.

Recently，I started to participate in the development of the community and submit some issues and prs.
I will use karmada in production environment. We have found some bugs and performance problems and i will keep up with the community.

PRs：
https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Alikakuli+

issues:
https://github.com/karmada-io/kar

[2022-07-01 11:37] likakuli commented on #2107
@RainbowMango thx

[2022-07-01 18:02] prodanlabs commented on #2020
Hi @caniszczyk ， You can try adding a virtual IP.

`enp0s25` is the name of the network card, execute `ip a` to see
[code]

[2022-07-02 02:01] prodanlabs commented on #2020
sorry, its my fault, it should be `add`
[code]

[2022-07-02 03:28] RainbowMango commented on #2105
Thanks for pointing it out.
In addition to `DynamicRESTMapper` and `DeferredDiscoveryRESTMapper`, I just noticed there also other alternatives:
- [DefaultRESTMapper](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/meta/restmapper.go#L57)
- [FirstHitRESTMapper](https://github.com/kubernetes/kubernetes/blob/89aaf7c02dd33415ac994cecfddca7c02ed75834/staging

[2022-07-02 05:02] likakuli commented on #2105
There is a similar scene in kube-controller-manager's GC logic where `DeferredDiscoveryRESTMapper ` used. And what we need is just a RestMapper with cache func.

https://github.com/kubernetes/kubernetes/blob/89aaf7c02dd33415ac994cecfddca7c02ed75834/cmd/kube-controller-manager/app/controllermanager.go#L507-L513

By the way, there is a performance problem in the kube-controller-manager‘s GC controll

[2022-07-02 06:41] RainbowMango commented on #2107
Thanks @likakuli
+1

/assign @kevin-wangzefeng

@likakuli and his team give us a lot of valuable performance and functionality feedback based on their adoption testing.

[2022-07-02 07:34] RainbowMango commented on #2099
Do you have any idea to fix this?

[2022-07-02 15:30] brucexyz1234 opened #2110 "the kube controller manager of karmada keep restarting after installed the master helm chart due to liveness probe"
**What happened**:
the kube controller manager of karmada keep restarting after installed the master chart due to liveness probe
**What you expected to happen**:
should not keep restating
**How to reproduce it (as minimally and precisely as possible)**:
install the master helm chart
**Anything else we need to know?**:
try it
**Environment**:
- Karmada version: master
- kubectl-karmada or karmadact

[2022-07-03 04:17] likakuli commented on #2099
RB and Work are both internal resource which user should not access them directly. But there may some user user use them directly and user-facing change is inevitable for those users.

I think we should change RB and Work name specification and offer a guarantee that user will not need to redeploy their original resource like deployment and pp and user's resource already dispatched to member clust

[2022-07-03 13:23] calvin0327 commented on #2110
Is there some message with the kube-controller livenessProbe?

[2022-07-03 13:55] Poor12 opened #2114 "Failed to use local-up-karmada.sh to setup Karmada on Mac when set ChinaMainland"
**Task description**:
When use local-up-karmada.sh to setup Karmada on Mac, if use ChinaMainland, it will run some scripts to override default images.
[code]
However, macos do not use \n to line feed. So it will like below:
<img width="1231" alt="截屏2022-07-03 下午9 52 37" src="https://user-images.githubusercontent.com/26862112/177042903-75b97e64-39c2-435c-a7b4-cad5332ecb0f.png">
 So build image fail

[2022-07-03 15:28] wuyingjun-lucky opened #2116 "Why karmada-search use genericoptions.NewRecommendedOptions"
**Please provide an in-depth description of the question you have**:
Why karmada-search use genericoptions.NewRecommendedOptions  (ETCD options)
It seems karmada-search will work fine while the etcd-servers use wrong address and the karmada-search seems not directly use ectd. The backend store is not ectd yet .

**What do you think about this question?**:
<img width="1667" alt="image" src="https:/

[2022-07-04 01:38] RainbowMango commented on #2099
+1

[2022-07-04 01:59] kinzhi commented on #2114
/assign

[2022-07-04 02:24] calvin0327 commented on #2116
As `genericoptions.NewRecommendedOptions` is very useful option help us to build karmada-search cmd.
Indeed, etcd is not in use now, I don't know if it will be used in the future？

[2022-07-04 02:25] calvin0327 commented on #2110
@brucexyz1234 can you support more message about the issue?

[2022-07-04 02:28] brucexyz1234 commented on #2110
![image](https://user-images.githubusercontent.com/26198722/177071046-aaa09435-8318-4baa-bce0-049a46c2e21a.png)

[2022-07-04 02:29] brucexyz1234 commented on #2110
![image](https://user-images.githubusercontent.com/26198722/177071207-54306d63-3bf6-4b50-bbd3-32faa15a48bb.png)

[2022-07-04 02:30] brucexyz1234 commented on #2110
@calvin0327
fyi

[2022-07-04 02:32] wuyingjun-lucky commented on #2116
It seems karmada-search will not use etcd and opensearch is the backend store

[2022-07-04 02:34] #2071 closed

[2022-07-04 02:42] calvin0327 commented on #2116
[code]

This place can be modified, Look at other member's opinions?

[2022-07-04 02:44] wuyingjun-lucky commented on #2116
Yes I  hope we can remove  the  etcd options

[2022-07-04 02:48] hanweisen opened #2119 "why e2e test (v1.24.0) test failure"
**Please provide an in-depth description of the question you have**:
my e2e test in  e2e test (v1.24.0) failure, the reason is
[code]
referring: https://github.com/karmada-io/karmada/runs/7172926157?check_suite_focus=true

**What do you think about this question?**:
I think this failure is not caused by my PR #2118. Can anyone help with it?
**Environment**:
- Karmada version:
- Kubernetes version:

[2022-07-04 02:51] hanweisen commented on #2119
/help-wanted

[2022-07-04 02:53] hanweisen commented on #2119
/help

[2022-07-04 02:58] calvin0327 commented on #2119
https://github.com/karmada-io/karmada/runs/7169278909?check_suite_focus=true#step:5:81
I had a similar problem.

[2022-07-04 02:58] chaunceyjiang commented on #2119
Have you rebase the master branch?
refer to https://github.com/karmada-io/karmada/pull/2095

[2022-07-04 03:00] hanweisen commented on #2119
I remember I rebase before submitting. Let me try it again

[2022-07-04 03:05] hanweisen commented on #2119
I forget to fetch  before rebase

[2022-07-04 03:23] XiShanYongYe-Chang commented on #2116
@wuyingjun-lucky @calvin0327 Thanks~ If there are any problems or bad coding, you can send a pr to optimize them, 👍

[2022-07-04 03:25] wuyingjun-lucky commented on #2116
/assign

[2022-07-04 03:28] wuyingjun-lucky commented on #2119
Could karmada-bot add a command like `/retest` by the pull request authors ? @RainbowMango

[2022-07-04 03:33] RainbowMango commented on #2119
I don't know how to do it. The test is triggered by GitHub Action but not karmada-bot.

[2022-07-04 03:36] brucexyz1234 commented on #2110
----     ------        ----                    ----                  -------
  Warning  Unhealthy     24m (x4251 over 35h)    kubelet, xxx  Liveness probe failed: Get "https://127.0.0.1:10257/healthz": dial tcp 127.0.0.1:10257: connect: connection refused
  Normal   Pulled        9m29s (x538 over 35h)   kubelet, xxx Container image "xxxxxxx/kube-controller-manager:v1.22.10" already present on mach

[2022-07-04 03:36] brucexyz1234 commented on #2110
@calvin0327

[2022-07-04 03:50] calvin0327 commented on #2110
I think we should add `Startup probe` work before liveness probe.

[2022-07-04 03:52] calvin0327 commented on #2110
It maybe kube controller manager server is not running really and the liveness probe start worl already.

[2022-07-04 04:31] hanweisen commented on #2119
That works, thanks @chaunceyjiang

[2022-07-04 05:02] calvin0327 commented on #2110
<img width="1263" alt="image" src="https://user-images.githubusercontent.com/45745657/177084621-2367a211-0585-4bb0-a1f4-845689e4a38c.png">

Restart 2 time and running normal.

[2022-07-04 05:03] calvin0327 commented on #2110
/assign

[2022-07-04 05:37] #2119 closed

[2022-07-04 08:44] RainbowMango commented on #780
@Garrybest Is there a use case that can indicate the benefits to Karmada users?

Do you propose both `preferred` and `required` affinity? Or, just `preferred`?  (I can see both from the issue title, but just one from #842)

[2022-07-04 13:30] Poor12 commented on #2110
Hello,  I wonder if kube-controller-manager just restarts serveral times finally start or it will never start successfully.

[2022-07-05 02:46] Garrybest commented on #780
It is proposed long time ago. I have updated this issue description, please take a look.

[2022-07-05 03:03] RainbowMango commented on #780
Thanks, I see it. it makes sense(just looked at story 1).

This feature belongs to the scope of `dividing` replicas, I'm not sure if we can put it into the `ReplicaSchedulingStrategy`. Just a second thought, I'll look at #2085.

[2022-07-05 03:09] RainbowMango commented on #2085
Cool, with the preference defined by the user, we can `score` each cluster.

[2022-07-05 03:28] Fish-pro opened #2131 "Why is the short usage of cluster parameters lowercase in karmadactl promote different from other modules"
**Please provide an in-depth description of the question you have**:
When using the karmadactl promote command, the cluster parameter is shortened to -c, but other modules are -C. Why is there such a difference?
`karmadactl promote -h`
[code]
`karmadactl get -h`
[code]

**What do you think about this question?**:
Because of the container operation -c?
**Environment**:
- Karmada version:
- Kubernet

[2022-07-05 03:37] Garrybest commented on #780
I think it's not just for dividing replicas. Let me explain this field.

When propagating, we have some `constraints`, e.g., `spreadConstraints`, `availableReplicas`, etc. What we are going to do is try to find a solution under the `constraints`.

`PropagatePriority` aims to tell us in which set we could look for solutions. Imagine we get a priority list with set A, set B and set C by descending o

[2022-07-05 11:15] ikaven1024 commented on #2073
We can search `--- FAIL` on the log web to locate the failed test.

Besides, `-v` flag doesn't provide some useful information. Consider dropping it? The log will be shorter much.
[code]

[code]

[2022-07-05 11:19] RainbowMango commented on #2073
Postpone this until we really need it.

/close

[2022-07-05 11:19] #2073 closed

[2022-07-05 12:07] RainbowMango commented on #2105
I just looked at the implementation of [DynamicRESTMapper](https://github.com/karmada-io/karmada/blob/bffd4f8bba0be8a3f4b4c8cb3a26a80aeef8eca6/vendor/sigs.k8s.io/controller-runtime/pkg/client/apiutil/dynamicrestmapper.go#L34), seems it will get the `cached` result from the [static restmapper](https://github.com/karmada-io/karmada/blob/bffd4f8bba0be8a3f4b4c8cb3a26a80aeef8eca6/vendor/sigs.k8s.io/con

[2022-07-05 13:19] calvin0327 commented on #2110
@brucexyz1234 Did the kubelet report any error message?

[2022-07-06 01:41] weichenhao opened #2137 "describe pod status error"
kubectl get pods
![image](https://user-images.githubusercontent.com/34300622/177448523-4387894c-a209-4d2c-baff-5bb46c6e6053.png)
kubectl describe pod breeding-10001
![image](https://user-images.githubusercontent.com/34300622/177448633-6e7bf2b0-b2fb-4834-a768-f8ea0c0e98b2.png)
karmadactl describe pod breeding-10001 -C=cluster2
![image](https://user-images.githubusercontent.com/34300622/177448805-e1

[2022-07-06 01:44] chaunceyjiang commented on #2137
Can you paste your pod yaml file?

[2022-07-06 02:12] likakuli commented on #2105
![p90perf](https://user-images.githubusercontent.com/12692304/177450948-f163e0f1-6fb6-4749-83b1-e18573edc49c.svg)
This is the svg generated by golang pprof and we can see the cpu cost by each function call. There are two places need to improve.

The left shows that list by labelselector cost too much cpu time because of controller-runtime not use index when list by labelselector. I will open a new

[2022-07-06 02:44] RainbowMango commented on #2105
![image](https://user-images.githubusercontent.com/8268873/177456036-21359c05-6404-4751-87d7-5d8ffd7f84d6.png)

The CPU time is mostly occupied by `runtime.mapaccess2` and `runtime.newobject`, does that means it is in a remote HTTP call?  I'm not sure about it. From the implementation of [DynamicRESTMapper](https://github.com/karmada-io/karmada/blob/bffd4f8bba0be8a3f4b4c8cb3a26a80aeef8eca6/vendor/

[2022-07-06 03:30] luoMonkeyKing opened #2138 "karmada-search cannot list resource "resourceregistries" in API group"
**What happened**:

**What you expected to happen**:
karmada-searche logs:
[code]
Also did not find the ResourceRegistry resource
![image](https://user-images.githubusercontent.com/31637804/177461749-d2b25de3-55c3-405f-9d5c-280e53d23623.png)

**Anything else we need to know?**:
karmada-search startup parameters：
![8905560cfa6edbadad720c7c3e5daba](https://user-images.githubusercontent.com/31637804/

[2022-07-06 03:32] likakuli commented on #2105
![image](https://user-images.githubusercontent.com/12692304/177462295-4c9b93c6-e02c-4124-bb38-a775c8221051.png)

we monitor the `workqueue_work_duration_seconds_bucket` of karmada-controller-manager for each queue. It means the processing time of every work queue item. P90 decreased from 9s to 910ms.

[2022-07-06 03:47] XiShanYongYe-Chang commented on #2138
`karmada-search` is an optional component.

The secret name `karmada-cert` in cmd init is different from the secret name `karmada-cert-secret` in `artifacts/deploy/karmada-cert-secret.yaml`, when deploying `karmada-search`, we need to change the corresponding value name.

[2022-07-06 05:47] weichenhao commented on #2137
pod.yaml

apiVersion: v1
kind: Pod
metadata:
  name: breeding-10001
  namespace: default
spec:
  containers:
  - command:
    - bash
    - /workspace/CSRNet/breeding.sh
    - /workspace/CSRNet
    - /workspace/datas
    - /workspace/datas/breeding-10001
    - '2'
    image: hjj-image:v2
    imagePullPolicy: IfNotPresent
    name: breeding-100018582
    ports:
    - containerPort: 80
    volumeMoun

[2022-07-06 06:29] luoMonkeyKing commented on #2138
Ok, but I don't think it's the secret name, because the search component and karmada-apiserver use the same secret, and the current error is that there is no permission to collect the data of the member cluster

[2022-07-06 08:18] luoMonkeyKing commented on #2138
The reason for the problem was found, because I didn't create the cr ResourceRegistry, sorry！
I feel that the above error is sometimes misleading.

[2022-07-06 08:48] XiShanYongYe-Chang commented on #2138
Thanks!

/close

[2022-07-06 08:48] #2138 closed

[2022-07-06 08:55] lonelyCZ commented on #2137
We don't seem to have an aggreagte pod status. It is recommended to use workload(like `Deployment`) to distribute applications.
Do you have any requirements that require you to distribute pods directly?

[2022-07-06 09:10] lonelyCZ commented on #2131
It was designed separately, but I think we can unify it now. Would you like to file a pr to improve it? @Fish-pro

[2022-07-06 09:44] lonelyCZ commented on #2104
You can deploy `cert-manager` in `karmada-host` cluster, `karmada-apiserver` is used to propagate resource. You can collect `cert-manager` crd to `karmada-apiserver` and then create `PropagationPolicy` to propagate resource to member clusters that has installed `cert-manager`.

What is a resource with webhook? I guess the usage step is that create a certificate and then propagate it by `Propagatio

[2022-07-06 23:48] Fish-pro commented on #2131
@lonelyCZ Thanks for the answer, I will submit a PR to unify it later

[2022-07-07 02:08] chaunceyjiang commented on #2137
https://github.com/karmada-io/karmada/blob/db4fdc14740b8729d7759d030657e003b778e443/pkg/resourceinterpreter/defaultinterpreter/aggregatestatus.go#L310-L313
Because we have no aggregated `Succeeded`  status
I think we should also aggregate the pod `Succeeded`and `Failed` status.

|  The Pod Status of ClusterN | The Pod Status of ClusterM  | Aggregate Priority | AggregatePodStatus |
|  ----  | ----

[2022-07-07 02:36] weichenhao commented on #2137
Yes，you should aggregate status whatever pod has，otherwise it will be inconsistent.

[2022-07-07 02:55] wanghonglei5181 opened #2142 "how to maintain karmada on production? such as backup data,upgrade,HA"
**I have 4 cluster on production, how to maintain karmada**:
* 4 kubernetes cluser run in 4 datacenters,
* use this command (./remote-up-karmada.sh $HOME/.kube/config  kubernetes-admin@kubernetes    )  install karmada in one kubernetes cluser,
* use this command (kubectl karmada join kuberentes-admin  --kubeconfig=.kube/config --karmada-context=karmada-apiserver --cluster-kubeconfig=.kube/75.confi

[2022-07-07 03:12] chaunceyjiang commented on #2137
/assign

[2022-07-07 03:16] weichenhao commented on #2137
thx, please tell me when you fixed it.

[2022-07-07 03:30] RainbowMango commented on #2142
Really? Are you running Karmada on production now? We love to support people adopting Karmada.

It's hard to say right or not. Sure it's the typical use case that let Karmada manage your clusters and propagate resources onto them by policies(such as, PropagationPolicy). Just feeling a little bit surprised that only `1` cluster in each data center, but no big deal.

[2022-07-07 03:36] RainbowMango commented on #2142
I guess during the `recreate` progress, the connection between the cluster and Karmada will be lost, Karmada would think the cluster in a `not-ready` state and will stop propagating resources onto that cluster until it gets back. In addition, if you enabled the failover option(this feature is disabled by default), Karmada may migrate the workload from the `not-ready` clusters to other available cl

[2022-07-07 04:07] wanghonglei5181 commented on #2142
we are ready to to this。

[2022-07-07 04:20] wanghonglei5181 commented on #2142
some times，such as we upgrade kubernetes version from 1.17 to 1.22，
it includes many versions，many changes
we must recreate kuberentes cluster i think，
recreate is the simplest way to upgrade kubenetes  i think。
to sum up，so i have the question。

[2022-07-07 15:36] AllenZMC opened #2149 "When are ResourceBindings created？"
**Please provide an in-depth description of the question you have**:
When are ResourceBindings created ?  Where is the created process in the code? And where is the code for Policy Controller?

**What do you think about this question?**:

[2022-07-08 01:16] XiShanYongYe-Chang commented on #2149
I'm sorry, I didn't quite understand your meaning. During scheduling, ResourceBindings will not be created.

[2022-07-08 02:00] AllenZMC commented on #2149
@XiShanYongYe-Chang  Sorry, maybe my description is not clear, what I want to express is where the `ResourceBindings` will be created?

[2022-07-08 02:24] XiShanYongYe-Chang commented on #2149
ok, we will create rb in detector: pkg/detector/detector.go:432

[2022-07-08 02:31] chaunceyjiang commented on #2149
https://github.com/karmada-io/karmada/blob/18515424c2491fbd9982f8460d15a36585987e10/pkg/detector/detector.go#L640-L643

[2022-07-08 02:31] AllenZMC commented on #2149
@XiShanYongYe-Chang  `Policy Controller: the controller watches PropagationPolicy objects. When the PropagationPolicy object is added, it selects a group of resources matching the resourceSelector and creates ResourceBinding with each single resource object.`  Is the `policy controller` in this description just a general reference? I don't see the corresponding processing code in the controller ma

[2022-07-08 02:35] chaunceyjiang commented on #2149
https://github.com/karmada-io/karmada/blob/18515424c2491fbd9982f8460d15a36585987e10/pkg/detector/detector.go#L90-L107

https://github.com/karmada-io/karmada/blob/18515424c2491fbd9982f8460d15a36585987e10/pkg/detector/detector.go#L131-L137

[2022-07-08 02:37] #2131 closed

[2022-07-08 02:41] XiShanYongYe-Chang commented on #2149
Currently, there is no dedicated `policy controller`. Its processing logic is also in the detector. We add an independent event handler to the policy for processing:

https://github.com/karmada-io/karmada/blob/6adce059d6b198eb099a81a8fc43bdfc1084b567/pkg/detector/detector.go#L95-L109

[2022-07-08 02:44] Fish-pro opened #2151 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit PRs 7+

See:
https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3AFish-pro+is%3Aclosed

Hope bring more improvements for Karmada in the future.

/cc @kevin-wangzefeng @RainbowMango

[2022-07-08 02:46] AllenZMC commented on #2149
Is it necessary to update the description of this controller in the homepage documentation?

[2022-07-08 02:49] RainbowMango commented on #2149
I don't think so. The detector is essentially a controller because it works in a controller style.

[2022-07-08 02:55] AllenZMC commented on #2149
OK.

[2022-07-08 02:55] #2149 closed

[2022-07-08 02:59] XiShanYongYe-Chang commented on #1946
Hi @CharlesQQ, dose this issue been fixed?

[2022-07-08 03:09] ikaven1024 commented on #2114
What's your mac version? It works well on my side: MacOS 11 & 12

[2022-07-08 06:06] mathlsj opened #2154 "Propagate dependencies support adding by annotation"
**What would you like to be added**:

Propagate dependencies support adding by annotation

**Why is this needed**:

service dependent deployment.  both of them are linked by pod lable, but themselves are not directly linked. so it  is dependent by annotaion, controlled by the user

[2022-07-08 06:16] mathlsj commented on #2154
[code]

[2022-07-08 06:38] chaunceyjiang commented on #2154
So ,which resource should I set the annotation to it?

[2022-07-08 06:39] ikaven1024 opened #2155 "gitTreeState"
**Task description**:
When there are files uncommit(i.e. git status is dirty), e.g.
[code]
While building binary, the `gitTreeState` is  `clean`. It shall be `dirty`.

[code]

The reason is wrong here.
https://github.com/karmada-io/karmada/blob/821a18542e57ae5ecf5fdc44bd3fa14c586f4a66/hack/util.sh#L616

`$$`  the PID of shell. `$?` shall be used here, indicating the exit code of last command.

**S

[2022-07-08 08:42] mathlsj commented on #2154
[code]

then the result looks like this（ignore the lable details . in my environment i splite depended labels to three lables):

[code]

[2022-07-08 08:51] RainbowMango commented on #2155
I just tried it on my side, that I modified `README.md` by adding two empty lines:
[code]

Then run `make karmada-aggregated-apiserver`, I can see the `gitVersion=v1.2.0-279-g821a1854-dirty`.
[code]

By the way, I run the test on Linux CentOS.

[2022-07-08 09:21] RainbowMango commented on #2155
Yeah, got it.
I guess it was introduced when we move this from `Makefile` to shell. cc @gy95

[2022-07-08 10:20] zzz-Uzi opened #2157 "crds 资源丢失"
**What happened**:
重启服务器之后，，karmada下的crds 资源都丢失了
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
- Others:

[2022-07-08 10:27] likakuli commented on #1853
https://github.com/karmada-io/karmada/pull/1663 can't disable default plugins but https://github.com/karmada-io/karmada/pull/2135 can do that.

[2022-07-08 12:01] prodanlabs commented on #2157
只是`crds`的资源丢失吗

[2022-07-09 07:16] Poor12 commented on #2114
10.15.7. Catalina.

[2022-07-09 07:16] #2114 closed

[2022-07-09 10:18] RainbowMango commented on #1350
That's an interesting proposal, the `--cluster-namespace` used to specify the namespace where to put the secrets stuff, it is not recommended to put them into `karmada-system` which is usually used for components. I'm not so sure if we should force users don't do that.

I'll get back after I look at the following proposal and the implementation addressed by #1653.

[2022-07-09 10:28] RainbowMango commented on #1350
After going through the second approach, now I tend to the first proposal. But given this issue only happened when people changed the default `--cluster-namespace`, we can assume that people know what he is doing and we can give a warning on that.

[2022-07-09 10:28] RainbowMango commented on #1350
/assign @Poor12
As the #1653

[2022-07-09 13:41] ihuibin commented on #2155
/assign

[2022-07-10 04:16] CharlesQQ commented on #1703
/reopen

[2022-07-11 05:27] carlory opened #2166 "Make auto-generated policy become more readable"
**What would you like to be added**:

refactor the `names. GeneratePolicyName` function.

**Why is this needed**:

when we execute the `karmadactl apply` or `karmadactl promote` command, pp or cpp will be generated and applied to karmada-apiserver.

but the name of auto-generated policy is not easy readable unless the users explicitly set the resource name like web-deployment, web-service. So shou

[2022-07-11 05:36] carlory commented on #2166
When there are different versions of a resource in a file, if the policy name is produced according to the rules of <name>-<kind>-<hash-key>, the same resource will correspond to multiple policies. hash-key is generated via gvk.

Maybe we should modify the implementation of the generator function, here is an example:

// GeneratePolicyName generates the propagationPolicy name
func GeneratePolicyNa

[2022-07-11 07:31] kevin-wangzefeng commented on #2079
Welcome onboard! Please visit https://github.com/karmada-io to accept the invitation.

[2022-07-11 07:33] kevin-wangzefeng commented on #2107
+1, looking foward to more of your contributions ;-)
The invitation should arrive via email shortly, you can also visit https://github.com/karmada-io to accept the invitation.

[2022-07-11 08:13] Fish-pro commented on #2151
/cc @kevin-wangzefeng @RainbowMango

[2022-07-11 09:36] zzz-Uzi commented on #2157
这是指？？是指定crd资源的压缩包进行按安装的

[2022-07-11 10:56] likakuli commented on #2099
I can work on this and #2090  if there is nobody working on them /cc @RainbowMango

[2022-07-11 11:47] luoMonkeyKing opened #2172 "ingress-nginx does not support MCI derived-service"
**What would you like to be added**:
I don't know if other users in the community have this requirement, that is to do 4-layer load access through ingress.
I want derived-service to be able to add endpoint

**Why is this needed**:
When I load the tcp or udp layer 4 network of ingress, I find that it will look for the endpoint of the configuration service. The derived service of karmada mci has no

[2022-07-11 12:08] RainbowMango commented on #2157
给个链接，别吓我 :)

[2022-07-11 12:33] RainbowMango commented on #2099
Thanks, But, seems we haven't made the final solution yet.

[2022-07-11 12:38] prodanlabs commented on #2157
`init` 安装默认就是没有持久化，helm安装好像也是，我回去看看

[2022-07-11 12:43] prodanlabs commented on #2157
只有`init`默认没持久化，可以改下。

[2022-07-11 12:47] RainbowMango commented on #2157
哪里设置的初始化，给个链接？

[2022-07-11 12:53] prodanlabs commented on #2157
pkg/karmadactl/cmdinit/cmdinit.go

[code]

[2022-07-11 13:36] prodanlabs commented on #2157
我觉得可以提个  `good first issue`  ，你觉得呢 @RainbowMango

[2022-07-11 13:55] RainbowMango commented on #2157
怎么改，你在这里说下，可以请@zzz-Uzi 确认一下能不能解决。

[2022-07-11 14:03] chaunceyjiang commented on #2172
Yes.

https://github.com/karmada-io/karmada/blob/a50e31ddaf2f5f1db8db051e933829af7166f929/pkg/controllers/mcs/service_export_controller.go#L158-L163

Can you give me a minimum reproduce step?

[2022-07-11 14:08] likakuli commented on #2105
benchmark:
[code]

BenchmarkGetGroupVersionResource1: use  `GetGroupVersionResource` with sync.Map and `DynamicRestMapper`
BenchmarkGetGroupVersionResource2: use `GetGroupVersionResource2` with `DynamicRestMapper`
BenchmarkGetGroupVersionResource3: use `GetGroupVersionResource2` with `DeferredDiscoveryRESTMapper` and `MemCacheClient`

Via CPU Profiling, I see that there are some `newobject`, `make

[2022-07-11 14:18] RainbowMango commented on #2105
You are using a `real` kubeconfig file, right?

[2022-07-11 14:43] likakuli commented on #2105
Yes, put a real kubeconfig file in same folder

[2022-07-11 16:48] prodanlabs opened #2173 "an interesting bug"
**What happened**:
##### First, I created two `Deployment` and one `Service` in the karmada control panel.

<details>
<summary>yaml</summary>

[code]
</details>

[code]

#####  Then, I propagate the `v2` version of Deployment and Service to `dev-cluster-02`
<details>
<summary>yaml</summary>

[code]
</details>

good, everything works.
[code]

#####  Now, I propagate `v1` version of Deployment and S

[2022-07-11 16:48] prodanlabs commented on #2173
I don't know if you have encountered it.
I will debug tomorrow.

[2022-07-12 01:02] luoMonkeyKing commented on #2157
这个init模式没有持久化有点可怕啊，重启之后是不是只能重装了？通过init模式已经装过的在运行的集群，有什么补救方法吗？ @prodanlabs

[2022-07-12 01:05] RainbowMango commented on #2157
先不要着急，谁可以在开发环境把这个问题复现出来，并验证上面的方案是否可行？

[2022-07-12 01:24] RainbowMango commented on #2173
I'd say, It works as expected. The service has been claimed by PropagationPolicy named `helloworld-v2`, so the following PropagationPolicy can't propagate it.
And the reason is that a `resource template` should only be propagated by one propagation policy.

[2022-07-12 01:27] RainbowMango commented on #2157
感谢， 有基础image（`alpine:3.15.1`）就可以本地构建.

[2022-07-12 01:29] luoMonkeyKing commented on #2157
好的，我今天或者明天来测试一下，有结果我会在这下面回复

[2022-07-12 01:39] prodanlabs commented on #2173
Why is it designed this way? I don't understand something.

[2022-07-12 01:49] RainbowMango commented on #2173
For example, the PropagationPolicy(named 1) declares it propagates a `resource template` to cluster `member1`, and in the meantime, another PropagationPolicy(named 2) declares the same `resource template` can't propagate to cluster `member1`.
Then, what can Karmada do with the inconsistent declarations?

[2022-07-12 01:49] luoMonkeyKing commented on #2172
If you deploy MCI, you can directly modify the deployment of ingress-nginx and add the following configuration to args:
[code]
tcp-service configmap:
[code]
udp-service configmap:
[code]
For details, please refer to this article on the Internet：[ingress-tcp-udp](https://www.likecs.com/show-305332017.html)

[2022-07-12 02:21] prodanlabs commented on #2173
When the same resource template, when there are two or more PropagationPolicy propagating it to the same member cluster. can be handled like this

However, when there are two or more PropagationPolicy for the same resource template and it is propagated to different member clusters, it is unreasonable to do so.

[2022-07-12 02:29] RainbowMango commented on #2173
Yes, it's not supported in this scenario. But we have ways to achieve that, like creating another resource template or propagating it with a single PropagationPolicy.

[2022-07-12 02:37] prodanlabs commented on #2173
But doing this is somewhat unacceptable to me, and the user experience is not good.

Of course, everyone's operating habits are different, and I may be an exception.

[2022-07-12 03:15] #1703 closed

[2022-07-12 03:28] prodanlabs commented on #2173
I tested it and it didn't work.

[code]

[code]

[2022-07-12 03:39] RainbowMango commented on #2173
Please check the annotation/label if the Service(default/helloworld) has been claimed by other policies.

[2022-07-12 03:49] prodanlabs commented on #2173
I took a look at the code and maybe I know why.

First we create the resource template, then create the PropagationPolicy to propagate it to the member cluster.If you don't need to propagate to member clusters now, you need to delete the resource template instead of PropagationPolicy.

If a resource template has multiple PropagationPolicy, one PropagationPolicy is propagated to member cluster A, a

[2022-07-12 03:56] RainbowMango commented on #2173
Why not remove the legacy PropogationPolicy as well?

[2022-07-12 03:57] RainbowMango commented on #2173
Can not happen as a resource template can only be claimed by `a` PropagationPolicy.

[2022-07-12 04:09] prodanlabs commented on #2173
That was not what I meant.

For example, I create a deployment `foo` resource template, then create a PropogationPolicy and propagate it to member cluster A. If `foo` does not need to be propagated to member cluster A now, it is useless to delete the PropogationPolicy. You need to delete the deployment `foo` resource template to achieve the purpose.

[2022-07-12 04:11] RainbowMango commented on #2105
Personality, I don't think a benchmark should rely on a real system. People may get different results when they run against different systems.

Thanks in advance, but we need to provide more evidence for that. Actually, I'm looking into it now.

[2022-07-12 05:00] prodanlabs commented on #2173
E.g

[code]

[code]

Now, I remove the `PropagationPolicy`, as you can see, the `work` still exists

[code]

So some conclusions can be drawn:
A resource template can only have one PropagationPolicy.  Because if the resource template has multiple PropagationPolicy, if you need to delete one of the PropagationPolicy, but `works` has not been deleted, you need to delete the resource template to achi

[2022-07-12 05:08] prodanlabs commented on #2157
有，先把正在运行的etcd数据备份出来，然后修改etcd statefulsets 持久化数据，最后再把数据还原就好了。

[2022-07-12 05:58] prodanlabs commented on #2157
因为etcd的镜像里没有tar命令，没办法通过 `kubectl cp` 命令备份的文件复制出来。所以我们需要先创建一个 etcdctl 的pod
[code]

进入 `etcdctl` pod
[code]

执行备份数据命令
[code]

现在，可以把备份的数据拷贝出来了。
[code]

修改 etcd statefulsets , 根据实际情况，加入持久化声明
[code]

进入 `etcdctl` pod 还原数据
[code]

@zzz-Uzi @luoMonkeyKing @RainbowMango  可以先在测试环境测试，然后再改。正式环境可以先备份了。

有问题call我

[2022-07-12 06:06] qiuhui commented on #1555
karmada-apiserver原本是选用1.20，后续选用1.21是为了解决1.20的一些问题而引入的，成员集群都是1.20

[2022-07-12 06:43] prodanlabs commented on #2157
我的错，还原数据哪一步有问题。我再试试另一种办法。

[2022-07-12 06:58] luoMonkeyKing commented on #2157
有一个问题，上午 @zzz-Uzi 帮忙在一台新的服务器上重新部署了karmada，然后重启了服务器，发karmada的crd还在，但是在其他的环境上已经遇到过两次crd资源丢失的问题了。
测试环境配置：
       节点数：1个
       karmada版本：1.2
       安装命令：kubectl karmada init --crds /$HOME/crds.tar.gz

[2022-07-12 08:02] prodanlabs commented on #2157
现在默认是 emptyDir
[code]

[2022-07-12 08:05] luoMonkeyKing commented on #2157
是的，看了下etcd的配置是 emptyDir，但是服务器重启之后，crd竟然还在，和之前的环境出现的情况不一样

[2022-07-12 08:12] prodanlabs commented on #2157
有点奇怪，按理说重启服务器后，用emptyDir存储的pod数据应该是丢失的才对。

我测试了几次，没复现

[2022-07-12 08:18] luoMonkeyKing commented on #2157
是的，但是我们的另外两套环境，已经遇到过两次crd丢失问题，和 @zzz-Uzi 讨论了下，好像区别就是，之前遇到问题的k8s环境，都是1个以上的节点，然后etcd是跑在node节点上的，我们今天测试的环境只有一个节点，不知道和这个有没有关系，你测试的环境几个节点

[2022-07-12 08:21] prodanlabs commented on #2157
我在一个节点和6个节点集群上都测试了，没复现

[2022-07-12 08:22] prodanlabs commented on #2157
是不是etcd所在的node节点没有重启过呢

[2022-07-12 08:24] #2173 closed

[2022-07-12 08:27] luoMonkeyKing commented on #2157
master和node都重启了

[2022-07-12 08:33] RainbowMango commented on #1555
如果用不到batch/v1，或许可以使用`kube-apiserver`的`--runtime-config`参数停掉，例如`--runtime-config=batch/v1=false`

[2022-07-12 08:40] luoMonkeyKing commented on #2157
都一样的，同一个脚本部署的k8s

[2022-07-12 08:40] prodanlabs commented on #2157
etcd没有持久化数据的重要，还是先备份下数据，数据安全第一。

[2022-07-12 08:40] prodanlabs commented on #2157
那就很奇怪了。

[2022-07-12 08:41] luoMonkeyKing commented on #2157
嗯，好的，先备份下，如果还复现不了的话，等后面我们那个环境能够重启了，我们再试下，到时候再发出来

[2022-07-12 09:24] Garrybest commented on #2090
Hi @dddddai, would you like to deal with this issue?

[2022-07-12 09:31] RainbowMango commented on #2090
Fix this issue or update the naming rule? As we discussed at the last meeting, if we are going to change the naming rule, we need a compatible solution.

[2022-07-12 09:54] RainbowMango commented on #2105
I investigate the implementation of [DynamicRESTMapper](https://github.com/karmada-io/karmada/blob/bffd4f8bba0be8a3f4b4c8cb3a26a80aeef8eca6/vendor/sigs.k8s.io/controller-runtime/pkg/client/apiutil/dynamicrestmapper.go#L34), did find some performance issue:

DynamicRESTMapper uses `NewDiscoveryRESTMapper` as its cache, when building the cache, `NewDiscoveryRESTMapper` uses too many [versionMapper](

[2022-07-12 11:31] likakuli commented on #2105
Wow, this is one of the main cost indeed.

I make a test with fake data without remote request. When there are only one api resource with one gvk exist, the first one even 10 times faster than the second one.

fake data:
[code]

For test, I just modified the code in vendor([here](https://github.com/karmada-io/karmada/blob/156a02a452e7dff8c48fc41b5c2379b78e384fad/vendor/sigs.k8s.io/controller-runti

[2022-07-12 11:45] zhuwint commented on #1376
Did you set the http_proxy and https_proxy in your global environment ? The kubectl would also use the proxy to connect to apiserver.  I meat the same problem before and solved by set the no_proxy=172.0.0.0/8

[2022-07-12 13:55] dddddai commented on #2090
Yes but it's tricky to handle the compatibility

Sorry I didn't attend the meeting, what's your solution?

I'm thinking we can add a temporary logic for upgrading, here's the general idea

![image](https://user-images.githubusercontent.com/41563853/178506881-63057fa3-a942-4298-a467-deaafa50a995.png)

[2022-07-13 00:51] prodanlabs commented on #2157
@luoMonkeyKing 默认应该是hostPath，你可以提个PR改下吗

[2022-07-13 00:52] luoMonkeyKing commented on #2172
I was wondering if it would be feasible to import the endpoint through karmada too

[2022-07-13 00:53] luoMonkeyKing commented on #2157
好的

[2022-07-13 02:43] XiShanYongYe-Chang opened #2176 "[E2E] Karmadactl unjoin testing failed"
#### Which jobs are flaking:

https://github.com/karmada-io/karmada/runs/7300434091?check_suite_focus=true
https://github.com/karmada-io/karmada/runs/7312804864?check_suite_focus=true

#### Which test(s) are flaking:

[code]

#### Reason for failure:

In this e2e test, we create a deployment and propagate it to the new joining cluster, but at this point, the cluster has not been joined to Karmada.

[2022-07-13 02:47] XiShanYongYe-Chang commented on #2176
/assign

[2022-07-13 03:49] #2176 closed

[2022-07-13 06:13] prodanlabs commented on #2157
thank.

/assign @luoMonkeyKing

[2022-07-13 08:37] RainbowMango commented on #1946
ping @CharlesQQ

[2022-07-14 04:01] RainbowMango commented on #772
@halfrost, please assign this issue to you by command:
/assign @halfrost
to show you are working on this.

[2022-07-14 05:01] halfrost commented on #772
/assign @halfrost

[2022-07-14 08:24] RainbowMango commented on #112
/close
As we now use DockerHub to host both the `latest` and `released` images.

[2022-07-14 08:24] #112 closed, assigned to RainbowMango

[2022-07-14 08:29] RainbowMango commented on #317
/close

[2022-07-14 08:29] #317 closed

[2022-07-14 08:56] GitHubxsy commented on #2172
Need to modify the mcs-controller to support endpoints. I don't think that's the right thing to do.

[2022-07-14 09:03] luoMonkeyKing commented on #2172
Yes, Need to modify the mcs-controller , I am not sure if this is a good solution, I hope more people can discuss this problem

[2022-07-14 09:37] kevin-wangzefeng commented on #2107
/close

[2022-07-14 09:37] #2107 closed

[2022-07-14 09:43] first-sight12 opened #2188 "Resources cannot be rescheduled"
**What happened**:
member3集群（两个节点，每个节点CPU为16核）
member4集群（1个节点，每个节点CPU为16核）

deployment.yaml文件如下：
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - image: nginx
        name: nginx
        resources:

[2022-07-14 16:16] steveww opened #2195 "Not able to deploy outside of default namespace"
GKE

I run the examples and deploy nginx in the default namespace in my clusters.
I change the namespace for the deployment and service.
The namespace gets created on the cluster bit nothing else.
Lots of these messages in the scheduler logs

W0714 16:12:09.963725       1 clientconn.go:1322] [core] grpc: addrConn.createTransport failed to connect to {karmada-scheduler-estimator-harry:10352 karmada

[2022-07-14 23:44] prodanlabs commented on #2195
[code]
This error is that `karmada-scheduler-estimator` is not deployed, but it is not a core component of karmada and will not affect the scheduler work, so your error may be caused by other reasons.

[2022-07-14 23:59] prodanlabs commented on #2195
I remember that karmada has some namespaces reserved, if your namespace is a reserved namespace, that won't work.

Wait for @RainbowMango  to confirm.

[2022-07-15 01:38] RainbowMango commented on #2157
@prodanlabs @luoMonkeyKing Does #2191 fix this issue?

And @zzz-Uzi Can you help to confirm it?

[2022-07-15 02:24] RainbowMango commented on #2195
@steveww Could you please help confirm if you enabled `estimator`? You can check the flag `--enable-scheduler-estimator` in `karmada-scheduler`.

By the way, please tell up which version are you using.

[2022-07-15 02:29] RainbowMango commented on #2195
Can you show your PropagationPolicy here? Or, please confirm if you updated it as well.

[2022-07-15 02:36] chaunceyjiang commented on #2188
你是否部署了`karmada-scheduler-estimator`?

[2022-07-15 02:36] RainbowMango commented on #2105
@likakuli Could you please look at the #2187 which introduced a `CachedRESTMapper` as well as a benchmark testing.

[2022-07-15 02:47] likakuli commented on #2105
ok

[2022-07-15 02:47] zzz-Uzi commented on #2157
no reproduction

[2022-07-15 03:14] RainbowMango commented on #2188
第一次提交PropagationPolicy时，使用的策略是：
[code]
此时是`复制`的，也就是3个副本都分到了member3中。

第二次提交的PropagationPolicy时，使用的策略是：
[code]
此时指示`拆分`副本，因为3个副本都已经分配到`member3`，没有触发重新调度，应该是预期行为。

这种情况，把deployment删除重建是可以的。或者，告诉我们你的场景，看下如何做？

[2022-07-15 03:19] first-sight12 commented on #2188
已经部署

[2022-07-15 03:25] luoMonkeyKing commented on #2188
虽然第一次提交的PropagationPolicy分发到了member3，但是member3只够跑两个pod，此时pod的状态是2个running，一个pending，此时修改PropagationPolicy为descheduler模式，是否应该将那个pending状态的pod调度到member4更合理一些呢？毕竟查看pp的内容，已经是descheduler模式了

[2022-07-15 03:31] RainbowMango commented on #2157
OK, I would take that as fixed. Thanks for reaching us though.
/close

[2022-07-15 03:31] #2157 closed

[2022-07-15 03:41] RainbowMango commented on #2188
首先，没有`descheduler`模式，我猜你想表达的是`divide`模式。

是的，我同意应该把pending的pod状态调度到member4，当前这部分能力应该在`descheduler`中。请问你是否部署了descheduler?  https://github.com/karmada-io/karmada/blob/master/docs/descheduler.md

[2022-07-15 04:09] GitHubxsy commented on #2172
ping @XiShanYongYe-Chang . Can mcs-controller support endpoints?  what do you think？

[2022-07-15 04:38] luoMonkeyKing commented on #2188
sorry，确实是`divided`模式，不是`descheduler`模式。
已经部署了descheduler组件，并且直接部署`divided`模式的pp时，是可以成功调度的，调度的结果是member3中2个pod，member4中1个pod，这种已经达到了预期行为。但是如果先部署该issue中的第一个pp，然后再修改为`divided`模式时，就不会再调度了，没有资源的pod会一直显示pending状态

[2022-07-15 06:28] luoMonkeyKing commented on #2188
补充一下，下面是scheduler组件的日志：
[code]

[2022-07-15 06:55] XiShanYongYe-Chang commented on #2172
Yes, we could consider supporting endpoint in mcs-controller.

[2022-07-15 07:09] 1285yvonne opened #2197 "Member cluster job is rebuilt unexpectedly"
**What happened**:  We have enabled the ttl-after-finished controller in the karmada control plane to help users delete redundant jobs. At the meantime, member clusters have enabled this controller too. So when the job were deleted by member clusters, karmada-agent create a new one immediately and will update job's status in the host cluster. Therefore this job will never be deleted by karmada-kub

[2022-07-15 08:29] 1285yvonne commented on #1396
sorry for taking so long to get this message. Thanks for fixing this promblem~

[2022-07-15 09:32] calvin0327 commented on #2079
@kevin-wangzefeng Done, thanks.

[2022-07-15 09:49] RainbowMango commented on #2079
Welcome!
/close

[2022-07-15 09:49] #2079 closed

[2022-07-15 11:25] steveww commented on #2195
The command line for the scheduler.

/bin/karmada-scheduler --kubeconfig=/etc/kubeconfig --bind-address=0.0.0.0 --secure-port=10351 --feature-gates=Failover=true --enable-scheduler-estimator=true --leader-elect=true --leader-elect-resource-namespace=karmada-system --v=4

karmadactl version: version.Info{GitVersion:"v1.2.1", GitCommit:"de4972b74f848f78a58f9a0f4a4e85f243ba48f8", GitTreeState:"clean"

[2022-07-15 11:27] steveww commented on #2195
Deployment

---
apiVersion: v1
kind: Namespace
metadata:
  name: web

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: web
  labels:
    service: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      service: nginx
  template:
    metadata:
      labels:
        service: nginx
    spec:
      containers:
        - name: nginx
          image: nginx
          ima

[2022-07-15 11:47] steveww commented on #2195
Just tried it all again.
Still no propagation of my deployment to my namespace. However, no errors, nothing.
How do I figure out what it's doing or not doing?
The docs should be updated with some trouble shooting guides.

[2022-07-16 01:12] RainbowMango commented on #2195
Yes, there is a controller named `namespace` which will propagate namespaces to all members. If you don't need it you can disable it, see [this guide](https://github.com/karmada-io/karmada/blob/master/docs/userguide/configure-controllers.md#configure-karmada-controllers)

[2022-07-16 01:17] RainbowMango commented on #2195
I see the Deployment and the Service are in namespace `web`, but the PropagationPolicy declares that it only matches resources from `default` namespace:
[code]
So, I'm not sure if you can directly update the PropagationPolicy, but you can update by `delete` --> `create`.

[2022-07-16 11:09] snowplayfire opened #2204 "To continue doing nothing when propagationPolicy is updated?"
[code]
If policy's weight is updated,  the  `ResourceSelectors` object should be added into reconcile queue rather than do nothing.

[2022-07-16 11:09] #2137 closed

[2022-07-16 11:10] XiShanYongYe-Chang commented on #2137
Hi @weichenhao, the fixed pr has been merged, you can have a retry.

[2022-07-18 01:33] RainbowMango commented on #2204
Here `do nothing` means it won't start to look for matched `resource template`s. Not really `do nothing`.

Am I missed some scenarios? Do you have an example to show the problem?

[2022-07-18 03:47] Poor12 opened #2211 "Karmada docs directory tidy"
**What would you like to be added**:
Now Karmada's docs looks a little messy and it's unfriendly to users. We need to tidy the Karmada docs directory.

**Why is this needed**:
Tidy Karmada's docs directory. I recommend the below:
.
├── Contributing
├── Core Concepts
├── Extend
│   ├── Multicluster network
│   └── omit...
├── FAQ
├── Get Started
├── Installation
├── Migration
├── Troubleshooting
├─

[2022-07-18 08:24] suwliang3 opened #2212 "working with istio on non flat network when your cluster don't have LB"
**What would you like to be added**:
working with istio on non flat network when your cluster don't have LB
**Why is this needed**:
Most of clusters don't have LB.

[2022-07-18 08:26] suwliang3 commented on #2212
@suwliang3

[2022-07-18 08:29] suwliang3 commented on #2212
/assign

[2022-07-18 08:41] first-sight12 commented on #2188
这算是一个bug吗 还是使用方式不对@RainbowMango

[2022-07-18 09:23] RainbowMango commented on #2188
很难说是个bug，因为这个能力当前确实没有在调度器里，而是在`descheduler`里。

[2022-07-18 12:13] snowplayfire commented on #2204
Sorry for my misleading.

[2022-07-18 12:13] #2204 closed

[2022-07-19 01:00] RainbowMango commented on #2195
Thanks @steveww .
/close

[2022-07-19 01:00] #2195 closed

[2022-07-19 02:01] #2211 closed

[2022-07-19 02:01] RainbowMango commented on #2155
Hi @ihuibin What's the progress now?
@carlory send a PR and provides another way to solve this issue, are you OK with it?

[2022-07-19 02:16] RainbowMango commented on #2188
cc @Garrybest for comments

[2022-07-19 02:30] Garrybest commented on #2188
预期结果不一致就是因为资源不够了，如果member1和member2多加点资源，这里是调度正常的。调度器一次调度中，做不到又驱逐又调度。

[2022-07-19 02:43] Garrybest commented on #1995
Hi @carlory, any progress here?

[2022-07-19 02:46] bretagne-peiqi opened #2217 "can we support"
**What would you like to be added**:

hello, we hope add a feature:  we can name resource name in each cluster differently.

something like :
# propagationpolicy.yaml
apiVersion: policy.karmada.io/v1alpha1
kind: PropagationPolicy
metadata:
  name: example-policy # The default namespace is `default`.
spec:
  resourceSelectors:
    - apiVersion: apps/v1
      kind: Deployment
      name: nginx # If

[2022-07-19 02:49] carlory commented on #1995
So sorry, I forget it.

I will do it this week, is still ok ?

@Garrybest

[2022-07-19 02:56] first-sight12 commented on #2188
如果开始只添加一个集群member3（2个running，一个pending），但是后边修改pp策略把member4添加进去，这时候就会是member3（2个running），member4（1一个running）,如果按照你所说的的资源不够，无法又驱逐又调度，那member3中pending状态的pod是如何调度到member4的
初始策略：
[code]
修改后：
[code]

[2022-07-19 03:18] RainbowMango commented on #2217
controller will have trouble to autoconfigure.

But why not use `Deployment` here?

[2022-07-19 03:25] Garrybest commented on #1995
Thanks @carlory, take your time😄

[2022-07-19 03:33] Garrybest commented on #2188
一开始用duplicate策略强制把3个副本全部发到member3，member3启动了三个pod。现在改成divided，调度器认为member4只够一个副本，member3现在没资源（因为没法一次调度期间又驱逐又调度，之前的pod都把资源给占了）。

没懂这句话的意思，现在现象就是pod调度不到member4，因为没有更多资源。

[2022-07-19 04:27] first-sight12 commented on #2188
意思就是一开始就是使用Divided模式，资源是可以调度的，如果使用duplicate模式切换到Divided模式是无法调度的

[2022-07-19 04:39] Garrybest commented on #2188
一开始就是使用Divided模式，资源是充足的，因为现在集群里面没有pod。如果先使用duplicate模式，这3个pod已经在集群里面生产了，那么再切换为Divided，由于之前生产的pod会占用资源，所以调度器认为无资源可用，就会有资源不足的事件。这个时候如果删掉deployment重新创建就能行，或者是把集群资源稍微加大一点，就能正常。

[2022-07-19 05:01] bretagne-peiqi commented on #2217
do you mean we use different Deloyment for different clusters? but how can we to rebalance replicas for different clusters if they are not in the same resource name ?

[2022-07-19 05:05] RainbowMango commented on #2217
I mean, if you propagate Deployment by Karmada, then you will get different `Pods`.

Can you describe your use case here in detail?

[2022-07-19 05:05] bretagne-peiqi commented on #2217
If think it is a little special feature request for the community.  I am wondering if we can implement by extending overridepolicy webhook to support name override for different clusters ? if so, we are willing to add it by us.

[2022-07-19 05:12] bretagne-peiqi commented on #2217
@RainbowMango ，I am sorry, we  need different Deployment name for different cluster.  Kubevela support this feature by adding a random num for each deployment in different cluster. and I am interested in overriding the deployment for different cluster as user wishes.