[2022-07-19 06:11] first-sight12 commented on #2188
如果先使用duplicate模式，这3个pod已经在集群member3里面(2个running，1个pending)生产了，那么再切换为Divided，此时pp策略新加入集群member4（即此时有两个集群member3（两个节点）和member4（单节点）），这时期望的结果应该是member3有2个running的pod，member4有一个running的pod

[2022-07-19 06:34] xuqianjins opened #2218 "ArgoCD can not assess Deployment health status"
**What happened**:
`APP HEALTH` is always in `Progressing` state when deploying multi-cluster `DEPLOYMENT` through Argo CD based on Karmada. However, it is normal to deploy `DEPLOYMENT` on a single cluster.

**What you expected to happen**:
`APP HEALTH` should be in `Healthy` state normally.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?

[2022-07-19 08:05] RainbowMango commented on #1995
This is another scenario of eviction.
Do you know where can I find the PDB/evict-sub-resource thing? share a link? @Garrybest

[2022-07-19 08:06] RainbowMango commented on #2151
+1
/assign @kevin-wangzefeng

[2022-07-19 08:21] Garrybest commented on #1995
Eviction is a subresource of Pod.

https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#pod-disruption-budgets

Cluster managers and hosting providers should use tools which respect PodDisruptionBudgets by calling the [Eviction API](https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/#eviction-api) instead of directly deleting pods or deployments.

[2022-07-19 11:34] RainbowMango commented on #2218
Just echo from [ArgoCD Resource Healthy](https://argo-cd.readthedocs.io/en/stable/operator-manual/health/#deployment-replicaset-statefulset-daemonset)

Observed generation is equal to desired generation.
Number of updated replicas equals the number of desired replicas.

I guess the reason probably because we didn't set `.status.ObservedGeneration` when [aggregating status](https://github.com/karma

[2022-07-19 11:42] RainbowMango commented on #2218
I get it. We disabled the `.status.ObservedGeneration` at #1586, that's definitely a mistake.
I'm sure that it's ok in release 1.1.

@xuqianjins I'm not sure if you would like to fix it.

[2022-07-19 11:44] RainbowMango commented on #2218
/retitle ArgoCD can not assess Deployment health status

[2022-07-20 02:43] xuqianjins commented on #2218
@RainbowMango Thanks for your answer.
Can I try to fix this problem?
I need to make the modified code to compile the binary and image files, and then submit the PR after passing the local environment verification.

[2022-07-20 02:58] RainbowMango commented on #2218
Sure, thanks in advance.
/assign @xuqianjins

Yeah, here is the workflow: https://github.com/karmada-io/karmada/blob/master/docs/contributors/guide/github-workflow.md

[2022-07-20 03:10] luoMonkeyKing opened #2221 "karmada-search cannot query single namespace information"
**What happened**:
When I query a single namespace information through karmada-search, I can't find it, but when I query all namespaces, I can query the namespace information.
[code]

**Anything else we need to know?**:
karmada-searche logs:
[code]

**Environment**:
- Karmada version: 1.2.0
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`): 1

[2022-07-20 03:15] #1852 closed

[2022-07-20 03:18] XiShanYongYe-Chang commented on #2221
Thanks for you pointing out this bug.

This bug seems we don't correctly resolve the `namespace resource`, the namespace of the `namespace resource` should be empty.

/assign @luoMonkeyKing

[2022-07-20 03:33] Alphonse-iwnl commented on #1993
closing the issue if u thought it keep low priority

[2022-07-20 03:33] #1993 closed

[2022-07-20 03:34] bretagne-peiqi commented on #2217
does the plaintextOverride  support deploymentName  rename ?

[2022-07-20 03:47] danielepolencic opened #2222 "Connection refused: cannot complete installation"
**What happened**:

I tried to install Karmada on a managed service with `kubectl karmada init --karmadata-data /tmp/karmada` and received the following error:

[code]

**What you expected to happen**:

Complete the installation.

**Anything else we need to know?**:

**Environment**:
[code]

Target cluster: LKE (Linode) on version 1.23

[2022-07-20 04:15] duanmengkk opened #2223 "Make it easier to use `Retain`"
**What would you like to be added**:

A more easyly way to use `Retain` in crd.

**Why is this needed**:

Currently, I need to write a whole project( **customresourceinterpreter**) to  use the `Retain ` when my resource is a crd ,and I must to deploy this project . Can we provide a simple way or API to implement it , like `Overridepolicy `using  `PlaintextOverrider ` to patch the resource .

[2022-07-20 04:53] Alphonse-iwnl commented on #2197
it easy to repro in `v1.0.2` if member cluster open `TTLAfterFinished` feature.

once `job.Spec.TTLSecondsAfterFinished` has configured,  job in member cluster would recycle by ttl controller, meanwhile  `workStatusController` will recreate the job because job in control plane has not recycle yet, after recreate, new job's status would sync to the job in control-plane, which prolong the finished t

[2022-07-20 06:40] RainbowMango commented on #2197
I  nearly missed this interesting use case, and thanks @Alphonse-iwnl for the excellent analysis and suggestions.

In the case of both the Karmada control plane and member clusters enabled `TTL-after-finished` controller, obviously, the member cluster would do the cleanup thing sooner than the Karmada control plane.

@Garrybest Have you ever met this issue?

[2022-07-20 08:15] first-sight12 opened #2226 "使用search查询资源失败（资源存在）"
**What happened**:
转发到单个集群能够查到资源，结果如下：
![image](https://user-images.githubusercontent.com/88825053/179931489-b44a7356-c7b2-4ad2-9d38-3de06ffc49a0.png)

使用search查询为空，结果如下：
![image](https://user-images.githubusercontent.com/88825053/179931693-9e6cfd9e-a163-4e5d-a61d-0ec7cd9fd7b1.png)

karmada-search 日志如下：
![image](https://user-images.githubusercontent.com/88825053/179931900-1d3d4b90-d974-4973-9e6f-4

[2022-07-20 10:14] first-sight12 commented on #2226
使用的是push模式不是pull模式
[code]

[2022-07-20 11:32] liys87x commented on #2226
@first-sight12
- Please provide the `ResourceRegistry`,  e.g `kubectl get ResourceRegistry xxx -o yaml`
- Please provide more karmada-search logs

[2022-07-21 01:03] #2155 closed

[2022-07-21 01:43] first-sight12 commented on #2226
yaml文件如下：
[code]
如下资源非kubernetes原生为自定义crd资源
[code]

日志如下：
![image](https://user-images.githubusercontent.com/88825053/180111223-192ef429-e265-484d-8e4e-a33a493ee4ae.png)

![image](https://user-images.githubusercontent.com/88825053/180111277-964ff9db-1adc-4966-9836-bbb458523fe2.png)

[2022-07-21 02:24] Fish-pro opened #2231 "add nodeSelector for etcd in charts"
**What would you like to be added**:
add nodeSelector for etcd in charts

**Why is this needed**:

When I used charts to deploy Karmada, the storage type of etcd was `hostPath`. After the deployment, if there was delete some pods,  pod was only configured with anti-affinity, so it might be re-scheduled to a new node. At this time, an error would occur, resulting in the normal operation of Karmada

[2022-07-21 02:27] Garrybest commented on #2197
Thanks @Alphonse-iwnl, I truely agree with you. We should let karmada do all cleanup jobs. So if ttl-after-finished controller is enabled, we'd better not propagate `job.spec.ttlSecondsAfterFinished`.

Since we already find out the causes, would you like to contribute a patch? 😄

[2022-07-21 02:28] Fish-pro commented on #2231
/cc @jrkeen @pidb @Poor12 Do you think this requirement is necessary? looking forward to your reply, If you agree, can I fix it?

[2022-07-21 02:37] #2105 closed

[2022-07-21 02:56] chaunceyjiang commented on #2197
https://github.com/karmada-io/karmada/blob/df125af3b0504c5a6b11d67ac68b6de577baa454/pkg/resourceinterpreter/defaultinterpreter/prune/prune.go#L59-L68

I think we can remove it here.

[2022-07-21 03:03] RainbowMango commented on #2197
+1 I agree that should let Karmada manage the Job lifecycle, actually more than Job, this applies to all resources.

The thing is how do we know the `ttl-after-finished` controller is enabled on the control plane? we can't just remove/prune the `job.Spec.TTLSecondsAfterFinished`.

[2022-07-21 03:13] chaunceyjiang commented on #2197
Do you mean that if the `ttl-after-finished` controller  is disabled on in the control plane, then `job.Spec.TTLSecondsAfterFinished` still needs to be propagated to member clusters?

[2022-07-21 03:18] RainbowMango commented on #2197
No really. I mean we can't make the decision for users, especially they might don't know about it.  Otherwise, they will be surprised.

[2022-07-21 03:19] liys87x commented on #2226
The fail is `controller.go:431] failed to get gvr: no matches for kind "Resourcequota" in version "quota.kubesphere.io/vialpha2"`

I used dynamic RESTMapper to dynamically discover resource types at runtime, this seems to be the problem with usage, I try to fix it

[2022-07-21 03:31] 1285yvonne commented on #2197
If a Job'status has been updated to Completed or Failed, the karmada-agent or karmada-controller-manager should not recreate this Job in member clusters.

Actully I think it is a better choice to avoid recreating that Job.

[2022-07-21 03:50] Alphonse-iwnl commented on #2197
i thought its reasonable to remove`job.Spec.TTLSecondsAfterFinished`.

if ttl controller is disable in control plane, job in control plane would not recycle automatically, in the case if `TTLSecondsAfterFinished` has propagated, job in member cluster might rebuilt unexpectedly just like [1285yvonne](https://github.com/1285yvonne) told.

if ttl controller is enable in control plane, configuring `TT

[2022-07-21 07:26] Poor12 commented on #2231
I'm not sure about the root cause of the issue. Is that because the pod of etcd is scheduled to another node?

[2022-07-21 08:46] Fish-pro commented on #2231
@Poor12 Thanks for your reply. Yes, pod has been scheduled to a new node

[2022-07-21 09:39] kevin-wangzefeng commented on #2151
+1
Please visit https://github.com/karmada-io to accept the invitation

[2022-07-21 09:48] RainbowMango commented on #1853
/assign @likakuli
as #1854

[2022-07-21 11:03] likakuli opened #2234 "performance improvement for list request with labelSelector"
**What would you like to be added**:

Use index to improve the performance of list request with labelSelector

**Why is this needed**:

LabelSelector is used in many places in `karmada-controller` to list object. `controller-runtime` not setup index for label and not support to setup index for label too. So the list request cost O(n). When there are many object, it will cost too much time.

contro

[2022-07-21 11:15] likakuli commented on #2234
I don't know whether this function should be implemented in `controller-runtime` or just in `karmada-controller`.
There are two points related to this.

1. `controller-runtime` not support index when to use labelSelector in list request.
2. `controller-runtime` not support complicated fieldSelector just as the comment.

In our case, we implemented this by two steps.

1. We add custom manager and c

[2022-07-21 12:25] zirain opened #2236 "namespace sync controller support ClusterOverridePolicy"
**What would you like to be added**:

namespace sync controller support `ClusterOverridePolicy`

**Why is this needed**:

In this [working-with-istio-on-non-flat-network](https://github.com/karmada-io/karmada/blob/master/docs/working-with-istio-on-non-flat-network.md), we need change `karmada-controller-manager`'s args,  with that we can set different labels on `istio-system` in different member c

[2022-07-21 14:30] #2151 closed

[2022-07-22 06:35] chaunceyjiang opened #2239 "When the member cluster is removed, the deployment status does not change"
**What happened**:
![image](https://user-images.githubusercontent.com/17962021/180376942-d86a3bb9-9977-4338-88ed-4dc051484389.png)

**What you expected to happen**:

Currently, no member cluster has nginx deployment. So , i think the nginx deployment should display `0/2`  in karmada

**How to reproduce it (as minimally and precisely as possible)**:

1. create a nginx deployment
2. create a pp
3. r

[2022-07-22 08:08] dddddai commented on #2239
I remember there was the same issue https://github.com/karmada-io/karmada/issues/768 and that was fixed
Looks like the cause is https://github.com/karmada-io/karmada/pull/1366

/assign

[2022-07-22 08:57] #1853 closed

[2022-07-23 01:18] RainbowMango commented on #2234
cc @yy158775 Please take a look this issue.

[2022-07-23 11:28] wuyingjun-lucky commented on #2090
Can we just requeue the key if we get a resourcebinding  that matched the pp label and the deletetimestamp is not zero ?

[2022-07-24 12:16] wuyingjun-lucky commented on #2090
Our env encounter this bug（using client-go delete and then create job） and I temporary fix it by requeue the event if exists
a rb and the deletetimestamp is not zero.
@Garrybest @dddddai @RainbowMango  Can we modify like this ?

[2022-07-24 12:38] wuyingjun-lucky opened #2242 "Support Karmada components output the log by using json format"
**What would you like to be added**:
We have introduced k8s.io/component-base/cli at [2049](https://github.com/karmada-io/karmada/pull/2049) and add json log register to imports.
But  json log register （_ "k8s.io/component-base/logs/json/register"） does not work because we do not apply the log flags yet.
So we can not use the flags  `--log-format=json` to output karmada components logs by using  j

[2022-07-25 01:33] RainbowMango commented on #2242
So we can not use the flags --log-format=json to output karmada components logs by using json format.

Do you mean we need to introduce a new flag `--log-format`?

[2022-07-25 01:45] wuyingjun-lucky commented on #2242
`--log-format` can be worked if we bound `k8s.io/component-base/logs` configuration with flags like [k8s](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/options/options.go#:~:text=logsapi.AddFlags(s.Logs%2C%20fss.FlagSet(%22logs%22)))
Even though`-log-format` is optional because the value is always `text` if we do not set it to `json`
If you think we do not introduce t

[2022-07-25 02:04] chenliu1993 opened #2246 "How to set up karmada across Cloud Service Provider?"
**Please provide an in-depth description of the question you have**:
Is there a guide about how to set up the karmada across multiple cloud?
Like setting up one kind cluster as apiserver in TencentCloud while have one three-node kubernetes cluster as worker cluster in Huawei Cloud?
**What do you think about this question?**:

**Environment**:
- Karmada version: latest
- Kubernetes version: 1.24
-

[2022-07-25 02:42] elinx opened #2247 "Refactor code to make re-use and extend scheduler functionality more easily"
**What would you like to be added**:
1. make `selectClusters` method public accessible: https://github.com/karmada-io/karmada/blob/6969a5d643fbb0024f44dfc6ae2340828370ca88/pkg/scheduler/core/generic_scheduler.go#L76
2. make `assignReplicas` public accessible: https://github.com/karmada-io/karmada/blob/6969a5d643fbb0024f44dfc6ae2340828370ca88/pkg/scheduler/core/generic_scheduler.go#L82
3. make the

[2022-07-25 03:39] wuyingjun-lucky opened #2248 "Karmada can not support `.spec.ttlSecondsAfterFinished` by job"
**What happened**:
The job will not be deleted in karmada control plane

**What you expected to happen**:
The job will be deleted in karmada control plane and member clusters

**How to reproduce it (as minimally and precisely as possible)**:
1· Use `karmada init` a karmada cluster
2. Create a job with setting .spec.ttlSecondsAfterFinished and pp in karmada control plane

**Anything else we need to

[2022-07-25 04:46] wuyingjun-lucky commented on #2248
Can we add `ttl-after-finished` controller into  [karmada-init](ttl-after-finished)  ?
@RainbowMango @lonelyCZ @prodanlabs

[2022-07-25 06:18] Garrybest commented on #2090
Hi @wuyingjun-lucky, I think we should requeue the event **after** rb is deleted. So do you requeue the event before deletion? Cause you say `if exists a rb and the deletetimestamp is not zero`.

[2022-07-25 06:21] RainbowMango commented on #2242
I don't know if we really need the json format logs for now.

@lonelyCZ what's your opinion?

[2022-07-25 06:35] RainbowMango commented on #2246
Do you mean to set up the Karmada control plane in `TencentCloud` and let Karmada manages clusters in `Huawei Cloud`?

[2022-07-25 06:38] RainbowMango commented on #2247
Something like this?
[code]

[2022-07-25 06:43] wuyingjun-lucky commented on #2090
Yes, the controller will retry and delay the updation for rb.
I just temporary fix it  by this because our env encounter this bug

[2022-07-25 06:45] lonelyCZ commented on #2242
This is a feature provided by `k8s.io/component-base/logs`, I think it should be useful for specific users.

But we don't seem to have this need right now, I think if it is not complex, we can support it, or we will do it when real users ask this feature.

[2022-07-25 06:54] elinx commented on #2247
These two methods don't use  `genericScheduler`'s member variable, how about removing the receiver like this:

[code]

[2022-07-25 07:30] Garrybest commented on #2090
It seems like a temporary solution, because when we requeue the object, it will call an ItemExponentialFailure requeue.

[2022-07-25 07:35] #2218 closed

[2022-07-25 08:22] chenliu1993 commented on #2246
Yes.
Actually, it is a little bit more complicated. Like set cp in TencentCloud in the form of a kind cluster. And Huawei Cloud's cluster is managed by this kind cluster.
But I think if I can get one answer like you mentioned in the comment is also good enough for me, too.

[2022-07-25 08:49] RainbowMango commented on #2246
What's the `cp` thing?
But, I'm surprised that you are using a `kind cluster` to install the Karmada control plane(ignore me if you are using it for testing purposes), because kind is not for production cases.

For your question, actually Karmada don't care where the cluster is, no matter from another provider or your priviate cloud, as long as Karmada can talk to it. You might need to take care o

[2022-07-25 09:32] CharlesQQ commented on #1946
/close

[2022-07-25 09:32] #1946 closed

[2022-07-25 09:45] zhixian82 opened #2254 "somethings different between charts and artifacts"
1. a validate webhook config defined in:

https://github.com/karmada-io/karmada/blob/master/charts/karmada/templates/_karmada_webhook_configuration.tpl#L62

while no such configuration in https://github.com/karmada-io/karmada/blob/master/artifacts/deploy/webhook-configuration.yaml

which one is correct？

[2022-07-25 09:50] #2231 closed

[2022-07-25 10:01] zhixian82 opened #2255 "cluster apiservice not created when certs.mode not 'auto'"
https://github.com/karmada-io/karmada/blob/release-1.2/charts/templates/pre-install-job.yaml#L1
https://github.com/karmada-io/karmada/blob/release-1.2/charts/templates/pre-install-job.yaml#L84

cluster apiservice is required in any case，so maybe apiservice should be added to post-install-job also：https://github.com/karmada-io/karmada/blob/release-1.2/charts/templates/post-install-job.yaml

[2022-07-25 10:58] RainbowMango commented on #2254
Seems we don't have `MutatingWebhookConfiguration` for ClusterOverridePolicy, I guess it's a mistake from #1129.

@lonelyCZ can you help to confirm it?

[2022-07-25 11:19] RainbowMango commented on #1995
Is there a solution for this issue?

I'm thinking if it's the responsibility of the karmada-scheduler to remove the legacy schedule results?

[2022-07-25 12:07] RainbowMango commented on #2223
Do you mean you want an easy way(don't need to implement the webhook) to customize your CRD?
Something like https://github.com/karmada-io/karmada/tree/master/docs/proposals/configurable-local-value-retention ?

[2022-07-25 12:11] RainbowMango commented on #705
/close

[2022-07-25 12:11] #705 closed

[2022-07-25 12:16] RainbowMango commented on #790
/close

@lonelyCZ please feel free to re-open if necessary.

[2022-07-25 12:16] #790 closed

[2022-07-25 12:23] RainbowMango commented on #878
/close
As the `NoExecute` taint was introduced by #1945.

[2022-07-25 12:23] #878 closed

[2022-07-26 01:21] Poor12 commented on #2255
It does make sense. Would you like to send a pr to fix it?

[2022-07-26 02:15] RainbowMango commented on #2236
Let me try to understand this.
Since installing `Istio` needs to set different labels on namespaces(istio-system), and because `namespace` controller does not support `ClusterOverridePolicy`, so we have to disable it by changing `karmada-controller-manager`'s args:
[code]
then, manage the namespace propagation by `ClusterPropagationPolicy` and `ClusterOverridePolicy`.

Am I right?

It makes sense

[2022-07-26 02:16] Garrybest commented on #1995
I don't think it's scheduler's duty. `karmadactl unjoin` is like what `kubectl drain` does:

1. Cordon the target cluster.
2. Delete the scheduling result in RB/CRB which has been scheduled to the target cluster.
3. Delete the cluster.

[2022-07-26 02:22] RainbowMango commented on #2236
By the way, you don't need to disable `namespace` controller if you only need to customize `istio-system` namespace.
You can use `--skipped-propagating-namespaces` to specify namespaces that you don't want to propagate by `namespace controller`.
[code]

[2022-07-26 02:33] #2104 closed

[2022-07-26 02:45] #1942 closed

[2022-07-26 02:55] RainbowMango commented on #1995
Do you mean you want CLI `karmadactl unjoin` to do the cleanup work?

I suppose CLI is a kind of `one-off` job, it can't guarantees to finish all the cleanup work in a single request, and due to probably huge amount of RB/CRB, it might increase the time that user don't need to care.

So, my opinion is to put the cleanup job to the controller-manager(maybe cluster-controller?) (ignore scheduler, le

[2022-07-26 03:19] RainbowMango commented on #772
@halfrost Could you please post the API design here? I know some guys who are interested in it.

[2022-07-26 04:06] duanmengkk commented on #2223
That's what I was thinking,What is the progress of it ?

[2022-07-26 04:09] zhixian82 opened #2259 "kindly ask about the release of hpa"
The multi cluster HPA feature was included in 2022 H1 [roadmap](https://github.com/karmada-io/karmada/blob/master/ROADMAP.md)

[code]

May I ask which release will contains this feature?

[2022-07-26 04:14] RainbowMango commented on #2223
We need a demo for the [proposal](https://github.com/karmada-io/karmada/tree/master/docs/proposals/configurable-local-value-retention) to make sure it really works as expected.
Even though the proposal is only for `retain`, it can be easily extended to support other interpreters, like `aggregate status`. So, there is a lot of work to do.

cc @wuyingjun-lucky .

[2022-07-26 04:22] halfrost commented on #772
OK, I will write a document about the detail of API design.

[2022-07-26 07:25] RainbowMango commented on #1934
/assign @carlory
as #2192

[2022-07-26 07:26] #1934 closed

[2022-07-26 08:36] yy158775 commented on #2234
From my point of view,I think we can convet labelSelector to fieldSelector with a custom IndexFunc.The IndexFunc can compute the set of indexed values for an object's labels.

Eg: If we want to select resourcebindings with label key "clusterpropagationpolicy.karmada.io/name" and specific value,we can construct a IndexFunc which return "key=value" pair when the "clusterpropagationpolicy.karmada.io/

[2022-07-26 09:51] likakuli commented on #2234
If no one is working on it, i can open a pr to support this issue.

[2022-07-26 09:53] zirain commented on #2236
if add `istio-system` into `skipped-propagating-namespaces `, I need create `ClusterPropagationPolicy` to sync namespace, and `ClusterOverridePolicy` to override annotations?

[2022-07-26 10:06] RainbowMango commented on #2236
Ignore me. The `--skipped-propagating-namespaces` would disable the namespaces from propagating, which means both `namespace` controller and `ClusterOverridePolicy` can't propagate it.
https://github.com/karmada-io/karmada/blob/ed9b838056ee45720abf51b2d603548e6ce922bf/pkg/detector/detector.go#L291-L294

[2022-07-26 10:16] RainbowMango commented on #2234
Sure thing! (anyone is welcome to pick a task without an assignment)

Have you done it on your side?

I know @yy158775 started looking at it and working on the demo.

This issue is much more involved. And @yy158775 can cooperate with you.

[2022-07-26 10:18] likakuli commented on #2234
Our internal version has implemented this function.

[2022-07-26 12:59] liuchintao opened #2261 "Karmada not propagate resources to new member cluster"
**What happened**:

I just want to propagate my deployment to all member clusters automatically, when they join.

[code]

After creating this PP, I find nginx deployment in cluster-1 and cluster-2.

But when I join a new member cluster-3, I find nginx deployment is not propagated to cluster-3

**What you expected to happen**:

Deployment should be propagated to new member cluster.

[code]

**How t

[2022-07-26 13:46] RainbowMango commented on #2090
Why do people delete and create same object immediately? What's behavior he/she expect for?
Do you mean he/she expects to recreate the Pod?
If the no changes to the specification of the Pod, why expect to recreate it?
If the specification changes, no matter if we re-create the binding or update the binding, the Pod would re-create eventually, right?

[2022-07-27 00:20] chenliu1993 commented on #2246
Thanks for the answer！let me try to make the network accessible.

[2022-07-27 00:20] #2246 closed

[2022-07-27 01:21] RainbowMango commented on #2261
Yes, I think this is a reasonable use case. But now the scheduler doesn't re-schedule in case of cluster joining or removal.

@dddddai I can see there is `TODO`, do you mean to cover this case?
https://github.com/karmada-io/karmada/blob/ed9b838056ee45720abf51b2d603548e6ce922bf/pkg/scheduler/scheduler.go#L384

[2022-07-27 01:38] XiShanYongYe-Chang commented on #2239
Hi @chaunceyjiang, the bugfix has been merged, you can have a retry.

/close

[2022-07-27 01:38] #2239 closed

[2022-07-27 01:45] dddddai commented on #2261
Yeah I was thinking so, there were similar issues
https://github.com/karmada-io/karmada/issues/1644
https://github.com/karmada-io/karmada/issues/829#issuecomment-1107735202

I think the descheduler should be responsible for this case?

[2022-07-27 01:52] yy158775 commented on #2234
I think this is worth optimizing.So I look foward to seeing your version.

[2022-07-27 02:02] RainbowMango commented on #2239
If afraid #2249 didn't solve this problem. This issue probably will be fixed along with #1995.

[2022-07-27 02:04] RainbowMango commented on #2234
/assign @likakuli
So, please help to make a PR for this.

[2022-07-27 02:07] chaunceyjiang commented on #2239
OK, I'll try again

[2022-07-27 02:18] Garrybest commented on #2090
Let me give a example.

1. A user creates a deployment.
2. He finds something is wrong, e.g.,  image tag is wrong.
3. He does not want to roll update the deployment, so he modify the deployment yaml and recreate it by using `kubectl replace -f --force .`
4. Now he has encounted this issue.

[2022-07-27 02:21] RainbowMango commented on #2261
cc @Garrybest

I'll pay attention to this feature. @dddddai can you help to lead the effort?

[2022-07-27 02:32] Garrybest commented on #2261
Descheduler's duty is to evict replicas only. This issue focuses on scheduling a object to new joined clusters.

I think we could always `s.scheduleResourceBinding(rb)` when the placement is `Duplicated`. It is ok?

[2022-07-27 03:27] joengjyu commented on #1719
Here is my successful execution time on my Mac.

99.11s user 55.17s system 81% cpu 3:09.48 total

My code version was based on the code two days ago, and made the modification below:
- 3 k8s related images was loaded by kind from my Docker because of my network condition.

Maybe this issued could be closed now. @RainbowMango

[2022-07-27 03:32] RainbowMango commented on #1719
That's great! Thanks.
/close

[2022-07-27 03:32] #1719 closed

[2022-07-27 03:33] RainbowMango commented on #2020
@rgrupesh as we talked at slack, I suggested you set up Karmada on a virtual machine, not on your laptop. How is it going?

[2022-07-27 03:49] RainbowMango commented on #2090
Thanks for the clarification, I get it.

[code]
Is it a workable solution?
(A little bit ugly though)

Actually, I like this approach, but it's pretty hard to keep compatible.  will look at the solution @dddddai mentioned on above https://github.com/karmada-io/karmada/issues/2090#issuecomment-1181791827.

[2022-07-27 05:36] bretagne-peiqi opened #2265 "failed to update apis: API rule violation: list_type_missing"
executed; hack/update_codegen.sh

Generating with deepcopy-gen
Generating with register-gen
Generating with conversion-gen
Generating with client-gen
Generating with lister-gen
Generating with informer-gen
Generating with openapi-gen
API rule violation: list_type_missing,github.com/karmada-io/karmada/pkg/apis/cluster/v1alpha1,APIEnablement,Resources
API rule violation: list_type_missing,github.com

[2022-07-27 05:37] bretagne-peiqi commented on #2265
I am not sure if it's a bug, but it failed to generate new apis

[2022-07-27 05:47] chaunceyjiang commented on #2197
So do we need to delete `TTLSecondsAfterFinished ` this field?

@RainbowMango @Garrybest @Alphonse-iwnl

If necessary, I can help delete it.

[2022-07-27 06:27] Garrybest commented on #2090
Right, it could works temporarily like https://github.com/karmada-io/karmada/issues/2090#issuecomment-1193306423 said. We could make a quick fix here and then wait for long-term solution.

[2022-07-27 06:29] Garrybest commented on #2197
IMO, I prefer not propagating this filed.

[2022-07-27 06:30] RainbowMango commented on #2265
I noticed it too, but I'm not sure if this is a bug either. But thanks for pointing it out.

What do you mean `failed to generate new APIs`?

[2022-07-27 06:34] RainbowMango commented on #2090
+1
@dddddai How do you say?
Your idea(as mentioned at https://github.com/karmada-io/karmada/issues/2090#issuecomment-1181791827) is probably the long-term solution.

[2022-07-27 06:35] Garrybest commented on #1995
I have talked with @RainbowMango privately. We now think it's better to do the cleanup work in the `cluster_controller` [here](https://github.com/karmada-io/karmada/blob/ed9b838056ee45720abf51b2d603548e6ce922bf/pkg/controllers/cluster/cluster_controller.go#L159-L161) before the finalizer is removed instead of in CLI tools.

Now the plan is changed. Hi @carlory, would you still like to make a contr

[2022-07-27 06:39] bretagne-peiqi commented on #2265
I means the generated files

[2022-07-27 06:49] RainbowMango commented on #2265
I suppose these are `warning`s, not errors. All the generated files are generated as expected, right?

[2022-07-27 07:06] joengjyu opened #2266 "Is there any plan to provide metrics of clusters joined in karmada or other similar functionality?"
**Please provide an in-depth description of the question you have**:

How to get metrics of all clusters after several k8s cluster joined in karmada?
It seems that I need to set up metrics for each cluster now, and get metrics from each cluster NOT karmada.

**What do you think about this question?**:

Karmada can manage multiple clusters, make multi-cluster into one-cluster. So here is the questi

[2022-07-27 07:07] dddddai commented on #2090
I'm ok with [the quick fix](https://github.com/karmada-io/karmada/issues/2090#issuecomment-1196234233)

So for long-term solution we are going to change the naming rule to `name-kind-hash`, right?
If so I will try implementing [my idea](https://github.com/karmada-io/karmada/issues/2090#issuecomment-1181791827) and see if it works

[2022-07-27 07:38] bretagne-peiqi commented on #2265
I run the script， but my deepcopy.files are not renewed. so I suppose there exists some errors?

[2022-07-27 08:33] RainbowMango commented on #2265
I guess they are generated to `$GOPATH/src/github.com/karmada-io/karmada` which is the working directory.

[2022-07-27 09:31] zirain commented on #2266
I think you can get it by running `kubectl get cluster --kubecofig <karmada-apiserver> --context <karmada-apiserver>`

BTW, it's a good idea to add some basic metrics for karmada components, WDYT? cc @RainbowMango

[2022-07-27 09:47] RainbowMango commented on #2266
Yes, I agree, but for now just a draft idea, no clear plan for it.

[2022-07-27 13:43] GitHubxsy commented on #2266
We've been thinking about the observability of multiclusters. What do you suggest on this topic? Or describe what you think of as a multi-cluster metric.

[2022-07-27 16:00] carlory opened #2270 "REQUEST: add carlory to karmadactl reviewers"
Hello team. I'd like to nominate myself to karmadactl reviewers.

I have learned a lot from the projects since Jan 2, 2022. And I would like to step up and continue it to learn more.

**Reviewer requirements:**

ref: https://github.com/karmada-io/community/blob/main/community-membership.md#requirements-1

- member for at least 1 months: https://github.com/karmada-io/karmada/issues/1626
- Primary r

[2022-07-27 16:35] lonelyCZ commented on #2270
+1

Thanks for your contributions!!!

[2022-07-28 01:58] RainbowMango commented on #2247
I think `selectCluster` is part of `genericScheduler`. Please confirm if https://github.com/karmada-io/karmada/issues/2247#issuecomment-1193642334 is acceptable in your case.

[2022-07-28 02:41] elinx commented on #2247
In this way, I need to create a `genericScheduler` object which requires a scheduler cache and a plugins registry, and to create the later two I need to import a lot more packages like `Snapshot`, `Cache`, `Plugins` etc. and need to do more adaptions. Then I use the whole function of `genericScheduler` and can't customize it anymore, right?

From the architectural view, there maybe exist a `specif

[2022-07-28 03:39] sunt89 opened #2271 "Register cluster with 'Pull' mode, karmada-agent start failed"
**What happened**:
Register cluster with 'Pull' mode, karmada-agent start failed,  there is error in log, and karmada-cluster namespace is exist in my k8s cluster.
[code]

[code]
[code]

**Environment**:
- Karmada version: 1.2.1
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
[code]
[code]

[2022-07-28 04:34] sunt89 opened #2272 "About the version of karmada-apiserver and kube-controller-manager"
when i install Karmada(version 1.2.1) in Kubernetes (version 1.18.x)
whether karmada-apiserver, kube-controller-manager version needs to be the same as the version in my K8S cluster.
Are the versions of Karmada-apiserver, Kube-controller-manager not associated with my k8s cluster.

[2022-07-28 05:49] joengjyu commented on #2266
Sorry for my bad expression, the metrics I mentioned can be scraped by prometheus or other TSDB, provided by node_exporter or something else. The `cluster` info from karmada is not what I mean.

[2022-07-28 06:22] joengjyu commented on #2266
Yeah, "observability of multilusters" is more accurate. Below is the situation for single cluster and multi cluster.
- For single cluster, create a `node_exporter` workload & svc, configure the prometheus in the cluster or outside to scrape;
- For multi clusters, create a `node_exporter` workload & svc in every cluster, configure the prometheus for each cluster, and maybe the communication between

[2022-07-28 06:24] sunt89 commented on #2271
I find that the labels in my Karmada-cluster namespace are empty, I have labels on it and it runs successfully.
[code]

[2022-07-28 06:39] #2271 closed

[2022-07-28 07:36] zhixian82 commented on #2255
https://github.com/karmada-io/karmada/pull/2258

[2022-07-28 07:41] carlory commented on #1995
I am willing to try, but I need some time to learn how to implement it.

[2022-07-28 07:55] yy158775 commented on #2234
Are you convenient to open a PR? I am ready to work on this issue with you.

[2022-07-28 08:30] lonelyCZ commented on #2272
Unnecessary.

[2022-07-28 08:40] RainbowMango commented on #2271
This is probably not the root cause, as Karmada doesn't need users to manage or prepare the namespace.
But glad that you solved this problem.

[2022-07-28 08:55] RainbowMango commented on #2272
Yes, just as @lonelyCZ answered above.
Actually , the `karmada-apiserver`/`kube-controller-manager`/`etcd` are the normal workload(`Deployment` or `StatefulSet`) for a Cluster. So you can install Karmada in Kubernetes as long as it supports Deployment and StatefulSet.

[2022-07-28 10:21] RainbowMango commented on #2247
I get it. You just need `selectClusters`, the single method, not the `genericScheduler`. right?

[2022-07-28 12:50] elinx commented on #2247
yes

[2022-07-28 15:55] sunt89 opened #2278 "An unexpected exit occurred during Karmada installation"
**What happened**:
[code]

**Environment**:
- Karmada version: v1.2.1
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
[code]

[2022-07-28 17:49] rgrupesh commented on #2020
@RainbowMango  I created a VM on Azure. It is still not working.

[2022-07-29 01:22] #2255 closed

[2022-07-29 01:38] RainbowMango commented on #2278
cc @prodanlabs @lonelyCZ could you please take a look?

[2022-07-29 01:39] RainbowMango commented on #2020
Why, are you facing the same problem?

[2022-07-29 02:21] lonelyCZ commented on #2278
I just tested it`v1.2.1` in my environment and it was installed successfully.

I guess that the `crd` package was not downloaded completely.

[2022-07-29 03:25] sunt89 commented on #2278
I downloaded the crd package from wget https://github.com/karmada-io/karmada/releases/download/v1.2.0/crds.tar.gz
and use --crds /root/karmada/crds.tar.gz  to install

I was able to install it successfully in one cluster environment, but repeated the same error many times in the other

[2022-07-29 03:30] lonelyCZ commented on #2278
It could be a network problem lead to `wget` uncompletely. You can try to copy the `crd` from successful cluster to the error cluster.

[2022-07-29 03:35] sunt89 commented on #2278
I have downloaded the crd.tar.gz file and put it in a local directory. I specified the crds path when installing it

[2022-07-29 03:35] sunt89 commented on #2278
I have downloaded the crd.tar.gz file and put it in a local directory. I specified the crds path when installing it

[2022-07-29 03:35] hackerboy01 opened #2279 "how can we run the latest Kyverno in karmada-host"
**Please provide an in-depth description of the question you have**:
The latest version of Kyverno has removed kubeconfig flags support, how can we run Kyverno in karmada-host?

https://github.com/karmada-io/karmada/blob/master/docs/working-with-kyverno.md

[2022-07-29 03:36] RainbowMango commented on #2090
How about let's have a talk at the meeting next week.

[2022-07-29 03:45] sunt89 commented on #2278
The difference is that one set of environment is the K8S cluster customized by our company (1.18) and the other is the cluster installed using Kubesphere (1.22).
The failed environment is our customized K8S cluster

[2022-07-29 03:51] lonelyCZ commented on #2278
May be associated with this. I will test it in `v1.18`, please take a wait.

[2022-07-29 04:10] rgrupesh commented on #2020
@RainbowMango
**VM Info:**
<pre>
H/W path      Device       Class          Description
=====================================================
                           system         Virtual Machine (None)
/0                         bus            Virtual Machine
/0/0                       memory         1MiB BIOS
/0/4                       processor      Intel(R) Xeon(R) Platinum 8272CL CPU @ 2.6

[2022-07-29 04:16] RainbowMango opened #2281 "Graceful eviction umbrella issue"
**What would you like to be added**:
We hope to introduce a `graceful` way to delay the removal until the resource is available on the substitute cluster.

Iterated task:
- [x] API change [#2273](https://github.com/karmada-io/karmada/pull/2273)
- [x] Introduce `GracefulEviction` feature gate. [#2340](https://github.com/karmada-io/karmada/pull/2340)
- [x] Make changes to `karmada-scheduler` to mark

[2022-07-29 06:16] RainbowMango commented on #2020
Please check your system limitations:
[code]
And look at the `open files` limitation.

Maybe you need to enlarge it by `ulimit -n <number>`.

[2022-07-29 06:21] lonelyCZ commented on #2278
I have test it in `v1.18.20` kubernetes, it also worked fine.

I guess it is associated with OS, it is possible that the file cache is too large and the file is not read properly.

Because I can't reproduce the problem in my environment, I may not be able to offer much help.

If possible, you can check the status of karmada controle plane and each component, then you can try to install the `crd` m

[2022-07-29 06:23] hackerboy01 commented on #2279
@Poor12 @AllenZMC Could you please take a look at this issues?

[2022-07-29 06:32] rgrupesh commented on #2020
Should I still increase?
<pre>
core file size          (blocks, -c) 0
data seg size           (kbytes, -d) unlimited
scheduling priority             (-e) 0
file size               (blocks, -f) unlimited
pending signals                 (-i) 63976
max locked memory       (kbytes, -l) 65536
max memory size         (kbytes, -m) unlimited
open files                      (-n) 1024
pipe size            (

[2022-07-29 06:43] Poor12 commented on #2279
If kubeconfig flag is removed, you can try to set `KUBECONFIG`  environment env in the Pod.

[2022-07-29 06:55] RainbowMango commented on #2020
You can increase it to a larger number and have a try.
I set it to 65535 on my machine.
[code]

[2022-07-29 07:04] dddddai commented on #2090
Sure

[2022-07-29 07:39] rgrupesh commented on #2020
Thanks, now local Karmada is running in VM.
![Screenshot from 2022-07-29 13-19-44](https://user-images.githubusercontent.com/54068868/181708902-52cfa376-a33b-4f37-b4e7-9cd805d95e0d.png)

But to access to the dashboard, I need get Bearer Token. I ran into this error when I tried to generate that.
![Screenshot from 2022-07-29 13-19-59](https://user-images.githubusercontent.com/54068868/181709176-d23

[2022-07-29 07:55] RainbowMango commented on #2020
Congrats!!

For the dashboard thing please talk to @chinmaym07 or open an issue in `karmada-io/dashboard`.
Just a reminder, you should use the feature branch [ng-dashboard-react](https://github.com/karmada-io/dashboard/tree/ng-dashboard-react), not `main`.

[2022-07-29 07:55] RainbowMango commented on #2020
/close

[2022-07-29 07:55] #2020 closed

[2022-07-29 08:05] lonelyCZ opened #2282 "[Umbrella] Develop a new cluster registration method based on TLS/SSL"
**What would you like to be added**:

We will introduce  `bootstarp tokens` registration method, refering https://kubernetes.io/docs/reference/access-authn-authz/bootstrap-tokens

Iterated task:

- [x] Certificate generation normalization. #2097 #2297
- [x] Set open cluster-info to distribute root CA certificates. #2312
- [x] Set the required `ClusterRole` and `ClusterRoleBinding` to enable the ce

[2022-07-29 08:06] lonelyCZ commented on #2282
/assign

[2022-07-29 08:30] RainbowMango commented on #2270
Thanks.
Please @lonelyCZ or @carlory send a PR for this.

[2022-07-29 08:30] #2236 closed

[2022-07-29 08:46] likakuli commented on #2234
sorry, i will open a pr this weekend. or you can open a pr if you have already completed it. thx

[2022-07-29 12:06] hackerboy01 commented on #2279
the latest Kyverno is only supported to run  InClusterConfig.
https://github.com/kyverno/kyverno/blob/main/cmd/kyverno/main.go#L121

[2022-07-30 01:09] 631068264 commented on #1880
@jrkeen 使用helm chart安装遇到同样问题，建议更新helm chart部分的文档。不然安装流程都不完善，干嘛要开放helm chart安装方式？

[2022-07-30 02:19] Poor12 commented on #2279
Seems that it's removed in https://github.com/kyverno/kyverno/issues/3570. For my opinion, whether it's used by flag or environment env, Kyverno should support configurable `KUBECONFIG`. Could you start an issue in Kyverno community? Maybe we can push this thing together.

[2022-07-30 02:52] #2270 closed

[2022-07-30 08:26] zirain opened #2288 "improve istio on karmada doc"
**What would you like to be added**:

improve istio on karmada doc

**Why is this needed**:

we can simply this [doc](https://github.com/karmada-io/karmada/blob/master/docs/working-with-istio-on-non-flat-network.md) after this [PR](https://github.com/karmada-io/karmada/pull/2263) released.

[2022-07-30 08:28] RainbowMango commented on #2288
Thank you !!!
/assign @zirain

[2022-07-30 13:55] calvin0327 opened #2290 "chart: install together karmada and its component together use `host` installMode"
**What would you like to be added**:
case: I want install karmada necessary components and search component, I will exec following two commands:
* Firstly, install karmada with `host` installMode:
[code]

* And then install search component with `component` installMode:
[code]

I think it’s not friendly to users, if we combine `host` and `component` installMode, and only use a single cmd to comple

[2022-07-30 14:00] calvin0327 commented on #2290
@Poor12 @RainbowMango What do you think? We can talk about it together. I dont konw Is there a historical reason with component installMode?

[2022-08-01 01:37] Poor12 commented on #2290
Karmada-search is mainly a optional components. Users can judge whether to install Karmada-search according to their own needs.

[2022-08-01 02:24] 631068264 opened #2291 "Error: [cluster(member1) is inaccessible, please check authorization or network, cluster(member2) is inaccessible, please check authorization or network]"
根据https://github.com/karmada-io/karmada/issues/1880 ，用helm安装好

[code]

测试demo，想测试分发情况
[code]

收到错误
[code]

分发效果正常，现在只能跳到对应的节点看效果karmadactl根本用不了

**Environment**:
- Karmada version: 1.2.1
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`): karmadactl version: version.Info{GitVersion:"v1.2.1", GitCommit:"de4972b74f848f78a58f9a0f4a4e85f243ba48f8"

[2022-08-01 03:26] calvin0327 commented on #2290
Yes, you are right. the `schedulerEstimator`, `descheduler` and `search` are all optional components.
we can use flag `--set components` to select components to install. If we are not set the flag that means we don't install them.  I mean we don't need to install `karmada` and component separately.

[2022-08-01 04:06] liuchintao commented on #2261
hello, is there anything new?

[2022-08-01 05:58] lonelyCZ commented on #2291
How do you join your `PULL` mode member clusters? Is it through this script `hack/deploy-karmada-agent.sh`?

[2022-08-01 05:58] lonelyCZ commented on #2291
/assign

[2022-08-01 06:04] lonelyCZ commented on #2290
We will use `karmadactl addons` to deploy optional conponents, referring #2134 . Surely we also should be able to select to deploy them by Helm.

[2022-08-01 06:12] 631068264 commented on #2291
No

just follow https://github.com/karmada-io/karmada/tree/master/charts/karmada#1-install-agent  and https://github.com/karmada-io/karmada/issues/1880

[2022-08-01 06:22] lonelyCZ commented on #2291
Ok, you can try to update the `karmada-agent` deployment in member clusters, add command option `--cluster-api-endpoint={{member_cluster_api_endpoint}}`

[code]

If your karmada control plane can't access member clusters by IP, you can also deploy [ANP](https://github.com/karmada-io/karmada/blob/master/docs/working-with-anp.md)

[2022-08-01 06:39] 631068264 commented on #2291
what is **member_cluster_api_endpoint**  mean just member cluster ip ?

[2022-08-01 08:14] lonelyCZ commented on #2291
Perhaps, we need to fix helm chart to make it support option `--cluster-api-endpoint` and update the document.

/help

[2022-08-01 09:09] my-git9 commented on #2291
/assign

[2022-08-01 09:24] elinx opened #2296 "region available cluster replicas not equal to the sum of all clusters replicas in it"
The available replicas of the region is 100 while the sum of all available replicas of each cluster in this region is 80, is this by intention or a mistake?

https://github.com/karmada-io/karmada/blob/e1536144771e5a67b9f1043feea97a225e9edd88/pkg/scheduler/core/spreadconstraint/select_clusters_by_region_test.go#L38-L56

[2022-08-01 09:55] hackerboy01 commented on #2279
There is an issue here(https://github.com/kyverno/kyverno/discussions/4282) , we can push this thing together.

[2022-08-01 10:06] 631068264 commented on #2291
@lonelyCZ  In https://github.com/karmada-io/karmada/blob/master/docs/working-with-anp.md

sth like
[code]
only get empty ip  , so just use real cluster ip , because NetworkMode is host.

If you have multi member clusters , it's inconvenient  to use replace-proxy-agent.sh to gen proxy-agent.yaml. Can't reused many times.

And I want to know more about ANP .

The proxy server must deploy on host clu

[2022-08-02 01:46] #2288 closed

[2022-08-02 03:15] Poor12 commented on #2290
Sorry for misunderstanding. I think it's quite useful to provide a way to install together while maintaining the original optional strategy. Are you willing to work on it？

[2022-08-02 03:21] nuclearwu opened #2306 "How to uninstall karmada installed by local-up-karmada.sh"
How to uninstall karmada installed by local-up-karmada.sh

[2022-08-02 03:26] XiShanYongYe-Chang commented on #2306
`local-up-karmada.sh` is installed with `kind` tool, you can directly delete the kind cluster by the command: `kind delete cluster xxx`.

[2022-08-02 06:28] lonelyCZ commented on #2291
Thanks for your suggestions, could you please open a new issue to record this problem? If you are interested in it, welcome to contribute to improve it.

[2022-08-02 06:41] sunt89 opened #2307 "karmadactl promote 接管成员集群应用之后，是否可以取消接管"
**Please provide an in-depth description of the question you have**:
karmadactl promote 接管成员集群应用之后，是否可以取消接管，而不影响成员集群上的应用

**Environment**:
- Karmada version: v1.2.1
- Kubernetes version:
- Others:

[2022-08-02 07:09] nuclearwu opened #2308 "How to deploy Helm Chart Application across multi-clusters by integrating Flux with karmada"
**Please provide an in-depth description of the question you have**:
Refer to the documentation [working-with-flux.md](https://github.com/karmada-io/karmada/blob/master/docs/working-with-flux.md), in order to use Flux to propagate Helm chart Application. I found that a separate podinfo application is deployed in each of the two member clusters through the Karmada control plane, Instead of deployin

[2022-08-02 07:44] RainbowMango commented on #2307
使用场景是什么呢？为什么要取消接管？

[2022-08-02 08:01] sunt89 commented on #2307
目前没有实际的使用场景，只是测试到这块的时候，在文档里面看到没有取消接管的流程，出于完整性的考虑，这边产生了一些疑问，既然有接管的流程，为啥就没有取消接管的流程。

[2022-08-02 08:02] #1957 closed

[2022-08-02 08:06] RainbowMango commented on #2307
取消接管，其实是`join`的反向操作`unjoin`，当前的行为是清理目标集群中通过Karmada分发的资源，当然，也有[一个提案](https://github.com/karmada-io/karmada/blob/master/docs/keps/cleanup-propagated-resources.md)是希望有机制能够保留资源，但暂时缺乏更多的使用场景，所以还未开发。

[2022-08-02 08:21] sunt89 commented on #2307
好的  谢谢

[2022-08-02 08:21] #2307 closed

[2022-08-02 08:32] duanmengkk commented on #1879
/close

[2022-08-02 08:32] #1879 closed

[2022-08-02 08:37] #2306 closed

[2022-08-02 09:38] calvin0327 commented on #2290
@Poor12 ok.
/assign

[2022-08-03 12:24] ligapeng commented on #2254
/assign {15510096565@163.com}

[2022-08-03 12:41] lonelyCZ commented on #2254
https://github.com/karmada-io/karmada/blob/master/charts/karmada/templates/_karmada_webhook_configuration.tpl#L62

It seems same. What is different?

https://github.com/karmada-io/karmada/blob/ec84d649a9975435f58f690493e943204f9fbff6/charts/karmada/templates/_karmada_webhook_configuration.tpl#L62

https://github.com/karmada-io/karmada/blob/ec84d649a9975435f58f690493e943204f9fbff6/artifacts/deploy/

[2022-08-03 12:43] lonelyCZ commented on #2254
I remember that it didn't have mutating operating, so not to add it.

[2022-08-04 01:37] Poor12 opened #2316 "Move docs to Karmada website"
**What would you like to be added**:
We will move our docs to Karmada website to better manage documents and give users a better experience to understand the Karmada project for uppon release 1.3. Now the documents are tidy ready and lately we will check the PRs about documents

**Why is this needed**:
To better manage documents and give users a better experience to understand the Karmada project.

[2022-08-04 01:51] ligapeng commented on #2254
/assign @ligapeng

[2022-08-04 05:14] victory460 opened #2320 "Add some samples with `client-go` to use karmada"
**What would you like to be added**:
Some samples with `client-go` to use karmada.

**Why is this needed**:
Easy make more app base karmada with `client-go`.

[2022-08-04 05:16] duanmengkk opened #2321 "Put Lease to default SkippedResourceConfig"
**Please provide an in-depth description of the question you have**:
The following logs are continuously output in console, This makes log unreadble. Should we put `Lease ` to `SkippedResourceConfig` ?
[code]

[code]

@RainbowMango @XiShanYongYe-Chang

[2022-08-04 06:38] XiShanYongYe-Chang commented on #2321
I think `Lease` should be ignored by the detector, but are these logs related to whether we disable it or not?

[2022-08-04 06:44] duanmengkk commented on #2321
Yes,Lease will update every 10 seconds,so the log will continuously output. I will try to fix it.
/assign @duanmengkk

[2022-08-04 07:30] XiShanYongYe-Chang commented on #2321
Hi @duanmengkk, where is the log printing you mentioned about handled in the code?

[2022-08-04 07:46] RainbowMango commented on #2320
I don't know if there is an example for Kubernetes. Don't know what kind of example would help.

By the way, Karmada generates the client set at [here](https://github.com/karmada-io/karmada/blob/393bf843ded76f1e3d318123734343a3e7917af0/pkg/generated/clientset/versioned/clientset.go#L93) it's very similar to client-go.

[2022-08-04 07:46] duanmengkk commented on #2321
Dector will watch all resources in karmada, so these logs will continuously output since Lease is updated every few seconds.

https://github.com/karmada-io/karmada/blob/393bf843ded76f1e3d318123734343a3e7917af0/pkg/detector/detector.go#L399
https://github.com/karmada-io/karmada/blob/393bf843ded76f1e3d318123734343a3e7917af0/pkg/detector/detector.go#L392
https://github.com/karmada-io/karmada/blob/393

[2022-08-04 07:50] XiShanYongYe-Chang commented on #2321
Thanks for your explain, I got it.

[2022-08-04 07:50] RainbowMango commented on #2321
Yeah, I think it's fair enough to disable `lease`.

Just a question, can we get the log from CI?

[2022-08-04 08:12] duanmengkk commented on #2321
![image](https://user-images.githubusercontent.com/17697155/182797075-91a5534f-4ce2-4fb4-90d1-0625c4ea4013.png)

CI doesn't mean github CI ?  Do you mean this?

[2022-08-04 08:26] victory460 commented on #2320
Thanks for your reply.
I want to known that how to create `PropagationPolicy`  by  `client-go` and [deploy a simplest multi-cluster Deployment](https://karmada.io/docs/userguide/resource-propagating) with `client-go` ,  but not use kubectl and karmadactl.

[2022-08-04 09:29] RainbowMango commented on #2321
Yes, thanks.

[2022-08-04 09:33] RainbowMango commented on #2320
We don't have a such example yet. But maybe you can refer to the E2E test for CRUD examples.
https://github.com/karmada-io/karmada/blob/0694d0cdd4dc309bb5609c8d9c4d730722a0a306/test/e2e/framework/propagationpolicy.go#L20

[2022-08-04 10:09] #2321 closed

[2022-08-04 10:59] ligapeng commented on #2248
/assign @ligapeng

[2022-08-04 11:02] wuyingjun-lucky commented on #2248
HI，@ligapeng Maybe we can wait for @RainbowMango @lonelyCZ @prodanlabs  suggestions

[2022-08-04 12:31] victory460 commented on #2320
Thanks a lot.

[2022-08-04 12:31] #2320 closed

[2022-08-05 05:20] wuyingjun-lucky opened #2335 "Karmada search sync data error By using opensearch"
**What happened**:
Karmada search sync data error By using opensearch
**What you expected to happen**:
Karmada search sync data successfully By using opensearch
**How to reproduce it (as minimally and precisely as possible)**:
1、using opensearch to registry
<img width="666" alt="image" src="https://user-images.githubusercontent.com/16109961/183007001-a5ec8956-0306-46b0-ac8e-85b0f9d1fca5.png">
2、me

[2022-08-05 05:30] wuyingjun-lucky commented on #2335
ping @XiShanYongYe-Chang

[2022-08-05 05:35] wuyingjun-lucky commented on #2335
Besides I start two replicas for karmada-search deployment. There will be two controllers working at one time.  Is that ok ?

[2022-08-05 06:19] XiShanYongYe-Chang commented on #2335
Yes, it is.

Ask @huntsman-li @liys87x for help.

[2022-08-05 06:50] RainbowMango commented on #1915
/close

[2022-08-05 06:50] #1915 closed

[2022-08-05 06:51] RainbowMango commented on #1331
/close
As completed.

[2022-08-05 06:51] #1331 closed

[2022-08-05 06:53] ArenaSu opened #2336 "install-kubectl-karmada docs do not contain new releases tgz package change description"
**What happened**:

failed to wget latest karmada-linux from https://karmada.io/docs/installation/install-kubectl-karmada/ website
[code]

**What you expected to happen**:
we should add comment that latest package's suffix is tgz.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:
- kubectl-karmada or karmada

[2022-08-05 08:26] mengqinghao opened #2338 "use karmadactl to deploy karmada，we found some errors : "failed to resolve URL Host""
**Please provide an in-depth description of the question you have**:
Due to clusterDomain not default (cluster.local) with our k8s clusters,  DNS has resolution failed with some pods （ etcd-0 or karmada-apiserver）
<img width="1246" alt="image" src="https://user-images.githubusercontent.com/42412176/183031895-e753c9d1-7709-4568-85f9-e04c58886293.png">

so we can't continue to deploy karmada ...

**

[2022-08-05 08:29] mengqinghao commented on #2338
We have no good way to deal with this problem，we want to deploy karmada successfully！

[2022-08-05 08:39] RainbowMango commented on #2336
/assign @ArenaSu
In favor of https://github.com/karmada-io/website/pull/124.

[2022-08-05 08:55] RainbowMango commented on #2338
Hi @mengqinghao Please tell us which tools are you using in the installation. (`karmadactl init` or `chart`? )

[2022-08-05 08:58] #2336 closed

[2022-08-06 12:17] mengqinghao commented on #2338
Are there any other installation methods？@RainbowMango

[2022-08-06 13:28] mengqinghao opened #2341 "Karmada can not support customized clusterDomain with k8s"
Because  the suffix of domain name fixed and ends with "cluster.local" from karmada component config,
what's more, the certificate has been bound with a fixed domain name (e.g.  etcd-0.etcd.karmada-system.svc.cluster.local),

if clusterDomain with k8s  is not default (cluster.local) ,  failed to resolve URL Host with karmada component pods

I think clusterDomain is customized , In particular, with

[2022-08-07 07:45] my-git9 commented on #2341
/assign

[2022-08-08 01:31] RainbowMango commented on #2338
cc @prodanlabs for help.

[2022-08-08 08:28] #2316 closed

[2022-08-09 02:06] #2291 closed

[2022-08-09 02:21] RainbowMango commented on #2261
@liuchintao we are working on it.  @chaunceyjiang send a PR(#2301) for this.
/assign @chaunceyjiang

[2022-08-09 08:37] carlory opened #2349 "[Umbrella] karmadactl uses factory instead of karmadaConfig"
**What would you like to be added**:

Iterated task:

- [x] karmadactl logs uses factory #2202
- [x] karmadactl apply uses factory
- [x] karmadactl describe uses factory #2471
- [x] karmadactl exec uses factory #2470
- [ ] karmadactl get uses factory
- [ ] karmadactl promote uses factory
- [ ] karmadactl taint uses factory
- [ ] all sub command accepts factory as input parameter

**Why is this nee

[2022-08-09 10:50] #1350 closed

[2022-08-09 13:35] RainbowMango opened #2354 "[Umbrella] interpreter enable `InterpretHealth` feature"
**What would you like to be added**:
We are going to enable `InterpretHealth` feature to [Resource Interpreter Framework](https://karmada.io/docs/userguide/globalview/customizing-resource-interpreter).

Iteration tasks:
- [x] Make changes to [Resource Interpreter Framework](https://github.com/karmada-io/karmada/tree/master/pkg/resourceinterpreter) to enable `InterpretHealth`. (#2329)
- [x] Make ch

[2022-08-10 01:49] MingZhang-YBPS opened #2358 "How to support scheduling custom resource without "replicas" characteristic among managed clusters"
**Please provide an in-depth description of the question you have**:
Currently, Karmada provides flexiable scheduling against normal kubernetes workloads such as deployment, job，etc.
From the implemention https://github.com/karmada-io/karmada/blob/master/pkg/scheduler/core/generic_scheduler.go#L82, the generic scheduler supposes the workload type to have "replicas" characteristic. If it doesn't ha

[2022-08-10 02:48] RainbowMango commented on #2358
What you proposed is to let Karmada make schedule decisions(select cluster) according to `memory utilization`. Now Karmada provides several [plugins ](https://github.com/karmada-io/karmada/tree/master/pkg/scheduler/framework/plugins) to help the scheduler make the decisions.

Maybe we can introduce another plugin to `score` the cluster as per the `available memory`, for example, cluster A and B ha

[2022-08-10 02:51] RainbowMango commented on #2358
By the way, I didn't see anything related `interpreter framework`. Even though your CRD doesn't have a `real replica`, you still can use the webhook to pretend it's a workload and requires resources.

[2022-08-10 06:51] #1887 closed

[2022-08-11 02:05] XiShanYongYe-Chang commented on #2226
Hi @first-sight12, have you installed this crd `quota.kubesphere.io/v1alpha2 ResourceQuota` on the karmada control-plane?

[2022-08-11 04:05] yusank opened #2362 "Default Replica Interpreter should support scale subresource"
**background**

in current default replica interpreter, it only supports `Deployment` and `job` like this:

[code]

If there are other custom resources like `cloneset`, the `rb` didn't contains replica in spec and got an error log in controller manager:

[code]

**What would you like to be added**:

The Default Replica Interpreter should support k8s [scale subresource](https://kubernetes.io/docs/t

[2022-08-11 04:07] yusank commented on #2362
https://github.com/karmada-io/karmada/blob/431e06a684c08a027376e66da656bf4f3ef357c9/pkg/resourceinterpreter/defaultinterpreter/replica.go#L18-L23

[2022-08-11 04:10] RainbowMango commented on #2362
Thanks @yusank , can you help review #1728? Does it help your case?

[2022-08-11 09:05] luoMonkeyKing commented on #2226
No,On the k8s host

[2022-08-11 09:11] luoMonkeyKing commented on #2226
No,On the k8s host

[2022-08-11 09:12] liys87x commented on #2226
@first-sight12 @luoMonkeyKing
We will make a constraint that crd resources need to be installed on the karmada control-plane.
Please refer to #2361

[2022-08-11 10:56] JackZxj opened #2364 "resources may be lost when recovering the network after a disconnection"
**What happened**:
I deploy a deployment into 2 clusters, and mark cluster1 as main, cluster2 as the backup; then I block down the network between clsuter1 and control plane to simulate a sudden failure of the main cluster; and then I mark cluster2 as main, cluster1 as backup by updating OverridePolicy; after that, I recover the network of cluster1 and wait for cluster1 to be the backup. But final

[2022-08-12 02:13] yusank commented on #2362
Of course. I'm on it.

[2022-08-12 04:05] RainbowMango commented on #2364
Hi @JackZxj thanks for reaching us.

Karmada would evict resources from failure clusters by default.
We introduced `eviction by taints` feature to release 1.3(still in the master branch, and will be released by the end of this month). For your case, I guess you can set the [tolerations at PropagationPolicy](https://github.com/karmada-io/karmada/blob/f0379682a201af9b6763b8b7e8af8946c3bfcb6b/pkg/api

[2022-08-12 08:57] RainbowMango commented on #1330
/close
as finished.

[2022-08-12 08:57] #1330 closed

[2022-08-12 09:12] RainbowMango opened #2371 "[lfx-mentorship-2022-Sept-Nov] Configurable Interpreter"
**What would you like to be added**:
Now in [Resource Interpreter](https://karmada.io/docs/userguide/globalview/customizing-resource-interpreter) framework, we enabled both `built-in` and `customized` interpreter.

We'd like to enable the third interpreter, which is `configurable` interpreter.

In addition, for the `Retain` interpreter operation, we have [the proposal ](https://github.com/karmada-

[2022-08-12 11:39] JackZxj commented on #2364
@RainbowMango  Sorry that I can not try it right now, maybe next week I will try it out.

But in my opinion, this solution has a little bit counter-intuitive. I think when clusters recovered after disconnection, it should re-trigger the policies. Because that the PropagationPolicy has declared the clusters to propagate, and it should be firmly executed when the cluster is connected by default. If

[2022-08-13 13:35] ikaven1024 opened #2372 "[umbrella] Karmada proxy implementation"
**What would you like to be added**:
We are going to introduce a new feature named proxy to adopt the [proposal](https://github.com/karmada-io/karmada/pull/2058).

I'd like to list all the iterated tasks here, anyone wants to join or help on it, please feel free to leave your comment on it.

- [x] proxy skeleton get on board. (@ikaven1024,  #2366)
- [x] Implement proxy cache reconcile logic. (@ika

[2022-08-13 13:36] ikaven1024 commented on #2372
cc @RainbowMango

[2022-08-13 14:51] Garrybest commented on #1995
fix in #2373

[2022-08-15 01:32] RainbowMango commented on #2364
Yes, you are right. Actually, we are working on it.(see #2301).

Thanks in advance.
Just a reminder, if you are using the master branch, you might have to set [feature gates to `karmada-controller-manager`](https://github.com/karmada-io/karmada/blob/66af6ef5023be78cb81d2260f86a6e5b7ab9fc3a/artifacts/deploy/karmada-controller-manager.yaml#L32):
[code]

[2022-08-15 01:43] RainbowMango commented on #2372
Do you think we need a document for this feature?

[2022-08-15 01:46] RainbowMango commented on #1995
/assign @Garrybest

[2022-08-15 02:45] ikaven1024 commented on #2372
Yes, i add it to the list.

[2022-08-15 04:00] Poor12 opened #2378 "[umbrella] Karmada federated HPA implementation"
**What would you like to be added**:
We are going to implememt federated HPA according to [proposal](https://github.com/karmada-io/karmada/blob/master/docs/proposals/hpa/federated-hpa.md).

I'd like to list all the iterated tasks here, anyone wants to join or help on it, please feel free to leave your comment on it.

**Why is this needed**:

- [ ] implement FederatedHPA controller to distribute HP

[2022-08-15 08:22] Poor12 opened #2379 "[umbrella]Karmada cluster resource modeling implementation"
**What would you like to be added**:
We are going to implememt cluster resource modeling according to #772.

I'd like to list all the iterated tasks here, anyone wants to join or help on it, please feel free to leave your comment on it.

**Why is this needed**:

- [x] implement cluster API.  #2386
- [x] implement the data struct. #2367
- [x] add a new feature gate to enable cluster resource modeli

[2022-08-15 09:02] stingshen opened #2380 "The propagated resources are not deleted when propagation policy is deleted"
**What happened**:

When I delete a propagation policy, the applied resources are not deleted on the target clusters.

**What you expected to happen**:

The applied resources are deleted after I delete the propagation policy.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a deploy and a propagation policy that propagates the deploy to a cluster.
2. Wait for the deplo

[2022-08-15 09:04] stingshen commented on #2380
The resoure binding is not  deleted either. Maybe we should set propagation policy to the ownerReferences of resource binding?

[2022-08-15 10:30] RainbowMango commented on #2380
As far as I know, this is the expected behavior when deleting a PropagationPolicy.

See here https://github.com/karmada-io/karmada/issues/403#issuecomment-852693968, you can remove the `deploy` from karmada control plane.

[2022-08-15 10:39] stingshen commented on #2380
I agree, it is the expected behavior that the applied resources (e.g. deploy) are deleted from sub-clusters after the propagation policy is deleted.

But, the actual behavior now is the applied resources still exist on the sub-cluster after the propagation policy is deleted.

[2022-08-15 11:50] RainbowMango commented on #2380
Sorry, I didn't make myself clear.
I mean this is the expected behavior, which means after the `PropagationPolicy` has been removed, the `ResourceBinding` and `Work` would keep existing, actually only the `PropagationPolicy` has been removed.

We have talked about this at #505 and implemented it by #601.

[2022-08-15 12:15] stingshen commented on #2380
Thank you for the explanation.

[2022-08-15 12:15] #2380 closed

[2022-08-15 12:15] ArenaSu opened #2381 "karmada did not reconciling ResourceBinding for deploy"
**What happened**:
karmada did not handle resource and looks like stuck.

**What you expected to happen**:
Deployment created successfully in cluster1 and cluster2.

**How to reproduce it (as minimally and precisely as possible)**:
Operator controller create deploy and pp.

**Anything else we need to know?**:
It's ok befor and it was encountered occasionally.

**Environment**:
- Karmada version: v

[2022-08-15 12:20] ArenaSu commented on #2381
karmada controller log filter with nginx ：

[code]

[2022-08-15 12:33] #1995 closed

[2022-08-16 02:03] lihui920913 opened #2384 "[MCS] Remove "derived-" prefix of MCS"
**What would you like to be added**:
Remove "derived-" prefix of MCS， so user can use the same k8s service name in other k8s clusters.

**Why is this needed**:
Karmada is supposed to offer one-cluster view. However user need to change there application settings when using MCS.

Maybe there could be an validation to refuse the ServiceImport object when there has been a same-name service in the targ

[2022-08-16 13:10] XiShanYongYe-Chang commented on #2354
/assign @zhuwint

[2022-08-16 13:51] RainbowMango commented on #772
/close
in favor of #2379

[2022-08-16 13:51] #772 closed

[2022-08-17 07:56] XiShanYongYe-Chang commented on #1762
/assign @Garrybest

[2022-08-17 08:19] chaunceyjiang commented on #2378
Hi, can I pick some tasks?

[2022-08-17 08:49] RainbowMango commented on #2378
Sure, but frankly speaking, I'm not so confident with this solution, I'm not sure if it really works as expected. @snowplayfire and
@riverzhang might have implemented it in their private products, and I haven't got feedback about that.
Also, I'm looking forward to seeing a demo for it.

[2022-08-18 02:07] PradyumnaKrishna commented on #2371
Hey @RainbowMango I am interested in this project for LFX-Mentorship, will you provide me more information to get started?

[2022-08-18 02:25] RainbowMango commented on #2371
I updated a document list to the issue description.

[2022-08-18 15:31] GitHubxsy commented on #2384
Consider providing feature switches.
Allows users to associate endpointslices with the original service.
@RainbowMango @XiShanYongYe-Chang

[2022-08-19 00:13] zirain opened #2392 "resource with specific name not sync to member cluster"
**What happened**:

I'm trying to install [OLM](https://olm.operatorframework.io/) with karmada, but got following error message:
[code]

seems `system:controller:operator-lifecycle-manager` not sync to member cluster?

cc @XiShanYongYe-Chang

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
-

[2022-08-19 01:22] XiShanYongYe-Chang commented on #2384
+1

But the current issue seems to be pointing to something else.

[2022-08-19 01:39] zirain commented on #2392
seems `karmada` not working with `OLM`, cc @XiShanYongYe-Chang, is this an known issue?

[2022-08-19 01:46] XiShanYongYe-Chang commented on #2392
This is a known issue. We will try to fix it in the next version.

[2022-08-19 02:08] zirain opened #2393 "make OLM work with karmada"
**What would you like to be added**:

seems `karmada` not working with [OLM](https://olm.operatorframework.io/), can we make it wokring?

some error logs:
[code]

cc @XiShanYongYe-Chang

[2022-08-19 03:04] yusank opened #2394 "Cluster Resource Binding controller should sync status for resources"
**background**
In current code logic, crb controller didn't sync resource status to crd in kramada cluster:
https://github.com/karmada-io/karmada/blob/822abc540b622bad61f1319cc9bbe7d1363fe102/pkg/controllers/binding/cluster_resource_binding_controller.go#L121-L135

If I want to check Resource status like PV, I only go to the member cluster to check.

**What would you like to be added**:
I have add

[2022-08-19 04:09] RainbowMango commented on #2394
I'm so surprised that we missed status collection for cluster scoped resources.
@XiShanYongYe-Chang don't we have related E2E tests?

@yusank Sure, I'm glad that you can help with it.

By the way, @yusank can you help give reproduce steps that let folks better understand this issue?

[2022-08-19 06:17] yusank commented on #2394
1. Create a simple PV by `PropagationPolicy` from karmada cluster
2. After PV created in member cluster, PV status is `Available`
<img width="905" alt="image" src="https://user-images.githubusercontent.com/21994267/185555166-eb1f2b92-06bb-445a-af02-f02a99167319.png">
3. But get PV from karmada cluster, PV status shows `Pending`
<img width="1019" alt="image" src="https://user-images.githubuserconte

[2022-08-19 06:28] #1351 closed

[2022-08-19 06:39] XiShanYongYe-Chang commented on #2394
We really didn't handle cluster scoped resources, related E2E tests only namespace scoped `workload` resources.

[2022-08-19 08:08] yusank opened #2396 "cannot get pvc volume and capacity from karmada clsuter"
**What happened**:

PVC not showing It's  VOLUME, CAPACITY and  ACCESS MODE when kubectl get pvc from karmada cluster
![image](https://user-images.githubusercontent.com/21994267/185572970-f7309e79-8188-43a7-8a4e-121f257a4b6c.png)
 But those value are can see from yaml:
![image](https://user-images.githubusercontent.com/21994267/185573226-6de098b0-086e-4125-82c0-e258caefd563.png)

**What you expect

[2022-08-21 20:42] basit9958 commented on #2371
Hey @RainbowMango, I have read the proposal,documents and the struct  and believe we need to build a webhook and write a lua script which contains the logic to retain the configured field by the user to sync changes so the there is no endless loop in karmada control plane. After we need to register it here `cmd/webhook/app/webhook.go` .
I am interested in solving this issue ,Get me on board for th

[2022-08-22 01:41] RainbowMango commented on #2394
/assign @yusank
as #2395

[2022-08-22 03:48] #2394 closed

[2022-08-22 06:13] #2254 closed

[2022-08-22 07:39] #1762 closed

[2022-08-22 08:06] RainbowMango commented on #1762
Great thanks to @Garrybest !!!

[2022-08-22 09:53] lonelyCZ opened #2403 "It will occur error when `karmada-agent` restart"
**What happened**:
After restarting `karmada-agent`, the `karmada-agent` doesn't work fine. It possibly will be not running when `karmada-agent` restart accidently.

[code]

**What you expected to happen**:
`karmda-agent` support disaster recovery, just as restarting.

**How to reproduce it (as minimally and precisely as possible)**:
1. deploy `karmada-agent` in a member cluster.
2. `kubectl rollo

[2022-08-22 10:34] yy158775 commented on #2403
In https://github.com/karmada-io/karmada/pull/2369 , in order to avoid joining the same cluster repeatedly, I add the logic in the agent.
But it can't distinguish the agent restart or cluster rejoining.

[2022-08-22 11:54] XiShanYongYe-Chang commented on #2393
I will have a try at the next release (in release 1.4).

[2022-08-22 11:56] XiShanYongYe-Chang commented on #2381
Looking forward to more information to help locate.

[2022-08-22 12:01] #2335 closed

[2022-08-22 13:52] yy158775 commented on #2403
But if the user deploy two agents in the cluster using the same cluster name and id.

[2022-08-22 14:02] lonelyCZ commented on #2403
In this way, there will be only one Cluster on the control plane, which does not affect the state of the control plane. In fact, the Agent itself can be deployed with multiple copies to implement disaster recovery. At the same time, we use `cluster_id` only to prevent repeated cluster-joining. If a user insists on using the wrong registration method, we can hardly completely restrict it.

[2022-08-22 17:14] jxiang1995 opened #2405 "Error running hack/local-up-karmada.sh"
**What happened**:
Error running hack/local-up-karmada.sh

**How to reproduce it (as minimally and precisely as possible)**:
run hack/local-up-karmada.sh.

**Environment**:
- Karmada version: 1.2.1
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`): N/A
- docker engine: 20.10.17
- go: 1.19
- kind: 0.14
- environment: Microsoft Azure VM 128G st

[2022-08-22 17:23] jxiang1995 commented on #2405
It looks like a "container out of resource" issue, but I got 32G memory and Docker engine itself doesn't limit resources.

[2022-08-23 01:47] RainbowMango commented on #2405
I've no clue about this yet but will try with Go1.19 on my side because we are using Go1.18 in our CI.

[2022-08-23 01:56] liys87x commented on #2405
I had the same problem.
[code]
upgrading cfssl to 1.6.1 can solve this problem
`go install github.com/cloudflare/cfssl/cmd/...@v1.6.1`

[2022-08-23 02:09] RainbowMango commented on #2405
@jxiang1995 can you try to update cfssl version to `v1.6.1` and try again? like:
[code]

You might have to delete the old version of cfss:
[code]

[2022-08-23 03:22] #2403 closed

[2022-08-23 03:42] liys87x commented on #2405
@RainbowMango @jxiang1995 Due to the use of go.rice, cfssl segfaults when installed with Go 1.19.
Need to install via `go install github.com/cloudflare/cfssl/cmd/cfssl@master`
https://github.com/cloudflare/cfssl/issues/1233
https://github.com/cloudflare/cfssl/pull/1236

[2022-08-23 04:22] jxiang1995 commented on #2405
@liys87x @RainbowMango yes! It's working! Thank you guys!

Final solution:
Go version: 1.19
Install cfssl via go install github.com/cloudflare/cfssl/cmd/cfssl@master
cfssl version 1.6.2 - as today 8/23/2022

[2022-08-23 04:22] #2405 closed

[2022-08-23 08:40] zhengya-wu opened #2408 "PVC 状态为Bound, 但是对应的PV仍然为Available"
**Please provide an in-depth description of the question you have**:
团队您好：
    我通过karmada传播PV，PVC到member2集群，但是PV的状态貌似一直在被更改，导致状态一直不正确。

1. yaml文件如下：
    1.1 pv.yaml:
[code]

1.2 pv-cpp.yaml:
[code]
1.3 pvc.yaml:
[code]

1.4 pvc-pp.yaml:
[code]

2. 查看创建情况：
<img width="1219" alt="image" src="https://user-images.githubusercontent.com/21785628/186111815-376e54ba-5e35-42d7-a2d6-1b7050260990.png">

pv状态

[2022-08-23 11:44] RainbowMango commented on #2408
+1.

We just added support for PV resources at #2395(authored by @yusank). Yeah, just like @Garrybest said, we need to [implement the `retain` method](https://github.com/karmada-io/karmada/blob/465728229369243ebc58212a2f23e1f714be088c/pkg/resourceinterpreter/defaultinterpreter/retain.go#L21-L25) for PV.

@zhengya-wu @yusank Would you like to send a PR for this?

[2022-08-23 12:02] yusank commented on #2408
Sure, I can add it and submit a PR

[2022-08-23 12:39] RainbowMango commented on #2408
Thanks @yusank.
/assign @yusank

[2022-08-24 02:15] Poor12 opened #2411 "Etcd restarts frequently"
**What happened**:
When I use local-up-karmarda to install karmada，sometimes etcd will restart periodically. It may happen in CI.
logs before restart:
[code]
[code]
**What you expected to happen**:
etcd will not restart

**How to reproduce it (as minimally and precisely as possible)**:
use ./local-up-karmarda.sh to install Karmada

**Anything else we need to know?**:

**Environment**:
- Karmada ve

[2022-08-24 03:33] #1363 closed

[2022-08-24 03:55] Poor12 commented on #2411
Main Reason is we change etcd's cacaert to /etc/karmada/pki/, but we donot change the directory in livenessProbe:
[code]
@lonelyCZ  may need to know this issue.

[2022-08-24 04:02] XiShanYongYe-Chang commented on #2411
Record associated modifications: #2097

[2022-08-24 07:00] #2411 closed

[2022-08-24 07:28] Garrybest commented on #2408
I have already made a patch yesterday, would you like to review #2415?

[2022-08-24 08:30] zhixian82 opened #2417 "request cherry-pick PR(2258,2401)"
**Please provide an in-depth description of the question you have**:

The release v1.2.0 has the issues: https://github.com/karmada-io/karmada/issues/2255 and https://github.com/karmada-io/karmada/issues/2254. Maybe the fix pr(https://github.com/karmada-io/karmada/pull/2258, https://github.com/karmada-io/karmada/pull/2401) should rebase to release v1.2.0?

**Environment**:
- Karmada version: v1.2.

[2022-08-24 08:44] RainbowMango commented on #2417
I guess you mean cherry-pick #2258 and #2401 to release-1.2 branch, and cut a new release(the next release would be v1.2.2). right?

[2022-08-24 08:50] zhixian82 commented on #2417
right

[2022-08-24 09:42] zhuwint opened #2419 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit some PRs

See:

https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Azhuwint+is%3Aclosed

Hope bring more improvements for Karmada in the future.

[2022-08-24 09:47] RainbowMango commented on #2419
Hi @zhuwint Please open an issue against on `karmada-io/community` repo.
https://github.com/karmada-io/community/blob/main/community-membership.md#member

Thanks for your contribution.
/close

[2022-08-24 09:47] #2419 closed

[2022-08-24 19:02] jxiang1995 commented on #2405
Note:
I'm using Azure and GCP for host Karmada. I found I need to set open file limitation to a higher value to avoid "too many files opened" problem.

what I did:
ulimit - n 65535
sudo sysctl fs.inotify.max_user_instances=1024

[2022-08-25 01:10] RainbowMango commented on #2405
Thanks @jxiang1995 .

This doc from Kind also addressed this issue:
https://kind.sigs.k8s.io/docs/user/known-issues/#pod-errors-due-to-too-many-open-files

[2022-08-25 02:14] RainbowMango commented on #2417
/retitle request cherry-pick PR(2258,2401)

[2022-08-25 02:14] RainbowMango commented on #2417
/close
We'll cut the patch release this week, it's already on the plan.

[2022-08-25 02:14] #2417 closed

[2022-08-25 07:02] yusank commented on #2408
OK, can  we  look at this PR @RainbowMango , if this PR can fix the problem, we just focus on that

[2022-08-25 07:06] RainbowMango commented on #2354
/close

[2022-08-25 07:06] #2354 closed

[2022-08-25 07:08] RainbowMango commented on #2408
Sure, thanks @yusank. Let's start working on #2415.
/assign @Garrybest

[2022-08-26 01:27] #2408 closed

[2022-08-26 08:07] lonelyCZ commented on #1847
Hi @RainbowMango

I just checked it, the reason seems that `karmada-agent` in member cluster has been unconnected with Karmada control plane and the `Finalizer` of works in Karmada control plane cann't be removed, lead to the process of deleting cluster stuck.

I think we seemingly lack a `work_controller` to be responsible for managing the lifecycle of `works` in Karmada control plane, only depen

[2022-08-26 08:34] RainbowMango commented on #1847
I guess you mean we should let `work-controller` take the responsibility for the `Work` lifecycle because it always works in the control plane, right?

[2022-08-26 08:39] lonelyCZ commented on #1847
Yes!

[2022-08-26 09:31] RainbowMango commented on #1847
I get it. I guess we can do it in the next release, is it ok?

[2022-08-26 09:38] lonelyCZ commented on #1847
Ok.

[2022-08-26 10:19] liys87x opened #2432 "[umbrella]Karmada search iterated tasks"
**What would you like to be added**:
We are going to implememt karmada search.

I'd like to list all the iterated tasks here, anyone wants to join or help on it, please feel free to leave your comment on it.

**Why is this needed**:

- [ ] User guide for karmada search
- [ ] Search api supports query through backend
- [ ] Implement resource registry status
- [ ] Provides an example of an opensearc

[2022-08-27 03:38] RainbowMango commented on #2282
@lonelyCZ

I have a question about the last task, does this task should be included in v1.3?

[2022-08-27 04:00] #2261 closed

[2022-08-27 05:09] wxuedong opened #2433 "Install Karmada for development environment compile error"
Execute the following command locally ：

hack/local-up-karmada.sh

[go version go1.18.5 darwin/amd64]

output the following：

Preparing: 'kind' existence check - passed
Preparing: 'kubectl' existence check - passed

 Detected that you are installing Karmada on macOS 

It needs a Macintosh IP

[2022-08-27 06:17] RainbowMango commented on #2433
I guess you are using `go 1.18.5`, but the `GOROOT` points to the go source of 1.16.3.
I think you might have to remove 1.16.3 and re-install Go 1.18.5 or, reset your GOROOT.

[2022-08-27 07:18] RainbowMango commented on #1644
/close
in favor of #2301

[2022-08-27 07:18] #1644 closed

[2022-08-27 07:19] RainbowMango commented on #880
/close
in favor of #2369

[2022-08-27 07:19] #880 closed

[2022-08-29 00:48] wxuedong opened #2438 "Local execution command ‘ make kubectl-karmada ’ error"
go version ：
<img width="626" alt="image" src="https://user-images.githubusercontent.com/15843627/187102355-9b42a87f-1be3-4807-871a-bd2d07dd53db.png">

Update local code to latest：

<img width="824" alt="image" src="https://user-images.githubusercontent.com/15843627/187102495-90d86a2a-ee71-42b2-818d-4f9201916f66.png">

Then execute the command and the following appears：

[code]

[2022-08-29 01:10] RainbowMango commented on #2438
Hi @wxuedong you might need to check your `Go` configuration, I guess you can't compile any Go code, not only Karmada code.
And here is a reference I just found from StackOverflow:
https://stackoverflow.com/questions/51182422/all-of-a-sudden-go-tool-no-such-tool-compile

[2022-08-29 03:43] ikaven1024 commented on #2432
Proxy has been added in search. Shall we refactor search, fetch data from proxy cache, instead of informing from member clusters?

[2022-08-29 04:34] #2197 closed

[2022-08-29 05:18] SAMZONG opened #2439 "About how to difference cluster-admin or cluster resource user in karmada ?"
**What would you like to be added**:

Who am I ?  =>  `a Care Security SRE`

as I know, to join a new cluster to karmada member list, we need cluster-admin, it's no question.

but when I deploy a applicaion as Deployment, use cluster-admin is not best practices, when I use `kubectl karmada`, I can do anything as cluster-admin in any clusters. This is very dangerous.

Can I use an namespace-admin(a

[2022-08-29 06:06] wxuedong opened #2440 "How to check the distribution of application resources in each subcluster on Karmada ApI Server?"
For example, I submitted a Deployment resource image as nginx on Karmada ApI Server, and set the number of replicas to 6. Then submit the cluster deployment strategy to deploy 3 pods for each of the two management clusters. After the overall process is over, without accessing the management cluster, how to view the deployment distribution of the Deployment's Pods in Karmada ApI Server, such as how

[2022-08-29 06:22] RainbowMango commented on #2439
Fantastic! Feel free to add an agenda to [the meeting notes](https://github.com/karmada-io/karmada#meeting) once you are ready.

I'm not sure I correctly understand your point, here I want to say, Karmada doesn't require operations should be done with `admin`, as an administrator, you can issue any appropriate certificate to users.

[2022-08-29 06:22] XiShanYongYe-Chang commented on #2440
You can use `karmadactl` to get the resources in the member cluster:

[code]

[2022-08-29 06:29] wxuedong commented on #2440
This cmd  only support cluster mode is Push

[2022-08-29 06:33] wxuedong commented on #2440
kubectl karmada --kubeconfig=xxx  get deploy

Error: [cluster() is inaccessible, please check authorization or network, cluster() is inaccessible, please check authorization or network]
(base)

The two cluster mode are Pull ,  another cluster mode is Push it's ok

[2022-08-29 06:39] XiShanYongYe-Chang commented on #2440
For `Pull` mode cluster, you can work with reverse proxy, for example [ANP](https://karmada.io/docs/userguide/clustermanager/working-with-anp).

[2022-08-29 06:52] liys87x commented on #2432
Yes, we should store unified. But cache is more complex than informer and I needs a more comprehensive understanding.

[2022-08-29 06:53] liys87x commented on #2432
@ikaven1024 Currently cacheproxy is private, should it be exposed first?

[2022-08-29 06:56] ikaven1024 commented on #2432
You shall use this interface, not cacheProxy:

https://github.com/karmada-io/karmada/blob/2b7ed24875f3914a68b3bb618799fa6d1e4fba37/pkg/search/proxy/store/multi_cluster_cache.go#L32-L37

[2022-08-29 07:06] liys87x commented on #2432
How do I get its implementation, or rather, how do I get the MultiClusterCache

[2022-08-29 07:10] ikaven1024 commented on #2432
You can add a method in proxy controller to export it.

[2022-08-29 09:48] wxuedong opened #2441 "How to implement ArgoRollout Pod resource multi-cluster deploy"
Submit an Argo Rollout CRD definition to Karmada ApiServer

`  kubectl apply -n argo-rollouts -f https://github.com/argoproj/argo-rollouts/releases/latest/download/install.yaml `

Deploy nginx image with Rollout workload：

[code]

Submit PropagationPolicy definition

[code]

I hope the Rollout strategy implementation is the same as Deployment ，actually only applied to one cluster（member2）

The act

[2022-08-29 10:21] ArenaSu opened #2442 "Karmada federated ingress controller proposal"
**What would you like to be added**:
I want to add a proposal to implement federated ingress controller.

**Why is this needed**:

1. Provides federated ingess or api gateway
2. Provides a service exposing solution for federated application
3. Provides ingress ability for federated applications canary or blue/green deployment strategy

[2022-08-29 11:11] wxuedong commented on #2441
After reading the introduction, can the following configuration be solved?

[code]

[webhook] ( https://github.com/karmada-io/karmada/blob/master/examples/customresourceinterpreter/karmada-interpreter-webhook-example.yaml)

Is the webhook-example in the documentation the same as deploying the Karmada APIServer cluster webhook?

<img width="1040" alt="image" src="https://user-images.githubuserconte

[2022-08-30 02:15] ladung opened #2444 "panic: runtime error: invalid memory address or nil pointer dereference"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version: 1.2.2
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
- Others:

[2022-08-30 02:16] ladung commented on #2444
When I run command `local-up-karmada.sh` , it have problem:

[code]

[2022-08-30 02:46] RainbowMango commented on #2444
Hi @ladung , I guess you are using Go 1.19(if not the case, please let me know).

There is an issue addressed at [here](https://github.com/cloudflare/cfssl/issues/1233).

Could you please run this script with `Go 1.18`?

By the way, we planned to update the default cfssl version to v1.6.2 by this week. After that, you can use Go1.19.

[2022-08-30 03:02] wxuedong opened #2445 "About the ResourceInterpreterWebhookConfiguration configuration property definition"
Configure as follows：

[code]

[2022-08-30 03:03] #2445 closed

[2022-08-30 03:10] wxuedong opened #2446 "About the ResourceInterpreterWebhookConfiguration configuration property definition"
Configure as follows：

[code]

`clientConfig:
      url: https://{{karmada-interpreter-webhook-example-svc-address}}:443/interpreter-workload `

‘{{karmada-interpreter-webhook-example-svc-address}} ’   Is it a webhook installed by default in the karmada cluster?

‘/interpreter-workload ’   What is the relationship between this path and workload?

‘ {{caBundle}}’   Is this configuration generated b

[2022-08-30 03:10] ladung commented on #2444
Hi @RainbowMango , I am using Go 1.17.2 `go version go1.17.12 linux/amd64` and it still trouble

[2022-08-30 03:20] RainbowMango commented on #2444
I'm not sure if Go1.17 works since our CI job are all running with Go1.18 now.
Can you try again with Go1.18?

By the way, what's the OS version you are using?

[2022-08-30 03:32] ladung commented on #2444
My OS is ubuntu 18.04.6, I used Go 1.18.5 but probblem not resolve!
[code]

[2022-08-30 03:42] RainbowMango commented on #2444
What's the cfssl version on your machine?
You can get it by command:
[code]

[2022-08-30 03:56] 1285yvonne opened #2447 "karmada-scheduler panic when WeightPreference undefined"
**What happened**: When I tested the feature`SpreadByRegion`, I found out that `karmada-scheduler` crashed all the time and resource couldn't be scheduled.

[code]

The error code is in `pkg/scheduler/core/spreadconstraint/group_clusters.go` :

[code]

**What you expected to happen**:  fix this bug.

**How to reproduce it (as minimally and precisely as possible)**: When configured the pp like this

[2022-08-30 04:04] ladung commented on #2444
Oh, I was not install `cfssl` before and it had this trouble. So when i installed `cfssl` by command `apt install golang-cfssl`, that work for me!
Thank you @RainbowMango  for supporting for me!
But i have other problem, ```Unable to connect to the server: net/http: request canceled (Client.Timeout exceeded while awaiting headers)```. What does this mean?

[2022-08-30 06:14] RainbowMango commented on #2444
I didn't meet this issue before. Please show more logs before and after this error, let me see what I can help with.

[2022-08-30 06:22] XiShanYongYe-Chang commented on #2446
Please see here: https://github.com/karmada-io/karmada/tree/master/examples

[2022-08-30 06:34] ladung commented on #2444
@RainbowMango it's here
[code]

[2022-08-30 07:52] 631068264 opened #2448 "How to use Bearer token to connect karmada proxy server"
**What happened**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
Follow this https://karmada.io/docs/userguide/globalview/aggregated-api-endpoint/ to write custom rbac.yaml

[code]

**Anything else we need to know?**:

**Environment**:
Karmada version: 1.2.1
kubectl-karmada or karmadactl version (the result of kubectl-karmada version or karmadactl version): karmadactl

[2022-08-30 08:49] lonelyCZ commented on #2448
Please try
[code]

[2022-08-30 09:03] XiShanYongYe-Chang commented on #2448
Make a try with the following ClusterRoleBinding:

[code]

[2022-08-30 09:07] 631068264 commented on #2448
@lonelyCZ I have tried it get similar error too，I forgot to say

[code]

[2022-08-30 09:12] 631068264 commented on #2448
@XiShanYongYe-Chang not work
[code]

[2022-08-30 09:15] XiShanYongYe-Chang commented on #2448
Sorry, I write it wrong.
[code]

[2022-08-30 09:16] XiShanYongYe-Chang commented on #2448
You can have a look with https://mp.weixin.qq.com/s?__biz=MzIzNzU5NTYzMA==&mid=2247497323&idx=1&sn=4dd7eb1966c7923a3317d036a385fd52#rd

[2022-08-30 09:33] 631068264 commented on #2448
好像有点用，但又不完全有 @XiShanYongYe-Chang

[code]

curl
[code]

[2022-08-30 09:43] XiShanYongYe-Chang commented on #2448
How about change:

[code]

to
[code]

[2022-08-31 01:18] #2447 closed

[2022-08-31 01:18] RainbowMango commented on #2447
Hi @1285yvonne, thanks for your information, @XiShanYongYe-Chang sent a PR(#2451) for this.

/assign @XiShanYongYe-Chang

[2022-08-31 01:32] 631068264 commented on #2448
just change
[code]

[code]

[2022-08-31 01:44] XiShanYongYe-Chang commented on #2448
Hi @631068264, thank you for trying so many times.
I'll probably be busy with something else now, let me come back in a couple of days and try to fix it.

[2022-08-31 01:44] XiShanYongYe-Chang commented on #2448
/assign

[2022-08-31 02:50] wxuedong opened #2452 "How to get Karmada ApiServer certificate"
I submit a resource in a way supported by K8s：

[code]

In fact, this resource has never really taken effect，view an event   `  Warning  ApplyPolicyFailed  10m (x2 over 10m)  resource-detector  No policy match for resource`

In this scenario, how can I use the CertificateSigningRequest resource to obtain the Karmada ApiSever certificate, or there are other ways to obtain the certificate.

[2022-08-31 04:19] lonelyCZ commented on #2448
Hi @631068264 , seemingly, you need to grant relative permissions to `ServiceAccount` in the member cluster.

Like
[code]

It seemingly only proxy the existing permission.

Refering https://mp.weixin.qq.com/s?__biz=MzIzNzU5NTYzMA==&mid=2247497323&idx=1&sn=4dd7eb1966c7923a3317d036a385fd52#rd

[2022-08-31 06:08] #2446 closed

[2022-08-31 06:08] #2438 closed

[2022-08-31 06:08] wxuedong commented on #2433
Thanks done

[2022-08-31 06:09] #2433 closed

[2022-08-31 06:38] 631068264 commented on #2448
@lonelyCZ 但是还是一样，没什么用。

之前确实是漏设置**member** 的sa
[code]

**host**
[code]

same error
[code]

[2022-08-31 06:48] lonelyCZ commented on #2448
[code]

需要给子集群中的sa配置访问资源的权限，你把下面这个配到子集群中试试 。我早上试了一下，是可以的

[code]

[2022-08-31 07:28] 631068264 commented on #2448
OK了  贴一下完整步骤

member-proxy-rbac.yaml
[code]

[code]

然后host
[code]

[code]

[2022-08-31 07:30] #2448 closed

[2022-08-31 07:39] lonelyCZ commented on #2452
Seemingly #2424 have fixed this issue. Related certificate Issue, you can also refer to #2282

[2022-08-31 08:22] #2452 closed

[2022-08-31 12:04] ikaven1024 commented on #2226
now restMapper discovers resource type only from controller panel. So only resources installed in karmada apiserver can be searched. I think we shall discover it from all the member clusters.

[2022-08-31 12:25] ikaven1024 commented on #2226
How about it. Guess the kind when NoMatchError occur. It's a quick fix, but not eventually.

[code]

[2022-08-31 12:33] XiShanYongYe-Chang commented on #2226
Hi @ikaven1024, I discussed this with @liys87x earlier: https://github.com/karmada-io/karmada/pull/2361#issuecomment-1211479465

How can we ensure correct resource gvr?

[2022-08-31 13:12] XiShanYongYe-Chang commented on #2281
I will continuously improve failover.
/close

[2022-08-31 13:12] #2281 closed

[2022-08-31 13:47] ikaven1024 commented on #2226
Yes, it's unsafe, but solving most cases. It's a temporary solution before finding a perfect one.

[2022-09-01 01:27] nuclearwu opened #2457 "Use argocd to create an application and propagate it through karmada, the application status has been in processing status"
**Please provide an in-depth description of the question you have**:
After using argocd to create an application and distribute it through karmada, the deployment status is normal, and the member cluster pod is also started normally, but the application status always shows processing.
![image](https://user-images.githubusercontent.com/37976659/187812245-d5374c97-96e0-4218-bb60-3b387b5fe82a.png)
![

[2022-09-01 01:39] RainbowMango commented on #2457
I guess this is the bug that we've fixed by #2256. The path is included in [release v1.2.2](https://github.com/karmada-io/karmada/releases/tag/v1.2.2), as well as in [release v1.3.0](https://github.com/karmada-io/karmada/releases/tag/v1.3.0).

Since you are using v1.2.1, I suggest you upgrade to v1.2.2.

[2022-09-01 01:42] nuclearwu commented on #2457
Thanks, I'll try the updated version

[2022-09-01 02:39] XiShanYongYe-Chang commented on #2226
The prerequisite for guessing resource names using this `UnsafeGuessKindToResource` method is that the user adheres to specific CRD naming conventions, which we may still need to explain in the documentation(or quote k8s instructions, but I can't find a clear rule description yet). My concern is that the current interim solution may become the final solution because no final solution can be found.

[2022-09-01 02:48] RainbowMango opened #2459 "Verify kyverno revert kubeconfig flag"
**What would you like to be added**:

- [ ] verify if Kyverno works as expected as per [Working with Kyverno](https://karmada.io/docs/userguide/security-governance/working-with-kyverno).
- [ ] Reform the docs and note that release-1.7 does not work for Karmada.

**Why is this needed**:
The --kubeconfig flag was deleted by Kyverno at release-1.7(by https://github.com/kyverno/kyverno/pull/3744 and h

[2022-09-01 03:08] Poor12 commented on #2459
/assign

[2022-09-01 03:29] 631068264 opened #2460 "mcs 服务不能通过derived-serve访问另一个集群"
**What happened**:
根据 这个https://karmada.io/docs/userguide/service/multi-cluster-service

应用部署到member1 ,运行正常
[code]

但是member2 访问不了
[code]

[code]

**What you expected to happen**:

mcs.yaml
[code]
部署

[code]

submariner 已经安装好了实际上也通过了https://submariner.io/operations/usage/#2-export-services-across-clusters测试
部署到member1然后
[code]
在member2 curl 是通的
[code]

Environment:
Karmada version: 1.2.1
kubectl-k

[2022-09-01 05:22] wxuedong commented on #2440
Thanks

[2022-09-01 05:22] #2440 closed

[2022-09-01 05:22] #2441 closed

[2022-09-01 05:31] wxuedong opened #2461 "Execute the webhook configuration example and cannot find the ca.crt file in the script"
The script cannot find the ca.crt file in my local execution document

[script](https://github.com/karmada-io/karmada/blob/master/examples/README.md#step2-deploy-webhook-configuration-in-karmada-apiserver)

But I found that there is a ca.crt file in the local /etc/karmada directory.

 Is it a document version problem or my local configuration problem?

Which directory should I use for the ca.crt f

[2022-09-01 05:44] #2461 closed

[2022-09-01 07:35] ikaven1024 opened #2463 "Add cluster annotation to proxying objects"
**What would you like to be added**:
When users read objects via proxy, add annotation `resource.karmada.io/cached-from-cluster` to objects.
Stay the same with search:
https://github.com/karmada-io/karmada/blob/d4da468dc301147977b4c44651482761795cf05d/pkg/registry/search/storage/cache.go#L114

**Why is this needed**:
Stay the same with search.

**question**
When user update objects, this annotatio

[2022-09-01 07:37] ikaven1024 commented on #2463
cc @XiShanYongYe-Chang what do you think about it.

[2022-09-01 07:37] ikaven1024 commented on #2463
cc @XiShanYongYe-Chang what do you think about it.

[2022-09-01 07:39] RainbowMango opened #2464 "Contribute custom health check for RB/CRB"
**What would you like to be added**:
Contribute health checks for [ResourceBinding](https://github.com/karmada-io/karmada/blob/74dab4429603eacae715569a9cf2786cff4d9364/pkg/apis/work/v1alpha2/binding_types.go#L40) and [ClusterResourceBinding](https://github.com/karmada-io/karmada/blob/74dab4429603eacae715569a9cf2786cff4d9364/pkg/apis/work/v1alpha2/binding_types.go#L309) API to the [ArgoCD project](

[2022-09-01 07:55] RainbowMango commented on #2463
Do you mean there is no such annotation for resources returned by proxy?
Sounds good to me if it is the case.

[2022-09-01 08:03] ikaven1024 commented on #2463
Yes, this annotation is not added in proxy now.

But when add it. Users will get objects with this annotation. while updating, this annotation will be updated to member clusters. It maybe a hack to member clusters.

[2022-09-01 08:23] ikaven1024 commented on #1949
Hi @wuyingjun-lucky proxy feature has released in v1.3.0. You can try it. Looking forward your feedback.

[2022-09-01 08:26] wuyingjun-lucky commented on #1949
OK  We will try it as soon as possible.

[2022-09-01 08:58] #2457 closed

[2022-09-01 09:09] XiShanYongYe-Chang commented on #2463
Can we filter it out when updating? It would be best if there was no additional impact on the resources in the cluster.

[2022-09-01 09:18] ikaven1024 commented on #2463
But what if this really exist in member cluster?

[2022-09-01 09:25] XiShanYongYe-Chang commented on #2463
Are you referring to the annotation whose key is `resource.karmada.io/cached-from-cluster`?

This key is used only on the Karmada control plane. I think it is unnecessary for member clusters to use this key annotation. If there is a misuse, it can be troublesome.

[2022-09-01 09:29] ikaven1024 commented on #2463
Get it. I will try it.

/assign

[2022-09-01 09:31] XiShanYongYe-Chang commented on #2463
@ikaven1024 Thanks!

[2022-09-02 04:56] carlory commented on #2464
/assign

[2022-09-03 06:19] jameszhangyukun commented on #2371
/assign

[2022-09-05 02:59] Poor12 opened #2472 "[umbrella]Karmada controller observability improvement"
**What would you like to be added**:

- [ ] karmada-scheduler: introduce more metrics for Key Steps in Scheduling. #2087
- [ ] karmada-controller-manager: introduce more metrics for Key Steps in Reconcile Loop.

**Why is this needed**:
For now, Karmada lacks the observability of individual components. On the one hand, we need metrics that can reflect the object status in the process of distributin

[2022-09-05 07:34] 631068264 commented on #2460
解决了，https://karmada.io/docs/userguide/service/multi-cluster-service/  这里面写得有问题

[2022-09-05 07:43] XiShanYongYe-Chang commented on #2460
哪里有问题，可以指出来或者提个pr

[2022-09-05 08:08] 631068264 commented on #2460
https://submariner.io/getting-started/architecture/service-discovery/  根据这里面说的关于
Lighthouse Agent和Lighthouse DNS Server的一些工作方式

- service import 根本不用手动部署，Lighthouse Agent已经帮你做了
[code]
- 跨集群访问得通过domain `clusterset.local`，需要访问这个curl serve.default.svc.clusterset.local

[2022-09-05 08:19] XiShanYongYe-Chang commented on #2460
Submarine和Karmada都对MCS API进行了实现，你所指的是Submarine中的实现，与Karmada的实现不冲突。

[2022-09-05 08:25] 631068264 commented on #2460
反正我按照官网走不下去，要不然就是Karmada有bug。

[2022-09-05 10:19] zanghao2 opened #2473 "Derived service can not found endpointSilces"
**Please provide an in-depth description of the question you have**:
I follow https://karmada.io/docs/userguide/service/multi-cluster-service/ this doc to deploy service between multi cluster.
When i finish i can not found endpointSlices from member1. The error from karmada controller is error: informer for discovery.k8s.io/v1, Resource=endpointsilces hasn't synced.
**What do you think about this

[2022-09-05 11:05] XiShanYongYe-Chang commented on #2473
Hi @zanghao2, currently, the endpointslices version used in karmada version is v1.

[2022-09-05 11:20] #2473 closed

[2022-09-06 03:56] #2059 closed

[2022-09-06 07:42] 631068264 commented on #2460
@XiShanYongYe-Chang 所以为什么不行呢？

[2022-09-06 08:03] XiShanYongYe-Chang commented on #2460
成员集群版本是多少呢？karmada MCS特性当前收集的EndpointSlice v1版本资源，可以到集群`member2`上看下是否有endpointSlice从`member1`上同步过来。

[2022-09-06 08:12] 631068264 commented on #2460
集群版本host member都是: v1.19.5+k3s2

kubectl --kubeconfig member2-config  get endpointSlice -A
NAMESPACE             NAME                                          ADDRESSTYPE   PORTS        ENDPOINTS               AGE
default               nginx-member1                                 IPv4          80           10.44.0.27              5d
default               serve-member1

[2022-09-06 08:16] XiShanYongYe-Chang commented on #2460
看上去没有同步成功，如果成功同步的化，会有`imported-`开头的endpointSlice，如：
![image](https://user-images.githubusercontent.com/78244870/188583071-b7f05921-badd-4ed7-ad15-0603060b3d8f.png)

EndpointSlice版本确认下是不是v1的呢（k8s集群1.21开始使用v1版本EndpointSlice）。

[2022-09-06 08:27] 631068264 commented on #2460
不是
[code]

[2022-09-06 08:29] XiShanYongYe-Chang commented on #2460
可以使用1.21以上的k8s集群再试试。

[2022-09-06 08:32] 631068264 commented on #2460
所以这个功能得1.21以上（EndpointSlice 是v1的）才能用？

[2022-09-06 08:38] XiShanYongYe-Chang commented on #2460
是的，文档需要说明下。

[2022-09-06 09:23] 631068264 commented on #2460
<img width="994" alt="image" src="https://user-images.githubusercontent.com/8144089/188598615-eeb89697-0b03-4362-86a4-f7ee612e58ce.png">
好了，只需要升级member集群就行了

[2022-09-06 09:25] XiShanYongYe-Chang commented on #2460
好的，感谢分享

[2022-09-06 09:26] 631068264 commented on #2460
还有个问题为什么不用同名svc  , 要加个derived前缀？  这个前缀可以改吗？

[2022-09-06 09:29] XiShanYongYe-Chang commented on #2460
加这个前缀是为了跟原有的service做区别，目前是硬编码，没搞成可配置的。

[2022-09-06 09:39] 631068264 commented on #2460
可以提个需求吗
- 是否允许同名svc
- 可配置的svc前缀

[2022-09-06 09:43] XiShanYongYe-Chang commented on #2460
对于同名的要求，已经有issue了：#2384。
对于可配置的svc前缀，这个可以做，想了解下你那边的使用场景是怎样的；另外，如果service同名达成的话，配置前缀可能不再需要了。

[2022-09-07 02:26] 631068264 commented on #2460
如果可以的话同名的话确实不用

[2022-09-07 02:27] 631068264 commented on #2460
https://karmada.io/docs/userguide/service/multi-cluster-ingress  这个host

[2022-09-07 02:31] XiShanYongYe-Chang commented on #2460
是的，MCI特性当前依赖MCS特性

[2022-09-07 02:32] #2460 closed

[2022-09-07 04:57] luoMonkeyKing opened #2476 "karmada-search cannot collect resource information of newly added clusters karmada-search cannot collect resource information of newly added clusters"
**What happened**:
I added a new cluster member3, but the resources in member3 cannot be queried through karmada-search
targetCluster configuration in ResourceRegistry：
[code]

karmada-search logs:
![image](https://user-images.githubusercontent.com/31637804/188791989-9712e4e2-539c-4bab-b02a-76d97aa8a47e.png)

**Environment**:
- Karmada version: v1.2.0

[2022-09-07 06:47] zhixian82 opened #2477 "karmada chart repo only contains v1.2.0"
only version v1.2.0 charts available on karmada chart repo:

[code]
please upload other versions(v1.2.1, v1.2.2, v1.3) to chart repo.

[2022-09-07 06:53] SZT0728 opened #2478 "access subCluster resource by aggragate-apiserver failed"
what is the impresonateToken? how can i solve the problem
`controller-0:~$ kubectl get --raw /apis/cluster.karmada.io/v1alpha1/clusters/k8s01/proxy/api/v1/nodes --kubeconfig=/etc/karmada/karmada-apiserver.config
`
**Error from server: failed to get impresonateToken for cluster k8s01: the impersonatorSecretRef of cluster k8s01 is nil**

[2022-09-07 06:58] RainbowMango commented on #2477
I just tried the same commands on my side, and I can see the latest version is `v1.3.0`.

[code]

I don't know what's going on, maybe @Poor12 can comment here.

[2022-09-07 07:13] #2478 closed

[2022-09-07 07:14] SZT0728 commented on #2478
ungrant permission to user system:admin
https://karmada.io/zh/docs/userguide/globalview/aggregated-api-endpoint/

[2022-09-07 07:18] 631068264 opened #2479 "mci 遇到504问题， service 部分是正常的"
**What happened**:
根据https://karmada.io/docs/userguide/service/multi-cluster-ingress

[code]

在host集群执行

[code]

nginx-controller log

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

mcs部分是正常的
<img width="996" alt="image" src="https://user-images.githubusercontent.com/8144089/188813597-b5c56eca-c033-4b5a-8124-30c6587de006.png">

[2022-09-07 07:29] zhixian82 commented on #2477
I can see *v1.3.0* with command:

[code]

but version *v1.2.2* still not found on repo

[2022-09-07 07:34] Poor12 commented on #2477
v1.2.x is not in our repo now. I'm not sure if helm chart need to sync the patch version. @RainbowMango

[2022-09-07 07:35] XiShanYongYe-Chang commented on #2479
Host集群的网络与成员集群网络有打通么？

[2022-09-07 07:39] XiShanYongYe-Chang commented on #2476
/cc @liys87x Can you help take a look? Have we not created an informer for the newly added cluster?

[2022-09-07 07:44] zhixian82 commented on #2477
we are using v1.2.2, please sync this version..

[2022-09-07 07:46] 631068264 commented on #2479
三个都是互通的，不过用pull模式

[code]

[2022-09-07 07:53] liys87x commented on #2476
@luoMonkeyKing @XiShanYongYe-Chang I'll follow this issue

[2022-09-07 07:55] XiShanYongYe-Chang commented on #2476
Thanks~

[2022-09-07 08:09] XiShanYongYe-Chang commented on #2479
确认下ingress-nginx-controller中nginx的配置，后端信息有没有正确刷上去。
可以和@luoMonkeyKing 交流下。

[2022-09-07 08:29] SZT0728 opened #2480 "access subCluster resources by the aggragate-apiserver failed"
here is my subClusters joined under karmada:
controller-0:~/shen/karmada-aggregate$ kubectl get cluster
**NAME    VERSION   MODE   READY   AGE
k8s01   v1.20.5   Push   True    4h49m
k8s02   v1.20.5   Push   True    4h49m**

and here is the **rbac.yaml** which grant admin permission:

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cluster-proxy-clusterrole
rules:
- api

[2022-09-07 08:45] XiShanYongYe-Chang commented on #2480
Hi @SZT0728, which Karmada and karmadactl versions do you use? Maybe you need to use the same version for them.

We will collect `impersonatorSecret` for every joined cluster, such as:

[code]

[2022-09-07 09:21] Poor12 commented on #2477
ok. We will sync soon.

[2022-09-07 09:33] 631068264 commented on #2479
[nginx.log](https://github.com/karmada-io/karmada/files/9504774/nginx.log)
nginx的配置

[2022-09-07 09:37] luoMonkeyKing commented on #2479
你的multi-ingress-controller是怎么部署的，自己构建的镜像吗？

[2022-09-07 09:41] 631068264 commented on #2479
参考dev-env.sh
<img width="1298" alt="image" src="https://user-images.githubusercontent.com/8144089/188846502-25e4e137-583f-45b9-ab4d-7e5e3893072e.png">

[code]

[code]

[2022-09-07 09:49] luoMonkeyKing commented on #2479
参考下这个pr看看[1925](https://github.com/karmada-io/karmada/pull/1925)

[2022-09-07 09:54] #2463 closed

[2022-09-07 09:55] 631068264 commented on #2479
。。。没觉得和我有什么不一样

[2022-09-07 10:01] XiShanYongYe-Chang commented on #2479
我们的MCI特性当前的实现其实就是将MCS收集到控制面中的EndpointSlice刷到ingress-nginx-controller的nginx配置中去，然后依赖nginx的负载均衡实现一个流量的转发。
从你的描述中来看，资源创建部分没看出什么问题，建议你使用kind集群模拟的方式先走通一遍流程，看看是不是访问方式的问题。

[2022-09-07 10:32] 631068264 commented on #2479
有个比较在意的。https://github.com/karmada-io/multi-cluster-ingress-nginx%E9%A1%B9%E7%9B%AE

里面的charts和官方的ingress-nginx-4.0.15.tgz是一样的吗？

[2022-09-07 10:37] luoMonkeyKing commented on #2479
不一样，有些yaml修改过了

[2022-09-08 02:43] XiShanYongYe-Chang opened #2486 "[umbrella] Use scale subresource to get or revise workload replica"
**What would you like to be added**:

As discussed in #1397,  the scale subresource can be used to obtain or revise the number of resource replicas, which prevents users from implementing interpreter webhook and reduces remote invocation.

- [ ] get replicas with scale subresource #1728
- [ ] revise replicas with scale subresource
- [ ] add e2e to coverage the cases

**Why is this needed**:

[2022-09-08 02:52] 631068264 commented on #2479
重新用multi-cluster-ingress-nginx的charts 部署还是报一样的错，nginx配置也有对应信息

但是host 到member应该是通的因为可以使用proxy api获取member信息

[code]

但是看错误应该是host的pod 调用member的pod超时，所以怀疑是kramada agent可能有点问题。里面有些error但不知道是否有关，**这个是创建上面的那些资源时候的触发的**

member1 log
[code]

member2 log
[code]

[2022-09-08 03:10] XiShanYongYe-Chang commented on #2479
proxy api走的是apiserver连接，不能证明host与member集群间容器网络连通的吧

host上pod调用member上pod是直接走容器网络，跟karmada-agent没有关系吧。

[2022-09-08 03:25] 631068264 commented on #2479
我以为karmada-agent就是做打通host和member容器网络的 根据这个https://karmada.io/docs/userguide/clustermanager/working-with-anp
<img width="842" alt="image" src="https://user-images.githubusercontent.com/8144089/189026578-52142c89-777a-4b30-8be8-ac09ed16c82c.png">

容器网络不通不是很正常嘛。。。。那mci怎么搞？member之间用submariner打通了，可以host和member没有。。。

[2022-09-08 03:41] XiShanYongYe-Chang commented on #2479
karmada-agent不负责打通容器网络。部署反向代理ANP是为了连通成员集群apiserver，与集群间容器网络没有关系。
使用MCI需要打通host与成员集群间容器网络，是集群间pod直连，不走apiserver代理。

[2022-09-08 06:10] #2477 closed

[2022-09-08 07:02] SZT0728 commented on #2480
both Karmada and karmadactl version are v1.2.0

when i join cluster i indicate the cluster-namespace  like `karmada-es-k8s01`.
[code]
and i access subcluster resources and get the error as belong:

[code]

[2022-09-08 07:45] 631068264 commented on #2479
最后搞好了，host上面也装上submariner-oprator， 最后强烈建议https://github.com/karmada-io/multi-cluster-ingress-nginx这个项目弄成直接安装的helm chart包，现有部署方式有点恶心，装完还要edit，镜像还要自己build

[2022-09-08 07:46] #2479 closed

[2022-09-08 07:50] XiShanYongYe-Chang commented on #2479
任务待做中，如果有意愿可以来贡献下。

[2022-09-08 08:06] XiShanYongYe-Chang commented on #2480
Hi @SZT0728, do you specify the namespace by the flag `--cluster-namespace`?

Currently, if other namespaces are specified(besides `karmada-cluster`), the unified authentication function may be unavailable. Currently, `karmada-cluster/karmada-impersonator` is used to grant permissions to users in the member cluster:

https://github.com/karmada-io/karmada/blob/665af6916a733da4cae2ce1dfb9321c264f114

[2022-09-08 08:41] SZT0728 commented on #2480
now the subCluster joined by call the golang api function as below:
[code]
and it's work well ~ thanks

[2022-09-08 08:58] cmicat opened #2487 "Support Deploy karmada-scheduler-estimator in Physical Machine"
# What Would You Like to Be Added

In the code of karmada-scheduler establish connection to karmada-scheduler-estimator, add the logic of handling ExternalName type Service. This will allow the connection establishment to work without kube-proxy.

# Why is This Needed

There should be two different ways to deploy Karmada:

1. Deploy in Physical Machine or Virtual Machine directly.
2. Deploy in Hos

[2022-09-08 09:03] XiShanYongYe-Chang opened #2488 "[karmada-search] search failed when get the node with proxy"
#### Which jobs are flaking:

https://github.com/karmada-io/karmada/runs/8243112587?check_suite_focus=true

#### Which test(s) are flaking:

[code]

#### Reason for failure:

#### Anything else we need to know:

This is supposed to be an occasional error.

[code]

[2022-09-08 09:03] XiShanYongYe-Chang commented on #2488
Hi @ikaven1024, can you help take a look, thanks a lot.

[2022-09-08 09:08] ikaven1024 commented on #2488
OK, i am looking into it.

[2022-09-08 09:11] ikaven1024 commented on #2488
I think it's because cache is not ready. I will add `gomega.Eventually` to this case.

[2022-09-08 09:18] XiShanYongYe-Chang commented on #2488
I agree with you, do we need to perform corresponding operations in other similar locations?

[2022-09-08 09:21] XiShanYongYe-Chang commented on #2488
/assign @ikaven1024

[2022-09-08 13:15] HariVamsiK commented on #2396
Hi
I want to work on this issue. Could you please assign it to me, it would be beneficial for my academics too.
Thanks

[2022-09-08 17:52] cleverhu opened #2492 "use karmadactl init failed and reports `nodePort of karmada apiserver 32443 already exist`"
**What happened**:
When I use karmadactl to init control-plane, but the image 'docker.io/alpine:3.15.1' can't be pulled, when I try to use `karmadactl init` init again, it failed and reports `error: nodePort of karmada apiserver 32443 already exist`

**What you expected to happen**:
I can use karmadactl init repeated and can be successfully.

**How to reproduce it (as minimally and precisely as po

[2022-09-09 01:14] XiShanYongYe-Chang commented on #2396
Hi @HariVamsiK, you can assign it by yourself with the command `/assign`

[2022-09-09 01:57] #2488 closed

[2022-09-09 02:01] yusank commented on #2396
Thanks a lot, looking forward!

[2022-09-09 02:10] yusank commented on #2486
/assign @yusank

[2022-09-09 02:47] XiShanYongYe-Chang opened #2495 "Use Cluster secret ref namespace in unified-auth-controller when generate ClusterRoleBinding"
**What would you like to be added**:

Introduce `cluster-namespace` flag for `karmada-controller-manager` component, so we can make it configurable to get the namespace in the control plane where member cluster secrets are stored.

**Why is this needed**:

As I analyzed in https://github.com/karmada-io/karmada/issues/2480#issuecomment-1240372168, `unified-auth-controller` need to use a configurabl

[2022-09-09 03:08] XiShanYongYe-Chang commented on #2495
However, when joining the cluster, we can set its own namespace for storing keys. As a result, namespaces may be inconsistent with each cluster.
Do we need to restrict this? If no constraint is imposed, we need to perform operations for each cluster in `unified-auth-controller`. In this way, adding a `cluster-namespace` flag for `karmada-controller-manager` component is not necessary.

[2022-09-09 03:09] XiShanYongYe-Chang commented on #2495
/cc @RainbowMango

[2022-09-09 03:15] XiShanYongYe-Chang commented on #2480
Hi @SZT0728, Let us use #2495 to track the problem we found in the issue.

I will close this issue first, when you encounter a new problem related to this, you can reopen it at any time, thanks.

/assign

[2022-09-09 03:15] XiShanYongYe-Chang commented on #2480
/close

[2022-09-09 03:15] #2480 closed

[2022-09-09 05:59] lonelyCZ commented on #2492
Right, that's always been a problem, If the process is failed, we only can firstly execute `karmadactl deinit`, and init again.

 Welcome! Thanks for your contribution, I will look it ASAP.

[2022-09-09 09:19] cleverhu commented on #2492
The e2e of the pr is failed for 1.24.2, can you help me to retrigger it?

[2022-09-09 09:20] cleverhu opened #2499 "E2E failed for 1.24.2"
**What happened**:
E2E failed for 1.24.2 for the last case.
<img width="533" alt="image" src="https://user-images.githubusercontent.com/51436614/189317078-104e4e10-d6f5-4678-af4d-7c3932bd1a90.png">

**What you expected to happen**:
It should be successful.

**How to reproduce it (as minimally and precisely as possible)**:
Pull a request

**Anything else we need to know?**:

**Environment**:
- Karm

[2022-09-09 09:22] cleverhu commented on #2499
It should be enhancement, I select the wrong label, could anyone help me to relabel or close the issue.

[2022-09-09 09:26] XiShanYongYe-Chang commented on #2499
Hi @cleverhu , I noticed this CI failing, and pull a request #2498 to fix it
/kind flake
/remove kind-bug
/assign

[2022-09-09 09:26] XiShanYongYe-Chang commented on #2499
/remove-kind bug

[2022-09-09 09:29] RainbowMango commented on #2492
Done.

[2022-09-09 12:27] vaishnavi-ramanujapuram commented on #2396
@yusank I would like to work on this issue. Could you please assign it to me?

[2022-09-09 12:37] yusank commented on #2396
Hi, you can assign by yourself using `/assign` command. I think there was someone else said that he want to fix this issue , maybe you can speak with him to make sure about it

[2022-09-09 12:49] vaishnavi-ramanujapuram commented on #2396
@yusank I wasn't able to assign it to myself. Can you assign?

[2022-09-09 12:57] yusank commented on #2396
/assign @vaishnavi-ramanujapuram

[2022-09-11 05:48] cleverhu opened #2504 "init failed and report `namespaces "karmada-system" already exists`"
**What happened**:
I install karmada controller-plane by `karmadactl init --kube-image-registry=registry.cn-hangzhou.aliyuncs.com/google_containers` , before execute this, I have tried `karmadactl deinit`.
The log of install is:
[code]
and the created resource is :
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2022-09-11 05:51] cleverhu commented on #2504
I found the namespace has been created before `InitKarmadaResources` in `i.CreateNamespace()`. And I tried `init` twice, It reported the same error. So the bug might be `inevitable`.

[2022-09-13 04:06] #2499 closed

[2022-09-13 07:37] zirain commented on #2392
ping @XiShanYongYe-Chang

[2022-09-13 07:37] zirain commented on #2393
ping @XiShanYongYe-Chang

[2022-09-13 08:22] XiShanYongYe-Chang commented on #2392
/assign

[2022-09-13 08:26] XiShanYongYe-Chang commented on #2392
For `ClusterRole` and `ClusterRoleBinding` resources, how about replacing the `:` with `-` when generating the name of ClusterResourceBinding?

[2022-09-13 20:44] fredgate opened #2512 "Namespaces should not be synced in all clusters"
**What would you like to be added**:
The cluster controller of karmada should not automatically create a new namespace in all the clusters. It should process like others resources.

**Why is this needed**:
Sometimes we want that some namspaces be created only in some clusters.
The namespaces should be created only if there is a `ClusterPropagationPolicy` referencing it, and the target clusters sho

[2022-09-14 01:14] XiShanYongYe-Chang commented on #2512
Hi @fredgate, thanks for your feedback!

Namespace automatically sync is controlled by `namespace` controller, we can disable it through `--controllers` flag, refer to [here](https://karmada.io/docs/administrator/configuration/configure-controllers#configure-karmada-controllers).

After disabling the `namespace` controller, we can propagate namespace resources like others.

[2022-09-14 01:40] hansongChina opened #2513 "fatal error: concurrent map iteration and map write"
**What happened**:
fatal error: concurrent map iteration and map write

**What you expected to happen**:
Running normally

**How to reproduce it (as minimally and precisely as possible)**:
Run 24 hours to find once, do not know how to reproduce
Below is the detailed error message

/root/workspace/karmada/vendor/k8s.io/apiserver/pkg/server/filters/timeout.go:100 +0x1dd
created by k8s.io/apiserver/p

[2022-09-14 02:06] XiShanYongYe-Chang commented on #2513
Hi @ikaven1024, can you help take a look?

[2022-09-14 02:43] ikaven1024 commented on #2513
/assign

[2022-09-14 02:51] ikaven1024 commented on #2513
The root cause is response objects are shared in cache. https://github.com/karmada-io/karmada/pull/2483 will deep copy objects from cache, this may help.
@hansongChina you can pick this PR and retry.

[2022-09-14 03:11] XiShanYongYe-Chang commented on #2513
@ikaven1024, maybe we need to cherry-pick #2483 to branch [release1.3](https://github.com/karmada-io/karmada/tree/release-1.3).

[2022-09-14 03:14] ikaven1024 commented on #2513
Agree, I will do it.

[2022-09-14 03:16] XiShanYongYe-Chang commented on #2513
Thanks! You can cherry-pick refer to https://karmada.io/docs/contributor/cherry-picks.

[2022-09-14 03:49] hansongChina commented on #2513
I've done that in the list get Watch method deep copy objects,
Can't seem to solve the problem。 @ikaven1024

[2022-09-14 04:03] XiShanYongYe-Chang commented on #2513
Hi @hansongChina, do you mean you've cherry-picked the related code before you run into this problem?

[2022-09-14 04:06] RainbowMango commented on #2512
Yes, just like @XiShanYongYe-Chang mentioned above. The Karmada's `namesspace controller` is a `helper` controller which automatically syncs namespaces from the Karmada control plane to all registered clusters.

By the way, [system-reserved namespaces ](https://karmada.io/docs/reference/reserved-namespaces) won't be synced.

Is there any particular reason that this behavior is unacceptable in your

[2022-09-14 04:12] RainbowMango commented on #2513
Are you using v1.3.0?

[2022-09-14 04:37] hansongChina commented on #2513
yes ！

[2022-09-14 04:41] hansongChina commented on #2513
We added，not cherry-picked the related code， not deep copy can cause an invalid resource version bug。

[2022-09-14 04:49] ikaven1024 commented on #2513
Do you mean updating object cause `invalid resource version` bug? This is fixed in https://github.com/karmada-io/karmada/pull/2469
https://github.com/karmada-io/karmada/blob/a7a944a1a5a7de07291363ead0f1a0015819c4bd/pkg/search/proxy/cluster_proxy.go#L116

[2022-09-14 04:50] ikaven1024 commented on #2513
@hansongChina could you show your modifications?

[2022-09-14 06:17] hansongChina commented on #2513
yes This is also a bug ，but this not updating, get method， If you don't add deep copy ，Using the same pointer in cache and changing the annotation value will affect cache。
![image](https://user-images.githubusercontent.com/7590000/190074262-989f1c4d-db2a-4152-a702-b734692a1fcc.png)

[2022-09-14 07:08] XiShanYongYe-Chang commented on #2495
We use `karmada-cluster` namespace directly in `unified-auth-controller`:

https://github.com/karmada-io/karmada/blob/21282fd1832b225892130654c4715de452de3e28/pkg/controllers/unifiedauth/unified_auth_controller.go#L161

[2022-09-14 07:11] ikaven1024 commented on #2513
The code you show is `watch` method. Objects in event are deep copied in https://github.com/karmada-io/karmada/blob/614e28508336d6c03a938ce1bf0678dafef034f0/vendor/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L1289-L1303.

For `get` method, object is deep copied: https://github.com/karmada-io/karmada/blob/21282fd1832b225892130654c4715de452de3e28/pkg/search/proxy/store/multi_cluster_cache.go#L139-

[2022-09-14 07:20] fredgate commented on #2512
Thanks @RainbowMango for your response.

Yes there is a reason why this behavior is annoying to me. Here is my case, but I think that it can be quite common.
I use Karmada with Flux toolkit to synchronize resources (mainly HelmReleases) accross multiple clusters. Let's say that I have one cluster by customers. I have some namespaces that allow to deploy core services common to all customers. But I

[2022-09-14 07:23] hansongChina commented on #2513
Ok, I got it. I'll be running around watching your code when it merges into the 1.3.0 BRANCH

[2022-09-14 07:52] RainbowMango commented on #2512
@fredgate I got you! That makes sense to me. The default behavior shouldn't be annoying.

I added an agenda to the next community meeting. If no objections we can do it in the next release(should be included in v1.4.0). But before that, I suggest you can [configure the controllers](https://karmada.io/docs/administrator/configuration/configure-controllers#configure-karmada-controllers) to disable i

[2022-09-14 08:26] chaunceyjiang commented on #2378
Hi, @YueHonghui @RainbowMango   I found that the [existing hpa proposal](https://github.com/karmada-io/karmada/blob/master/docs/proposals/hpa/federated-hpa.md) also strongly depend on the stability and performance of the control plane.

According to the description in the [proposal](https://github.com/karmada-io/karmada/blob/master/docs/proposals/hpa/federated-hpa.md), we use the [resource interpr

[2022-09-14 09:21] RainbowMango commented on #2504
Hi @cleverhu
Could you please tell us how to reproduce this issue in detail?
I remember `karmada init` works after `karmada deinit`. Yeah, I didn't try on v1.3.0.

[2022-09-14 09:45] ikaven1024 commented on #2513
@hansongChina could you show the running goroutines below the panic in log. I want to know who is writing the map.

[2022-09-14 13:31] cleverhu commented on #2504
My karmadactl version is `karmadactl version: version.Info{GitVersion:"v1.3.0", GitCommit:"12e8f01d01571932e6fe45cb7f0d1bffd2e40fd9", GitTreeState:"clean", BuildDate:"2022-08-31T13:09:22Z", GoVersion:"go1.18.3", Compiler:"gc", Platform:"linux/amd64"}`, you can execute ` karmadactl init --kube-image-registry=registry.cn-hangzhou.aliyuncs.com/google_containers` to start control-plane. Then execute `

[2022-09-14 13:34] cleverhu commented on #2504
If you execute `karmadactl init` twice and will find the error of `error: nodePort of karmada apiserver 32443 already exist` reported and I also pull a request to fix it.

[2022-09-14 21:35] fredgate commented on #2512
It would be perfect.

It seems to me that if i disable the namespace controller in karmada manager, it has no effect other than not propagate namespaces in all clusters. So it can be a work around.
However I use the Helm chart to install Karmada, and it has no option to choose the controllers of the karmada manager. If you want I can open an issue for that and provide a pull request.

We use Flux

[2022-09-15 01:07] RainbowMango commented on #2504
which way we are talking about?

[2022-09-15 01:39] RainbowMango commented on #2512
Sure, please send a PR for it, we appreciate that.

I didn't understand, I think after you disable the namespace controller, you need to propagate the namespace by creating the `ClusterPropagationPolicy`.

[2022-09-15 03:38] yusank commented on #2486
To avoid code conflict, wait for PR #1728 merges, after that will submit code for `revise replicas with scale subresource` and `e2e test`

[2022-09-15 06:10] cleverhu commented on #2504
The content of this pr fix is that the `deinit` execute uninstall cleanly which results in only excute rm `etcd data` , we can install successfully again.

[2022-09-15 06:56] RainbowMango commented on #2504
Thanks @cleverhu. I reproduced it on my side.

[code]

First-time installation, it works fine.
[code]

[code]

[code]

And after de-init, the namespace `karmada-system` has been cleaned up too.
[code]

Then, the error raised when re-initing:
[code]

@cleverhu Do you mean the root cause is `deinit` not cleaning the etcd data?

[2022-09-15 07:09] RainbowMango commented on #2504
@yy158775 Could you please take a look and try to figure out the root cause?

[2022-09-15 09:17] cleverhu commented on #2504
Yes

[2022-09-15 09:18] cleverhu commented on #2504
The other pr that service port exists is for local cluster.The issue likes more a virtual cluster bug.

[2022-09-15 09:26] yy158775 commented on #2504
I agree with @cleverhu, the default cause is that etcd data is persistent on the host.
[code]
So once deinit and init again,namespace karmada-system has existed in context karmada-apisever.

But when I use v1.2.1 karmadactl,it doestn't has such problem.I find this issue https://github.com/karmada-io/karmada/pull/2191 change the parameter "etcd-storage-mode" to hostPath. So this problem occur in th

[2022-09-15 09:33] yy158775 commented on #2504
I think we don't need to create namespace karmada-system in karmada-apiserver when using the existed etcd data. But we need to think how to classify these two scenarios,using existed etcd data or create new ectd data storage.

[2022-09-15 10:06] RainbowMango commented on #2504
Yeah, I remember it works in previous version. Thanks for pointing it out, maybe we need to pick this patch for release-1.3.

[2022-09-15 10:29] cleverhu commented on #2504
I'm wrong at first, the cause for it is `InitKarmadaResources` which connects to the `controler-plane` and the resources exists in the `etcd`. Not caused by `i.CreateNamespace()`. The funcs of them operates differents resources in
[code]
[code]
I'm so sorry that It has caused some misunderstanding. In fact, I have found that it is caused by the etcd data for a long time, but this comment has not b

[2022-09-15 13:09] XiShanYongYe-Chang commented on #2495
/assign

[2022-09-15 17:04] cleverhu commented on #2492
This might result a new error:
[code]
There I closed the issue.

[2022-09-15 17:04] #2492 closed

[2022-09-16 03:23] ikaven1024 opened #2518 "[umbrella] Karmada proxy performance improve"
We have benchmark test for proxy feature of karmada-search. This issue reports the test result, and tracks the improvement works.

#### Test Enviroment
- 1000 clusters
- 2 millions pods

#### Test Records
- Cache building duration: 1m18s
- CPU cost:  6-12C
- Mem cost:  140G
- request duration:

      Name                  | N      | Min     | Median  | Mean    | StdDev  | Max
      ===============

[2022-09-16 03:51] #1866 closed

[2022-09-16 03:58] RainbowMango commented on #2518
Good job!
Looking forward to improvements~~

[2022-09-16 09:38] fredgate commented on #2512
I will test a change in the Karmada helm chart, and then I will submit a PR. I will add a value to choose controllers. Could you tell me what are the default controllers executed by the karmada manager.

I will test to disable the namespace controller and then to add a `ClusterPropagationPolicy` for each namespace that I want to synchronyze in one or more clusters. Does this controller have other

[2022-09-16 09:57] ikaven1024 opened #2521 "run hack/local-up-karmada.sh with environment CHINA_MAINLAND=true fail: sed: can't read : No such file or directory"
**Task description**:
[code]

**Solution**:

`sed -i ''` is invalid on GNU sed, change it to `sed -i''` (delete space after -i)

[code]

**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,
they should be ready to move on to `help want

[2022-09-16 10:18] mrningyang commented on #2521
/assign

[2022-09-16 10:19] mrningyang commented on #2521
/assign

[2022-09-17 03:15] RainbowMango commented on #2512
You can get the whole controller list from:
https://github.com/karmada-io/karmada/blob/62a4b4391f1051ca3a1035d067e15f0a3c35ec03/cmd/controller-manager/app/controllermanager.go#L173-L186
These controllers (except `hpa`) are enabled by default(`--controllers=<empty>`).
If people want to disable one of them, then he/she can set the flag like `--controllers=-<controller-name>`.
If people want to disab

[2022-09-17 03:16] RainbowMango commented on #2512
No worries, this controller is very simple, with no coupling features with other controllers.

[2022-09-17 03:29] #2495 closed

[2022-09-17 03:55] RainbowMango commented on #2521
Does this change also work on Mac OS?  I remember something different between Linux and Mac.

[2022-09-17 04:36] ikaven1024 commented on #2521
Yes, for Mac OS, both `sed -i ''` and `sed -i''` are OK.

[2022-09-17 10:36] carlory opened #2525 "Don't auto distribute custom namespace which karmada component is deployed"
**What happened**:

I installed karmada on the demo namespace, when adding a cluster, the demo namespace is automatically created by `karmada namespace controller`on all member clusters.

karmada ns list (when karmada deploy demo ns):

[code]

**What you expected to happen**:

I just want to deploy karmada components on the demo namespace, but don't want to distribute the demo namespace by default

[2022-09-17 10:37] carlory commented on #2525
FYI: https://github.com/karmada-io/karmada/blob/master/pkg/controllers/namespace/namespace_sync_controller.go#L85

[2022-09-17 11:08] carlory opened #2526 "[Umbrella] Support configure estimator address for karmada Scheduler & Descheduler"
**What would you like to be added**:

karmada scheduler & descheduler component introduce a new flag named `scheduler-estimator-service-prefix`.

[code]

Iterated task:

- [ ] karmada scheduler component introduce a new flag named `scheduler-estimator-service-prefix`
- [ ] karmada descheduler component introduce a new flag named `scheduler-estimator-service-prefix`.
- [ ] modify karmada charts

**

[2022-09-17 11:11] carlory commented on #2526
/assign

[2022-09-17 12:02] Garrybest commented on #2526
I believe it's a significant work.

[2022-09-18 05:33] rahul3002 commented on #1976
hey I'm new here if this issue is open I would like to contribute this issue

[2022-09-18 05:34] rahul3002 commented on #2521
hey I'm new here i would like to contribute to this issue

[2022-09-18 12:48] YueHonghui commented on #2378
The critical path(autoscaling) of the HPA in the member cluster doesn't depend on the stability of the control plane. Suppose that the webhook or karmada is down, the retain process will fail, but the replicas of workload in the member cluster won't be overwritten by karmada at the same time. That is, the replicas of the workload in the member cluster will be retained if the webhook works properly

[2022-09-18 13:38] chaunceyjiang commented on #2378
Yes, I know, my [proposal](https://github.com/karmada-io/karmada/pull/2484) can also guarantee this.

If webhook is used, will the control plane frequently send http requests to the webhook server?

[2022-09-19 02:49] mrningyang commented on #2521
sorry，this task has been assigned to me，you can look at other tasks，thanks

[2022-09-19 06:20] RainbowMango commented on #2525
Seems this is another side effect of `namespace` controller, in addition to #2512.

So, what's your point? What do you think we should do?

[2022-09-19 07:29] RainbowMango commented on #2526
I don't get it. What do you mean `multiple karmada instances are deployed under the same namespace` ?

[2022-09-19 07:38] RainbowMango commented on #1976
Thanks @rahul3002 for asking. I don't think this issue tracks a real task now.
I'm going to close this. Please reminds me if I missed anything.
/close

[2022-09-19 07:38] #1976 closed

[2022-09-19 07:51] zhoulouzi commented on #1035
unjoin 可用吗？ 也遇到相同问题

[2022-09-19 08:06] wuyingjun-lucky opened #2537 "Karmada init failed when k8s master (node) IP can not be connected by karmadactl"
**What happened**:
Karmadactl init failed when k8s master (node) IP can not be connected by karmadactl but karmadactl can connected to the host cluster with kubeconfig
**What you expected to happen**:
Karmadactl init succeed when k8s master (node) IP can not be connected by karmadactl but karmadactl can  connected the host cluster with kubeconfig

**How to reproduce it (as minimally and precisely

[2022-09-19 08:09] wuyingjun-lucky commented on #2537
Can we generate the karmada apiserver ip by the host cluster api server host and karmada apiserver port ?
It now use the host cluster master | node ip.

[2022-09-19 08:34] wuyingjun-lucky commented on #2537
sudo ./kubectl-karmada init --kube-image-mirror-country=cn
I0919 16:32:45.966506     400 deploy.go:145] kubeconfig file: /Users/wuyingjun/.kube/config, kubernetes: https://kubernetes.docker.internal:6443
I0919 16:32:45.996183     400 deploy.go:165] karmada apiserver ip: [192.168.65.4]
I0919 16:32:47.873043     400 cert.go:229] Generate ca certificate success.
I0919 16:32:47.947931     400 cert.go:

[2022-09-19 08:36] wuyingjun-lucky commented on #2537
host cluster config host
[code]

[2022-09-19 08:37] wuyingjun-lucky commented on #2537
[code]

[2022-09-19 08:39] #2521 closed

[2022-09-19 10:49] RainbowMango commented on #1035
@zhoulouzi 你现在用的什么版本，执行了具体什么操作，出现了什么非预期的现象？

[2022-09-19 12:55] lonelyCZ commented on #1035
对于PULL模式的子集群，如果状态为`Unknown`, 这时候必须要手动把所有分发给该集群的`Work`资源先删掉（通过`kubectl edit`每个`Work`，删掉以下内容）

[code]

[2022-09-19 13:04] lonelyCZ commented on #2537
Yes, currently karmadactl directly use the `NodePort` service mode to export `karmada-apiserver`, we may need to provide a custom way.

[2022-09-19 15:09] carlory commented on #2526
@RainbowMango

there are two karmada instance in the same namespace, but only one scheduler estimator service is allowed. becasuse the scheduler and descheduler of two karmada will connected to the same estimator according to the existing logic.

[code]

I expect that the scheduler allow user to specify estimator address by service prefix.

[code]

[2022-09-19 15:57] carlory commented on #2525
When karmada is deployed in the demo namespace, the namespace list of karmada is obtained, and the result is as follows:
[code]

The reserved karmada-system namespace is disappear. For end users, the demo namespace is regular, there're no difference compared to some namespace created by users. so the demo maybe deleted by user. If the demo namespace is gone, the karmada will be broken, because the

[2022-09-19 18:08] fredgate commented on #2512
I just created a PR to configure the controllers with the Helm chart.

But I wonder about the usefulness of the namepsace controller. Why unlike other resources, namespaces are synchronized automatically and not when referenced in a `ClusterPropagationPolicy` ?

[2022-09-20 01:48] RainbowMango opened #2543 "Fix a typo(Registeration) in CLI"
**Task description**:
Just found a typo in `karmadactl` usage, the `Registeration` should be `Registration`:
[code]

**Solution**:
Just replace `Registeration` with `Registration`, like:
[code]
**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good fir

[2022-09-20 02:02] RainbowMango commented on #2537
I guess you mean, now we get the node addresses as the `karmada-apiserver` address:
https://github.com/karmada-io/karmada/blob/d81f0ff97c5fa98f3e976268d63ef5cd7e53dc2c/pkg/karmadactl/cmdinit/kubernetes/node.go#L44-L49

I'm not sure. Just a reminder, we need to access the karmada-apiserver during the installation process, the provided `host` IP should be accessible by karmadactl.

[2022-09-20 02:19] wuyingjun-lucky commented on #2537
Yes
The `karmadactl` can access the one of the host ip in our environment we call it `管理IP` in chinese. But the karmadactl finally use the node ip that named `业务IP` and was not accessible by karmadactl to generate karmada config.
And other secene was  that we use proxy ip or lb ip to access host cluster.

[2022-09-20 02:27] RainbowMango commented on #2537
I get it.
I see there is a `--apiserver-advertise-address` in `kubeadm init`, can we introduce a similar flag?
[code]

[2022-09-20 02:29] wuyingjun-lucky commented on #2537
Actually I resolve it by this similar way

[2022-09-20 02:31] wuyingjun-lucky commented on #2537
/assign

[2022-09-20 02:46] RainbowMango commented on #2526
With the proposed prefix, you can let one of the karmada-scheduler connects to like `demo1-estimator` and another connects to `demo2-estimator`. Am I right?

I wonder if this is a normal use case, that deploys more than one Karmada control plane in one namespace? Or just a demo?

[2022-09-20 02:55] jeffeylan commented on #2543
/assign

[2022-09-20 02:55] RainbowMango commented on #2525
I'm not sure I fully understand your points.
I guess you mean Karmada can be installed in any customized namespaces(like, `demo`), for now, we don't take the `demo` namespace as `reserved` namespaces.

I don't know how we can identify if a namespace is used to hold Karmada system components. If we can, yes, we can put it into the reserved namespaces too, so that it will be prevented from propagati

[2022-09-20 03:24] RainbowMango commented on #2512
Thanks a lot, we are woking on the PR.

Good question. The `namespace` controller is more like a `helper` controller, it allows you don't need to care if a namespace is created or not when propagating workloads, especially when you need to propagate plenty of workloads to the same namespace, with this controller, you don't need to write the rule for the namespace again and again in `ClusterPropaga

[2022-09-20 04:12] cmicat commented on #2487
/assign

[2022-09-20 06:41] mrningyang opened #2546 "I think we should enhance the feature of promote, to support migrate resources to the control plane without create propagationpolicy automatically."
**What would you like to be added**:
I want to add a new option for the feature of promote to support skip create PP automatically.

**Why is this needed**:
I think the  feature of promote is not  very practical，it can hardly be used in a production environment.  when we use promote to migrate resources to the control plane,  it will create resource in control plane firstly,  and create a default

[2022-09-20 07:18] ikaven1024 commented on #2518
### Why list spend much time?
In the listing test, `ResourceVersion` is set to be `0`, objects will be returned from local cache in Cacher.
[code]

But in cache `limit` doesn't work (see as below), and returns all the objects, almost 10 thousands pods in one member cluster cache, rather than 500. So it spends too much time on converting and transferring large data.

https://github.com/karmada-io/k

[2022-09-20 07:32] chaunceyjiang commented on #2546
I think this is a very good idea.

[2022-09-20 07:57] #2543 closed

[2022-09-20 09:17] ikaven1024 commented on #2513
Sorry i forgot to tell you these commits had been merged into 1.3.0 branch.

[2022-09-20 11:58] RainbowMango commented on #2487
I missed this from my radar. Would like to talk about it at the next community meeting? (if so, please remember to add an agenda)

[2022-09-20 12:07] RainbowMango commented on #2546
Good point. Maybe another approach is to let `promote` accept a PP which is created by the user or by previous promotion.
(For now, PP is not allowed to edit the `.spec.resourceSelector`, we are going to disable the restriction.)

[2022-09-20 12:08] RainbowMango commented on #2546
Maybe we can create the PP first. cc author @lonelyCZ for comment.

[2022-09-20 12:22] RainbowMango commented on #2518
Good job!

Where is the test code?

[2022-09-20 12:27] ikaven1024 commented on #2518
It's still in my fork repo:
https://github.com/ikaven1024/karmada/blob/benchmark/test/benchmark/search_test.go#L90

[2022-09-20 12:35] XiShanYongYe-Chang commented on #2518
Do we need to pull the test code as well?

[2022-09-20 13:30] loicalbertin opened #2553 "run hack/local-up-karmada.sh behind an HTTP proxy"
:wave: Hi all!

I'm evaluating Karmada in an environment that access to the internet through an HTTP proxy.

When running `hack/local-up-karmada.sh` I'm facing an error when building docker images. Basically `apk add` fails when trying to download packages.

To workaround this I added a `DOCKER_BUILD_ARGS` variable to [`hack/docker.sh`](https://github.com/karmada-io/karmada/blob/ab889889faa84b5a1c

[2022-09-20 13:37] YueHonghui commented on #2378
What if only Fed-HPAController is down?

I think this issue is not the right place to discuss these two proposals. In my opinion, the main difference between these two proposals is how to solve the overwritten replicas. So I suggest creating a PR for the [existing federatedhpa proposal](https://github.com/karmada-io/karmada/blob/master/docs/proposals/hpa/federated-hpa.md). Then, we can discuss it

[2022-09-21 03:13] cmicat commented on #2487
Do you want me to tell why we need to deploy Karmada in Physical Machine directly without relying on host Kubernetes Cluster?

[2022-09-21 04:07] MrSumeng opened #2556 "override plaintext json marshal error when i add a label or annotations"
**What happened**:
I change the test example of the overridemanager_test.go TestGetMatchingOverridePolicies
[code]
Besides, I didn't do anything, but it happened that:
[code]
**What you expected to happen**:

I want know what the way to add labels or annotations and how about edit the yaml when i want to add labels or annotations with plaintext.

**How to reproduce it (as minimally and precisely a

[2022-09-21 04:26] chaunceyjiang commented on #2556
Maybe this can help you.
https://github.com/karmada-io/karmada/blob/master/samples/guestbook/guestbooks-overridepolicy.yaml#L18-L20

[2022-09-21 04:55] MrSumeng commented on #2556
Thanks. I modified the test case again with you suggest, so it can pass now.
[code]

[2022-09-21 06:05] ikaven1024 commented on #2518
pull it in: https://github.com/karmada-io/karmada/pull/2557

[2022-09-21 09:56] luoMonkeyKing opened #2558 "when deleting labels in workload annotations, member clusters are not deleted together"
**What happened**:
when deleting labels in workload annotations, member clusters are not deleted together,but the annotations in the work have been updated.
Add and modify operations are normal.

**Environment**:
- Karmada version: 1.3
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`): 1.3
- Others:

[2022-09-21 11:47] RainbowMango commented on #2553
Maybe we can pass the variable from Makefile to `hack/docker.sh`.
https://github.com/karmada-io/karmada/blob/ab889889faa84b5a1c1ad89241862b642b3cfb4c/Makefile#L72
and
https://github.com/karmada-io/karmada/blob/ab889889faa84b5a1c1ad89241862b642b3cfb4c/Makefile#L91

[2022-09-21 11:50] RainbowMango commented on #2553
@ikaven1024 How do you say?
It is the first I've heard that build images behind a proxy. I'm not sure if it is a common case.

[2022-09-21 11:58] RainbowMango commented on #2487
Sounds like a reasonable feature, but I'm not sure the reason why deploy Karmada in `Physical Machine`. What's the use case here?
also, cc estimator author @Garrybest for comments.

[2022-09-21 12:04] RainbowMango commented on #2556
Thanks @chaunceyjiang for your answer.
I think we can close it now according to @MrSumeng feedback above.

I'm thinking if there is a need to introduce overriders for `annotation` and `label`? Then people don't need to write the json path, just like what we did, like `ImageOverride`, `CommandOverrider`, `ArgsOverrider`:

https://github.com/karmada-io/karmada/blob/ab889889faa84b5a1c1ad89241862b642b

[2022-09-21 12:08] RainbowMango commented on #2556
/close
By the way, I added an agenda to [the next community meeting](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit?pli=1#heading=h.odpkzh6pzm1j).

[2022-09-21 12:08] #2556 closed

[2022-09-21 12:39] loicalbertin commented on #2553
Well, actually env vars are already automatically passed through the Makefile, no changes needed here.

[2022-09-21 12:40] RainbowMango commented on #2558
Can you tell us how to reproduce it?

[2022-09-21 12:43] loicalbertin commented on #2553
Well it's a quite common (and painful) case when working on premises in companies that forbid direct access to internet.

[2022-09-21 12:52] RainbowMango commented on #2553
You are right. But all environment variables now are passed from Makefile, I guess it(define a variable in Makefile) would be better to customize the values when they run `make` commands.

Similarly, since we are using `hack/local-up-karmada.sh`, should we introduce variables to the script as well?
The variable passed path would be `hack/local-up-karmada.sh` --> `Makefile` --> `hack/docker.sh`.

A

[2022-09-21 12:54] RainbowMango commented on #2526
ping @carlory , any comments for my question above?

[2022-09-21 12:57] loicalbertin commented on #2553
Ok thanks for the clarification.
So the question is: does it worth to expose this new variable for this usecase?

[2022-09-21 14:38] carlory commented on #2526
@RainbowMango

yes.

It is just a demo.  We should allow this extension, rather than hard-coding it, to limit this behavior from happening.

[2022-09-22 01:34] RainbowMango commented on #2553
I don't know much about the `--build-arg` before, but after I went through the [documents](https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg),
I think it's reasonable. Would you like to send a PR for this? I think the new variable should be empty.

[2022-09-22 02:14] chaunceyjiang commented on #2556
+1

[2022-09-22 02:38] chaunceyjiang commented on #2378
ok.

[2022-09-22 02:43] Poor12 commented on #2378
This issue is task decomposition based on existing proposals. Since the plan still needs to be discussed in detail, I'll close it.

[2022-09-22 02:43] #2378 closed

[2022-09-22 02:46] RainbowMango commented on #2526
I agree, but I'd hesitate to do it now since we don't have a clear use case yet.

@Garrybest You mentioned it's a `significant work`, can you explain more about it?

[2022-09-22 02:49] Garrybest commented on #2487
I believe you should use headless service if you have a external IP for estimator.

[Here](https://kubernetes.io/docs/concepts/services-networking/service/#externalname) is what I found.

AFIAK, when you specify `externalName` as a IP address, the resolve will not take effect as it is not a `CNAME` record. I'm afraid it's correct to use a headless service and create a endpoint manually here. Here

[2022-09-22 02:49] XiShanYongYe-Chang commented on #2518
Just a question: Does the list need to be obtained from the member cluster by proxy? Not cache in the control plane?

[2022-09-22 02:57] MrSumeng commented on #2556
+1
I found that, if the resource label or annotation is nil, we can use this way add it:
[code]
However,  if  the resource label or annotation is not nil, we use this way add it, it will be replaced.
[code]
before
<img width="941" alt="image" src="https://user-images.githubusercontent.com/24208988/191646278-9b5e69fd-e780-4bcd-9431-6d8026338ee2.png">
after
<img width="935" alt="image" src="https://

[2022-09-22 03:12] ikaven1024 commented on #2553
Yes, we should add the build args to these two places:

https://github.com/karmada-io/karmada/blob/48d9ed11a1f7b36a473a1979fe9b9dfc9cb80aca/hack/docker.sh#L57-L60

https://github.com/karmada-io/karmada/blob/48d9ed11a1f7b36a473a1979fe9b9dfc9cb80aca/hack/docker.sh#L77-L82

[2022-09-22 03:14] RainbowMango commented on #2556
I get it, the operation `add` actually acts like `replace`, right?
When you try to `add`(append) a new annotation, it actually would replace the whole `annotation`, which means the original annotations will be dropped.

[2022-09-22 03:17] RainbowMango commented on #2553
@ikaven1024
As I [mentioned above](https://github.com/karmada-io/karmada/issues/2553#issuecomment-1253668305), I think we should add the variable to both `Makefile` and `hack/local-up-karmada.sh` as well, are you ok with that?

[2022-09-22 03:19] ikaven1024 commented on #2518
I think we should keep the semantics of resourceVersion. When list with resourceVersion unset, query from backend, just as single cluster do.

resourceVersion unset | resourceVersion="0" | resourceVersion="{value other than 0}"
-- | -- | --
Most Recent | Any | Not older than

[2022-09-22 03:22] XiShanYongYe-Chang commented on #2518
This is the logic of the current search code, right?

[2022-09-22 03:22] Garrybest commented on #2526
Yes, I was thinking about the prefix could be configurable. Now we use a immutable name rule here for estimator.

Well, it would be better to provide a real user case so far.

[2022-09-22 03:24] ikaven1024 commented on #2518
This logic is actually implemented in `Cacher`, we cannot change it.
https://github.com/karmada-io/karmada/blob/614e28508336d6c03a938ce1bf0678dafef034f0/vendor/k8s.io/apiserver/pkg/storage/cacher/cacher.go#L626-L628

[2022-09-22 03:25] MrSumeng commented on #2556
Yes. your understanding is very correct.

[2022-09-22 03:29] ikaven1024 commented on #2553
I prefer NOT add the variable to `Makefile` and `hack/local-up-karmada.sh`, just like we don't expose `GOPROXY` and other variables in underlying scripts.

[2022-09-22 03:33] XiShanYongYe-Chang commented on #2518
Ok. I got it, thanks~
Before that, I've always had a misconception that `Cacher` refers to caching in the search component.

[2022-09-22 03:41] chaunceyjiang commented on #2558
Hi, @luoMonkeyKing
I guess you mean that you have deleted a field in the annotation, but the annotation in the member cluster has not been deleted.

This is expected behavior.

https://github.com/karmada-io/karmada/blob/48d9ed11a1f7b36a473a1979fe9b9dfc9cb80aca/pkg/util/objectwatcher/objectwatcher.go#L137-L139

[2022-09-22 03:44] RainbowMango commented on #2526
Yes, maybe what we need is a more flexible and customized way to set the connection between karmada-scheduler and karmada-estimator, not just a prefix.

[2022-09-22 03:52] RainbowMango commented on #2553
Sounds good to me. We can postpone this(introduce variable to Makefile and hack/local-up-karmada.sh) until we have more evidence.

So, @loicalbertin, how do you say? Are you willing to send a patch for this?

[2022-09-22 03:54] RainbowMango commented on #2553
[code]
This patch looks good to me, by the way.

[2022-09-22 06:48] luoMonkeyKing commented on #2558
Create a deployment and propagate the deployment to the member cluster. The deployment's annotations are as follows：
[code]
After the creation is successful, delete the aa: bb field of annotations in the deployment. At this time, the deployment in the member cluster will not delete this field synchronously.

[2022-09-22 06:51] luoMonkeyKing commented on #2558
That's what you said, but what's the reason for this design? Is there any other way to delete the annotations field in karmada?

[2022-09-22 07:43] loicalbertin commented on #2553
I would be more than happy to contribute a PR for this.

There is an alternative to consider.
By adding `DOCKER_BUILD_ARGS` variable you will allow arbitrary customization to your build which may be a good or bad thing, I don't known.

An alternative would be to restrict to `--build-arg` and relying on standard `HTTPS_PROXY` env var.
We could do something like this:

[code]

[2022-09-22 07:55] RainbowMango commented on #2553
The alternative is great too.
I'm not sure if the `no_proxy` would disable the `http_proxy`/`https_proxy` or not.

No worries, we won't set this variable when releasing, this is just for development.

[2022-09-22 09:09] loicalbertin commented on #2553
`no_proxy` is used to define exceptions to the proxy settings.

[This blog post](https://about.gitlab.com/blog/2021/01/27/we-need-to-talk-no-proxy/) has a great state of the proxy env vars usage today.

In fact it will be up to the underlying program within the container (typically `apk` in this case)  to take them into account. Reading this blog post make me realize that using the lower case vers

[2022-09-22 10:45] SZT0728 opened #2569 "Is it karmada support deploy in IPv4/IPv6 dual-stack mode"
is  karmada:v1.2.0 support deploy in  IPv4/IPv6 dual-stack mode?
if not, which version support?

[2022-09-22 11:00] RainbowMango commented on #2553
Thanks @loicalbertin. Both approaches are fantastic! I prefer #2565 a little bit, as it looks clean and straightforward.

[2022-09-22 11:14] RainbowMango commented on #2558
After a resource has been applied to a member cluster, the member cluster will mutate the resource by adding some labels or annotations. That means Karmada needs to adopt the added labels/annotations.

For this case, even though you removed the label from the Karmada control plane, Karmada also gets and adopts the labels from the member cluster. Karmada can't tell if the label is added by the memb

[2022-09-22 11:26] RainbowMango commented on #2558
@luoMonkeyKing Can you tell us your use case? Let's see how we can help.
For now, I think the [ResourceInterprefer](https://karmada.io/docs/userguide/globalview/customizing-resource-interpreter/) maybe a workable solution, but it's way too complicated for this case. :(

[2022-09-22 12:02] RainbowMango commented on #2569
Could you please tell us more details about your case? I'm afraid I can't get your point.

[2022-09-22 12:11] #2553 closed

[2022-09-23 01:23] luoMonkeyKing commented on #2558
Our use case is very simple, that is, the load information of the member cluster will be displayed on the page. If the annotation and the karmada control plane are inconsistent, it will cause some differences. At present, we have not added some labels or annotations to the member cluster. I want to operate completely through the karmada control surface

[2022-09-23 01:33] RainbowMango commented on #2558
hold for a while, let me see how to handle it.
by the way, are you evaluating Karmada now or already using it in production?

[2022-09-23 01:58] SZT0728 commented on #2569
i want to install karmada in the kubernetes which network-mo de,and join the ipv6 k8s cluster

[2022-09-23 02:46] alex-wong123 opened #2571 "Member cluster healthy checking does not work"
**Please provide an in-depth description of the question you have**:
After registering member cluster to karmada with push mode, and using "kubectl get cluster", found the cluster status was ready.
Then disconnect member by firewall, after more than 10 minutes,  the cluster status was also ready, not change to fail.
Are there configurations needed for cluster heathy checking ?
**What do you think

[2022-09-23 02:50] RainbowMango commented on #2569
To be honest, I'm not sure since I never tested it before. The only difference between IPv4 and IPv6 is the address of kube-apiserver, given we are using client-go(i bet it supports IPv6) to talk to the member cluster, so I guess it should be OK.

Can you help to test it and give us feedback? (I don't have the environment on hand.)

[2022-09-23 03:00] RainbowMango commented on #2571
No, Karmada would take care of the cluster status as per heart beat.

@jwcesign Could you please help to confirm this?
I guess we can try to reproduce it by following steps:
1. launch Karmada by command: `hack/local-up-karmada.sh`
2. wait for cluster status becomes ready: `kubectl get clusters`
3. delete cluster `member1` by command: `kind delete cluster --name member1` (to simulate the network br

[2022-09-23 03:20] mrningyang commented on #2546
I think it is necessary to add a new option to support skipping creating PP automatically，and I'd like to do it. Because the default PP is created by promote is unlikely to be what users ultimately need in their production environment.

[2022-09-23 03:20] mrningyang commented on #2546
I think it is necessary to add a new option to support skipping creating PP automatically，and I'd like to do it. Because the default PP is created by promote is unlikely to be what users ultimately need in their production environment.

[2022-09-23 03:22] mrningyang commented on #2546
I think it is necessary to add a new option to support skipping creating PP automatically，and I'd like to do it. Because the default PP is created by promote is unlikely to be what users ultimately need in their production environment.

[2022-09-23 03:27] mrningyang commented on #2546
I think it is necessary to add a new option to support skipping creating PP automatically，and I'd like to do it.

[2022-09-23 03:35] RainbowMango commented on #2546
Thanks @mrningyang. Glad to hear that you want help.
I can assign this issue to you, but let's wait for the author's comment for a while. (I know @lonelyCZ now is on a business trip, maybe he can comment once he is available.)
/assign @mrningyang

[2022-09-23 04:00] cmicat commented on #2487
(1)
We deploy Karmada in Physical Machine directly.
=> No Kubernetes Cluster.
=> No CoreDNS.
=> DNS is not an issue since it does not exist.

(2) If I use headless Service, there will need to be an `Endpoints` object. `Endpoints` can specify multiple IP Addresses, so how should I choose one IP? Implementing Load Balancing in karmada-scheduler & karmada-descheduler seems too cumbersome. Currently w

[2022-09-23 05:50] SZT0728 commented on #2569
the etcd start error with the log: unexpected error setting up listen-peer-urls: URL address does not have the form "host:port": http://fd74:ca9b:172:18:63cf:ab87:ceb8:1807:2380
how can i deal with it?

[2022-09-23 06:13] jwcesign commented on #2571
Sure, /assign

[2022-09-23 06:30] RainbowMango commented on #2569
I guess this error was raised during the installation, right? which tool are you using? Karmadactl or chart?
Could you please show more logs here?

[2022-09-23 06:32] lts0609 opened #2573 "How to create helm application in multi clusters"
**Please provide an in-depth description of the question you have**:
I want to create applications in multiple clusters with argocd and karmada .I try to deploy a grafana by chart，but it keep creating sercret for serviceaccount

[code]

1. I used the command to create it

[code]
![微信图片](https://user-images.githubusercontent.com/58425798/191908014-c1de6216-1291-43fe-adae-41af20c6da5f.png)

2. apply

[2022-09-23 06:40] SZT0728 commented on #2569
yes, it was raise when i exec `kubectl karmada init --crds=crdspath`. i use the tool names  `kubectl-karmada`. no more logs,just this line.
I get the etcd statefulSet in yaml and the etcd exec command with args ` listen-peer-urls: http://${POD_IP}:2380`.  But the pod ip is ipv6-mode,it should identify like `http://[${POD_IP}]:2380`.
Is this problem because ETCD does not handle ipv6 format？

[2022-09-23 06:50] RainbowMango commented on #2573
Where the secret is keeping create? `Karmada-apiserver` or `member cluster`?

[2022-09-23 06:58] lts0609 commented on #2573
In member cluster ,all resource has been successfully distributed , but the secret `grafana-token-xxxxx` keep creating

[2022-09-23 06:59] RainbowMango commented on #2569
Do you have a Kubernetes running in IPv6 mode? Can you show me what's the `--listen-peer-urls` look like?

We just fixed a similar issue by #2450 last week.
@duanmengkk Have you ever met this issue?

[2022-09-23 07:09] jwcesign commented on #2571
I test with `release-1.3` branch, it looks work:
[code]

[2022-09-23 07:11] RainbowMango commented on #2573
got it. Thanks. I guess this issue is similar to #627.

@lts0609 I'd like to ask @Poor12 for help to figure out the root cause.

[2022-09-23 07:20] chaunceyjiang commented on #2571
I had the same problem once, the cause of the problem was that the firewall did not close the already existing TCP connection.

After you start the firewall, you can use the `tcpkill` command to close the tcp connection.
[code]

[2022-09-23 07:21] RainbowMango commented on #2571
@jwcesign Please use v1.3.0 and try again.

@alex-wong123 As far as I remember, we didn't change the health detect behavior since v1.3.0, which means the testing of @jwcesign is believable.

Thanks @chaunceyjiang for your information, that's probably the truth :)

[2022-09-23 07:23] SZT0728 commented on #2569
The Kubernetes running in IPv6 mode show the etcd args `- --listen-peer-urls=https://[4001:250:250:250:250:250:250:222]:2380`
 I recompile a kubectl-karmada according to [https://github.com/karmada-io/karmada/pull/2450/commits/bd6b872a8d8965b983199ee72d3f686751412fc0](url)  to see if I can fix it

[2022-09-23 07:26] wuyingjun-lucky commented on #2537
/kind feature

[2022-09-23 07:27] wuyingjun-lucky commented on #2537
/kind bug remove

[2022-09-23 07:27] lts0609 commented on #2573
Whether this problem fixed in 1.3.0 ,I think [https://github.com/karmada-io/karmada/pull/1978](https://github.com/karmada-io/karmada/pull/1978) is related to this

[2022-09-23 07:34] jwcesign commented on #2571
Same result,  so I think @chaunceyjiang 's answer is right.
[code]

[2022-09-23 07:35] wuyingjun-lucky commented on #2537
/remove kind bug

[2022-09-23 08:39] RainbowMango commented on #2569
Good luck, looking forward to your feedback.

[2022-09-23 08:41] RainbowMango commented on #2537
@wuyingjun-lucky You can get the command usage from [here](https://prow.k8s.io/command-help?repo=kubernetes%2Fkubernetes).

/remove-kind bug

[2022-09-23 08:45] RainbowMango commented on #2571
So @alex-wong123 Can you help to try again according to @chaunceyjiang's [recommendation above](https://github.com/karmada-io/karmada/issues/2571#issuecomment-1255874446)?

[2022-09-23 08:49] alex-wong123 commented on #2571
Thanks for all the replies, I'll try according to @chaunceyjiang's recommendation.

[2022-09-23 08:58] ikaven1024 commented on #2432
@liys87x proxy benchmark is done, what do you think about it? https://github.com/karmada-io/karmada/issues/2518#issue-1375349836

[2022-09-23 09:06] alex-wong123 commented on #2571
Thanks everyone, it works according to @chaunceyjiang's recommendation.

[2022-09-23 09:17] chaunceyjiang commented on #2571
Hi, @RainbowMango @alex-wong123  I suggest that we should incubate a `Known issues`. like [metrics-server KNOWN_ISSUES](https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md).
The current issue is a good example.

[2022-09-23 09:29] RainbowMango commented on #2571
Yes!!
Where should we put it, any suggestions?

By the way, what's the difference between [FAQ](https://karmada.io/docs/faq/) and known-issues?

[2022-09-23 09:30] alex-wong123 commented on #2571
@chaunceyjiang Good idea

[2022-09-23 09:40] alex-wong123 commented on #2571
My personal opinions that FAQ is generally about concepts, known-issues are related issues encountered in using.

[2022-09-23 09:41] Poor12 commented on #2573
I reproduced this problem in my environment. I guess all your control plane and member clusters are under 1.24.
Simply put, it is because the token bound on the control plane is not sent to the corresponding member cluster, so the token controller of the member cluster thinks that it does not have a corresponding token to automatically generate a token and update the secrets field of sa. But curre

[2022-09-23 09:44] chaunceyjiang commented on #2571
+1

Maybe these are a good reference.

kind:
https://kind.sigs.k8s.io/docs/user/known-issues/
https://github.com/kubernetes-sigs/kind/blob/main/site/content/docs/user/known-issues.md

metrics-server:
https://github.com/kubernetes-sigs/metrics-server/blob/master/KNOWN_ISSUES.md

metallb
https://metallb.universe.tf/configuration/calico/

[2022-09-23 09:46] duanmengkk commented on #2569
No,I didn‘t met it.’May be we can open an issue such as `Support ipv6 in karmada` to track it ，rather than resolve it one by one

[2022-09-23 09:49] Poor12 commented on #2571
Yeah, I suggest to put it in https://karmada.io/docs/troubleshooting/. We can provide a list and record the corresponding evasion methods, just like @chaunceyjiang mentioned.

[2022-09-23 09:51] RainbowMango commented on #2571
`troubleshooting` sounds good to me.
@chaunceyjiang how do you think? and would like to send a PR for this?

[2022-09-23 09:57] chaunceyjiang commented on #2571
ok

[2022-09-24 01:05] RainbowMango commented on #2571
/reopen
/assign @chaunceyjiang
Thanks.

[2022-09-24 02:19] RainbowMango commented on #2573
@Poor12 I suppose minimal reproduce steps would be more helpful to understand the root cause.
For example:
1. Create a `ServiceAccount` to Karmada, ==> explains what would happen underlying in Karmada
2. Create a `PropagationPolicy` to Karmada ==> explains what would happen on the member cluster
3. explains what would happen in Karmada, such as retaining, and recreating stuff.

[2022-09-24 03:25] Poor12 commented on #2573
1. Create a ServiceAccount to Karmada, token-controller in karmada control plane will auto generate a secret token for it.
2. Create a PropagationPolicy to Karmada, serviceaccount will be created in member clusters. But there is no corresponding secret token in member cluster. So after checking the `secrets` field, token-controller in member cluster will create a secret token for it and update the

[2022-09-26 03:41] #2392 closed

[2022-09-26 05:55] lts0609 commented on #2573
If I want to create an application in Karmada,  How should I determine which resources need be set in PropagationPolicy，For example, Whether all resources displayed in ArgoCD UI need to be set

[2022-09-26 07:15] Poor12 commented on #2573
For helm application, actually it has many resource in a helm chart. We recommend to use Flux to distribute the application in the whole package. You can based on https://karmada.io/docs/userguide/cicd/working-with-flux.

[2022-09-26 07:15] cmicat commented on #2265
I run into this error when run `make verify`. Comment `bash "$REPO_ROOT/hack/verify-codegen.sh"` will remove this error.

[2022-09-26 09:07] RainbowMango commented on #2265
@cmicat Do you mean run `make verify` would raise the error but `bash "$REPO_ROOT/hack/verify-codegen.sh"` won't?

[2022-09-26 09:12] cmicat commented on #2265
I mean run `make verify` will run `bash "$REPO_ROOT/hack/verify-codegen.sh"`. This will fail `make verify`.

Currently, we need to comment `bash "$REPO_ROOT/hack/verify-codegen.sh"` to be able to run verification.

I found this issue because I cannot run `make verify` in my development machine.

[2022-09-26 09:17] XiShanYongYe-Chang opened #2579 "[umbrella] UT Supplemental Plan"
To improve the reliability of the Karmada project, verify the implementation and usability of functions, and improve user experience, we plan to supplement the UT case.

We'll list all the tasks in the google execel: https://docs.google.com/spreadsheets/d/1691AczZtovlF8t_UzGjEHCfSde5GHLPsjREGvOpmGDA/edit?hl=zh-cn#gid=0.

You can pick up any tasks you're interested in, thanks all!

[2022-09-26 09:21] XiShanYongYe-Chang commented on #2579
/help
/kind cleanup

[2022-09-26 09:43] RainbowMango commented on #2265
I just confirmed on my side, `make verify` works for me, it won't fail, but also dumps a lot of `API rule violation` warnings.
[code]

[2022-09-26 09:56] cmicat commented on #2265
I reran `make verify`, found it worked. There might be some environment issue in my development machine.

[2022-09-27 06:20] qiankunli opened #2583 "support elastic cluster"
there are two k8s cluster in our company: k8s in idc, tke/k8s in cloud company(like tencent cloud).  we use cluster autoscaler in tke, if there are pending pod, tke will scale up a new node into cluster. so we can see the tke cluster is elastic.

in this scenario, our scheduler requirements is
1.  the pods of a deployment can only be  deployed in one cluster
2.  the priority of idc is bigger than

[2022-09-27 06:44] lts0609 commented on #2573
Now I have upgraded karmada to version 1.3.0, but sometimes the health status of PVC is always in Progressing , I see similar bug has been fixed in https://github.com/karmada-io/karmada/pull/2252 and https://github.com/karmada-io/karmada/pull/2241, Is there any problems here?

[2022-09-27 06:55] cmicat commented on #1064
Do you really mean arm & x86, not arm64 & x86-64?

Go runtime has known issues on 32-bit systems. See the [Go issue](https://github.com/golang/go/issues/599) and [atomic package](https://golang.org/pkg/sync/atomic/#pkg-note-BUG) for more information.

[2022-09-27 08:59] RainbowMango commented on #1064
@cmicat,  @haiker2011 means the arm64 I guess.

And, now we have arm64 images on Docker hub([see this job](https://github.com/karmada-io/karmada/blob/master/.github/workflows/dockerhub-released-image.yml)). I think we can close it now.

/close

[2022-09-27 08:59] #1064 closed

[2022-09-27 12:25] RainbowMango commented on #2573
Can you open another issue to track this? I remember the #2070 which is included in v1.3.0 handled the PVC status issue.

[2022-09-28 01:10] ranzhouol opened #2585 "The result of replace/remove the Registry in ImageOverrider is incorrect"
**What happened**:
First I distributed a deployment with ` image: ubuntu/nginx`,
![image](https://user-images.githubusercontent.com/67987211/192487373-b1000c83-d403-4c1c-8d08-1cb32f319fb9.png)
  and then created an ImageOverrider to `remove the Registry`, i.e
[code]
   I expected to get `image: nginx`, but the result didn't change. It was still `image: ubuntu /nginx`.
  Similarly, I created an Ima

[2022-09-28 01:41] lts0609 opened #2587 "Status of PVC out of sync"
**What happened**:
I created a multi cluster helm application，but the pvc status out of sync
1. create helm application on the karmada controller plane by argocd
2. synchronize resources
3. apply propagation

[code]

[code]

**Environment**:
- Karmada version: 1.3.0
- Kubernetes version: 1.22.9
- Others: helm application

[2022-09-28 01:46] RainbowMango commented on #2587
@Poor12 Please help to reproduce and investigate it with v1.3.0.

[2022-09-28 01:54] lts0609 commented on #2587
I found that this can make the pvc state normal
1. Delete pvc in the karmada controller plane
2. Synchronize again resource by argocd
[code]
Whether it is need to have a propagation applied before creating，the pvc state can be sync？

[2022-09-28 02:11] wolgod opened #2588 "karmda controls plane endpoint"
**Please provide an in-depth description of the question you have**:

**What do you think about this question?**:

Whether karmda controls the endpoints in the ns under the cluster to obtain the endpoint sets of the services managed under the multiple work clusters under managemen？

**Environment**:
- Karmada version:v1.0.2
- Kubernetes version:v1.23.6
- Others:

[2022-09-28 02:14] Poor12 commented on #2587
I guess PVC is not applied before. You can use `kubectl --kubeconfig ~/.kube/karmada.config --context karmada-apiserver get work -A` to check whether resources are applied successfully to member clusters.

[2022-09-28 02:46] RainbowMango commented on #2585
For the first case, you are trying to `remove` the `registry`, but there is no `registry` in `ubuntu/nginx`, the implied registry is `https://hub.docker.com`.  The rule of how we recognize `registry/repository/tag` is [present at the API](https://github.com/karmada-io/karmada/blob/fc196abf894fb271a8d2e9aba4440fcfc48db199/pkg/apis/policy/v1alpha1/override_types.go#L121-L132).
[code]

We shouldn't e

[2022-09-28 02:49] RainbowMango commented on #2585
The second case is the same, since there is no `registry` in `ubuntu/nginx`, so the `replace` acts like `add`. That's expected behavior too.

[2022-09-28 02:51] lts0609 commented on #2587
All resources have been successfully created in the member cluster. The application access is normal. I view the work in karmada control plane, found that only  pvc work not applied, Then I tried many times, Including advance apply propagation，but only a few time pvc synchronized and applied successfully. What causes this？

[2022-09-28 02:51] RainbowMango commented on #2585
Discussion is still ongoing, but for now, it seems not a bug for me.
/remove-kind bug
/kind question

[2022-09-28 03:05] RainbowMango commented on #2588
I'm not sure I understand your question correctly.
Do you mean if Karmada collects `endpoints` from member clusters in multi-cluster service scenario?

[2022-09-28 03:06] #2487 closed

[2022-09-28 03:58] RainbowMango commented on #2583
It's a reasonable use case for me. And I think it requires two abilities:
- Set cluster priority for the scheduler to prefer to cluster(s) in IDC
- Give the `scalable cluster` lower priority but always with sufficient resources.

@Garrybest any idea about the case and ways to achieve that?

[2022-09-28 04:41] wolgod commented on #2588
yes，This way I can Karmada all the ip's of a service

[2022-09-28 05:33] SZT0728 commented on #2569
I install the karmada in the IPv6 mode kubernetes and the etcd start failed with behind:
{"level":"fatal","ts":"2022-09-28T04:25:32.516Z","caller":"etcdmain/etcd.go:203","msg":"discovery failed","error":"--initial-cluster has etcd-0=http://etcd-0.etcd.karmada-system.svc.cluster.local:2380 but missing from --initial-advertise-peer-urls=http://[fd74:ca9b:172:18:ee5a:9c44:af76:2993]:2380 (\"http://[f

[2022-09-28 05:45] ranzhouol commented on #2585
I misunderstood, now I understand, thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "karmada-io/karmada"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年9月28日(星期三) 上午10:51
***@***.***&gt;;
***@***

[2022-09-28 06:17] RainbowMango commented on #2588
Yes, Karmada collects the `EndpointSlice` (not EndPoints) from the member cluster. [See this controller](https://github.com/karmada-io/karmada/blob/master/pkg/controllers/mcs/endpointslice_controller.go#L35).

[2022-09-28 06:22] RainbowMango commented on #2585
Thanks for your feedback. I'm going to close this issue and PR #2586 now.
/close

[2022-09-28 06:22] #2585 closed

[2022-09-28 06:58] Garrybest commented on #2583
1. Scheduling based on priority
We have already designed a API here https://github.com/karmada-io/karmada/pull/842, when some clusters have high priority, karmada prefer to divide replicas between these clusters.

2. Max clusters
Now we can't set max clusters when scheduling. In your scenario, you don't want workloads separated to multiple clusters. Actually, I think this is a really common case s

[2022-09-28 08:26] luoMonkeyKing opened #2592 "istio-ingressgateway 15012 port timeout"
**What happened**:
When installing istio according to this document [istio](https://github.com/karmada-io/website/blob/main/docs/userguide/service/working-with-istio-on-flat-network.md) , the istio-ingressgateway of the member cluster reports that port 15012 has timed out, and the container network is now connected.
![image](https://user-images.githubusercontent.com/31637804/192727806-c3a61b65-012

[2022-09-28 09:35] RainbowMango commented on #2592
@zirain Can you help with it?

[2022-09-28 09:47] loicalbertin opened #2595 "Questions (issues?) for a deployment on GKE"
**Please provide an in-depth description of the question you have**:

:wave:  Hello,
I'm in the process of evaluating Karmada.
After playing a bit with it on a local setup with Kind, I currently try to deploy it on a GKE cluster which is one of my targets.

I try to use `hack/remote-up-karmada.sh` to install Karmada on a an existing GKE cluster but I'm facing several issues.

**Issue 1:**
First wh

[2022-09-28 09:54] qiankunli commented on #2583
@Garrybest  my department is machine learning platforms. and my workload is tfjob/pytorchjob/vcjob(volcano).

is is useful to make sure that the workload can not be separated to multiple clusters.?
[code]
in my opinion, it may be better to add a filed for `cluster.spec`, such as `elastic=true` or `backup=true`, and change the logic of scheduler: if there is no cluster which has enough resources to

[2022-09-28 09:56] RainbowMango commented on #2595
/assign
I'm in the middle of something. Will get back to you later.
Glad to see you again @loicalbertin .

[2022-09-28 09:59] loicalbertin commented on #2595
No rush, with above workarounds I'm able to continue my evaluation of Karmada.

[2022-09-29 01:56] Poor12 commented on #2587
I would like to ask if this PVC has not been distributed through karmada before and has already been in the member cluster.

[2022-09-29 01:57] #2537 closed

[2022-09-29 02:52] lts0609 commented on #2587
I think that's because I directly deleted the PVC in the Karmada plane and resynchronize in argocd, the PVC in the member cluster is still in Terminating status，It causes the warning .

[2022-09-29 08:57] cmicat commented on #1812
We cannot detect existence of `karmada-scheduler-estimator` by `Service`.

When deploy in Host Kubernetes Cluster, there is a `Service` named `karmada-scheduler-estimator-{{MEMBER_CLUSTER_NAME}}` for routing info. But this `Service` is inside Host Kubernetes Cluster, and karmada-scheduler only connects to kube-apiserver for Karmada itself.

<https://github.com/karmada-io/karmada/blob/c817ace443bc3

[2022-09-29 09:08] ranzhouol opened #2597 "There is a problem with the API interface for creating a propagationpolicy when neither the namespace of the propagationpolicy nor the resourceselectors is set"
**What happened**:
When I use the API interface to create a **PropagationPolicy**, the namespace of the PropagationPolicy is not set, nor the namespace in the resourceSeletors. The template of the PropagationPolicy is as follows:
[code]
Although the deployment is successfully distributed and the namespace of the PropagationPolicy is set to "default" by default, the namespace in the resourceSeletor

[2022-09-29 09:47] XiShanYongYe-Chang commented on #2597
Hi @ranzhouol, thanks for your feedback!
The problem you mentioned is known to us because we are currently not allowed to modify the policy's `resourceSelector` field, but we are already planning to release this restriction, see #2562

[2022-09-29 09:54] RainbowMango commented on #2597
For a workaround before #2562, you can remove the PropagationPolicy and apply it again.

[2022-09-29 10:04] ranzhouol commented on #2597
Hello, we have not modified the policy's resourceSelector field. When we use the API interface to create a propagationpolicy, and the namespace of the policy and resourceselectors is not set, when we edit other modifiable fields again, this bug will appear

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-09-30 06:41] Garrybest commented on #2583
Yes, but notice that it does not take available replicas as consideration.

I'm afraid this field is not abstract enough and focuses a specified scenario. We prefer to normalize some features to benefit other scenarios.

[2022-09-30 07:48] luoMonkeyKing commented on #2592
The final solution is to restart the istiod in the karmada host, but the specific reason is not found. This is the second time I have encountered such a problem.

[2022-09-30 07:56] luoMonkeyKing commented on #2592
There is one more question I want to ask, how do I open the application to the outside world, is the istio-ingressgateway to be deployed in the karmada host?

[2022-09-30 09:07] Rains6 opened #2603 "Not do update operation when there is no substantial content modification"
**What would you like to be added**:
Not do update operation when there is no substantial content modification.
**Why is this needed**:
Reduce request pressure on member clusters.

[2022-09-30 09:34] XiShanYongYe-Chang commented on #2603
I think you may be referring to the resource status, annotations or labels,  changes that should be ignored, otherwise, the number of update times will increase, resulting in increasing the cluster pressure.

/cc @RainbowMango

[2022-10-01 03:17] wolgod commented on #2588
i use 1.02 release，when i deploy in the Karmada ns， i can't then EndpointSlice is empty in Karmada，in the member cluster  i can get  EndpointSlice。 Is this feature a new release version? which version i can try？

[2022-10-05 02:29] hyder commented on #2222
I have the same issue. How to resolve this?

[2022-10-05 03:05] danielepolencic commented on #2222
@hyder I ended up using Helm.

[2022-10-05 05:32] hyder commented on #2222
Thanks @danielepolencic. Can you please elaborate a bit more?

[2022-10-05 06:08] danielepolencic commented on #2222
https://github.com/karmada-io/karmada/tree/master/charts/karmada

[2022-10-07 07:24] liangyuanpeng commented on #2349
I would working for `karmadactl promote`.

[2022-10-07 13:14] loicalbertin opened #2614 "Custom Resource Interpreter example README should be updated with LoadBalancer/MetalLB support"
:wave: Hi :wave:

**What happened**:

Currently if you follow the README on the Custom Resource Interpreter example you will get an error [at that point](https://github.com/karmada-io/karmada/blob/master/examples/README.md#step2-deploy-webhook-configuration-in-karmada-apiserver).

This is because the webhook url should be replaced but this is not done in `webhook-configuration.sh`:

https://github

[2022-10-08 02:23] chaunceyjiang opened #2618 "PP's ResourceSelector is empty"
**Please provide an in-depth description of the question you have**:

When I use the following yaml file to create PP, it can be created successfully, but when I look at the api definition of PP, [ ResourceSelector cannot be empty](https://github.com/karmada-io/karmada/blob/master/pkg/apis/policy/v1alpha1/propagation_types.go#L42-L46). Is this normal?

[code]

<img width="605" alt="image" src="htt

[2022-10-08 06:16] RainbowMango commented on #2222
I missed this issue from my radar.

From the URL, seems the `karmada-apiserver` has been assigned a local address(`127.0.0.1`), are you running the `karmadactl init` outside the cluster? Maybe you can run it on the `master` node which is labeled with `node-role.kubernetes.io/master`.

[2022-10-08 06:38] RainbowMango commented on #2614
Hi @loicalbertin, nice to see you again. I'm just getting back from a long holiday.
Yes, you are right. Seems we forgot to update the docs(or, webhook-configuration.sh) at #1676.

The author is on paternity leave and will get back at the end of this month. I don't have enough time for this right now, let's tag this issue for help.
/help

[2022-10-08 07:22] RainbowMango commented on #2618
Good question, it works as expected.
An empty `ResourceSelector` matches all resources across different resource types.

`ResourceSelector` not defaults to `empty`, and this is the way to set it to `empty` explicitly.

[2022-10-08 07:27] chaunceyjiang commented on #2618
Does this mean that all resources across different resource types will be propagated to the member cluster?

[2022-10-08 07:54] chaunceyjiang commented on #2618
The reason why I asked this question is that I found that when I created the above-mentioned PP, the resources would not be propagated to the member clusters.

The behaviors of the PP and the OP are not consistent (the OP with an empty ResourceSelector can be applied, but the PP cannot be applied)

[2022-10-08 08:16] #2290 closed

[2022-10-08 08:34] #2571 closed

[2022-10-08 08:58] RainbowMango commented on #2618
I'm sorry, I was wrong. The `ResourceSelector` in both `PropagationPolicy` and `OverridePolicy` is `optional` by initial design, but according to [this discussion](https://github.com/karmada-io/karmada/pull/422#issuecomment-858222351), we updated the rule for `PropagationPolicy`(nil/empty means select nothing).

That also explains why PP and OP have different behaviors.

[2022-10-08 09:14] chaunceyjiang commented on #2618
Get it. Thank you for your answer.

[2022-10-08 09:17] #2618 closed

[2022-10-09 05:58] SZT0728 commented on #2569
The karmada currently not support deploy in the dual-stack kubernetes well  because of the etcd. The etcd start failed with the follow:
`"error":"--initial-cluster has etcd-0=http://etcd-0.etcd.karmada-system.svc.cluster.local:2380 but missing from --initial-advertise-peer-urls=http://[fd74:ca9b:172:18:ee5a:9c44:af76:29aa]:2380 (\"http://[fd74:ca9b:172:18:ee5a:9c44:af76:29aa]:2380\"(resolved from

[2022-10-09 06:32] RainbowMango commented on #2569
Thanks for your analysis. Do you know what we can do here?
also cc author @prodanlabs for comment.

[2022-10-09 07:19] zirain commented on #2592
nop

[2022-10-09 08:34] luoMonkeyKing commented on #2592
hi ,Does the gateway configuration need to be propagated to member cluster through pp? I only created the gateway configuration in the host cluster, which does not seem to take effect

[2022-10-09 10:46] duanmengkk commented on #2569
The actual reason is the server of etcd is listened in ipv4 mode,see the etcd.conf ` kubectl logs -f etcd-0 -n karmada-system-test2 etcd-init-conf`
![image](https://user-images.githubusercontent.com/17697155/194750622-bf07cf57-3291-4134-bf3e-d62200c0b799.png)
However,the ip address resolved by core-dns is ipv6,  `nslookup etcd-0.etcd.karmada-system-test2.svc.cluster.local`
![image](https://user-im

[2022-10-09 10:54] duanmengkk commented on #2569
We can add a flag such as `karmadactl init --mode ipv6 `or dual-stack to fix it.But I'm not so sure that's a reasonable solution. @RainbowMango @prodanlabs
The Helm Install  also have the same problem.https://github.com/karmada-io/karmada/blob/789a44acfaa71159a50e1c650b89a5746a15f1a8/charts/karmada/templates/etcd.yaml#L91

[2022-10-09 13:15] zirain commented on #2592
you should create it in `karmada-apiserver`

[2022-10-10 09:38] RainbowMango commented on #2459
Just a reminder, the Kyverno just released [v1.18.0](https://github.com/kyverno/kyverno/releases/tag/v1.8.0).

[2022-10-10 16:07] chaunceyjiang commented on #2526
Why not use `SVC` + `Label Selector`?

[2022-10-11 02:41] luoMonkeyKing commented on #2592
yes, I created the gateway configuration in karmada-apiserver, and I also see the relevant configuration in the member cluster, but the error below the ingressgateway of the member cluster when accessing
[code]

[2022-10-11 03:27] 631068264 opened #2628 "ANP cluster is inaccessible, please check authorization or network /proxy/api 503 Service Unavailable"
**What happened**:

使用ANP pull 模式
[code]

karmada-agent 已经加了cluster-api-endpoint,proxy-server-address
[code]

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version: 1.2.1
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl versio

[2022-10-11 03:48] lonelyCZ commented on #2628
Could you please execute `karmadactl get pod --kubeconfig karmada-apiserver.config -v=4` to get more logs.

[2022-10-11 03:56] 631068264 commented on #2628
这个地方报错了
[code]

[2022-10-11 04:01] RainbowMango commented on #2628
根据 @631068264 在微信群里的信息来看，可能是没有安装`karmada-aggregated-apiserver`.

请在安装Karmada的集群上查看一下安装的组件？like:
[code]

[2022-10-11 04:16] zirain commented on #2592
can you check the logs from ingressgateway and istiod? is everything ok?

[2022-10-11 04:32] 631068264 commented on #2628
有安装的  @RainbowMango
[code]

[2022-10-11 04:57] luoMonkeyKing commented on #2592
member cluster istiod logs:
![image](https://user-images.githubusercontent.com/31637804/195000611-6eb1ad6d-da95-4c35-9b6d-41ccb9290759.png)

member cluster ingressgateway logs:
![image](https://user-images.githubusercontent.com/31637804/195000700-88633c86-053d-4b2c-b367-0fea5a967949.png)

[2022-10-11 05:50] lonelyCZ commented on #2628
@631068264 通过什么方式安装的karmada呢？顺便可以查看ANP组件的日志，如果请求经过了ANP，会有日志的。

[2022-10-11 06:13] 631068264 commented on #2628
helm chart 安装

请求经过了ANP，是什么请求？`karmadactl get pod --kubeconfig karmada-apiserver.config -v=6` 吗？没什么特别的日志

ANP proxy server
[code]

anp agent  member1
[code]

[2022-10-11 07:02] SZT0728 commented on #2569
sorry, Here's a bug I forgot to mention. I recompile the `kubectl-karmada` and add the symbol `[]` to the `listen-peer-urls`、`listen-client-urls`、`listen-client-advertise-peer-urls` for the IPv6 deploy. see the etcd config `kubectl logs -f etcd-0 -n karmada-system etcd-init-conf`
<img width="780" alt="截屏2022-10-11 下午2 53 54" src="https://user-images.githubusercontent.com/15276000/195017301-386d398

[2022-10-11 08:23] 631068264 commented on #2628
clusters crd
[code]

[2022-10-11 09:23] 631068264 commented on #2628
我知道怎么回事了**用了自定义证书**，会报错。。。。。
<img width="469" alt="image" src="https://user-images.githubusercontent.com/8144089/195050445-31ba4302-488e-492b-9446-b651bf865d96.png">

[code]

如果用的auto

[code]

[code]

之前成功是因为我先安装的auto，然后卸载再安装custom的所以没有报错，后来我清除了本地机器的`/var/lib/karmada-system`目录，再安装custom就有问题了

[2022-10-11 09:43] 631068264 commented on #2628
生成证书过程

[code]

生成命令
[code]

openssl配置
[code]

helm 安装
[code]

[2022-10-11 14:41] hanweisen opened #2629 "Add two subcommand handling PropagationPolicy and OverridePolicy modification"
**What would you like to be added**:
Add two subcommand handling PropagationPolicy and OverridePolicy modification
add `redeploy` subcommand handling OverridePolicy modification
[code]
add `reschedule` subcommand handling PropagationPolicy modification
[code]

**Why is this needed**:
When op and pp are modified, the resource they applied do not take effect, User needs to manually modify any field

[2022-10-11 14:44] hanweisen commented on #2629
/assign hanweisen

[2022-10-11 15:12] chaunceyjiang commented on #2629
Really? Can you give a minimum reproduce step?

From the following code, it should take effect

for PP:
https://github.com/karmada-io/karmada/blob/1d282bf179003a32baae5bf0aa849439ae09e5cf/pkg/scheduler/event_handler.go#L34-L37

https://github.com/karmada-io/karmada/blob/1d282bf179003a32baae5bf0aa849439ae09e5cf/pkg/scheduler/event_handler.go#L128-L146

for OP:
https://github.com/karmada-io/karmada/

[2022-10-12 02:55] #2573 closed

[2022-10-12 05:42] SZT0728 commented on #2569
it translate the etcd-0 domain and the etcd resolve it and return the first result

发自我的iPhone

------------------ Original ------------------
From: duanmengkk ***@***.***&gt;
Date: Tue,Oct 11,2022 4:37 PM
To: karmada-io/karmada ***@***.***&gt;
Cc: SZT0728 ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [karmada-io/karmada] Is it karmada support deploy in IPv4/IPv6dual-stack mode (Issue #2569

[2022-10-12 09:58] SZT0728 opened #2632 "deploy ANP failed"
when i clone the ANP into local and exec `make certs PROXY_SERVER_IP=karmada-host-control-plane's IP` , the it exec failed with the error:
[code]

the last command of above return the error below:
[code]

[2022-10-12 10:13] RainbowMango commented on #2614
Thank you @loicalbertin, I appreciate that you can help.

Sounds good to me.

[2022-10-12 11:00] luoMonkeyKing commented on #2592
hi, the previous question should be the reason why the request is not added host, but I think the official case of istio does not need to be added. I plan to sort out the documents combining karmada and istiogateway later, and contribute to the community later

[2022-10-12 11:14] #2629 closed

[2022-10-13 02:34] RainbowMango commented on #2341
I wonder if there is a way to reproduce it. Or show us the link to the relevant code.

[2022-10-13 03:15] 631068264 commented on #2628
**使用自定义证书下**

改用最新的https://github.com/karmada-io/karmada/tree/release-1.3/charts 还是有问题，member注册失败的已经解决了

[code]

proxy api也用不了
apply 了 这个
[code]

[code]

[2022-10-13 03:20] RainbowMango commented on #2628
使用1.3的chart过程中，做过什么改动吗？

[2022-10-13 03:24] #2632 closed

[2022-10-13 03:28] 631068264 commented on #2628
有问题指得是下面遇到的关于agg-api-server的问题，  member注册失败的已经解决了（对比1.2来说的）

不过1.3的chart确实有问题，刚开始连部署都失败。。。，之后我会提PR
主要是自定义证书要传ca.key,  post-install-job 有些yaml错位