[2022-10-13 03:49] elinx commented on #2444
Meet the same problem here `Unable to connect to the server: net/http: request canceled (Client.Timeout exceeded while awaiting headers)`, it happens because I  use go1.19.2 at the first run and re-install cfssl(build with go1.19.2) after I saw this issue but it still exists. Then I downgraded using go1.18(with cfssl built using go1.18), and it solved.

[2022-10-13 03:49] RainbowMango commented on #2628
奇怪，目前chart安装在CI中是有覆盖的。欢迎提交issue，把报错信息贴出来。

这个是怎么自定义的，是在chart安装时使用配置参数？

[2022-10-13 03:59] 631068264 commented on #2628
@RainbowMango   大概复现步骤
[karmada-1.3.0.tgz](https://github.com/karmada-io/karmada/files/9770239/karmada-1.3.0.tgz)
改动修复了1.3 chart 的bughttps://github.com/karmada-io/karmada/issues/2628#issuecomment-1276978720 这里提了

然后就是把proxy server  agent 塞了进去而已，没什么大改动

证书生成过程参考https://github.com/karmada-io/karmada/issues/2628#issuecomment-1274419201

[code]

openssl_host.conf
[code]

openssl_agent.conf
[code]

集群都

[2022-10-13 04:01] RainbowMango commented on #2444
@elinx I guess the issue you met probably has been fixed by #2462.

@ladung could you please try again with the latest code? Before retrying, you can remove the previous `cfssl`(to find where it is, run `command -v cfssl`), and `hack/local-up-karmada.sh` can re-install it.

[2022-10-13 04:04] RainbowMango commented on #2628
我可以邀请 @Poor12 来看一下，但我不确定这些信息足够能够复现，因为具体修改内容还是看不到的。

[2022-10-13 04:06] 631068264 commented on #2628
我用的helm chart 包已经上传了，你对比1.3的就知道我改了啥

[2022-10-13 04:12] 631068264 commented on #2628
主要是这两个地方。。。

导致post-install-job执行失败根本安装不了
<img width="1240" alt="image" src="https://user-images.githubusercontent.com/8144089/195497167-e191ba30-426c-47c3-a90b-cef50d49a50e.png">

kube-controller-manager报错找不到key  no such file 之类的
<img width="1240" alt="image" src="https://user-images.githubusercontent.com/8144089/195497199-3d31f7c3-cd85-4ad0-95b4-5bd4b825995d.png">

到时候我提一下PR，贡献一下

[2022-10-13 07:48] SZT0728 opened #2635 "ANP deploy success,but aggregate api access failed with 503"
The karmada deploy in the host kubernetes not in kind docker container.And the member cluster which join karmada in pull mode, and finally deploy ANP in the member cluster and karmada host cluster, it seem be deploy well with the log.

In karmada host cluster with the command `kubectl logs --tail 100 -f proxy-server-774dc95c8d-j2k9l -n karmada-system`

<img width="1212" alt="截屏2022-10-13 下午3 39 09

[2022-10-13 09:42] 631068264 commented on #2628
@RainbowMango 用了 证书auto的一样问题，报503
<img width="1156" alt="image" src="https://user-images.githubusercontent.com/8144089/195562474-3b75592d-71f6-47a1-b7c7-63e98191c5cf.png">

[2022-10-13 11:03] #2614 closed

[2022-10-14 01:46] lonelyCZ commented on #2635
How do you deploy karmada? `script`, `helm` or `karmadactl`?

[2022-10-14 01:49] liangyuanpeng commented on #2628
/reopen

[2022-10-14 01:50] 631068264 commented on #2628
/reopen

[2022-10-14 02:37] RainbowMango opened #2641 "[umbrella] Introduce label/annotation overrider"
**What would you like to be added**:
As we discussed at [community meeting(2022-09-27)](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit?pli=1#heading=h.ubv113c5wnvq), we decided to introduce the label and annotation overrides.

**Why is this needed**:
To improve the user experience.

**Iterated tasks**
- [x] API and implementation (#2584, @chaunceyjiang )
- [x]

[2022-10-14 02:48] SZT0728 commented on #2635
karmada deployed by `karmadactl`. I removed the command flag `--proxy-server-address` which list in the **Step 6** [https://karmada.io/docs/userguide/clustermanager/working-with-anp/](url) and it well now.

why?

[2022-10-14 02:54] lonelyCZ commented on #2635
Because your karmada control plane can directly access ip address of member cluster apiserver?

[2022-10-14 03:06] wuyingjun-lucky opened #2642 "Karmada can not get the pvc information include status and spec"
**What would you like to be added**:
Karmada can get the pvc information include status and spec
**Why is this needed**:
`1` pvc is dispatched by karmada control plane
`2` member cluster  by kubectl :
<img width="861" alt="image" src="https://user-images.githubusercontent.com/16109961/195752984-b10e3c58-853e-4876-85f2-08fb559b3dc2.png">
`3` host cluster by kubectl:
<img width="657" alt="image" src

[2022-10-14 03:09] wuyingjun-lucky commented on #2642
Maybe we can set the status in default interpreter karmada but how to set the spec field ?

[2022-10-14 03:09] wuyingjun-lucky commented on #2642
cc @RainbowMango

[2022-10-14 03:26] SZT0728 commented on #2635
yes, they are in the same network area. Is it different in the other case( karmada control plane can't directly access ip address of member cluster apiserver)

[2022-10-14 03:29] lonelyCZ commented on #2635
Yes, it is.

[2022-10-14 05:37] SZT0728 commented on #2635
thanks~

[2022-10-14 05:37] #2635 closed

[2022-10-14 06:15] RainbowMango commented on #2642
What about propagating the PVC to more than one cluster? We would get one `volume name` or more?

[2022-10-14 06:20] wuyingjun-lucky commented on #2642
Both situations will exist

[2022-10-14 06:35] RainbowMango commented on #2642
That's the point, we can't set two names to a single filed. That's the limitation.
Even for status, we still got similar situations.

[2022-10-14 06:48] wuyingjun-lucky commented on #2642
If we do not use override policy, the capacity or accessModes will keep the same. Do you think we can just keep the fields unchanged.

[2022-10-14 06:54] RainbowMango commented on #2642
I guess the `.spec.volumeName` and `.status.accessModes` are both generated by member clusters, right? Then, I don't think we can sync the status back to the `resource template` without bringing ambiguity.

[2022-10-14 14:56] lonelyCZ commented on #2628
我刚刚在我的环境中也重现了这个问题。

我的控制面主机ip是`10.10.103.67`，子集群的主机ip是`10.10.103.68`

用karmadactl init初始化的集群，当我设置karmada-agent的参数`--cluster-api-endpoint=https://127.0.0.1:6443`时，就访问不了了，主要这个127.0.0.1在容器中确实访问不了karmada-agent，所以报错了。

[code]

[code]

---

如果设置`--cluster-api-endpoint=https://10.96.0.1:443:6443`，其中`https://10.96.0.1:443`是子集群的kube-apiserver的service ip
[code]

设置proxy-agent的`'--agent-identifiers=host=10.2

[2022-10-15 03:33] 631068264 commented on #2628
@lonelyCZ

....这不科学啊，pod IP很容易变得啊

[2022-10-15 09:03] 631068264 commented on #2628
不行，而且我也不太确定你们组件镜像版本号。。。。因为都是lastest 好迷惑。。。。我更新下镜像试试

agent
<img width="1318" alt="image" src="https://user-images.githubusercontent.com/8144089/195978087-5ffc140a-4d67-492e-b817-e79ac58138bb.png">

[code]

<img width="871" alt="image" src="https://user-images.githubusercontent.com/8144089/195978107-060dc7c7-1bc3-4488-9eb8-d85773f3298f.png">

proxy-agent

[code]

[code]

[2022-10-15 09:25] 631068264 commented on #2628
更新了下镜像。。。。好了:)，用的是原来我用的部署方式
[code]

[2022-10-15 13:54] lonelyCZ commented on #2628
这只是我用来模拟控制面无法直接访问karmada-agent的例子，实际使用还是推荐使用主机ip的

[2022-10-15 14:20] 631068264 commented on #2628
@lonelyCZ  请问一下你们是修复了什么地方导致503好了？之后出现类似的问题怎样排查？

[2022-10-15 14:23] lonelyCZ commented on #2628
你之前用的镜像是哪个版本的？

[2022-10-15 15:01] 631068264 commented on #2628
刚开始发现问题时候是1.2 发现用自定义证书时候 agent 注册失败说 clusters.cluster.karmada.io not found之类的

然后10月12号尝试用1.3的试试，拉了全部最新镜像，发现可以agent注册了,但是会503报错

然后今天再拉一次镜像，重新安装一下好了。。。

[2022-10-15 15:04] lonelyCZ commented on #2628
我用的是1.3的镜像是可以的，你要不换成v1.3版本的镜像再试一下？

[2022-10-15 15:18] 631068264 commented on #2628
现在是可以了，但是12号的 1.3的镜像不行，主要是不知道今天的和12号的镜像有什么差别，而且helm chart 包里面的都是
[code]
这样的建议改成
[code]
之类的

[2022-10-16 04:06] liangyuanpeng commented on #2628
镜像一般发布后不会使用同版本tag对已有镜像进行覆盖, 你可以用 docker inspect {imageName} 检查下 `Created` 字段.

[2022-10-16 04:18] liangyuanpeng commented on #2628
是的，helm chart里面镜像使用`latest`绝对不是最佳实践，很容易对已经部署的应用产生未知的影响，例如 `v2.x` 的版本 `karmara` 删除了某个配置项，而已部署的 `1.x karmada`应用在启动一个新的 `pod` 时 拉取了 `latest` 镜像，会由于没有这个配置项而启动失败，我认为这是一个很不友好的问题。

在Helm官网翻看了下最佳实践，可以看到 helm 官网已经有对应声明。

[code]

[swr.ap-southeast-1.myhuaweicloud.com/karmada/xxx:latest
](https://helm.sh/docs/chart_best_practices/pods/#images)

/cc @Poor12 @RainbowMango

[2022-10-16 04:26] liangyuanpeng commented on #2628
我从 https://raw.githubusercontent.com/karmada-io/karmada/master/charts/index.yaml 看到`karmada`已经有发布的 `helm chart`，随意查看了下`v1.2.1`和`v1.2.2`发现使用的镜像是`latest`, 如果旧版本的 crd 与 最新的`latest` 版本容器无法一起工作，那么这些已经发布的 `helm chart` 不仅是无效的还会对用户造成困惑.

[2022-10-17 01:26] Poor12 commented on #2628
This is indeed a problem. We hope that the mirror of the master branch will always be the latest. For those released releases, we need to manually change the mirror tag to the tag of the current version.

[2022-10-17 01:29] #2628 closed

[2022-10-17 02:08] lonelyCZ commented on #2628
Could we plan to release chart, like to [https://artifacthub.io/](https://artifacthub.io/), a public hub?

[2022-10-19 08:38] 631068264 opened #2657 "使用submariner的globalnet，mcs功能使用不正常"
**What happened**:

member集群的cidr都是一样，所以使用globalnet
[code]

apply 下面的mcs.yaml
[code]
mcs.yaml
[code]

应用部署在member1， serviceimport 在member2
[code]

但是在member2 访问derived-serve失败
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version:  1.3
- kubectl-karmada or karmadactl versi

[2022-10-19 12:18] Fatimastm opened #2658 "Unable to join kind cluster to karmada control plane because of failing to get serviceAccount"
**What happened**:
I deployed `karmada` env with `hack/local-up-karmada.sh` successfuly. As it is expected, three `member1`, `member2`, and `member3` have been created.

Then I just tried to join a simple `kind` cluster with only one `control plane` to the federation in `push` mode by running:

`kubectl karmada join kind-kind --kubeconfig=$HOME/.kube/karmada.config --karmada-context=karmada --clus

[2022-10-20 03:35] RainbowMango commented on #2658
Hi @Fatimastm could you please tell us the following information:
- Which Karmada version you are using?
- What's the Kubernetes version of the `kind-kind` cluster?

With this information, I can try to reproduce it on my side.

I think the issue has been resolved by #1972, maybe you can try with [karmadactl(or kubectl-karmada)@v1.2.2](https://github.com/karmada-io/karmada/releases/tag/v1.2.2).

By

[2022-10-20 07:41] wzshiming opened #2661 "Use Kwok instead of Kind without actually running a container"
**What would you like to be added**:

https://github.com/kubernetes-sigs/kwok

1. Use Kwok instead of Kind with the non-pull mode clusters in the example
2. ~~Update the document to use Kwok instead of [fake-kubelet] (https://github.com/wzshiming/fake-kubelet)
    https://karmada.io/docs/next/developers/performance-test-setup-for-karmada~~

**Why is this needed**:

Reduce CI resource requirements

[2022-10-20 08:01] wzshiming commented on #2661
/assgin

[2022-10-20 08:10] wzshiming commented on #2661
Well, I will work on this.

Ok, then I'll leave the document alone.

[2022-10-20 09:33] chaunceyjiang commented on #2371
Friendly ping @jameszhangyukun Any progress？

[2022-10-20 09:58] RainbowMango commented on #2371
Hi @chaunceyjiang
@jameszhangyukun [made a demo](https://github.com/jameszhangyukun/karmada/pull/1) for this.

The next step I think is `Resource Interpreter framework cache and reorganize configurations`.

[2022-10-20 10:01] wzshiming commented on #2661
https://github.com/kubernetes-sigs/kwok#basic-usage
Kwok can be used to simulate nodes and clusters

Simulate Node: https://github.com/kubernetes-sigs/kwok/blob/main/docs/examples/kwok-in-cluster.md
Simulate Cluster: https://github.com/kubernetes-sigs/kwok/blob/main/docs/examples/kwokctl-manage-cluster.md
Manage nodes and pods: https://github.com/kubernetes-sigs/kwok/blob/main/docs/examples/kwok-m

[2022-10-21 02:03] Poor12 opened #2665 "Improve karmadactl command description"
At present, the description format of karmadactl subcommands is not uniform, some do not have Long descriptions, some descriptions are sentences and some are not. From the next version, we will generate readable documents for commands, so I think we need to complete and unify the description information format.

See the page：https://karmada.io/docs/next/reference/karmadactl/karmadactl-commands/kar

[2022-10-21 02:03] Poor12 commented on #2665
/help
/kind cleanup
/cc @lonelyCZ

[2022-10-21 03:19] lonelyCZ commented on #2665
Ok, I will improve them.

/assign

[2022-10-21 07:03] lonelyCZ commented on #2349
Hi @liangyuanpeng , have it moved forward?

And I consider to optimize the code style of karmadactl at #2664 , let's push ahead this issue.

[2022-10-21 07:28] Fatimastm commented on #2658
Hi @RainbowMango.

- Which Karmada version you are using? v1.2
- What's the Kubernetes version of the kind-kind cluster? v0.16.0

It is worst to mention that, I installed the kind in `docker` after karmada installation because kind was not insatlled automaticaly with `hack/local-up-karmada.sh`.
The endpoint of the `kind-kind` is like `server:https://127.0.0.1:37519` and is differenet with the endp

[2022-10-21 08:06] RainbowMango commented on #2658
I don't get it. You can start the kind cluster before or after Karmada installation.

Yes, the reason why I recommend to use `hack/create-cluster.sh` to create kind cluster is this script will replace the [endpoint of the kind cluster](https://github.com/karmada-io/karmada/blob/0a88b8605e468f392c3380e40da5d3937f1b45bf/hack/create-cluster.sh#L97-L100).

Any way, can you try again with karmadactl `v

[2022-10-21 09:25] Fatimastm commented on #2658
Yes. Thanks @RainbowMango. By upgrading `kubectl karmada` version, I was able to join my cluster tothe karmada control plane.
However after 5 minutes has not been ready `kind-kind   Push   False   5m10s`.

[2022-10-21 09:32] RainbowMango commented on #2658
Is the `kind-kind` created by `hack/create-cluster.sh`?

[2022-10-21 09:55] Fatimastm commented on #2658
This one ( `kind-kind` ) is created with `kind create cluster`. The reason is I want to have multi worker nodes in the clsuter. I am not sure how to hnadle with it if I use `hack/create-cluster.sh`. Can I change the script to create a cluster with multi worker nodes?

[2022-10-21 10:17] RainbowMango commented on #2658
That's the reason why Karmada can't sync the cluster's healthy status. Because the Karmada control plane can't access it with a `localhost` endpoint.

Two solutions.

1) after you create your kind cluster, you can update the endpoint in the generated kubconfig file, as per:
https://github.com/karmada-io/karmada/blob/12d2a2998d44d49f5578a91c88586be12873a510/hack/create-cluster.sh#L97-L100

Then joi

[2022-10-22 12:50] lonelyCZ commented on #2657
目前应该是没有支持submariner globalnet的

[2022-10-22 13:51] 631068264 commented on #2657
那这个应该是个feature。。。。而且不支持的话应该**文档提醒**集群安装需要配置不同的pod/svc的CIDR

[2022-10-22 14:12] lonelyCZ commented on #2657
是的，有兴趣的话，欢迎参与完善这部分内容 :)

[2022-10-22 14:33] helen-frank opened #2670 "Request to be a Member of Karmada community"
I'm requesting to be a Member of Karmada community.
Recently，I started to to participate in the development of the community and submit PRs 7+

See:

https://github.com/karmada-io/karmada/pulls?q=is%3Apr+author%3Ahelen-frank+is%3Aclosed

Hope bring more improvements for Karmada in the future.

/cc @kevin-wangzefeng @RainbowMango

Thank you for your help along the way
@carlory @RainbowMango @lonely

[2022-10-22 15:00] #2670 closed

[2022-10-22 15:16] ikaven1024 opened #2671 "go test doesn't successfully on Goland"
**What happened**:
When I run `go test` the `pkg/karmadactl/cmdinit/utils/util_test.go` on Goland,
<img width="454" alt="image" src="https://user-images.githubusercontent.com/17907604/197346325-9b1f57e6-914f-40e4-933f-c6389f384437.png">

In the console shows `Process finished with the exit code 0`, while Goland don't display the test tree green.
<img width="788" alt="image" src="https://user-image

[2022-10-22 15:30] ikaven1024 commented on #2671
cd pkg/karmadactl/cmdinit/utils
go test -json  -race ./...
[code]

Thes output `Download complete.--- PASS: TestDownloadFile (0.01s)\n` mix the go test output and `util.go`
https://github.com/karmada-io/karmada/blob/875d2ef6c16780d5ef38e41d288be766f04ae93f/pkg/karmadactl/cmdinit/utils/util.go#L22-L30

Goland didn't parse the log correctly.

---
When I append the '\n' to the print,
[code]
now Golan

[2022-10-23 08:35] stingshen opened #2674 "controller manager crashes when cluster ImpersonatorSecretRef is nil"
**What happened**:

When cluster ImpersonatorSecretRef is nil, controller manager crashes.

**What you expected to happen**:

Controller manager should not crash at any time.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a cluster object with ImpersonatorSecretRef is nil
2. Controller manager crashes

**Anything else we need to know?**:

**Environment**:
- Karmada v

[2022-10-24 01:43] RainbowMango commented on #2674
Thanks @stingshen for reporting this to us and sending the patch.
/assign @stingshen
as per #2675

[2022-10-24 03:28] XiShanYongYe-Chang commented on #2588
Hi @wolgod, this is made by the MCS(multi-cluster-service) feature, which requires the k8s version 1.21 or later.

[2022-10-24 03:52] XiShanYongYe-Chang commented on #2614
@loicalbertin thanks a lot for your patch!

[2022-10-24 07:14] Fish-pro commented on #2665
@lonelyCZ Can I be part of the process?

[2022-10-24 07:56] RainbowMango commented on #2583
After #842, people can have their customized filter plugin to deny the cluster in the low available resources.

For instance, the customized filter plugin can look at the available resources, once the local cluster(in IDC) no enough resources left, it can prevent the local cluster from scheduling results, then the scheduler will tend back to the cluster in public.

How do you think? @Garrybest @qi

[2022-10-25 08:23] Garrybest commented on #2583
I think it could work.

[2022-10-26 02:17] bretagne-peiqi opened #2685 "karmada-system namespace deletion sucks."
when try to delete karmada system, the karmada-system yaml shows as belows:

- lastTransitionTime: "2022-10-26T01:38:28Z"
    message: 'Failed to delete all resource types, 2 remaining: servicebindings.servicecatalog.k8s.io
      "Unknown" is forbidden: not yet ready to handle request, serviceinstances.servicecatalog.k8s.io
      "Unknown" is forbidden: not yet ready to handle request'
    reason:

[2022-10-26 02:43] bretagne-peiqi commented on #2685
I try to get  servicebindings.servicecatalog.k8s.io  and serviceinstances.servicecatalog.k8s.io in my cluster. but these two crd(resource) doesn't exist.

so I don't understand the cause.

[2022-10-26 02:49] XiShanYongYe-Chang commented on #2685
You can try to forcibly delete the namespace by deleting the finalizers field:
[code]

[2022-10-26 04:04] XiShanYongYe-Chang commented on #2657
多谢指出，我去完善下mcs文档
/assign

[2022-10-26 04:07] XiShanYongYe-Chang commented on #2657
/kind document

[2022-10-26 04:22] XiShanYongYe-Chang commented on #2657
/kind documentation

[2022-10-26 06:14] #2674 closed

[2022-10-26 08:18] XiShanYongYe-Chang commented on #2685
You can use `kubectl describe` command to describe the cluster object and see the condition status:
[code]

[2022-10-26 08:25] bretagne-peiqi commented on #2685
there are no errors  ni events

Metadata:
  Creation Timestamp:  2022-10-26T06:46:33Z
  Managed Fields:
    API Version:  cluster.karmada.io/v1alpha1
    Fields Type:  FieldsV1
    fieldsV1:
      f:spec:
        f:apiEndpoint:
        f:impersonatorSecretRef:
          .:
          f:name:
          f:namespace:
        f:secretRef:
          .:
          f:name:
          f:namespace:
        f:

[2022-10-26 09:50] XiShanYongYe-Chang commented on #2371
Hi @jameszhangyukun, I'll be involved with you in the development of this work, thanks~

[2022-10-27 02:23] bretagne-peiqi commented on #2685
thanks for your reply.  I tried the new version release 1.3

#my installation from your guide:
./remote-up-karmada.sh ~/.kube/config karmada-host

##when I try to register cluster, it shows:

[root@cn-shanghai .kube]# kubectl karmada join jichucluster --kubeconfig=config --cluster-kubeconfig=configjichu
W1027 10:19:25.352438    5535 cluster.go:96] failed to retrieve cluster(). error: the server is

[2022-10-27 02:37] bretagne-peiqi commented on #2685
<img width="825" alt="1666838199243" src="https://user-images.githubusercontent.com/5621794/198177584-e7a9ff96-a8a7-4e6b-aaa1-41c9601ade64.png">

this logs is from karmada-controller

[2022-10-27 02:51] bretagne-peiqi commented on #2685
![1666839045390](https://user-images.githubusercontent.com/5621794/198179423-04d8aecc-aa2b-4421-963f-5ecc4426ddf2.jpg)

logs from karmada-aggregated-apiserver

[2022-10-27 03:10] XiShanYongYe-Chang commented on #2685
`Cluster` is registered by AA, not CRD.

You can have a check with command:
[code]
To ensure the `Cluster` resource is ok.

[2022-10-27 06:39] RainbowMango opened #2687 "CreateOrUpdateSecret function not works as expected"
**What would you like to be added**:
The `CreateOrUpdateSecret` doesn't work as expected as the `Update` operation would fail due to not refresh the latest `ResourceVersion`:
https://github.com/karmada-io/karmada/blob/5d42e82b7b92812a04aaade4b77e66556aa20d66/pkg/util/secret.go#L49-L61

For more details please refer to: https://github.com/karmada-io/karmada/pull/2596#discussion_r1006333298

Since t

[2022-10-27 06:44] lonelyCZ commented on #2687
It also contain other several functions like rbac, I will fix them.

/assign

[2022-10-27 07:16] jwcesign commented on #2525
So let's push this forward,  referring to the meeting notes before, the best way is to add a labels to decide whether to sync the ns:

I first think is add a lable to ns: `controller.karmada.io/namespace: notSync`

When ns controller find this label, it will not sync this ns to member cluster.

cc @RainbowMango @carlory @XiShanYongYe-Chang

[2022-10-27 07:19] jwcesign commented on #2525
And also, referring other famous projects, the labels should follow:
'submodel.karmada.io/resource: xxx'

[2022-10-27 07:56] RainbowMango commented on #2525
Do we have other alternatives?

[2022-10-27 08:10] jwcesign commented on #2525
`controller.karmada.io/namespace-visibility`:

1. host-plane-only
2. host-only
3. control-plane-only

[2022-10-27 08:40] bretagne-peiqi commented on #2685
@XiShanYongYe-Chang thanks, it is sovled.

[2022-10-27 08:42] XiShanYongYe-Chang commented on #2685
You are welcome :)
/assign
/close

[2022-10-27 08:42] #2685 closed

[2022-10-27 09:25] XiShanYongYe-Chang commented on #2504
Hi @cleverhu, looks like you've solved the problem. Congratulations.
Let's close this first, if you have a related problem again, you can reopen it at any time.
/close
/kind question

[2022-10-27 09:25] #2504 closed

[2022-10-27 09:25] XiShanYongYe-Chang commented on #2504
/remove-kind bug

[2022-10-27 09:28] #2657 closed

[2022-10-27 09:34] #2282 closed

[2022-10-27 11:33] jwcesign commented on #2090
anything new about this?

[2022-10-27 11:47] dddddai commented on #2090
If we are gonna change the naming rule and [the idea](https://github.com/karmada-io/karmada/issues/2090#issuecomment-1181791827) makes sense, I will work on it. @RainbowMango WDYT

[2022-10-27 12:54] mrequena opened #2689 "Deployment deployed in all cluster members"
**Please provide an in-depth description of the question you have**:
I have 2 clusters in Karmada. When I apply a deployment, the deployment is deployed in both clusters. I use a simple nginx deployment as the one in samples/nginx/deployment.yaml. I use propagationpolicy.yaml (from samples/nginx) without the block "replicaScheduling" because I only have 1 replica.
I want to deploy the deployment i

[2022-10-27 13:22] RainbowMango commented on #2689
Is this possible?

For now, the number of selected clusters can be restricted by [SpreadConstraint](https://github.com/karmada-io/karmada/blob/5d42e82b7b92812a04aaade4b77e66556aa20d66/pkg/apis/policy/v1alpha1/propagation_types.go#L157), a simple example would be:
[code]

Karmada scheduler will select one cluster, but for now, it doesn't consult the `load` of the cluster. We are working on it at #7

[2022-10-28 01:01] #2671 closed

[2022-10-28 01:34] RainbowMango commented on #1471
/close
As lack of activities. Feel free to reopen it if the problem has not been solved.

[2022-10-28 01:34] #1471 closed

[2022-10-28 08:10] jwcesign commented on #2525
There is four cases:
1. create ns with `controller.karmada.io/namespace-visibility` label: so just not create work resource.
2. create ns with `controller.karmada.io/namespace-visibility `label, then patch it without label, so it will trigger `Reconcile` to create worke resource.
3. create ns without `controller.karmada.io/namespace-visibility` label, so just create work resource.
4. create ns wit

[2022-10-28 08:27] weilaaa commented on #2234
In my opinion, we need to fundamentally enhance the capabilities of client-go. See proposal issues: https://github.com/kubernetes/kubernetes/issues/109329

[2022-10-28 08:37] RainbowMango commented on #2525
sorry, I can't get it.

[2022-10-28 08:41] jwcesign commented on #2525
First has this label,  karamda should skip to create the work(not sync it to member clusters).
When patch to delete it, it will trigger `Reconcile` to create the work(sync it to member clusters).

[2022-10-28 08:51] RainbowMango commented on #2525
My suggestion:
[code]

We can skip the namespaces with the label ` namespace.karmada.io/skip-auto-propagation: true` in the namespace controller.

Q: What if a namespace doesn't have the label before, and the label is added after it has been propagated to the member cluster?

I'm not sure if we should take action for that as you mentioned above it's a dangerous operation to remove a namespace.
I t

[2022-10-28 08:55] RainbowMango commented on #2234
@weilaaa Are you suggesting waiting for the proposed issue in K/K?

[2022-10-28 09:11] wuyingjun-lucky opened #2695 "OverridePolicy will not work if op is applied after PropagationPolicy and op has nil ResourceSelectors"
**What happened**:
OverridePolicy will not work if op is applied after PropagationPolicy created（rb created） and op has nil ResourceSelectors
**What you expected to happen**:
1.OverridePolicy will work if op is applied after PropagationPolicy created（rb created） and op has nil ResourceSelectors
2.OverridePolicy will work if op is applied before PropagationPolicy created（rb created） and op has nil

[2022-10-28 09:30] wuyingjun-lucky commented on #2695
/assign

[2022-10-28 09:31] wuyingjun-lucky commented on #2695
/cc @RainbowMango @XiShanYongYe-Chang @chaunceyjiang

[2022-10-28 09:34] wuyingjun-lucky commented on #2695
It seems the `newOverridePolicyFunc` present the binding_controller reconcile, Can we modify here?

[2022-10-28 09:50] XiShanYongYe-Chang commented on #2695
Hi @wuyingjun-lucky, what does ` op has no ResourceSelectors` mean? I don't see that in the example you've given.

The logic of `newOverridePolicyFunc` seems will reconcile the rbs that match the op:
https://github.com/karmada-io/karmada/blob/e6e946ff51ecca5cbb7d8c0e9931b559e44313e9/pkg/controllers/binding/binding_controller.go#L246-L267

[2022-10-28 09:55] wuyingjun-lucky commented on #2695
Sorry , I have some wrong in pasting
OP
[code]

[2022-10-28 09:58] b2k4j opened #2697 "Error when accessing member cluster by client-go using karmada-apiserver endpoint"
I can access resource of member cluster using my serviceaccount in CLI:
![b](https://user-images.githubusercontent.com/89241565/198559328-5e736fdc-d29d-4d68-9b4b-79918fbde34f.png)

But got such an error using client-go:
![a](https://user-images.githubusercontent.com/89241565/198558497-72d0b230-41eb-4c1d-aa5d-87d7c1026783.png)

**What do you think about this question?**:
I'm sure all the configurat

[2022-10-28 09:59] XiShanYongYe-Chang commented on #2695
The rbs may not be matched. We can add some logs for debugging:

https://github.com/karmada-io/karmada/blob/e6e946ff51ecca5cbb7d8c0e9931b559e44313e9/pkg/controllers/binding/binding_controller.go#L261

[2022-10-28 10:11] wuyingjun-lucky commented on #2695
`1` I create deployment
`2` I create op with nil selector in same ns
`3` I create pp in same ns

The op will works . Because
[code]
and
[code]
But if we change 2 and 3 We create pp first and op later
It will not reconcile again because rs is nil
[code]

[2022-10-28 10:17] wuyingjun-lucky commented on #2695
我们的环境出现的问题情况 就是 如果 op的 resourceselector 是空的 ，当你创建这个op的时候，他无法触发binding_controller 的调和。 但是 按照 op的接口设计 resourceselector 为空应该是match 这个 ns下 所有的。
只有 在 binding_controller 主动的因为resourcebinding 的 因素或者其他资源调和 之前 这个 带有 空的 resourceselector 的 op 已经被应用了，他才会应用成功。
不知道我是否理解和描述的有问题。

[2022-10-28 11:30] weilaaa commented on #2234
Yes, it may be the most appropriate way, but I can't guarantee that this proposal will be passed. At least we can wait for the conclusion of the community(K/K) on this proposal.

[2022-10-28 14:41] hanweisen commented on #2695
In addatation, when **op resource selector is empty**, we create deployment first, then create pp, finally we create op. op will take effect. At this time we modify op, The new changes will not be applied to the deployment.

[2022-10-28 18:54] mrequena commented on #2689
I tested and it works (thanks!), i.e. the deployment is deployed in only one cluster. In addition to this, I tried several times and the deployment is done in the same cluster. What is the policy of the Karmada scheduler to choose the cluster?

[2022-10-29 01:16] RainbowMango commented on #2697
cc @XiShanYongYe-Chang @lonelyCZ

[2022-10-29 01:28] RainbowMango commented on #2689
Good questions. But hard to say. Because the Karmada scheduler makes the final decision according to a bunch of factors, not by random, some of the rules are defined by [plugins](https://github.com/karmada-io/karmada/tree/master/pkg/scheduler/framework/plugins), maybe you can figure out it from the scheduler logs.

[2022-10-29 07:10] RainbowMango commented on #2512
Hi @fredgate
We just introduced a label([#2696](https://github.com/karmada-io/karmada/pull/2696)) that can be used to label the namespace resources that should be skipped from auto-propagation.
https://github.com/karmada-io/karmada/blob/026781f207005c07b5f4cb0e76cf79b055bf53c0/pkg/apis/policy/v1alpha1/well_known_constants.go#L13-L21

For example:
[code]

[2022-10-29 07:42] jwcesign opened #2701 "controller: pass `ctx` parameter from top level to sub functions, instead of creating one new or using default context"
**What would you like to be added**:
 pass `ctx` parameter from top level to sub functions, instead of creating one new or using default context

**Why is this needed**:
1. When create controllerManager, `Options.BaseContext` is empty:
https://github.com/karmada-io/karmada/blob/026781f207005c07b5f4cb0e76cf79b055bf53c0/cmd/controller-manager/app/controllermanager.go#L117

https://github.com/karmada

[2022-10-29 07:44] jwcesign commented on #2701
cc @RainbowMango

[2022-10-29 07:50] jwcesign commented on #2701
/kind cleanup

[2022-10-29 08:54] jwcesign commented on #2525
/assign

[2022-10-29 08:55] jwcesign commented on #2525
/kind feature

[2022-10-29 08:58] jwcesign commented on #2525
Because of the wrong format MR message, this issue is not closed automatically, So i close it manually.
/close

[2022-10-29 08:58] #2525 closed

[2022-10-29 09:48] XiShanYongYe-Chang commented on #2695
Thanks, @wuyingjun-lucky @hanweisen I got it, There's a real problem with this behavior. When op's `resourceselector` is nil, this logic needs to put all bindings into `requests` in `newOverridePolicyFunc`.

In principle, it's supposed to be this behavior. However, in the production environment, if users do this, is it possible that a large number of bindings are triggered for reconcile, affecting

[2022-10-29 16:31] b2k4j commented on #2697
@XiShanYongYe-Chang
Sure, my configuration of the karmada-apiserver is as following:
[code]
And the sample code is as follows:
[code]

[2022-10-31 02:02] wuyingjun-lucky commented on #2695
1. I think users should be cautious with usage of nil resource selector in overridepolicy, especially in production environment.

2. If the event on overridepolicy (nil rs) can not trigger the reconcile of resourcebinding that will cause many overridepolicies can not work  and all modification on these will be useless. That may let users confused.

Should the  behaviour on overridepolicy (nil rs)

[2022-10-31 02:54] XiShanYongYe-Chang commented on #2695
Let's invite more people to discuss it.
/cc @RainbowMango @chaunceyjiang Can you help take a look?

[2022-10-31 06:03] chaunceyjiang commented on #2695
Indeed.  I can reproduce it.
[code]

[code]

[code]

[2022-10-31 06:27] chaunceyjiang commented on #2695
Whether the OP take effect or not is related to the time of creation, which will definitely confuse users.

If a user deploys a private application to `karmada` using `helm`, and there are some OPs in the helm chart package, it becomes uncontrollable whether these OPs take effect or not.  🤔

[2022-10-31 06:38] wuyingjun-lucky commented on #2695
So should we let the behaviour on overridepolicy (nil rs) keep pace with normal overridepolicy or should we make it more clear on the api comments ?

[2022-10-31 07:11] chaunceyjiang commented on #2695
+1

By the way.  I suggest you put this issute into the next Karmada meeting.

[2022-10-31 07:19] wuyingjun-lucky commented on #2695
OK, If we can not draw a conclusion. I will put it into the meeting.

[2022-10-31 07:23] XiShanYongYe-Chang commented on #2695
It will be ok~

[2022-10-31 07:30] #2641 closed

[2022-10-31 08:17] chaunceyjiang opened #2712 "cfssl image does not support arm64"
**What happened**:

https://github.com/karmada-io/karmada/blob/bd8d734054f55f44786ffebd2acff015abea2963/charts/karmada/values.yaml#L35-L39

<img width="1385" alt="image" src="https://user-images.githubusercontent.com/17962021/198962446-508cbc11-9ec4-4330-94e7-6d8035f8d7c5.png">

cfssl image does not support arm64

**What you expected to happen**:

Karmada can be installed using `helm` in the arm64

[2022-10-31 10:22] chaunceyjiang commented on #2371
Hi, @jameszhangyukun @RainbowMango @XiShanYongYe-Chang  I am also very interested in this, can I participate in the development together?

[2022-11-01 03:59] XiShanYongYe-Chang commented on #2513
Hi @hansongChina, How's it going? Do you have any problems using version 1.3?

[2022-11-01 06:42] XiShanYongYe-Chang commented on #2697
Hi @b2k4j , I'm sorry, I don't know how to solve this problem. I think some parameters are not set correctly when constructing `*rest.Config`.

[2022-11-01 07:21] lonelyCZ commented on #2697
I also guess that it could be the parameter problem of `*rest.Config`, because we can use the `Factory` to access the resources of member clusters normally.

https://github.com/karmada-io/karmada/blob/f68da6d64e76f52dcf45ac32844342d70cb9b66a/pkg/karmadactl/util/factory.go#L58-L59

[2022-11-01 07:28] b2k4j commented on #2697
@XiShanYongYe-Chang
Fine, thanks for your reply.

[2022-11-01 07:33] chaunceyjiang opened #2720 "Please sync APIs to karmada-api repo from karmada repo based on v1.3.x"
**Please provide an in-depth description of the question you have**:

Please sync APIs to karmada-api repo from karmada repo based on v1.3.x

**What do you think about this question?**:

**Environment**:
- Karmada version:
- Kubernetes version:
- Others:

[2022-11-01 07:35] b2k4j commented on #2697
@lonelyCZ
Thanks, it's a nice tip!

[2022-11-01 07:54] XiShanYongYe-Chang commented on #2697
Our E2E also constructs requests to access:

https://github.com/karmada-io/karmada/blob/5811aea95303236ff1c98eb110cea065b4020143/test/e2e/aggregatedapi_test.go#L199

If there are new developments, we can talk more about it.

[2022-11-01 08:03] hanzai opened #2721 "ResourceVersion returned by watch API in karmada-search is not comparable"
**What would you like to be added**:
  resouceversion should include some information to indicate which cluster the watch event comes from.

**Why is this needed**:
  The resourceversion returned by watch API in karmada-search  is a base64-encoded string. The original content is a jsonobject including member cluster names and their respective resourceversion. This design works well in the List and

[2022-11-01 08:22] XiShanYongYe-Chang commented on #2721
/cc @ikaven1024

[2022-11-01 08:47] ikaven1024 commented on #2721
FROM: https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions

[2022-11-01 09:32] RainbowMango commented on #2720
/assign
Are you using this repo?

[2022-11-01 09:37] chaunceyjiang commented on #2720
![image](https://user-images.githubusercontent.com/17962021/199204614-e4e584ad-b385-4546-aa18-343c1f303e50.png)

[2022-11-01 09:44] wzshiming opened #2722 "cfssl checksum mismatch"
**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Karmada version: latest
- kubectl-karmada or karmadactl version (the result of `kubectl-karmada version` or `karmadactl version`):
- Others:

[2022-11-01 09:44] wzshiming commented on #2722
/assign

[2022-11-01 09:49] hanzai commented on #2721
OK, I see. tks

[2022-11-01 09:49] #2721 closed

[2022-11-01 09:51] RainbowMango commented on #2722
Can you tell us how to reproduce it?
By the way, can you show the output of `go env GOPROXY`?

[2022-11-01 09:58] ikaven1024 commented on #2721
Hoping more feedbacks from you about it. @hanzai

[2022-11-01 12:20] wzshiming commented on #2722
GOPROXY=https://goproxy.io go install github.com/cloudflare/cfssl/cmd/...@v1.6.2

[2022-11-01 12:20] wzshiming commented on #2722
This means that the tag has been force-pushed, and goproxy.io has cached the tag without updating it.

[2022-11-01 12:28] ikaven1024 commented on #2722
I works well on my side. What's your `GOSUMDB`?
[code]

[2022-11-01 12:35] wzshiming commented on #2722
[code]

[2022-11-01 12:36] wzshiming commented on #2722
[code]

[2022-11-01 12:37] wzshiming commented on #2722
Maybe had cached in machine

[2022-11-01 12:46] RainbowMango commented on #2722
I guess it's the `goproxy.io`'s problem, it might cached the wrong code.

[2022-11-02 02:20] calvin0327 commented on #2720
Should we add a CI workflow to automatically synchronize the API repo?

[2022-11-02 02:23] calvin0327 commented on #2712
`bitnami/kubectl` is not supported either, if we install karmada with helm, the pods of `pre job` and `post job` cannot running.

[2022-11-02 02:40] RainbowMango commented on #2720
Yes, but not yet.

[2022-11-02 03:13] XiShanYongYe-Chang opened #2727 "The pp/cpp can preempt the matching resource template"
**What happened**:

When a low-priority pp is created and a resource profile is matched,
[code]
Deployment will be propagated to `member1`, and then create a high-priority pp to match deployment nginx:
[code]
And Update Deployment nginx's replicas to 3, Deployment nginx will be propagated to `member2`.

**What you expected to happen**:

The pp/cpp can not preempt the matching resource template.

*

[2022-11-02 03:14] XiShanYongYe-Chang commented on #2727
/assign

[2022-11-02 03:30] cmicat commented on #2722
I tested `GOPROXY=https://goproxy.io/ go install github.com/cloudflare/cfssl/cmd/...@v1.6.2`, it will return the same `SECURITY ERROR` as you said.

But when I changed to `https://goproxy.cn/`, everything is fine.

[2022-11-02 03:32] #2687 closed

[2022-11-02 03:45] RainbowMango commented on #2727
In my opinion, `preemption` is a dangerous action, given there is no place to declare the expected behavior(`yet`), we should always honor the first matched PP.
How do you say? @Garrybest @chaunceyjiang

[2022-11-02 03:48] RainbowMango commented on #2722
@wzshiming I suggest reporting this issue to goproxy.io.

[2022-11-02 03:48] renhuaihuai commented on #2154
In which version can this capability be used？

[2022-11-02 03:53] cmicat commented on #2712
It seems more like an upstream problem? What Karmada project can do with it?

[2022-11-02 03:55] RainbowMango commented on #2154
@mathlsj Thanks for the awesome idea. I like it.
This probably could be a supplement way for Karmada to find the potential dependencies.

Is it available for you to have a chat at next community meeting?

[2022-11-02 06:09] chaunceyjiang commented on #2727
🤔
Isn't this the current processing logic?

[2022-11-02 06:11] calvin0327 commented on #2712
Indeed, karmada should not to maintain these dependent third-party images.

Don't know if there is a better support for multi-platform image source.

[2022-11-02 06:18] XiShanYongYe-Chang commented on #2727
Yes, but the logic is not expected.

[2022-11-02 06:19] Garrybest commented on #2727
Right. That's what I do in my environment. If a workload has matched one pp before, it will not change until the pp is deleted.

[2022-11-02 06:19] chaunceyjiang commented on #2727
Got it.

[2022-11-02 06:26] chaunceyjiang commented on #2727
<img width="678" alt="image" src="https://user-images.githubusercontent.com/17962021/199413350-d98950ef-d610-497b-bfbc-b0703fc81185.png">

In our environment, we use this to prompt the user.

[2022-11-02 06:39] wzshiming commented on #2722
well, we'd better bump to avoid this issue
Please have a look at #2723

[2022-11-02 07:34] b2k4j commented on #2697
@lonelyCZ @XiShanYongYe-Chang
Thanks for your help! I've fixed this issue.

[2022-11-02 07:34] b2k4j commented on #2697
/close

[2022-11-02 07:34] #2697 closed

[2022-11-02 07:39] XiShanYongYe-Chang commented on #2697
Gold to here that. By the way, can you share your fix?

[2022-11-02 08:05] XiShanYongYe-Chang commented on #2371
Of course, thank you very much.

[2022-11-02 08:48] b2k4j commented on #2697
I'm sorry I do not know the cause of this problem, and it's still a mystery.  I resolve this problem by using `*rest.Config.Host` instead of `*rest.Config.Proxy` behaving like `*rest.Config.Host = "https://karmada-apiserver.karmada-system.svc.cluster.local:5443/apis/cluster.karmada.io/v1alpha1/clusters/member1/proxy"`.

[2022-11-02 08:52] b2k4j commented on #2697
I'm sorry I do not know the cause of this problem, and it's still a mystery.  I resolve this problem by using `rest.Config.Host` instead of `rest.Config.Proxy` behaving like `rest.Config.Host = "https://karmada-apiserver.karmada-system.svc.cluster.local:5443/apis/cluster.karmada.io/v1alpha1/clusters/member1/proxy"`.

[2022-11-02 08:52] jwcesign commented on #780
Have a questison, why not define the `PropagatePriority` in `ReplicaScheduling`?
If define in `ClusterAffinity`, if it's static weighte scheduling strategy, the priority will works?

[2022-11-02 08:54] XiShanYongYe-Chang commented on #2697
Ok. thanks~

[2022-11-03 01:15] #2720 closed

[2022-11-03 01:58] Garrybest commented on #780
I suppose this field is a kind of `ClusterAffinity`, matching the semantics.

No, it only works for dynamic scheduling.

[2022-11-03 02:03] jwcesign commented on #780
It must be the file of `ClusterAffinity`(Will it make customers confused because of scheduling strategy)? I think the only benifit is it can use label selector to give a priority for multiple clusters.

[2022-11-03 02:15] Garrybest commented on #780
Well, it could be, the concern is sensible. This field is actually a kind of soft affinity when dividing replicas, and does not work if policy is static or dupliacated. I'm ok of moving to `ReplicaScheduling `.

No worries. Label selector also works as well no matter where this field is located, `corev1.PreferredSchedulingTerm` could prescribe affinity terms.

[2022-11-03 03:02] jwcesign commented on #780
BTW, if define it in `ReplicaScheduling`, but without any `labelSelector`, users need to set each clusers' priority one by one. will it make configuration complex?

[2022-11-03 04:11] Garrybest commented on #780
I think there is a misjudge here. According to https://github.com/karmada-io/karmada/pull/842, priority is a slice `[]corev1.PreferredSchedulingTerm`. No matter the location is, users always need to set a preference which consists of `matchExpressions` and `matchFields`. Label or cluster name is both available here.

[2022-11-03 09:21] Michael-Xing opened #2735 "After `kubectl karmada deinit` some components cannot be installed properly using `kubectl karmada init`."
**What happened**:

After uninstalling karmada using kubectl-karmada, and reinstalling karmada, some components cannot be installed normally.

**What you expected to happen**:

After uninstalling karmada using kubectl-karmada, all resources are cleaned up. Reinstalled karmada and all components deployed normally.

**How to reproduce it (as minimally and precisely as possible)**:

The following is

[2022-11-03 09:28] jwcesign commented on #780
If the scheduling policy is considered, the following scenarios are involved:
||clusters' priority is not configured|clusters' priority is configured|user story|
|--|--|--|--|
|Duplicated|Behaving the same way now|Behaving the same way now||
|Divided/StaticWeight|If the weights are the same, high-priority clusters are preferentially scheduled(Very few benefits)|Behaving the same way now||
|Divided

[2022-11-03 09:48] Michael-Xing commented on #2735
问题已解决：
清楚缓存数据及karmada旧的etcd数据
[code]

[2022-11-03 09:48] #2735 closed

[2022-11-03 10:04] lonelyCZ commented on #2735
Here #2505 , I will review it ASAP.

[2022-11-03 14:15] #2727 closed

[2022-11-04 03:30] RainbowMango opened #2743 "Stop update krew for release 1.1.x"
**Task description**:
Since [krew ](https://github.com/kubernetes-sigs/krew) only caches the `latest` release, so we don't need to update it for v1.1.x releases. Otherwise, it will open an invalid PR, like https://github.com/kubernetes-sigs/krew-index/pull/2541.

**Solution**:

This task is for branch `release-1.1`, and here is an example for `release-1.2`:
https://github.com/karmada-io/karmada/pu

[2022-11-04 04:22] chaunceyjiang commented on #2464
Friendly ping @carlory  Any progress？ If you don't have time, I can help 😊

[2022-11-04 06:05] carlory commented on #2464
you can pick up it.

/assign @chaunceyjiang

/unassign

[2022-11-04 06:14] RainbowMango commented on #2464
Thanks @chaunceyjiang.

[2022-11-04 08:12] wzshiming commented on #2722
It may not be a issue of `goproxy.io`, but rather that `github.com/cloudflare/cfssl`'s tag `v1.6.2` has been force-pushed

[2022-11-04 09:24] RainbowMango commented on #2722
Each version will be cached by `proxy.golang.org` and `sum.golang.org` will record the checksum.
If the maintainer re-tagged the version, then we can't install it with `sum.golang.org`.

[2022-11-04 12:11] ndkhangvl commented on #2743
I want to assign, I am a newbie. My job is to delete some lines of code used to update the version in branch 1.1.x?

[2022-11-04 14:07] yanggangtony commented on #2743
/assign

[2022-11-05 01:28] yanggangtony commented on #2701
@jwcesign
Hi , I just take a pr for that , PTAL

[2022-11-05 01:29] RainbowMango commented on #2743
@ndkhangvl Yes. but @yanggangtony has sent a PR for this. Hope you don't mind.

[2022-11-05 03:09] Garrybest commented on #780
Generally accurate, expect `DynamicWeight`. As long as the strategy is dynamic, i.e. `DynamicWeight ` or  `Aggregated`, cluster priority will take effect.

If `DynamicWeight`, users also want to distinguish different kinds of clusters, like public cloud, private cloud or something else.

[2022-11-05 07:13] #2712 closed

[2022-11-05 07:24] #2379 closed

[2022-11-05 07:24] #1648 closed

[2022-11-05 08:26] Poor12 commented on #2459
I have tested Kyverno 1.8.0. It works well. I'll update the doc soon.

[2022-11-05 12:00] #2701 closed

[2022-11-06 09:47] hackerboy01 commented on #2459
Yes,  Kyverno 1.8.1 has been running in our production environment for a month.

[2022-11-07 07:07] #2459 closed

[2022-11-08 06:16] carlory opened #2757 "What's the version relationship of kubernetes between karmada control plane and member?"
**Please provide an in-depth description of the question you have**:

I have two member clusters, one is kubernetes v1.25 and the other is kubernetes v1.18. I want to propagate an ingress to these two clusters. Those two member clusters don't share a possible ingress version. I don't known how to choose the right kuberentes version for karmada control plane.

[code]

How does karmada control plane

[2022-11-08 07:59] RainbowMango commented on #2757
Good question. I think it'd be better to have a document to clarify this question.
/assign

[2022-11-08 17:11] helen-frank opened #2762 "Unification karmadactl dry-run usage"
**Task description**:
Unification karmadactl dry-run usage
**Solution**:
`pkg/karmadactl/register.go`
[code]
replace
[code]
**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started on his/her contributor journey.

After a contributor has successfully completed 1-2 good first issue's,
they should be ready to move on to `help wanted` items, sa

[2022-11-09 01:44] RainbowMango commented on #2762
Just replace the usage from `Run the command in dry-run mode, without making any server requests.` to `Don't apply any changes; just output what would be done.`? Why?

[2022-11-09 01:46] RainbowMango commented on #2762
Yeah, I get it. You want to replace `Don't apply any changes; just output what would be done.` with `Run the command in dry-run mode, without making any server requests.`.
Right, I agree.

[2022-11-09 02:21] yanggangtony commented on #2762
/assgin

[2022-11-09 05:53] #2762 closed

[2022-11-10 01:55] Fish-pro opened #2769 "After the faulty cluster recovers, the number of scheduled pods is greater than expected"
**Please provide an in-depth description of the question you have**:

After I set "--feature-gates=Failover=true" to the scheduler, I deliver the following choreographed applications
[code]

The scheduling results are as follows, which are found to be in line with expectations
<img width="990" alt="image" src="https://user-images.githubusercontent.com/47143494/200979639-2203ea83-57b7-4c5e-b232-811

[2022-11-11 10:02] XiShanYongYe-Chang opened #2779 "[E2E] `IngressStatus collection testing` run failed randomly"
#### Which jobs are flaking:

https://github.com/karmada-io/karmada/actions/runs/3442118199/jobs/5744439084

#### Which test(s) are flaking:

[code]

#### Reason for failure:

After analysis, it is found that the problem is caused by the #2734 merged.

In the k8s cluster earlier than v1.22, the ingress `extensions/v1beta1` version has not been decrypted. So `detector` will setup both of them:

![i

[2022-11-11 10:02] XiShanYongYe-Chang commented on #2779
/kind bug
/assign

[2022-11-11 15:49] mrequena commented on #2110
Sorry I commented the #2277 and I guess my comment should be here...

Hi, what is the status of this issue?

I have the same issue "kube controller manager restart all the time" with karmada version v1.3.0 and v1.3.1.
My deployments (simple nginx webserver deployments) take a lot of time to be deployed/undeployed (around 5-6 min).

To try to debug/fix the issue, I add manually "--secure-port=10257

[2022-11-13 02:41] #2695 closed

[2022-11-13 15:12] helen-frank opened #2792 "isPodReady add check job pod status"
**Task description**:
Add check of job pod to `isPodReady`
see https://github.com/kubernetes-sigs/application/blob/8ce143e2c9b5480034ec3c60f8ba1c89b6afebe5/controllers/status.go#L205
**Solution**:
`pkg/karmadactl/cmdinit/kubernetes/check.go`
add `|| v.Reason == "PodCompleted"`
[code]
**Who can join or take the task**:

The good first issue is intended for `first-time contributors` to get started o

[2022-11-13 15:13] helen-frank commented on #2792
@RainbowMango Do you approve of this ?

[2022-11-14 07:59] RainbowMango commented on #2792
I removed `good first issue` because the description is not clear enough for the first-time controller to get started.

[2022-11-14 08:00] RainbowMango commented on #2792
Why do you think we need to add `v.Reason == "PodCompleted"`? I guess this reason more like to represent the status of a `Job`,
but we don't have `Job`, right?

[2022-11-14 08:03] helen-frank commented on #2792
Yes, maybe this will be needed in the future, temporarily closed?

[2022-11-14 08:03] RainbowMango commented on #2792
+1

[2022-11-14 08:04] helen-frank commented on #2792
/close

[2022-11-14 08:04] #2792 closed

[2022-11-14 12:56] XiShanYongYe-Chang opened #2804 "[E2E] `StatefulSetStatus collection testing` run failed randomly"
#### Which jobs are flaking:

https://github.com/karmada-io/karmada/actions/runs/3459716584/jobs/5775815989
https://github.com/karmada-io/karmada/actions/runs/3459287784/jobs/5774639785
https://github.com/karmada-io/karmada/actions/runs/3461076772/jobs/5778451508

#### Which test(s) are flaking:

[code]

#### Reason for failure:

Failed to wait for target status during `statefulset` collection. Fi

[2022-11-15 01:14] XiShanYongYe-Chang commented on #2804
/assign

[2022-11-15 01:39] ArenaSu opened #2806 "deployment pods replicas were recovered after KEDA autoscale took effect"
**What happened**:
deployment pods replicas were recovered after KEDA autoscale took effect

**What you expected to happen**:
deployment pods scales successfully after KEDA autoscale took effect

**How to reproduce it (as minimally and precisely as possible)**:

1. create deployement in karmada
2. create pp in karmada and deploy deployment to sub cluster
3. create KEDA scaledobject to scale deploy

[2022-11-15 03:00] RainbowMango commented on #2806
Hi @ArenaSu
Since karmada doesn't know the `KEDA` autoscaler manages the replicas, so Karmada would treat the replica change as unexpected. That's the reason why Karmada overwrites it.

For now, you can deploy a webhook as per https://karmada.io/docs/next/userguide/globalview/customizing-resource-interpreter/#customized-interpreter, to customize the behavior, or wait for a new solution tracked at

[2022-11-16 03:14] ArenaSu commented on #2806
When i set byte array to caBundle message display below:

[code]

When i set string to caBundle message display below:

[code]

[2022-11-16 07:34] XiShanYongYe-Chang commented on #2804
/reopen

[2022-11-16 07:36] stingshen opened #2810 "Can not remove obj finalizers on member cluster"
**What happened**:

Finalizers can not be removed from obj on member cluster. I tried edit the obj on management cluster directly and apply a cluster override policy.

**What you expected to happen**:

Management cluster can remove finalizers from obj on member cluster.

**How to reproduce it (as minimally and precisely as possible)**:

1. Apply the following yaml:
[code]

2. edit the namespace, r

[2022-11-16 07:41] XiShanYongYe-Chang commented on #2804
The previous analysis of the cause of the problem was wrong, the reason for failure is:

Test cases `Test clusterOverridePolicy with nil resourceSelectors`, `OverrideRules with nil resourceSelectors` and `OverridePolicy with nil resourceSelectors` run concurrently with other test cases, affecting the workload image in other test cases. As a result, the image cannot be pulled correctly. So we need

[2022-11-16 07:43] RainbowMango commented on #2804
cc @wuyingjun-lucky for the lesson learn :)

[2022-11-16 07:54] wuyingjun-lucky commented on #2804
The overridepolicy works.
Maybe we can change it to annotation rules in another way ?

[2022-11-16 08:00] XiShanYongYe-Chang commented on #2804
Which way?

[2022-11-16 08:03] RainbowMango commented on #2810
Yes, I think you've pointed out the root cause which is:
https://github.com/karmada-io/karmada/blob/a16710a94ec70345d16cdbb1f557e0ab19b1a68f/pkg/util/objectwatcher/objectwatcher.go#L129-L132

I see you set a finalizer in your example:
[code]
Can you share with us why you need to set a finalizer? I wonder to know the use case.

[2022-11-16 08:13] stingshen commented on #2810
In our scenario, we need to set finalizer on a namespace or other k8s resources to control deletion process. Currently, if a finalizer is set on a obj on creation, it is no way to delete it on member cluster...

[2022-11-16 08:13] wuyingjun-lucky commented on #2804
I have seen your pr . I mean can we avoid this failed case if the overrider is not  image-overrider but just label-overrider.
And I am be curious about why it does not happen before ? Overridepolicy with nil selector test case have existed before.

[code]

[2022-11-16 08:16] #2779 closed

[2022-11-16 08:23] RainbowMango commented on #2810
Yeah, I know the finalizer usually be used to control the deletion process, especially in some kind of grace full selection scenario.

Can you share more details about your scenario? Such as how you control the deletion process, and when will you remove the finalizer.

I'm asking, because, you know it's an issue that is a little bit hard to fix, I wonder to know the real use case to figure out if

[2022-11-16 08:23] XiShanYongYe-Chang commented on #2804
Thanks, I get your meaning, this can work. However, in test cases, for parallel running, the best case is that test cases do not affect each other because it is difficult to locate a problem. If the condition is not met, we can set it to serial execution.

The previous writing method is also problematic, but the probability of error is very small, occasional occurrence is also ignored by me :)

[2022-11-16 08:50] wuyingjun-lucky commented on #2804
And should we cherry-pick [2811](https://github.com/karmada-io/karmada/pull/2811) to release1.1-1.3?

[2022-11-16 08:55] XiShanYongYe-Chang commented on #2804
Yes, we should do it.

[2022-11-16 09:06] #2804 closed

[2022-11-16 09:18] stingshen commented on #2810
We have a controller to reconcile namespace. The reconciler adds a finalizer to the namespace, and do some garbage collection and remove the finalizer when the namespace is deleted.

[2022-11-16 09:29] RainbowMango commented on #2810
I guess your controller is running on the control plane which means it watches the namespaces in `karmada-apiserver`, please correct me if not the case.

Since you already pointed out the root cause, I believe you know the code details, any suggestions to solve this issue?

[2022-11-16 09:46] stingshen commented on #2810
You are right.

I have two suggestions:

1.Only retain finalizers on crd resources. This is the direct sollution, but may have risks that some crd is also controlled on karmada control plane, not member cluster side.
2. Do not propagate finalizers on member cluster side. The finalizer created by the controller on control plane shouldn't be used on member cluster side. The obj wouldn't be deleted o

[2022-11-16 13:33] quaminigin opened #2818 "资源在传播到被纳管的集群后，丢失status"
**What happened:**
在管理集群上创建 Kubeedge 的 Device 和 DeviceModel 资源，并创建对应的传播策略，将资源传播到某个被纳管集群。在被纳管集群查看资源的信息，发现没有status；而在管理集群查看资源的信息，是有status的。

**What you expected to happen:**
我希望资源在从管理集群传播到被纳管集群时，保持完整的信息，不丢失status

**How to reproduce it:**
**1. 根据以下yaml创建Device**
[code]
**2. 根据以下yaml创建DeviceModel**
[code]
**3. 根据以下yaml创建Device的传播策略**
[code]
**4. 根据以下yaml创建DeviceModel的传播策略**
[code]
**5. 最后在管理集群查询资源信息的

[2022-11-16 16:04] lonelyCZ commented on #2818
在下发work前，裁剪了workload中的一些字段

https://github.com/karmada-io/karmada/blob/06ca219b2b4c75a2f555407561b68db45288f77f/pkg/webhook/work/mutating.go#L38-L46

https://github.com/karmada-io/karmada/blob/06ca219b2b4c75a2f555407561b68db45288f77f/pkg/resourceinterpreter/defaultinterpreter/prune/prune.go#L49

`Device`这个对象为什么要在status中指定内容呢？一般情况下，这个status都是CR运行之后上报的状态，所以在下发的时候将这部分裁剪了。

[2022-11-17 01:43] RainbowMango commented on #2818
@quaminigin 你提交的`Device`原始yaml中包含 `status`吗？

默认status是不会向成员集群传播的，之所以成员集群中没有状态信息，是因为成员集群没有相应的控制器（controller）来生成状态信息。

[2022-11-17 03:18] quaminigin commented on #2818
对。原始yaml有status。这个是kubeedge的Device的yaml的官方例子，有status的定义

[2022-11-17 03:19] quaminigin commented on #2818
Kubeedge好像就是在status中定义了一些东西，这个是Device的yaml的官方例子，有status的定义

[2022-11-17 03:19] RainbowMango commented on #2810
I agree it's a workable solution, but it just fits in this case, i don't think we should make a difference between Kubernetes standard API and CRDs.

I prefer this approach as long as we are sure that `no real case that needs propagate finalizers to member clusters`.
I'd like to invite you to next [week's community meeting](https://github.com/karmada-io/karmada#meeting), we can talk about it and g

[2022-11-17 03:25] RainbowMango commented on #2818
[Device Model Sample](https://kubeedge.io/en/docs/developer/device_crd/#device-model-sample)里是没有status(一般也不会有status). 这个才是原始yaml.

[Device `Instance` Sample](https://kubeedge.io/en/docs/developer/device_crd/#device-instance-sample) 才有status, 这个展示的是完整的资源对象，不是原始的yaml.

[2022-11-17 03:29] sunt89 commented on #2818
@RainbowMango
https://github.com/kubeedge/kubeedge/blob/release-1.9/build/crds/devices/devices_v1alpha2_device.yaml

[2022-11-17 03:32] sunt89 commented on #2818
@RainbowMango https://github.com/kubeedge/kubeedge/blob/release-1.9/build/crds/devices/devices_v1alpha2_device.yaml
这个是device的crd文件。
里面有一段这个是需要自己定义的设备的孪生属性。

status:
  twins:
    - propertyName: temperature-status
      desired:
        metadata:
          type: string
        value: ''

[2022-11-17 03:41] stingshen commented on #2810
Done. I will attend the meeting.

[2022-11-17 04:14] RainbowMango commented on #2810
I see it. I am looking forward to meeting you there. Thanks.

[2022-11-17 04:17] RainbowMango commented on #2818
Thanks @sunt89 .

Seems there is an open issue tracked this at KubeEdge: https://github.com/kubeedge/kubeedge/issues/679.

[2022-11-17 04:43] quaminigin commented on #2818
seems they are two different kinds

[2022-11-17 04:44] #2818 closed

[2022-11-17 06:10] RainbowMango commented on #2818
@quaminigin Yes, you are right. But nothing we can do until KubeEdge fixes this.

[2022-11-17 15:42] michalno1 opened #2828 "Karmada quick start fails on macOS Monterey"
Quick start instructions from the README fail on macOS.

**Environment**:
- macOS Monterey (12.5.1) x86_64
- Colima 0.4.4
- kind version: v0.16.0
- Karmada version: master

Log of `./hack/local-up-karmada.sh` execution:

[code]

[2022-11-18 14:26] Garrybest opened #2834 "Scheduler: Assignment Algorithm Refactor TODO List"
Now the assginment algorithm and code structure is complex, I'm trying to refactor the algorithms.

- [x] refactor assign replicas strategy #2827
- [x] refactor static weight dividing strategy #2845
- [x] refactor dynamic weight dividing strategy #2946
- [x] refactor aggregated dividing strategy #2946
- [ ] refactor job completion dividing algorithm #2964

[2022-11-18 14:26] Garrybest commented on #2834
/assign

[2022-11-19 07:14] RainbowMango commented on #2689
Yes, I think it works.
In addition, you can use both `minGroups` and `maxGroups` to specify the number of member clusters, if you want to propagate to more than one cluster.

[2022-11-19 07:33] RainbowMango commented on #2828
From the log, I can't figure out the reason why the container of `karmada-agent` always be `Terminated`.

I don't have a Mac on my side.
@lfbear Can you try to reproduce it?

@XiShanYongYe-Chang I think we should consider adding a CI workflow for MacOS.

[2022-11-20 13:21] szediktam commented on #2689
Thanks. Another question, how to propagate resource to every mebmer of member clusters? Hah,@RainbowMango

[2022-11-20 13:26] szediktam commented on #2689
set minGroups to number of member clusters?

[2022-11-21 01:50] RainbowMango commented on #2689
The easiest way is to leave the `.spec.placement` unset so that the resource will be propagated to every member cluster.

[2022-11-21 02:04] bcarlock-emerge opened #2841 "Can't deploy karmada host on Azure Kubernetes Service with a LoadBalancer configuration"
I'm working on a proof of concept deployment in Azure Kubernetes Service of Karmada for cross region/multi-cloud HA. The Helm chart has some serious issues deploying functional services so I decided to try to install via script to determine the underlying issue. (The issue is at least in part due to the pre-deploy script failing to modify the CRDs, but I haven't gotten much past that)

**What happ

[2022-11-21 02:17] RainbowMango commented on #2841
Thanks @bcarlock-emerge.
cc @Poor12 Could you please confirm it?

[2022-11-21 02:33] #2665 closed

[2022-11-21 04:36] Poor12 commented on #2841
From the logs, "error: context 'karmada-apiserver does not exist", we can know that there is failure when `kubectl --context karmada-apiserver get svc`.

It's a little strange. I wonder if you have modified the scripts or there is a confusing kubeconfig.

[2022-11-21 11:50] szediktam commented on #2689
ok, thanks. @RainbowMango

[2022-11-21 13:29] lfbear commented on #2828
I'll try it later

[2022-11-21 14:22] bcarlock-emerge commented on #2841
No, I hadn't modified any scripts until the change I posted. This was run from a fresh clone of the master branch.
My kubeconfig isn't anything special, I have 9 clusters in it 3 of which are for this proof of concept.
Kubectl --context works as expected and works to set up the earlier parts of the deployment. Is there some way I can provide additional diagnostic information for you?

[2022-11-21 14:26] bcarlock-emerge commented on #2841
At what point should the the karmada-apiserver context be added to my config?

[2022-11-21 14:50] Tanyril commented on #2841
Here's the full dump of my session last night with a couple of values redacted.
[KarmadaInstallShell.txt](https://github.com/karmada-io/karmada/files/10057457/KarmadaInstallShell.txt)

[2022-11-21 14:52] bcarlock-emerge commented on #2841
Here's my full session from yesterday with a few values redacted. There are few points I marked with <----------------------------- for ease of navigation.
[KarmadaInstallShell.txt](https://github.com/karmada-io/karmada/files/10057474/KarmadaInstallShell.txt)

[2022-11-21 21:02] bcarlock-emerge opened #2842 "Helm charts v1.3.0 and v1.3.1 do not default to docker.io/karmada images, nor do they obey explicit assignment"
**What happened**: Installed Karmada Host via Helm. Images are being puled from swr.ap-southeast-1.myhuaweicloud.com/docker.io/karmada even after explicitly setting the repository and image version for all of the images defined in my values.yaml.
values.yaml:
[code]
[code]

**What you expected to happen**:  Image is installed from the documented default or at least obeys explicit assignment.

**Ho

[2022-11-22 01:54] Poor12 commented on #2842
Hi @bcarlock-emerge, we have changed repo from swr to dockerHub in https://github.com/karmada-io/karmada/pull/2795. So master before it will from swr. I have just tried the latest code and it works well. BTW, I wonder whether you install Karmada by local installation or remote installation. Remote installation is always from swr now since we have not updated index now.
You can refer to https://git

[2022-11-22 04:25] whitewindmills opened #2843 "Erroneously dispatching resources to an under-resourced cluster"
**What happened**:
When I create a resource and dispatch it to a member cluster, it may be scheduled to a cluster with insufficient resources.
![image](https://user-images.githubusercontent.com/89241565/203218557-89ae8556-e134-4284-aa04-f6118c21d610.png)
![image](https://user-images.githubusercontent.com/89241565/203219226-1449b5e9-47c2-40e0-b9a2-be9771a30a23.png)

karmada-scheduler-estimator's lo

[2022-11-22 06:20] XiShanYongYe-Chang commented on #2843
/cc @Garrybest can you help take a look?

[2022-11-22 06:41] ikaven1024 commented on #1555
A nice case: https://github.com/karmada-io/karmada/issues/2757

[2022-11-22 07:04] Poor12 commented on #2841
Hi @bcarlock-emerge, I think I have found the problem.
You can fix it with #2844 by the following command:
[code]

[2022-11-22 07:06] Garrybest commented on #2843
Is `Virtual Machine` a kind of workload? Actually, only workloads with resource and replicas will be tranmitted to `karmada-scheduler-estimator`.

According to your logs, I think scheduler considers `Virtual Machine` as a workload and ask `karmada-scheduler-estimator` how many replicas the cluster is able to produce. As a result, 57-80 has 10 replicas available whereas 57-85 could not produce one

[2022-11-22 07:19] kingkonghong commented on #2843
You're right. But I don't think vm workloads should be scheduled to the `member-57-85` cluster. Do you have any suggestions?

[2022-11-22 07:29] Garrybest commented on #2843
Actually, it does schedule to this cluster but replicas is 0 now. So you think if the available replicas is 0, we should not propagate this workload to member cluster, right?

[2022-11-22 07:37] kingkonghong commented on #2843
Yes, I think the prerequisite for workloads to be scheduled is that there are sufficient resources.

[2022-11-22 07:44] Garrybest commented on #2843
+1, there is no need to propagate a cluster with no replicas assigned, we could check the result in assign function and remove all zero-replica cluster.

cc @RainbowMango for any ideas.

[2022-11-22 07:45] RainbowMango commented on #2810
Hi @stingshen According to the consensus reached [at the meeting](https://docs.google.com/document/d/1y6YLVC-v7cmVAdbjedoyR5WL0-q45DBRXTvz5_I7bkA/edit?pli=1#heading=h.cvyjektzvey7), we can move forward with the second approach mentioned on https://github.com/karmada-io/karmada/issues/2810#issuecomment-1316701733.

My suggestion is we can remove the finalizers at the webhook:
https://github.com/kar

[2022-11-22 16:06] bcarlock-emerge commented on #2842
It would be a remote install actually from the documentation you linked.
For now I just switched to chart v1.2.0 which behaves as expected.

On Mon, Nov 21, 2022 at 7:54 PM Tiecheng Shen ***@***.***>
wrote:

[2022-11-22 16:12] bcarlock-emerge commented on #2841
I've moved on to helm/gitops deployment because I was able to work around the issue.

[2022-11-22 16:12] #2841 closed

[2022-11-24 01:55] sunt89 opened #2860 "How to create namespace in part of cluster members"
**Please provide an in-depth description of the question you have**:
I created the namespace on the Karmada control plane and it will be propagated to all the member clusters. But I would like to use a propagation policy to implement only partial propagation to the member cluster how can it be implemented

[2022-11-24 03:25] Michael754267513 commented on #1273
mark, Multi-cluster HPA  is not work

[2022-11-24 03:52] RainbowMango commented on #2860
/assign @Poor12
We need to document this scenario.

[2022-11-24 03:59] Poor12 commented on #2860
/cc @jwcesign

[2022-11-24 04:08] sunt89 commented on #2860
Thank you
- I disable the namespace controller, and It solved my problem now.

[2022-11-24 05:47] knitmesh commented on #2222
`[root@k8s-node-150 ~]# kubectl karmada init --etcd-image registry.aliyuncs.com/google_containers/etcd:3.5.1-0 --karmada-apiserver-image registry.aliyuncs.com/google_containers/kube-apiserver:v1.21.7 --karmada-kube-controller-manager-image registry.aliyuncs.com/google_containers/kube-controller-manager:v1.21.7 --crds ~/crds.tar.gz
I1124 00:33:10.782777   12700 deploy.go:145] kubeconfig file: /root

[2022-11-24 06:25] RainbowMango commented on #2806
/assign @XiShanYongYe-Chang
Please help to take a look

[2022-11-24 07:12] Rains6 opened #2862 "Add labels on the namespace created by karmada"
**What happened**:
When I add a cluster to karmada, karmada will create a namespace on my cluster. I hope there will be a label indicating that the namespace was created by karmada to avoid accidental deletion.

**What you expected to happen**:
There will be a label indicating that the namespace was created by karmada to avoid accidental deletion.

**How to reproduce it (as minimally and precisely

[2022-11-24 07:13] Rains6 opened #2863 "Workload not synced to control plane version"
**What happened**:
When I send the deployment to multiple clusters, everything is ok. After one of the clusters fails and then recovers, I modify the delivered deployment on the cluster, and it is not synchronized back to the version of the karmada control plane.

**What you expected to happen**:
I hope to directly modify the distributed deployment on the cluster, which can be automatically synchr

[2022-11-24 10:01] RainbowMango commented on #2860
/reopen
/assign @jwcesign

[2022-11-24 11:46] Poor12 commented on #2862
I wonder if you want a label for ns which stored the secret of the cluster or all the ns that karmada created, such as `karmada-es-member1`, `karmada-system`. This question is a little similar to https://github.com/karmada-io/karmada/issues/1350.

[2022-11-24 12:44] XiShanYongYe-Chang commented on #2806
Hi @ArenaSu, we need to add the certificate encrypted using Base64 to the `cabundle`, just like the `caBundle` filed in the `ValidatingWebhookConfiguration`.

[2022-11-25 03:03] ArenaSu commented on #2806
Get it, i'll try. Thanks.

[2022-11-25 03:04] ArenaSu commented on #2806
Get it, i'll try. Thanks.

[2022-11-25 04:24] RainbowMango commented on #2862
/remove-kind bug
/kind feature

[2022-11-25 04:28] RainbowMango commented on #2862
I've tested it on my side:
[code]

I wonder who and where added this label `kubernetes.io/metadata.name: karmada-cluster`?

[2022-11-25 04:33] RainbowMango commented on #2862
I get it. The label is added by Kubernetes.

That makes sense, but if we don't use it for searching, we can introduce an annotation. Can you propose one?

[2022-11-25 07:43] ArenaSu commented on #2806
@XiShanYongYe-Chang Hi, tell user to copy ca.crt from cmd below is easy to run it. And thanks again.

[code]

[2022-11-25 07:43] #2806 closed

[2022-11-25 07:58] XiShanYongYe-Chang commented on #2806
I'm glad to hear that. Would you mind making a contribution? We can add some instructions to the [document](https://github.com/karmada-io/website).

[2022-11-26 03:19] Rains6 commented on #2862
For example, karmada.io/metadata.name: karmada-cluster ?

[2022-11-26 10:12] #2810 closed

[2022-11-28 01:42] #2597 closed

[2022-11-28 09:17] RainbowMango commented on #2464
Thanks @chaunceyjiang

[2022-11-28 10:01] #2860 closed

[2022-11-29 03:59] RainbowMango commented on #401
Thanks again for giving us the feedback, In the past release, we have been writing the docs, and now it is available at karmada.io, still working on it though.

Still looking forward to hearing more concrete suggestions.
/close

[2022-11-29 03:59] #401 closed

[2022-11-30 02:06] RainbowMango commented on #2371
Thank you @chaunceyjiang @ikaven1024 @jameszhangyukun @XiShanYongYe-Chang for all your effort in this feature.
It's a big success for all of us!

Most of the planned features have been done and will be delivered with the coming v1.4.0.
For the rest of the improvement task, let's do it in the next release.
/close

[2022-11-30 02:19] RainbowMango commented on #2393
@Poor12 Please talk to @zirain about the scenarios,  It seems like the cluster addon.

[2022-11-30 03:22] ikaven1024 commented on #2372
This stage is completed. Further works are doing int next stage.
/close

[2022-11-30 03:22] #2372 closed

[2022-11-30 04:21] XiShanYongYe-Chang commented on #1397
Hi @chestarss We plan to close this issue, the relate reason can refer to https://github.com/karmada-io/karmada/pull/1728#issuecomment-1331625519

If you have a request for the current issue in the future, you can reopen it at any time or submit a new issue. Thanks anyway ~!
/close

[2022-11-30 04:21] #1397 closed

[2022-11-30 04:22] XiShanYongYe-Chang commented on #2486
We plan to close this task refer to https://github.com/karmada-io/karmada/pull/1728#issuecomment-1331625519
/close

[2022-11-30 04:22] #2486 closed

[2022-11-30 06:27] Zhuzhenghao commented on #2862
@RainbowMango Can I add  karmada.io/metadata.name: karmada-cluster  to namespace?

[2022-11-30 06:51] RainbowMango commented on #2862
Thanks for your contribution. I see the #2888.
But for now, I don't think the name(`karmada.io/metadata.name`) is the final decision yet.
I'll think about it after we cut the new release.

[2022-11-30 07:01] Zhuzhenghao commented on #2862
Okk.
After cutting the new release，you can notify me of the confirmed name,  I will change the name(karmada.io/metadata.name).

[2022-11-30 07:28] SZT0728 opened #2890 "Unidirectional network question"
If the member cluster's network can access the karmada-control plane,but the karmada-control plane's network can't access the member cluster, and i register the member cluster using Pull mode. Can i access the member cluster using ANP(apiserver-network-proxy)?

[2022-11-30 07:36] XiShanYongYe-Chang commented on #2890
Yes, it can be done

[2022-11-30 08:01] SZT0728 commented on #2890
which member'IP should register the karmada-control plane ?
my member cluster is the k8s in docker-desktop, and it's default apiserver is `https://kubernetes.docker.internal:6443`
so after i registerd and get cluster in karmada-control plane like below:
<img width="1036" alt="截屏2022-11-30 下午3 59 18" src="https://user-images.githubusercontent.com/15276000/204739892-9e4ea3c9-f8b3-4d36-96a5-c081df402

[2022-11-30 08:37] XiShanYongYe-Chang commented on #2890
Take a look with https://karmada.io/docs/next/userguide/clustermanager/working-with-anp/

[2022-11-30 08:39] SZT0728 commented on #2890
yes,i already look it,and deploy ANP proxy server and agent success

[2022-11-30 08:52] XiShanYongYe-Chang commented on #2890
The value of `--cluster-api-endpoint` may not be filled in correctly. Does your k8s API endpoint not have an IP address?

[2022-11-30 08:59] SZT0728 commented on #2890
yes, it doesn't have the Public IP address. the member cluster and the karmada-control plane in the different Network plane. The karmada-control plane can't access the member cluster directly. Just like my computer can access the baidu server, but the baidu server can't access my computer directly

[2022-11-30 09:20] XiShanYongYe-Chang commented on #2890
The anp server may not be able to resolve the domain name.

[2022-11-30 09:23] SZT0728 commented on #2890
yes,that's right.
so for the case member cluster and karmada-control plane in different Network plane, is really the karmada-control plane can access the member cluster directly?

[2022-11-30 09:48] XiShanYongYe-Chang commented on #2890
As I can see, the network is connected through the ANP. If the ANP is connected successfully, the member cluster can be accessed from the control plane.

[2022-11-30 10:28] Kostavro opened #2892 "the server could not find the requested resource (get clusters.cluster.karmada.io)"
**What happened**:
Failure to join cluster.
Error:
[code]

**What you expected to happen**:
The cluster to join as a member.

**How to reproduce it (as minimally and precisely as possible)**:
Have two clusters on AWS EKS, on separate VPCs, with private API endpoints.
Install Karmada on cluster1 via the Helm chart (also tried via `remote-up-karmada.sh`).
Export kube context of both clusters.
Try to

[2022-11-30 11:28] RainbowMango commented on #2892
Hi @Kostavro,

Do you mean you combined two cluster configs into one `kubeconfig` file?
If it is the case, you might need to specify `--karmada-context=` in addition to `--kubeconfig`. As well as the `--cluster-context=''`.

Can you share the whole command here?
As well as more outputs, thanks.

[2022-11-30 13:49] Kostavro commented on #2892
Hey @RainbowMango , thanks for the quick response. Here's some more info on what I run:

[code]
All pods look healthy.